<div *ngLet="customToken$ | async as customToken" class="custom-token">
  <div
    class="custom-token__element"
    [ngClass]="{ 'custom-token__element_disabled': !customToken.available }"
  >
    <app-tokens-list-element
      [token]="customToken"
      [tuiHint]="!customToken.available ? disabledTokenHint : null"
      tuiHintAppearance="error"
      tuiHintDirection="bottom-right"
    >
    </app-tokens-list-element>
  </div>

  <button
    *ngIf="customToken.available"
    tuiButton
    appearance="secondary"
    type="button"
    size="m"
    class="custom-token__button"
    (click)="onImportClick(customToken)"
    [disabled]="!customToken.available"
  >
    Import {{ customToken.symbol }}
  </button>
</div>

<ng-template #disabledTokenHint>
  <div>
    {{ 'modals.tokensListModal.unsupportedPairsHint' | translate }}
  </div>
</ng-template>
