@use 'src/scss/core' as *;

.bottom-form {
  display: flex;
  flex-direction: column;

  &__output {
    z-index: 9999;

    display: flex;
    grid-gap: 10px;
    justify-content: space-between;

    min-height: 65px;
    margin: 30px 0 15px;
  }

  app-receiver-address {
    height: 20px;
    margin-top: 10px;
  }

  &__button {
    margin-top: 16px;
  }
}

@include b($mobile-md) {
  .bottom-form {
    height: auto;
    padding: 0 20px;
  }
}
