<div class="bottom-form">
  <ng-container *ngLet="tradeError$ | async as tradeError">
    <div class="bottom-form__output">
      <app-select-asset-button-tokens formType="to"></app-select-asset-button-tokens>

      <app-to-amount-estimated
        [errorText]="tradeError?.translateKey || tradeError?.message"
      ></app-to-amount-estimated>
    </div>

    <app-receiver-address></app-receiver-address>

    <div class="bottom-form__button">
      <app-swap-button-container
        [needApprove]="false"
        [withApproveButton]="false"
        [status]="tradeStatus$ | async"
        [error]="tradeError"
        [isOnramper]="true"
        buttonText="Swap"
        (onUpdateRateClick)="onUpdateRate()"
        (handleDirectBuy)="handleDirectBuy()"
      ></app-swap-button-container>
    </div>
  </ng-container>
</div>
