@import '/src/scss/vars';

.bridge-results {
  &__header {
    margin-bottom: 30px;

    span {
      margin-right: 12px;

      color: #110931;

      font-weight: bold;
      font-size: 28px;
      line-height: 32px;
    }
  }

  &__spinner {
    cursor: pointer;

    &_rotating {
      transition: 1s;
      animation-name: rotate;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-delay: 0.1s;
      animation-iteration-count: infinite;
    }

    &_stop {
      animation-iteration-count: 1;
    }
  }

  &__no-swaps {
    color: rgba(black, 0.34);
    font-weight: normal;
    font-size: 24px;
    text-align: center;
  }

  &__init-animation {
    width: 50px;
    height: 50px;
    margin: 50px auto 0;
  }

  &__show-more-button {
    display: block;
    width: 99.5%;
    margin: 11px auto 0;
  }
}

.bridge-table {
  width: 100%;

  background-color: white;

  border-collapse: collapse;

  td,
  th {
    border: 3px solid #f4f4f4;
  }

  thead {
    color: #110931;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;

    th {
      padding: 14px 10px 14px 20px;

      .active-column {
        color: #4aa956;
        font-size: 15px;
        line-height: 15px;
      }

      span {
        display: inline-block;

        line-height: 28px;
      }

      img {
        float: right;

        cursor: pointer;
      }
    }
  }

  tbody {
    color: black;
    font-weight: normal;
    font-size: 15px;
  }

  &__row {
    height: 73px;
  }
}

.bridge-list {
  &__items {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    margin-top: 30px;
  }

  .accordion {
    position: relative;

    .data__status {
      margin-right: auto;
      padding-left: 10%;
    }

    .data__network {
      display: flex;
      align-items: center;

      img {
        margin-left: 0;
      }
    }

    .data__amount {
      display: flex;
      padding: 0;
    }

    .data__date {
      > div {
        margin: initial;
      }

      br {
        display: none;
      }

      span:first-child {
        margin-right: 12px;
      }
    }

    .data__deposit-button {
      left: 0;

      margin-top: 0;
    }

    &__header {
      border-radius: 5px;

      transition: border-radius 0.7s ease;

      &_active {
        border-radius: 5px 5px 0 0;
      }
    }

    .header {
      display: grid;
      grid-template-columns: 1fr 1.6fr 0.2fr;
      align-items: center;
      height: 56px;

      background: white;

      &__option {
        opacity: 1;

        transition: opacity 0.7s ease;

        &_inactive {
          opacity: 0;
        }
      }

      .option {
        display: grid;
        grid-template-columns: 0.4fr 1fr;
        align-items: center;

        .data__amount {
          margin-left: 25px;
        }

        .data__date {
          grid-column: span 2;
          padding-left: 11%;
        }
      }

      &__plus,
      &__minus {
        margin: 0 10px 0 auto;

        color: #4aa956;
        font-size: 29px;

        cursor: pointer;
      }
    }

    &__content {
      max-height: 342px;
      overflow: hidden;

      transition: max-height 0.7s ease;

      &_inactive {
        max-height: 0;
      }
    }

    .content {
      background: white;
      border-radius: 0 0 5px 5px;

      &__item {
        display: grid;
        grid-template-columns: 1fr 1.8fr;
        align-items: center;
        height: 56px;

        border-top: 1px solid #e8e8e8;

        &-name {
          padding-left: 29px;
        }
      }
    }
  }
}

.data {
  &__status {
    display: flex;
    align-items: center;
    padding-left: 20px;

    color: black;

    &::before {
      display: inline-block;
      min-width: 8px;
      height: 8px;
      margin-right: 10px;

      border-radius: 50%;

      content: '';
    }

    &_green {
      &::before {
        background: #2bcf78;
        box-shadow: 0 0 6px #65f7b0;
      }
    }

    &_red {
      &::before {
        background: #ee4256;
        box-shadow: 0 0 6px #ee4256;
      }
    }

    &_yellow {
      &::before {
        background: #f4bb2b;
        box-shadow: 0 0 6px #f4bb2b;
      }
    }

    &_waiting-for-deposit {
      color: #e6ae1f;
      font-weight: bold;
    }
  }

  &__deposit-button-container {
    width: 100%;
  }

  &__deposit-button {
    position: relative;
    left: 20px;

    display: block;

    margin-top: 7px;
  }

  &__network {
    img {
      max-width: 22px;
      max-height: 22px;
      margin: 0 16px 0 12px;

      vertical-align: middle;
    }
  }

  &__amount-inner {
    display: flex;
  }

  &__amount-number {
    margin-right: 10px;

    font-weight: bold;
  }

  &__amount {
    padding: 13px 20px;

    img {
      max-width: 15px;
      max-height: 15px;
      margin-right: 4px;
    }

    span {
      color: rgba(black, 0.5);
    }
  }

  &__date {
    color: black;

    div {
      width: fit-content;
      margin: 0 auto;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .bridge-results {
    &__show-more-button {
      display: block;
      width: 100%;
      margin: 20px auto 0;
    }
  }
}
