<div class="bridge-results">
  <div class="bridge-results__header">
    <span>{{ 'bridgePage.tableTitle' | translate }}</span>
    <img
      [ngClass]="{
        'bridge-results__spinner_rotating':
          updateProcess === 'progress' || updateProcess === 'stop',
        'bridge-results__spinner_stop': updateProcess === 'stop'
      }"
      (click)="updateTransactionsList()"
      class="bridge-results__spinner"
      src="assets/images/icons/refresh.svg"
      alt="Update"
    />
  </div>

  <ng-template [ngIf]="transactions">
    <div class="bridge-results__container" *ngIf="transactions.size">
      <!-- Desktop Table -->
      <table class="bridge-table" *ngIf="isDesktop">
        <thead>
          <tr>
            <th>
              <span>{{ 'tradesTable.columns.status' | translate }}</span>
              <img
                [src]="getArrowImg(SORT_FIELD.STATUS)"
                alt="Sort"
                (click)="sortTransactions(SORT_FIELD.STATUS)"
              />
            </th>
            <th>
              <span>{{ 'tradesTable.columns.from' | translate }}</span>
              <img
                [src]="getArrowImg(SORT_FIELD.FROM)"
                alt="Sort"
                (click)="sortTransactions(SORT_FIELD.FROM)"
              />
            </th>
            <th>
              <span>{{ 'tradesTable.columns.to' | translate }}</span>
              <img
                [src]="getArrowImg(SORT_FIELD.TO)"
                alt="Sort"
                (click)="sortTransactions(SORT_FIELD.TO)"
              />
            </th>
            <th>
              <span>{{ 'Send' | translate }}</span>
              <img
                [src]="getArrowImg(SORT_FIELD.SEND)"
                alt="Sort"
                (click)="sortTransactions(SORT_FIELD.SEND)"
              />
            </th>
            <th>
              <span>{{ 'Get' | translate }}</span>
              <img
                [src]="getArrowImg(SORT_FIELD.GET)"
                alt="Sort"
                (click)="sortTransactions(SORT_FIELD.GET)"
              />
            </th>
            <th>
              <span>{{ 'tradesTable.columns.expiresDate' | translate }}</span>
              <img
                [src]="getArrowImg(SORT_FIELD.DATE)"
                alt="Sort"
                (click)="sortTransactions(SORT_FIELD.DATE)"
              />
            </th>
          </tr>
        </thead>

        <tbody>
          <tr class="bridge-table__row" *ngFor="let tx of visibleTransactions">
            <td>
              <span
                class="data__status"
                [ngClass]="{
                  data__status_green: tx.statusCode === 2,
                  data__status_yellow: tx.statusCode === 1,
                  data__status_red: tx.statusCode === 0
                }"
              >
                {{ tx.status }}
              </span>

              <div
                class="data__receive-button-container"
                *ngIf="
                  tx.status === WAITING_FOR_RECEIVING_STATUS &&
                  tx.fromBlockchain === BLOCKCHAIN_NAME.POLYGON
                "
              >
                <app-receive-button
                  class="data__receive-button"
                  [animate]="tx.inProgress"
                  (onClick)="depositPolygonBridgeTransaction(tx)"
                >
                </app-receive-button>
              </div>
            </td>

            <td class="data__network">
              <img
                [src]="'assets/images/icons/coins/' + Blockchains[tx.fromBlockchain].img"
                alt=""
              />
              <span>{{ Blockchains[tx.fromBlockchain].label }}</span>
            </td>

            <td class="data__network">
              <img [src]="'assets/images/icons/coins/' + Blockchains[tx.toBlockchain].img" alt="" />
              <span>{{ Blockchains[tx.toBlockchain].label }}</span>
            </td>

            <td class="data__amount">
              <div class="data__amount-inner">
                <div class="data__amount-number">{{ tx.fromAmount }}</div>
                <img [src]="tx.tokenImage" alt="" />
                <span>{{ tx.fromSymbol }}</span>
              </div>
            </td>

            <td class="data__amount">
              <div class="data__amount-inner">
                <div class="data__amount-number">{{ tx.toAmount }}</div>
                <img [src]="tx.tokenImage" alt="" />
                <span>{{ tx.toSymbol }}</span>
              </div>
            </td>

            <td class="data__date">
              <div>{{ tx.updateTime.split(' ')[0] }} {{ tx.updateTime.split(' ')[1] }}</div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Mobile Accordion -->
      <div class="bridge-list" *ngIf="!isDesktop">
        <app-dropdown-select
          [options]="sortFields"
          [defaultOption]="selectedSortField"
          [isSortable]="true"
          [downDirection]="sortOptions.downDirection"
          [minOptionWidth]="89"
          (onSortBy)="sortTransactions($event)"
        ></app-dropdown-select>

        <div class="bridge-list__items">
          <div class="bridge-list__accordion accordion" *ngFor="let tx of visibleTransactions">
            <div
              class="accordion__header header"
              [ngClass]="{ accordion__header_active: tx.opened }"
              (click)="tx.opened = !tx.opened"
            >
              <span
                class="data__status"
                [ngClass]="{
                  data__status_green: tx.statusCode === 2,
                  data__status_yellow: tx.statusCode === 1,
                  data__status_red: tx.statusCode === 0,
                  'data__status_waiting-for-deposit':
                    tx.status === WAITING_FOR_RECEIVING_STATUS &&
                    tx.fromBlockchain === BLOCKCHAIN_NAME.POLYGON
                }"
              >
                {{ tx.status }}
              </span>

              <div class="header__option option" [ngClass]="{ header__option_inactive: tx.opened }">
                <span
                  class="option__name"
                  *ngIf="
                    selectedSortField !== SORT_FIELD.STATUS && selectedSortField !== SORT_FIELD.DATE
                  "
                >
                  {{ selectedSortField }}
                </span>

                <div class="data__network" *ngIf="selectedSortField === SORT_FIELD.FROM">
                  <img
                    [src]="'assets/images/icons/coins/' + Blockchains[tx.fromBlockchain].img"
                    alt=""
                  />
                  <span>{{ Blockchains[tx.fromBlockchain].label }}</span>
                </div>

                <div class="data__network" *ngIf="selectedSortField === SORT_FIELD.TO">
                  <img
                    [src]="'assets/images/icons/coins/' + Blockchains[tx.toBlockchain].img"
                    alt=""
                  />
                  <span>{{ Blockchains[tx.toBlockchain].label }}</span>
                </div>

                <div class="data__amount" *ngIf="selectedSortField === SORT_FIELD.SEND">
                  <div class="data__amount-inner">
                    <div class="data__amount-number">{{ tx.fromAmount }}</div>
                    <img [src]="tx.tokenImage" alt="" />
                    <span>{{ tx.fromSymbol }}</span>
                  </div>
                </div>

                <div class="data__amount" *ngIf="selectedSortField === SORT_FIELD.GET">
                  <div class="data__amount-inner">
                    <div class="data__amount-number">{{ tx.toAmount }}</div>
                    <img [src]="tx.tokenImage" alt="" />
                    <span>{{ tx.toSymbol }}</span>
                  </div>
                </div>

                <div class="data__date" *ngIf="selectedSortField === SORT_FIELD.DATE">
                  <div>
                    <span>{{ tx.updateTime.split(' ')[0] }}</span>
                    <span>{{ tx.updateTime.split(' ')[1] }}</span>
                  </div>
                </div>
              </div>

              <div class="header__plus" *ngIf="!tx.opened">+</div>

              <div class="header__minus" *ngIf="tx.opened">-</div>
            </div>

            <div
              class="accordion__content content"
              [ngClass]="{ accordion__content_inactive: !tx.opened }"
            >
              <div class="content__item">
                <div class="content__item-name">{{ 'tradesTable.columns.from' | translate }}</div>
                <div class="data__network">
                  <img
                    [src]="'assets/images/icons/coins/' + Blockchains[tx.fromBlockchain].img"
                    alt=""
                  />
                  <span>{{ Blockchains[tx.fromBlockchain].label }}</span>
                </div>
              </div>

              <div class="content__item">
                <div class="content__item-name">{{ 'tradesTable.columns.to' | translate }}</div>
                <div class="data__network">
                  <img
                    [src]="'assets/images/icons/coins/' + Blockchains[tx.toBlockchain].img"
                    alt=""
                  />
                  <span>{{ Blockchains[tx.toBlockchain].label }}</span>
                </div>
              </div>

              <div class="content__item">
                <div class="content__item-name">{{ 'Get' | translate }}</div>
                <div class="data__amount">
                  <div class="data__amount-inner">
                    <div class="data__amount-number">
                      {{ tx.fromAmount | bigNumberFormat }}
                    </div>
                    <img [src]="tx.tokenImage" alt="" />
                    <span>{{ tx.fromSymbol }}</span>
                  </div>
                </div>
              </div>

              <div class="content__item">
                <div class="content__item-name">{{ 'Send' | translate }}</div>
                <div class="data__amount">
                  <div class="data__amount-inner">
                    <div class="data__amount-number">{{ tx.toAmount | bigNumberFormat }}</div>
                    <img [src]="tx.tokenImage" alt="" />
                    <span>{{ tx.toSymbol }}</span>
                  </div>
                </div>
              </div>

              <div class="content__item">
                <div class="content__item-name">
                  {{ 'tradesTable.columns.expiresDate' | translate }}
                </div>
                <div class="data__date">
                  <div>
                    <span>{{ tx.updateTime.split(' ')[0] }}</span>
                    <span>{{ tx.updateTime.split(' ')[1] }}</span>
                  </div>
                </div>
              </div>

              <div
                class="content__item"
                *ngIf="
                  tx.status === WAITING_FOR_RECEIVING_STATUS &&
                  tx.fromBlockchain === BLOCKCHAIN_NAME.POLYGON
                "
              >
                <div class="content__item-name">Deposit</div>
                <app-receive-button
                  class="data__receive-button"
                  [animate]="tx.inProgress"
                  (onClick)="depositPolygonBridgeTransaction(tx)"
                >
                </app-receive-button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-white-button
        class="bridge-results__show-more-button"
        *ngIf="isShowMoreActive"
        text="Show more"
        (click)="addNextTransactionPage()"
      ></app-white-button>
    </div>

    <div *ngIf="!transactions.size" class="bridge-results__no-swaps">
      {{ 'tradesTable.noData' | translate }}
    </div>
  </ng-template>

  <app-spinner *ngIf="!transactions" class="bridge-results__init-animation"></app-spinner>
</div>

<app-bridge-in-progress-modal *ngIf="tradeInProgress"></app-bridge-in-progress-modal>

<app-bridge-success
  *ngIf="tradeSuccessId"
  [txId]="tradeSuccessId"
  (onCloseEvent)="tradeSuccessId = undefined"
></app-bridge-success>
