@use 'src/scss/core' as *;

.deposit-card {
  position: relative;

  height: 112px;
  padding: 25px;

  background: var(--rubic-base-23);
  border-radius: 16px;
  transform-style: preserve-3d;
  cursor: pointer;

  transition: transform 0.7s;

  &_active {
    background: $rubic-primary;
  } 
    
  &_closed {
    background: #ff007a;
  }

  &:hover {
    transform: rotateX(180deg);

    .status {
      display: none;
    }
  }

  &__front {
    position: absolute;

    backface-visibility: hidden;
  }

  &__back {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 25px;

    border-radius: 16px;
    transform: rotateX(180deg);
    backface-visibility: hidden;

    &_active {
      background: $rubic-primary;
    } 
    
    &_closed {
      background: #ff007a;
    }

    &-amounts {
      display: flex;
    }

    &-actions {
      display: flex;
    }
  }

  &__amount {
    color: var(--rubic-base-02);
    font-weight: 500;

    &:first-child {
      margin-right: 37px;
    }

    &-name {
      margin-bottom: 6px;

      font-size: 16px;
      line-height: 19px;
    }

    &-value {

      font-size: 22px;
      line-height: 26px;
    }
  }

  &__statuses {
    position: absolute;
    top: 9px;
    right: 9px;

    display: flex;
    align-items: center;

    .status {
      transition: display 0.3s ease-in-out;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  &__title {

    @include font(18px, 22px, 600, var(--rubic-base-02));
    position: relative;

    display: flex;
    align-items: center;
    margin-bottom: 14px;

    &-start {

      @include font(15px, 20px, 500, rgba(255, 255, 255, 0.85));
      margin-left: 10px;
      padding: 3px 6px;

      background: rgba(255, 255, 255, 0.15);
      border-radius: 5px;
    }

    img {
      width: 26px;
      height: 26px;

      border-radius: 100%;

      &:first-child {
        margin-right: 20px;

        border: 2px solid transparent;
      }

      &:nth-child(2) {
        position: absolute;
        left: 15px;

        border: 2px solid var(--rubic-base-23);
      }
    }
  }

  &__stats {
    display: flex;

    .stat {
      @include font(15px, 18px, 500, var(--rubic-base-25));

      &__data {
        color: var(--rubic-base-02);
      }

      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }

  app-rubic-button {
    @include font(16px, 19px, 500, #fff);

    background: #000;
    border-radius: 100px;

    &:first-child {
      margin-right: 12px;
    }
  }
}
