<tui-loader [showLoader]="loading" [overlay]="true">
  <div class="deposit-card" *ngLet="isMobile$ | async as isMobile">
    <div class="deposit-card__statuses">
      <app-status-badge
        class="status"
        type="info"
        [text]="deposit.start | functionCall: getStartTime:this"
      ></app-status-badge>
      <app-status-badge
        class="status"
        *ngIf="deposit.isWhitelisted"
        type="active"
        [text]="'Whitelist'"
      ></app-status-badge>
      <app-status-badge
        class="status"
        *ngIf="!deposit.isStaked"
        type="warning"
        [text]="'Processing'"
      ></app-status-badge>
      <!-- (deposit.start | date: 'dd LLLL') + 'at' + deposit.start | date: 'shortTime' -->
      <app-status-badge
        class="status"
        *ngIf="deposit.isStaked"
        type="active"
        [text]="'Active'"
      ></app-status-badge>
    </div>
    <div class="deposit-card__content">
      <div class="deposit-card__title">
        <img src="assets/images/icons/lp-providing/usdc.svg" alt="USDC" />
        <img src="assets/images/icons/lp-providing/rbc.svg" alt="RBC" />
        BRBC-USDC
      </div>
      <div class="deposit-card__stats">
        <div class="stat">
          <span class="stat__name">RBC: </span>
          <span class="stat__data">{{
            deposit.BRBCAmount | bigNumberFormat | withRound: 'fixedValue':{ decimals: 2 }
          }}</span>
        </div>
        <div class="stat">
          <span class="stat__name">USDC: </span>
          <span class="stat__data">{{
            deposit.USDCAmount | bigNumberFormat | withRound: 'fixedValue':{ decimals: 2 }
          }}</span>
        </div>
        <div class="stat">
          <span class="stat__name">ID: </span>
          <span class="stat__data">{{ deposit.tokenId }}</span>
        </div>
      </div>
    </div>
    <div class="deposit-card__actions">
      <app-rubic-button
        [disabled]="deposit.rewardsToCollect.isZero()"
        (onClick)="onCollectRewards.emit()"
        appearance="primary"
      >
        Collect rewards
        {{
          deposit.rewardsToCollect
            ? (deposit.rewardsToCollect | bigNumberFormat | withRound: 'fixedValue':{ decimals: 2 })
            : '--.--'
        }}
        $
      </app-rubic-button>
      <app-rubic-button
        *ngIf="deposit.isStaked; else withdraw"
        (onClick)="onRequestWithdraw.emit()"
        appearance="outline"
      >
        Request withdraw
      </app-rubic-button>
      <ng-template #withdraw>
        <app-rubic-button
          appearance="primary"
          [disabled]="!deposit.canWithdraw"
          (onClick)="onWithdraw.emit()"
        >
          Withdraw
        </app-rubic-button>
      </ng-template>
    </div>
  </div>
</tui-loader>
