@use 'src/scss/core'as *;

.statistics {
  position: relative;

  display: flex;
  justify-content: space-between;


  background: var(--rubic-base-22);
  border-radius: 15px;

  @include b($tablet) {
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 54px;
  }

  &__refresh {
    position: absolute;
    top: 22px;
    right: 8px;

    @include b($tablet) {
      display: none;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-top: 35px;
    padding-bottom: 47px;

    border: 2px solid transparent;

    @include b($tablet) {
      flex-direction: row;
      padding: 26px 22px;
    }

    &:nth-child(3) {
      @include b($tablet) {
        width: 100%;
        padding: 0 10px;
        
        border: 0;
      }
    }

    &:nth-child(2) {
      width: 33%;

      @include b($tablet) {
        width: 100%;
        margin-bottom: 32px;
        padding: 0 10px;
        
        border: 0;
      }
    }
    
    &:first-child {
      min-width: 260px;
      margin-right: 50px;
      padding-right: 33px;
      padding-left: 33px;
    
      border-color: $rubic-primary;
      border-radius: 15px;

      @include b($tablet) {
        width: 100%;
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        padding: 27px 22px;
      }
    }
    
    .statistics__param:first-child {
      margin-bottom: 32px;
    
      @include b($tablet) {
        margin-bottom: 0;
      }
    }
  }

  &__param {
    @include b($tablet) {
      width: 50%;
    }

    &-label {
      @include font(16px, 19px, 500, var(--rubic-base-24));
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      @include b($tablet) {
        margin-bottom: 4px;

        font-size: 14px;
        line-height: 17px;
      }

      &_btn {

        cursor: pointer;

        img {
          width: 15px;
          height: 9px;
          margin-left: 10px;
        }
      }
    }

    &-value {
      @include font(22px, 26px, 500, var(--rubic-base-02));
      transition: 0.4s opacity ease-in-out;

      @include b($tablet) {
        font-size: 20px;
        line-height: 24px;
      }

      &_loading {
        opacity: 0.4;
      }
    }

    &-hint {
      display: flex;
      align-items: center;
      margin-left: 8px;

      cursor: pointer;

      @include b($tablet) {
        margin-left: 3px;
      }
    }
  }

  &__end {
    @include font(16px, 19px, 500, var(--rubic-base-02));
    position: absolute;
    right: 0;
    bottom: 0;

    @include b($tablet) {
      left: 0;

      font-size: 14px;
      line-height: 22px;
    }

    span {
      color: var(--rubic-base-24);
    }
  }
}
