@import 'src/scss/vars';
@import 'src/scss/mixins';

.team-card {
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  height: 475px;
  margin: 0 auto;
  padding: 10px;

  background-color: #fafafa;
  cursor: pointer;

  transition: transform 0.1s linear;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }

  &__image {
    display: block;
    width: 300px;
    height: 305px;
    margin-bottom: 25px;
    object-fit: cover;
    object-position: 50% 2%;
  }

  &__description {
    padding: 0 10px;
  }

  &__name {
    margin-bottom: 3px;

    color: $rubic-primary;
    font-weight: bold;
    font-size: 22px;

    font-style: normal;
    line-height: 32px;
  }

  &__role {
    margin-bottom: 21px;

    font-weight: normal;
    font-size: 14px;

    font-style: normal;
    line-height: 32px;
  }

  &__links-container {
    display: flex;
    align-items: center;
  }

  &__link {
    width: 18px;
    height: 18px;
    margin-right: 17px;
  }
}

@include b($mobile-md) {
  .team-card {
    height: auto;

    &__image {
      width: 100%;
      height: auto;
      max-height: 305px;
    }
  }
}
