@use 'src/scss/core' as *;

:host {
  display: block;

  @include hide-unused-ui {
    z-index: 10;

    margin-left: 15px;
  }

  ::ng-deep .t-wrapper {
    .image {
      width: 18px !important;
      height: 18px !important;
    }
  }
}

app-icon-button ::ng-deep button {
  width: 40px !important;
  height: 40px !important;

  @include light-iframe {
    svg path {
      fill: var(--primary-color);
    }
  }

  .t-wrapper {
    background: var(--primary-background);
  }

  svg {
    width: 18px;
    height: 18px;
  }
}
