<ng-container
  *ngLet="{ activePage: activePage$ | async, activeChain: activeChain$ | async } as data"
>
  <div class="wrapper">
    <app-page-navigation
      [activePage]="data.activePage"
      [pages]="pages"
      (onSelect)="onPageSelect($event)"
    ></app-page-navigation>
    <div>
      <app-switch-network-page
        [supportedChains]="supportedChains"
        [activeChain]="data.activeChain"
        (onSwitchChain)="onSwitchNetwork($event)"
      ></app-switch-network-page>
      <app-hinkal-wallet-info
        *ngIf="data.activePage.type === 'walletInfo'"
      ></app-hinkal-wallet-info>
      <app-hinkal-hide-tokens-page
        *ngIf="data.activePage.type === 'hide'"
      ></app-hinkal-hide-tokens-page>
      <app-hinkal-reveal-tokens-page
        *ngIf="data.activePage.type === 'reveal'"
      ></app-hinkal-reveal-tokens-page>
      <app-hinkal-transfer-tokens-page
        *ngIf="data.activePage.type === 'transfer'"
      ></app-hinkal-transfer-tokens-page>
      <app-hinkal-swap-tokens-page
        *ngIf="data.activePage.type === 'swap'"
      ></app-hinkal-swap-tokens-page>
    </div>
  </div>
</ng-container>
