<section class="tokens-select">
  <header class="tokens-select__header" *noFrame>
    <h2>
      {{ headerText$ | async | translate }}
    </h2>
  </header>

  <div class="tokens-select__row" *noFrame>
    <app-tokens-search-bar></app-tokens-search-bar>

    <app-switch-list-type-button></app-switch-list-type-button>
  </div>

  <div class="tokens-select__content">
    <app-blockchains-aside [idPrefix]="idPrefix"></app-blockchains-aside>

    <ng-container *onlyFrame="'vertical'">
      <app-tokens-search-bar
        *ngIf="iframeTokenSearch"
        class="vertical-iframe-token-search"
      ></app-tokens-search-bar>
    </ng-container>

    <div class="token-list-container">
      <ng-container *onlyFrame="'horizontal'">
        <app-tokens-search-bar
          *ngIf="iframeTokenSearch"
          class="token-list-container__search"
          [expandableField]="true"
        ></app-tokens-search-bar>
      </ng-container>

      <div class="token-list-container__list">
        <ng-container>
          <!--<app-blockchains-list [formType]="formType"></app-blockchains-list>-->

          <app-tokens-list></app-tokens-list>
        </ng-container>
      </div>
    </div>
  </div>
</section>
