<div class="faq-container">
  <div class="app-content-block">
    <h2 class="title-section">FAQ</h2>

    <div class="questions-container">

      <div
        *ngFor="let question of questions"
        (click)="question.isActive = !question.isActive"
        [ngClass]="{'questions-container__question_active': question.isActive}"
        class="questions-container__question"
      >
        <div class="questions-container__question-head">
          <span class="questions-container__title">– {{ question.title }}</span>
          <div class="questions-container__arrow"></div>
        </div>

        <p *ngIf="question.isActive" class="questions-container__text">{{ question.text }}</p>
      </div>

    </div>
  </div>
</div>