.faq-container {
  height: 100%;
  padding: 130px 15px 0 15px;
}

.questions-container {
  padding-bottom: 100px;
  &:after,
  &:before {
    content: '';
    display: table;
    width: 100%;
  }
  &__question {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    margin: 15px 0;
    padding: 30px 20px 17px;
    border-left: 5px solid #4aa956;
    background: white;
    color: #000;
    cursor: pointer;
    &_active {
      border-left: 5px solid #4aa956;
      color: #000;
      .questions-container__arrow {
        transform: rotate(405deg);
      }
      .questions-container__text {
        margin: 12px 0;
        opacity: 1;
      }
    }
  }
  &__question-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 20px;
  }
  &__title {
    width: 86%;
  }
  &__text {
    overflow: hidden;
    height: 0;
    margin: 0;
    cursor: text;
    white-space: pre-line;
    line-height: 28px;
    opacity: 0;
    transition: all 0.5s ease;
  }
  &__arrow {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid #4aa956;
    border-width: 0 2px 2px 0;
    transform: rotate(315deg);
    transition: transform 0.5s ease;
  }
}

@media (max-width: 768px) {
  .questions-container {
    &__question {
      width: 85%;
    }
  }
}
