<ng-container *ngLet="currentUser$ | async as currentUser">
  <ng-container *ngLet="points$ | async as points">
    <div
      *ngLet="points.pending === 0 && points.confirmed === 0 as showButtons"
      class="points"
      [ngClass]="{
        points_disabled: showButtons && currentUser && points.requested_to_withdraw === 0
      }"
    >
      <div [ngClass]="{ points__container_disabled: showButtons }" class="points__container">
        <div class="points__pending">
          <span class="points__pending-info">{{ points.pending }} in Pending</span>
          <span
            class="points__pending-background"
            [inlineSVG]="'assets/images/swap-and-earn/pending.svg'"
          ></span>
        </div>
        <div class="points__confirmed">
          <span class="points__confirmed-info">
            <img
              class="points__confirmed-rbc-logo"
              src="/assets/images/rbc-white.png"
              alt="Confirmed RBC"
            />{{ points.confirmed + points?.requested_to_withdraw }} points
          </span>
          <span
            class="points__confirmed-background"
            [inlineSVG]="'assets/images/swap-and-earn/confirmed.svg'"
          ></span>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
