@use 'src/scss/core' as *;

:host {
  display: flex;
  justify-content: center;

  ::ng-deep app-login-button button {
    width: 100%;
  }
}

.points {
  display: flex;
  flex-direction: column;
  gap: var(--tui-padding-l);

  &__container {
    display: flex;
    align-items: center;
    height: 52px;
  }

  &__pending,
  &__confirmed {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;

    &-info {
      position: relative;
      z-index: 1;
    }

    &-background {
      position: absolute;
      top: 50%;
      z-index: 0;

      height: 52px;

      transform: translateY(-50%);
    }
  }

  &__pending {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 266px;
  }

  &__confirmed {
    width: 256px;

    margin-left: -10px;

    &-info {
      display: flex;
      gap: var(--tui-padding-xs);
      align-items: center;
      justify-content: center;
    }

    &-rbc-logo {
      width: 1.5rem;
    }

    &-about-icon {
      width: 1rem;
    }
  }

  &__button {
    width: 100%;
    height: 52px;

    transition: 0.2s ease-in-out;

    &:active {
      transform: scale(1);

      transition: all 0.1s ease-out;
    }

    &_disabled {
      cursor: not-allowed;

      &:hover {
        transform: none !important;
      }

      &:active {
        transform: none !important;
      }
    }
  }
}

@include b($mobile-md) {
  .points {
    width: 100%;

    &__container {
      flex-direction: column;
      gap: var(--tui-padding-m);
      height: auto;
    }

    &__pending,
    &__confirmed {
      justify-content: flex-start;

      width: 100%;
      height: 100%;

      padding: var(--tui-padding-m);

      border-radius: var(--tui-radius-m);

      &-background {
        display: none;
      }
    }

    &__pending {
      @include font(20px, 28px, 400, var(--tui-text-01), 0.6px);
      background: var(--primary-background);
    }

    &__confirmed {
      @include font(18px, 25px, 400, var(--tui-text-01), 0.54px);
      margin-left: 0;

      background: var(--io-background);

      &-info {
        gap: var(--tui-padding-s);
      }

      &-about-icon {
        width: 1.3rem;
      }
    }

    &__button {
      height: 49px;
    }
  }
}
