<ng-container *ngLet="currentUser$ | async as currentUser">
  <ng-container *ngLet="points$ | async as points">
    <div
      *ngLet="points.pending === 0 && points.confirmed === 0 as showButtons"
      class="points"
      [ngClass]="{
        points_disabled: showButtons && currentUser && points.requested_to_withdraw === 0
      }"
    >
      <div [ngClass]="{ points__container_disabled: showButtons }" class="points__container">
        <div class="points__pending">
          <span class="points__pending-info">{{ points.pending }} in Pending</span>
          <span
            class="points__pending-background"
            [inlineSVG]="'assets/images/swap-and-earn/pending.svg'"
          ></span>
        </div>
        <div class="points__confirmed">
          <span class="points__confirmed-info">
            <img
              class="points__confirmed-rbc-logo"
              src="/assets/images/rbc-white.png"
              alt="Confirmed RBC"
            />{{ points.confirmed }} RBC
            <img
              class="points__confirmed-about-icon"
              src="assets/images/icons/exclamation-grey.svg"
              alt="Hint"
              [tuiHint]="about"
              tuiHintAppearance="onDark"
            />
          </span>
          <span
            class="points__confirmed-background"
            [inlineSVG]="'assets/images/swap-and-earn/confirmed.svg'"
          ></span>
        </div>
      </div>
      <ng-container *ngIf="isLoggedIn$ | async; else loginButton">
        <ng-container *ngLet="points.confirmed >= 300 as allowWithdraw">
          <button
            tuiButton
            appearance="primary"
            [disabled]="!allowWithdraw"
            type="button"
            size="m"
            class="points__button"
            [ngClass]="{ points__button_disabled: showButtons || !allowWithdraw }"
            [tuiHint]="getButtonHint() | async"
            tuiHintAppearance="onDark"
            (click)="handleWithdraw(points)"
          >
            {{ getButtonText() | async }}
          </button>
        </ng-container>
      </ng-container>
      <ng-template #loginButton>
        <app-login-button></app-login-button>
      </ng-template>
      <ng-template #about>
        <span>Pending: {{ points.pending }}</span
        ><br />
        <span>Confirmed: {{ points.confirmed }}</span
        ><br />
        <span
          >Requested to Withdraw:
          {{ points.requested_to_withdraw > 0 ? points.requested_to_withdraw : 0 }}</span
        >
      </ng-template>
    </div>
  </ng-container>
</ng-container>
