<div class="bottom-amount" [ngClass]="{ 'bottom-amount_hidden-iframe-stub': hidden }">
  <ng-container *ngIf="!hidden">
    <div class="bottom-amount__blockchain-and-value">
      <app-iframe-blockchain-indicator
        *onlyFrame="'vertical'"
        [blockchain]="blockchain"
      ></app-iframe-blockchain-indicator>

      <div
        class="bottom-amount__tokens-container"
        [ngClass]="{
          'bottom-amount__tokens-container_loading': loading && tokenAmount,
          'bottom-amount__tokens-container_error': errorText,
          'bottom-amount__tokens-container_placeholder': !errorText && !tokenAmount
        }"
      >
        <div
          class="bottom-amount__output"
          [ngClass]="{
            'bottom-amount__output_error-text': errorText
          }"
        >
          <ng-container *ngIf="errorText && !loading">
            {{ 'errors.tradingIsNotAvailable' | translate }}
          </ng-container>
          <ng-container *ngIf="loading && !tokenAmount"
            ><span class="blink-animation">Loading</span></ng-container
          >
          <ng-container *ngIf="tokenAmount?.gt(0)">
            {{
              tokenAmount
                | bigNumberFormat
                | withRound: 'toClosestValue':{ decimals: tokenDecimals }
            }}
            <app-tokens-rate *noFrame></app-tokens-rate>
          </ng-container>
        </div>

        <div
          *ngIf="errorText"
          tuiHintMode="error"
          class="bottom-amount__hint bottom-amount__hint_error"
          [inlineSVG]="'/assets/images/icons/hint.svg'"
          [tuiHint]="errorText | translate"
        ></div>
      </div>
    </div>

    <app-usd-price-container
      *onlyFrame
      [usdPrice]="usdPrice"
      [loading]="loading"
    ></app-usd-price-container>
  </ng-container>
</div>
