ul {
  display: flex;
  gap: 20px;
}

li.tui-skeleton {
  overflow: hidden;

  border-radius: 10px;
}

.skeleton-item {
  width: 56px;
  height: 56px;
}

header {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 16px;
}
