<header>
  <div class="form-links">
    <a
      class="swap-button"
      [ngClass]="{
        active: !isFaucetsPage
      }"
      (click)="navigateToSwaps()"
    >
      Swap
    </a>
    <a class="faucets-button" [ngClass]="{ active: isFaucetsPage }" routerLink="/faucets">
      Faucets
    </a>
  </div>
</header>
<ul>
  <ng-container *ngIf="loading; else icon">
    <li *ngFor="let el of [1, 2, 3]" class="tui-skeleton">
      <div class="skeleton-item">1</div>
    </li>
  </ng-container>
  <ng-template #icon>
    <li *ngFor="let chain of shownBlockchains" [class.tui-skeleton]="loading">
      <button
        class="faucets__element"
        [ngClass]="{ active: selectedBlockchain === chain.name }"
        [id]="'Network_' + chain.name"
        tuiButton
        size="l"
        type="button"
        appearance="secondary"
        (click)="handleBlockhainSelection.emit(chain.name)"
      >
        <div class="icon-container">
          <img class="icon" [src]="chain.icon" [alt]="chain.label" />
          <span class="icon-label">{{ chain.label }}</span>
        </div>
      </button>
    </li>
  </ng-template>
</ul>
