<div
  [ngClass]="{
    'asset-types-aside__search-bar': !isMobile,
    'asset-types-aside__search-bar-mobile': isMobile
  }"
>
  <div *ngIf="isMobile" class="asset-types-aside__search-bar-mobile__search-bar-container">
    <app-search-bar [searchBarType]="'blockchains'"></app-search-bar>
    <app-filter-list-element
      [blockchainFilter]="'All'"
      [isSelected]="(selectedFilter$ | async) === 'All'"
      (click)="setBlockchainFilterAll()"
    ></app-filter-list-element>
  </div>
  <app-search-bar *ngIf="!isMobile" [searchBarType]="'blockchains'"></app-search-bar>
</div>
<aside class="asset-types-aside" [class.large-iframe-asset]="useLargeIframe">
  <tui-scrollbar class="asset-types-aside__scroll">
    <ul class="asset-types-aside__list" *ngLet="selectedAssetType$ | async as selectedAssetType">
      <app-assets-type-aside-element
        [blockchainItem]="allChainsSelectorItem"
        [selectedAssetType]="selectedAssetType"
        [isMobile]="isMobile"
      ></app-assets-type-aside-element>

      <ng-container *ngFor="let blockchainItem of blockchainsToShow$ | async">
        <app-assets-type-aside-element
          [blockchainItem]="blockchainItem"
          [selectedAssetType]="selectedAssetType"
          [isMobile]="isMobile"
        ></app-assets-type-aside-element>
      </ng-container>
    </ul>
  </tui-scrollbar>
</aside>
