<form class="cross-chain-form">
  <div class="cross-chain-form__swap-section swap-section">
    <!-- From -->
    <div class="swap-section__box swap-box">
      <div class="swap-box__title">From</div>

      <div class="swap-box__blockchain-section form-field">
        <app-blockchain-select
          [selectedBlockchain]="fromBlockchain"
          [blockchains]="blockchainsList"
          [disabled]="true"
        ></app-blockchain-select>
      </div>

      <app-wallet-address-form
        class="swap-box__wallet-address-section"
        [walletAddress]="walletAddress"
        [walletAddressLink]="fromBlockchain.addressBaseUrl + walletAddress"
        [isWithEditing]="false"
      ></app-wallet-address-form>

      <div class="swap-box__title swap-box__title_second">You have</div>

      <div class="swap-box__token-section form-field">
        <app-tokens-input
          [inputDisabled]="true"
          [selectedAmount]="'0.1'"
          [tokensList]="fromTokensList"
        ></app-tokens-input>
      </div>

      <div class="swap-box__scanner-link-container">
        <a href="https://etherscan.io" target="_blank">
          Check on Etherscan
          <img src="assets/images/icons/link.svg" alt="link" />
        </a>
      </div>

      <div class="swap-box__description">
        You will get Binance Smart Chain tokens to the provided address
      </div>
    </div>

    <!-- To -->
    <div class="swap-section__box swap-box">
      <div class="swap-box__title">To</div>

      <div class="swap-box__blockchain-section form-field">
        <app-blockchain-select
          [selectedBlockchain]="toBlockchain"
          [blockchains]="blockchainsList"
          [disabled]="true"
        ></app-blockchain-select>
      </div>

      <app-wallet-address-form
        class="swap-box__wallet-address-section"
        [walletAddress]="walletAddress"
        [walletAddressLink]="toBlockchain.addressBaseUrl + walletAddress"
        [isWithEditing]="false"
      ></app-wallet-address-form>

      <div class="swap-box__title swap-box__title_second">You get</div>

      <div class="swap-box__token-section token-chosen">
        <span class="token-chosen__amount">0.1</span>

        <div class="token-chosen__card token-card">
          <img class="token-card__icon" src="/assets/images/icons/coins/bnb.svg" alt="Token" />
          <span class="token-card__name">BNB</span>
        </div>
      </div>

      <div class="swap-box__scanner-link-container">
        <a href="https://bscscan.com" target="_blank">
          Check on BSCscan
          <img src="assets/images/icons/link.svg" alt="link" />
        </a>
      </div>

      <div class="swap-box__description">
        The amount received at the current exchange rate is indicated
      </div>

      <a class="swap-box__blockchain-link" href="https://www.binance.org/" target="_blank">
        What is Binance Smart Chain?
      </a>
    </div>
  </div>

  <div class="cross-chain-form__confirm-section confirm-section">
    <app-primary-button type="button" class="cross-chain-form__confirm-button" label="Get BNB">
    </app-primary-button>
  </div>
</form>
