@import 'src/scss/mixins';
@import 'src/scss/vars';

.cross-chain-form {
  display: flex;

  padding: 20px;

  background-color: white;
  border-bottom: 2px solid white;

  &,
  * {
    box-sizing: border-box;
  }

  &__swap-section {
    flex: 4;
  }

  &__confirm-section {
    position: relative;
    left: 10px;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    app-primary-button {
      position: relative;
      top: -8px;

      display: block;
      width: 85%;
    }
  }
}

.swap-section {
  display: flex;
  grid-gap: 14px;
  align-items: center;
}

.swap-box {
  flex: 1;
  align-self: stretch;
  padding: 20px;

  border-radius: 5px;
  box-shadow: inset 0 0 5px 1px rgb(0 0 0 / 10%);

  &__title {
    margin-bottom: 8px;

    color: $dark;
    font-size: 13px;
    text-transform: uppercase;

    opacity: 0.85;
  }

  &__blockchain {
    margin-bottom: 10px;
  }

  &__address {
    display: block;
    margin-bottom: 26px;

    color: rgba(black, 0.5) !important;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none !important;

    &:hover {
      color: rgba(#2856fb, 0.7) !important;
    }
  }

  &__scanner-link-container {
    margin-top: 10px;

    font-size: 14px;
    text-align: right;

    img {
      height: 14px;
      margin-left: 3px;
    }
  }

  &__description {
    margin: 11px 0 7px;

    font-size: 14px;
    line-height: 14px;

    opacity: 0.4;
  }

  &__blockchain-link {
    font-size: 14px;

    cursor: pointer;
  }
}

.blockchain {
  height: 52px;
  padding: 0 14px;

  background: $grey-background;

  &__card-container {
    display: table-cell;

    height: 52px;

    vertical-align: middle;
  }
}

.blockchain-card {
  display: flex;
  align-items: center;

  &__icon {
    height: 23px;
    margin-right: 12px;

    vertical-align: sub;
  }

  &__name {
    color: $dark;
    font-size: 18px;
  }
}

.token {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 52px;
  padding-left: 14px;

  background-color: #f4f4f4;
  border-color: white;
  border-style: solid;
  border-width: 1px 0;

  &__amount {
    font-weight: 400;
    font-size: 18px;
    line-height: 52px;

    opacity: 0.6;
  }
}

.token-card {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 10px 11px;

  background-color: white;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 0 4px 4px 0;

  opacity: 0.8;

  &__icon {
    max-width: 28px;
    margin-right: 10px;
  }

  &__name {
    color: rgb(67, 71, 108);
    font-weight: 400;

    font-size: 16px;
    line-height: 40px;
  }
}

@include b($desktop) {
  .token {
    &__amount {
      font-size: 16px;
    }
  }
}

@include b(1150) {
  .cross-chain-form {
    flex-direction: column;

    &__confirm-section {
      left: 0;

      width: 47.5%;
      margin-top: 17px;
      margin-left: auto;

      app-primary-button {
        top: 0;

        width: 50%;
        margin-left: auto;
      }
    }
  }
}

@include b(970) {
  .cross-chain-form {
    align-items: center;
    padding: 20px 7px;

    &__last-section {
      flex-direction: column;
    }

    &__confirm-section {
      width: 100%;
      max-width: 409px;
      margin-left: unset;

      app-primary-button {
        width: 100%;
      }
    }
  }

  .swap-section {
    flex-direction: column;
    width: 100%;
    max-width: 419px;
  }

  .swap-box {
    align-self: initial;

    padding: 20px 13px;

    &__address {
      margin-bottom: 10px;
    }

    &__scanner-link-box {
      margin-top: 7px;
    }

    &__description {
      margin-top: 7px;
    }
  }
}

@include b($mobile-md) {
  .swap-box {
    &__address {
      font-size: 14px;
    }
  }

  .token {
    &__amount {
      font-size: 14px;
    }
  }
}

@include b($mobile-sm) {
  .swap-box {
    &__address {
      font-size: 13px;
    }
  }

  .token {
    padding-left: 11px;

    &__amount {
      font-size: 12px;
    }
  }
}
