<div class="progress">
  <tui-loader [overlay]="true" [showLoader]="progressLoading$ | async">
    <ng-container *ngLet="totalStaked$ | async as totalStaked">
      <div class="progress__total">
        <div class="progress__title">Total Staked</div>
        <progress
          tuiProgressBar
          class="progress__progress-bar"
          [max]="poolSize"
          [value]="totalStaked || 100000"
        ></progress>
        <div class="progress__caption">
          {{ totalStaked | bigNumberFormat: 0:true }} of {{ poolSize | bigNumberFormat }} USDC
        </div>
      </div>
    </ng-container>
    <ng-container *ngLet="usersTotalStaked$ | async as usersTotalStaked">
      <div class="progress__user">
        <div class="progress__title">You total staked</div>
        <progress
          tuiProgressBar
          class="progress__progress-bar"
          [max]="maxEnterAmount"
          [value]="usersTotalStaked || 3500"
        ></progress>
        <div class="progress__caption">
          <ng-container *ngIf="(needLogin$ | async) === false; else connectWallet">
            {{ usersTotalStaked | bigNumberFormat: 0:true }} of
            {{ maxEnterAmount | bigNumberFormat }} USDC
          </ng-container>
        </div>
      </div>
    </ng-container>
  </tui-loader>
</div>

<ng-template #connectWallet> Connect wallet to receive info </ng-template>
