<div class="info-line">
  <div class="info-line__title title">
    <span class="title__text">Minimum received</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="question"
      [tuiHint]="
        'Output is estimated. You will receive at least value TOKEN or the transaction will revert.'
      "
    />
  </div>
  <div class="info-line__value">0.0003718 PBNB</div>
</div>

<div class="info-line">
  <div class="info-line__title title">
    <span class="title__text">Price impact</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="question"
      [tuiHint]="
        'Correlation between an incoming order and the change in the price of the asset involved caused by the trade'
      "
    />
  </div>
  <div class="info-line__value">-4.5%</div>
</div>

<div class="info-line">
  <div class="info-line__title title">
    <span class="title__text">Slippage</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="question"
      [tuiHint]="
        'Your transaction will be canceled if the price changes unfavorably by more than the entered percentage. (A lower percentage decreases the chances of your transaction being front-run)'
      "
    />
  </div>
  <div class="info-line__value">2%</div>
</div>

<div class="info-line">
  <div class="info-line__title title"><span class="title__text">Rate</span></div>
  <div class="info-line__value">1 PBNB = 321.083 MATIC</div>
</div>

<hr class="delimiter" />

<div class="info-line">
  <div class="info-line__title title"><span class="title__text">Route</span></div>
  <div class="info-line__value route">
    WMATIC
    <img class="route__arrow" src="assets/images/swaps/swaps-info/arrow-icon.svg" alt="" /> USDC
  </div>
</div>
