@use 'src/scss/core' as *;

.token-card {
  display: flex;
  align-items: center;

  height: 42px;

  color: var(--primary-text);

  @include iframe {
    height: unset;
  }

  @include iframe-horizontal {
    height: 100%;
  }

  &__name-amount-container {
    display: flex;
    align-items: center;

    width: 100%;

    @include b($mobile-sm-middle) {
      @include iframe {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &__name-container {
    max-width: 150px;
    margin-right: auto;

    @include b($mobile-md) {
      max-width: 125px;
    }

    @include b($mobile-sm) {
      max-width: 93px;
    }

    @include iframe-horizontal {
      width: 60px;
      margin-right: 0;
    }

    span,
    small {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }

    span {
      font-size: 16px;
      line-height: 20px;

      @include iframe {
        font-size: 14px;
        line-height: 16px;
      }
    }

    small {
      display: block;

      font-size: 13px;
      line-height: 18px;

      @include iframe {
        display: block !important;

        font-size: 12px;
        line-height: 14px;
      }
    }

    &-address-hint {
      display: block;

      span {
        font-size: 13px !important;
      }
    }

    &-copy-icon {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      margin-left: 10px;

      cursor: pointer;

      @include iframe-vertical {
        margin-bottom: 0;
      }
    }

    &-copy-icon {
      ::ng-deep svg {
        width: 13px;
        height: 17px;

        path {
          fill: var(--primary-text);
        }
      }
    }

    &-copied-container {
      display: flex;
      gap: 5px;
      align-items: center;
      margin-top: -2px;
    }

    &-copied-icon {
      display: flex;
      margin-bottom: 1px;
      margin-left: 10px;

      ::ng-deep svg {
        width: 13px;
        height: 17px;
        margin-bottom: 0 !important;

        path {
          fill: var(--primary-text);
        }
      }
    }

    &-copied-text {
      margin-bottom: 0 !important;

      @include b($mobile-sm) {
        display: none !important;
      }

      @include iframe-horizontal {
        display: none !important;
      }
    }

    &-symbol {
      display: flex;
      align-items: center;
      width: fit-content;

      font-size: 15px;

      white-space: nowrap;

      @include iframe {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &__favorite-container,
  &__security-container {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-left: 20px;

    @include iframe-horizontal {
      margin-left: -35px;
    }
  }

  ::ng-deep &__favorite {
    display: flex;
    align-items: center;

    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;

      path {
        transition: 0.2s ease-in-out;

        stroke: var(--secondary-text);
      }
    }

    &_active svg path {
      fill: $rubic-warning;
      stroke: none;
    }

    &:hover:not(&_active) svg path {
      stroke: var(--primary-color);
    }
  }

  &__security-container {
    &-security-hint {
      display: block;
      max-width: 200px;

      font-size: 13px !important;

      &-powered-by {
        font-size: 10px !important;
      }
    }
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 38px;
    height: 38px;
    margin-right: 20px;

    @include iframe-horizontal {
      min-width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    @include iframe-vertical {
      min-width: 24px;
      height: 24px;
    }

    img {
      max-width: 38px;
      max-height: 38px;

      border-radius: 25%;

      @include iframe-horizontal {
        max-width: 30px;
        max-height: 30px;
      }

      @include iframe-vertical {
        max-width: 24px;
        max-height: 24px;
      }
    }
  }

  &__amount-container {
    width: 70px;
    height: 24px;
  }

  &__amount {
    @include b($mobile-sm-middle) {
      font-size: 14px;
    }
  }
}
