@import '../../../../../scss/mixins';
@import '../../../../../scss/vars';

.about-page {
  font-weight: normal;
  font-family: $ubuntu-font;

  background-color: white;

  @include b(1100) {
    background-image: none;
  }

  .first-block {
    padding-top: 200px;

    @include b(850) {
      padding-top: 100px;
    }

    .container {
      display: grid;
      grid-gap: 50px;
      grid-template-columns: minmax(300px, 450px) minmax(300px, 1fr);
      align-items: center;
      justify-content: center;
      max-width: 1100px;

      @include b(850) {
        grid-gap: 25px;
        grid-template-columns: 1fr;
      }

      img {
        width: 100%;
        max-width: 415px;
      }

      h3 {
        padding-right: 100px;

        @include b(1100) {
          padding-right: 0;
        }
      }
    }
  }

  .benefit {
    margin-top: 100px;

    .container {
      max-width: 1100px;
    }

    &-blocks {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));

      @include b(700) {
        grid-template-columns: 1fr;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        min-height: 155px;
        padding: 40px 60px 25px 25px;

        background-color: #fafafa;

        @include b(850) {
          padding: 20px;
        }

        @include b(700) {
          min-height: 0;
        }
      }
    }
  }

  .features {
    margin-top: 100px;

    .container {
      max-width: 1100px;
    }

    &-blocks {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
      margin-top: 20px;

      @include b(700) {
        grid-template-columns: 1fr;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: 50px;
        padding: 25px 35px;

        background-color: #fafafa;

        @include b(850) {
          padding: 20px;
        }

        @include b(700) {
          min-height: 0;
        }
      }
    }
  }

  .rubic-contract {
    margin-top: 100px;

    .container {
      max-width: 1100px;
    }

    &-image {
      width: 100%;
      margin-top: 20px;

      @include b(500) {
        min-height: 400px;
        padding-bottom: 0;
      }
    }
  }

  .rubic-roadmap {
    margin-top: 100px;
    padding-bottom: 100px;

    @include b(1100) {
      padding-bottom: 0;
    }

    .container {
      max-width: 1100px;
    }

    &-block {
      position: relative;

      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      font-family: $main-font;

      @include b(1100) {
        flex-direction: column;
      }

      &::after {

        position: absolute;
        top: 0;
        left: 50%;

        width: 2px;
        height: 100%;

        background-color: #4aa956;

        content: '';
      }

      &-item {
        position: relative;

        width: 40%;
        height: 326px;
        padding: 25px 20px;

        background-color: #fafafa;
        border-radius: 5px;
        margin-left: calc(50% + 59px);
        margin-bottom: 20px;

        &.left {
          margin-left: 0;

          &::after {
            left: calc(100% + 26px);
          }

          &::before {
            left: calc(100% + 50px);
          }
        }

        &::after {
          position: absolute;
          bottom: -55px;

          height: 50px;

          border: 1px dashed #4aa956;

          content: '';
          top: 0;
          left: -30px;

          transform: rotate(90deg);
        }

        &::before {
          position: absolute;
          bottom: -75px;

          width: 15px;
          height: 15px;

          background-color: #4aa956;

          content: '';

          top: 18px;
          left: -65px;
        }
      }
    }
  }
}
