<div class="about-page">
  <section class="first-block cl-green">
    <div class="container">
      <img src="assets/images/about/cube-img.svg" alt="cube" />
      <h3 class="h3-block-title-s1">
        {{
          'Rubic is a multichain DeFi ecosystem, which features cross-chain, P2P, instant swaps and limit orders across multiple blockchains, ' +
            'aiming to deliver a complete ONE-STOP decentralized platform.' | translate
        }}
      </h3>
    </div>
  </section>

  <section class="benefit">
    <div class="container">
      <div class="benefit-blocks">
        <div class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">{{ 'P2P trade' | translate }} </span>
          <p class="p-text-benefits">
            {{
              'Create your trade, choose your own terms, make it public or private, all done in a decentralized manner.'
                | translate
            }}
          </p>
        </div>
        <div class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">{{ 'Instant Trade' | translate }} </span>
          <p class="p-text-benefits">
            {{
              'Execute instant trades using our external DEXes, while getting the best rates.'
                | translate
            }}
          </p>
        </div>
        <div class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">{{ 'Multichain support' | translate }}</span>
          <p class="p-text-benefits">
            {{ 'Live: Ethereum, Binance Smart Chain & Polygon (more to come)' | translate }}
          </p>
        </div>

        <div class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">{{ 'Pools' | translate }}</span>
          <p class="p-text-benefits">
            {{ 'Create pools for DEXs by having 1 token (upcoming)' | translate }}
          </p>
        </div>
        <div class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">{{ 'Farming' | translate }}</span>
          <p class="p-text-benefits">
            {{
              'If you provide liquidity for trades, you will be rewarded by RBC tokens when the trade is executed (upcoming)'
                | translate
            }}
          </p>
        </div>
        <div class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">{{ 'Limit Order' | translate }}</span>
          <p class="p-text-benefits">
            {{
              'Set the desired rate and the deal will be executed when one of the DEXs meets your requirements.'
                | translate
            }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <span class="span-title-section">{{ 'Rubic DEX features' | translate }}</span>
      <div class="features-blocks">
        <div class="features-blocks-item">
          <span class="icon icon__checked">{{ 'Multichain: ETH, BSC, Polygon' | translate }}</span>
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked">{{ 'Ability to make crowdsales ' | translate }}</span>
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked">{{
            '% of platform revenue can be regulated' | translate
          }}</span>
        </div>

        <div class="features-blocks-item">
          <span class="icon icon__checked">{{ 'Instant Trades' | translate }} </span>
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked">{{ 'Public/Private deals' | translate }}</span>
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked">{{ 'Brokers support' | translate }}</span>
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked">{{ 'No volume limits' | translate }}</span>
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked">{{ 'No need to list token' | translate }}</span>
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked">{{
            'Stops scams and rugpulls from happening' | translate
          }}</span>
        </div>
      </div>
    </div>
  </section>

  <section class="rubic-contract">
    <div class="container">
      <span class="span-title-section">{{ 'Rubic contract' | translate }}</span>
      <img
        [src]="
          isMobile
            ? 'assets/images/about/mobile-instruction.svg'
            : 'assets/images/about/desktop-instruction.svg'
        "
        class="rubic-contract-image"
        alt=""
      />
    </div>
  </section>

  <section class="rubic-roadmap">
    <div class="container">
      <span class="span-title-section">{{ 'Roadmap' | translate }}</span>
      <div class="rubic-roadmap-block">
        <div class="rubic-roadmap-block-item">
          <span class="span-roadmap-title">{{ 'Q1 2021' | translate }}</span>
          <ul class="ul-roadmap-text">
            <li>{{ 'Blockchains & DEXes integrations' | translate }}</li>

            <li>{{ 'Binance Smart Chain instant trades' | translate }}</li>

            <li>{{ 'Paraswap integration' | translate }}</li>

            <li>{{ 'Cross chain solutions for ETH and BSC' | translate }}</li>

            <li>{{ 'Mobile support' | translate }}</li>
          </ul>
        </div>
        <div class="rubic-roadmap-block-item">
          <span class="span-roadmap-title">{{ 'Q2 2021' | translate }}</span>
          <ul class="ul-roadmap-text">
            <li>{{ 'Layer 2 Solutions integration' | translate }}</li>

            <li>{{ 'Anonymizer for DEX on L1' | translate }}</li>
          </ul>
        </div>
        <div class="rubic-roadmap-block-item">
          <span class="span-roadmap-title">{{ 'Q3 2021' | translate }}</span>
          <ul class="ul-roadmap-text">
            <li>{{ 'Polkadot integration' | translate }}</li>
          </ul>
        </div>
        <div class="rubic-roadmap-block-item">
          <span class="span-roadmap-title">{{ 'Q4 2021' | translate }}</span>
          <ul class="ul-roadmap-text">
            <li>{{ 'Own AMM DEX on L2' | translate }}</li>

            <li>{{ 'Anonymizer for Own Dex on L2' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>

<div class="scroll-top-btn" id="scroll-btn"></div>
