<div class="about-page">
  <section class="first-block cl-green">
    <div class="container">
      <img src="assets/images/about/cube-img.svg" alt="cube" />
      <h3 class="h3-block-title-s1">
        {{ 'aboutPage.description' | translate }}
      </h3>
    </div>
  </section>

  <section class="benefit">
    <div class="container">
      <div class="benefit-blocks">
        <div *ngFor="let benefit of benefits" class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">{{ benefit.title | translate }} </span>
          <p class="p-text-benefits">{{ benefit.description | translate }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <span class="span-title-section">{{ 'aboutPage.features.title' | translate }}</span>
      <div class="features-blocks">
        <div *ngFor="let feature of features" class="features-blocks-item">
          <span class="icon icon__checked">{{ feature | translate }}</span>
        </div>
      </div>
    </div>
  </section>

  <section class="rubic-contract">
    <div class="container">
      <span class="span-title-section">{{ 'aboutPage.contract.title' | translate }}</span>
      <img
        [src]="
          $isMobile
            ? 'assets/images/about/mobile-instruction.svg'
            : 'assets/images/about/desktop-instruction.svg'
        "
        class="rubic-contract-image"
        alt=""
      />
    </div>
  </section>

  <section class="rubic-roadmap">
    <div class="container">
      <span class="span-title-section">{{ 'aboutPage.roadmap.title' | translate }}</span>
      <div class="rubic-roadmap-block">
        <div
          class="rubic-roadmap-block-item"
          *ngFor="let item of roadmap; let i = index"
          [class.left]="i % 2 !== 0"
        >
          <div class="span-roadmap-quarter">{{ item.quarter | translate }}</div>
          <div class="span-roadmap-month" *ngIf="item.month">{{ item.month | translate }}</div>
          <ul class="ul-roadmap-text">
            <li *ngFor="let feature of item.data">{{ feature | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>

<div class="scroll-top-btn" id="scroll-btn"></div>
