@import 'src/styles';

:host {
  display: block;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  cursor: pointer;

  ::ng-deep &__switch {
    width: 50px;
    height: 30px;
  }
}

::ng-deep tui-toggle {
  &[data-tui-host-size='l'] {
    width: 50px;
    height: 30px;
  }
}

@include b($tablet) {
  .theme-toggler {
    width: 22px;
    height: 22px;

    &__switch[data-tui-host-size='l'] {
      position: absolute;
      top: 50%;
      right: 15px;

      overflow: initial;

      transform: translateY(-50%);
    }
  }
}
