@import 'src/scss/vars';

$backgrond-black: rgb(14, 17, 14);

.theme-toggler {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  border: 1px solid var(--rubic-base-01);
  border-radius: 100%;

  cursor: pointer;

  &:hover {
    background-color: var(--rubic-base-10);
    box-shadow: $rubic-shadow-button-hover-dim;
  }

  &:focus {
    border-color: var(--main-green);
  }
}

html.dark {
  --main-form-background: rgba(0, 0, 0, 0.6);
  --main-background: rgba(50, 50, 50, 0.6);

  --form-header-color-1: rgba(94, 94, 94, 0.7);
  --form-header-color-2: rgba(69, 69, 69, 0.7);

  --form-dim-text-color: rgba(255, 255, 255, 0.7);

  --rubic-secondary: rgba(106, 111, 107, 0.8);

  --form-bright-text-color: rgba(255, 255, 255, 0.9);
  --form-bright-reversed-text-color: rgb(0, 0, 0);

  --rubic-base-01: rgb(0, 0, 0);
  --rubic-base-02: rgb(255, 255, 255);
  --rubic-base-10: rgba(0, 0, 0, 0.35);
  --rubic-base-11: rgb(0, 0, 0, 1);
  --rubic-base-12: rgba(255, 255, 255, 0.8);
  --rubic-base-13: rgba(0, 0, 0, 0.35);

  --tui-base-01: rgba(0, 0, 0, 0.8);
  --tui-base-02: init;
  --tui-primary: rgba(0, 0, 0, 0.8);
  --tui-secondary: rgba(255, 255, 255, 0.5);
  --tui-text-01: var(--form-bright-text-color);
  --tui-text-02: var(--form-dim-text-color);
  --tui-text-03: var(--form-dim-text-color);

  --selection-color: rgb(0, 0, 0, 0.5);

  background-color: $backgrond-black;

  body {
    background: transparent;

    .sort-by-dropdown {
      --tui-base-02: var(--main-form-background);
    }

    .settings__button-auto:not(.settings__button-auto_active) {
      border-color: var(--rubic-base-02);
    }

    .blockchain-aside__blockchains-list button tui-wrapper {
      --rubic-secondary: rgba(0, 0, 0, 0.8);
    }

    #onramper-widget {
      filter: invert(1) hue-rotate(180deg) opacity(0.8) contrast(0.95);
    }

    .rubic-header .rubic-header__nav,
    .user-profile {
      --rubic-base-01: rgba(0, 0, 0, 0.35);
    }

    .tui-skeleton {
      &::after {
        background-color: rgba(130, 130, 130, 0.15);
      }
    }

    app-rubic-button {
      tui-wrapper {
        --tui-primary: rgba(0, 0, 0, 0.35);
        --tui-primary-text: var(--form-bright-text-color);
      }
    }

    .swaps-form__delimiter .switcher img {
      filter: brightness(1.5);
    }

    .swaps-header .swaps-header__icon {
      filter: invert(1) opacity(0.7) hue-rotate(180deg);
    }

    tui-dropdown-box {
      --tui-base-01: rgba(0, 0, 0, 0.5);

      backdrop-filter: blur(5px);
    }

    &::after {
      position: absolute;
      top: -50px;
      left: calc(50% - 400px);
      z-index: -99;

      display: block;
      width: 800px;
      height: 800px;

      background-image: radial-gradient(var(--primary-color) 0%, $backgrond-black 70%, $backgrond-black 100%);

      filter: blur(50px);

      content: '';
    }
  }
}
