@use 'src/scss/core' as *;

.container {
  width: 204px;
  margin: 0;
  padding: 8px 16px;

  background: var(--form-background);

  @include b($mobile-md) {
    width: 100%;
  }

  &__option {
    display: flex;
    align-items: center;

    height: 36px;

    font-size: 14px;
    line-height: 120%;

    cursor: pointer;

    @include b($mobile-md) {
      padding: 2rem 1rem;

      font-size: 1rem;
    }

    &_highlighted {
      color: var(--primary-color);
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--transparent-line);
    }
  }
}
