<div class="info-line" *ngIf="estimateGasInEth?.isFinite()">
  <div class="info-line__title title">
    <span class="title__text">Estimated gas fee</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="question"
      [tuiHint]="'Estimated gas fee in source network'"
    />
  </div>
  <div class="info-line__value" *ngIf="estimateGasInEth">
    {{ estimateGasInEth | bigNumberFormat | withRound: 'toClosestValue' }}
    {{ nativeCoinSymbol }} ≈ ${{
      estimateGasInUsd | bigNumberFormat | withRound: 'toClosestValue':{ minRound: 2, maxRound: 3 }
    }}
  </div>
</div>

<div class="info-line" *ngIf="feeInfo?.cryptoFee">
  <div class="info-line__title title">
    <span class="title__text">Network fee</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="question"
      tuiHint="A fee to proceed swap in target network"
    />
  </div>

  <div class="info-line__value" *ngIf="feeInfo?.cryptoFee.amount">
    {{ feeInfo.cryptoFee.amount | bigNumberFormat | withRound: 'toClosestValue' }}&nbsp;
    {{ feeInfo.cryptoFee.tokenSymbol }}
  </div>
</div>

<div class="info-line" *ngIf="feeInfo?.fixedFee || feeInfo?.platformFee">
  <div class="info-line__title title">
    <span class="title__text">Protocol fee</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="Protocol fee"
      tuiHint="Rubic protocol's commission fee."
    />
  </div>

  <div class="info-line__value">
    <ng-container *ngIf="feeInfo.platformFee.percent !== 0">
      {{ feeInfo.platformFee.percent }}%
      <ng-container *ngIf="feeInfo.fixedFee.amount">
        {{
          feeInfo.fixedFee.amount
            | bigNumberFormat
            | withRound: 'toClosestValue':{ decimals: nativeCoinDecimals }
        }}&nbsp;
        {{ feeInfo.fixedFee.tokenSymbol }}
      </ng-container>
    </ng-container>
    <ng-container *ngIf="feeInfo.fixedFee.amount; else zero">
      {{
        feeInfo.fixedFee.amount
          | bigNumberFormat
          | withRound: 'toClosestValue':{ decimals: nativeCoinDecimals }
      }}&nbsp;
      {{ feeInfo.fixedFee.tokenSymbol }}
    </ng-container>
    <ng-template #zero> 0% </ng-template>
  </div>
</div>

<ng-container *ngIf="!isBridgers || priceImpact">
  <hr class="delimiter" />
</ng-container>

<ng-container *ngIf="!twoWaySwap; else oneWaySwap">
  <app-price-impact-info-line
    title="Price impact in source network"
    [hint]="
      'Correlation between an incoming order and the change in the price of the asset involved caused by the trade. Cross-chain consists of two transactions and each has its\' own price impact.'
    "
    [priceImpact]="priceImpactFrom"
  ></app-price-impact-info-line>

  <app-price-impact-info-line
    title="Price impact in target network"
    [hint]="
      'Correlation between an incoming order and the change in the price of the asset involved caused by the trade. Cross-chain consists of two transactions and each has its\' own price impact.'
    "
    [priceImpact]="priceImpactTo"
  ></app-price-impact-info-line>
</ng-container>

<ng-template #oneWaySwap>
  <app-price-impact-info-line
    title="Price impact"
    [hint]="
      'Correlation between an incoming order and the change in the price of the asset involved caused by the trade.'
    "
    [priceImpact]="priceImpact"
  ></app-price-impact-info-line>
</ng-template>

<ng-container *ngIf="!isBridgers">
  <div
    class="info-line"
    *ngLet="
      (minimumReceived
        | bigNumberFormat
        | withRound: 'toClosestValue':{ decimals: toToken.decimals }) +
      ' ' +
      toToken.symbol as minimumReceivedFormatted
    "
  >
    <div class="info-line__title title">
      <span class="title__text">Current slippage</span>
      <img
        src="assets/images/swaps/swaps-info/question-icon.svg"
        alt="question"
        [tuiHint]="
          'Output is estimated. You will receive at least ' +
          minimumReceivedFormatted +
          ' or the transaction will revert.'
        "
      />
    </div>
    <div class="info-line__value">{{ slippage }}%</div>
  </div>
</ng-container>
