<div class="dialog-block">
  <div class="dialog-block__content">
    <form class="login-form" (submit)="sendChangePassForm()"
      [ngClass]="{'ng-submitted': formIsSubmitted}"
      [formGroup]="changePassForm" name="regForm" novalidate>


      <div class="form-field">
        <div class="form-field_label" translate="AUTH_POPUP.FIELDS.PASSWORD"></div>
        <div class="form-field_input">
          <input type="password"
                 minlength="8"
                 formControlName="new_password1"
                 [ngClass]="{
                    'ng-invalid-server': ServerErrors.new_password1,
                    'ng-invalid-minlength': changePassForm.controls.new_password1.errors?.minlength,
                    'ng-invalid-required': changePassForm.controls.new_password1.errors?.required,
                    'ng-invalid': changePassForm.controls.new_password1.errors || ServerErrors.new_password1
                 }"
                 autocomplete="new-password"
                 name="password"
                 required
                 class="min-text">
          <span class="field-error form-field_error-pattern"
                translate="FIELDS_ERRORS.INCORRECT_PASSWORD"></span>
          <span class="field-error form-field_error-minlength"
                translate="FIELDS_ERRORS.MIN_LENGTH_PASSWORD"></span>
          <span class="field-error form-field_error-required"
                translate="FIELDS_ERRORS.REQUIRED"></span>
          <span class="field-error form-field_error-server">
                {{ServerErrors.new_password1?.join(' ')}}
          </span>
        </div>
      </div>

      <div class="form-field">
        <div class="form-field_label" translate="AUTH_POPUP.FIELDS.CONFIRM_PASSWORD"></div>
        <div class="form-field_input">
          <input type="password"
                 autocomplete="new-password"
                 formControlName="new_password2"
                 [ngClass]="{
                    'ng-invalid-server': ServerErrors.new_password2,
                    'ng-invalid-required': changePassForm.controls.new_password2.errors?.required,
                    'ng-invalid': changePassForm.controls.new_password2.errors || ServerErrors.new_password2,
                    'ng-invalid-pattern': changePassForm.controls.new_password2.errors?.mustMatch
                 }"
                 required
                 class="min-text">
          <span class="field-error form-field_error-required"
                *ngIf="changePassForm.controls.new_password1.valid"
                translate="FIELDS_ERRORS.REQUIRED"></span>
          <span class="field-error form-field_error-pattern"
                *ngIf="changePassForm.controls.new_password1.valid"
                translate="FIELDS_ERRORS.NO_MATCH_PASSWORD"></span>
          <span class="field-error form-field_error-server">
                {{ServerErrors.new_password2?.join(' ')}}
          </span>
          <span class="field-error" style="display: block"
                *ngIf="ServerErrors.non_field_errors">
                {{ServerErrors.non_field_errors?.join(' ')}}
          </span>
        </div>
      </div>

      <div class="form-field"><br/>
        <button type="submit" class="btn btn-yellow width-100" [disabled]="formIsProgress">
          <span class="lds-ellipsis" *ngIf="formIsProgress">
            <span class="lds-ellipsis-container">
              <span></span><span></span><span></span><span></span>
            </span>
          </span>
          <img class="arrow" src="./assets/images/buttons/arrow_b.svg">
          <span>Change password</span>
        </button>
      </div>
    </form>
  </div>
</div>

