<div [ngSwitch]="routeStatus$ | async">
  <div class="alternative-routes-list" *ngSwitchCase="'complete'">
    <span>
      Most likely there will be no routes available. You can use networks below for intermediate
      swap.
    </span>
    <app-alternative-route-element
      *ngFor="let route of alternativeRoutes"
      [route]="route"
      (selectedRoute)="handleAlternativeRouteSelection($event)"
    >
    </app-alternative-route-element>
  </div>

  <div class="empty-list" *ngSwitchCase="'noroutes'">
    <div class="empty-list__content">
      <app-no-result
        label="No routes available"
        description="Please try another token combination."
      ></app-no-result>
    </div>
  </div>
</div>
