.alternative-routes-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  span {
    font-size: 14px;
    line-height: 15px;
  }
}

.empty-list {
  &__content {
    margin-right: 10px;
    padding: var(--tui-padding-l);
  
    background: var(--primary-background);
    border-radius: var(--tui-radius-m);
  }
}
