<ng-container>
  <div class="claim" *ngIf="isModal || (isMobile$ | async) === false; else mobileClaim">
    <tui-scrollbar>
      <app-claim-round-row-container
        *ngFor="let round of rounds$ | async; trackBy: trackByRoundNumber"
        [isModal]="isModal"
        [inputRound]="round"
        (handleClaim)="handleClaim($event)"
      ></app-claim-round-row-container>
    </tui-scrollbar>
  </div>
</ng-container>

<ng-template #mobileClaim>
  <app-claim-round-row-container
    *ngFor="let round of (rounds$ | async).slice(0, 1); trackBy: trackByRoundNumber"
    [isModal]="isModal"
    [inputRound]="round"
    (handleClaim)="handleClaim($event)"
  ></app-claim-round-row-container>
</ng-template>
