@use 'src/scss/core' as *;

:host {
  display: flex;
  justify-content: center;

  @include b(900) {
    ::ng-deep {
      tui-scrollbar .t-content {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }

  ::ng-deep {
    tui-scrollbar {
      height: 360px;

      .t-content {
        display: flex;
        flex-direction: column;
        gap: var(--tui-padding-xs);
      }
    }
  }
}

.claim {
  display: flex;
  flex-direction: column;
  gap: var(--tui-padding-l);
  width: 100%;

  @include b(900) {
    width: 100%;
    max-height: 450px;
    padding: 0;

    background: transparent;
    border: none;
    border-radius: 0;
  }
}
