@use 'src/scss/core' as *;

:host {
  display: flex;
  justify-content: center;

  ::ng-deep {
    tui-scrollbar {
      height: 360px;

      .t-content {
        display: flex;
        flex-direction: column;
        gap: var(--tui-padding-xs);
      }
    }
  }
}

.claim {
  display: flex;
  flex-direction: column;
  gap: var(--tui-padding-l);
  width: 100%;
}

@include b(900) {
  :host ::ng-deep tui-scrollbar .t-content {
    margin-top: 0;
    margin-right: 0;
  }

  .claim {
    max-height: 100%;
  }
}

@include b($mobile-md) {
  :host ::ng-deep tui-scrollbar {
    height: auto;

    .t-content {
      gap: var(--tui-padding-m);
      padding: 0 var(--tui-padding-m);
    }

    tui-loader fieldset.t-content {
      gap: 0 !important;
      padding: 0 !important;
    }
  }
}
