@import 'src/scss/mixins';

iframe {
  display: block;

  width: 100%;
  max-width: 420px;
  height: 600px;
  margin: 0 auto;

  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(58, 95, 69, 0.1), inset 4px 4px 20px rgba(255, 255, 255, 0.5);
}

@include b(450) {
  iframe {
    height: 637px;
  }
}
