<div
  class="provider-info"
  [ngClass]="{ vertical: creationConfig?.direction === 'vertical' }"
  *ngIf="
    gasInfo?.amountInUsd?.gt(0) || displayAmount || (averageTimeMins && time95PercentSwapsMins)
  "
>
  <div
    *ngIf="gasInfo?.amountInUsd?.gt(0)"
    class="provider-info__element"
    [tuiHint]="gasTooltip"
    [tuiHintAppearance]="hintAppearance"
    [tuiHintDirection]="hintDirection"
    [tuiHintHideDelay]="hideHint ? 0 : 200"
  >
    <img src="assets/images/icons/gas.svg" alt="Gas Price" />
    <div *ngIf="gasInfo.amountInUsd.lt(0.01)">< 0.01 $</div>
    <div *ngIf="gasInfo.amountInUsd.gt(0.01)">
      {{ gasInfo.amountInUsd | bigNumberFormat | shortenAmount : 6 : 2 }}
      $
    </div>
  </div>

  <div
    *ngIf="displayAmount"
    class="provider-info__element"
    [tuiHint]="creationConfig.withVerboseFeeHint ? verboseFeeHint : shortFeeHint"
    [tuiHintAppearance]="hintAppearance"
    [tuiHintDirection]="hintDirection"
    [tuiHintHideDelay]="hideHint ? 0 : 200"
  >
    <img [src]="creationConfig.feeIcon" alt="Fee" />
    {{ displayAmount }}
  </div>

  <div *ngIf="gasTokenAssets" class="provider-info__element gas-tokens">
    <div class="provider-info__selected-asset">
      <img [src]="creationConfig.gasIcon" alt="Fee" />
      {{ displayAmount }}
    </div>
    <div
      *ngFor="let gasToken of gasTokenAssets; let i = index"
      class="provider-info__asset"
      (click)="selectGasToken(gasToken.token, i)"
    >
      <div class="provider-info__token-container">
        <div
          class="provider-info__second-image-container"
          [style]="{ background: gasToken.asset.secondColor }"
        >
          <img [src]="gasToken.asset.secondImage" [alt]="gasToken.asset.secondImage" />
        </div>
        <img
          class="provider-info__main-image"
          [src]="gasToken.asset.mainImage"
          [alt]="gasToken.asset.mainLabel"
          (error)="onImageError($event)"
        />
      </div>
      <div class="provider-info__amount-container">
        <div class="provider-info__token-amount" [ngClass]="{ selected: selectedTokenIndex === i }">
          {{ gasToken.value.tokenAmount | bigNumberFormat | shortenAmount : 8 : 6 }}&nbsp;{{
            gasToken.asset.mainLabel
          }}
        </div>
        <div *ngIf="gasToken.value.fiatAmount as amount" class="provider-info__fiat-amount">
          ~ ${{ amount }}
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="averageTimeMins && time95PercentSwapsMins"
    class="provider-info__element time"
    [tuiHint]="timeTooltip"
    [tuiHintAppearance]="hintAppearance"
    [tuiHintDirection]="hintDirection"
    [tuiHintHideDelay]="hideHint ? 0 : 200"
  >
    <img src="assets/images/icons/time.svg" alt="Time for transaction" />
    <div class="">{{ averageTimeMins }}</div>
  </div>
</div>

<ng-template #verboseFeeHint>
  <div *ngIf="feeInfo?.rubicProxy?.fixedFee?.amount.gt(minAmountToShowProtocolFee)">
    Protocol Fee:
    {{ feeInfo.rubicProxy.fixedFee.amount | bigNumberFormat | shortenAmount : 8 : 8 }}
    {{ feeInfo.rubicProxy.fixedFee.token.symbol }}
  </div>
  <div *ngIf="feeInfo?.provider?.cryptoFee?.amount.gt(0)">
    Provider Native Fee:
    {{ feeInfo.provider.cryptoFee.amount | bigNumberFormat | shortenAmount : 8 : 8 }}
    {{ feeInfo.provider.cryptoFee.token.symbol }}
  </div>
  <div *ngIf="feeInfo?.provider?.platformFee?.percent">
    Provider Percent Fee:
    {{ toPercent(feeInfo.provider.platformFee.percent) }}% of
    {{ feeInfo.provider.platformFee.token.symbol }}
  </div>
</ng-template>
<ng-template #shortFeeHint>
  <div>Provider Fee</div>
</ng-template>

<ng-template #timeTooltip> May take up to {{ time95PercentSwapsMins }} </ng-template>
<ng-template #gasTooltip>
  <div>
    <span> Estimated Gas: </span>
    <br />
    <span *ngIf="gasInfo.amountInUsd.lt(0.01)">
      {{ gasInfo.amount | bigNumberFormat : 20 : false | shortenAmount : 20 : 10 : false }}
      {{ gasInfo.symbol }} ~
      {{ gasInfo.amountInUsd | bigNumberFormat : 20 : false | shortenAmount : 20 : 10 : false }}
      $
    </span>
    <span *ngIf="gasInfo.amountInUsd.gt(0.01)">
      {{ gasInfo.amount | bigNumberFormat | shortenAmount : 8 : 8 }}
      {{ gasInfo.symbol }} ~
      {{ gasInfo.amountInUsd | bigNumberFormat | shortenAmount : 8 : 8 }}
      $
    </span>
  </div>
</ng-template>
