.provider-info {
  display: flex;
  justify-content: space-between;
  padding: var(--tui-padding-l);

  &__element {
    display: flex;
    gap: var(--tui-padding-s);
    align-items: center;

    img {
      height: 0.75rem;
    }
  }
}
