@use 'src/scss/core' as *;

.provider-info {
  display: flex;
  gap: var(--tui-padding-l);
  justify-content: space-between;
  padding: var(--tui-padding-l);

  @media (min-width: 2048px) {
    padding: var(--tui-padding-xl) var(--tui-padding-l) var(--tui-padding-xl) var(--tui-padding-l);
  }

  @media (min-width: 4096px) {
    gap: 40px;
    padding: 30px;
  }

  &__element {
    display: flex;
    gap: var(--tui-padding-s);
    align-items: center;

    img {
      height: 0.75rem;

      @media (min-width: 2048px) {
        height: 18px;
      }

      @media (min-width: 4096px) {
        height: 30px;
      }
    }

    &.time {
      margin-left: auto;
    }

    @media (min-width: 2048px) {
      font-size: 16px !important;
    }

    @media (min-width: 4096px) {
      font-size: 32px !important;
    }
  }
}
