.analytics {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  span {
    margin-left: 10px;

    color: var(--form-rubic-text-color);

    font-weight: 500;
    font-size: 16px;
  }
}
