<app-tokens-table
  [tableData]="$dataSource | async"
  [displayedColumns]="displayedColumns"
  [displayedMobileItems]="displayedMobileItems"
  [mobileSortItems]="mobileSortItems"
  [columnsSizes]="columnsSizes"
  [selectedColumn]="'Last update'"
  [tableSorting]="{ active: 'Last update', direction: 'asc' }"
  [tableLoading]="$tableLoading | async"
  (refreshTableEvent)="refreshInstantTrades()"
  [title]="'Your instant swaps' | translate"
  (selectTokenEvent)="selectToken($event)"
  [hasData]="$hasData | async"
  [tableType]="'InstantTrades'"
></app-tokens-table>
