<ng-container *ngLet="enableTestnets$ | async as enableTestnets">
  <ng-container *ngIf="!isMobile">
    <tui-toggle
      class="theme-toggle__switch"
      size="l"
      [ngModel]="enableTestnets"
      (ngModelChange.stop)="switchState()"
    ></tui-toggle>
  </ng-container>

  <ng-container *ngIf="isMobile">
    <tui-toggle
      class="theme-toggle__switch"
      size="l"
      [ngModel]="enableTestnets"
      (ngModelChange.stop)="switchState()"
    ></tui-toggle>
  </ng-container>
</ng-container>
