footer {
  background: rgba(0,0,0,0.20);
  margin-top: 122px;
}
.subscribe {
  padding-top: 50px;
  color: #fff;
  padding-bottom: 120px;
  .page-content__title {
    font-size: 44px;
    letter-spacing: 0;
    text-align: center;
    line-height: 53px;
    font-weight: bold;
  }
}


.subscribe__row {
  margin-bottom: 60px;
  margin-top: 60px;
  text-align: center;
  .top__bar__input {
    width: 400px !important;
  }

  &_form {
    display: table;
    margin-left: auto;
    margin-right: auto;
    .btn {
      padding-bottom: 16px;
    }
    &__cell {
      display: table-cell;
      vertical-align: middle;
      padding: 0 5px;
    }
  }
}

.subscribe__row--nw {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  margin-bottom: 20px;
  img {
    transition: all linear 0.1s;
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    width: 75px;
  }
  span {
    float: left;
    width: 12.5%;
    text-align: center;
  }
  a {
    outline: 0 none;
    &:hover, &:focus, &:active {
      img {
        transform: scale(1.05);
        //box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.subscribe__row--btns {
  margin-bottom: 80px;
}


@media screen and (max-width: 720px) {
  .subscribe__row--nw {
    span {
      width: 25%;
      margin-bottom: 20px;
    }
  }
}
