<footer style="margin-top: 100px">
  <div class="app-content-block">
    <div class="subscribe" id="contacts">
      <div class="page-content">
        <div
          class="subscribe__row subscribe__row--nw show-eos-theme show-tron-theme"
        >
          <span>
            <a href="https://t.me/cryptorubic_chat" target="_blank">
              <img src="./assets/images/contacts/telegram.svg" alt="telegram" />
            </a>
          </span>

          <span>
            <a href="mailto:support@rubic.finance">
              <img src="./assets/images/contacts/sup.svg" alt="mail" />
            </a>
          </span>
          <span>
            <a href="https://twitter.com/CryptoRubic" target="_blank">
              <img src="./assets/images/contacts/tw.svg" alt="twitter" />
            </a>
          </span>
          <span>
            <a
              href="https://github.com/Cryptorubic/rubic_frontend"
              target="_blank"
            >
              <img src="./assets/images/contacts/github.svg" alt="github" />
            </a>
          </span>
          <span>
            <a href="https://www.reddit.com/r/Rubic/new/"
               target="_blank">
              <img src="./assets/images/contacts/reddit.svg" alt="reddit" />
            </a>
          </span>
          <span>
            <a href="https://discord.gg/3f94R4KT"
               target="_blank">
              <img src="./assets/images/contacts/discord.svg" alt="discord" />
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div>
      © {{ 'Copyright' | translate }} Rubic 2021,
      <a
        href="https://rubic.finance/assets/pdf/Rubic%20Privacy%20Policy.pdf"
        target="_blank"
        class="privacy-link"
        >{{'Privacy policy' | translate}}</a
      >
    </div>
  </div>
</footer>
