<footer style="margin-top: 100px">
  <div class="app-content-block">
    <div class="subscribe" id="contacts">
      <div class="page-content">
        <div
          class="subscribe__row subscribe__row--nw show-eos-theme show-tron-theme"
        >
          <span>
            <a href="https://www.facebook.com/MyWish.io/" target="_blank">
              <img src="./assets/images/contacts/fb.svg" alt="facebook" />
            </a>
          </span>
          <span>
            <a href="https://t.me/MyWish_platform" target="_blank">
              <img src="./assets/images/contacts/telegram.svg" alt="telegram" />
            </a>
          </span>

          <span>
            <a href="mailto:support@mywish.io">
              <img src="./assets/images/contacts/sup.svg" alt="mail" />
            </a>
          </span>
          <span>
            <a href="https://medium.com/@VladimirTikhomirov" target="_blank">
              <img src="./assets/images/contacts/m.svg" alt="medium" />
            </a>
          </span>
          <span>
            <a href="https://twitter.com/mywishplatform" target="_blank">
              <img src="./assets/images/contacts/tw.svg" alt="twitter" />
            </a>
          </span>
          <span>
            <a href="https://github.com/mywishplatform" target="_blank">
              <img src="./assets/images/contacts/github.svg" alt="github" />
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div>
      © {{ 'FOOTER.COPY' | translate }} Rubic 2020,
      <!-- <a routerLink="privacy" class="privacy-link">Privacy policy</a> -->
      <a
        href="https://rubic.finance/assets/pdf/Rubic%20Privacy%20Policy.pdf"
        target="_blank"
        class="privacy-link"
        >Privacy policy</a
      >
    </div>
  </div>
</footer>
