<footer>
  <div class="app-content-block">
    <div class="subscribe" id="contacts">
      <div class="page-content">
        <h2 class="page-content__title" [innerHTML]="'FOOTER.SUBSCRIPTION_FORM.TITLE'|translate"></h2>
        <form id="bot-sub"
              #form
              (submit)="onSubmit(form)"
              action="https://mywish.us17.list-manage.com/subscribe/post?u=46f67485295b8e33b7a04853c&amp;id=a211b0611e"
              method="post"
              name="mc-embedded-subscribe-form"
              target="_blank"
              class="subscribe__row subscribe__row_form">
          <div class="subscribe__row_form__cell">
            <div class="form-field_input">
              <input value="" name="EMAIL" id="mce-EMAIL"
                     required
                     placeholder="{{'FOOTER.SUBSCRIPTION_FORM.FIELD_PLACEHOLDER'|translate}}"
                     class="top__bar__input min-text" type="email">
            </div>
          </div>
          <div class="subscribe__row_form__cell">
            <button class="btn btn_subscribe btn-white-opacity" type="submit">
              <img class="arrow" src="./assets/images/buttons/arrow_y.svg">
              <span>Subscribe</span>
            </button>
          </div>
        </form>

        <div class="subscribe__row subscribe__row--nw show-eos-theme show-tron-theme">
          <span>
            <a routerLink="trades/contacts">
              <img src="./assets/images/contacts/sup.svg" alt="mail"/>
            </a>
          </span>
          <span>
            <a href="https://twitter.com/mywishplatform" target="_blank">
              <img src="./assets/images/contacts/tw.svg" alt="twitter"/>
            </a>
          </span>
          <span>
            <a href="https://t.me/MyWish_platform" target="_blank">
              <img src="./assets/images/contacts/telegram.svg" alt="telegram"/>
            </a>
          </span>
          <span>
            <a href="https://medium.com/@VladimirTikhomirov" target="_blank">
              <img src="./assets/images/contacts/m.svg" alt="medium"/>
            </a>
          </span>
          <span>
            <a href="https://github.com/swaps-network" target="_blank">
              <img src="./assets/images/contacts/github.svg" alt="github"/>
            </a>
          </span>
          <span>
            <a href="https://www.facebook.com/MyWish.io/" target="_blank">
              <img src="./assets/images/contacts/fb.svg" alt="facebook"/>
            </a>
          </span>
        </div>

      </div>
    </div>
  </div>
  <div class="copyright">
    <div>
      © {{'FOOTER.COPY'|translate}} SWAPS 2019
      <!--, <a routerLink="privacy" class="privacy-link">Privacy policy</a>-->
    </div>
  </div>
</footer>
