@let state =
  {
    chartInfo: chartInfo$ | async,
    selectedForm: selectedForm$ | async
  };

<div class="form-header">
  <div class="form-header__links">
    <ng-container
      *ngTemplateOutlet="
        formTypeSelector;
        context: {
          type: MAIN_FORM_TYPE.SWAP,
          text: 'Swap',
          active: state.selectedForm === MAIN_FORM_TYPE.SWAP
        }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        formTypeSelector;
        context: {
          type: MAIN_FORM_TYPE.TRANSFER,
          text: 'Private Transfer',
          active: state.selectedForm === MAIN_FORM_TYPE.TRANSFER
        }
      "
    ></ng-container>
  </div>

  <div class="form-header__actions">
    @if (state.selectedForm === MAIN_FORM_TYPE.SWAP) {
      <app-chart-toggler
        [showChart]="state.chartInfo.status.opened"
        (handleClick)="toggleChart()"
      ></app-chart-toggler>
    }
    <app-refresh-button
      [isRotating$]="isRefreshRotating$"
      (onRefresh)="refreshTrades()"
    ></app-refresh-button>
    @if (state.selectedForm === MAIN_FORM_TYPE.SWAP) {
      <app-settings-container></app-settings-container>
    }
  </div>

  <ng-template #formTypeSelector let-type="type" let-text="text" let-active="active">
    <div
      class="form-header__link"
      [class.form-header__link_active]="active"
      (click)="selectForm(type)"
    >
      <span class="form-header__link-title">
        {{ text }}
      </span>
    </div>
  </ng-template>
</div>
