<div *ngLet="chartInfo$ | async as chartInfo" class="form-header">
  <div class="form-header__links">
    <ng-container *ngFor="let form of forms">
      <ng-container
        *ngTemplateOutlet="
          formTypeSelector;
          context: { type: form.formType, text: form.text, selectedForm$ }
        "
      ></ng-container>
    </ng-container>
  </div>

  <div class="form-header__actions">
    <app-chart-toggler
      [showChart]="chartInfo.status.opened"
      (handleClick)="toggleChart()"
    ></app-chart-toggler>
    <app-refresh-button
      [isRotating$]="isRefreshRotating$"
      (onRefresh)="refreshTrades()"
    ></app-refresh-button>
    <app-settings-container></app-settings-container>
  </div>

  <ng-template #formTypeSelector let-type="type" let-text="text" let-selected="selectedForm$">
    <div class="form-header__link">
      <button
        class="form-header__link-title"
        [ngClass]="{ 'form-header__link-selected': (selectedForm$ | async) === type }"
        (click)="toogleForm(type)"
      >
        {{ text }}
      </button>
    </div>
  </ng-template>
</div>
