@import 'src/scss/vars';
@import 'src/scss/mixins';

.bridge-container {
  max-width: 1180px;
  height: 100%;
  margin: 85px auto 0;

  @include b(1240) {
    padding: 0 2vw;
  }

  &__intro {
    margin-bottom: 60px;
    padding-top: 40px;

    color: rgba(#000, 0.4);

    font-weight: normal;
    font-size: 22px;
    line-height: 40px;

    .app-index__intro_bold {
      font-weight: 700;
    }

    .app-index__intro_green {
      color: #4aa956;
    }
  }
}

.bridge-form {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;

  color: #110931;

  font-weight: bold;
  font-size: 28px;
  line-height: 32px;

  &__arrow-button {
    position: relative;
    top: -2px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;

    background-color: black;
    border-radius: 50%;

    transition: transform 0.2s linear;
  }

  &__toggle {
    &:hover {
      .bridge-form__arrow-button {
        transform: scale(1.2);
      }
    }
  }

  &__toggle-text {
    margin-right: 10px;

    color: $main-green;
    font-size: 14px;
    line-height: 16px;
  }
}

@include b(800) {
  .bridge-container {
    padding-top: 115px;
  }
}

@include b(600) {
  .bridge-container {
    padding: 115px 10px 0;
  }

  .bridge-form {
    flex-direction: column;
  }

  .disclaimer-text {
    margin-bottom: 30px;
  }
}

app-volume-block {
  display: block;
  margin-bottom: 35px;
}
