@import 'src/scss/vars';
@import 'src/scss/mixins';

.scanner-text {
  margin-right: 5px;
}

img {
  position: relative;
  top: 1px;
}

@include b($mobile-sm) {
  .scanner-text {
    font-size: 14px;
  }
}
