<div class="provider-panel">
  <div class="provider-panel__row">
    <ng-container *ngLet="calculatedProviders$ | async as providers">
      <div class="provider-panel__header">
        <app-providers-list-header
          *ngIf="expanded"
          [calculatedProviders]="calculatedProviders$ | async"
          (closeHandler)="closeAccordion()"
        ></app-providers-list-header>

        <div class="provider-panel__text" *ngIf="!expanded && providers > 1">
          <app-providers-counter [calculatedProvider]="calculatedProvider"></app-providers-counter>

          <button class="provider-panel__expand-button" (click)="expanded = true">
            Other routes
          </button>
        </div>
      </div>

      <div class="provider-panel__providers-content" *ngIf="expanded">
        <tui-scrollbar>
          <app-providers-list (selectionHandler)="handleSelection()"></app-providers-list>
        </tui-scrollbar>
      </div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="smartRouting">
  <app-smart-routing *noFrame [smartRouting]="smartRouting"></app-smart-routing>
</ng-container>
