<div class="blockchain-input">
  <div class="blockchain-input__selected">
    <img [src]="'./assets/images/icons/coins/' + selectedBlockchain.img" alt="Blockchain"/>
    <span>{{selectedBlockchain.label}}</span>
  </div>

  <app-input-dropdown
    [componentClass]="blockchainLabelComponentClass"
    [componentsData]="blockchainsInputData"
    [selectedComponentData]="selectedBlockchainInputData"
    [sortOrder]="blockchainsSortOrder"
    chooseComponentText="Choose Blockchain"
    (componentChanges)="onBlockchainChanges($event)"
  ></app-input-dropdown>
</div>
