<ng-container
  *ngLet="{
    approves: approves$ | async,
    allApproves: allApproves$ | async,
    page: page$ | async,
    size: size$ | async,
    isLimitsExceeded: exceededLimits$ | async,
    allowChangeBlockchain: allowChangeBlockchain$ | async,
    tokenControl: queryForm.controls.token,
    spenderControl: queryForm.controls.spender,
    revokeLoading: switchLoading,
    tableLoading: tableLoading$ | async,
    selectedBlockchain: selectedBlockchain$ | async
  } as table"
>
  <tui-loader [showLoader]="table.tableLoading" [overlay]="true">
    <app-desktop-table
      *ngIf="!isMobile as isMobile; else mobile"
      (handleNetworkChange)="changeNetwork($event)"
      (handleRevokeCall)="handleRevoke($event)"
      [allApproves]="table.allApproves"
      [allowChangeBlockchain]="table.allowChangeBlockchain"
      [approves]="table.approves"
      [isLimitsExceeded]="table.isLimitsExceeded"
      [page]="table.page"
      [switchLoading]="table.revokeLoading"
      [size]="table.size"
      [spenderControl]="table.spenderControl"
      [tableLoading]="table.tableLoading"
      [tokenControl]="table.tokenControl"
      [selectedBlockchain]="table.selectedBlockchain.key"
    >
      <ng-container *ngIf="!queryForm.controls.spender.value && !queryForm.controls.token.value">
        <tfoot>
          <tr *ngIf="table.approves?.length; else noApproves">
            <td [colSpan]="5">
              <tui-table-pagination
                [total]="table.allApproves.length"
                [page]="table.page"
                [size]="table.size"
                (pageChange)="page = $event"
                (sizeChange)="size = $event"
              >
              </tui-table-pagination>
            </td>
          </tr>
        </tfoot>
      </ng-container>
    </app-desktop-table>
    <ng-template #mobile>
      <app-mobile-table
        (handleNetworkChange)="changeNetwork($event)"
        (handleRevokeCall)="handleRevoke($event)"
        [allApproves]="table.allApproves"
        [allowChangeBlockchain]="table.allowChangeBlockchain"
        [approves]="table.approves"
        [isLimitsExceeded]="table.isLimitsExceeded"
        [page]="table.page"
        [switchLoading]="table.revokeLoading"
        [size]="table.size"
        [spenderControl]="table.spenderControl"
        [tableLoading]="table.tableLoading"
        [tokenControl]="table.tokenControl"
        [selectedBlockchain]="table.selectedBlockchain.key"
      >
        <ng-container *ngIf="!queryForm.controls.spender.value && !queryForm.controls.token.value">
          <div class="full-width" *ngIf="table.approves?.length; else noApproves">
            <tui-table-pagination
              [total]="table.allApproves.length"
              [page]="table.page"
              [size]="table.size"
              (pageChange)="page = $event"
              (sizeChange)="size = $event"
            >
            </tui-table-pagination>
          </div>
        </ng-container>
      </app-mobile-table>
    </ng-template>
  </tui-loader>
  <ng-template #noApproves>
    <p class="no-transactions">
      {{
        table.isLimitsExceeded
          ? 'Request limit exceeded, try again in few seconds.'
          : 'No approve transactions found.'
      }}
    </p>
  </ng-template>
</ng-container>
