@use 'src/scss/core' as *;

::ng-deep {
  app-rubic-button {
    display: block;
    width: 150px;
  }

  .image-container {
    display: flex;
    align-items: center;

    img {
      height: 16px;
      margin-right: 10px;
    }

    a {
      display: flex;
      align-items: center;
      margin-left: 10px;

      img {
        height: 16px;
      }
    }
  }
}

tui-table-pagination ::ng-deep {
  > button {
    background-color: var(--form-background);
    border-radius: 5px;
  }
}

.full-width {
  width: 100%;
}
