@use 'src/scss/core' as *;

:host ::ng-deep {
  .table {
    @include b(900) {
      width: auto !important;
    }
  }

  .no-transactions {
    width: 300px;
    margin-left: 16px;

    font-size: 18px;
  }

  app-rubic-button {
    display: block;
    width: 150px;
  }

  .image-container {
    display: flex;
    align-items: center;

    img {
      height: 16px;
    }

    a {
      display: flex;
      align-items: center;


      img {
        height: 16px;
      }

      .link {
        height: 12px;
        margin-left: 10px;

        opacity: 0.75;
        filter: invert(1);
      }
    }
  }

  .image-wrapper {
    display: flex;
    width: 20px;
    margin-right: 10px;
  }
}

tui-table-pagination ::ng-deep {
  > button {
    background-color: var(--form-background);
    border-radius: 5px;
  }
}

.full-width {
  width: 100%;
}
