<ng-container *ngLet="isDark$ | async as isDark">
  <ng-container *ngIf="!isMobile">
    <div
      class="image"
      [inlineSVG]="isDark ? '/assets/images/icons/night.svg' : '/assets/images/icons/day.svg'"
    ></div>

    <input
      tuiSwitch
      type="checkbox"
      class="theme-toggle__switch"
      size="m"
      [ngModel]="isDark"
      (ngModelChange.stop)="switchTheme()"
    />
  </ng-container>

  <ng-container *ngIf="isMobile">
    <input
      tuiSwitch
      type="checkbox"
      class="theme-toggle__switch"
      size="m"
      [ngModel]="isDark"
      (ngModelChange.stop)="switchTheme()"
    />
  </ng-container>
</ng-container>
