:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.image {
  display: flex;
  align-items: center;

  ::ng-deep svg path {
    fill: var(--secondary-text);
  }
}
