.disclaimer-text {
  font-size: 14px;
  color: #000000;
  margin: 20px 0;

  &__link {
    color: #4aa956;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}