.disclaimer-text {
  margin: 20px 0;

  color: black;
  font-size: 14px;

  &__link {
    color: #4aa956;
    text-decoration: none;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
