<div class="form-control contract-form-row text-center">
  <div class="email-confirm-title" translate="AUTH_POPUP.CONFIRM_EMAIL_FORM.TITLE"></div>
  <p class="email-confirm-text">
    <span [innerHTML]="'AUTH_POPUP.CONFIRM_EMAIL_FORM.BASE_TEXT'|translate: {currEmail: currentEmail}"></span><br/><br/>
    <span class="red-color" translate="AUTH_POPUP.CONFIRM_EMAIL_FORM.NOTICE_TEXT"></span>
  </p>
  <br/>

  <div class="text-center" *ngIf="!resendError && !emailConfirmProgress">
    <button class="btn btn-transparent" (click)="getConfirmEmail()">
      <span translate="AUTH_POPUP.CONFIRM_EMAIL_FORM.RESEND_BUTTON"></span>
    </button>
  </div>

  <div *ngIf="allTimerSeconds" class="email-confirm-timer-text text-center">
    <span class="email-confirm-text"
          [innerHTML]="'AUTH_POPUP.CONFIRM_EMAIL_FORM.TIMER'|translate: {timerMinutes: timerMinutes, timerSeconds: timerSeconds}"
    ></span>
  </div>

  <div *ngIf="resendError === 1" class="email-confirm-timer-text">
    <span class="email-confirm-text red-color"
          translate="AUTH_POPUP.CONFIRM_EMAIL_FORM.ERRORS.ERROR_1"></span>
  </div>
  <div *ngIf="resendError === 2" class="email-confirm-timer-text">
    <span class="email-confirm-text red-color"
          translate="AUTH_POPUP.CONFIRM_EMAIL_FORM.ERRORS.ERROR_2"></span>
  </div>
</div>
