<app-window-container *ngLet="displayTargetAddressInput$ | async as displayReceiver">
  <ng-container header>
    <div class="form-links">
      <span>Swap</span>
    </div>
    <div class="actions">
      <app-refresh-button
        [isRotating$]="isRefreshRotating$"
        (onRefresh)="refreshTrades()"
        class="swap-form__refresh"
      >
      </app-refresh-button>
      <app-settings-container class="swap-form__settings"></app-settings-container>
    </div>
  </ng-container>
  <div class="form__container" *ngLet="isMobile$ | async as isMobile">
    <app-input-output-container
      [round]="!isMobile ? 'top' : 'none'"
      [marginTop]="isMobile"
      *ngLet="fromAsset$ | async as fromAsset"
    >
      <app-asset-selector
        left
        selectorType="from"
        (handleAssetSelection)="openTokensSelect('from', isMobile)"
        [asset]="fromAsset"
      ></app-asset-selector>
      <div right class="input-container">
        <app-amount-transput
          formType="from"
          [selectedToken]="fromAsset"
          inputMode="input"
          (amountUpdated)="updateInputValue($event)"
          [amountValue]="fromAmount$ | async"
        ></app-amount-transput>
        <app-user-balance-container
          (maxButtonClickEvent)="handleMaxButton()"
        ></app-user-balance-container>
      </div>
    </app-input-output-container>
    <app-form-switcher (switcherClick)="revert()"></app-form-switcher>
    <app-input-output-container [round]="displayReceiver ? 'none' : 'bottom'">
      <app-asset-selector
        left
        selectorType="to"
        (handleAssetSelection)="openTokensSelect('to', isMobile)"
        [asset]="toAsset$ | async"
      ></app-asset-selector>
      <div right class="input-container">
        <app-amount-transput
          formType="to"
          [selectedToken]="toAsset$ | async"
          inputMode="output"
          [amountValue]="toAmount$ | async"
        ></app-amount-transput>
        <app-tokens-rate></app-tokens-rate>
      </div>
    </app-input-output-container>
  </div>

  <app-target-network-address
    *ngIf="displayReceiver"
    @receiverAnimation
  ></app-target-network-address>

  <ng-container footer>
    <div class="buttons-container">
      <app-action-button></app-action-button>
      <app-receiver-address-button (handleClick)="toggleReceiver()"></app-receiver-address-button>
    </div>
  </ng-container>
</app-window-container>
