@let state =
  {
    displayReceiver: displayTargetAddressInput$ | async,
    isMobile: isMobile$ | async,
    fromAsset: fromAsset$ | async,
    fromAmount: fromAmount$ | async,
    toAsset: toAsset$ | async,
    toAmount: toAmount$ | async,
    toBlockchain: toBlockchain$ | async,
    isTransferMode: isTransferMode$ | async
  };

<app-window-container>
  <app-form-header></app-form-header>
  <div class="form__container">
    <app-input-output-container
      [round]="state.isTransferMode || !state.isMobile ? 'top' : 'none'"
      [marginTop]="state.isMobile"
    >
      <app-asset-selector
        left
        selectorType="from"
        [asset]="state.fromAsset"
        (handleAssetSelection)="openSelector('from', state.isMobile)"
      ></app-asset-selector>
      <div right class="input-container">
        <app-amount-transput
          formType="from"
          [selectedToken]="state.fromAsset"
          inputMode="input"
          (amountUpdated)="updateInputValue($event)"
          [amountValue]="state.fromAmount"
        ></app-amount-transput>
        <app-user-balance-container
          [fromToken$]="fromAsset$"
          (maxButtonClickEvent)="handleMaxButton()"
        ></app-user-balance-container>
      </div>
    </app-input-output-container>

    @if (!state.isTransferMode) {
      <app-form-switcher (switcherClick)="revert()"></app-form-switcher>
      <app-input-output-container [round]="state.displayReceiver ? 'none' : 'bottom'">
        <app-asset-selector
          left
          selectorType="to"
          [asset]="state.toAsset"
          (handleAssetSelection)="openSelector('to', state.isMobile)"
        ></app-asset-selector>
        <div right class="input-container">
          <app-amount-transput
            formType="to"
            [selectedToken]="state.toAsset"
            inputMode="output"
            [amountValue]="state.toAmount"
          ></app-amount-transput>
          <app-tokens-rate></app-tokens-rate>
        </div>
      </app-input-output-container>
    }
  </div>

  @if (state.isTransferMode || state.displayReceiver) {
    <app-target-network-address
      [addressCtrl]="receiverCtrl"
      @receiverAnimation
    ></app-target-network-address>
  }

  <ng-container footer>
    <div class="buttons-container">
      <app-action-button></app-action-button>
      @if (!state.isTransferMode && state.toBlockchain) {
        <app-receiver-address-button
          [toBlockchain]="state.toBlockchain || 'target network'"
          (handleClick)="toggleReceiver()"
        ></app-receiver-address-button>
      }
    </div>
  </ng-container>
</app-window-container>
