<app-window-container
  *ngLet="{
    displayReceiver: displayTargetAddressInput$ | async,
    isMobile: isMobile$ | async,
    fromAsset: fromAsset$ | async,
    fromAmount: fromAmount$ | async,
    toAsset: toAsset$ | async,
    toAmount: toAmount$ | async,
    isSwapForm: isSwapForm$ | async,
    formType: formType$ | async,
    isLoading: isLoading$ | async
  } as state"
>
  <app-form-header></app-form-header>
  <div class="form__container">
    <app-input-output-container
      [round]="!state.isMobile ? 'top' : 'none'"
      [marginTop]="state.isMobile"
    >
      <app-asset-selector
        left
        selectorType="from"
        (handleAssetSelection)="openSelector('from', state.isMobile)"
        [asset]="state.fromAsset"
        [isDisabled]="state.isDisabledFromSelector"
      ></app-asset-selector>
      <div right class="input-container">
        <app-amount-transput
          formType="from"
          [selectedToken]="state.fromAsset"
          inputMode="input"
          (amountUpdated)="updateInputValue($event)"
          [amountValue]="state.fromAmount"
        ></app-amount-transput>
        <app-user-balance-container
          (maxButtonClickEvent)="handleMaxButton()"
        ></app-user-balance-container>
      </div>
    </app-input-output-container>
    <app-form-switcher (switcherClick)="revert()" *ngIf="state.isSwapForm"></app-form-switcher>
    <app-input-output-container
      *ngIf="state.isSwapForm"
      [round]="state.displayReceiver ? 'none' : 'bottom'"
    >
      <app-asset-selector
        left
        selectorType="to"
        (handleAssetSelection)="openSelector('to', state.isMobile)"
        [asset]="state.toAsset"
      ></app-asset-selector>
      <div right class="input-container">
        <app-amount-transput
          formType="to"
          [selectedToken]="state.toAsset"
          inputMode="output"
          [amountValue]="state.toAmount"
        ></app-amount-transput>
        <app-tokens-rate></app-tokens-rate>
      </div>
    </app-input-output-container>
  </div>

  <app-target-network-address
    *ngIf="state.displayReceiver"
    @receiverAnimation
  ></app-target-network-address>

  <ng-container footer>
    <div class="buttons-container">
      <app-action-button *ngIf="state.isSwapForm; else privateAction"></app-action-button>
      <app-receiver-address-button (handleClick)="toggleReceiver()"></app-receiver-address-button>
    </div>

    <ng-template #privateAction>
      <button
        [disabled]="state.isLoading"
        (click)="invokeAction(state.formType.formType)"
        class="private-action"
        tuiButton
        appearance="primary"
        type="button"
        size="m"
      >
        {{ state.isLoading ? 'Loading...' : state.formType.text }}
      </button>
    </ng-template>
  </ng-container>
</app-window-container>
