@use 'src/scss/core' as *;

app-action-button {
  width: 100%;
}

app-gas-form-hint {
  position: absolute;
  left: 0;

  &.source-chain {
    top: 85px;
  }

  &.target-chain {
    bottom: 110px;
  }
}

.form-links {
  display: flex;
  gap: var(--tui-padding-s);

  color: var(--tui-text-03);

  &_selected {
    color: var(--tui-text-01);
  }
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}

app-target-network-address {
  display: block;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: var(--tui-padding-s);
  align-items: flex-end;
  width: 100%;
}

.buttons-container {
  display: flex;
  gap: var(--tui-padding-l);
  margin-top: var(--tui-padding-l);
}

app-form-switcher {
  display: flex;
  justify-content: center;
  height: 2px;

  background: linear-gradient(90deg,
  rgba(0, 0, 0, 0) 0%,
  var(--tui-secondary) 50%,
  rgba(0, 0, 0, 0) 100%);
}

@include b($mobile-md) {
  :host ::ng-deep {
    .window-container {
      padding: 0 !important;

      background: none !important;
      border-radius: 0 !important;

      header {
        padding: var(--tui-padding-l) !important;

        background: var(--io-background);
        border-radius: var(--tui-radius-m) var(--tui-radius-m) 0 0;
      }
    }
  }

  .input-container {
    gap: var(--tui-padding-xs);
    align-items: flex-start;
  }
}
