@import '../../../../../../../styles';

.usd-price-container {

  @include iframe-card;
  display: flex;
  justify-content: flex-end;

  color: var(--form-dim-text-color);
  font-size: 14px;
  line-height: 17px;

  text-align: right;

  @include b($mobile-sm) {
    justify-content: flex-start;
  }

  &_hidden {
    visibility: hidden;

    @include b($mobile-sm) {
      display: none;
    }
  }

  &__price {
    overflow: hidden;

    letter-spacing: 0.1em;
    text-overflow: ellipsis;

    cursor: default;

    @include iframe-horizontal {
      font-size: 12px;
    }
  }
}
