.details-element {
  display: flex;
  gap: var(--tui-padding-s);
  align-items: center;
  overflow: hidden;

  &__text {
    display: flex;
    align-items: center;

    &-title {
      white-space: nowrap;
    }

    &-icon {
      width: 1rem;
      height: 1rem;
      margin-right: var(--tui-padding-m);
    }
  }

  &__value {
    margin-left: auto;

    white-space: nowrap;
  }
}
