.buttons-container {
  display: flex;
  gap: 12px;
  width: 100%;
  margin-top: 12px;

  app-private-action-button {
    flex: 1;
  }
}

tui-notification {
  margin-top: 12px;

  color: #0d75e8 !important;
  font-size: 15px;

  background: #1c4c81 !important;
}
