<app-window-container
  *ngLet="{
    revealAsset: revealAsset$ | async,
    revealAmount: revealAmount$ | async,
    loading: loading$ | async,
    displayReceiver: displayReceiver$ | async
  } as state"
>
  <app-input-output-container [round]="'top'" [marginTop]="false">
    <app-asset-selector
      left
      selectorType="to"
      (handleAssetSelection)="openSelector()"
      [asset]="state.revealAsset"
      [isDisabled]="state.loading"
    ></app-asset-selector>
    <div right class="input-container">
      <app-amount-transput
        formType="from"
        [selectedToken]="state.revealAsset"
        inputMode="input"
        (amountUpdated)="updateInputValue($event)"
        [amountValue]="state.revealAmount"
        [allowManualInputClear]="true"
      ></app-amount-transput>
      <app-user-balance-container
        [fromToken$]="revealAsset$"
        (maxButtonClickEvent)="handleMaxButton()"
      ></app-user-balance-container>
    </div>
  </app-input-output-container>

  <app-preset-amount-list
    *ngIf="creationConfig.showPresets && state.revealAsset"
    [token]="state.revealAsset"
    [selectedAmount]="state.revealAmount?.visibleValue"
    (onPresetSelect)="handlePresetSelect($event)"
  ></app-preset-amount-list>

  <app-target-network-address
    [round]="'all'"
    [addressCtrl]="receiverCtrl"
    [placeholderText]="creationConfig?.receiverPlaceholder"
  ></app-target-network-address>
  <tui-notification *ngIf="creationConfig.showWarnings"
    >Using round amounts can improve privacy</tui-notification
  >

  <div
    *ngIf="creationConfig.withActionButton || creationConfig.withReceiver"
    class="buttons-container"
  >
    <app-private-action-button
      *ngIf="creationConfig.withActionButton"
      [showLoader]="state.loading"
      (onClick)="reveal()"
    ></app-private-action-button>
  </div>
</app-window-container>
