<div class="stake">
  <div class="stake__token-and-amount">
    <app-staking-tokens class="stake__select-token" [tokenFormControl]="token"></app-staking-tokens>
    <input
      autocomplete="off"
      class="stake__input"
      name="token-amount"
      placeholder="0.0"
      appTokenAmount
      [formControl]="amount"
      [decimals]="DEFAULT_DECIMALS"
    />
  </div>
  <div class="stake__balance-and-usd">
    <div class="stake__balance" *ngIf="selectedTokenBalance$ | async as tokenBalance">
      {{ 'staking.stake.balance' | translate: { amount: tokenBalance | bigNumberFormat } }}
      <span>MAX</span>
    </div>
    <div class="stake__usd">
      <app-usd-price-container [usdPrice]=""></app-usd-price-container>
    </div>
  </div>
  <app-stake-button-container
    [amount]="amount.value"
    [balance]="selectedTokenBalance$ | async"
    [needLogin]="needLogin$ | async"
    (onConfirmStake)="confirmStake()"
    (onLogin)="login()"
  ></app-stake-button-container>
</div>
