<div class="stake">
  <div class="stake__token-and-amount">
    <app-staking-tokens
      class="stake__select-token"
      [tokenFormControl]="token"
      [amountFormControl]="amount"
    ></app-staking-tokens>
    <input
      autocomplete="off"
      class="stake__input"
      name="token-amount"
      placeholder="0.0"
      appTokenAmount
      [formControl]="amount"
      [decimals]="18"
    />
  </div>
  <ng-container *ngIf="(needLogin$ | async) === false">
    <div class="stake__balance" *ngLet="selectedTokenBalance$ | async as tokenBalance">
      {{
        'staking.stake.balance'
          | translate: { amount: tokenBalance | bigNumberFormat | shortenAmount: 9:4:true }
      }}
      <span (click)="setMaxAmount(tokenBalance)">MAX</span>
    </div>
  </ng-container>
  <app-stake-button-container
    [loading]="stakeButtonLoading$ | async"
    [amountFormControl]="amount"
    (onConfirmStake)="confirmStake()"
    (onLogin)="login()"
    (onApprove)="approve()"
    [approvedTokens]="approvedTokens"
  ></app-stake-button-container>
</div>
