<form class="stake">
  <div class="stake__wrapper">
    <app-staking-tokens class="stake__select"></app-staking-tokens>

    <input
      autocomplete="off"
      class="stake__input"
      name="token-amount"
      placeholder="100,000"
      appTokenAmount
    />

    <div class="stake__balance">
      You have 143,000
      <button class="stake__balance-max">MAX</button>
    </div>

    <div class="stake__price">$22,379.00</div>
  </div>

  <app-rubic-button class="stake__button" appearance="secondary"> Confirm stake </app-rubic-button>

  <p class="stake__warning">
    <img src="assets/images/icons/warning.svg" alt="warning" />
    One stake limits 1,000 BRBC to 100,000 BRBC
  </p>
</form>
