@use 'src/scss/mixins';
@use 'src/scss/vars';

.stake {
  padding: 36px 22px 22px;

  &__token-and-amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }

  &__balance-and-usd {

    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

    color: #bdbebd;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    @include mixins.b(vars.$tablet) {
      margin-bottom: 36px;

      font-size: 14px;
      line-height: 17px;
    }
  }

  &__balance {
    letter-spacing: -0.03em;

    span {
      margin-left: 12px;

      color: vars.$rubic-primary;

      cursor: pointer;
    }
  }

  &__usd {
    letter-spacing: 0.06em;
  }

  &__input {
    width: 100%;
    height: 42px;
    padding-left: 8px;

    color: var(--form-bright-text-color);
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.06em;
    text-align: right;

    background-color: transparent;

    border: none;

    @include mixins.b(vars.$tablet) {
      font-size: 36px;
      line-height: 43px;
    }
  }
}
