<section class="bridge-bottom-form">
  <app-amount-input [loading]="tradeStatus === TRADE_STATUS.LOADING"></app-amount-input>
  <div class="bridge-bottom-form__analytics" *ngIf="tokenInfoUrl">
    <a
      [href]="'https://keks.app/' + tokenInfoUrl"
      target="_blank"
      class="instant-trade-bottom-form__analytics"
    >
      <img src="assets/images/icons/analytic.svg" alt="Analytics" />
      <span>Analytics</span>
    </a>
  </div>

  <div class="bridge-bottom-form__footer">
    <div class="bridge-bottom-form__button">
      <app-approve-button
        [needApprove]="needApprove"
        [status]="tradeStatus"
        (swapClick)="createTrade()"
        (approveClick)="approveTrade()"
      ></app-approve-button>
    </div>
    <div class="bridge-bottom-form__terms-and-conditions">
      <span *ngIf="address"
        >You will get {{ whatIsBlockchain.name }} tokens to the {{ address }} address</span
      >
      <a [href]="whatIsBlockchain.href" target="_blank">What is {{ whatIsBlockchain.name }}?</a>
    </div>
  </div>
</section>
