@import 'src/scss/vars';
@import 'src/scss/mixins';

.bridge-bottom-form {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 20px;

    background-color: var(--main-background);
    border-radius: 0 0 14px 14px;

    @include b($mobile-md) {
      height: auto;
    }

    @include b($mobile-sm) {
      flex-direction: column;
    }
  }

  &__footer {
    @include b($mobile-md) {
      padding: 15px 20px 0;
    }
  }
}
