@import 'src/scss/vars';
@import 'src/scss/mixins';

.bridge-bottom-form {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 20px;

    background-color: white;
    border-radius: 0 0 14px 14px;
  }

  &__footer {
    @include b($mobile-md) {
      padding: 15px 20px 0;
    }
  }
}
