@import 'src/scss/vars';
@import 'src/scss/mixins';

.bridge-bottom-form {
  display: flex;
  flex-direction: column;

  @include iframe-horizontal {
    flex-direction: row;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    min-height: 105px;
    padding: 15px 20px 30px;

    background-color: var(--main-background);
    border-radius: 0 0 14px 14px;

    @include iframe-horizontal {
      position: relative;

      flex-direction: row-reverse;
      align-items: center;
      width: 363px;
      height: 50px;
      min-height: unset;
      padding: 0 7px 0 16px;

      border-radius: 10px;
    }

    @include b($mobile-md) {
      height: auto;
    }

    @include b($mobile-sm) {
      flex-direction: column;
    }
  }

  &__footer {
    margin-top: 16px;

    @include iframe-horizontal {
      margin-top: 0;
      margin-left: 12px;
    }

    @include b($mobile-md) {
      padding: 15px 20px 0;
    }
  }
}
