@use 'src/scss/core' as *;

:host {
  --tui-primary-text: #{$rubic-primary};
  --tui-primary: var(--main-background);
  --tui-disabled-opacity: 1;

  button {
    width: 70px;
    overflow: hidden;
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  ::ng-deep tui-wrapper {
    border-radius: 0;

    .content {
      padding: 6px;
      flex-direction: column;

      .wrapper {
        //width: 52px;
        //margin-right: 10px;
        //padding-left: 10px;
        overflow: hidden;
      }

      .token-name {
        color: var(--rubic-base-02);
        font-weight: normal;
        font-size: $rubic-font-size-main;
      }
    }

    &[data-state='hovered'] {
      background-color: var(--rubic-secondary);
    }

    &[data-state='pressed'] {
      background: var(--rubic-secondary);
      box-shadow: $main-shadow;
    }

    img {
      max-width: 27px;
      max-height: 27px;

      transition: 0.2s ease-in-out;
    }

    /* stylelint-disable */
    @include light-iframe {
      background-color: var(--rubic-base-14);

      &[data-state='hovered'] {
        background-color: var(--rubic-base-14);
      }

      &[data-state='pressed'] {
        background: var(--rubic-base-14);
        box-shadow: unset;
      }
    }
  }
}

.bordered {
  border: 2px solid var(--main-green);
}
