@use 'src/scss/core' as *;

:host {
  --tui-disabled-opacity: 1;

  button {
    width: 70px;
    overflow: hidden;

    .inline-icon {
      display: flex;
    }
  }

  &:hover {
    .image {
      transform: scale(1.1);
    }
  }

  ::ng-deep .t-wrapper {
    .t-content {
      flex-direction: column;

      padding: 4px;

      .label-container {
        overflow: hidden;

        .label {
          color: var(--primary-text);
          font-weight: normal;
          font-size: $rubic-font-size-main;
        }
      }
    }

    .image {
      width: 30px;
      height: 30px;

      transition: 0.2s ease-in-out;

      ::ng-deep svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.bordered {
  border: 2px solid var(--primary-color);

  ::ng-deep .t-wrapper {
    .t-content {
      padding: 2px;
    }
  }
}
