<button
  tuiIconButton
  [style.transform]="'scale(' + scale + ')'"
  [ngClass]="{ bordered: _border }"
  [disabled]="_disabled"
  (click)="onClick()"
  [size]="buttonSize"
  [appearance]="appearance"
>
  <div
    class="inline-icon"
    [inlineSVG]="icon"
    [style.border-radius]="borderRadiusPercent + '%'"
  ></div>
  <!-- <img [src]="icon" [style.border-radius]="borderRadiusPercent + '%'" alt="" /> -->
  <div class="label-container" *ngIf="label">
    <span class="label">{{ label }}</span>
  </div>
</button>
