@import 'src/styles';

:host {
  --tui-primary-text: #{$rubic-primary};
  --tui-primary: var(--main-background);
  --tui-disabled-opacity: 1;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  ::ng-deep tui-wrapper {
    &[data-state='hovered'] {
      background-color: var(--rubic-secondary);
    }

    &[data-state='pressed'] {
      background: var(--rubic-secondary);
      box-shadow: $main-shadow;
    }

    img {
      max-width: 27px;
      max-height: 27px;

      transition: 0.2s ease-in-out;
    }

    /* stylelint-disable */
    @include light-iframe {
      background-color: var(--rubic-base-14);

      &[data-state='hovered'] {
        background-color: var(--rubic-base-14);
      }

      &[data-state='pressed'] {
        background: var(--rubic-base-14);
        box-shadow: unset;
      }
    }
  }
}

.bordered {
  border: 2px solid var(--main-green);
}
