@use 'src/scss/core' as *;

:host {
  --tui-primary-text: #{$rubic-primary};
  --tui-primary: var(--main-background);
  --tui-disabled-opacity: 1;

  button {
    width: 70px;
    overflow: hidden;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  ::ng-deep tui-wrapper {
    .content {
      flex-direction: column;

      padding: 4px 6px;

      .label-container {
        overflow: hidden;

        .label {
          color: var(--rubic-base-02);
          font-weight: normal;
          font-size: $rubic-font-size-main;
        }
      }
    }

    &[data-state='hovered'] {
      background-color: var(--rubic-secondary);
    }

    &[data-state='pressed'] {
      background: var(--rubic-secondary);
      box-shadow: $main-shadow;
    }

    img {
      width: 30px;
      height: 30px;

      transition: 0.2s ease-in-out;
    }

    /* stylelint-disable */
    @include light-iframe {
      background-color: var(--rubic-base-14);

      &[data-state='hovered'] {
        background-color: var(--rubic-base-14);
      }

      &[data-state='pressed'] {
        background: var(--rubic-base-14);
        box-shadow: unset;
      }
    }
  }
}

.bordered {
  border: 2px solid var(--main-green);

  ::ng-deep tui-wrapper {
    .content {
      padding: 4px 6px;
    }
  }
}
