<div class="provider-panel__body">
  <div
    *ngIf="isBestRate"
    class="provider-panel__best-rate"
    [ngClass]="{ 'provider-panel__best-rate_selected': providerData.isActive }"
  >
    <div [inlineSVG]="'assets/images/icons/Best-rate.svg'"></div>
  </div>

  <div class="provider-panel__left">
    <div
      class="provider-panel__amount"
      [ngClass]="{
        'tui-skeleton': providerData.loading,
        'tui-skeleton-text': providerData.loading
      }"
    >
      {{ tradeData?.amount | bigNumberFormat | withRound: 'toClosestValue' }}
    </div>
  </div>

  <div class="provider-panel__right" *ngLet="usdPrice as price">
    <div
      *ngIf="price?.isFinite() && price.gt(0)"
      class="provider-panel__token-usd-price"
      [ngClass]="{
        'tui-skeleton': providerData.loading,
        'tui-skeleton-text': providerData.loading
      }"
    >
      ${{ price | bigNumberFormat: 2:true }}
    </div>

    <div
      *ngIf="displayGas && this.tradeData?.gasFeeInEth && this.tradeData?.gasFeeInUsd"
      class="provider-panel__token-gas-fee"
      [ngClass]="{
        'tui-skeleton': providerData.loading,
        'tui-skeleton-text': providerData.loading
      }"
    >
      {{ 'instantTrades.gasFee' | translate }}

      <ng-container *ngIf="providerData.appearance !== 'small' && tradeData?.gasFeeInEth">
        {{ tradeData.gasFeeInEth?.toFixed(5) }} ETH
      </ng-container>

      <ng-container *ngIf="tradeData?.gasFeeInUsd.gt(0)">
        ≈ ${{ tradeData.gasFeeInUsd.toFixed(2) }}
      </ng-container>

      <div
        class="provider-panel__hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="'instantTrades.gasFeeMessage' | translate"
      ></div>
    </div>
  </div>
</div>
