.error-container {
  position: relative;

  &:hover {
    app-tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: 24px;
  padding-right: 10px;
  padding-left: 10px;

  color: white;

  font-size: 14px;

  background-color: #ff9f9f;
  border-radius: 3px;

  &_with-tooltip {
    cursor: help;
  }
}

app-tooltip {
  position: absolute;
  right: -88px;
  bottom: calc(100% - 7px);

  z-index: 10;

  font-size: 12px;

  text-align: center;

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}
