<ng-container
  *ngLet="{
    src: iframeSrc$ | async,
    size: iframeSize$ | async,
    hasNoContent: hasNoContent$ | async
  } as state"
>
  <div *ngIf="state.src && !state.hasNoContent; else boilerplate" class="spindle-banner">
    <iframe
      [src]="state.src | safeSanitizer : 'resourceUrl'"
      [width]="state.size.width"
      [height]="state.size.height"
      title="SpindleAds"
    ></iframe>
  </div>

  <ng-template #boilerplate>
    <div class="boilerplate-banner">
      <img src="/assets/images/not-found.svg" alt="" />
    </div>
  </ng-template>
</ng-container>
