@use 'src/scss/core' as *;

:host {
  .spindle-banner {
    @include flex(row, center, center);

    iframe {
      border-radius: var(--tui-radius-m);
    }
  }

  .boilerplate-banner {
    @include flex(row, center, center);
    background: var(--tui-base-01);

    border-radius: var(--tui-radius-m);

    img {
      object-fit: fill;
    }
  }
}
