.iframe-profile {
  position: absolute;
  bottom: -30px;

  display: flex;
  justify-content: space-between;
  width: 100%;

  &__logout-icon {
    width: 15px;
    margin-left: 15px;

    cursor: pointer;
  }
}
