@import 'src/scss/mixins';
@import 'src/scss/vars';

.instant-trade {
  display: flex;
  flex-direction: column;

  &__warning {
    position: relative;
    top: 18px;
    right: 30px;

    max-width: calc(100% - 60px);
    margin-left: auto;
  }
}

.instant-trade-form {
  display: flex;
  align-items: flex-start;

  padding: 27px 30px 29px;

  &__iframe-logo {
    position: absolute;
    top: 8px;

    height: 25px;
  }

  &_extended {
    min-height: 237px;
  }

  &_not-extended {
    min-height: initial;
  }

  &__from-section {
    flex: 4;

    &_lowered {
      margin-top: 41px;
    }
  }

  &__arrow-section {
    flex: 0.6;
  }

  &__to-section {
    flex: 6;

    .selection-block__header {
      margin-right: calc(100% / 3 + 20px);
    }
  }
}

app-tokens-swap-input:not(:last-child) {
  margin-bottom: 20px;
}

.arrow-button {
  position: relative;
  top: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: 0 auto;

  background-color: white;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  transition: transform 0.15s ease-in-out;

  img {
    transform: scale(1.1);
  }

  &_big {
    top: 64px;

    width: 42px;
    height: 42px;

    img {
      position: relative;
      left: -1px;

      transform: scale(0.8);
    }
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.grid {
  display: grid;
  grid-auto-flow: row;
  grid-template: 1fr / 2fr 1fr;

  column-gap: 25px;
  row-gap: 20px;
}

.selection-block {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 14px;
    margin-bottom: 7px;
  }

  &__label {
    position: relative;
    left: 9px;

    color: $dark;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__warning {
    margin-top: 7px;
  }

  &__custom-token-section {
    margin-top: 8px;
  }
}

.gas-fee {
  display: flex;
  margin-top: 5px;

  &__text {
    margin-right: 8px;

    opacity: 0.5;

    img {
      vertical-align: bottom;
    }
  }
}

app-tooltip {
  position: absolute;
  right: -88px;
  bottom: calc(100% - 7px);

  z-index: 10;

  font-size: 11px;

  text-align: center;

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

@include b($laptop) {
  .instant-trade-form {
    display: block;

    &__from-section_lowered {
      margin-top: 0;
      margin-bottom: 22px;
    }

    &__arrow-section {
      display: none;
    }
  }

  .selection-block {
    &__label {
      left: 0;
    }

    &__warning {
      margin-bottom: 7px;
    }
  }
}

@include b($tablet) {
  .instant-trade {
    &-form {
      &__from-section,
      &__to-section {
        padding: 20px 13px;

        box-shadow: $shadow-block;
      }

      &__to-section {
        display: flex;
        flex-direction: column;

        .instant-trade-button:nth-child(2) {
          margin-bottom: 22px;
        }
      }

      &_from-section_lowered {
        margin-bottom: 0;
      }
    }

    &-button {
      top: auto;

      &_second {
        margin-top: 22px;
      }
    }
  }

  .instant-trade-form {
    display: block;
  }

  .gas-fee {
    margin-bottom: 30px;
  }
}

@include b($mobile-sm) {
  .instant-trade {
    &__warning {
      right: 10px;

      max-width: calc(100% - 20px);
    }
  }

  .instant-trade-form {
    padding: 27px 10px 29px;
  }
}
