<div class="instant-trade">
  <div class="instant-trade__warning" *ngIf="isAnyTokenCustom()">
    <app-warning-disclaimer
      [warningText]="'Unknown token. Please check it before trading.'"
      [tooltipText]="'tradesForm.unknownTokenWarning' | translate"
    ></app-warning-disclaimer>
  </div>

  <form
    class="instant-trade-form"
    [ngClass]="{
      'instant-trade-form_extended':
        trades.length === 2 &&
        (tradeParameters.isCustomFromTokenFormOpened || tradeParameters.isCustomToTokenFormOpened),
      'instant-trade-form_not-extended':
        (trades[0]?.trade?.gasFeeInEth && trades[0]?.trade?.gasFeeInUsd) ||
        checkIfError(0) ||
        (trades.length > 1 &&
          ((trades[1]?.trade?.gasFeeInEth && trades[1]?.trade?.gasFeeInUsd) || checkIfError(1)))
    }"
    (submit)="$event.preventDefault()"
  >
    <a href="https://rubic.exchange">
      <img
        *ngIf="$isIframe | async"
        class="instant-trade-form__iframe-logo"
        alt="Rubic logotype"
        src="assets/images/rubic-logo.svg?_=2"
      />
    </a>
    <app-chain-dropdown
      [disabled]="$tokensSelectionDisabled | async"
      *ngIf="$isIframe | async"
    ></app-chain-dropdown>
    <div
      class="instant-trade-form__from-section selection-block"
      [ngClass]="{ 'instant-trade-form__from-section_lowered': trades.length === 2 }"
    >
      <div class="selection-block__header">
        <div class="selection-block__label">{{ 'common.have' | translate }}</div>

        <div *ngIf="fromToken?.address" class="selection-block__scanner">
          <app-scanner-link
            [address]="fromToken.address"
            [blockchainName]="blockchain"
            [addressType]="ADDRESS_TYPE.TOKEN"
          >
          </app-scanner-link>
        </div>
      </div>

      <app-tokens-input
        [tokensList]="availableFromTokens"
        [selectedToken]="fromToken"
        [selectedAmount]="fromAmount"
        (tokenChanges)="fromToken = $any($event)"
        (numberChanges)="fromAmount = $event"
        [amountPlaceholder]="($isIframe | async) ? 'You have' : 'Enter amount'"
        [fullWidth]="true"
        [listDisabled]="$tokensSelectionDisabled | async"
      >
      </app-tokens-input>

      <div
        class="selection-block__custom-token-section"
        [ngClass]="{ 'instant-trade-form__custom-token-section_lowered': trades.length === 2 }"
      >
        <app-custom-token-form
          type="from"
          [isSectionOpened]="tradeParameters.isCustomFromTokenFormOpened"
          (isSectionOpenedChange)="setIsCustomTokenFormOpened('from', $event)"
          [blockchain]="blockchain"
          [tokenAddress]="tradeParameters.customFromTokenAddress"
          (tokenAddressChange)="setCustomTokenAddress('from', $event)"
          (tokenIsValidated)="updateCustomToken('from', $event)"
          (addToken)="addCustomToken('from')"
        ></app-custom-token-form>
      </div>
    </div>

    <div class="instant-trade-form__arrow-section" (click)="revertTokens()">
      <button
        type="button"
        class="arrow-button"
        [ngClass]="{ 'arrow-button_big': trades.length === 2 || ($isIframe | async) }"
        aria-label="Swap tokens"
      >
        <img
          *ngIf="trades.length === 2 && ($isIframe | async) === false"
          src="assets/images/icons/RoundArrows.svg"
          width="34"
          height="30"
          alt="Swap tokens"
        />
        <img
          *ngIf="trades.length === 1 || ($isIframe | async)"
          src="assets/images/icons/revert.svg"
          width="34"
          height="30"
          alt="Swap tokens"
        />
      </button>
    </div>

    <div class="instant-trade-form__to-section">
      <div class="selection-block__header">
        <div class="selection-block__label">
          {{ 'common.get' | translate }}
          <app-refresh-tool
            class="selection-block__refresh-button"
            [refreshStatus]="refreshStatus"
            (onRefresh)="triggerRecalculateTradeParameters()"
          ></app-refresh-tool>
        </div>

        <div *ngIf="toToken?.address" class="selection-block__scanner">
          <app-scanner-link
            [address]="toToken.address"
            [blockchainName]="blockchain"
            [addressType]="ADDRESS_TYPE.TOKEN"
          >
          </app-scanner-link>
        </div>
      </div>
      <ng-container *ngFor="let tradeController of trades; let index = index">
        <app-tokens-swap-input
          *ngIf="($isIframe | async) === false"
          [tradeController]="tradeController"
          [areAdvancedOptionsValid]="areAdvancedOptionsValid"
          [index]="index"
          [trades]="trades"
          [toToken]="toToken"
          [hasBestRate]="hasBestRate"
          [blockchain]="blockchain"
          [availableToTokens]="availableToTokens"
          [(tradeParameters)]="tradeParameters"
          [selectedTradeState]="selectedTradeState"
          [waitingForProvider]="waitingForProvider"
          (tokenChangeEvent)="toToken = $any($event)"
          (customTokenFormOpeningEvent)="setIsCustomTokenFormOpened('to', $event)"
          (updateCustomTokenEvent)="updateCustomToken('to', $event)"
          (setCustomTokenAddressEvent)="setCustomTokenAddress('to', $event)"
          (addCustomTokenEvent)="addCustomToken('to')"
          (createTradeEvent)="createTrade($event)"
        ></app-tokens-swap-input>
      </ng-container>
      <app-iframe-tokens-swap-input
        *ngIf="$isIframe | async"
        [index]="bestProviderIndex"
        [trades]="trades"
        [toToken]="toToken"
        [blockchain]="blockchain"
        [availableToTokens]="availableToTokens"
        [tradeParameters]="tradeParameters"
        [selectedTradeState]="selectedTradeState"
        [waitingForProvider]="waitingForProvider"
        (tokenChangeEvent)="toToken = $any($event)"
        (createTradeEvent)="createTrade($event)"
        [disableSelection]="$tokensSelectionDisabled | async"
      ></app-iframe-tokens-swap-input>
    </div>

    <div class="flex-breaker"></div>

    <div class="instant-trade-form__advanced-options-button" *ngIf="($isIframe | async) === false">
      <app-advanced-options-button
        [(isOpened)]="areAdvancedOptionsOpened"
      ></app-advanced-options-button>
    </div>
  </form>

  <app-instant-trades-form-options
    *ngIf="areAdvancedOptionsOpened"
    [slippagePercent]="slippagePercent"
    (slippagePercentChange)="setSlippagePercent($event)"
    (areAdvancedOptionsValid)="areAdvancedOptionsValid = $event"
  ></app-instant-trades-form-options>
</div>

<app-trade-in-progress-modal
  *ngIf="
    selectedTradeState === INSTANT_TRADES_STATUS.APPROVAL ||
    selectedTradeState === INSTANT_TRADES_STATUS.TX_IN_PROGRESS
  "
>
</app-trade-in-progress-modal>

<app-trade-success-modal
  *ngIf="selectedTradeState === INSTANT_TRADES_STATUS.COMPLETED"
  [transactionId]="transactionHash"
  [blockchainName]="blockchain"
  (onClose)="onCloseModal()"
>
</app-trade-success-modal>
