@import 'src/scss/mixins';
@import 'src/scss/vars';

.instant-trade {
  display: flex;
  align-items: center;
  padding: 27px 30px 29px;

  &__from-section {
    flex: 4;

    &_aligned {
      align-self: flex-start;
    }
  }

  &__arrow-section {
    flex: 0.6;
  }

  &__to-section {
    flex: 6;
  }
}

.arrow-button {
  position: relative;
  top: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: 0 auto;

  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: transform 0.15s ease-in-out;

  img {
    transform: scale(1.1);
  }

  &_big {
    top: 6px;

    width: 42px;
    height: 42px;

    img {
      position: relative;
      left: -1px;

      transform: scale(0.8);
    }
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.grid {
  display: grid;
  grid-auto-flow: row;
  grid-template: 1fr / 2fr 1fr;

  column-gap: 25px;
  row-gap: 20px;
}

.selection-block {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 14px;
    margin-bottom: 7px;
  }

  &__label {
    position: relative;
    left: 9px;

    color: $dark;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__warning {
    position: relative;

    margin-top: 7px;

    cursor: pointer;

    &:hover {
      app-tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.gas-fee {
  display: flex;
  margin-top: 5px;

  &__text {
    margin-right: 8px;
    opacity: 0.5;

    img {
      vertical-align: bottom;
    }
  }
}

.instant-trade-button {
  position: relative;
  top: 22px;

  &_second {
    top: 1px;
  }

  &__best-rate {
    position: absolute;
    top: -40px;
    right: -10px;

    img {
      position: relative;
      top: 20px;
    }

    span {
      color: rgba(black, 0.5);
      font-size: 14px;
    }
  }
}

app-tooltip {
  position: absolute;
  right: -88px;
  bottom: calc(100% - 7px);

  z-index: 10;

  font-size: 11px;

  text-align: center;

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

@include b(960) {
  .instant-trade {
    display: block;

    &__from-section {
      margin-bottom: 22px;
    }

    &__arrow-section {
      display: none;
    }
  }

  .selection-block {
    &__label {
      left: 0;
    }

    &__warning {
      margin-bottom: 7px;
    }
  }

  .gas-fee {
    margin-bottom: 25px;
  }
}

@include b(768) {
  .instant-trade {
    &__to-section {
      display: block;

      .instant-trade-button:nth-child(2) {
        margin-bottom: 22px;
      }
    }

    &-button {
      top: auto;
    }
  }
}
