<form class="instant-trade">

  <div class="instant-trade__from-section selection-block">
    <div class="selection-block__label">
      you have
    </div>
    <app-tokens-input
      [tokensList]="availableFromTokens"
      [selectedToken]="fromToken"
      [selectedAmount]="fromAmountAsString"
      (tokenChanges)="fromToken = $any($event)"
      (numberChanges)="fromAmountAsString = $event"
    >
    </app-tokens-input>
  </div>

  <div class="instant-trade__arrow-section" (click)="revertTokens()">
    <button type="button" class="arrow-button" [ngClass]="{'arrow-button_big': trades.length === 2}">
      <img *ngIf="trades.length === 2" src="assets/images/icons/RoundArrows.svg" alt="">
      <img *ngIf="trades.length === 1" src="assets/images/icons/revert.svg" alt="">
    </button>
  </div>


  <div class="instant-trade__to-section grid">

    <ng-container *ngFor="let tradeController of trades; let index = index">
      <div class="selection-block">
        <div class="selection-block__label" *ngIf="index === 0">
          you get
        </div>
        <div class="selection-block__input-container">
          <app-tokens-input class="instant-trade__tokens-input"
                            [inputDisabled]="true"
                            [tokensList]="availableToTokens"
                            [selectedToken]="toToken"
                            [selectedAmount]="getToAmount(index)"
                            (tokenChanges)="toToken = $any($event)"
          >
          </app-tokens-input>
          <div class="gas-fee" *ngIf="tradeController.trade?.gasFeeInEth && tradeController.trade?.gasFeeInUsd">
            <span class="gas-fee__text">Estimated gas fee:
              {{tradeController.trade.gasFeeInEth.toFixed(3)}}
              ETH ≈ {{tradeController.trade.gasFeeInUsd.toFixed(1)}}$
            </span>
            <app-info-tooltip [emptyIcon]="true">
              {{'Estimated gas fee amount. It will be required to provide more gas in MetaMask to complete the trade, the extra gas will be returned after the transaction is complete.' | translate}}
            </app-info-tooltip>
          </div>
          <div class="selection-block__warning">
            <app-warning-label
              *ngIf="checkIfError(index)"
              [warningText]="'Trade in ' + tradeController.tradeProviderInfo.label + 'is not available.'">
            </app-warning-label>
          </div>
        </div>
      </div>

      <div class="instant-trade-button">
        <app-primary-button
          type="button"
          [label]="'Via ' + tradeController.tradeProviderInfo.label"
          [disabled]="
            !(tradeParameters.fromAmount && tradeParameters.toToken && tradeParameters.fromToken) ||
            !tradeController.trade ||
            shouldAnimateButton(index)
          "
          [animate]="shouldAnimateButton(index)"
        >
        </app-primary-button>
        <div class="instant-trade-button__best-rate" *ngIf="tradeController.isBestRate">
          <span>Best Rate</span>
          <img src="assets/images/icons/BestRate.svg" alt="">
        </div>
      </div>
    </ng-container>
  </div>
</form>
