<a [safetyLink]="href" class="banner">
  <div class="banner__container">
    <span class="banner__text">
      Swap to/on PulseChain, get
      <span class="banner__text_bold">$PLS</span>, <span class="banner__text_bold"> $WATT</span>, or
      <span class="banner__text_bold">$RBC</span>
      airdrops!</span
    >
    <a [safetyLink]="href" class="banner__link">
      <span class="banner__link-text">Learn more</span>
      <img src="assets/referralBanner/arrow-banner.svg" width="20" height="11" alt="Learn more" />
    </a>
  </div>
  <img
    class="banner__background-img_right"
    src="assets/referralBanner/banner-right_desktop.svg"
    alt=""
  />
</a>
