@use 'src/scss/core' as *;

.banner {
  position: relative;

  display: flex;
  justify-content: center;
  max-height: 57px;

  text-decoration: none;

  background: linear-gradient(90deg, #0ac780 0%, #5be3e3 9.66%, #e3ffff 24.85%, #f9ecff 74.28%, #c978ef 87.32%, #5d11be 95.52%);

  @include hide-unused-ui {
    display: none;
  }

  &__container {
    position: relative;
    z-index: 1;

    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 8px;
  }

  &__text {
    @include font(24px, 1, 400, #504E4E);
    margin: 0;

    letter-spacing: 1px;
    white-space: nowrap;

    &_bold {
      font-weight: bold;
    }
  }

  &__link {
    @include font(24px, 1, 400, #504E4E);
    display: flex;

    gap: 12px;
    align-items: center;
    padding: 5px 22px;

    white-space: nowrap;
    text-decoration: none;

    border: 2px solid #504e4e;
    border-radius: 50px;

    &:hover {
      img {
        transform: translateX(5px) scale(1.1);
      }
    }

    img {
      width: 10px;
      height: 15px;

      margin-top: 3px;

      transition: 100ms ease-in;
    }
  }
}

@include b($laptop-xl) {
  .banner {
    &__text {
      @include font(20px, 1, 400, #504E4E);
    }

    &__link {
      @include font(20px, 1, 400, #504E4E);
    }
  }
}

@include b(1000) {
  .banner {
    &__background-img_right,
    &__background-img_left {
      display: none;
    }
  }
}

@include b($tablet) {
  .banner {
    &__text {
      @include font(18px, 1, 400, #504E4E);
    }

    &__link {
      @include font(18px, 1, 400, #504E4E);
      padding: 5px 15px;
    }
  }
}

@include b($mobile-md) {
  .banner {
    justify-content: left;

    &__container {
      gap: 10px;
      width: 100%;
    }

    &__text {
      @include font(12px, 1, 400, #504E4E);
      text-align: left;
    }

    &__link {
      @include font(12px, 1, 400, #504E4E);
      gap: 5px;

      img {
        width: 5px;
        height: 10px;

        transition: 100ms ease-in;
      }
    }
  }
}

@include b(490) {
  .banner {
    &__text {
      white-space: initial;
    }

    &__link {
      border: 1px solid #504e4e;
    }
  }
}
