<a [safetyLink]="href" class="banner layer3-card">
  <div class="banner__container">
    <img class="banner__background-img" src="assets/banner/layer3.png" alt="layer3" />
    <span class="banner__text">
      Click to join <span class="banner__text_bold">Rubic’s Layer3 Quest on Scroll!</span>
    </span>
    <!--    <a [safetyLink]="href" class="banner__link">-->
    <!--      <span class="banner__link-text">Learn more</span>-->
    <!--      <img-->
    <!--        src="assets/referralBanner/arrow-banner-long.svg"-->
    <!--        width="20"-->
    <!--        height="11"-->
    <!--        alt="Learn more"-->
    <!--      />-->
    <!--    </a>-->
  </div>
  <!--  <img class="banner__background-img_right" src="assets/referralBanner/banner-right.png" alt="" />-->
  <!--  <img class="banner__background" src="assets/referralBanner/background.png" alt="background" />-->
</a>
