<a [safetyLink]="href" class="banner">
  <div class="banner__container">
    <img class="banner__background-img-1" src="assets/banner/bottom-tokens.png" alt="Tokens" />
    <img class="banner__background-img-2" src="assets/banner/top-tokens.png" alt="Tokens" />
    <span class="banner__text">
      Try our new app design! <span class="banner__text_thin">Full switch in 2 weeks</span>
    </span>
    <!--    <a [safetyLink]="href" class="banner__link">-->
    <!--      <span class="banner__link-text">Learn more</span>-->
    <!--      <img-->
    <!--        src="assets/banner/arrow-banner-long.svg"-->
    <!--        width="20"-->
    <!--        height="11"-->
    <!--        alt="Learn more"-->
    <!--      />-->
    <!--    </a>-->
    <img class="banner__background-img-3" src="assets/banner/selector.png" alt="Selector" />
  </div>
</a>
