@use 'src/scss/core' as *;

.banner {
  position: relative;

  display: flex;
  justify-content: center;
  max-height: 38px;
  overflow: hidden;

  text-decoration: none;

  background: linear-gradient(275deg, #33db9c 30.29%, #8b5195 80.27%), linear-gradient(90deg, #4aa956 0%, #00a2fe 100%);

  @include hide-unused-ui {
    display: none;
  }

  &__background-img {
    &_1,
    &_2,
    &_3 {
      position: absolute;
    }

    &_1 {
      top: -11px;
      left: 0;

      transform: rotate(326deg);
    }

    &_2 {
      top: -15px;
      left: 226px;

      transform: rotate(291deg) scale(0.7);
    }

    &_3 {
      top: 10px;
      left: 116px;

      transform: rotate(267deg) scale(1.2);
    }
  }

  &__container {
    position: relative;
    z-index: 1;

    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 8px;
  }

  &__text {
    @include font(25px, 1, 400, #ffffff);
    margin: 0;

    letter-spacing: 1px;
    white-space: nowrap;

    &_bold {
      font-weight: bold;
    }

    &.mobile {
      display: none;
    }
  }

  &__link {
    @include font(19px, 1, 400, #C3FFDB);
    display: flex;

    gap: 12px;
    align-items: center;

    white-space: nowrap;
    text-decoration: none;

    &:hover {
      img {
        transform: translateX(5px) scale(1.1);
      }
    }

    img {
      width: 25px;
      height: 25px;

      margin-top: 3px;

      transition: 100ms ease-in;
    }
  }
}

@include b($laptop-xl) {
  .banner {
    &__text {
      @include font(20px, 1, 400, #ffffff);
    }

    &__link {
      @include font(15px, 1, 400, #C3FFDB);
    }
  }
}

@include b(1000) {
  .banner {
    &__background-img_right,
    &__background-img_left {
      display: none;
    }
  }
}

@include b($tablet) {
  .banner {
    &__text {
      @include font(18px, 1, 400, #ffffff);

      &.mobile {
        display: inline;
      }

      &.desktop {
        display: none;
      }
    }

    &__background-img {
      &_1,
      &_2,
      &_3 {
        opacity: 0.4;
      }
    }

    &__link {
      @include font(13px, 1, 400, #C3FFDB);
    }
  }
}

@include b($mobile-md) {
  .banner {
    justify-content: left;

    &__container {
      gap: 10px;
      width: 100%;
    }

    &__text {
      @include font(15px, 1, 400, #ffffff);
      text-align: left;
    }

    &__link {
      gap: 5px;

      img {
        width: 15px;
        height: 15px;

        transition: 100ms ease-in;
      }
    }
  }
}

@include b(490) {
  .banner {
    &__text {
      white-space: initial;
    }
  }
}

@include b(420) {
  .banner {
    &__background-img {
      &_1,
      &_2,
      &_3 {
        opacity: 1;
      }

      &_1 {
        top: -3px;
        left: -20px;

        transform: rotate(326deg) scale(0.7);
      }

      &_2 {
        top: -16px;
        left: 175px;

        transform: rotate(291deg) scale(0.5);
      }

      &_3 {
        display: none;
      }
    }

    &__text {
      @include font(13px, 1, 400, #ffffff);
    }

    &__link {
      &-text {
        display: none;
      }

      img {
        width: 20px;
        height: 20px;
        margin-top: 0;
      }
    }
  }
}
