<ng-container *ngLet="points$ | async as points">
  <ng-container *ngIf="workingStatus$ | async; else noCompany">
    <app-points-container
      (handleClick)="handleWithdraw($event)"
      [points]="points"
    ></app-points-container>
    <p *ngIf="!points.participant && (currentUser$ | async)" class="not-member">
      You are not a member of Swap to Earn program:(
    </p>
    <app-claim-container *ngIf="isValid$ | async"></app-claim-container>
    <app-swap-and-earn-faq></app-swap-and-earn-faq>
  </ng-container>
  <ng-template #noCompany></ng-template>
</ng-container>
