<ng-container
  *ngLet="{
    points: points$ | async,
    isAirdropAddressValid: isAirdropAddressValid$ | async,
    isRetrodropAddressValid: isRetrodropAddressValid$ | async,
    currentTab: currentTab$ | async,
    workingStatus: workingStatus$ | async
  } as swapToEarnInfo"
>
  <ng-container *ngIf="swapToEarnInfo.workingStatus; else noCompany">
    <app-points-container
      (handleClick)="handleWithdraw($event)"
      [points]="swapToEarnInfo.points"
    ></app-points-container>
    <ng-container *ngIf="currentUser$ | async">
      <div class="drops">
        <div class="drops__tabs-container">
          <div
            class="drops__tab swap-to-earn-tab"
            [ngClass]="{
              active: swapToEarnInfo.currentTab === 'airdrop',
              disabled: !swapToEarnInfo.isAirdropAddressValid
            }"
            (click)="swapToEarnInfo.isAirdropAddressValid ? switchTab('airdrop') : null"
            [tuiHint]="swapToEarnInfo.isAirdropAddressValid ? null : SwapToEarnHint"
            tuiHintAppearance="onDark"
            tuiHintDirection="top-right"
          >
            <span class="drops__tab-text">Swap&Earn</span>
          </div>
          <div
            class="drops__tab retrodrop-tab"
            [ngClass]="{
              active: swapToEarnInfo.currentTab === 'retrodrop',
              disabled: !swapToEarnInfo.isRetrodropAddressValid
            }"
            (click)="swapToEarnInfo.isRetrodropAddressValid ? switchTab('retrodrop') : null"
            [tuiHint]="swapToEarnInfo.isRetrodropAddressValid ? null : RetrodropHint"
            tuiHintAppearance="onDark"
            tuiHintDirection="top-right"
          >
            <span class="drops__tab-text">Retrodrop</span>
          </div>
        </div>
        <div
          class="drops__container"
          [ngClass]="{
                  'full-rounded': swapToEarnInfo.currentTab === 'retrodrop',
                }"
        >
          <tui-scrollbar>
            <ng-container *ngIf="swapToEarnInfo.currentTab === 'airdrop'">
              <app-claim-container
                *ngIf="swapToEarnInfo.isAirdropAddressValid"
              ></app-claim-container>
            </ng-container>
            <ng-container *ngIf="swapToEarnInfo.currentTab === 'retrodrop'">
              <app-retrodrop-container
                *ngIf="swapToEarnInfo.isRetrodropAddressValid"
              ></app-retrodrop-container>
            </ng-container>
          </tui-scrollbar>
          <p
            *ngIf="
              !swapToEarnInfo.points.participant &&
              (currentUser$ | async) &&
              swapToEarnInfo.currentTab === 'airdrop'
            "
            class="not-member"
          >
            You are not currently a member of the SwapToEarn program. You can read more about the
            program here:
            <a
              href="https://medium.com/@cryptorubic/introducing-swap-to-earn-the-innovative-way-to-earn-crypto-tokens-8aaaa6a73341"
              target="_blank"
              rel="noreferrer"
              >Link</a
            >
          </p>
          <p
            *ngIf="
              !swapToEarnInfo.isRetrodropAddressValid &&
              (currentUser$ | async) &&
              swapToEarnInfo.currentTab === 'retrodrop'
            "
            class="not-member"
          >
            You are not a participant in the retrodrop.
          </p>
        </div>
      </div>
    </ng-container>
    <app-swap-and-earn-faq></app-swap-and-earn-faq>
  </ng-container>
  <ng-template #noCompany></ng-template>
  <ng-template #loader>
    <tui-loader style="height: 100%" [showLoader]="loading$ | async" [overlay]="true"></tui-loader>
  </ng-template>
</ng-container>

<ng-template #SwapToEarnHint>
  <div>
    You are not currently a member of the SwapToEarn program. You can read more about the program
    here:
    <a
      href="https://medium.com/@cryptorubic/introducing-swap-to-earn-the-innovative-way-to-earn-crypto-tokens-8aaaa6a73341"
      target="_blank"
      rel="noreferrer"
      >Link</a
    >
  </div>
</ng-template>
<ng-template #RetrodropHint>You are not a participant in the retrodrop.</ng-template>
