@use 'src/scss/core' as *;

:host {
  display: block;
  max-width: 860px;
}

.not-member {
  display: block;
  width: 100%;
  margin: 10px auto 100px;

  font-size: 20px;
  text-align: center;

  @include b($mobile-sm) {
    margin: 10px auto 50px;

    font-size: 16px;
  }
}

.tabs-container {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 826px;
  height: 280px;
  margin: 0 auto 40px;
  padding: 13px;

  font-weight: 700;
  font-size: 16px;

  background: var(--form-background);
  border: 1px solid var(--transparent-line);
  border-radius: 0 $border-radius-2 $border-radius-2 $border-radius-2;

  &__switcher-container {
    position: absolute;
    top: -63px;
    left: -1px;

    display: flex;
    gap: 20px;
  }

  &__tab {
    position: relative;

    padding: 20px 50px;

    border: 1px solid var(--transparent-line);
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    cursor: pointer;

    &.disabled {
      cursor: default;
    }

    &.active {
      background: var(--form-background);
      border-bottom: 2px solid var(--form-background);

      //&::after {
      //  position: absolute;
      //  content: "";
      //  bottom: -2px;
      //  right: -16px;
      //  width: 15px;
      //  height: 15px;
      //  border-bottom-left-radius: 50%;
      //  border-left: 1px solid var(--transparent-line);
      //  border-bottom: 1px solid var(--transparent-line);
      //  background: #181A1B;
      //}
    }

    //&:last-child {
    //  &::before {
    //    z-index: 1;
    //    position: absolute;
    //    content: "";
    //    bottom: 0;
    //    left: -16px;
    //    width: 15px;
    //    height: 15px;
    //    border-bottom-right-radius: 50%;
    //    border-right: 1px solid var(--transparent-line);
    //    border-bottom: 1px solid var(--transparent-line);
    //    background: #181A1B;
    //  }
    //}
  }
}

//.tab-decorator {
//  position: absolute;
//  width: 15px;
//  height: 15px;
//  bottom: -2px;
//  right: -15px;
//  background: var(--form-background);
//
//  &_left {
//    right: initial;
//    left: -15px;
//    background: #181A1B;
//  }
//}
