@use 'src/scss/core' as *;

:host {
  display: block;
  max-width: 860px;
}

.not-member {
  display: block;
  width: 100%;
  margin: 10px auto 100px;

  font-size: 20px;
  text-align: center;

  @include b($mobile-sm) {
    margin: 10px auto 50px;

    font-size: 16px;
  }
}
