@use 'src/scss/core' as *;

:host {
  display: block;
  max-width: 860px;
}

.not-member {
  display: block;
  width: 100%;
  margin: auto;

  font-size: 20px;
  text-align: center;

  @include b($mobile-sm) {
    font-size: 16px;
  }
}

.tabs {
  position: relative;

  max-width: 826px;
  margin: 0 auto;
}

.tabs-container {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 280px;
  margin: 0 auto 40px;
  padding: 13px;

  font-weight: 700;
  font-size: 16px;

  background: var(--form-background);
  border: 1px solid var(--transparent-line);
  border-radius: 0 $border-radius-2 $border-radius-2 $border-radius-2;

  &.full-rounded {
    border-radius: $border-radius-2;
  }

  &__switcher-container {
    position: absolute;
    top: -39px;
    left: 0;

    display: flex;
    gap: 0;
    width: 100%;
  }

  &__tab {
    position: relative;

    padding: 8px 30px 30px;

    font-size: 14px;

    border: 1px solid var(--swap-and-earn-tabs-border);
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
    cursor: pointer;

    &.disabled {
      cursor: default;
    }

    &.retro.active::before {
      left: -6px;

      background: linear-gradient(90deg, var(--primary-background) 50%, var(--form-background) 50%);
    }

    &.sen.active::before {
      right: -6px;

      background: linear-gradient(-90deg, var(--primary-background) 50%, var(--form-background) 50%);
    }

    &.active {
      background: var(--form-background);
      border-bottom: 2px solid var(--form-background);

      &::before {
        position: absolute;
        bottom: 20px;
        z-index: 1;

        width: 10px;
        height: 22px;

        content: '';
      }

      &::after {
        position: absolute;
        right: 0;
        bottom: 17px;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 5px;

        background: var(--form-background);

        content: '';
      }
    }
  }
}

@include b($mobile-md) {
  .tabs-container {
    &.full-rounded {
      border-radius: $border-radius-2 0 $border-radius-2 $border-radius-2;
    }

    &__tab {
      width: 50%;

      text-align: center;
    }
  }
}
