<ng-container *ngLet="approveData$ | async as data">
  <div>
    <h4>Token information</h4>
    <p>
      Name:
      <span [class.tui-skeleton]="loading"
        ><img [src]="data?.image" [alt]="data?.symbol" /> {{ data?.symbol }}</span
      >
    </p>
    <p>
      Address: <span [class.tui-skeleton]="loading">{{ data?.address }}</span>
    </p>

    <h4>Contract information</h4>
    <p>
      Address: <span [class.tui-skeleton]="loading">{{ data?.spender }}</span>
    </p>
    <p>
      Allowance: <span [class.tui-skeleton]="loading">{{ data?.allowance }}</span>
    </p>
    <button
      tuiButton
      [disabled]="loading || data?.allowance === '0'"
      [showLoader]="loading"
      size="m"
      appearance="primary"
      (click)="handleRevoke()"
    >
      {{ data?.allowance === '0' ? 'Approve already revoked' : 'Revoke approve' }}
    </button>
  </div>
</ng-container>
