<div class="title">Limit Orders</div>

<tui-loader
  class="loader"
  *ngLet="loading$ | async as loading"
  [showLoader]="loading"
  [overlay]="true"
>
  <ng-container *ngLet="orders$ | async as orders">
    <ng-container *ngIf="orders.length > 0; else noOrders">
      <ng-container *ngIf="(isMobile$ | async) === false; else mobileRecentTrades">
        <table class="table">
          <tbody>
            <tr class="table__tr table__tr_head">
              <th class="table__th">From</th>
              <th class="table__th">To</th>
              <th class="table__th">Expiration</th>
              <th class="table__th"></th>
            </tr>
            <tui-scrollbar class="table__tui-scrollbar">
              <cdk-virtual-scroll-viewport
                class="table__scrollbar tui-zero-scrollbar"
                tuiScrollable
                itemSize="67"
              >
                <tr
                  *ngFor="let order of orders"
                  order-row
                  [order]="order"
                  mode="order-row"
                  (onClose)="onClose()"
                ></tr>
              </cdk-virtual-scroll-viewport>
            </tui-scrollbar>
          </tbody>
        </table>
      </ng-container>

      <ng-template #mobileRecentTrades>
        <tui-scrollbar>
          <div class="list">
            <div *ngFor="let order of orders" order-row [order]="order" mode="mobile"></div>
          </div>
        </tui-scrollbar>
      </ng-template>
    </ng-container>
  </ng-container>

  <ng-template #noOrders>
    <div class="no-orders" *ngIf="!loading">
      <div class="no-orders__title">You don't have any limit orders yet</div>
      <app-rubic-button
        class="no-orders__navigate"
        appearance="secondary"
        (onClick)="navigateToLimitOrder()"
      >
        Create Now
      </app-rubic-button>
    </div>
  </ng-template>
</tui-loader>
