@use 'src/scss/core' as *;

:host-context(tui-dropdown-box) {
  border-radius: 16px;
}

.container {
  position: relative;

  width: 360px;
  padding: 22px 15px 47px;

  background: var(--form-background);

  &__close-button {
    position: absolute;
    top: 0;
    right: 0; // todo
  }

  &__header {
    margin-bottom: 23px;

    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.06em;
  }

  &__set-button {
    display: block;
    margin: 16px 0 8px;
  }

  app-rubic-button {
    &::ng-deep {
      --tui-height-l: 45px;
    }
  }
}

.inputs {
  &__title {
    display: block;
    margin-bottom: 10px;

    color: var(--secondary-text);
  }

  &__flex {
    display: flex;
    grid-gap: 16px;
  }
}

.input {
  position: relative;

  width: 100%;
  height: 40px;

  &__title {
    position: absolute;
    top: 50%;
    right: 16px;

    color: var(--secondary-text);
    letter-spacing: 0.06em;

    transform: translateY(-50%);
  }

  &::ng-deep {
    tui-primitive-textfield {
      --tui-height-l: 40px;

      input {
        padding: 0 63px 0 16px !important;
      }
    }
  }

  &_minutes {
    &::ng-deep {
      tui-primitive-textfield {
        input {
          padding: 0 76px 0 16px !important;
        }
      }
    }
  }
}
