@use 'src/scss/core' as *;

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 14px;

  &__line {
    width: 100%;
    height: 2px;

    background-color: var(--tui-link);
    border-radius: 5px;

    transition: 0.3s ease-in-out;

    transition-property: opacity, transform;
  }

  &_opened {
    .burger-menu__line {
      &:first-child {
        transform: translateY(6px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}

@media (min-width: 3840px) {
  .burger-menu {
    width: 30px;
    height: 24px;

    &__line {
      height: 4px;
    }

    &_opened {
      .burger-menu__line {
        &:first-child {
          transform: translateY(10px) rotate(45deg);
        }

        &:last-child {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }
}
