@use 'src/scss/core' as *;

.widget-container {
  position: relative;

  height: 660px;

  background: var(--form-background);
  border-radius: 19px;

  iframe {
    border-radius: 19px;
  }

  &__back-button {
    position: absolute;
    top: 0;
    left: -55px;

    ::ng-deep app-rubic-button {
      .t-wrapper {
        background: var(--form-background);
      }
    }
  }
}

@include b($tablet) {
  .widget-container {
    &__back-button {
      display: none;
    }
  }
}
