<app-rubic-button
  *ngIf="needLogin$ | async; else stakeBtn"
  appearance="secondary"
  (onClick)="onLogin.emit()"
>
  {{ 'navigation.login' | translate }}
</app-rubic-button>

<ng-template #stakeBtn>
  <app-rubic-button
    *ngIf="needChangeNetwork$ | async; else enterStake"
    (click)="switchNetwork()"
    appearance="secondary"
  >
    Switch network
  </app-rubic-button>
  <ng-template #enterStake>
    <ng-container *ngLet="needApprove$ | async as needApprove">
      <app-rubic-button
        *ngLet="errorType$ | async as errorType"
        [disabled]="errorType | falsy"
        [loading]="loading"
        appearance="secondary"
        (onClick)="onStake(needApprove && !approvedTokens)"
      >
        <ng-container [ngSwitch]="errorType">
          <ng-container *ngSwitchCase="errorTypeEnum.INSUFFICIENT_BALANCE">
            <span class="error-button">{{ 'errors.InsufficientBalance' | translate }}</span>
          </ng-container>
          <ng-container *ngSwitchCase="errorTypeEnum.EMPTY_AMOUNT">
            {{ 'errors.noEnteredAmount' | translate }}
          </ng-container>
          <ng-container *ngSwitchCase="errorTypeEnum.LIMIT">
            <span class="error-button" *ngLet="limit$ | async as limit">{{
              'staking.stake.overLimit'
                | translate: { max: limit.max | bigNumberFormat, min: limit.min }
            }}</span>
          </ng-container>
          <ng-container *ngSwitchCase="null">
            <ng-container *ngIf="(needApprove$ | async) && !approvedTokens; else confirmStake"
              >Approve</ng-container
            >
            <ng-template #confirmStake>
              {{ 'staking.stake.confirmStake' | translate }}
            </ng-template>
          </ng-container>
        </ng-container>
      </app-rubic-button>
    </ng-container>
  </ng-template>
</ng-template>
