<div class="cross-chain-swaps">
  <div class="cross-chain-swaps__intro">
    Trading Re<span class="app-index__intro_green app-index__intro_bold">DeFi</span>ned
  </div>

  <div class="cross-chain-swaps__header header">
    <span>{{ 'bridgePage.title' | translate }}</span>

    <a routerLink="/" class="header__swaps-link swaps-link">
      <span class="swaps-link__text">{{ 'bridgePage.swapToggleText' | translate }}</span>
      <div class="swaps-link__arrow-button">
        <img src="assets/images/icons/arrow/arrow-right-green.svg" alt="Arrow" />
      </div>
    </a>
  </div>

  <ul class="cross-chain-swaps__tabs">
    <li class="tabs__tab tab" routerLink="bridge" routerLinkActive="tab_active">
      <span>{{ 'bridgePage.bridge' | translate }}</span>
      <div
        class="tab__icon"
        routerLinkActive="tab__icon_active"
        inlineSVG="assets/images/icons/cross-chain-swaps/bridge.svg"
      ></div>
    </li>
    <li class="tabs__tab tab" routerLink="get-bnb" routerLinkActive="tab_active">
      <span>{{ 'bridgePage.getBNB' | translate }}</span>
      <div
        class="tab__icon"
        routerLinkActive="tab__icon_active"
        inlineSVG="assets/images/icons/cross-chain-swaps/get-bnb.svg"
      ></div>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
