.route-element {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__provider-data-info {
    display: flex;
  }

  &__provider-icon {
    width: 24px;
    height: 24px;
    margin-right: var(--tui-padding-s);
  }

  &__provider-rate {
    display: flex;
    gap: var(--tui-padding-xs);

    color: var(--tui-text-03);
    font-size: 12px;

    > div {
      display: flex;
      gap: var(--tui-padding-xs);
      align-items: center;
    }

    img {
      height: 10px;
    }
  }

  &__provider-name {
    color: var(--tui-text-01);
    font-size: 15px;
  }
}

@media (min-width: 2560px) {
  .element {
    &__provider-data {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .route-element {
    gap: 16px;

    &__provider-name {
      font-size: 18px;
    }

    &__provider-icon {
      width: 30px;
      height: 30px;
      margin-right: var(--tui-padding-m);
    }

    &__provider-rate {
      gap: var(--tui-padding-s);

      font-size: 15px;
    }
  }
}

@media (min-width: 3840px) {
  .element {
    &__provider-data {
      gap: 12px;
    }
  }

  .route-element {
    gap: 20px;

    &__provider-name {
      font-size: 26px;
    }

    &__provider-icon {
      width: 35px;
      height: 35px;
      margin-right: var(--tui-padding-l);
    }

    &__provider-rate {
      gap: var(--tui-padding-m);

      font-size: 22px;

      > div {
        gap: var(--tui-padding-m);
      }

      img {
        height: 15px;
      }
    }
  }
}
