.route-element {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__provider-data-info {
    display: flex;

    @media (min-width: 4096px) {
      gap: 12px;
      align-items: center;
      margin-left: 20px;
    }
  }

  &__provider-icon {
    width: 24px;
    height: 24px;
    margin-right: var(--tui-padding-s);

    @media (min-width: 2048px) {
      width: 30px;
      height: 30px;
    }

    @media (min-width: 4096px) {
      width: 50px;
      height: 50px;
    }
  }

  &__provider-rate {
    display: flex;
    gap: var(--tui-padding-xs);

    color: var(--tui-text-03);
    font-size: 12px;

    @media (min-width: 2048px) {
      font-size: 14px;
    }

    @media (min-width: 4096px) {
      font-size: 30px;
      line-height: 30px;
    }

    > div {
      display: flex;
      gap: var(--tui-padding-xs);
      align-items: center;
    }

    img {
      height: 10px;
    }
  }

  &__provider-name {
    color: var(--tui-text-01);
    font-size: 15px;

    @media (min-width: 2048px) {
      font-size: 17px;
    }

    @media (min-width: 4096px) {
      margin-bottom: 12px;

      font-size: 32px;
      line-height: 32px;
    }
  }
}
