.route-element {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__provider-data-info {
    display: flex;
  }

  &__provider-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  &__provider-rate {
    display: flex;
    gap: var(--tui-padding-xs);

    color: var(--tui-text-03);
    font-size: 12px;

    > div {
      display: flex;
      gap: var(--tui-padding-xs);
      align-items: center;
    }

    img {
      height: 10px;
    }
  }

  &__provider-name {
    color: var(--tui-text-01);
    font-size: 15px;
  }
}
