.base-block-content {
  box-sizing: border-box;
  background-attachment: fixed;
}

.contract-title {
  font-size: 25px;
  line-height: 30px;
  color: #000;
  font-weight: bold;
}
.preview-container {
  padding: 19px 15px;
  color: #000000;
  &_title {
    font-size: 28px;
    line-height: 38px;
    font-weight: 600;
  }
  + .preview-container {
    &:not(.closed) {
      margin-top: 5px;
    }
  }
  &_reminder {
    position: relative;
    transition: all linear 0.1s;
    box-sizing: border-box;
    &.closed {
      height: 0;
      opacity: 0;
      overflow: hidden;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    &__title {
      font-size: 24px;
      line-height: 27px;
      font-weight: bold;
    }
    &__description {
      margin-top: 10px;
      font-size: 18px;
      line-height: 18px;
    }
    &__list {
      font-size: 18px;
      line-height: 18px;
      margin: 8px 0 0;
      padding: 0;
      list-style-type: none;
      .copy-text {
        &.copied {
          &:after {
            font-weight: 100;
            content: 'copied';
            display: inline-block;
            padding: 5px 10px;
            margin: -5px 10px;
            border-radius: 2px;
            background-color: rgba(0, 0, 0, 0.3);
            color: #fff;
            vertical-align: bottom;
          }
        }
      }
      .as_link {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          color: #fcd600;
        }
      }
      li {
        margin: 0 0 0 37px;
        padding: 8px;
        counter-increment: ReminderItem;
        overflow: visible;
        position: relative;
        &:before {
          content: counter(ReminderItem);
          display: block;
          position: absolute;
          top: 3px;
          left: -37px;
          border: 1px solid #fcd600;
          width: 22px;
          height: 22px;
          font-size: 16px;
          line-height: 25px;
          text-align: center;
        }
      }
    }
    &__closer {
      position: absolute;
      right: 10px;
      top: 10px;
      background: none;
      border: 0 none;
      width: 16px;
      height: 16px;
      padding: 6px 0;
      cursor: pointer;
      &:after,
      &:before {
        display: block;
        content: '';
        height: 1px;
        background: #fff;
        position: relative;
      }
      &:after {
        top: -1px;
        transform: rotate(45deg);
      }
      &:before {
        transform: rotate(-45deg);
      }
    }
  }
}

.revert-btn {
  display: inline-block;
  border: 0 none;
  padding: 0;
  width: 28px;
  text-align: center;
  line-height: 28px;
  margin-left: 10px;
  vertical-align: middle;
  background-color: rgba(216, 216, 216, 0.26);
  cursor: pointer;
  position: relative;
  top: -2px;
  img {
    margin-top: -2px;
    width: 14px;
    vertical-align: middle;
  }
}
.all-tokens-info-row {
  .one-token-info-cell {
    padding: 0 7px;
  }
  .btn-refund {
    background: #ffffff;
    height: 62px;
    color: #000;
    border: none;
    font-weight: 300;
    margin-top: 15px;
  }
}
.rate-info {
  padding: 7px 0;
  display: block;
  margin-top: 0;
}

.tokens-info-block {
  padding: 15px 0px 0px;
  background-color: white;
  &_filled {
    // padding: 0 0px 15px;
    // border-bottom: 1px solid #f4f4f4;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    &-wrapper {
      // display: flex;
      // justify-content: space-between;
    }
    &__count {
      font-size: 40px;
      line-height: 46px;
      color: #000;
      padding: 2px 30px 10px 30px;
      border-bottom: 1px solid #f4f4f4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--right {
        text-align: right;
      }
    }
    &_item {
      // width: 48%;
      display: flex;
      align-items: center;
      &.left {
        // padding-right: 40px;
        div {
          color: #000 !important;
          opacity: 0.5 !important;
        }
      }
      &.send {
        // color: #2873fb;
        div {
          opacity: 0.5;
        }
      }
      // &:first-child {
      //   text-align: left;
      //   float: left;
      // }
      // &:last-child {
      //   text-align: right;
      //   float: right;
      // }
    }
    &_item.left &__text {
      color: rgba(255, 255, 255, 0.5);
    }
    &_item.left &__complete {
      color: rgba(255, 255, 255, 0.7);
    }
    &__text {
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      min-width: 30px;
      text-align: left;
    }
    &__complete {
      margin-left: 6px;
      font-size: 17px;
      line-height: 20px;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
    }
  }

  &_progress {
    height: 5px;
    background-color: rgba(255, 255, 255, 0.27);
    span {
      display: block;
      height: 100%;
      float: left;
      background-color: #4aa956;
      transition: all linear 0.2s;
    }
  }
}

.token-info {
  padding: 20px 30px 45px 30px;
  line-height: 52px;
  display: flex;
  justify-content: space-between;
  &--reverse {
    flex-direction: row-reverse;
    .token-info__wrapper {
      display: flex;
      flex-direction: row-reverse;
    }
    .token-info_icon {
      margin-left: 18px;
      margin-right: 0;
    }
    .token-info_texts__name {
      text-align: right;
    }
    .token-info_investments__number {
      text-align: left;
    }
  }
  &_icon {
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    border-radius: 50%;
    float: left;
    margin-right: 18px;
    background: #f7f7f7 no-repeat center center;
    background-size: 80%;
    img {
      vertical-align: middle;
      max-height: 80%;
    }
  }
  &_texts {
    padding: 4px 0;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    &__name {
      font-size: 16px;
      color: #000;
      letter-spacing: -0.43px;
      font-weight: bold;
      line-height: 19px;
    }
    &__address {
      margin-top: 4px;
      font-size: 18px;
      color: #2873fb;
      line-height: 22px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      a:not(.new-btn):not(.btn):not(.minimal-btn) {
        display: flex;
        align-items: center;
        img {
          margin-top: -4px;
        }
      }
    }
  }
  &_investments {
    line-height: 36px;
    display: flex;
    flex-direction: column;
    &__number {
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
      color: #000000;
      margin-bottom: 0px;
      margin-top: -6px;
      text-align: right;
    }
    &__desc {
      display: inline-block;
      vertical-align: middle;
      line-height: 16px;
      font-size: 14px;
      margin: -2px 0 auto;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.contract-buttons {
  padding: 0px 30px 0 30px;
  &--wei {
    padding-bottom: 20px;
  }
  &.no-bottom-margin {
    margin-bottom: 0;
  }
  &.bottom-correct {
    margin-bottom: -20px;
  }
  input {
    height: 50px;
  }
  .normal-text {
    color: #000;
  }
}

.contract-info-block {
  margin-top: 15px;
  background: #ffffff;
  padding: 30px 40px 10px 30px;
  .form-field_value {
    color: #000;
    display: flex;
  }
  .copy-btn {
    top: 0;
  }
}
.one-separated-block {
  border-top: 1px dashed rgba(255, 255, 255, 0.25);
  margin: 0 -15px;
  padding: 15px;
  &:last-child {
    margin-bottom: -14px;
  }
}

.one-token-info-cell {
  position: relative;
}

.exchange-ico {
  position: absolute;
  left: 0;
  margin-left: -28px;
  top: 45px;
}

@media screen and (max-width: 680px) {
  .preview-container,
  .tokens-info-block,
  .one-separated-block,
  .contract-buttons {
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .tokens-info-block_progress,
  .one-separated-block,
  .contract-buttons {
    margin-left: -2vw;
    margin-right: -2vw;
  }
  .one-token-info-cell {
    + .one-token-info-cell {
      margin-top: 15px;
    }
  }
  .tokens-info-block_filled__count {
    font-size: 7.5vw;
    line-height: initial;
  }
  .exchange-ico {
    left: 50%;
    top: 0;
    margin-top: -20px;
    margin-left: -26px;
    transform: rotate(90deg);
  }
}

.contact-buttons {
  .btn {
    width: 33%;
    margin-right: 1%;
    display: inline-block;
    line-height: 42px;
  }
}

.warning-coin {
  font-size: 16px;
  line-height: 16px;
  color: #61b9df;
  margin: 15px 0;
  &_icon,
  &_text {
    display: inline-block;
    vertical-align: middle;
  }
  &_icon {
    margin-right: 10px;
  }
}

.cmc-rate-notice {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
  border-top: 1px dashed rgba(255, 255, 255, 0.25);
  padding: 14px 8px 14px 45px;
  font-size: 14px;
  line-height: 14px;
  span {
    position: relative;
    top: 2px;
  }
  &__positive {
    background: url('/assets/images/icons/positive-rate.svg') 5px center
      no-repeat;
    color: #2bcf78;
  }
  &__negative {
    background: url('/assets/images/icons/negative-rate.svg') 5px center
      no-repeat;
    color: #da7b83;
  }
}

.cmc-rate {
  white-space: nowrap;
}
.cmc-rate-icon {
  width: 24px;
  vertical-align: top;
  margin-right: 10px;
}
.c-preview {
  &__rate {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
