.base-block-content {
  box-sizing: border-box;
  background-attachment: fixed;
}

.contract-title {
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  font-weight: bold;
}
.preview-container {
  padding: 19px 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

.revert-btn {
  display: inline-block;
  border: 0 none;
  padding: 0;
  width: 28px;
  text-align: center;
  line-height: 28px;
  margin-left: 10px;
  vertical-align: middle;
  background-color: rgba(216, 216, 216, 0.26);
  cursor: pointer;
  img {
    margin-top: -2px;
    width: 14px;
    vertical-align: middle;
  }
}

.rate-info {
  padding: 7px 0;
  display: block;
  margin-top: 0;
}

.tokens-info-block {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px 20px;
  border-top: 1px dashed rgba(255, 255, 255, 0.25);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
  transition: all 0.2s;
  opacity: 0.9;
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.95;
  }
  .active-side-info & {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    //transform: scale(1.02);
  }
  &_filled {
    padding-bottom: 11px;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    &__count {
      font-size: 50px;
      font-weight: bold;
      line-height: 61px;
      color: #fff;
    }
    &_item {
      width: 48%;
      &.send {
        color: #FCD600;
      }
      &:first-child {
        text-align: left;
        float: left;
      }
      &:last-child {
        text-align: right;
        float: right;
      }
    }
    &_item.left &__text {
      color: rgba(255, 255, 255, 0.5);
    }
    &_item.left &__complete {
      color: rgba(255, 255, 255, 0.7);
    }
    &__text {
      margin-top: 9px;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
    }
    &__complete {
      margin-top: 3px;
      font-size: 17px;
      line-height: 20px;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
    }
  }

  &_progress {
    height: 5px;
    background-color: rgba(255, 255, 255, 0.27);
    margin: 0 -20px;
    span {
      display: block;
      height: 100%;
      float: left;
      background-color: #FCD600;
      transition: all linear 0.2s;
    }
  }
}

.token-info {
  padding: 20px 0;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  &_icon {
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    border-radius: 50%;
    float: left;
    margin-right: 18px;
    background: #fff no-repeat center center;
    background-size: 80%;
    img {
      vertical-align: middle;
      max-height: 80%;
    }
  }
  &_texts {
    padding: 4px 0;
    &__name {
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: -0.43px;
      font-weight: bold;
      line-height: 19px;
    }
    &__address {
      margin-top: 4px;
      font-size: 18px;
      color: #FFFFFF;
      line-height: 22px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &_link {
        padding: 20px 0;
        font-size: 17px;
        line-height: 20px;
        clear: both;
        word-break: break-all;
      }
    }
  }
  &_investments {
    line-height: 34px;
    margin-top: 25px;
    &__number {
      font-size: 35px;
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      margin-right: 15px;
    }
    &__desc {
      display: inline-block;
      vertical-align: middle;
      line-height: 16px;
      font-size: 14px;
      margin: -2px 0 auto;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.contract-buttons {
  border-top: 1px dashed rgba(255, 255, 255, 0.25);
  margin: 0 -20px -8px;
  padding: 20px;
  &.no-bottom-margin {
    margin-bottom: 0;
  }
  &.bottom-correct {
    margin-bottom: -20px;
  }
}

.contract-info-block {
  margin-top: 35px;
}
.one-separated-block {
  border-top: 1px dashed rgba(255, 255, 255, 0.25);
  margin: 0 -15px;
  padding: 15px;
  &:last-child {
    margin-bottom: -14px;
  }
}

.one-token-info-cell {
  position: relative;
}

.exchange-ico {
  position: absolute;
  left: 0;
  margin-left: -20px;
  top: 46px;
}

@media screen and (max-width: 680px) {
  .preview-container,
  .tokens-info-block,
  .one-separated-block,
  .contract-buttons {
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .tokens-info-block_progress,
  .one-separated-block,
  .contract-buttons {
    margin-left: -2vw;
    margin-right: -2vw;
  }
  .one-token-info-cell {
    + .one-token-info-cell {
      margin-top: 15px;
    }
  }
  .tokens-info-block_filled__count {
    font-size: 7.5vw;
    line-height: initial;
  }
  .exchange-ico {
    left: 50%;
    top: 0;
    margin-top: -20px;
    margin-left: -26px;
    transform: rotate(90deg);
  }
}


.contact-buttons {
  .btn {
    width: 33%;
    margin-right: 1%;
    display: inline-block;
    line-height: 42px;
  }
}

.info-modal-text {
  text-align: left;
  font-weight: 100;
  font-size: 16px;
  line-height: 22px;
  b {
    font-weight: bold;
    text-transform: uppercase;
  }
}

