<div *ngIf="!isMobile" class="tokens-list__search-bar-container">
  <app-search-tokens-bar
    [searchQuery]="tokensSearchQuery"
    [totalBlockchains]="totalBlockchains"
    (queryChange)="onTokenSearch.emit($event)"
  ></app-search-tokens-bar>
  <app-switch-list-type-button
    [assetListType]="listType"
    (switchListType)="switchMode.emit()"
  ></app-switch-list-type-button>
</div>

<app-tokens-list-filters
  *ngIf="isUtility"
  [assetListType]="listType"
  (onSelect)="selectTokenFilter($event)"
>
</app-tokens-list-filters>

<tui-scrollbar
  class="tokens-container"
  [ngClass]="{
    'large-iframe-token-container': useLargeIframe,
    'tokens-container__all-chains': isUtility
  }"
>
  <tui-loader [showLoader]="loading" [overlay]="true">
    <ng-container *ngIf="customToken === null; else customTokenTmpl">
      <!--standard mode -->
      <div class="tokens-container__empty-list" *ngIf="!_tokensToShow?.length; else tokenList">
        <app-empty-list
          [assetListType]="listType"
          [hasQuery]="!!tokensSearchQuery?.length"
          (listSwitch)="switchMode.emit()"
        ></app-empty-list>
      </div>

      <ng-template #tokenList>
        <ul id="list-wrapper" class="tokens-list">
          <cdk-virtual-scroll-viewport
            tuiScrollable
            itemSize="50"
            class="tokens-scrollbar tui-zero-scrollbar"
            [ngClass]="{ 'tokens-scrollbar__empty': !_tokensToShow?.length }"
            [style.overflow]="loading ? 'hidden' : 'auto'"
          >
            <li
              *cdkVirtualFor="
                let token of _tokensToShow;
                let i = index;
                templateCacheSize: 0;
                trackBy: trackByFn
              "
              class="tokens-list__item"
              [ngClass]="{ 'tokens-list__item_disabled': !token.available }"
              [tuiHint]="!token.available ? disabledTokenHint : null"
              tuiHintAppearance="error"
              tuiHintDirection="bottom-right"
            >
              <app-tokens-list-element
                [token]="token"
                [listType]="listType"
                [balanceLoading]="balanceLoading"
                (selectToken)="onTokenSelect(token)"
              ></app-tokens-list-element>
            </li>
          </cdk-virtual-scroll-viewport>
        </ul>
      </ng-template>
    </ng-container>
    <!--standard mode -->

    <ng-template #customTokenTmpl>
      <app-custom-token [listType]="listType" [customToken]="customToken"></app-custom-token>
    </ng-template>
  </tui-loader>
</tui-scrollbar>

<ng-template #disabledTokenHint>
  <div>
    {{ 'modals.tokensListModal.clearParamsHint' | translate }}
  </div>
</ng-template>
