@use 'src/scss/core' as *;

:host {
  width: 100%;

  @include b($mobile-md) {
    ::ng-deep tui-scroll-controls .t-bar {
      right: -14px !important;
    }
  }
}

.tokens-container {
  position: relative;

  height: 469px;
  padding: 10px;

  background: var(--io-background);
  border-bottom-right-radius: var(--tui-radius-m);
  border-bottom-left-radius: var(--tui-radius-m);

  @include b($mobile-md) {
    height: 67vh;
    padding: var(--tui-padding-l);

    background: none;
    border-radius: 0;

    &__all-chains {
      height: 60vh !important;
    }
  }

  &__all-chains {
    height: 413px;
  }

  &__empty-list {
    position: relative;

    margin-top: 20px;

    &_metis {
      margin: 0 20px;

      font-size: 16px;
    }
  }

  ::ng-deep .t-content {
    height: 100%;

    @include b($mobile-md-minus) {
      height: calc(100% - 10px);
    }
  }
}

tui-loader {
  height: 100%;
}

.token-list-wrapper {
  height: 100%;
}

.tokens-list {
  height: 100%;
  padding-right: 15px;

  @include b($mobile-md) {
    padding: 0;
  }

  &__search-bar-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 2px;

    app-search-tokens-bar {
      flex: 1;
    }

    ::ng-deep {
      .tui-autofill {
        background-color: var(--io-background);
        border-radius: 0;
        border-top-left-radius: var(--tui-radius-m);
      }
    }

    ::ng-deep button {
      .t-wrapper {
        background-color: var(--io-background);
        border-radius: 0;
        border-top-right-radius: var(--tui-radius-m);
      }
    }
  }

  &__item {
    border-radius: var(--tui-radius-m);

    cursor: pointer;

    @include b($mobile-md) {
      background-color: transparent;
      border: 1px solid var(--transparent-line);
    }

    &:hover {
      background-color: var(--transparent-line);
    }

    &_disabled {
      cursor: not-allowed;
      opacity: 0.4;

      &:hover {
        background-color: unset;
      }
    }

    &_empty {
      display: flex;
      justify-content: center;

      font-size: 18px;

      &:hover {
        background-color: unset;
      }
    }
  }
}

.tokens-scrollbar {
  height: 100%;
  overflow-x: hidden !important;

  ::ng-deep {
    .cdk-virtual-scroll-content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
  }
}

.vertical-frame-link {
  border: 2px solid var(--primary-color);

  a {
    display: block;
    width: 100%;
    height: 100%;

    line-height: 30px;
    text-align: center;
  }

  &:hover {
    background-color: unset;
  }
}

.large-iframe-token-container {
  height: 430px;
}

@include b($mobile-md) {
  app-tokens-list-filters {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
