@use 'src/scss/core' as *;

.io-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tui-padding-m);
  justify-content: center;
  padding: var(--tui-padding-l);

  background: var(--io-background);
  border-radius: var(--tui-radius-m);

  transition: 0.2s ease-in-out;

  &_round {
    &-top {
      padding-bottom: var(--tui-padding-s);

      border-radius: var(--tui-radius-m) var(--tui-radius-m) 0 0;
    }

    &-bottom {
      padding-top: var(--tui-padding-s);

      border-radius: 0 0 var(--tui-radius-m) var(--tui-radius-m);
    }

    &-all {
      border-radius: var(--tui-radius-s);
    }

    &-none {
      padding-top: var(--tui-padding-s);

      border-radius: 0;
    }
  }
}

.io-left,
.io-right,
.io-bottom {
  &:not(:has(*)) {
    display: none;
  }
}

.io-left,
.io-right {
  display: flex;
  flex: 1;
  align-items: center;
}

.io-bottom {
  flex-basis: 100%;
}

@include b($mobile-md) {
  .io-container {
    padding: 25px var(--tui-padding-l);
  }

  .io-right {
    justify-content: flex-end;
  }

  .io-bottom {
    margin-top: 5px;
  }
}
