@import '../../../../../../styles';

.swaps-info {
  display: flex;
  flex-direction: column;
  grid-gap: 11px;

  padding: 20px 43px;

  color: var(--rubic-base-16);

  background-color: var(--main-form-background);
  border-radius: 19px;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
  }

  &__content {
    font-size: 16px;
  }

  &__title-hint {
    margin-right: 20px;

    &::ng-deep svg {
      width: 20px;
      height: 20px;
    }
  }
}

.swaps-info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 16px;
  line-height: 18px;

  &__title {
    display: flex;
    align-items: center;
    max-width: 200px;
  }

  &__title-hint {
    margin-left: 10px;

    cursor: pointer;
  }

  &__value {
    text-align: right;
  }
}

@include b(651) {
  .swaps-info {
    padding: 20px;
  }
}
