<tui-loader
  *ngIf="allowTrade && (crossChainSwapInfo || isSwapInfoLoading)"
  [overlay]="true"
  [showLoader]="isSwapInfoLoading"
>
  <div class="swaps-info" *ngIf="crossChainSwapInfo">
    <div class="swaps-info__title">
      <div
        class="swaps-info__title-hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
      ></div>
      <span class="swaps-info__content">
        {{ 'crossChainPage.swapInfo.title' | translate }}
      </span>
    </div>
    <div class="swaps-info__item swaps-info-item">
      <div class="swaps-info-item__title">
        {{ 'crossChainPage.swapInfo.maximumSent' | translate }}
        <div
          class="swaps-info-item__title-hint"
          [inlineSVG]="'/assets/images/icons/hint-question.svg'"
          [tuiHint]="'crossChainPage.swapInfo.maximumSentHint' | translate"
        ></div>
      </div>
      <div class="swaps-info-item__value">
        {{
          crossChainSwapInfo.maximumSpent
            | bigNumberFormat
            | withRound: 'toClosestValue':fromToken.decimals
        }}
        {{ fromToken.symbol }}
      </div>
    </div>

    <div class="swaps-info__item swaps-info-item">
      <div class="swaps-info-item__title">
        {{ 'crossChainPage.swapInfo.minimumReceived' | translate }}
        <div
          class="swaps-info-item__title-hint"
          [inlineSVG]="'/assets/images/icons/hint-question.svg'"
          [tuiHint]="'crossChainPage.swapInfo.minimumReceivedHint' | translate"
        ></div>
      </div>
      <div class="swaps-info-item__value">
        {{
          crossChainSwapInfo.minimumReceived
            | bigNumberFormat
            | withRound: 'toClosestValue':toToken.decimals
        }}
        {{ toToken.symbol }}
      </div>
    </div>

    <div class="swaps-info__item swaps-info-item">
      <div class="swaps-info-item__title">
        {{ 'crossChainPage.swapInfo.platformFee' | translate }}
        <div
          class="swaps-info-item__title-hint"
          [inlineSVG]="'/assets/images/icons/hint-question.svg'"
          [tuiHint]="'crossChainPage.swapInfo.platformFeeHint' | translate"
        ></div>
      </div>
      <div class="swaps-info-item__value">
        {{ crossChainSwapInfo.platformFee.percent }}% ≈
        {{
          crossChainSwapInfo.platformFee.amount
            | bigNumberFormat
            | withRound: 'toClosestValue':18:2:3
        }}
        RBC
      </div>
    </div>
  </div>
</tui-loader>
