<tui-loader
  *ngIf="allowTrade && (crossChainSwapInfo || isSwapInfoLoading)"
  [overlay]="true"
  [showLoader]="isSwapInfoLoading"
>
  <div class="swaps-info" *ngIf="crossChainSwapInfo">
    <div class="swaps-info__item swaps-info-item">
      <div class="swaps-info-item__title">Maximum sent</div>
      <div class="swaps-info-item__value">
        {{
          crossChainSwapInfo.maximumSpent
            | bigNumberFormat
            | withRound: 'toClosestValue':fromToken.decimals
        }}
        {{ fromToken.symbol }}
      </div>
    </div>

    <div class="swaps-info__item swaps-info-item">
      <div class="swaps-info-item__title">Minimum received</div>
      <div class="swaps-info-item__value">
        {{
          crossChainSwapInfo.minimumReceived
            | bigNumberFormat
            | withRound: 'toClosestValue':toToken.decimals
        }}
        {{ toToken.symbol }}
      </div>
    </div>

    <div class="swaps-info__item swaps-info-item">
      <div class="swaps-info-item__title">Platform fee</div>
      <div class="swaps-info-item__value">
        {{ crossChainSwapInfo.platformFee.percent }}% ≈ ${{
          crossChainSwapInfo.platformFee.amountInUsd
            | bigNumberFormat
            | withRound: 'toClosestValue':18:2:3
        }}
      </div>
    </div>
  </div>
</tui-loader>
