<div class="info">
  <div class="info__title">Get rewarded for your Testnet and Mainnet swaps with RBC tokens!</div>
  <div class="info__content">
    Connect your wallet and join our event to claim your share of the
    <span [class.tui-skeleton_text]="!prizePool" [class.tui-skeleton]="!prizePool"
      >{{ prizePool ? prizePool.total : 'XXXXXXX' }} RBC</span
    >
    prize pool for completing swaps on both testnet and mainnet!
  </div>
  <img
    class="info__image"
    src="/assets/images/testnet-promo/pills.png"
    alt="Get rewarded for your Testnet and Mainnet swaps with RBC tokens!"
  />
</div>
