@use 'src/scss/core' as *;

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 0 21px;

  @include b($mobile-md) {
    padding: 20px;
  }
}

.trade {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  padding: 10px 0;

  border: 1px solid var(--transparent-line);
  border-radius: 14px;

  transition: 0.2s ease-in-out;

  @include b($mobile-md) {
    flex-direction: column;

    background-color: var(--form-background);
  }

  @include b($mobile-sm-plus) {
    height: auto;
  }

  &-provider {
    @include b($mobile-md) {
      &__logo {
        width: 32px;
        height: 32px;
        margin-right: 0.5rem;

        border-radius: 50%;

        img {
          width: 32px;
          height: 32px;
        }
      }

      &__name {
        font-weight: 600;
        font-size: 14px;
      }

      &__rate {
        color: #aaa;
      }

      &__best {
        margin-left: auto;
        padding: 4px 12px;

        color: var(--mobile-ccr-best-route-label-text);

        background: var(--mobile-ccr-best-route-label-background);
        border-radius: 30px;

        &--loading {
          display: none;
        }
      }
    }
  }

  &__container {
    display: flex;
    gap: 20px;
    align-items: center;

    width: 85%;

    @include b($mobile-md) {
      gap: unset;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0 1rem;

      ::ng-deep tui-badge {
        margin-left: auto;
      }
    }

    @include b($mobile-sm-plus) {
      app-cross-chain-route {
        width: 100%;
      }
    }
  }

  &__statuses {
    display: flex;
    gap: 5px;
  }

  &_selected {
    border: 1px solid var(--primary-color);
  }

  > div {
    display: flex;
  }

  &:hover {
    background: var(--transparent-line);
    cursor: pointer;
  }
}

app-cross-chain-route {
  display: block;
  width: 55%;

  @include b($mobile-md) {
    width: 100%;
    padding: 0 1rem;
  }
}

:host ::ng-deep {
  .route {
    padding: 0 !important;

    &__line {
      &::after {
        font-size: 18px;
      }
    }
  }

  .dex {
    &__name {
      display: none;
    }

    &__icon {
      margin-bottom: 0 !important;
    }
  }
}
