<ng-container *ngLet="theme$ | async as theme">
  <ul @listAnimation>
    <ng-container *ngFor="let taggedTrade of taggedTrades; let i = index; trackBy: trackByType">
      <li
        class="trade"
        [ngClass]="{
          trade_selected: (selectedTrade$ | async).tradeType === taggedTrade.tradeType
        }"
        (click)="selectTrade(taggedTrade)"
        @fadeAnimation
      >
        <ng-container *ngIf="isMobile$ | async; then tradeMobile; else tradeDesktop"></ng-container>

        <ng-template #tradeMobile>
          <ng-container *ngLet="getProviderInfo(taggedTrade) as provider">
            <div class="trade__container">
              <div class="trade-provider__logo">
                <img [src]="provider.image" [alt]="taggedTrade?.route?.bridgeProvider" />
              </div>

              <div>
                <div class="trade-provider__name">{{ provider.name }}</div>
                <div class="trade-provider__rate">
                  <ng-container *ngTemplateOutlet="tokenAmount"></ng-container>
                  <ng-container *ngTemplateOutlet="tokenSymbol"></ng-container>
                </div>
              </div>

              <div class="trade-provider__best" *ngIf="i === 0">Best</div>
            </div>
            <app-cross-chain-route [route]="taggedTrade.route"></app-cross-chain-route>
          </ng-container>
        </ng-template>

        <ng-template #tradeDesktop>
          <div class="trade__container">
            <app-cross-chain-route [route]="taggedTrade.route"></app-cross-chain-route>

            <ng-container *ngTemplateOutlet="tokenAmount"></ng-container>

            <div class="trade__statuses">
              <tui-badge *ngIf="i === 0" status="success" value="Best"></tui-badge>

              <tui-badge
                *ngIf="
                  i > 0 && (taggedTrade.tags.minAmountWarning || taggedTrade.tags.maxAmountWarning)
                "
                status="warning"
                [value]="getMinMaxError(taggedTrade)"
              ></tui-badge>
            </div>
          </div>
        </ng-template>

        <ng-template #tokenAmount>
          <span>
            {{
              taggedTrade.trade?.to?.tokenAmount
                | bigNumberFormat
                | withRound
                  : 'toClosestValue'
                  : { minRound: 3, maxRound: 5, decimals: taggedTrade.trade?.to?.decimals }
            }}
          </span>
        </ng-template>
        <ng-template #tokenSymbol>
          <span>
            {{ taggedTrade.trade?.to.symbol }}
          </span>
        </ng-template>
      </li>
    </ng-container>
  </ul>
</ng-container>
