@use 'src/scss/core' as *;

.iframe-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  @include iframe-vertical {
    height: auto;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180px;
    padding: 20px 30px;

    @include iframe-vertical {
      flex-direction: column;
      align-items: flex-start;
      width: $iframe-vertical-width;
      height: 250px;
      margin: 0 auto;

      > div:first-child {
        margin-bottom: 15px;
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include iframe-vertical {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__row {
    display: flex;
    align-items: center;

    @include iframe-vertical {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__hint {
    height: 19px;
    margin-right: auto;
    margin-left: 6px;

    cursor: pointer;

    @include iframe-vertical {
      display: flex;
      align-items: center;
    }

    @include iframe {
      ::ng-deep svg path {
        fill: var(--primary-color);
      }
    }
  }

  &__toggle {
    margin-left: 10px;
  }
}

.slippage {
  flex-direction: column;
  align-items: flex-start;

  tui-input-number {
    width: 80px;

    @include iframe-vertical {
      width: 70px;
    }
  }

  ::ng-deep tui-input-number input {
    @include iframe-vertical {
      font-size: 18px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__button-auto {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    height: 32px;
    margin-right: 10px;
    padding: 8px 15px;

    background: none;
    border: 1px solid var(--primary-text);
    border-radius: $border-radius-2;

    cursor: pointer;

    &_active {
      color: white;

      background: var(--primary-color);
      border-color: var(--primary-color);
    }
  }

  ::ng-deep {
    .t-wrapper[data-appearance='textfield'] {

      padding-right: 5px;

      color: var(--primary-text);

      border-radius: 100px;
      box-shadow: none;

      input {
        padding-right: 22px !important;
      }

      input,
      input::placeholder {
        text-align: right;
      }
    }

    input + .t-content .t-placeholder {
      text-align: right;
    }

    .t-wrapper {
      display: flex;
    }

    .value-decoration {
      margin-left: auto;
    }
  }
}

.bridge-address {
  flex-direction: column;
  align-items: flex-start;

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  tui-input {
    width: 100%;

    &.ng-invalid {
      ::ng-deep {
        .t-wrapper[data-appearance='textfield'] {
          &::after {
            color: transparent;

            border-color: #d82122;
            opacity: 0.6;
          }
        }
      }
    }
  }

  ::ng-deep {
    .t-wrapper[data-appearance='textfield'] {
      width: 256px;
      padding: 10px;

      color: var(--primary-text);
      font-size: 14px;

      border-radius: 100px;
      box-shadow: none;
    }
  }
}
