@use 'src/scss/mixins' as *;
@use 'src/scss/core' as *;

.network-container {
  margin-top: 1px;

  &__row {
    position: relative;
    top: 0;

    display: flex;
    gap: 10px;
  }

  tui-input {
    border-radius: var(--tui-radius-m);
  }
}
