<div class="network-container">
  <tui-input
    [tuiTextfieldCustomContent]="!!addressCtrl.value ? (addressCtrl.valid ? success : error) : ''"
    tuiTextfieldSize="l"
    [formControl]="addressCtrl"
    [tuiAppearanceFocus]="addressCtrl.invalid"
    [pseudoInvalid]="addressCtrl.invalid"
    [tuiTextfieldCleaner]="false"
    [tuiTextfieldLabelOutside]="false"
    (focusedChange)="onFocusChange($event)"
  >
    <div [@moveLabel]="isActiveInput" class="network-container__row">
      <label class="network-container__label">
        {{
          isIntegratorWidget
            ? 'You must be the owner and have access to this wallet'
            : placeholderText
        }}
      </label>
    </div>
  </tui-input>

  <span
    *ngIf="!!addressCtrl.value"
    class="clear-btn"
    [inlineSVG]="'assets/images/icons/close.svg'"
    (click)="clear()"
  ></span>

  <ng-template #success>
    <div
      class="network-container__input-status-icon"
      [inlineSVG]="'assets/images/icons/forms/success-input.svg'"
    ></div>
  </ng-template>
  <ng-template #error>
    <div
      class="network-container__input-status-icon"
      [inlineSVG]="'assets/images/icons/forms/error-input.svg'"
    ></div>
  </ng-template>
</div>
