<div class="network-container">
  <tui-textfield tuiTextfieldSize="l" [tuiTextfieldCleaner]="false">
    <label tuiLabel>
      {{ isIntegratorWidget ? 'You must be the owner and have access to this wallet' : placeholderText }}
    </label>
    <input tuiTextfield [formControl]="addressCtrl" [invalid]="addressCtrl.invalid" (focus)="onFocusChange(true)" (blur)="onFocusChange(false)" />
    <tui-icon
      *ngIf="!!addressCtrl.value"
      [icon]="addressCtrl.valid ? 'assets/images/icons/forms/success-input.svg' : 'assets/images/icons/forms/error-input.svg'"
    ></tui-icon>
  </tui-textfield>

  <span
    *ngIf="!!addressCtrl.value"
    class="clear-btn"
    [inlineSVG]="'assets/images/icons/close.svg'"
    (click)="clear()"
  ></span>
</div>
