<div class="network-container">
  <tui-input
    [tuiTextfieldCustomContent]="!!address.value ? (address.valid ? success : error) : ''"
    tuiTextfieldSize="l"
    [formControl]="address"
    [pseudoFocus]="address.invalid"
    [pseudoInvalid]="address.invalid"
    [tuiTextfieldCleaner]="!!address.value"
    [tuiTextfieldLabelOutside]="false"
    (focusedChange)="onFocusChange($event)"
  >
    <div [@moveLabel]="isActiveInput" class="network-container__row">
      <label class="network-container__label">
        {{
          isIntegratorWidget
            ? 'You must be the owner and have access to this wallet'
            : 'You must have access to this address'
        }}
      </label>
    </div>
  </tui-input>

  <ng-template #success>
    <div
      class="network-container__input-status-icon"
      [inlineSVG]="'assets/images/icons/forms/success-input.svg'"
    ></div>
  </ng-template>
  <ng-template #error>
    <div
      class="network-container__input-status-icon"
      [inlineSVG]="'assets/images/icons/forms/error-input.svg'"
    ></div>
  </ng-template>
</div>
