<div class="info" [class.info_transparent]="isMobile$ | async">
  <ng-container *ngIf="savings">
    <div class="info__chip info__chip_colored" *ngIf="fromHasTrade || toHasTrade">
      {{ 'crossChainPage.smartRouting.save' | translate: { amount: savings } }}
    </div>
  </ng-container>
  <div class="info__chip" [class.info__chip_colored]="isMobile$ | async">
    {{ 'crossChainPage.smartRouting.estTime' | translate }}
  </div>
</div>
<div class="route">
  <div class="dex" *ngIf="fromHasTrade; else rubicPool">
    <div class="dex__icon">
      <img [src]="tradesProviders[fromProvider].image" alt="Provider" />
    </div>
    <div class="dex__name">
      {{ tradesProviders[fromProvider].name }}
    </div>
  </div>
  <div
    class="route__line route__line_left"
    [style.border-color]="fromHasTrade ? tradesProviders[fromProvider].color : '#4aa956'"
  ></div>
  <div class="dex">
    <div class="dex__icon">
      <img src="assets/images/icons/providers/rubic.svg" alt="Provider" />
    </div>
    <div class="dex__name">Rubic</div>
    <div class="dex__cap">Smart Routing</div>
  </div>
  <div
    class="route__line route__line_right"
    [style.border-color]="toHasTrade ? tradesProviders[toProvider].color : '#4aa956'"
  ></div>
  <div class="dex" *ngIf="toHasTrade; else rubicPool">
    <div class="dex__icon">
      <img [src]="tradesProviders[toProvider].image" alt="Provider" />
    </div>
    <div class="dex__name">
      {{ tradesProviders[toProvider].name }}
    </div>
  </div>
</div>

<ng-template #rubicPool>
  <div class="dex">
    <div class="dex__icon">
      <img src="assets/images/icons/providers/rubic.svg" alt="Provider" />
    </div>
    <div class="dex__name">Rubic pool</div>
  </div>
</ng-template>

<div *ngIf="0">123123</div>
