@use 'src/scss/core' as *;

.deposit {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;

  @include b($tablet) {
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }

  &__wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;

    padding: 15px;

    background: var(--main-background);
    border-radius: 14px;

    @include b($tablet) {
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;
    }
  }

  &__ceil {
    @include font(15px, 18px, 500, white);
    display: flex;
    align-items: center;

    @include b(480) {
      @include font(12px, 14px, 500, white);
      width: 100%;
    }
  }

  &__logo {
    width: 26px;
    height: 26px;

    margin-right: 8px;

    @include b(480) {
      width: 20px;
      height: 20px;
    }
  }

  &__btns {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__btn {
    @include font(14px, 17px, 500, white);
    width: max-content;
    padding: 8px 14px;

    letter-spacing: 1px;

    @include b(480) {
      @include font(12px, 15px, 500, white);
    }
  }

  &__apy {
    cursor: pointer;
  }

  &__claim-rewards-btn {
    background: var(--main-green);
    border-radius: $border-radius-3;
  }

  &__manage-btn,
  &__out-btn {
    background: #303a36;
    border-radius: $border-radius-3;
  }

  &__out-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    img {
      width: 14px;
    }
  }
}
