@use 'src/scss/core' as *;

.element {
  overflow: hidden;

  font-weight: 400;

  background: $transparent-gray;

  border-radius: var(--tui-radius-m);
  cursor: pointer;
  backdrop-filter: blur(44px);

  &_disabled {
    cursor: no-drop;
    opacity: 0.75;
  }

  &__provider-container {
    padding: var(--tui-padding-l);

    border-bottom: 1px solid var(--tui-secondary);

    &_selected {
      background: var(--tui-primary-active);
    }

    &_selected + app-swap-data-element {
      ::ng-deep .provider-info {
        background: var(--tui-primary-active);
      }
    }
  }

  &__row {
    display: flex;
    gap: var(--tui-padding-s);
    align-items: flex-start;
  }

  &__row-badges {
    display: flex;
    flex-wrap: wrap;
    gap: var(--tui-padding-s);
    justify-content: flex-end;

    opacity: 1;
  }

  &__amounts-container {
    display: flex;
    gap: var(--tui-padding-s);
    align-items: center;
    justify-content: space-between;
  }

  &__amount {
    display: flex;
    flex: auto;
    align-items: center;
    min-width: 0;
  }

  &__token {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-xs);
    min-width: 0;
  }

  &__token-info {
    display: flex;
    gap: var(--tui-padding-s);
    align-items: center;
  }

  &__token-provider {
    @include font(18px, 18px, 500, var(--tui-text-03), 0.54px);
    display: none;
  }

  &__token-image {
    width: 18px;
    height: 18px;

    border-radius: 100%;
  }

  &__token-amount {
    // font-weight: 700;
    font-size: 18px;
  }

  &__token-symbol {
    // font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }

  &__amount-price {
    color: var(--tui-text-03);
    // font-weight: 400;
    font-size: 14px;
  }

  &__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__provider {
    display: flex;
    align-items: center;
  }

  &__provider-image {
    width: 40px;
    height: 40px;
    margin-right: var(--tui-padding-m);

    border-radius: 100%;
  }

  &__provider-label {
    color: var(--tui-text-03);
  }

  // &__best-badge {
  //   display: flex;
  //   align-items: center;

  //   font-weight: 700 !important;
  //   text-transform: uppercase;

  //   background: #05cc05;
  //   cursor: pointer;
  // }

  // &__warning-badge {
  //   font-weight: 700 !important;
  //   text-transform: uppercase;

  //   background: linear-gradient(90deg, rgba(204, 141, 23, 0.83) 0%, rgba(213, 185, 5, 0.94) 99.18%);
  //   cursor: pointer;
  // }

  ::ng-deep &__expander {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;

    svg {
      transition: 0.2s ease-in-out;
    }

    &_active {
      svg {
        transform: rotate(180deg);
        transform-origin: center;
      }

      svg path {
        fill: var(--tui-text-03);
      }
    }

    svg path {
      fill: var(--tui-text-03);
    }
  }

  &__right {
    display: flex;
    flex: none;
    flex-direction: column;
    gap: var(--tui-padding-xs);
    align-items: flex-end;
    min-width: 0;
  }

  &__expandable {
    @include flex(column, normal, normal);
    margin-top: var(--tui-padding-s);

    &-status {
      @include flex(row, center, normal);
      gap: 7px;

      &-text {
        color: var(--tui-text-03);
        line-height: 10px;
      }
    }
  }
}

app-route-element {
  display: block;
  // margin-top: var(--tui-padding-s);
}

@include b($mobile-md) {
  .element {
    &_shorted {
      .element__amounts-container {
        align-items: end;
      }

      .element__token-info {
        gap: var(--tui-padding-s);
      }

      .element__token {
        gap: var(--tui-padding-m);
      }

      .element__token-provider {
        display: block;
      }

      .element__token-image {
        width: 25px;
        height: 25px;

        border-radius: 100%;
      }

      .element__token-symbol {
        @include font(18px, 18px, 500, var(--tui-text-01), 0.54px);
      }

      .element__token-amount {
        display: none;
      }

      .element__right {
        gap: var(--tui-padding-m);
      }

      .element__amount-price {
        display: none;
      }
    }
  }
}
