@use 'src/scss/core' as *;

.element {
  overflow: hidden;

  background: var(--primary-background);
  border-radius: var(--tui-radius-m);
  cursor: pointer;

  &_disabled {
    cursor: no-drop;
    opacity: 0.75;
  }

  &__provider-container {
    padding: var(--tui-padding-l);

    border-bottom: 1px solid var(--tui-secondary);

    &_selected {
      background: var(--io-background);
    }
  }

  &__row {
    display: flex;
    gap: var(--tui-padding-s);
  }

  &__amounts-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__amount {
    display: flex;
    align-items: center;
  }

  &__token {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-xs);
  }

  &__token-info {
    display: flex;
    gap: var(--tui-padding-s);
    align-items: center;
  }

  &__token-provider {
    @include font(18px, 18px, 500, var(--tui-text-03), 0.54px);
    display: none;
  }

  &__token-image {
    width: 18px;
    height: 18px;

    border-radius: 100%;
  }

  &__token-amount {
    max-width: 145px;
    overflow: hidden;

    font-weight: 700;
    font-size: 18px;
    text-overflow: ellipsis;
  }

  &__token-symbol {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }

  &__amount-price {
    color: var(--tui-text-03);
    font-weight: 400;
    font-size: 14px;
  }

  &__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__provider {
    display: flex;
    align-items: center;
  }

  &__provider-image {
    width: 40px;
    height: 40px;
    margin-right: var(--tui-padding-m);

    border-radius: 100%;
  }

  &__provider-label {
    color: var(--tui-text-03);
  }

  &__best-badge {
    font-weight: 700 !important;
    text-transform: uppercase;

    background: linear-gradient(90deg, rgba(0, 255, 117, 0.6) 0%, rgba(224, 255, 32, 0.6) 99.18%);
  }

  &__warning-badge {
    font-weight: 700 !important;
    text-transform: uppercase;

    background: linear-gradient(90deg, rgba(204, 141, 23, 0.83) 0%, rgba(213, 185, 5, 0.94) 99.18%);
  }

  ::ng-deep &__expander {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    svg {
      transition: 0.2s ease-in-out;
    }

    &_active {
      svg {
        transform: rotate(180deg);
        transform-origin: center;
      }

      svg path {
        fill: var(--tui-text-03);
      }
    }

    svg path {
      fill: var(--tui-text-03);
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-xs);
    align-items: flex-end;
  }
}

app-route-element {
  display: block;
  margin-top: var(--tui-padding-l);
  margin-left: var(--tui-padding-l);
}

@media (min-width: 2560px) {
  .element {
    &__token {
      gap: var(--tui-padding-m);
    }

    &__token-amount {
      max-width: 200px;

      font-size: 24px;
    }

    &__token-symbol {
      font-size: 20px;
      line-height: 20px;
    }

    &__token-image {
      width: 30px;
      height: 30px;
    }

    &__provider-container {
      padding: var(--tui-padding-xl);
    }

    &__amount-price {
      font-size: 16px;
    }

    &__best-badge,
    &__warning-badge {
      font-size: 16px !important;
    }

    &__right {
      gap: var(--tui-padding-m);
    }

    ::ng-deep &__expander {
      width: 25px;
      height: 25px;

      svg {
        width: 15px;
        height: 10px;

        transition: 0.2s ease-in-out;
      }
    }
  }
}

@media (min-width: 3840px) {
  .element {
    &__token {
      gap: var(--tui-padding-l);
    }

    &__token-amount {
      max-width: 260px;

      font-size: 34px;
      line-height: 34px;
    }

    &__token-symbol {
      font-size: 28px;
      line-height: 28px;
    }

    &__token-image {
      width: 40px;
      height: 40px;
    }

    &__provider-container {
      padding: var(--tui-padding-xxl);
    }

    &__amount-price {
      font-size: 22px;
    }

    &__best-badge,
    &__warning-badge {
      font-size: 22px !important;
    }

    &__right {
      ::ng-deep .t-tag {
        height: 30px !important;
      }
    }

    &__right {
      gap: var(--tui-padding-l);
    }

    ::ng-deep &__expander {
      width: 30px;
      height: 30px;

      svg {
        width: 20px;
        height: 15px;
      }
    }
  }
}

@include b($mobile-md) {
  .element {
    &_shorted {
      .element__amounts-container {
        align-items: end;
      }

      .element__token-info {
        gap: var(--tui-padding-s);
      }

      .element__token {
        gap: var(--tui-padding-m);
      }

      .element__token-provider {
        display: block;
      }

      .element__token-image {
        width: 25px;
        height: 25px;

        border-radius: 100%;
      }

      .element__token-symbol {
        @include font(18px, 18px, 500, var(--tui-text-01), 0.54px);
      }

      .element__token-amount {
        display: none;
      }

      .element__right {
        gap: var(--tui-padding-m);
      }

      .element__amount-price {
        display: none;
      }
    }
  }
}
