@import '../../../../scss/vars';

::ng-deep {
  .mat-form-field {
    display: block !important;

    background-color: $grey-background;
    border-radius: 10px;
  }

  .mat-select-value {
    height: 52px;

    vertical-align: middle;

    mat-select-trigger {
      display: flex;
      align-items: center;

      color: $dark;
      line-height: normal;

      img {
        display: inline-block;
        height: 23px;
        margin-right: 12px;
      }
    }
  }

  .mat-select-value-text {
    font-size: 18px;
    font-family: $ubuntu-font;
  }

  .mat-form-field-appearance-legacy {
    .mat-form-field-infix {
      padding: 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-underline {
      display: none;
    }
  }

  .mat-form-field-infix {
    border-top: 0;
  }

  .mat-form-field-flex {
    align-items: center !important;
    padding: 0 14px;
  }

  .mat-option {
    &-text {
      display: flex !important;
      align-items: center;

      font-family: $ubuntu-font;

      img {
        margin-right: 12px;

        vertical-align: middle;
      }
    }

    &.mat-active,
    &:hover {
      background-color: $grey-background !important;
    }
  }

  .mat-primary {
    border-radius: 10px !important;
  }

  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: $done-grey;
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: black;
  }

  .mat-select-disabled .mat-select-arrow {
    visibility: hidden;
  }
}
