<a [safetyLink]="href" class="banner" (click)="fireClickOnBannerEvent()">
  <div class="banner__container">
    <span class="banner__text">
      Join <span class="banner__text_bold">Rubic's Birthday</span> to get
      <br class="banner__mobile-br" />
      a share of <span class="banner__text_bold">1,7M RBC!</span> With zero fees!
      <br class="banner__mobile-br" />
    </span>
    <button class="banner-button">
      <span clas="banner-button__text">Learn more</span>
      <img src="assets/images/icons/arrow/arrow-right-white.svg" alt="Arrow" />
    </button>
  </div>
</a>
