<div class="popup-body">
  <span
    [innerHTML]="
      'If you want your project to be listed on the Rubic platform please send an email to support@rubic.finance with the following information:'
        | translate
    "
  ></span>
  <ul>
    <li>{{ 'Project name' | translate }}</li>
    <li>{{ 'Project description' | translate }}</li>
    <li>{{ 'Links to the project and social media' | translate }}</li>
    <li>{{ 'Contract address' | translate }}</li>
    <li>{{ 'Whitepaper/Onepager' | translate }}</li>
    <li>{{ 'Link to logo in PNG and SVG' | translate }}</li>
    <li>{{ 'Why you have chosen Rubic.exchange?' | translate }}</li>
  </ul>
</div>
