@use 'src/scss/core' as *;

:host {
  --tui-base-01: var(--tui-secondary);
  --tui-base-03: transparent;
}

.tui-col_md-4 {
  @include b($mobile-sm-middle) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.image {
  width: 64px;
  height: 64px;
  margin-top: -64px;
  padding: 10px;

  background: var(--secondary-background);
  border-radius: 100%;
  backdrop-filter: blur(10px);
}

tui-island {
  height: calc(100% - 2rem);

  border-radius: var(--tui-radius-l);
}

.tui-island__paragraph {
  font-size: 15px;
}

h1 {
  font-size: 64px;
  line-height: 64px;

  background-color: var(--primary-color);
  background-image: linear-gradient(-45deg, #{var(--primary-color)}, #{var(--accent-color)});
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include b($mobile-sm-middle) {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }
}

.description {
  margin-bottom: 20px;

  font-size: 16px;

  @include b($mobile-sm-middle) {
    text-align: center;
  }
}

.button-container {
  width: 250px;
  margin-bottom: 50px;

  @include b($mobile-sm-middle) {
    display: flex;
    justify-content: center;
    width: auto;
  }
}
