<div class="swaps-form" [ngStyle]="{ 'background-color': backgroundColor }">
  <header *noFrame class="swaps-form__header">
    <app-swaps-header
      class="swaps-form__blockchains"
      *noFrame
      [fromBlockchain]="fromBlockchain"
      [toBlockchain]="toBlockchain"
      [selectedToken]="selectedToken"
    ></app-swaps-header>
    <div class="swaps-form__settings-wrapper">
      <app-rubic-refresh-button
        class="swaps-form__refresh"
        *ngIf="(isInstantTrade || isCrossChainRouting) && allowTrade && allowRefresh"
        [type]="autoRefresh ? 'autoRefresh' : 'refresh'"
        (onRefresh)="onRefresh()"
        [loadingStatus]="loadingStatus"
        [autoUpdate]="autoRefresh"
        [swapType]="swapType"
      >
      </app-rubic-refresh-button>
      <app-settings-container class="swaps-form__settings"></app-settings-container>
      <app-iframe-logout-button
        *ngIf="queryParams.hideUnusedUI && getCurrentUser$ | async"
      ></app-iframe-logout-button>
    </div>
  </header>

  <!-- TODO: refactor update button, move subscription into service -->
  <ng-container *onlyFrame>
    <!-- prettier-ignore -->
    <app-rubic-refresh-button *ngIf="isInstantTrade && allowTrade && allowRefresh" style="display: none;"
      [type]="autoRefresh ? 'autoRefresh' : 'refresh'" (onRefresh)="onRefresh()" [loadingStatus]="loadingStatus" [autoUpdate]="autoRefresh">
    </app-rubic-refresh-button>
  </ng-container>

  <main class="swaps-form__content">
    <div class="swaps-form__block">
      <app-iframe-blockchain-indicator [blockchain]="fromBlockchain" *onlyFrame="'horizontal'">
      </app-iframe-blockchain-indicator>

      <app-token-amount-input
        *noFrame="'vertical'"
        [loading]="isLoading"
        [tokens]="availableTokens['from']"
        [favoriteTokens]="availableFavoriteTokens['from']"
      ></app-token-amount-input>

      <app-vertical-iframe-token-amount-input
        *onlyFrame="'vertical'"
        [loading]="isLoading"
        [tokens]="availableTokens['from']"
      ></app-vertical-iframe-token-amount-input>
    </div>

    <div class="swaps-form__delimiter">
      <app-swaps-switcher (switcherClick)="revert()"></app-swaps-switcher>
    </div>

    <div class="swaps-form__block">
      <app-iframe-blockchain-indicator *onlyFrame="'horizontal'" [blockchain]="toBlockchain">
      </app-iframe-blockchain-indicator>

      <app-instant-trade-bottom-form
        *ngIf="isInstantTrade"
        [onRefreshTrade]="onRefreshTrade$"
        (onRefreshStatusChange)="loadingStatus = $event"
        [loading]="isLoading"
        [tokens]="availableTokens['to']"
        [favoriteTokens]="availableFavoriteTokens['to']"
        (allowRefreshChange)="allowRefresh = $event"
        (instantTradeInfoChange)="currentInstantTradeInfo = $event"
        (tradeStatusChange)="tradeStatus = $event"
      >
      </app-instant-trade-bottom-form>

      <app-cross-chain-routing-bottom-form
        *ngIf="isCrossChainRouting"
        [onRefreshTrade]="onRefreshTrade$"
        (onRefreshStatusChange)="loadingStatus = $event"
        [loading]="isLoading"
        [tokens]="availableTokens['to']"
        (tradeStatusChange)="tradeStatus = $event"
        [favoriteTokens]="availableFavoriteTokens['to']"
      >
      </app-cross-chain-routing-bottom-form>
    </div>
  </main>
</div>

<ng-container *noFrame>
  <app-swap-info-container
    *ngIf="allowTrade"
    [swapType]="swapType"
    [currentInstantTradeInfo]="currentInstantTradeInfo"
    [tradeStatus]="tradeStatus"
  ></app-swap-info-container>
</ng-container>
