@use 'src/scss/core' as *;

.blockchains-filter-list {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  margin-top: 12px;
}

@include b($mobile-sm-middle) {
  .blockchains-filter-list {
    gap: 12px;
    align-items: unset;
    margin-top: 0;
    overflow-x: auto;
  }

  .blockchains-filter-list::-webkit-scrollbar {
    display: none;
  }
}
