<!--<ng-container *ngIf="fee?.platformFee?.percent">{{ fee?.platformFee?.percent }}%</ng-container>-->
<!--<ng-container *ngIf="fee?.platformFee?.percent && fee?.fixedFee?.amount?.gt(0)"-->
<!--  >&nbsp;+&nbsp;-->
<!--</ng-container>-->

<!--<ng-container *ngIf="fee?.fixedFee?.amount?.gt(0)">-->
<!--  {{ fee?.fixedFee?.amount | bigNumberFormat | withRound : 'toClosestValue' }}&nbsp;-->
<!--  {{ fee?.fixedFee?.tokenSymbol }}-->
<!--</ng-container>-->

<!--<ng-container *ngIf="!fee?.platformFee?.percent && !fee?.fixedFee?.amount?.gt(0)">-->
<!--  No charge-->
<!--</ng-container>-->
