<div class="token-card" *ngLet="(isHorizontalFrame$ | async) as isHorizontalFrame">
  <div class="token-card__image-container">
    <img [src]="token.image || 'assets/images/icons/coins/empty.svg'" [alt]="token.name" />
  </div>
  <div class="token-card__name-container">
    <span>{{ token.symbol }}</span>
    <small>{{ token.name }}</small>
  </div>
  <div class="token-card__amount" *ngIf="token.amount.gt(0)">
    <span [tuiHint]="tokenAmountTooltip" tuiHintDirection="top" tuiHintMode="onDark">{{
      token.amount | bigNumberFormat | shortenAmount: (isHorizontalFrame ? 6 : 12):4
    }}</span>
    <ng-template #tokenAmountTooltip>{{ token.amount | bigNumberFormat }}</ng-template>
  </div>
</div>
