@import 'src/styles';

.token-card {
  display: flex;
  align-items: center;

  color: var(--form-bright-text-color);

  @include iframe-horizontal {
    height: 100%;
  }

  &__name-container {
    max-width: 150px;
    margin-right: auto;

    @include b($mobile-md) {
      max-width: 125px;
    }

    @include b($mobile-sm) {
      max-width: 93px;
    }

    @include iframe-horizontal {
      width: 60px;
    }

    span,
    small {
      display: block;
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }

    span {
      font-size: 16px;
      line-height: 20px;

      @include iframe {
        font-size: 14px;
        line-height: 16px;
      }
    }

    small {
      font-size: 13px;
      line-height: 18px;

      @include iframe {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  ::ng-deep &__favorite {
    display: flex;
    align-items: center;
    margin-left: 20px;

    svg {
      width: 24px;
      height: 24px;

      path {
        transition: 0.2s ease-in-out;

        stroke: var(--form-dim-text-color);
      }
    }

    &_active svg path {
      fill: $rubic-warning;
      stroke: none;
    }

    &:hover:not(&_active)  svg path {
      stroke: var(--main-green);
    }
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin-right: 20px;

    @include iframe-horizontal {
      margin-right: 10px;
    }

    @include iframe-horizontal {
      width: 30px;
      height: 30px;
    }

    @include iframe-vertical {
      width: 24px;
      height: 24px;
    }

    img {
      max-width: 38px;
      max-height: 38px;

      border-radius: 25%;

      @include iframe-horizontal {
        max-width: 30px;
        max-height: 30px;
      }

      @include iframe-vertical {
        max-width: 24px;
        max-height: 24px;
      }
    }
  }
}
