@import 'src/styles';

.token-card {
  display: flex;
  align-items: center;

  color: var(--form-bright-text-color);

  @include iframe-horizontal {
    height: 100%;
  }

  &__name-container {
    @include iframe-horizontal {
      width: 60px;
    }

    span,
    small {
      display: block;
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }

    span {
      font-size: 16px;
      line-height: 20px;

      @include iframe {
        font-size: 14px;
        line-height: 16px;
      }
    }

    small {
      font-size: 13px;
      line-height: 18px;

      @include iframe {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  &__image-container {
    display: flex;
    flex: 0 0 30px;
    align-items: center;
    margin-right: 20px;

    @include iframe-horizontal {
      margin-right: 10px;
    }

    img {
      max-width: 38px;
      max-height: 38px;

      border-radius: 25%;

      @include iframe-horizontal {
        max-width: 30px;
        max-height: 30px;
      }

      @include iframe-vertical {
        max-width: 24px;
        max-height: 24px;
      }
    }
  }

  &__amount {
    margin-left: auto;
  }
}
