@import 'src/scss/vars';
@import 'src/scss/mixins';

.usd-price-container {
  display: flex;
  justify-content: flex-end;

  color: var(--form-dim-text-color);
  font-size: 14px;
  line-height: 17px;

  text-align: right;

  @include b($mobile-md) {
    justify-content: flex-start;
  }

  &_hidden {
    visibility: hidden;
  }

  &__price {
    overflow: hidden;

    letter-spacing: 0.1em;
    text-overflow: ellipsis;

    cursor: default;
  }
}
