.base-block-content {
  box-sizing: border-box;
  padding-top: 150px;
  background-attachment: fixed;
}

.my-contracts-title {
  font-size: 25px;
  line-height: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}
.my-contracts-empty {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
}

.delete-btn {
  background: none;
  border: 0 none;
  padding: 10px;
  cursor: pointer;
  line-height: 24px;
  img {
    width: 24px;
    vertical-align: middle;
  }
}

.swap-info {
  line-height: 26px;
  display: inline-block;
  vertical-align: middle;
}

.public-swaps {
  min-width: 800px;
  white-space: nowrap;
  &_table-container {
    overflow: auto;
  }
  &_body {
    overflow: auto;
  }
  &_empty {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    a {
      color: #fcd600 !important;
    }
  }
  &_row {
    margin: 0;
    position: relative;
    &.as-link {
      cursor: pointer;
    }
  }
  &_cell {
    padding: 0;
    &_content {
      line-height: 70px;
      margin: 2px 2px 1px 1px;
      padding: 0 14px;
      background-color: #ffffff;
      color: #000;
    }
  }
  // &_row:hover &_cell {
  //   background-color: rgba(255, 255, 255, 0.8);
  // }
  &_head {
    &-row {
      position: relative;
      z-index: 3;
      margin: 0;
    }
    &-cell {
      color: #000;
      padding: 0;
      &__sortable {
        color: #2873fb;
        .sort-btn {
          background-image: url(/assets/images/icons/table/sort-2.svg);
        }

        &.asc {
          .sort-btn {
            background-image: url(/assets/images/icons/table/sort-3.svg);
          }
        }
      }
    }
    &_content {
      line-height: 38px;
      margin: 2px 2px 1px 1px;
      padding: 10px;
      background-color: white;
      text-align: left;
    }
  }
}

.sort-btn {
  float: right;
  width: 28px;
  height: 28px;
  background: center center no-repeat rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0;
  border: 0 none;
  line-height: 28px;
  cursor: pointer;
  background-image: url(/assets/images/icons/table/sort-1.svg);
  margin-top: 5px;
}
