.base-block-content {
  box-sizing: border-box;
  padding-top: 150px;
}

.my-contracts-title {
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  font-weight: bold;
}
.my-contracts-empty {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
}
.my-contracts-list {
  margin-top: 20px;
  &_item {
    display: block;
    color: #fff!important;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 29px 15px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    &, &:hover, &:focus {
      text-decoration: none!important;
    }
    &:hover, &:focus {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  &_item + &_item {
    margin-top: 10px;
  }
}
