<div class="base-block-content">
  <div class="app-content-block">
    <div class="grid-row">
      <div class="grid-cell grid-cell-2-3 grid-cell-sm-3-4 grid-cell-s-1">
        <div class="my-contracts-title">My trades</div>
        <div class="my-contracts-empty" *ngIf="contractsList && !contractsList.length">
          No trades
        </div>
        <div class="my-contracts-list" *ngIf="contractsList.length">
          <div class="my-contracts-list_item"
               (click)="toContract(contract)"
               *ngFor="let contract of contractsList">
            <button class="delete-btn"
                    [ngClass]="{
                      invisible: ((contract.contract_type === 20) && !((states[contract.state].NUMBER === 0) || (states[contract.state].NUMBER === 6))) ||
                      !(!contract.contract_state || (states[contract.contract_state].NUMBER === 0))
                    }"
                    (click)="$event.stopPropagation(); $event.preventDefault(); deleteContract(contract);">
              <img src="./assets/images/icons/trash.svg">
            </button>
            <div class="contract-state"
                 [ngClass]="'contract-state__' + states[contract.state].NUMBER">
              {{states[contract.state].TEXT}}
            </div>
            <span class="my-contract-name">{{contract.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteConfirmation>
  <div class="dialog-block">
    <div class="dialog-block__content">
      <div class="alert-window-title">
        Do you want to remove it?
      </div><br/><br/>
      <div class="alert-window-buttons text-center">
        <div class="grid-row">
          <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
            <button class="btn btn-transparent btn-min right-padding" type="button"
                    (click)="deleteContractConfirm()">
              {{'YES'|translate}}
            </button><br/>
          </div>
          <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
            <button class="btn btn-yellow btn-min right-padding" mat-dialog-close type="button">
              {{'NO'|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
