<ng-container *ngLet="tokensToShow$ | async as tokensToShow">
  <tui-scrollbar
    class="tokens-container"
    [ngClass]="{ 'tokens-container_small': iframeTokenSearch }"
  >
    <tui-loader *ngLet="loading$ | async as loading" [showLoader]="loading" [overlay]="true">
      <ng-container *ngIf="(customToken$ | async) === null; else customTokenTmpl">
        <!--standard mode -->
        <ng-container *noFrame>
          <div class="tokens-container__empty-list" *ngIf="!tokensToShow?.length; else tokenList">
            <app-empty-list></app-empty-list>
          </div>

          <ng-template #tokenList>
            <ul class="tokens-list" [@listAnimation]="listAnimationState$ | async">
              <cdk-virtual-scroll-viewport
                tuiScrollable
                itemSize="67"
                class="tokens-scrollbar tui-zero-scrollbar"
                [ngClass]="{ 'tokens-scrollbar__empty': !tokensToShow?.length }"
                [style.overflow]="loading ? 'hidden' : 'auto'"
              >
                <li
                  *cdkVirtualFor="
                    let token of tokensToShow;
                    let i = index;
                    templateCacheSize: 0;
                    trackBy: trackByFn
                  "
                  class="tokens-list__item"
                  [ngClass]="{ 'tokens-list__item_disabled': !token.available }"
                  [tuiHint]="!token.available ? disabledTokenHint : null"
                  tuiHintAppearance="error"
                  tuiHintDirection="bottom-right"
                  (click)="onTokenSelect(token)"
                >
                  <app-tokens-list-element
                    [token]="token"
                    [balanceLoading]="isBalanceLoading$ | async"
                  ></app-tokens-list-element>
                </li>
              </cdk-virtual-scroll-viewport>
            </ul>
          </ng-template>
        </ng-container>
        <!--standard mode -->

        <!--horizontal iframe -->
        <ul class="tokens-list-horizontal-iframe" *onlyFrame="'horizontal'">
          <li
            *ngFor="let token of tokensToShow; let i = index"
            class="tokens-list-horizontal-iframe__item"
            [ngClass]="{
              'tokens-list-horizontal-iframe__item_disabled': !token.available
            }"
            [tuiHint]="!token.available ? disabledTokenHint : null"
            tuiHintAppearance="error"
            tuiHintDirection="bottom-right"
            (click)="onTokenSelect(token)"
          >
            <app-tokens-list-element [token]="token"></app-tokens-list-element>
          </li>

          <li
            class="tokens-list-horizontal-iframe__item tokens-list-horizontal-iframe__item_empty"
            *ngIf="tokensToShow.length === 0"
          >
            Nothing to show
          </li>

          <li class="tokens-list-horizontal-iframe__item-container" *ngIf="iframeRubicLink">
            <div
              class="tokens-list-horizontal-iframe__item tokens-list-horizontal-iframe__item-link"
            >
              <a [safetyLink]="noFrameLink">More on {{ rubicDomain }}</a>
            </div>
          </li>
        </ul>
        <!--horizontal iframe -->

        <!--vertical iframe -->
        <ul class="tokens-list" *onlyFrame="'vertical'">
          <li
            *ngFor="let token of tokensToShow; let i = index"
            class="tokens-list__item"
            [ngClass]="{ 'tokens-list__item_disabled': !token.available }"
            [tuiHint]="disabledTokenHint"
            tuiHintAppearance="error"
            tuiHintDirection="bottom-right"
            (click)="onTokenSelect(token)"
          >
            <app-tokens-list-element [token]="token"></app-tokens-list-element>
          </li>

          <li class="tokens-list__item tokens-list__item_empty" *ngIf="tokensToShow.length === 0">
            Nothing to show
          </li>

          <li class="tokens-list__item vertical-frame-link" *ngIf="iframeRubicLink">
            <a [safetyLink]="noFrameLink">More on {{ rubicDomain }}</a>
          </li>
        </ul>
        <!--vertical iframe -->
      </ng-container>

      <ng-template #customTokenTmpl>
        <app-custom-token></app-custom-token>
      </ng-template>
    </tui-loader>
  </tui-scrollbar>
</ng-container>

<ng-template #disabledTokenHint>
  <div>
    {{ 'modals.tokensListModal.clearParamsHint' | translate }}
  </div>
</ng-template>
