@use 'src/scss/core' as *;

$token-card-height: 55px;

:host {
  width: 100%;
}

.tokens-container {
  position: relative;

  height: calc(100% - 15px);
  margin-top: 10px;

  @include b($mobile-md-minus) {
    height: calc(100% - 130px);
    margin-top: 15px;
  }

  @include iframe {
    position: static;
    left: unset;

    width: 100%;
    margin-top: 15px;
    padding-top: 0;
  }

  @include iframe-vertical {
    height: 230px;
  }

  @include iframe-horizontal {
    height: $token-card-height + 20px;
  }

  &__empty-list {
    position: relative;

    margin-top: 20px;
  }

  ::ng-deep .t-content {
    height: 100%;

    @include b($mobile-md-minus) {
      height: calc(100% - 10px);
    }
  }
}

tui-loader {
  height: 100%;
}

.tokens-list {
  height: 100%;
  padding-right: 15px;

  &__item {
    padding: 5px 10px;

    border-radius: 15px;

    cursor: pointer;

    @include b($mobile-md) {
      padding: 0.5rem 1rem;

      background-color: transparent;
      border: 1px solid var(--transparent-line);
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @include iframe-vertical {
        margin-bottom: 2px;
      }
    }

    &:hover {
      background-color: var(--transparent-line);
    }

    &_disabled {
      cursor: not-allowed;
      opacity: 0.4;

      &:hover {
        background-color: unset;
      }
    }

    &_empty {
      display: flex;
      justify-content: center;

      margin-bottom: 20px;

      font-size: 18px;

      &:hover {
        background-color: unset;
      }
    }
  }
}

.tokens-list-horizontal-iframe {
  display: flex;

  &__item-container {
    min-width: 206px;
    max-width: 206px;
  }

  &__item {
    min-width: 191px;
    max-width: 191px;
    height: $token-card-height;
    padding: 5px 10px;

    border: 2px solid #626262;

    border-radius: 15px;

    cursor: pointer;

    @include iframe-horizontal {
      padding: 4px;
    }

    @include light-iframe {
      border: 1px solid #e9e9e9;

      &:hover {
        background-color: var(--rubic-base-14);
      }
    }

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      background-color: var(--primary-background);
    }

    &_disabled {
      cursor: not-allowed;
      opacity: 0.4;

      &:hover {
        background-color: unset;
      }
    }

    &_empty {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 18px;

      border: 0;
      cursor: default;

      &:hover {
        background-color: unset;
      }
    }
  }

  &__item-link {
    border-color: var(--primary-color);

    a {
      display: block;
      width: 100%;
      height: 100%;

      line-height: 40px;
      text-align: center;

      @include iframe() {
        line-height: 1.4;
      }
    }

    &:hover {
      background-color: unset;
    }
  }
}

.tokens-scrollbar {
  height: 100%;
  overflow-x: hidden !important;

  ::ng-deep {
    .cdk-virtual-scroll-content-wrapper {
      width: 100%;
      padding: 0 0 5px 24px;

      @include b($mobile-md) {
        padding: 0 0 0 16px;
      }
    }
  }
}

.vertical-frame-link {
  border: 2px solid var(--primary-color);

  a {
    display: block;
    width: 100%;
    height: 100%;

    line-height: 30px;
    text-align: center;
  }

  &:hover {
    background-color: unset;
  }
}
