.white-button {
  width: 100%;
  padding: 16px 0;
  border: none;
  background: #fff;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:active {
    transform: scale(0.9);
  }
}
