.white-button {
  width: 100%;
  padding: 16px 0;

  font-weight: bold;
  font-size: 18px;
  font-family: inherit;

  background: white;
  border: none;
  cursor: pointer;

  transition: transform 0.2s ease-in-out;

  &:active {
    transform: scale(0.9);
  }
}
