@use 'src/scss/core' as *;

:host {
  @include b($mobile-md) {
    position: absolute;
    top: 38px;
    left: 20px;
  }
}

.header-settings {
  border-radius: $border-radius-2;
  backdrop-filter: $backdrop-blur-1;

  transition: 300ms;

  &__icon-wrapper {
    display: flex;
    align-items: center;
    height: 50px;

    img {
      cursor: pointer;
      filter: grayscale(1);
    }
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 35px;

    border-radius: 15px;

    cursor: pointer;

    ::ng-deep svg {
      width: 16px;
      height: 15px;

      transform: rotate(90deg);

      path {
        fill: var(--primary-text);
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    padding: 14px 20px 0;

    img {
      cursor: pointer;

      filter: var(--filter-inversion);
    }
  }

  &__title {
    margin: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

@include b($tablet) {
  .header-settings {

    width: auto;
    min-width: 250px;

    &__icon {
      width: 20px;
    }
  }
}

@include b($mobile-md) {
  .header-settings {
    &__header {
      margin-bottom: 0;
      padding: 0;
    }

    &__title {
      @include b($mobile-md) {
        display: none;
      }
    }

    &__close {
      @include b($mobile-md) {
        display: none;
      }
    }
  }
}
