<tui-hosted-dropdown tuiDropdownAlign="left" [content]="dropdown" [(open)]="isSettingsOpened">
  <div class="header-settings__icon-wrapper">
    <img
      *noFrame
      class="header-settings__icon"
      src="assets/images/icons/settings.svg"
      width="24"
      height="24"
      alt="Open settings"
    />
  </div>
</tui-hosted-dropdown>

<ng-template #dropdown>
  <aside class="header-settings">
    <ng-container *ngLet="dynamicComponent$ | async as currentComponentData">
      <div
        class="header-settings__header"
        [class.header-settings__header_inside]="!isDefaultComponent"
      >
        <div class="header-settings__back" (click)="backToSettings()">
          <img
            src="assets/images/icons/arrow/arrow-right.svg"
            width="7"
            height="14px"
            alt="Back to settings"
          />
        </div>
        <h3 class="header-settings__title">{{ currentComponentData.titleKey }}</h3>
        <img
          (click)="closeSettings()"
          class="header-settings__close"
          src="assets/images/icons/crosshair.svg"
          width="12"
          height="12"
          alt="Close"
        />
      </div>
      <div
        polymorpheus-outlet
        [content]="currentComponentData.component"
        [context]="currentComponent$"
      ></div>
    </ng-container>
  </aside>
</ng-template>
