@use 'src/scss/core' as *;

.header-settings {
  width: 686px;

  border-radius: $border-radius-2;
  backdrop-filter: $backdrop-blur-1;

  transition: 300ms;

  &__icon-wrapper {
    display: flex;
    align-items: center;
    height: 50px;

    img {
      cursor: pointer;
      filter: grayscale(1);
    }
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    background: var(--secondary-background);

    border-radius: 8px;

    transform: rotate(180deg);
    cursor: pointer;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    padding: 14px 20px 0;

    img {
      cursor: pointer;

      filter: var(--filter-inversion);
    }
  }

  &__title {
    margin: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

@include b($tablet) {
  .header-settings {
    min-width: 250px;
  }
}

@include b($tablet) {
  .header-settings {
    width: auto;

    &__icon {
      width: 20px;
    }
  }
}
