@import 'src/scss/vars';

.discount-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    margin-right: 5px;
  }

  span {
    color: $main-green;
    font-size: 13px;
  }
}

.discount-button {
  color: $main-green;

  background: unset;

  &:hover {
    text-decoration: underline;
  }
}
