@use 'src/scss/core' as *;
@use '../styles';

::ng-deep .modal__content {
  padding: 20px !important;
}

.modal {
  &__point {
    &-subtitle {
      max-width: 91%;

      line-height: 160%;

      &_green {
        color: $primary-color;
      }

      @media (min-width: 2560px) {
        font-size: 20px;
      }

      @media (min-width: 3840px) {
        font-size: 28px;
      }
    }
  }

  &__footer {
    margin-bottom: 25px;

    @media (min-width: 2560px) {
      ::ng-deep button {
        width: 100%;

        font-size: 20px;
      }
    }

    @media (min-width: 3840px) {
      ::ng-deep button {
        width: 100%;

        font-size: 28px;
      }
    }
  }
}
