<div class="modal" [id]="'' + 'gtm-transaction-modal'">
  <div class="modal__content">
    <main class="modal__body">
      <img
        class="modal__success-image"
        src="assets/images/swap-and-earn/it-mouse.svg"
        alt="Mouse"
      />

      <span class="modal__point-subtitle">
        <span class="modal__point-subtitle_green">{{ points }} RBC</span> are requested to
        withdraw.<br /><br />
        <span
          >You can get your RBC through the Airdrop Claim twice a week. We’ll share the Claim Link
          soon.</span
        ><br /><br />
        <span>Follow our socials to not miss out!</span>
      </span>
    </main>
    <footer class="modal__footer">
      <button tuiButton appearance="primary" type="button" size="m" (click)="onConfirm()">
        {{ 'common.OK' | translate }}
      </button>
    </footer>
  </div>
</div>
