<div class="modal" [id]="'' + 'gtm-transaction-modal'" *noFrame>
  <div class="modal__content">
    <main class="modal__body">
      <img
        class="modal__success-image"
        src="assets/images/swap-and-earn/it-mouse.svg"
        alt="Mouse"
      />
      <ng-container>
        <h3 class="modal__title-points">Yahoo!</h3>
      </ng-container>

      <span class="modal__point-subtitle">
        <span class="modal__point-subtitle_green">{{ points }} RBC</span> are requested to
        withdraw.<br /><br />
        <span
          >You can get your RBC through the Airdrop Claim twice a week. We’ll share the Claim Link
          soon.</span
        ><br /><br />
        <span>Follow our socials to not miss out!</span>
      </span>
    </main>
    <footer class="modal__footer">
      <app-rubic-button fullWidth appearance="primary" (click)="onConfirm()">
        {{ 'common.OK' | translate }}
      </app-rubic-button>
    </footer>
  </div>
</div>
