<div class="coins-list-control">
  <input type="text" placeholder="Any"
         autocomplete="off"
         name="token"
         [(ngModel)]="tokenName"
         [value]="tokenModel.token ? tokenModel.token.token_short_name : null"
         #tokenField
         (focus)="showList()"
         (blur)="blurInput()"
         (ngModelChange)="searchToken(tokenName)"
         (keydown)="keyDownResult($event)"
         [ngStyle]="{
          'background-image': tokenModel.token ? 'url(' + tokenModel.token.image_link + ')' : undefined
         }"
         [ngClass]="{selected: tokenModel.token}"
         class="coins-list-control_input">

  <div class="coins-list-control_res">
    <ul *ngIf="tokensList.length && listIsOpened"
        (mousedown)="$event.stopPropagation(); $event.preventDefault();"
        class="coins-list-control_list">
      <li class="coins-list-control_list_item"
          *ngFor="let item of tokensList; let ind = index;"
          [ngClass]="{active: item.active}"
          (click)="selectToken(item, ind)">
        <span class="coins-list-control_list_item-content">
          <span class="coins-list-control_list_item-content_ico">
            <img [src]="item.image_link">
          </span>
          <span class="coins-list-control_list_item-content_name">
            {{item.token_name}}&nbsp;({{item.token_short_name}})
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>
