@use 'src/scss/core' as *;

.bottom-form {
  display: flex;
  flex-direction: column;

  &__container {
    z-index: 9999;

    min-height: 113px;
    margin: 30px 0 15px;
  }

  &__estimate-container {
    display: flex;
    grid-gap: 10px;
    justify-content: space-between;

    min-height: 65px;
  }

  &__footer {
    margin-top: 16px;
  }
}

app-target-network-address {
  display: block;
  margin-top: 10px;
}

@include b($mobile-md) {
  .bottom-form {
    position: relative;
    z-index: 1;

    &__container {
      height: auto;
      margin-top: 0;
      padding: 0;
    }

    &__estimate-container {
      margin-bottom: 8px;
      padding: 30px 20px;
      overflow: hidden;

      background-color: var(--form-background);
      border: 1px solid var(--transparent-line);
      border-top: none;
      border-radius: 0 0 16px 16px;
    }

    &__footer {
      margin-top: 0;
      padding: 0;
    }
  }

  app-target-network-address {
    margin-bottom: 10px;
  }
}


@include b($mobile-sm) {
  .bottom-form {
    &__container {
      flex-direction: column;
    }
  }
}
