<ng-container *ngLet="tradeStatus$ | async as tradeStatus">
  <ng-container *ngLet="criticalError$ | async as criticalError">
    <section class="bottom-form">
      <div class="bottom-form__container">
        <div class="bottom-form__estimate-container">
          <div>
            <app-select-asset-button-tokens formType="to"></app-select-asset-button-tokens>
          </div>

          <app-to-amount-estimated
            *ngLet="criticalError?.translateKey || criticalError?.message as criticalErrorText"
            [errorText]="criticalErrorText"
          ></app-to-amount-estimated>
        </div>

        <app-target-network-address
          *ngIf="displayTargetAddressInput$ | async"
        ></app-target-network-address>

        <ng-container *ngIf="!criticalError">
          <app-best-trade-panel></app-best-trade-panel>
        </ng-container>
      </div>

      <div class="bottom-form__footer">
        <div class="bottom-form__button">
          <app-swap-button-container
            [needApprove]="needApprove$ | async"
            [withApproveButton]="displayApproveButton$ | async"
            [status]="tradeStatus$ | async"
            [error]="selectedTradeError$ | async"
            buttonText="Swap"
            [nonEvmChangenow]="nonEvmChangenow$ | async"
            (onUpdateRateClick)="onUpdateRate()"
            (onSwapClick)="onSwapTrade()"
            (onApproveClick)="onApproveTrade()"
          ></app-swap-button-container>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>
