<div
  class="usd-price-container"
  [ngClass]="{ 'usd-price-container_hidden': usdPrice.eq(0) }"
>
      <span
        class="usd-price-container__price"
        [tuiHint]="usdPriceTooltip"
        tuiHintDirection="top"
        tuiHintMode="onDark"
      >${{ usdPrice | bigNumberFormat: 2 }}
      </span>
  <ng-template #usdPriceTooltip>${{ usdPrice | bigNumberFormat }}</ng-template>

  <!--    <div class="right-side__error-info">-->
  <!--      <span *ngIf="minAmount !== undefined && amount.lt(minAmount)">Min {{ minAmount }}</span>-->

  <!--      <span *ngIf="maxAmount !== undefined && amount.gt(maxAmount)">Max {{ maxAmount }}</span>-->
  <!--    </div>-->
</div>
