@use 'src/scss/core' as *;

.staking-card {
  position: relative;

  padding: 32px;

  background: #202622;
  border-radius: 20px;

  @include b($tablet) {
    padding: 16px;
  }
}

.statuses {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;

  @include b($tablet) {
    top: 10px;
    right: 10px;

    app-status-badge:not(:last-child) {
      margin-right: 5px;
    }
  }
    
  app-status-badge:not(:last-child) {
    display: block;
    margin-right: 8px;
  }
}

.title {
  @include font(22px, 26px, 600, white);
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 24px;

  @include b($tablet) {
    margin-bottom: 18px;

    font-size: 18px;
    line-height: 21.6px;
  }

  img {
    width: 34px;
    height: 34px;

    @include b($tablet) {
      width: 28px;
      height: 28px;
    }
  }

  img:first-child {
    margin-right: 32px;

    border: 3px solid transparent;
  }

  img:nth-child(2) {
    position: absolute;
    left: 20px;

    border: 3px solid #202622;
    border-radius: 100px;
  }
}

.params {
  display: flex;

  &__param {
    @include font(18px, 22px, 500, white, 0.03em);

    @include b($tablet) {
      font-size: 14px;
      line-height: 24px;

      br {
        display: block;
      }
    }

    br {
      display: none;
    }

    &-label {
      color: grey;
    }

    &:not(:last-child) {
      margin-right: 38px;

      @include b($tablet) {
        margin-right: 30px;
      }
    }
  }
}

.join {
  position: absolute;
  right: 24px;
  bottom: 24px;

  @include b($tablet) {
    position: relative;
    right: unset;
    bottom: unset;

    display: block;
    width: 100%;
    margin-top: 16px;
  }

  ::ng-deep {
    button {
      height: 32px;
    }

    .wrapper {
      padding: 8px 18px;
    }
  }
}
