@import 'src/scss/vars';
@import 'src/scss/mixins';

.rubic-volume {
  display: block;
  padding: 29px 43px;

  color: $rubic-base-05;
  font-family: $sf-pro-font;

  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 19px;

  backdrop-filter: blur(20px);

  &__title {
    margin-bottom: 20px;

    font-weight: 300;
    font-size: $rubic-font-size-02;
  }

  &__values {
    display: flex;

    font-weight: 300;

    & > div:first-child {
      margin-right: 45px;
    }
  }

  &__value {
    margin-bottom: 5px;

    font-weight: 100;
    font-size: 48px;
    line-height: 48px;
  }

  &__label {
    color: $rubic-base-06;
    font-weight: 400;
    font-size: $rubic-font-size-main;
  }
}

@include b($mobile-md) {
  .rubic-volume {
    padding: 30px 20px;

    &__values {
      display: block;

      & > div:first-child {
        margin-right: 0;
      }
    }

    &__value-it {
      margin-bottom: 15px;
    }
  }
}

@include b($mobile-sm) {
  .rubic-volume {
    &__title {
      margin-bottom: 15px;

      font-size: 16px;
    }

    &__value {
      margin-bottom: 0;

      font-size: 42px;
    }
  }
}
