<div class="rubic-volume">
  <div class="rubic-volume__title">{{ 'volume.title' | translate }}</div>
  <div class="rubic-volume__values">
    <div class="rubic-volume__value-it">
      <div class="rubic-volume__value">{{ volume.instantTradesVolume }}</div>
      <div class="rubic-volume__label">{{ 'volume.instantTrades' | translate }}</div>
    </div>
    <div>
      <div class="rubic-volume__value">{{ volume.bridgeVolume }}</div>
      <div class="rubic-volume__label">{{ 'volume.bridges' | translate }}</div>
    </div>
  </div>
</div>
