@use 'src/scss/core' as *;

.rubic-volume {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  font-size: 16px;

  &__icon {
    width: 18px;
    margin-right: 10px;
  }

  &__title {
    display: flex;
    align-items: center;
    margin-right: 10px;

    color: var(--primary-text);
  }

  &__value {
    color: var(--primary-color);
  }
}

@media (min-width: 2560px) {
  .rubic-volume {
    margin-bottom: 20px;

    font-size: 20px;

    &__icon {
      width: 25px;
      margin-right: 15px;
    }

    &__title,
    &__value {
      font-size: 20px;
    }
  }
}

@media (min-width: 3840px) {
  .rubic-volume {
    margin-bottom: 30px;

    font-size: 30px;

    &__icon {
      width: 35px;
      margin-right: 20px;
    }

    &__title,
    &__value {
      font-size: 30px;
      letter-spacing: 2px;
    }
  }
}

@include b($mobile-sm) {
  .rubic-volume {
    flex-direction: column;
    gap: 0;
  }
}
