@use 'src/scss/mixins';
@use 'src/scss/vars' as *;

.rubic-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 30px 35px 40px;

  background: var(--solid-background);
  border-radius: 14px;
  backdrop-filter: blur(24px);

  @include mixins.b(mobile) {
    padding: 20px 30px 30px;
  }

  @include mixins.b(400) {
    padding: 15px 20px 20px;
  }
}

.header {
  margin-bottom: 26px;

  color: var(--primary-text);
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  @include mixins.b(400) {
    margin-bottom: 16px;
  }
}
