.rubic-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 30px 35px 40px;

  font-family: SF-Pro,sans-serif;

  background: var(--main-form-background);
  border-radius: 14px;
  backdrop-filter: blur(24px);
}

.header {
  margin-bottom: 26px;

  color: var(--form-bright-text-color);
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
