@import 'src/scss/vars';
@import 'src/scss/mixins';

:host {
  width: 100%;
  max-width: 610px;
}

.swaps-form {
  min-height: 200px;
  margin-bottom: 35px;
  padding: 30px 40px;

  background-color: var(--main-form-background);
  border-radius: 19px;
  backdrop-filter: blur(50px);

  ~ *:not(:last-child) {
    display: block;
    margin-bottom: 35px;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 20px;
  }

  &__title {
    margin: 0 5px 0 0;

    font-weight: 100;
    font-size: 24px;

    color: var(--form-bright-text-color);
  }

  &__settings {
    margin-left: auto;

    cursor: pointer;
  }

  &__top-part {
    display: flex;

    > *:first-child {
      flex-grow: 1;

      border-right: 2px solid var(--rubic-base-01);
    }

    app-rubic-tokens {
      width: 185px;

      ::ng-deep {
        .tokens__symbol {
          max-width: 48px;
        }
      }
    }
  }
  
  &__delimiter {
    position: relative;

    background-color: var(--main-background);

    > * {
      position: absolute;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;

      display: block;
      width: calc(50% - 37px);
      height: 1px;

      background-color: var(--rubic-secondary);

      content: '';
    }

    &::before {
      left: 20px;
    }

    &::after {
      right: 20px;
    }
  }

  &__button {
    margin-bottom: 15px;
  }

  &__terms-and-conditions {
    font-weight: 300;
    font-size: 14px;
    text-align: center;

    a {
      display: block;

      color: $rubic-primary;
      font-weight: 400;
    }
  }
}

.swaps-volume {
  display: block;
  margin-top: 35px;
}

.swaps-footer {
  display: block;
  margin-top: 65px;
}

.button-reloading {
  img {
    animation: spin 0.9s linear 2s;
  }
}

@include b($mobile-md) {
  .swaps-form {
    position: relative;

    padding: 0 0 20px;

    &__header {
      height: 0;
      margin-bottom: 0;
    }

    &__title,
    &__refresh {
      display: none;
    }

    &__settings {
      position: absolute;
      top: 15px;
      right: 20px;
    }

    &__top-part {
      display: block;

      > *:first-child {
        display: block;

        border-right: 0;
        border-bottom: 2px solid var(--rubic-base-01);
      }
    }

    &__delimiter {
      margin-bottom: 6px;

      > * {
        top: 0;
      }
    }
  }
}
