<div class="swaps-form">
  <header class="swaps-form__header">
    <h1 class="swaps-form__title">Swap</h1>
    <app-rubic-button-circle (click)="refreshTrade()" size="l" appearance="flat" hint="Reload" hintDirection="top-left">
      <img src="assets/images/icons/reload.svg" width="18" height="18" alt="Reload" />
    </app-rubic-button-circle>

    <div class="swaps-form__settings">
      <app-settings-container></app-settings-container>
    </div>
  </header>

  <main class="swaps-form__content">
    <div class="swaps-form__top-part">
      <app-rubic-blockchains
        class="form-panel__blockchains"
        blockchainType="from"
      ></app-rubic-blockchains>

      <app-rubic-tokens
        class="form-panel__tokens"
        [loading]="isLoading"
        tokenType="from"
        [tokens]="availableTokens['from']"
      ></app-rubic-tokens>
    </div>

    <app-token-amount-input
      [token]="selectedToken.from"
      [amount]="selectedFromAmount"
      [minAmount]="getMinMaxAmounts('minAmount')"
      [maxAmount]="getMinMaxAmounts('maxAmount')"
      (amountChange)="onTokenInputAmountChange($event)"
    ></app-token-amount-input>

    <div class="swaps-form__delimiter">
      <app-rubic-switcher (onClick)="revert()"></app-rubic-switcher>
    </div>

    <div class="swaps-form__top-part">
      <app-rubic-blockchains
        class="form-panel__blockchains"
        blockchainType="to"
      ></app-rubic-blockchains>

      <app-rubic-tokens
        class="form-panel__tokens"
        [loading]="isLoading"
        tokenType="to"
        [tokens]="availableTokens['to']"
      ></app-rubic-tokens>
    </div>

    <app-instant-trade-bottom-form *ngIf="isInstantTrade"></app-instant-trade-bottom-form>

    <app-bridge-bottom-form *ngIf="!isInstantTrade"></app-bridge-bottom-form>
  </main>
</div>

<app-rubic-volume></app-rubic-volume>
