@import 'src/styles';

:host {
  display: block;
  width: 610px;
  max-width: 610px;

  @include iframe {
    width: 100%;
  }

  @include iframe-horizontal {
    max-width: unset;
  }
}

.swaps-form {
  min-height: 200px;
  margin-bottom: 35px;
  padding: 30px 40px;

  background-color: var(--main-form-background);
  border-radius: 19px;
  backdrop-filter: blur(50px);

  @include iframe-horizontal {
    display: flex;
    align-items: flex-end;

    min-height: $iframe-horizontal-height;
    margin-bottom: 0;
    padding: 0 20px 55px;
  }

  @include iframe-vertical {
    width: $iframe-vertical-width;
    height: $iframe-vertical-height;
    margin-bottom: 0;
    padding: 80px 10px 15px;
  }

  @include light-iframe {
    background-color: white;
  }

  ~ *:not(:last-child) {
    display: block;
    margin-bottom: 35px;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 20px;
  }

  &__title {
    margin: 0 10px 0 0;

    color: var(--form-bright-text-color);
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1.5px;
  }

  &__settings {
    margin-left: auto;

    cursor: pointer;
  }

  &__delimiter {
    position: relative;

    background-color: var(--main-background);

    @include iframe-horizontal {
      display: flex;
      align-items: center;
      margin: 0 5px;

      background-color: unset;
    }

    @include iframe-vertical {
      display: flex;
      justify-content: center;
      padding: 15px 0;

      background: transparent;
    }

    > * {
      position: absolute;
      left: 50%;

      transform: translate(-50%, -50%);

      @include iframe-horizontal {
        position: static;
        left: unset;

        transform: unset;
      }

      @include iframe-vertical {
        position: static;
        left: unset;

        transform: none;
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;

      display: block;
      width: calc(50% - 37px);
      height: 1px;

      background-color: var(--rubic-secondary);

      content: '';

      @include iframe-vertical {
        display: none;
      }
    }

    &::before {
      left: 20px;
    }

    &::after {
      right: 20px;
    }
  }

  &__content {
    @include iframe-horizontal {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    @include iframe-vertical {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }

  &__block {
    @include iframe {
      display: flex;

      app-iframe-blockchain-indicator {
        margin-right: 10px;
      }
    }

    @include iframe-vertical {
      app-instant-trade-bottom-form,
      app-bridge-bottom-form {
        width: 100%;
      }
    }
  }
}

@include b($mobile-md) {
  .swaps-form {
    position: relative;

    padding: 0 0 20px;

    &__header {
      height: 0;
      margin-bottom: 0;
    }

    &__title {
      display: none;
    }

    &__settings {
      position: absolute;
      top: 65px;
      right: 20px;
      z-index: 100;
    }
  }
}

@include b($mobile-sm) {
  .swaps-form {
    &__settings {
      top: 80px;
    }
  }
}
