@import '../../../scss/_mixins';

.address-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;

  &__label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
  }

  &__container {
    position: relative;
    width: 60%;
    min-width: 500px;
    height: 54px;
  }

  &__input {
    box-sizing: border-box;

    height: 100%;
    padding: 11px 11px 11px 22px;
    border: 1px solid white;

    color: #110931;
    background: #f4f4f4;

    font-family: inherit;
    font-size: 18px;

    &::placeholder {
      font-size: 20px;
    }

    &_correct {
      border-color: rgb(74, 169, 86);
      box-shadow: 0 0 5px rgba(74, 169, 86, 0.4);
    }

    &_incorrect {
      border-color: rgb(255, 41, 68);
      box-shadow: 0 0 5px rgba(255, 41, 68, 0.4);
    }
  }
}

@include b(1150) {
  .address-input {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    grid-gap: 9px;

    &__label {
      padding-left: 9px;
    }

    &__container {
      width: 65%;
    }
  }
}

@include b(970) {
  .address-input {
    padding: 0 calc(13px + 1%);
  }
}

@include b(720) {
  .address-input {
    &__label {
      font-size: 18px;
    }

    &__container {
      min-width: 420px;
    }

    &__input {
      padding-left: 12px;
      font-size: 16px;

      &::placeholder {
        font-size: 16px;
      }
    }
  }
}

@include b(500) {
  .address-input {
    &__container {
      width: 100%;
      min-width: initial;
    }
  }
}

@include b(460) {
  .address-input {
    padding: 0;
  }
}
