@use 'src/scss/core' as *;

:host {
  @include hide-unused-ui {
    @include b($mobile-md) {
      position: initial !important;
    }
  }
}

tui-hosted-dropdown ::ng-deep .t-wrapper {
  display: flex;
  align-items: center;
}

img {
  filter: grayscale(1);
}
