<div class="network-container">
  <div class="network-container__row">
    <label class="network-container__label">Wallet address to target network</label>
    <div
      class="network-container__hint"
      [inlineSVG]="'/assets/images/icons/hint.svg'"
      [tuiHint]="'crossChainPage.targetAddress.hint' | translate: { network: targetBlockchainName }"
    ></div>
  </div>

  <!-- @TODO Solana. Get i18n -->
  <tui-input
    [tuiTextfieldCustomContent]="!!address.value ? (address.valid ? success : error) : ''"
    tuiTextfieldSize="m"
    [formControl]="address"
    [tuiTextfieldLabelOutside]="true"
    [pseudoFocused]="!!address.value"
    [pseudoInvalid]="(address.touch$ | async) !== undefined && address.invalid"
    >Enter or past address</tui-input
  >
  <ng-template #success>
    <div
      class="network-container__input-status-icon"
      [inlineSVG]="'assets/images/icons/forms/success-input.svg'"
    ></div>
  </ng-template>
  <ng-template #error>
    <div
      class="network-container__input-status-icon"
      [inlineSVG]="'assets/images/icons/forms/error-input.svg'"
    ></div>
  </ng-template>
</div>
