@import 'src/scss/mixins';
@import 'src/scss/vars';

.dropdown-label {
  display: flex;
  padding: 15px 12px;

  font-size: 16px;

  line-height: 21px;

  @include b($desktop) {
    font-size: 14px;
  }

  &__text {
    span {
      font-size: 16px;
    }
  }

  &__image-container {
    width: 39px;
    height: 39px;
    margin-right: 15px;
  }

  img {
    max-width: 39px;
    max-height: 39px;
  }

  &_selected {
    align-items: center;

    height: 28px;
    margin: 0;
    padding: 5px 29px 5px 11px;

    .dropdown-label__image-container {
      width: initial;
      height: initial;
      margin-right: 10px;
    }

    img {
      float: unset;

      max-width: 28px;
      height: auto;

      vertical-align: middle;
    }

    &::after {
      @include dropdown-arrow(5px, bottom, 2px);

      right: 11px;
    }
  }
}
