@use 'src/scss/core' as *;

.badge-element {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 15px;
  margin-right: 8px;

  font-size: 50%;

  border-radius: 4px;

  img {
    height: 50%;
  }
}

.promo {
  background: linear-gradient(150deg, #23dca4 8%, #377fec 60%, #7e1dca 90%);
}

.new {
  background: linear-gradient(160deg, #fab2ff 10%, #1904e5 90%);
}

.birthday {
  background: transparent;

  img {
    width: 100%;
    height: auto;
  }
}

@include b($mobile-md) {
  .badge-element {
    width: 83px;
    height: 24px;

    font-size: 70%;

    border-radius: 6px;
  }
}
