@use '../../../../scss/core' as *;

.modal {
  &__content {
    @include b($tablet) {
      padding: 10px;
    }
  }

  &__title {
    margin: 0 0 16px;

    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: left;

    @include b($mobile-md) {
      display: none;
    }
  }

  &__footer {
    margin-top: var(--tui-padding-l);

    &-text {
      position: relative;

      margin-bottom: var(--tui-padding-l);
      padding: 0 30px;

      font-weight: 400;
      font-size: 14px;
      letter-spacing: 1px;
      text-align: left;

      @include b($mobile-md) {
        padding: 0 40px;

        img {
          left: 18px;
        }
      }

      img {
        position: absolute;
        top: -30px;
        left: 8px;
      }
    }

    &-actions {
      display: flex;

      button {
        display: block;
        flex: 1;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ::ng-deep app-rubic-button button {
    float: left;
    width: 150px;
  }
}
