<div class="wrapper">
  <h1>New UI components page</h1>

  <!-- Button example -->
  <section>
    <h2>Button example</h2>
    <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3">
      Button example
    </button>
  </section>

  <!--  Dropdown Selector example-->
  <section>
    <h2>Dropdown Selector example</h2>

    <app-dropdown-selector
      [dropdownButtonTemplate]="dropdownButtonTemplate"
      [dropdownOptionsTemplates]="dropdownOptionsTemplates"
      (optionChange)="onOptionChange($event)"
    ></app-dropdown-selector>

    <ng-template #dropdownButtonTemplate>
      <button tuiButton>chosen option</button>
    </ng-template>

    <ng-template #dropdownOptionTemplate *ngFor="let option of options">
      <span>
        {{ option }}
      </span>
    </ng-template>
  </section>

  <section>
    <h2>Provider panel</h2>
    <div>
      <h3>Default</h3>
      <app-provider-panel [providerControllerData]="providerControllers[0]"></app-provider-panel>
      <h3>Loading</h3>
      <app-provider-panel [providerControllerData]="providerControllers[1]"></app-provider-panel>
      <h3>Best</h3>
      <app-provider-panel [providerControllerData]="providerControllers[2]"></app-provider-panel>
    </div>
  </section>

  <section>
    <h2>Another component</h2>
    <span>...</span>
  </section>
</div>
