<div class="wrapper">
  <h1>New UI components page</h1>

  <!-- Button example -->
  <section>
    <h2>Blockchains</h2>
    <app-rubic-blockchains [blockchainsList]="blockchainsList"></app-rubic-blockchains>

    <h2>Tokens</h2>
    <app-rubic-tokens></app-rubic-tokens>

    <h2>Blockchains and tokens</h2>
    <div class="form-panel">
      <app-rubic-blockchains
        class="form-panel__blockchains"
        [blockchainsList]="blockchainsList"
      ></app-rubic-blockchains>
      <app-rubic-tokens class="form-panel__tokens"></app-rubic-tokens>
    </div>

    <h2>Button example</h2>
    <div class="tui-space_bottom-5">
      <app-rubic-button
        class="tui-space_right-10"
        [buttonText]="'Connect wallet'"
      ></app-rubic-button>

      <app-rubic-button
        class="tui-space_right-10"
        [buttonText]="'Connect wallet'"
        [appearance]="'flat'"
      ></app-rubic-button>

      <app-rubic-button
        class="tui-space_right-10"
        [buttonText]="'Connect wallet'"
        [disabled]="true"
      ></app-rubic-button>
    </div>

    <div class="tui-space_bottom-5">
      <app-rubic-button
        class="tui-space_right-10"
        [buttonText]="'RBC'"
        [size]="'s'"
        [iconUrl]="'assets/images/icons/eth-logo.svg'"
        [altText]="'RBC'"
      ></app-rubic-button>

      <app-rubic-button
        class="tui-space_right-10"
        [buttonText]="'RBC'"
        [size]="'s'"
        [iconUrl]="'assets/images/icons/eth-logo.svg'"
        [altText]="'RBC'"
        [disabled]="true"
      ></app-rubic-button>

      <app-rubic-button
        class="tui-space_right-10"
        [buttonText]="'Select token'"
        [size]="'s'"
        [altText]="'RBC'"
      ></app-rubic-button>

      <app-rubic-button
        [buttonText]="'Select token'"
        [size]="'s'"
        [altText]="'RBC'"
        [disabled]="true"
      ></app-rubic-button>
    </div>

    <div>
      <app-rubic-button
        [fullWidth]="true"
        [buttonText]="'Connect wallet'"
        [altText]="'RBC'"
      ></app-rubic-button>
    </div>
  </section>

  <section>
    <h2>Circle button</h2>
    <app-rubic-button-circle
      class="tui-space_right-10"
      [size]="'s'"
      [iconUrl]="'assets/images/icons/coins/polygon.svg'"
      [altText]="'Polygon'"
    >
    </app-rubic-button-circle>

    <app-rubic-button-circle
      class="tui-space_right-10"
      [size]="'s'"
      [iconUrl]="'assets/images/icons/coins/polygon.svg'"
      [altText]="'Polygon'"
      [disabled]="true"
    >
    </app-rubic-button-circle>

    <app-rubic-button-circle
      class="tui-space_right-10"
      [size]="'s'"
      [iconUrl]="'assets/images/icons/setting.svg'"
      [hintDirection]="'top-left'"
      [altText]="'Settings'"
    >
    </app-rubic-button-circle>

    <app-rubic-button-circle
      [size]="'l'"
      [iconUrl]="'assets/images/icons/reload.svg'"
      [altText]="'Reload'"
      [hintDirection]="'top-left'"
    >
    </app-rubic-button-circle>
  </section>

  <section>
    <h2>Switcher</h2>
    <app-rubic-switcher></app-rubic-switcher>
  </section>

  <section>
    <h2>Theme toggle</h2>
    <app-rubic-toggler-theme></app-rubic-toggler-theme>
  </section>

  <!--  Dropdown Selector example-->
  <section>
    <h2>Dropdown Selector example</h2>

    <app-dropdown-selector
      [dropdownButtonTemplate]="dropdownButtonTemplate"
      [dropdownOptionsTemplates]="dropdownOptionsTemplates"
      (optionChange)="onOptionChange($event)"
    ></app-dropdown-selector>

    <ng-template #dropdownButtonTemplate>
      <button tuiButton>chosen option</button>
    </ng-template>

    <ng-template #dropdownOptionTemplate *ngFor="let option of options">
      <span>
        {{ option }}
      </span>
    </ng-template>
  </section>

  <section>
    <h2>Provider panel</h2>
    <div>
      <h3>Default</h3>
      <app-provider-panel
        [providerControllerData]="store.providerControllers[0]"
        (selectProvider)="store.selectProvider(0)"
      ></app-provider-panel>
      <h3>Loading</h3>
      <app-provider-panel
        [providerControllerData]="store.providerControllers[1]"
        (selectProvider)="store.selectProvider(1)"
      ></app-provider-panel>
      <h3>Best</h3>
      <app-provider-panel
        [providerControllerData]="store.providerControllers[2]"
        (selectProvider)="store.selectProvider(2)"
      ></app-provider-panel>
    </div>
  </section>

  <section>
    <h2>Instant Trade bottom form</h2>
    <app-instant-trade-bottom-form></app-instant-trade-bottom-form>
  </section>

  <section>
    <h2>Bridge bottom form</h2>
    <app-bridge-bottom-form></app-bridge-bottom-form>
  </section>

  <section>
    <h2>Bottom form loading</h2>
    <app-amount-input [loading]="true"></app-amount-input>
  </section>

  <section>
    <h2>Another component</h2>
    <span>...</span>
  </section>
</div>
