<div class="wrapper">
  <h1>New UI components page</h1>

  <!-- Button example -->
  <section>
    <h2>Button example</h2>
    <button tuiIconButton type="button" class="tui-space_right-3 tui-space_bottom-3">
      Button example
    </button>
  </section>

  <section>
    <h2>Circle button</h2>
    <app-rubic-button-circle
      [size]="'s'"
      [icon]="'https://ng-web-apis.github.io/dist/assets/images/web-api.svg'"
    >
    </app-rubic-button-circle>
    <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3">
      Button example
    </button>
  </section>

  <!--  Dropdown Selector example-->
  <section>
    <h2>Dropdown Selector example</h2>

    <app-dropdown-selector
      [dropdownButtonTemplate]="dropdownButtonTemplate"
      [dropdownOptionsTemplates]="dropdownOptionsTemplates"
      (optionChange)="onOptionChange($event)"
    ></app-dropdown-selector>

    <ng-template #dropdownButtonTemplate>
      <button tuiButton>chosen option</button>
    </ng-template>

    <ng-template #dropdownOptionTemplate *ngFor="let option of options">
      <span>
        {{ option }}
      </span>
    </ng-template>
  </section>

  <section>
    <h2>Provider panel</h2>
    <div>
      <h3>Default</h3>
      <app-provider-panel [providerControllerData]="store.providerControllers[0]" (selectProvider)="store.selectProvider(0)"></app-provider-panel>
      <h3>Loading</h3>
      <app-provider-panel [providerControllerData]="store.providerControllers[1]" (selectProvider)="store.selectProvider(1)"></app-provider-panel>
      <h3>Best</h3>
      <app-provider-panel [providerControllerData]="store.providerControllers[2]" (selectProvider)="store.selectProvider(2)"></app-provider-panel>
    </div>
  </section>

  <section>
    <h2>Instant Trade bottom form</h2>
    <app-instant-trade-bottom-form></app-instant-trade-bottom-form>
  </section>

  <section>
    <h2>Bridge bottom form</h2>
    <app-bridge-bottom-form></app-bridge-bottom-form>
  </section>

  <section>
    <h2>Bottom form loading</h2>
    <app-amount-input [loading]="true"></app-amount-input>
  </section>

  <section>
    <h2>Another component</h2>
    <span>...</span>
  </section>
</div>
