<ng-container *ngLet="{ step: step$ | async } as state">
  <tui-accordion class="step">
    <tui-accordion-item
      [class.tui-accordion-item__disabled]="!state.step.active"
      [disabled]="!state.step.active"
      [showArrow]="state.step.active"
      [size]="'s'"
      [(open)]="state.step.opened"
    >
      <span class="step-counter">4</span>
      <span class="step-title">EXCHANGE STATUS</span>
      @if (state.step.loading) {
        <app-step-loading-label></app-step-loading-label>
      } @else if (!state.step.active) {
        <app-step-locked-label></app-step-locked-label>
      }

      <ng-template tuiAccordionItemContent>
        <div class="step-content">I'm TRADE STATUS</div>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</ng-container>
