<div *ngIf="!($tableLoading | async)" class="trades-table">
    <div class="trades-table__title-section">
      <h2 class="trades-table__title">{{ 'My trades' | translate }}</h2>
      <button  class="trades-table__refresh-button refresh-btn" (click)="refreshTable()">
        <img class="arrow" src="./assets/images/icons/refresh.svg">
      </button>
    </div>
    <table mat-table matSort [dataSource]="$dataSource | async" class="table" *ngIf="($dataSource | async).length !== 0">
      <colgroup *ngIf="">
        <ng-container>
          <col *ngFor="let size of $columnsSizes | async" [style.width]="size">
        </ng-container>
     </colgroup>
      <!-- Tokens icons column  -->
      <ng-container matColumnDef="token">
        <th mat-header-cell *matHeaderCellDef #tokensHeader matAutocompleteOrigin>
          <!-- Uncomment after filtering release -->
          <!-- <app-coins-filter></app-coins-filter> -->
        </th>
        <td *matCellDef="let element">
          <app-tokens-cell [token]="element.token"></app-tokens-cell>
        </td>
      </ng-container>
      <!-- Tokens amount column  -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="centered-child">
          <div class="trades-table__cell">
            {{ 'Volume' | translate }}
          </div>
        </th>
        <td *matCellDef="let element" class="centered-child clickable">
          <app-volume-cell [token]="element.token"></app-volume-cell>
        </td>
      </ng-container>
      <!-- Network column  -->
      <ng-container matColumnDef="network">
        <th mat-header-cell *matHeaderCellDef class="centered-child">
          <div class="trades-table__cell">
            {{ 'Chain' | translate }}
          </div>
        </th>
        <td *matCellDef="let element" class="centered-child">
          <div class="trades-table__cell">
            <img class="table__image" [src]="getChainIcon(element.blockchain)" alt="{{ element.blockchain }}">
          </div>  
        </td>
      </ng-container>
      <!-- Expires in column  -->
      <ng-container matColumnDef="expires">
        <th mat-header-cell *matHeaderCellDef class="centered-child">
          <div class="trades-table__cell">
            {{ 'Expires in' | translate }}
          </div>
        </th>
        <td *matCellDef="let element" class="centered-child">
          <div class="trades-table__cell">
            {{ element.expirationDate | date: 'd' }}d: 
            {{ element.expirationDate | date: 'h' }}h:
            {{ element.expirationDate | date: 'm' }}m
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="$displayedColumns | async"></tr>
      <tr routerLink="/public-v3/{{ row.uniqueLink }}" mat-row *matRowDef="let row; columns: $displayedColumns | async;"></tr>
    </table>
    <p *ngIf="($dataSource | async).length === 0">No table data</p>
  </div>
  <ng-container *ngIf="$tableLoading | async">
    <app-spinner></app-spinner>
  </ng-container>
  
  