@import '../../../../../scss/elements/table';

$primary-color: #4aa956;

.trades-table {
  &__title-section {
    display: flex;
    align-items: center;
  }

  tr {
    cursor: pointer;
  }

  &__refresh-button {
    margin-left: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

::ng-deep {
  .mat-row {
    cursor: pointer;
  }

  .mat-option:hover:not(.mat-option-disabled) {
    background: inherit;

    & > .mat-option-text {
      color: $primary-color;
    }
  }

  .mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled),
  .mat-option.mat-active {
    background: inherit;

    & > .mat-option-text {
      color: $primary-color;
      font-weight: 600;
    }
  }

  .mat-sort-header-container {
    justify-content: center;
  }
}