<form #filterForm class="coins-filter-form">
    <input type="text"
      placeholder="{{ 'SEND' | translate }}"
      class="coins-filter-form__tokens-input"
      [formControl]="tokensFromInput"
      [matAutocomplete]="autoFrom"
    >
    <mat-autocomplete
      #autoFrom="matAutocomplete"
      [panelWidth]="tokensHostWidth"
    >
      <mat-option *ngFor="let option of $filteredFromOptions | async" [value]="option.token_short_title">
        <div class="coins-filter-form__tokens-dropdown">
          <img [src]="option.image_link" alt="option.option.token_title ">
          {{ option.token_title }}&nbsp;({{ option.token_short_title }})
        </div>
      </mat-option>
    </mat-autocomplete>
    <button (click)="switchTokens()" class="coins-filter-form__switch-button">
      <img class="order-books-table__switch-icon" src="assets/images/icons/table/sort-1.svg" alt="Switch tokens">
    </button>
    <input type="text"
      placeholder="{{ 'GET' | translate }}"
      class="coins-filter-form__tokens-input"
      [formControl]="tokensToInput"
      [matAutocomplete]="autoTo"
    >
    <mat-autocomplete
      #autoTo="matAutocomplete"
      [panelWidth]="tokensHostWidth"
    >
      <mat-option *ngFor="let option of $filteredToOptions | async" [value]="option.token_short_title">
        <div class="coins-filter-form__tokens-dropdown">
          <img [src]="option.image_link" alt="option.option.token_title ">
          {{ option.token_title }}&nbsp;({{ option.token_short_title }})
        </div>
      </mat-option>
    </mat-autocomplete>
  </form>