@import 'src/styles';

.modal {
  position: relative;

  padding: 40px 20px 20px;

  font-weight: 300;

  border-radius: 10px;

  @include iframe-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $iframe-horizontal-width;
    height: 100vh;
    margin: 0 auto;
  }

  &__content {
    @include iframe-horizontal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 180px;
      max-height: 180px;
      padding: 0 30px;
    }
  }

  &__title {
    margin-top: 0;

    color: #808080;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
  }

  &__header {
    margin-right: 40px;
  }

  &__header,
  &__body {
    margin-bottom: 30px;
  }

  &__footer {
    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include iframe-horizontal {
      flex-direction: row;
      justify-content: center;

      margin-bottom: 15px;
    }
  }

  &__provider-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;

    img {
      width: 100%;
    }
  }

  &__link {
    color: $rubic-primary;
  }

  &__provider-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    padding: 10px 20px;


    color: #4aa956;
    font-size: 18px;

    background: transparent;
    border: 1px solid $rubic-primary;
    border-radius: 10px;
    cursor: pointer;

    transition: 0.2s ease-in-out;

    @include iframe-horizontal {
      max-width: 240px;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include iframe-horizontal {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }

    &:not([disabled]):hover {
      transform: scale(1.03);
    }
  }
}
