@import '../../../../../../../scss/mixins';

$ltablet-width: 1024px;
$mobile-logo-margin: 10px;

.logotype {
  float: left;

  cursor: pointer;

  @include b($ltablet-width) {
    margin-left: $mobile-logo-margin;
  }
}
