@use 'src/scss/core' as *;

.dropdown-content__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--tui-padding-xs);
  padding: var(--tui-padding-xs);
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 209px;

  .auto-height {
    height: auto !important;
  }

  > * {
    width: 100%;
    height: 100%;

    cursor: pointer;

    ::ng-deep * {
      display: block;
    }
  }

  &:hover {
    background: var(--tui-secondary);
    border-radius: var(--tui-radius-m);
  }

  &__element {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 5px;

    color: white;
    font-size: 13px;

    &:active {
      padding: 5px;
    }

    &:hover {
      text-decoration: none;

      background: var(--tui-base-01);
      border-radius: var(--tui-radius-s);
    }

    ::ng-deep svg {
      width: 20px;
      height: 20px;
    }

  }
}

.dropdown-button {
  width: fit-content !important;
  height: 45px;
}

