<div
  *ngLet="isCorrectDepositAddressSet$ | async as isCorrectAddressSet"
  class="refund-address-container"
>
  <div class="refund-address__title">
    <img
      class="refund-address__title-icon"
      src="assets/images/icons/yellow-warn.png"
      width="15"
      height="15"
      alt="warn-icon"
    />
    <p class="refund-address__title-text">
      The refund address is required in the event of a failed transaction
    </p>
  </div>

  <div class="refund-address__input" [ngStyle]="{ opacity: isCorrectAddressSet ? 0.8 : 1 }">
    <tui-textfield tuiTextfieldSize="l" [tuiTextfieldCleaner]="!!refundAddressCtrl.value">
      <label tuiLabel>{{ labetText }}</label>
      <input tuiTextfield [formControl]="refundAddressCtrl" [invalid]="refundAddressCtrl.invalid" (focus)="onFocusChange(true)" (blur)="onFocusChange(false)" />
      <tui-icon
        *ngIf="!!refundAddressCtrl.value"
        [icon]="isCorrectAddressSet ? 'assets/images/icons/forms/success-input.svg' : 'assets/images/icons/forms/error-input.svg'"
      ></tui-icon>
    </tui-textfield>
  </div>
</div>
