@import 'src/scss/mixins';
@import 'src/scss/vars';

.trades-form {
  width: 100%;
  margin-bottom: 10px;

  &__tabs {
    display: flex;
    justify-content: space-between;
    height: 52px;

    ul {

      display: flex;
      align-items: flex-start;
      margin: 0;
      padding: 0;
    }
  }

  &__body {
    background-color: white;
  }
}

.tab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  margin-right: 5px;
  padding: 0 15px;

  background-color: white;
  cursor: pointer;

  opacity: 0.85;

  &:last-child {
    margin-right: 0;
  }

  span {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }

  img {
    max-width: 18px;
    max-height: 18px;
    margin-right: 10px;
  }

  &:hover {
    box-shadow: 0 2px 6px rgba(black, 0.1);
  }

  &_active {
    height: 52px;

    cursor: default;

    opacity: unset;

    span {
      position: static;

      font-weight: bold;
    }

    &:hover {
      box-shadow: unset;
    }
  }

  &_blockchain {
    min-width: 130px;
  }

  &_mode {
    min-width: 160px;

    img {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

@include b($laptop) {
  .trades-form {
    &__tabs {
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    .trades-form__tabs-blockchains {
      margin-bottom: 21px;
    }
  }

  .tab {
    &_blockchain {
      width: 180px;
      height: 50px;
      padding: 15px;

      &.tab_active {
        position: relative;

        border-bottom: 2px solid $main-green;

        &::after {
          position: absolute;
          bottom: -9px;
          left: 50%;

          width: 0;
          height: 0;

          border-color: $main-green transparent transparent transparent;
          border-style: solid;
          border-width: 9px 9px 0;
          transform: translateX(-50%);

          content: '';
        }
      }
    }
  }
}

@include b($tablet) {
  .trades-form {
    &__tabs-blockchains {
      align-items: stretch !important;
      width: 90%;
    }
  }

  .tab {
    &_blockchain {
      flex-direction: column;
      width: 33.33%;
      min-width: auto;
      height: auto;

      text-align: center;

      img {
        max-width: 33px;
        max-height: 33px;
        width: auto;
        height: auto;
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
}

@include b($mobile-sm) {
  .trades-form {
    &__tabs-blockchains,
    &__tabs-modes {
      width: 100%;
    }
  }

  .tab {
    &_mode {
      width: 50%;
      min-width: auto;
    }

    &_blockchain {
      padding: 8px;

      span {
        font-size: 12px;
      }
    }
  }
}
