<div class="trades-form">
  <div class="trades-form__tabs">
    <ul class="trades-form__tabs-blockchains">
        <li
          class="tab tab_blockchain tab_active"
          *ngFor="let blockchain of BLOCKCHAINS"
          [ngClass]="{ tab_active: selectedBlockchain === blockchain.name, 'display-none': ($hiddenNetworks | async)?.includes(blockchain.name) }"
          (click)="this.selectedBlockchain = blockchain.name"
        >
          <img [src]="blockchain.image" alt="" />
          <span>{{ blockchain.label }}</span>
        </li>
    </ul>
    <ul class="trades-form__tabs-modes">
        <li
          class="tab tab_mode"
          *ngFor="let mode of MODES"
          [ngClass]="{ tab_active: selectedMode === mode.name }"
          (click)="this.selectedMode = mode.name"
        >
          <span>{{ mode.label }}</span>
          <img [src]="selectedMode === mode.name ? mode.imageActive : mode.imageNotActive" alt="" />
        </li>
    </ul>
  </div>

  <div class="trades-form__body" [ngSwitch]="selectedMode">
    <ng-content></ng-content>
  </div>
</div>
