@import '../../scss/_mixins';
@import '../../scss/elements/vars';

.about-page {
  font-family: var(--main-font) !important;
  font-weight: normal;
  background-color: #ffffff;

  @include b(1100) {
    background-image: none;
  }

  .first-block {
    padding-top: 200px;

    @include b(850) {
      padding-top: 100px;
    }

    .container {
      max-width: 1100px;
      display: grid;
      grid-template-columns: minmax(300px, 450px) minmax(300px, 1fr);
      grid-gap: 50px;
      justify-content: center;
      align-items: center;

      @include b(850) {
        grid-template-columns: 1fr;
        grid-gap: 25px;
      }

      img {
        max-width: 415px;
        width: 100%;
      }

      h3 {
        padding-right: 100px;

        @include b(1100) {
          padding-right: 0px;
        }
      }
    }
  }

  .benefit {
    margin-top: 100px;

    .container {
      max-width: 1100px;
    }

    &-blocks {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
      grid-gap: 15px;

      @include b(700) {
        grid-template-columns: 1fr;
      }

      &-item {
        background-color: #fafafa;
        padding: 40px 60px 25px 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 155px;

        @include b(850) {
          padding: 20px;
        }

        @include b(700) {
          min-height: 0px;
        }
      }
    }
  }

  .features {
    margin-top: 100px;

    .container {
      max-width: 1100px;
    }

    &-blocks {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
      margin-top: 20px;
      grid-gap: 16px;

      @include b(700) {
        grid-template-columns: 1fr;
      }

      &-item {
        background-color: #fafafa;
        padding: 25px 35px 25px 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: 50px;

        @include b(850) {
          padding: 20px;
        }

        @include b(700) {
          min-height: 0px;
        }
      }
    }
  }

  .rubic-contract {
    margin-top: 100px;

    .container {
      max-width: 1100px;
    }

    &-image {
      width: 100%;
      margin-top: 20px;

      @include b(500) {
        padding-bottom: 0;
        min-height: 400px;
      }
    }
  }

  .rubic-roadmap {
    margin-top: 100px;
    padding-bottom: 150px;

    .container {
      max-width: 1100px;
    }

    &-block {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      position: relative;

      @include b(1100) {
        flex-direction: column;
      }

      &:after {
        content: '';
        background-color: #4aa956;
        height: 2px;
        position: absolute;
        width: 100vw;
        bottom: -69.5px;
        left: calc((100% - 100vw) / 2);

        @include b(1100) {
          height: 100%;
          position: absolute;
          width: 2px;
          left: 1px;
          top: 0;
        }
      }

      &-item {
        background-color: #fafafa;
        border-radius: 5px;
        padding: 25px 20px;
        position: relative;
        width: 223px;
        height: 326px;

        @include b(1100) {
          max-width: 100%;
          margin-left: 60px;
          width: auto;
          margin-bottom: 15px;
        }

        &:after {
          content: '';
          border: 1px dashed #4aa956;
          height: 50px;
          position: absolute;
          bottom: -55px;

          @include b(1100) {
            border: 1px dashed #4aa956;
            height: 50px;
            position: absolute;
            top: 0px;
            left: -30px;
            transform: rotate(90deg);
          }
        }

        &:before {
          content: '';
          height: 15px;
          width: 15px;
          background-color: #4aa956;
          position: absolute;
          bottom: -75px;
          left: 14.5px;

          @include b(1100) {
            height: 15px;
            width: 15px;
            background-color: #4aa956;
            position: absolute;
            top: 18px;
            left: -65px;
          }
        }
      }
    }
  }
}
