<app-header-main-page></app-header-main-page>
<div class="about-page">
  <section class="first-section">
    <div class="container">
      <h1 class="h1-title">
        Multichain DeFi <br />
        platform
      </h1>
      <div class="first-section-buttons">
        <a class="rubic-btn rubic-btn-green" [routerLink]="'/app'"
          >Launch platform
        </a>
        <a
          href="https://contracts.mywish.io"
          target="_blank"
          class="rubic-btn rubic-btn-green rubic-btn-border"
          >Other products
        </a>
      </div>
    </div>
  </section>
</div>

<app-footer-main-page></app-footer-main-page>

<div class="scroll-top-btn" id="scroll-btn"></div>
