<div class="about-page">
  <section class="first-block cl-green">
    <div class="container">
      <img src="assets/images/about/cube-img.svg" alt="cube" />
      <h3 class="h3-block-title-s1">
        Rubic p2p trades is a decentralized p2p platform. It helps users to make
        trades on their terms, share and generate revenue.
      </h3>
    </div>
  </section>

  <section class="benefit">
    <div class="container">
      <div class="benefit-blocks">
        <div class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">P2P trade </span>
          <p class="p-text-benefits">Create your trade and choose your rate.</p>
        </div>
        <div class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">Instant Trade </span>
          <p class="p-text-benefits">
            You can create an instant trade using external DEX integration
          </p>
        </div>
        <div class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">Order</span>
          <p class="p-text-benefits">
            Set the desired rate and the deal will be executed when one of the
            DEX meets these requirements
          </p>
        </div>

        <div class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">Farming</span>
          <p class="p-text-benefits">
            If you provide liquidity for trades you will be rewarded by Rubic
            tokens when the trade is executed.
          </p>
        </div>
        <div class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">Pool</span>
          <p class="p-text-benefits">
            Create pools for DEXs by having only 1 token
          </p>
        </div>
        <div class="benefit-blocks-item">
          <span class="span-title-benefits cl-green">Multichain support</span>
          <p class="p-text-benefits">
            Ethereum now, Tron and Binance Smart Chain are coming soon
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="container">
      <span class="span-title-section">Rubic P2P trades features</span>
      <div class="features-blocks">
        <div class="features-blocks-item">
          <span class="icon icon__checked"
            >Option to lock liquidity until trade is closed</span
          >
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked"
            >Uniswap / curve integration (in progress)</span
          >
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked">No volume limits</span>
        </div>

        <div class="features-blocks-item">
          <span class="icon icon__checked">Ability to make crowdsales </span>
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked">Public/Private deals</span>
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked">No need to list token</span>
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked"
            >% of platform revenue can be regulated</span
          >
        </div>
        <div class="features-blocks-item">
          <span class="icon icon__checked">Brokers support</span>
        </div>
      </div>
    </div>
  </section>

  <section class="rubic-contract">
    <div class="container">
      <span class="span-title-section">Rubic contract</span>
      <div class="rubic-contract-image"></div>
    </div>
  </section>

  <section class="rubic-roadmap">
    <div class="container">
      <span class="span-title-section">Roadmap</span>
      <div class="rubic-roadmap-block">
        <div class="rubic-roadmap-block-item">
          <span class="span-roadmap-title">October 2020</span>
          <p class="p-roadmap-text">
            Integration with Tron, Binance Smart Chain
          </p>
        </div>
        <div class="rubic-roadmap-block-item">
          <span class="span-roadmap-title">November 2020</span>
          <p class="p-roadmap-text">Instant trades</p>
        </div>
        <div class="rubic-roadmap-block-item">
          <span class="span-roadmap-title">January 2021</span>
          <p class="p-roadmap-text">
            Multichain solution with the help of other projects such as Ren,
            PolkaDot
          </p>
        </div>
        <div class="rubic-roadmap-block-item">
          <span class="span-roadmap-title">February 2021</span>
          <p class="p-roadmap-text">Anonymizer</p>
        </div>
        <div class="rubic-roadmap-block-item">
          <span class="span-roadmap-title">April 2021</span>
          <p class="p-roadmap-text">Liquidity Pool Platform</p>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>

<div class="scroll-top-btn" id="scroll-btn"></div>
