@use 'src/scss/core' as *;

:host {
  display: flex;
  justify-content: center;
}

::ng-deep {
  tui-hints-host {
    .t-tooltip {
      font-size: 16px !important;
    }
  }

  tui-scrollbar .content {
    margin-top: 20px;
    margin-right: 18px;
  }
}


.claim {
  position: relative;

  display: flex;
  flex-direction: column;
  max-height: 300px;
  margin-bottom: 100px;
  padding: 13px 5px 13px 23px;

  font-weight: 700;
  font-size: 16px;

  background: var(--form-background);
  border: 1px solid var(--transparent-line);
  border-radius: $border-radius-2;
}
