<ng-container>
  <div class="claim">
    <tui-scrollbar>
      <app-claim-contest-container
        claimData="02.04.2023 - 12.05.2023"
      ></app-claim-contest-container>
      <app-claim-contest-container
        claimData="13.04.2023 - 23.05.2023"
      ></app-claim-contest-container>
      <app-claim-contest-container
        claimData="24.04.2023 - 02.05.2023"
      ></app-claim-contest-container>
      <app-claim-contest-container
        claimData="12.05.2023 - 22.05.2023"
      ></app-claim-contest-container>
      <app-claim-contest-container
        claimData="01.06.2023 - 11.06.2023"
      ></app-claim-contest-container>
    </tui-scrollbar>
  </div>
</ng-container>
