@use 'src/scss/core' as *;

:host {
  display: flex;
  justify-content: center;

  @include b(900) {
    ::ng-deep {
      tui-scrollbar .t-content {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }

  ::ng-deep {
    tui-scrollbar .t-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      //margin-top: 5px;
      //margin-right: 18px;
    }
  }
}

.claim {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 826px;
  max-height: 280px;
  margin-bottom: 40px;
  padding: 13px;

  font-weight: 700;
  font-size: 16px;

  background: var(--form-background);
  border: 1px solid var(--transparent-line);
  border-radius: $border-radius-2;

  @include b(900) {
    width: 100%;
    max-height: 450px;
    padding: 0;

    background: transparent;
    border: none;
    border-radius: 0;
  }
}
