<div class="claim">
  <tui-scrollbar>
    <app-claim-contest-container
      round="5"
      claimData="05.04.2023 - 09.06.2023"
      [isAlreadyClaimed]="isAlreadyClaimed$ | async"
      [isClosed]="false"
    ></app-claim-contest-container>
    <app-claim-contest-container
      round="4"
      claimData="05.04.2023 - 31.05.2023"
      [isAlreadyClaimed]="true"
      [isClosed]="true"
    ></app-claim-contest-container>
    <app-claim-contest-container
      round="3"
      claimData="05.04.2023 - 17.05.2023"
      [isAlreadyClaimed]="true"
      [isClosed]="true"
    ></app-claim-contest-container>
    <app-claim-contest-container
      round="2"
      claimData="05.04.2023 - 02.05.2023"
      [isAlreadyClaimed]="true"
      [isClosed]="true"
    ></app-claim-contest-container>
    <app-claim-contest-container
      round="1"
      claimData="05.04.2023 - 19.04.2023"
      [isAlreadyClaimed]="true"
      [isClosed]="true"
    ></app-claim-contest-container>
  </tui-scrollbar>
</div>
