<div class="token-amount-input-container">
  <div class="token-amount-input-container__wrapper">
    <app-rubic-tokens
      [loading]="loading"
      formType="from"
      [tokens]="tokens"
      [formService]="swapFormService"
    ></app-rubic-tokens>

    <app-user-balance-container
      [token]="selectedToken"
      [type]="'from'"
      (maxButtonClickEvent)="onUserBalanceMaxButtonClick()"
    ></app-user-balance-container>
  </div>

  <div class="token-amount-input-container__wrapper">
    <label class="token-amount-input-container__input-label">
      <input
        autocomplete="off"
        class="token-amount-input-container__input"
        name="token-amount"
        [placeholder]="placeholder"
        appTokenAmount
        [formControl]="amount"
        [decimals]="selectedToken?.decimals || DEFAULT_DECIMALS"
        (amountChange)="onAmountChange($event)"
      />
    </label>

    <app-usd-price-container [usdPrice]="getUsdPrice()"></app-usd-price-container>
  </div>
</div>
