.instant-trade {
  padding: 48px 30px 27px 30px;
  display: flex;
  align-items: center;

  &__from-section {
    flex: 4;
  }

  &__arrow-section {
    flex: 1;

    & > * {
      margin: 0 auto;
    }
  }

  &__to-section {
    flex: 6;
  }
}

.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  cursor: pointer;
  border: none;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);

  transition: transform 0.15s ease-in-out;

  &_big {
    width: 50px;
    height: 50px;

    img {
      transform: scale(0.8);
    }
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.grid {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  grid-auto-flow: row;
  row-gap: 20px;
  column-gap: 20px;
}

.selection-block {
  position: relative;

  &__label {
    position: absolute;
    top: -20px;

    font-size: 13px;
    color: rgba(black, 0.85);
    text-transform: uppercase;
  }
}

.gas-fee {
  display: flex;
  margin-top: 5px;

  &__text {
    opacity: 0.5;
    margin-right: 8px;
  }
}
