<form class="instant-trade">
  <div class="instant-trade__block">
    <div class="instant-trade__label">
      you have
    </div>
    <app-tokens-input
      [tokensList]="tokens"
      [selectedToken]="fromToken"
      (tokenChanges)="fromToken = $any($event)"
      (numberChanges)="fromAmount = $event"
    >
    </app-tokens-input>
  </div>
  <div class="instant-trade__block">
    <div class="instant-trade__label">
      you get
    </div>
    <div class="instant-trade__row">
      <app-tokens-input class="instant-trade__tokens-input"
        [inputDisabled]="true"
        [tokensList]="tokens"
        [selectedToken]="toToken"
        [selectedAmount]=""
        (tokenChanges)="toToken = $any($event)"
      >
      </app-tokens-input>
    </div>

    <div>
      <app-tokens-input
        [inputDisabled]="true"
        [tokensList]="tokens"
        [selectedToken]="toToken"
        [selectedAmount]="toAmountUniSwap"
        (tokenChanges)="toToken = $any($event)"
      >
      </app-tokens-input>
      <div class="instant-trade__warning">
        <app-warning-label
          *ngIf="uniSwapTradeState === TRADE_STATE.ERROR"
          warningText="Trade in UniSwap is not available.">
        </app-warning-label>
      </div>
    </div>
  </div>
  <div class="instant-trade__block instant-trade__block_short">
    <div class="instant-trade__row">
      <app-primary-button
        label="Via OneInch"
        [disabled]="
        !(tradeParameters.fromAmount && tradeParameters.toToken && tradeParameters.fromToken) ||
        !oneInchTrade ||
        shouldAnimateButton(TRADE_PROVIDER.ONEINCH)
      "
        [animate]="shouldAnimateButton(TRADE_PROVIDER.ONEINCH)"
      >
      </app-primary-button>
    </div>

    <app-primary-button
      label="Via UniSwap"
      [disabled]="
        !(tradeParameters.fromAmount && tradeParameters.toToken && tradeParameters.fromToken) ||
        !uniSwapTrade ||
        shouldAnimateButton(TRADE_PROVIDER.UNISWAP)
      "
      [animate]="shouldAnimateButton(TRADE_PROVIDER.UNISWAP)"
    >
    </app-primary-button>
  </div>
</form>
