.instant-trade {
  padding: 20px 10px;

  display: flex;
  align-items: center;

  &__from-section {
    flex: 4;
  }

  &__arrow-section {
    flex: 1;
  }

  &__to-section {
    flex: 6;
  }
}

.grid {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  grid-auto-flow: row;
  row-gap: 20px;
}

.selection-block {
  position: relative;

  &__label {
    position: absolute;
    top: -20px;

    font-size: 13px;
    color: rgba(black, 0.85);
    text-transform: uppercase;
  }
}

/*  display: grid;


  &, * {
    box-sizing: border-box;
  }


  &__block {
    position: relative;
    margin-right: 30px;
    flex: 2;

    &_short {
      flex: 1;
      margin-right: 0;
    }
  }

  &__label {
    position: absolute;
  }

  &__row {
    padding-bottom: 46px;
  }

  &__warning {
    margin-top: 10px;
  }*/
