$main-color: #4aa956;

.modal {
  position: relative;

  padding: 40px;
  padding-top: 20px;

  border-radius: 10px;

  &__header {
    margin-bottom: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__rubic-logo {
    display: flex;
    justify-content: center;

    ::ng-deep svg path {
      fill: white;
    }
  }

  &__description {
    margin-bottom: 60px;

    color: white;
    font-weight: 400;
  }

  &__provider-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;

    img {
      height: 100%;
    }
  }

  &__provider-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;

    color: #4aa956;
    font-size: 16px;

    background: transparent;
    border: 1px solid $main-color;
    border-radius: 10px;
    cursor: pointer;

    transition: 0.2s ease-in-out;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;

    color: white;

    background-color: transparent;

    cursor: pointer;
  }
}

::ng-deep {
  .modal__close svg {
    width: 20px;
    height: 20px;

    path {
      fill: black;
    }
  }

  .mat-dialog-container {
    overflow: visible !important;

    border-radius: 10px !important;
  }
}
