<div class="modal">
  <div class="modal__content">
    <header class="modal__header">
      <h1 class="modal__title">{{ 'modals.walletsModal.title' | translate }}</h1>
    </header>
    <main class="modal__body">
      <ng-container *ngFor="let provider of providers">
        <button
          *ngIf="provider.display"
          [disabled]="($walletsLoading | async) ? 'disabled' : false"
          class="modal__provider-button"
          (click)="connectProvider(provider.value)"
        >{{ provider.name }}
          <span class="modal__provider-icon"><img src="{{ provider.img }}" alt="{{provider.name}} provider"></span>
        </button>
      </ng-container>
    </main>
    <footer class="modal__footer">
      <span>{{ 'modals.walletsModal.new' | translate }} </span>
      <a target="_blank" class="modal__link" href="https://ethereum.org/en/wallets/">{{ 'modals.walletsModal.learnMore' | translate }}</a>
    </footer>
  </div>
</div>
