.how-rewards-work {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding: 34px 20px 54px;
  text-align: center;

  &__title {
    margin: 0;
    font-weight: 400;
    line-height: 21px;
  }

  p {
    margin: 0;
    font-weight: 600;
    line-height: 120%;
  }

  a {
    text-decoration: none !important;
  }
}
