@use 'src/scss/core' as *;

:host {
  display: block;
}

.modal {
  &__content {
    text-align: center;
  }

  &__body {
    img {
      width: 75px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-xl);
    margin-top: var(--tui-padding-xl);

    &-text {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 16px;

      @include b($tablet) {
        font-size: 16px;
        line-height: 24px;
      }
      
      img {
        margin-left: 8px;
      }

    }

    &-actions {
      display: flex;
      gap: var(--tui-padding-xl);

      button {
        flex: 0 50%;
      }
    }
  }
}
