<div class="modal">
  <div class="modal__content">
    <main class="modal__body">
      <img
        class="modal__warning-image"
        src="assets/images/bridge/warning-image.svg"
        alt="Success"
      />
    </main>

    <div class="modal__footer">
      <tui-input
        tuiTextfieldSize="l"
        [formControl]="passwordControl"
        [pseudoFocus]="passwordControl.invalid"
        [pseudoInvalid]="passwordControl.invalid"
        [tuiTextfieldLabelOutside]="false"
        (focusedChange)="onFocusChange($event)"
      >
        <label [@moveLabel]="isActiveInput"> Password </label>
      </tui-input>
      <div class="modal__footer-text">Password verification</div>
      <div class="modal__footer-text">
        This action requires autentification. Please enter your password to continue.
      </div>
      <div class="modal__footer-actions">
        <button
          class="swap-button"
          tuiButton
          appearance="outline"
          type="button"
          size="m"
          (click)="cancel()"
        >
          Cancel
        </button>
        <button
          class="swap-button"
          tuiButton
          appearance="primary"
          type="button"
          size="m"
          (click)="confirm()"
          [disabled]="(isPasswordValid$ | async) === false"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
