@use 'src/scss/vars' as *;

.stats-wrapper {
  display: flex;

}

.statistics {
  position: relative;

  width: 630px;
  height: 220px;
  margin-right: 33px;

  border: 2px solid $rubic-primary;
  border-radius: 20px;

  &__spinner {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0 35px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__label {
    margin-bottom: 8px;

    color: var(--rubic-base-02);
    font-weight: normal;
    font-size: 20px;
    font-style: normal;
    line-height: 120%;

    opacity: 0.7;
  }

  &__amount {
    color: var(--form-bright-text-color);
    font-weight: 300;
    font-size: 50px;
    font-style: normal;
    line-height: 120%;
  }
}

.info {
  flex: 1;
}

.description {
  &__header {
    margin: 0 0 12px;
    padding: 0;

    color: var(--form-bright-text-color);
    font-weight: normal;
    font-size: 30px;
    line-height: 120%;
  }

  &__text {
    margin: 0 0 34px;
    padding: 0;

    color: var(--rubic-base-02);
    font-size: 24px;
    line-height: 120%;

    opacity: 0.7;
  }
}

app-copy-container {
  margin-bottom: 34px;
}

.buttons-container {
  display: flex;
  align-items: center;

  a {
    display: block;
    width: 100%;
  }

  app-rubic-button {
    width: 100%;
  }

  > *:not(:last-child) {
    margin-right: 12px;
  }
}
