<app-rubic-container
  *ngLet="{
    isEthLikeWalletConnected: isEthLikeWalletConnected$ | async,
    isWalletConnected: isWalletConnected$ | async
  } as wallet"
>
  <span title>{{ 'promotionPage.statistics.referralProgram' | translate }}</span>
  <div class="stats-wrapper" *ngLet="statistics$ | async as statistics">
    <tui-loader
      *ngLet="isStatisticsLoading$ | async as isStatisticsLoading"
      [showLoader]="isStatisticsLoading"
      overlay="true"
    >
      <div class="statistics">
        <app-rotating-icon
          class="statistics__spinner"
          [rotating]="isStatisticsLoading"
          [disabled]="!wallet.isEthLikeWalletConnected"
          (iconClick)="updateStatistics()"
        ></app-rotating-icon>
        <ul class="statistics__list">
          <li class="statistics__item item">
            <span class="item__label">
              {{ 'promotionPage.statistics.invitedProjects' | translate }}
            </span>
            <span class="item__amount" [class.tui-skeleton]="statistics === null">
              <ng-container *ngIf="statistics !== null">{{
                statistics.integratedProjectsNumber
              }}</ng-container>
            </span>
          </li>
          <li class="statistics__item item">
            <span class="item__label">
              {{ 'promotionPage.statistics.totalRewards' | translate }}
            </span>
            <span class="item__amount" [class.tui-skeleton]="statistics === null">
              <ng-container *ngIf="statistics !== null">{{
                '$ ' + statistics.totalRewards
              }}</ng-container>
            </span>
          </li>
          <li class="statistics__item item">
            <span class="item__label">
              {{ 'promotionPage.statistics.instantRewards' | translate }}
            </span>
            <span class="item__amount" [class.tui-skeleton]="statistics === null">
              <ng-container *ngIf="statistics !== null">{{
                (statistics.instantRewards | bigNumberFormat | shortenAmount: 5:4:true) + ' BRBC'
              }}</ng-container>
            </span>
          </li>
        </ul>
      </div>
    </tui-loader>
    <div class="info">
      <article class="description" *ngIf="!wallet.isEthLikeWalletConnected; else promoLinkBlock">
        <h3 class="description__header">
          {{ 'promotionPage.statistics.earnWithOurWidget' | translate }}
        </h3>
        <p class="description__text">
          {{ 'promotionPage.statistics.createAReferralLink' | translate }}
        </p>
      </article>
      <ng-template #promoLinkBlock>
        <h3 class="description__header">
          {{ 'promotionPage.statistics.myPromoLink' | translate }}
        </h3>
        <app-copy-container
          [text]="promoLink$ | async"
          [loading]="isPromoLinkLoading$ | async"
        ></app-copy-container>
      </ng-template>
      <div class="buttons-container">
        <ng-container *ngIf="!wallet.isEthLikeWalletConnected; else infoButtons">
          <app-rubic-button
            *ngIf="!wallet.isWalletConnected; else logOut"
            appearance="secondary"
            (onClick)="openWalletsModal()"
          >
            {{ 'navigation.login' | translate }}
          </app-rubic-button>
          <ng-template #logOut>
            <app-rubic-button appearance="secondary" (onClick)="reconnectWallet()">
              {{ 'promotionPage.common.switchWallet' | translate }}
            </app-rubic-button>
          </ng-template>
          <a [safetyLink]="faqLink">
            <app-rubic-button appearance="outline">
              {{ 'navigation.faq' | translate }}
            </app-rubic-button>
          </a>
        </ng-container>
        <ng-template #infoButtons>
          <a [safetyLink]="faqLink">
            <app-rubic-button appearance="secondary">
              {{ 'navigation.faq' | translate }}
            </app-rubic-button>
          </a>
          <a [safetyLink]="contactUsLink">
            <app-rubic-button appearance="outline">
              {{ 'promotionPage.statistics.contactUs' | translate }}
            </app-rubic-button>
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</app-rubic-container>
