@use 'src/scss/core' as *;

tui-badge {
  @include font(10px, 16px, 500, #fff, 0.03em);

  &[data-tui-host-status='default'] {
    width: 14px;
    height: 14px;

    &.red {
      background-color: #f35e42;
    }

    &.green {
      background-color: var(--primary-color);
    }
  }
}
