<div class="provider-element" (click)="handleClick()">
  <div class="top">
    <div class="top-layer-1">
      <div class="provider-name">
        <img [src]="providerInfo.icon" width="16" height="16" [alt]="'provider-icon'" />
        <b>{{ providerInfo.uiName }}</b>
      </div>
      <div
        *ngIf="providerInfo.warning"
        class="shielding-duration"
        [tuiHint]="providerInfo.warning.hint"
      >
        <b>{{ providerInfo.warning.message }}</b>
        <img
          src="assets/images/private-swaps/common/red-energy.svg"
          width="16"
          height="16"
          [alt]="'hint-icon'"
        />
      </div>
    </div>

    <div class="top-layer-2">
      <div class="privacy-type">
        <img src="assets/images/private-swaps/common/shield.svg" width="15" height="15" />
        <b>{{ providerInfo.privacyType }}</b>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div
      class="security-percent"
      [tuiHint]="
        'Privacy metric based on data from the Web3Privacy Explorer:
https://explorer.web3privacy.info/'
      "
    >
      <img src="assets/images/private-swaps/common/lock.svg" width="15" height="15" />
      <div class="stars">
        <div
          *ngFor="let count of starsCount"
          inlineSVG="assets/images/private-swaps/common/star.svg"
          [class.active]="count <= providerInfo.security"
          width="9"
          height="9"
        ></div>
      </div>
    </div>

    <div
      class="fee-size"
      [tuiHint]="'The protocol or provider commission for certain private actions.'"
    >
      <img src="assets/images/private-swaps/common/dollar.svg" width="9" height="16" />
      <b>{{ providerInfo.feeSize }}</b>
    </div>

    <div
      *ngIf="providerInfo.minAmountUsd > 0"
      class="min-amount"
      [tuiHint]="
        'Minimum amount required for a private swap. It may vary depending on the selected token.'
      "
    >
      <b>min ${{ providerInfo.minAmountUsd }}</b>
    </div>
  </div>
</div>
