@use 'src/scss/core' as *;

:host {
  .provider-element {
    @include flex(column, start, start);
    gap: 2px;
    width: 100%;

    font-size: 12px;

    cursor: pointer;

    transition: all 0.1s;

    user-select: none;

    &:hover {
      opacity: 0.7;
    }

    .top,
    .bottom {
      width: 100%;
      padding: 15px 16px;

      background-color: var(--tui-base-02);
    }

    .top {
      @include flex(column, start, start);
      gap: 14px;

      border-radius: var(--tui-radius-m) var(--tui-radius-m) 0 0;

      .top-layer-1,
      .top-layer-2 {
        @include flex(row, center, space-between);
        width: 100%;
      }

      .top-layer-1 {
        .provider-name {
          @include flex(row, center, start);
          gap: 8px;

          font-size: 18px;
        }

        .shielding-duration {
          @include flex(row, center, start);
          gap: 8px;
        }
      }

      .top-layer-2 {
        .privacy-type {
          @include flex(row, center, start);
          gap: 10px;

          color: var(--tui-text-02);
        }
      }
    }

    .bottom {
      @include flex(row, center, space-between);
      border-radius: 0 0 var(--tui-radius-m) var(--tui-radius-m);

      .steps,
      .fee-size {
        div {
          display: flex;
        }

        .active {
          ::ng-deep svg path {
            fill: #fff;
          }
        }
      }

      .execution-time {
        div {
          display: flex;
        }

        .active {
          ::ng-deep svg path {
            stroke: #fff;
          }
        }
      }

      .steps,
      .fee-size,
      .execution-time,
      .security-percent,
      .min-amount {
        @include flex(row, center, start);
        gap: 2px;

      }

      .security-percent {
        .stars {
          @include flex(row, center, start);
          gap: 2px;

          .active {
            position: relative;
            z-index: 1;

            ::ng-deep svg path {
              clip-path: inset(0 var(--security-offset) 0 0);
              fill: var(--tui-primary);

            }
          }

          .active::before {
            position: absolute;
            z-index: -1;

            content: url('/assets/images/private-swaps/common/star.svg');
          }
        }
      }
    }
  }
}

@include b($laptop) {
  .provider-element {
    .top,
    .bottom {
      background: var(--tui-secondary) !important;
    }
  }
}

@include b($mobile-md) {
  .bottom {
    .execution-time {
      ::ng-deep svg path {
        stroke: var(--tui-base-02);
      }
    }

    .stars,
    .fee-size {
      @include b($mobile-md) {
        ::ng-deep svg path {
          fill: var(--tui-base-02);
        }
      }
    }
  }
}
