<div class="collaborations">
  <div class="collaborations__title">
    {{ 'tradesPage.collaborations' | translate }}
  </div>
  <div class="collaborations__description"></div>
  <div class="collaborations__content">
    <a
      class="collaborations__item"
      target="_blank"
      *ngFor="let company of collaborations"
      [href]="company.url"
      rel="noopener"
    >
      <img
        [src]="'assets/images/icons/collaborations/' + company.img"
        [alt]="company.title"
        width="142"
        height="36"
      />
    </a>
  </div>

  <button class="collaborations__listing-request" (click)="openListingRequestPopup()">
    {{ 'tradesPage.listingRequest.title' | translate }}
  </button>
</div>
