@import 'src/scss/mixins';
@import 'src/scss/vars';

.collaborations {
  &__title {
    margin-bottom: 8px;

    color: #110931;
    font-weight: bold;
    font-size: 22px;

    font-family: $ubuntu-font;
    font-style: normal;
    line-height: 25px;
  }

  &__description {
    margin-bottom: 58px;

    color: black;
    font-weight: normal;
    font-size: 19px;

    font-family: $ubuntu-font;
    font-style: normal;
    line-height: 40px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0 173px;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    margin-bottom: 73px;

    font-size: 0;

    cursor: pointer;

    transition: transform 0.1s linear;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.9);
    }

    img {
      width: 100%;
      max-height: 40px;
    }
  }

  &__listing-request {
    display: block;

    width: 195px;
    height: 50px;
    margin: 0 auto;

    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: inherit;

    background: $main-green;
    border: none;

    cursor: pointer;
  }
}

@include b($tablet) {
  .collaborations {
    &__content {
      grid-gap: 0 65px;
    }
  }
}

@include b($mobile-md) {
  .collaborations {
    &__title {
      font-size: 20px;
    }

    &__content {
      grid-gap: 0;
    }

    &__item {
      margin: 0 30px 60px;
    }
  }
}

@include b($mobile-sm) {
  .collaborations {
    &__item {
      margin: 0 15px 60px;
    }
  }
}
