.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 300px;
  padding: 5px;

  &__element {
    flex: 1;
  }

  &__element-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;

    border-radius: 3px;
  }

  &__element-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
}

.active-lang {
  width: 24px;
  height: 24px;
}

@media (min-width: 2560px) {
  :host ::ng-deep .tui-group {
    width: 50px !important;
  }

  .active-lang {
    width: 30px;
    height: 30px;
  }

  .languages {
    gap: 15px;
    max-width: 370px;

    &__element-icon {
      width: 30px;
      height: 30px;
    }

    &__element-label {
      font-size: 20px;
    }
  }
}

@media (min-width: 3840px) {
  :host ::ng-deep .tui-group {
    width: 70px !important;
  }

  .active-lang {
    width: 45px;
    height: 45px;
  }

  .languages {
    gap: 25px;
    max-width: 450px;
    padding: 25px 5px;

    &__element-icon {
      width: 45px;
      height: 45px;
    }

    &__element-label {
      font-size: 26px;
    }
  }
}
