.languages {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 320px;
  padding: 15px;

  &__element {
    flex: 1;
  }

  &__element-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;

    border-radius: 3px;
  }

  &__element-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
}

.active-lang {
  width: 24px;
  height: 24px;
}
