<div class="settings">
  <form [formGroup]="crossChainRoutingForm" class="settings__form">
    <div class="settings__row">
      <div
        class="settings__hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="'settings.crossChainRouting.slippage' | translate"
        tuiHintAppearance="onDark"
      ></div>
      <label>{{ 'settings.crossChainRouting.slippageTitle' | translate }}</label>
    </div>
    <div class="settings__row" *ngLet="formValue$ | async as formValue">
      <button
        tuiButton
        [appearance]="crossChainRoutingForm.value.autoSlippageTolerance ? 'primary' : 'outline'"
        type="button"
        size="s"
        (click)="toggleAutoSlippageTolerance()"
      >
        Auto
      </button>

      <button
        tuiButton
        [appearance]="formValue.slippageTolerance === 1 ? 'primary' : 'outline'"
        type="button"
        size="s"
        (click)="onSlippageToleranceChange(1)"
      >
        1%
      </button>

      <button
        tuiButton
        [appearance]="formValue.slippageTolerance === 1.5 ? 'primary' : 'outline'"
        type="button"
        size="s"
        (click)="onSlippageToleranceChange(1.5)"
      >
        1.5%
      </button>

      <button
        tuiButton
        [appearance]="formValue.slippageTolerance === 3 ? 'primary' : 'outline'"
        type="button"
        size="s"
        (click)="onSlippageToleranceChange(3)"
      >
        3%
      </button>

      <div class="settings__slippage-input">
        <app-input-number
          [min]="1"
          [max]="50"
          [value]="formValue.slippageTolerance"
          [name]="'crosschain-slippage'"
          [suffix]="'%'"
          (inputChanged)="onSlippageToleranceChange($event)"
        ></app-input-number>
      </div>
    </div>
    <div class="settings__row" *ngIf="showReceiverAddressRadio$ | async">
      <div
        class="settings__hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="'settings.crossChainRouting.showReceiverAddress' | translate"
        tuiHintAppearance="onDark"
      ></div>
      <label>{{ 'settings.crossChainRouting.showReceiverAddressTitle' | translate }}</label>
      <tui-toggle
        class="settings__toggle"
        id="showReceiverAddress"
        formControlName="showReceiverAddress"
      ></tui-toggle>
    </div>
  </form>
</div>
