@use 'src/scss/core' as *;

.settings {
  flex-wrap: wrap;
  padding: var(--tui-padding-l);

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-s);
  }

  &__row {
    display: flex;
    gap: var(--tui-padding-s);
    align-items: center;
    width: 100%;
  }

  &__hint {
    display: flex;
    align-items: center;
  }

  &__toggle {
    --tui-secondary: var(--tui-secondary-hover);

    margin-left: auto;
  }

  &__slippage-input {
    min-width: 75px;

    ::ng-deep input {
      padding-right: 25px !important;
    }
  }
}

@media (min-width: 2560px) {
  .settings {
    &__form {
      gap: var(--tui-padding-l);

      font-size: 18px;
      letter-spacing: 0.03rem;
    }

    &__row {
      ::ng-deep {
        button {
          font-size: 18px !important;
        }

        tui-toggle {
          width: 2.5rem !important;
          height: 1.25rem !important;

          .t-toggle {
            width: 3.5rem !important;
            height: 1.25rem !important;
          }
        }
      }
    }

    &__slippage-input {
      ::ng-deep input {
        font-size: 18px !important;
      }
    }

    &__hint {
      ::ng-deep svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (min-width: 3840px) {
  .settings {
    &__form {
      gap: var(--tui-padding-xxl);

      font-size: 26px;
      letter-spacing: 2px;
    }

    &__row {
      gap: var(--tui-padding-l);

      ::ng-deep {
        button {
          height: var(--tui-height-l);

          font-size: 26px !important;
        }

        tui-toggle {
          width: 3rem !important;
          height: 1.75rem !important;

          .t-toggle {
            width: 4rem !important;
            height: 1.75rem !important;

            .t-circle {
              width: 1.25rem !important;
              height: 1.25rem !important;
            }
          }
        }
      }
    }

    &__slippage-input {
      min-width: 95px;
      height: var(--tui-height-l);

      ::ng-deep {
        .tui-autofill {
          height: var(--tui-height-l);
        }

        input {
          height: var(--tui-height-l);
          padding-right: 18px !important;

          font-size: 26px !important;
        }
      }
    }

    &__hint {
      ::ng-deep svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@include b($mobile-md) {
  .settings {
    &__form {
      gap: var(--tui-padding-m);
    }

    &__row {
      font-size: 16px;

      button {
        font-size: 15px;
      }

      ::ng-deep {
        tui-input-number {
          &#deadline {
            text-align: center;
          }

          &#slippage {
            margin-left: auto;
          }

          tui-primitive-textfield {
            font-size: 15px;
          }
        }
      }
    }

    &__toggle {
      transform: scale(1.25);
    }
  }
}
