@use 'src/scss/core' as *;

:host ::ng-deep tui-dialog {
  width: 568px;
}

.modal {
  --tui-secondary: var(--tui-secondary-hover);
  position: relative;

  ::ng-deep .window-container {
    padding: 0;

    header {
      padding-bottom: 32px;
    }

    footer > *:first-child {
      margin-top: 32px;
      margin-left: 16px;
    }
  }

  &__header {
    margin-right: 40px;
  }

  &__footer {
    display: flex;
    gap: var(--tui-padding-m);

    tui-checkbox {
      margin-top: 3px;
    }
  }

  &__body {
    display: grid;
    grid-row-gap: 32px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__provider {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-xs);
    align-items: center;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.4;

      user-select: none;
      pointer-events: none;
    }
  }

  &__provider-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

    background-color: var(--primary-background);
    border-radius: 12px;

    img {
      width: 32px;
    }

    &:hover {
      background-color: var(--tui-secondary);
    }
  }

  &__button {
    flex: 1;

    text-decoration: none;

    transition: 0.2s ease-in-out;

    &:hover {
      scale: 1.05;
    }


    ::ng-deep {
      .t-wrapper {
        background: none;

        &:hover {
          background: none;
        }
      }

      .t-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;

        white-space: nowrap;
      }
    }
  }

  &__link {
    color: var(--tui-primary);
  }
}

@include b($mobile-md) {
  .modal {
    ::ng-deep .window-container {
      padding: 0 var(--tui-padding-l);
    }

    &__body {
      grid-template-columns: 1fr 1fr;
    }

    //&__button {
    //  ::ng-deep .t-content {
    //    @include font(18px, 25px, 500, var(--tui-text-01), 0.54px);
    //    flex-direction: row-reverse;
    //    gap: var(--tui-padding-l);
    //    justify-content: flex-end;
    //  }
    //}
    //
    //&__provider-icon {
    //  img {
    //    width: 30px;
    //  }
    //}
    //
    //&__footer {
    //  width: 100%;
    //  margin-top: var(--tui-padding-l);
    //
    //  text-align: center;
    //}
  }
}
