<app-window-container class="modal">
  <ng-container header *ngIf="!isMobile && !isBerachella">
    {{ 'modals.walletsModal.title' | translate }}
  </ng-container>
  <form class="modal__form">
    <tui-checkbox [formControl]="rulesCheckbox" class="modal__checkbox"></tui-checkbox>
    <span
      >I read and accept
      <a class="modal__link" href="https://rubic.exchange/pdf/terms-of-use.pdf" target="_blank">
        Terms of Use
      </a>
      and
      <a class="modal__link" href="https://rubic.exchange/pdf/privacy-policy.pdf" target="_blank">
        Privacy Policy.
      </a></span
    >
  </form>
  <main class="modal__body" *ngLet="enableWallets$ | async as enableWallets">
    <ng-container *ngFor="let provider of providers">
      <ng-container *ngIf="provider.display">
        <div class="modal__provider" [ngClass]="{ disabled: !enableWallets }">
          <button
            tuiButton
            appearance="secondary"
            type="button"
            size="xl"
            *ngIf="!(provider.value | functionCall : shouldRenderAsLink); else deepLink"
            [disabled]="(walletsLoading$ | async) || provider.disabled || !enableWallets"
            (click)="connectProvider(provider.value)"
            class="modal__button"
          >
            <span class="modal__provider-icon">
              <img src="{{ provider.img }}" alt="{{ provider.name }} provider" />
            </span>
          </button>
          <ng-template #deepLink>
            <a
              tuiButton
              appearance="secondary"
              type="button"
              size="xl"
              [href]="coinbaseDeeplink"
              class="modal__button"
            >
              <span class="modal__provider-icon"
                ><img src="{{ provider.img }}" alt="{{ provider.name }} provider"
              /></span>
            </a>
          </ng-template>
          <span class="modal__provider-name">{{ provider.name }}</span>
        </div>
      </ng-container>
    </ng-container>
  </main>
</app-window-container>
