<app-window-container class="modal">
  <ng-container header>{{ 'modals.walletsModal.title' | translate }}</ng-container>
  <main class="modal__body">
    <ng-container *ngFor="let provider of providers">
      <ng-container *ngIf="provider.display">
        <button
          tuiButton
          appearance="secondary"
          type="button"
          size="m"
          *ngIf="!(provider.value | functionCall : shouldRenderAsLink); else deepLink"
          [disabled]="(walletsLoading$ | async) || provider.disabled"
          (click)="connectProvider(provider.value)"
          class="modal__button"
        >
          {{ provider.name }}
          <span class="modal__provider-icon">
            <img src="{{ provider.img }}" alt="{{ provider.name }} provider" />
          </span>
        </button>
        <ng-template #deepLink>
          <a
            tuiButton
            appearance="secondary"
            type="button"
            size="m"
            [href]="coinbaseDeeplink"
            class="modal__button"
            >{{ provider.name }}
            <span class="modal__provider-icon"
              ><img src="{{ provider.img }}" alt="{{ provider.name }} provider"
            /></span>
          </a>
        </ng-template>
      </ng-container>
    </ng-container>
  </main>
  <ng-container footer>
    <footer class="modal__footer">
      <div class="modal__privacy-policy">
        By connecting to the wallet, you automatically agree to our
        <a class="modal__link" href="https://rubic.exchange/pdf/TermsOfService.pdf" target="_blank">
          Terms of Service
        </a>
        and
        <a
          class="modal__link"
          href="https://rubic.exchange/pdf/RubicPrivacyPolicy.pdf"
          target="_blank"
        >
          Privacy Policy.
        </a>
      </div>
      <span>{{ 'modals.walletsModal.new' | translate }} </span>
      <a target="_blank" class="modal__link" href="https://ethereum.org/en/wallets/">{{
        'modals.walletsModal.learnMore' | translate
      }}</a>
    </footer>
  </ng-container>
</app-window-container>
