@use 'src/scss/core' as *;

.modal {
  position: relative;

  padding: 40px 20px 20px;

  font-weight: 300;

  border-radius: 10px;

  @include hide-unused-ui {
    padding: 0 20px 20px;
  }

  @include iframe-horizontal {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0 20px;

    background: var(--tui-base-01);
  }

  @include iframe-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 560px;
    margin: 0 auto;

    @include b($mobile-md) {
      height: auto;
    }
  }

  @include b($mobile-md) {
    padding: 0 20px;
  }

  &__privacy-policy {
    margin-bottom: 10px;
  }

  &__content {
    @include iframe-horizontal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 180px;
      max-height: 180px;
      padding: 0 30px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;

    color: $rubic-base-11;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    @include b($mobile-md) {
      display: none;
    }
  }

  &__header {
    margin-right: 40px;
  }

  &__header,
  &__body {
    margin-bottom: 30px;

    @include hide-unused-ui {
      margin-bottom: 5px;
    }
  }

  &__body {
    @include iframe-vertical {
      margin-bottom: 11px;
    }
  }

  &__footer {
    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 37px 0;

    @include iframe-horizontal {
      flex-direction: row;
      justify-content: center;

      margin-bottom: 15px;
      padding: 0;
    }
  }

  &__provider-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 25px;

    img {
      width: 100%;
    }
  }

  &__link {
    color: var(--primary-color);
  }

  &__provider-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 10px 20px;

    font-size: 18px;

    background: rgba(white, 0.1);
    border-radius: 10px;
    cursor: pointer;

    transition: 0.2s ease-in-out;

    @include iframe-horizontal {
      max-width: 240px;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @include iframe-horizontal {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }

    &:not([disabled]):hover {
      transform: scale(1.03);
    }
  }
}
