@use 'src/scss/core' as *;

:host ::ng-deep tui-dialog {
  width: 568px;
}

.modal {
  --tui-secondary: var(--tui-secondary-hover);
  position: relative;

  ::ng-deep .window-container {
    padding: 0;

    header {
      padding-bottom: var(--tui-padding-l);
    }
  }

  &__header {
    margin-right: 40px;
  }

  &__form {
    display: flex;
    gap: var(--tui-padding-m);
    margin-bottom: var(--tui-padding-4xl);
    margin-left: var(--tui-padding-l);

    tui-checkbox {
      margin-top: 3px;

      ::ng-deep [tuiWrapper][data-appearance='outline']::after {
        color: white;
      }
    }
  }

  &__body {
    display: grid;
    grid-row-gap: var(--tui-padding-4xl);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__provider {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-xs);
    align-items: center;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.4;

      user-select: none;
      pointer-events: none;
    }
  }

  &__provider-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    background-color: var(--primary-background);
    border-radius: var(--tui-radius-s);

    img {
      width: 28px;
    }

    &:hover {
      background-color: var(--tui-secondary);
    }
  }

  &__button {
    flex: 1;

    text-decoration: none;

    transition: 0.2s ease-in-out;

    &:hover {
      scale: 1.05;
    }

    ::ng-deep {
      .t-wrapper {
        background: none;

        &:hover {
          background: none;
        }
      }

      .t-content {
        display: flex;
        flex-direction: column;
        gap: var(--tui-padding-s);
        justify-content: center;

        white-space: nowrap;
      }
    }
  }

  &__link {
    color: var(--tui-link);
  }
}

@include b($mobile-md) {
  .modal {
    ::ng-deep .window-container {
      padding: 0 var(--tui-padding-l);
    }

    &__body {
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 50%);
    }

    &__provider-icon {
      width: 64px;
      height: 64px;

      img {
        width: 43px;
      }

      &:hover {
        background-color: var(--tui-secondary);
      }
    }

    &__form {
      width: fit-content;
      margin: 0 auto var(--tui-padding-4xl) auto;

      span {
        font-size: 13px;
      }

      tui-checkbox {
        margin-top: 1px;
      }
    }
  }
}
