@use 'src/scss/core' as *;

.modal {
  --tui-secondary: var(--tui-secondary-hover);
  position: relative;

  ::ng-deep .window-container {
    padding: 0;

    header h5 {
      justify-content: center;
    }
  }

  &__header {
    margin-right: 40px;
  }

  &__footer {
    display: inline-block !important;

    text-align: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--tui-padding-l);
  }

  &__provider-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;

    white-space: nowrap;

    img {
      width: 100%;
    }
  }

  &__button {
    flex: 1;

    text-decoration: none;

    transition: 0.2s ease-in-out;

    &:hover {
      scale: 1.05;
    }


    ::ng-deep .t-content {
      gap: var(--tui-padding-s);
      padding: var(--tui-padding-m) 0;

      white-space: nowrap;
    }
  }

  &__link {
    color: var(--tui-primary);
  }
}

@include b($mobile-md) {
  .modal {
    ::ng-deep .window-container {
      padding: 0 var(--tui-padding-l);
    }

    &__button {
      ::ng-deep .t-content {
        @include font(18px, 25px, 500, var(--tui-text-01), 0.54px);
        flex-direction: row-reverse;
        gap: var(--tui-padding-l);
        justify-content: flex-end;
      }
    }

    &__provider-icon {
      img {
        width: 30px;
      }
    }

    &__footer {
      width: 100%;
      margin-top: var(--tui-padding-l);

      text-align: center;
    }
  }
}
