@use 'src/scss/core' as *;

.modal {
  --tui-secondary: var(--tui-secondary-hover);
  position: relative;

  @include b($mobile-md) {
    padding: 0 var(--tui-padding-l);
  }

  &__header {
    margin-right: 40px;
  }

  &__footer {
    display: inline-block !important;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: var(--tui-padding-l);
  }

  &__provider-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;

    white-space: nowrap;

    img {
      width: 100%;
    }
  }

  &__button {
    flex: 1;

    text-decoration: none;

    transition: 0.2s ease-in-out;

    &:hover {
      scale: 1.05;
    }

    ::ng-deep .t-content {
      gap: var(--tui-padding-s);

      white-space: nowrap;
    }
  }

  ::ng-deep .window-container {
    padding: 0;
  }

  &__link {
    color: var(--tui-primary);
  }
}
