@import '../../../../../scss/mixins';

.maintenance {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;

  background-color: white;

  @include b(900px) {
    padding-top: 24px;

    &__logo {
      margin-bottom: 16px;
    }

    &__content {
      padding: 67px 20px;
    }

    &__description {
      max-width: unset;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto 36px;
  }

  &__content {
    max-width: 850px;
    margin: 0 auto;
    padding: 67px 0;

    background-color: #fafafa;
  }

  &__title {
    margin-bottom: 34px;

    color: #4aa956;
    font-weight: bold;
    font-size: 40px;

    font-style: normal;
    line-height: 32px;
    text-align: center;
  }

  &__description {
    max-width: 400px;
    margin: 0 auto;

    color: black;
    font-weight: bold;
    font-size: 14px;

    font-style: normal;
    line-height: 32px;
    text-align: center;
  }

  &__footer {
    position: fixed;
    bottom: 0;

    width: 100%;
  }
}
