<form [formGroup]="form">
  <tui-select
    [tuiTextfieldSize]="isMobile ? 's' : 'm'"
    [tuiTextfieldLabelOutside]="true"
    formControlName="blockchain"
    [valueContent]="blockchainContent"
  >
    Choose a blockchain
    <tui-data-list-wrapper
      *tuiDataList
      size="s"
      [items]="supportedBlockchains"
      [itemContent]="blockchainContent"
    ></tui-data-list-wrapper
  ></tui-select>
  <ng-template #blockchainContent let-data>
    <div class="selector-row">
      <img [src]="data.img" [alt]="data.name" />
      {{ data.name }}
    </div>
  </ng-template>
</form>
