<div class="team-card" (click)="onClick()">
  <!--?v=3 - is added to update images, despite chrome's cache-->
  <img class="team-card__image" [src]="'assets/images/team/' + content.img + '?v=4'" alt="" />

  <div class="team-card__description">
    <div class="team-card__name">{{ content.name }}</div>
    <div class="team-card__role">{{ content.role }}</div>
    <div class="team-card__links-container">
      <a
        class="team-card__link"
        target="_blank"
        *ngFor="let link of content.links"
        [href]="link.url"
      >
        <img [src]="'assets/images/icons/social/' + link.icon" alt="" />
      </a>
    </div>
  </div>
</div>
