@use 'src/scss/core' as *;

.delimiter {
  margin: 0 0 15px;

  background: var(--transaparent-line);
}

.info-line {
  display: flex;
  grid-gap: 20px;
  justify-content: space-between;

  min-height: 21px;

  font-weight: 500;
  font-size: 16px;

  img {
    width: 23px;
    height: 23px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &_mb {
    margin-bottom: 14px !important;
  }

  &__value {
    display: flex;
    grid-gap: 8px;
    align-items: center;

    a {
      height: 19px;
    }

    button {
      display: flex;
      justify-content: center;

      width: 19px;
      height: 19px;
    }

    &_green {
      color: var(--primary-color);
    }

    &_yellow {
      color: #f3ba2f;
    }

    &_red {
      color: #e83e3f;
    }
  }
}

.title {
  display: flex;
  grid-gap: 13px;
  align-items: center;
}

app-price-impact-info-line {
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

@include b(490) {
  .info-line {
    flex-direction: column;
    grid-gap: 8px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .title {
    grid-gap: 9px;
  }

  app-price-impact-info-line {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}


.route-value {
  &__icon-next {
    width: 8px !important;
    height: 14px !important;
  }
}
