@import 'src/styles';

:host {
  display: block;
  width: 100%;
}

.hint {
  height: 15px;
  margin-right: 10px;
  margin-left: 6px;

  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;


  label {
    font-weight: 300;
    font-size: 16px;
  }

  ::ng-deep {
    tui-wrapper[data-appearance='textfield'] {

      --tui-primary: rgba(255, 255, 255, 0.5);

      width: 120px;

      color: var(--form-bright-text-color);

      border-radius: 100px;
      box-shadow: none;

      input {
        padding-right: 28px !important;

        + div.content {
          padding-right: 0;
        }
      }

      input,
      input::placeholder {
        text-align: left;
      }
    }

    tui-loader {
      --primary-color: rgba(255, 255, 255, 0.5);

      width: 30px;
    }

    input + .content .placeholder {
      text-align: left;
    }

    .wrapper {
      display: flex;
    }

    .value-decoration {
      margin-left: auto;
    }

    .custom-content {
      width: unset;
    }
  }

  &[status='accepted'] {
    ::ng-deep {
      tui-wrapper[data-appearance='textfield']::after {
        border-color: $rubic-primary;
      }

      tui-svg {
        color: $rubic-primary;
      }
    }
  }

  &[status='outdated'],
  &[status='wrong'],
  &[status='rejected'] {
    ::ng-deep {
      tui-wrapper[data-appearance='textfield']::after {
        border-color: $rubic-text-error;
      }

      tui-svg {
        color: $rubic-text-error;
      }
    }
  }
}
