<app-rubic-button
  [class]="idPrefix + 'button-swap'"
  [ngClass]="{
    'button-swap_warning-medium': warningMedium,
    'button-swap_warning-high': warningHigh
  }"
  appearance="secondary"
  [loading]="showLoader"
  [disabled]="disabled"
  (onClick)="onSwapClick()"
>
  {{
    status === TRADE_STATUS.DISABLED || !priceImpact || priceImpact < PRICE_IMPACT_RANGE.MEDIUM
      ? buttonText
      : priceImpact < PRICE_IMPACT_RANGE.HIGH_DISABLED
      ? 'Swap Anyway'
      : 'Price impact too high'
  }}
</app-rubic-button>
