@use 'src/scss/core'as *;

.progress {
  &__label {
    @include font(16px, 19px, 500, var(--rubic-base-24));
    margin-bottom: 7px;

    @include b($tablet) {
      margin-bottom: 4px;
        
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__value {
    @include font(16px, 22px, 500, var(--rubic-base-02));
    margin-bottom: 10px;

    transition: 0.4s opacity ease-in-out;

    @include b($tablet) {
      font-size: 20px;
      line-height: 24px;
    }
        
    &_loading {
      opacity: 0.4;
    }
  }

  ::ng-deep .progress__progress-bar {
    height: 6px;
    
    border-radius: 19px;
  }
}
