@use 'src/scss/core' as *;

:host {
  display: block;
}

.rewards {
  @include flex(column, center, flex-start);
  margin-top: 36px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 3%;

  &__title {
    margin: 0;
    font-size: 21px;
    text-align: center;
  }

  &__subtitle {
    margin: 16px 0 36px;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 266px);
    gap: 36px;
    justify-content: center;
  }

  &_connected {
    .card {
      height: 266px;
    }
  }

  &__connect {
    width: 266px;
    margin-top: 36px;
  }

  tui-pagination {
    margin-top: 36px;
  }

  &__balance {
    margin: 36px 0 0;
    color: var(--tui-background-accent-1);
    font-size: 21px;
  }

  &__balance-note {
    margin: 16px 0 0;
    font-size: 15px;
  }

  &__help {
    margin-top: 36px;
    --t-bs: var(--tui-background-accent-1);

    &:hover {
      --t-bs: var(--tui-background-accent-1) !important;
    }
  }
}

.card {
  @include flex(column, stretch, flex-start);
  width: 266px;
  height: 210px;
  padding: 12px;
  background: var(--tui-background-elevation-1);
  border-radius: 17px;

  &_empty {
    background: var(--io-background);
  }

  &__head,
  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    padding-left: 18px;
    font-size: 15px;
  }

  &__image {
    display: block;
    margin-top: 15px;
    border-radius: 17px;
  }

  &__meta {
    margin-top: 12px;
  }

  &__price {
    padding: 11px 16px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    background: var(--tui-background-base);
    border: 1px solid transparent;
    border-radius: 17px;

    &_affordable {
      color: white;
      border-color: var(--tui-background-accent-1);
      cursor: pointer;
    }
  }

  &__period {
    font-size: 15px;
    line-height: 15px;
  }
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 4px;
  font-size: 15px;

  p {
    margin: 0;
  }

  &__close {
    align-self: flex-end;
    width: 12px;
    height: 12px;
    font-size: 30px;
    line-height: 12px;
  }
}

@include b($mobile-md) {
  .rewards {
    margin-top: 32px;

    &__cards,
    &_connected .rewards__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__card-image {
      width: 100%;
      max-width: 242px;
      height: auto;
    }
  }
}
