<app-rubic-button
  *ngIf="needLogin$ | async; else walletActions"
  appearance="secondary"
  (onClick)="onLogin.emit()"
>
  {{ 'navigation.login' | translate }}
</app-rubic-button>

<ng-template #walletActions>
  <app-rubic-button
    appearance="secondary"
    *ngIf="needChangeNetwork$ | async; else leaveStakeBtn"
    (click)="switchNetwork()"
  >
    Switch Network
  </app-rubic-button>
  <ng-template #leaveStakeBtn>
    <app-rubic-button
      #leaveStakeBtn
      *ngLet="errorType$ | async as errorType"
      [disabled]="(errorType | falsy) || errorType === errorTypeEnum.ZERO"
      appearance="secondary"
      (onClick)="onWithdraw.emit()"
      [loading]="loading"
    >
      <ng-container [ngSwitch]="errorType">
        <ng-container *ngSwitchCase="errorTypeEnum.INSUFFICIENT_BALANCE">
          <span class="error-button">{{ 'errors.InsufficientBalance' | translate }}</span>
        </ng-container>
        <ng-container *ngSwitchCase="errorTypeEnum.EMPTY_AMOUNT">
          {{ 'errors.noEnteredAmount' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="errorTypeEnum.ZERO">
          {{ 'staking.stake.withdraw' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="null">
          {{ 'staking.stake.withdraw' | translate }}
        </ng-container>
      </ng-container>
    </app-rubic-button>
  </ng-template>
</ng-template>
