.nothing-to-show-message {

  padding-left: 24px;

  font-size: 16px;
  text-align: center;

  opacity: 0.6;

  &__link {
    color: var(--tui-primary);
    font-size: 16px;

    cursor: pointer;
  }
}
