form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button {
  width: 100%;
}

tui-toggle {

  --tui-secondary: var(--tui-secondary-hover);
  overflow: inherit;
}

.switcher {
  display: flex;
  gap: var(--tui-padding-s);
}
