<app-window-container>
  <ng-container header>Create account</ng-container>
  <form [formGroup]="secretForm" (ngSubmit)="handleConfirm()">
    <div tuiNotification size="m" class="notification" appearance="warning">
      Store your seed phrase in order to recover this wallet. If you clear your browser cache or
      forget your password, your local wallets will be deleted.
    </div>

    <div class="switcher">
      <input tuiSwitch type="checkbox" size="m" formControlName="agreement" [showIcons]="false" />
      <span>
        I copied the seed phrase. If I forget it or the password, Rubic won't be able to help me.
      </span>
    </div>
    <tui-error formControlName="agreement" [order]="['required']"></tui-error>

    <ng-container *ngLet="showWords$ | async as showWord">
      <div class="phrase">
        <div class="phrase__word" *ngFor="let word of secretPhrase">{{ showWord ? word : '' }}</div>
      </div>

      <div class="buttons">
        <button
          [tuiHint]="tooltip"
          [tuiHintManual]="hintShown"
          appearance="outline"
          type="button"
          size="l"
          tuiButton
          class="tui-form__button"
          (click)="copyToClipboard()"
        >
          Copy
          <div class="copy-icon" inlineSVG="assets/images/icons/copy.svg"></div>
        </button>
        <button
          appearance="outline"
          (click)="toggleVisibility()"
          type="button"
          size="l"
          tuiButton
          class="tui-form__button"
        >
          {{ showWord ? 'Hide' : 'Show' }}
        </button>
      </div>
    </ng-container>

    <tui-input-password formControlName="password">
      Password
      <span class="tui-required"></span>
    </tui-input-password>
    <tui-error formControlName="password" [order]="['required']"></tui-error>

    <div class="buttons">
      <button type="submit" size="l" tuiButton class="tui-form__button">Confirm</button>
    </div>
  </form>

  <ng-template #tooltip> Seed phrase copied! </ng-template>
</app-window-container>
