@use 'src/scss/core' as *;

.card {
  width: 434px;
  padding: 35px 66px 35px 40px;

  background: rgba(0, 0, 0, 0.5);

  border-radius: 20px;

  @include b($tablet) {
    width: 330px;
    padding: 25px 30px;
  }

  @include b(400) {
    width: 296px;
    padding: 25px 20px;
  }

  &__header {
    display: flex;
    align-items: center;

    margin-bottom: 36px;

    > span {
      overflow: hidden;

      font-weight: 500;
      font-size: 24px;
      line-height: 120%;

      white-space: nowrap;
      text-overflow: ellipsis;
    }

    app-info-hint {
      margin-left: 10px;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;

    margin-bottom: 38px;
  }

  &__text {
    &_big {
      font-weight: 300;
      font-size: 36px;
      line-height: 120%;
    }

    &_label {
      font-weight: 300;
      font-size: 16px;
      line-height: 120%;
    }

    &_link {
      color: $rubic-primary;
      font-weight: 300;
      font-size: 18px;
      line-height: 120%;
      text-decoration: underline;

      cursor: pointer;
    }
  }

  &__table {
    width: 254px;

    @include b(600) {

      position: relative;
      left: -5px;

      width: 135px;
    }

    td {

      @include b(600) {
        > span {
          display: none;
        }
      }

      > * {
        vertical-align: middle;
      }

      > img {
        float: right;
      }
    }

    tr {
      height: 30px;

      cursor: pointer;
    }
  }

  @media (min-width: #{$tablet}px) {
    ::ng-deep app-rubic-button {
      tui-loader {
        width: fit-content;
      }

      button {
        width: auto !important;
        min-width: 200px;
      }
    }
  }
}

.more-link {
  margin-left: 8px;
}
