<div class="tokens-accordion">
  <div
    class="tokens-accordion__header"
    [ngClass]="{ 'tokens-accordion__header_active': data.opened }"
    (click)="data.opened = !data.opened"
  >
    <span
      class="tokens-accordion__status"
      [ngClass]="{
        'tokens-accordion__status_green': data.status === 'Active',
        'tokens-accordion__status_yellow': data.status === 'Expired',
        'tokens-accordion__status_red:': data.status === 'Cancelled'
      }"
    >
      {{ data.status }}
    </span>
    <span class="tokens-accordion__header-data" [ngClass]="{ 'tokens-accordion__header-data_inactive': data.opened }">
      <span
        class="tokens-accordion__column-name"
        *ngIf="selectedOption && selectedOption !== 'Status'"
      >
        {{ selectedOption | translate }}:
      </span>

      <div class="data__network" *ngIf="selectedOption === 'From'">
        <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
          <img
            [src]="data.token.base.image || '/assets/images/icons/coins/empty.svg'"
            [alt]="data.token.base.symbol"
          />
          <span>{{ data.token.base.symbol }}</span>
        </div>
      </div>

      <div class="data__network" *ngIf="selectedOption === 'To'">
        <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
          <img
            [src]="data.token.quote.image || '/assets/images/icons/coins/empty.svg'"
            [alt]="data.token.quote.symbol"
          />
          <span>{{ data.token.quote.symbol }}</span>
        </div>
      </div>

      <div class="data__amount" *ngIf="selectedOption === 'Spent'">
        <div class="tokens-accordion__item-value tokens-accordion__item-value_amount">
          <div>{{ data.token.base.amountTotal.dp(8) }} {{ data.token.base.symbol }}</div>
          <span>
            {{ data.token.base.amountTotal.div(data.token.quote.amountTotal).dp(8) | bigNumberFormat }}
            <span>{{ data.token.base.symbol }} / 1</span>
            {{ data.token.quote.symbol }}
          </span>
        </div>
      </div>

      <div class="data__amount" *ngIf="selectedOption === 'Expected'">
        <div class="tokens-accordion__item-value tokens-accordion__item-value_amount">
          <div>{{ data.token.quote.amountTotal.dp(8) }} {{ data.token.quote.symbol }}</div>
          <span>
            1
            <span>
              {{ data.token.base.symbol }} /
              {{ data.token.quote.amountTotal.div(data.token.base.amountTotal).dp(8) | bigNumberFormat }}
            </span>
            {{ data.token.quote.symbol }}
          </span>
        </div>
      </div>

      <div class="data__amount" *ngIf="selectedOption === 'Expires in'">
        <div class="tokens-accordion__item-value tokens-accordion__item-value_date">
          <div>
            {{ data.expirationDate | date: 'd' }}d: {{ data.expirationDate | date: 'h' }}h:
            {{ data.expirationDate | date: 'm' }}m
          </div>
        </div>
      </div>
    </span>
    <span
      class="tokens-accordion__toggler" 
      [ngClass]="{ 'tokens-accordion__toggler_opened': data.opened }"></span>
  </div>
  <div
    class="tokens-accordion__content"
    [ngClass]="{ 'tokens-accordion__content_inactive': !data.opened }"
  >
    <div class="tokens-accordion__item">
      <div class="tokens-accordion__item-name">From</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
        <img
          [src]="data.token.base.image || '/assets/images/icons/coins/empty.svg'"
          [alt]="data.token.base.symbol"
        />
        <span>{{ data.token.base.symbol }}</span>
      </div>
    </div>

    <div class="tokens-accordion__item">
      <div class="tokens-accordion__item-name">To</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
        <img
          [src]="data.token.quote.image || '/assets/images/icons/coins/empty.svg'"
          [alt]="data.token.quote.symbol"
        />
        <span>{{ data.token.quote.symbol }}</span>
      </div>
    </div>

    <div class="tokens-accordion__item">
      <div class="tokens-accordion__item-name">Spent</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_amount">
        <div>{{ data.token.base.amountTotal.dp(8) }} {{ data.token.base.symbol }}</div>
        <span>
          {{ data.token.base.amountTotal.div(data.token.quote.amountTotal).dp(8) | bigNumberFormat }}
          <span>{{ data.token.base.symbol }} / 1</span>
          {{ data.token.quote.symbol }}
        </span>
      </div>
    </div>

    <div class="tokens-accordion__item">
      <div class="tokens-accordion__item-name">Expected</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_amount">
        <div>{{ data.token.quote.amountTotal.dp(8) }} {{ data.token.quote.symbol }}</div>
        <span>
          1
          <span>
            {{ data.token.base.symbol }} /
            {{ data.token.quote.amountTotal.div(data.token.base.amountTotal).dp(8) | bigNumberFormat }}
          </span>
          {{ data.token.quote.symbol }}
        </span>
      </div>
    </div>

    <div class="tokens-accordion__item">
      <div class="tokens-accordion__item-name">{{ 'Network' | translate }}</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
        <div>
          <img
            class="tokens-accordion__image"
            [src]="chainIconPath"
            alt="{{ data.blockchain }}"
          />
          <span>{{ data.blockchain }}</span>
        </div>
      </div>
    </div>

    <div class="tokens-accordion__item">
      <div class="tokens-accordion__item-name">{{ 'Expires in' | translate }}</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_date">
        <div>
          {{ data.expirationDate | date: 'd' }}d: {{ data.expirationDate | date: 'h' }}h:
          {{ data.expirationDate | date: 'm' }}m
        </div>
      </div>
    </div>
  </div>
</div>