<div class="tokens-accordion">
  <div
    class="tokens-accordion__header"
    [ngClass]="{ 'tokens-accordion__header_active': data.opened }"
    (click)="data.opened = !data.opened"
  >
    <span class="tokens-accordion__status" [ngClass]="tradeStatusClass">
      {{ data.status }}
    </span>
    <div
      class="tokens-accordion__header-data"
      [ngClass]="{ 'tokens-accordion__header-data_inactive': data.opened }"
    >
      <span
        class="tokens-accordion__column-name"
        *ngIf="selectedOption && selectedOption !== 'Status'"
      >
        {{ selectedOption | translate }}:
      </span>

      <div class="data__network" *ngIf="selectedOption === 'From'">
        <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
          <img
            [src]="data.token.from.image || '/assets/images/icons/coins/empty.svg'"
            [alt]="data.token.from.symbol"
          />
          <span>{{ data.token.from.symbol }}</span>
        </div>
      </div>

      <div class="data__network" *ngIf="selectedOption === 'To'">
        <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
          <img
            [src]="data.token.to.image || '/assets/images/icons/coins/empty.svg'"
            [alt]="data.token.to.symbol"
          />
          <span>{{ data.token.to.symbol }}</span>
        </div>
      </div>

      <div
        class="data__amount"
        *ngIf="
          selectedOption === 'Spent' && data.token.from.constructor.name === 'OrderBookDataToken'
        "
      >
        <div class="tokens-accordion__item-value tokens-accordion__item-value_amount">
          <div>{{ data.token.from.amountTotal.dp(8) }} {{ data.token.from.symbol }}</div>
          <span>
            {{ data.token.from.amountTotal.div(data.token.to.amountTotal).dp(8) | bigNumberFormat }}
            <span>{{ data.token.from.symbol }} / 1</span>
            {{ data.token.to.symbol }}
          </span>
        </div>
      </div>

      <div
        class="data__amount"
        *ngIf="
          selectedOption === 'Expected' && data.token.from.constructor.name === 'OrderBookDataToken'
        "
      >
        <div class="tokens-accordion__item-value tokens-accordion__item-value_amount">
          <div>{{ data.token.to.amountTotal.dp(8) }} {{ data.token.to.symbol }}</div>
          <span>
            1
            <span>
              {{ data.token.from.symbol }} /
              {{
                data.token.to.amountTotal.div(data.token.from.amountTotal).dp(8) | bigNumberFormat
              }}
            </span>
            {{ data.token.to.symbol }}
          </span>
        </div>
      </div>

      <div class="data__amount" *ngIf="selectedOption === 'Expires in' && isFieldIn('expiresIn')">
        <div class="tokens-accordion__item-value tokens-accordion__item-value_date">
          <div>
            {{ data.expiresIn.days() }}d: {{ data.expiresIn.hours() }}h:
            {{ data.expiresIn.minutes() }}m
          </div>
        </div>
      </div>

      <div class="data__amount" *ngIf="selectedOption === 'Last update' && isFieldIn('date')">
        <div class="tokens-accordion__item-value tokens-accordion__item-value_date">
          <div>
            {{ data.date | date: 'dd-MM-yyyy HH:mm:ss' }}
          </div>
        </div>
      </div>

      <div class="data__network" *ngIf="selectedOption === 'Network' && data.blockchain">
        <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
          {{ data.blockchain }}
        </div>
      </div>

      <div class="data__network" *ngIf="selectedOption === 'Provider' && isFieldIn('provider')">
        <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
          {{ data.provider }}
        </div>
      </div>
    </div>
    <span
      class="tokens-accordion__toggler"
      [ngClass]="{ 'tokens-accordion__toggler_opened': data.opened }"
    ></span>
  </div>
  <div
    class="tokens-accordion__content"
    [ngClass]="{ 'tokens-accordion__content_inactive': !data.opened }"
  >
    <div class="tokens-accordion__item">
      <div class="tokens-accordion__item-name">From</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
        <div class="tokens-accordion__token-info">
          <img
            [src]="data.token.from.image || '/assets/images/icons/coins/empty.svg'"
            [alt]="data.token.from.symbol"
          />
          <span>{{ data.token.from.symbol }}</span>
        </div>
        <div class="tokens-accordion__token-amount">
          {{ data.fromAmount.toString(10) | withRound: 5:6:data.token.from:true }}
        </div>
      </div>
    </div>

    <div class="tokens-accordion__item">
      <div class="tokens-accordion__item-name">To</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
        <div class="tokens-accordion__token-info">
          <img
            [src]="data.token.to.image || '/assets/images/icons/coins/empty.svg'"
            [alt]="data.token.to.symbol"
          />
          <span>{{ data.token.to.symbol }}</span>
        </div>
        <div class="tokens-accordion__token-amount">
          {{ data.toAmount.toString(10) | withRound: 5:6:data.token.from:true }}
        </div>
      </div>
    </div>

    <div
      class="tokens-accordion__item"
      *ngIf="data.token.from.constructor.name === 'OrderBookDataToken'"
    >
      <div class="tokens-accordion__item-name">Spent</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_amount">
        <div>{{ data.token.from.amountTotal.dp(8) }} {{ data.token.from.symbol }}</div>
        <span>
          {{ data.token.from.amountTotal.div(data.token.to.amountTotal).dp(8) | bigNumberFormat }}
          <span>{{ data.token.from.symbol }} / 1</span>
          {{ data.token.to.symbol }}
        </span>
      </div>
    </div>

    <div
      class="tokens-accordion__item"
      *ngIf="data.token.from.constructor.name === 'OrderBookDataToken'"
    >
      <div class="tokens-accordion__item-name">Expected</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_amount">
        <div>{{ data.token.to.amountTotal.dp(8) }} {{ data.token.to.symbol }}</div>
        <span>
          1
          <span>
            {{ data.token.from.symbol }} /
            {{ data.token.to.amountTotal.div(data.token.from.amountTotal).dp(8) | bigNumberFormat }}
          </span>
          {{ data.token.to.symbol }}
        </span>
      </div>
    </div>

    <div class="tokens-accordion__item">
      <div class="tokens-accordion__item-name">{{ 'Network' | translate }}</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
        <img class="tokens-accordion__image" [src]="chainIconPath" alt="{{ data.blockchain }}" />
        <span>{{ data.blockchain }}</span>
      </div>
    </div>

    <div class="tokens-accordion__item" *ngIf="isFieldIn('provider')">
      <div class="tokens-accordion__item-name">{{ 'Provider' | translate }}</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_network">
        <img
          class="table__image"
          src="assets/images/icons/providers/{{ data.provider }}.svg"
          alt="{{ data.provider }}"
        />
        <span>{{ data.provider }}</span>
      </div>
    </div>

    <div class="tokens-accordion__item" *ngIf="isFieldIn('expiresIn')">
      <div class="tokens-accordion__item-name">{{ 'Expires in' | translate }}</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_date">
        <div>
          {{ data.expiresIn.days() }}d: {{ data.expiresIn.hours() }}h:
          {{ data.expiresIn.minutes() }}m
        </div>
      </div>
    </div>

    <div class="tokens-accordion__item" *ngIf="isFieldIn('date')">
      <div class="tokens-accordion__item-name">{{ 'Date' | translate }}</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_date">
        <div>
          {{ data.date | date: 'dd-MM-yyyy HH:mm:ss' }}
        </div>
      </div>
    </div>

    <div class="tokens-accordion__item">
      <div class="tokens-accordion__item-name">{{ 'Link' | translate }}</div>
      <div class="tokens-accordion__item-value tokens-accordion__item-value_link">
        <a
          *ngIf="tableType === 'OrderBooks'; else scannerLink"
          routerLink="/public-v3/{{ data.uniqueLink }}"
        >
          /public-v3/{{ data.uniqueLink }}
        </a>
        <ng-template #scannerLink>
          <a
            safetyLink
            [link]="
              getLink({
                hash: data.hash,
                chain: data.blockchain
              })
            "
            >{{
              getLink({
                hash: data.hash,
                chain: data.blockchain
              })
            }}
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>
