/* :host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin: 0 auto;
} */

app-window-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.unauthorized {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;

  font-size: 16px;
}

.tab-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;

  padding-top: 16px;
}

.row {
  display: flex;
  gap: 10px;
  align-items: flex-start;

  &-center {
    justify-content: center;
  }
}

.field {
  flex: 1;
  min-width: 0;
}
