<app-window-container
  *ngLet="{
    privateBalance: privateBalanceNonWei$ | async,
    signature: signature$ | async,
    dstAmount: dstAmount$ | async
  } as state"
>
  <ng-container header> Private swaps </ng-container>

  <ng-container *ngIf="!state.signature; else activeForm">
    <div class="unauthorized">
      Sign message to use private swaps
      <button tuiButton type="button" appearance="primary" size="m" (click)="makeSignature()">
        Sign
      </button>
    </div>
  </ng-container>

  <ng-template #activeForm>
    <tui-tabs [(activeItemIndex)]="activeTabIndex">
      <button tuiTab>Deposit</button>
      <button tuiTab>Withdraw</button>
      <button tuiTab>Transfer/Swap</button>
      <button tuiTab>Refund</button>
    </tui-tabs>

    <!-- Deposit Tab -->
    <div *ngIf="activeTabIndex === 0" class="tab-content">
      <div class="row">
        <tui-input class="field" [formControl]="srcAmountCtrl" tuiTextfieldSize="m">
          Deposit amount
        </tui-input>
        <tui-select
          class="field"
          [formControl]="srcTokenCtrl"
          tuiTextfieldSize="m"
          [stringify]="stringifyTokenId"
        >
          Token
          <tui-data-list *tuiDataList>
            <button *ngFor="let token of tokens" tuiOption [value]="token.id">
              {{ token.name }}
            </button>
          </tui-data-list>
        </tui-select>
      </div>

      <div *ngIf="privacyCashFormValue.srcToken" class="row">
        Private balance: {{ state.privateBalance }}
        {{ findTokenNameById(privacyCashFormValue.srcToken) }}
      </div>

      <div class="row">
        <tui-input
          class="field"
          [formControl]="dstAmountCtrl"
          tuiTextfieldSize="m"
          [disabled]="true"
        >
          Estimated private balance
        </tui-input>
      </div>

      <div class="row row-center">
        <button tuiButton type="button" appearance="primary" size="m" (click)="makeDeposit()">
          Deposit
        </button>
      </div>
    </div>

    <!-- Withdraw Tab -->
    <div *ngIf="activeTabIndex === 1" class="tab-content">
      <div class="row">
        <tui-input class="field" [formControl]="srcAmountCtrl" tuiTextfieldSize="m">
          Withdraw amount
        </tui-input>
        <tui-select
          class="field"
          [formControl]="srcTokenCtrl"
          tuiTextfieldSize="m"
          [stringify]="stringifyTokenId"
        >
          Token
          <tui-data-list *tuiDataList>
            <button *ngFor="let token of tokens" tuiOption [value]="token.id">
              {{ token.name }}
            </button>
          </tui-data-list>
        </tui-select>
      </div>

      <div *ngIf="privacyCashFormValue.srcToken" class="row">
        Private balance: {{ state.privateBalance }}
        {{ findTokenNameById(privacyCashFormValue.srcToken) }}
      </div>

      <div class="row">
        <tui-input class="field" [formControl]="receiverCtrl" tuiTextfieldSize="m">
          Receiver address
        </tui-input>
      </div>

      <div class="row row-center">
        <button tuiButton type="button" appearance="primary" size="m" (click)="makeWithdraw()">
          Withdraw
        </button>
      </div>
    </div>

    <!-- Transfer Tab -->
    <div *ngIf="activeTabIndex === 2" class="tab-content">
      <div class="row">
        <tui-select
          class="field"
          [formControl]="srcTokenCtrl"
          tuiTextfieldSize="m"
          [stringify]="stringifyTokenId"
        >
          Source token
          <tui-data-list *tuiDataList>
            <button *ngFor="let token of tokens" tuiOption [value]="token.id">
              {{ token.name }}
            </button>
          </tui-data-list>
        </tui-select>
      </div>

      <div *ngIf="privacyCashFormValue.srcToken" class="row">
        Private balance: {{ state.privateBalance }}
        {{ findTokenNameById(privacyCashFormValue.srcToken) }}
      </div>

      <div class="row">
        <tui-select
          class="field"
          [formControl]="dstTokenCtrl"
          tuiTextfieldSize="m"
          [stringify]="stringifyTokenId"
        >
          Destination token
          <tui-data-list *tuiDataList>
            <button *ngFor="let token of filteredDestinationTokens" tuiOption [value]="token.id">
              {{ token.name }}
            </button>
          </tui-data-list>
        </tui-select>
      </div>

      <div class="row">
        <tui-input class="field" [formControl]="srcAmountCtrl" tuiTextfieldSize="m">
          Input amount
        </tui-input>
      </div>

      <div class="row">
        <tui-input class="field" [formControl]="receiverCtrl" tuiTextfieldSize="m">
          Receiver address
        </tui-input>
      </div>

      <div class="row">
        <tui-input
          class="field"
          [formControl]="dstAmountCtrl"
          tuiTextfieldSize="m"
          [disabled]="true"
        >
          Estimated output amount
        </tui-input>
      </div>

      <div class="row row-center">
        <button tuiButton type="button" appearance="primary" size="m" (click)="makeSwap()">
          {{
            privacyCashFormValue.srcToken === privacyCashFormValue.dstToken ? 'Transfer' : 'Swap'
          }}
        </button>
      </div>
    </div>

    <!-- Refund Tab -->
    <div *ngIf="activeTabIndex === 3" class="tab-content">
      <div class="row">
        <tui-input class="field" [formControl]="srcAmountCtrl" tuiTextfieldSize="m">
          Refund amount
        </tui-input>
        <tui-select
          class="field"
          [formControl]="srcTokenCtrl"
          tuiTextfieldSize="m"
          [stringify]="stringifyTokenId"
        >
          Token
          <tui-data-list *tuiDataList>
            <button *ngFor="let token of tokens" tuiOption [value]="token.id">
              {{ token.name }}
            </button>
          </tui-data-list>
        </tui-select>
      </div>

      <div class="row">
        <tui-input class="field" [formControl]="receiverCtrl" tuiTextfieldSize="m">
          Receiver address
        </tui-input>
      </div>

      <div class="row row-center">
        <button tuiButton type="button" appearance="primary" size="m" (click)="makeRefund()">
          Refund
        </button>
      </div>
    </div>
  </ng-template>
</app-window-container>
