@use 'src/scss/vars' as *;

:host {
  --tui-height-l: 50px;
  --tui-height-s: 35px;
  --tui-disabled-opacity: 1;
  --tui-focus: transparent;

  [tuiIconButton] {
    transition: 0.3s;

    &[data-appearance='primary'] {
      border: 1px solid white;
    }

    ::ng-deep img {
      width: 100px;
      max-width: 18px;
      height: auto;
      max-height: 15px;
    }
  }
}
