@use 'src/scss/core' as *;

.settings {
  &__theme,
  &__language {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 var(--tui-padding-m) var(--tui-padding-xs) var(--tui-padding-m);
    padding: var(--tui-padding-s) var(--tui-padding-m);

    background: var(--io-background);

    border-radius: 20px;

    &-text {
      display: flex;
      flex-direction: column;
      gap: var(--tui-padding-xs);
      margin-left: var(--tui-padding-l);
    }

    &-title {
      @include font(16px, 16px, 500, var(--tui-text-primary), 0.45px);
    }

    &-subtitle {
      @include font(14px, 14px, 400, var(--tui-text-tertiary), 0.45px);
    }
  }

  &__theme {
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 100%;
    }
  }

  &__language {
    margin-bottom: var(--tui-padding-m);
  }
}
