@use 'src/scss/core' as *;

.settings {
  &__theme,
  &__language {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 var(--tui-padding-m) var(--tui-padding-xs) var(--tui-padding-m);
    padding: var(--tui-padding-s) var(--tui-padding-m);

    background: var(--io-background);

    border-radius: 20px;

    &-text {
      display: flex;
      flex-direction: column;
      gap: var(--tui-padding-xs);
      margin-left: var(--tui-padding-l);
    }

    &-title {
      @include font(16px, 16px, 500, var(--tui-text-01), 0.45px);
    }

    &-subtitle {
      @include font(14px, 14px, 400, var(--tui-text-03), 0.45px);
    }
  }

  &__theme {
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 100%;
    }
  }

  &__language {
    margin-bottom: var(--tui-padding-m);
  }
}

.header-settings {
  transition: 300ms;

  &__icon-wrapper {
    ::ng-deep.menu-button {
      img {
        max-width: 24px !important;
        max-height: 24px !important;
      }
    }

    img {
      cursor: pointer;
    }
  }

  &__back {
    display: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    background: var(--primary-background);

    border-radius: 8px;

    transform: rotate(180deg);
    cursor: pointer;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    padding: 14px 20px 0;

    img {
      cursor: pointer;

      filter: var(--filter-inversion);
    }
  }

  &__title {
    margin: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
