@use 'src/scss/core' as *;

.header-settings {
  width: 686px;

  transition: 300ms;

  &__icon-wrapper {
    ::ng-deep.menu-button {
      img {
        max-width: 24px !important;
        max-height: 24px !important;
      }
    }

    img {
      cursor: pointer;
    }
  }

  &__back {
    display: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    background: var(--primary-background);

    border-radius: 8px;

    transform: rotate(180deg);
    cursor: pointer;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    padding: 14px 20px 0;

    img {
      cursor: pointer;

      filter: var(--filter-inversion);
    }
  }

  &__title {
    margin: 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

@include b($tablet) {
  .header-settings {
    min-width: 250px;
  }
}

@include b($tablet) {
  .header-settings {
    width: auto;

    &__icon {
      width: 20px;
    }
  }
}

.settings-icon ::ng-deep {
  svg {
    width: 24px;
    height: 24px;

    path {
      fill: var(--secondary-text);
    }
  }
}
