<ng-container *ngLet="dynamicComponent$ | async as currentComponentData">
  <tui-hosted-dropdown
    tuiDropdownAlign="left"
    [content]="dropdown"
    [(open)]="isSettingsOpened"
    (openChange)="backToSettings()"
  >
    <div class="header-settings__icon-wrapper">
      <app-rubic-button-circle class="menu-button unfocused" [size]="'l'" appearance="flat">
        <img
          class="header-settings__icon"
          src="assets/images/icons/settings.svg"
          width="24"
          height="24"
          alt="Open settings"
        />
      </app-rubic-button-circle>
    </div>
  </tui-hosted-dropdown>

  <ng-template #dropdown>
    <aside class="header-settings">
      <app-header-settings
        [title]="currentComponentData.titleKey"
        [haveBackButton]="(isDefaultComponent$ | async) === false"
        (closeClick)="closeSettings()"
        (backClick)="backToSettings()"
      ></app-header-settings>

      <div
        polymorpheus-outlet
        [content]="currentComponentData.component"
        [context]="dynamicComponent$"
      ></div>
    </aside>
  </ng-template>
</ng-container>
