$language-block-height: 42px;
$languages-amount: 4;
$main-color: #4aa956;
$secondary-color: #e9f5eb;

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;

  color: #4aa956;
  text-transform: uppercase;

  background: white;
  border: 1px solid $main-color;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-option {
  text-align: center;
}
