$language-block-height: 42px;
$languages-amount: 4;
$main-color: #4aa956;
$secondary-color: #e9f5eb;

.language-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;

  border: 1px solid $main-color;
  border-radius: 10px;
  cursor: pointer;

  &__sublist {
    margin: 0;
    padding: 0;
  }

  &__element {
    display: flex;
    align-items: center;
    padding: 8px 15px;

    font-weight: 500;

    > * {
      filter: grayscale(0.8) opacity(0.4);
    }

    &_selected > * {
      filter: none;
    }

    &:hover {
      background: $secondary-color;
      cursor: pointer;
    }
  }

  &__element-text {
    position: relative;

    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
  }

  &__element-image {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }
}

::ng-deep .mat-menu-panel.language-dropdown__sublist-container {
  margin-top: 10px;

  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(black, 0.1);
}
