@use 'src/scss/core' as *;

:host {
  display: block;
}

.asset-type-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  background-color: var(--primary-background);

  border-radius: 10px;

  @include light-iframe {
    background-color: var(--iframe-primary-background);
  }

  img {
    max-width: 24px;
    max-height: 24px;
  }
}
