@use 'src/scss/core' as *;

.swaps-header {
  position: relative;

  display: flex;
  align-items: center;

  &__icons {
    display: flex;

    img {
      width: 30px;
      height: 30px;
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;

    background: var(--form-background);
    border-radius: 50%;

    &:nth-child(2) {
      margin-left: -15px;
    }

    &_non-background {
      background: transparent;
    }

    img {
      border-radius: 50%;
    }
  }

  &__title {
    margin-left: 12px;

    color: var(--primary-text);
    font-weight: 500;
    font-size: 16px;
  }

  &__name {
    color: var(--secondary-text);
    font-size: 14px;
  }
}


