<div class="bottom-amount">
  <ng-container *ngIf="!hidden || errorText">
    <div
      class="bottom-amount__tokens-container"
      [ngClass]="{
        'tui-skeleton': loading,
        'tui-skeleton_text': loading,
        'bottom-amount__tokens-container_error': errorText,
        'bottom-amount__tokens-container_placeholder': !errorText && !tokensAmount
      }"
    >
      {{
        (tokensAmount | bigNumberFormat | withRound: 'toClosestValue') ||
          (errorText && 'tradePage.tradingNotAvailable' | translate)
      }}
      <div
        *ngIf="errorText"
        tuiHintMode="error"
        class="bottom-amount__hint bottom-amount__hint_error"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="errorText | translate"
      ></div>
    </div>

    <div
      class="bottom-amount__usd-container"
      [ngClass]="{
        'tui-skeleton': loading,
        'tui-skeleton_text': loading,
        'bottom-amount__usd-container_placeholder': !usd
      }"
    >
      <span class="bottom-amount__usd" *ngIf="usd">${{ usd | bigNumberFormat: 2 }}</span>
    </div>
    <div
      *ngIf="fee?.token"
      class="bottom-amount__fee"
      [ngClass]="{ 'tui-skeleton': loading, 'tui-skeleton_text': loading }"
    >
      <span
        >{{ 'tradePage.providerFee' | translate }}: {{ fee.amount + '&nbsp;' + fee.token.symbol }} ≈
        ${{ fee.amount.multipliedBy(fee.token.price) | bigNumberFormat: 2 }}</span
      >
    </div>
    <div class="bottom-amount__additional-content">
      <ng-content></ng-content>
    </div>
  </ng-container>
</div>
