@import 'src/scss/vars';
@import 'src/scss/mixins';

.bottom-amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  max-width: 350px;
  height: 100%;

  @include b($mobile-sm) {
    align-items: flex-start;
  }

  &__usd-container {
    display: inline-flex;
    float: right;

    min-width: 50px;
    overflow: hidden;

    color: var(--form-dim-text-color);
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    text-overflow: ellipsis;

    span {
      margin-left: 10px;
    }

    &_placeholder {
      color: rgb(117, 117, 117);
    }
  }

  &__usd {
    overflow: hidden;

    letter-spacing: 0.1em;

    text-align: right;
    text-overflow: ellipsis;
  }

  &__tokens-container {
    width: 100%;
    min-width: 200px;
    height: 40px;
    overflow: auto;

    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.1em;
    scrollbar-width: none;

    text-align: right;

    &::-webkit-scrollbar {
      display: none;
    }

    &_error {
      display: flex;

      height: initial;

      font-weight: 300;
      font-size: 24px;
      letter-spacing: 2px;

      @include b($mobile-sm) {
        font-size: 16px;
      }
    }

    &_placeholder {
      color: rgb(117, 117, 117);
    }
  }

  &__hint {
    display: flex;
    align-items: center;
    margin-left: 10px;

    cursor: pointer;

    &_error {
      float: right;

      ::ng-deep {
        svg path {
          fill: $rubic-warning;
        }
      }
    }
  }

  &__fee {
    color: var(--form-dim-text-color);
    font-weight: 400;
    font-size: 14px;
  }
}

@include b($mobile-md) {
  .bottom-amount {
    display: flex;
    flex-direction: column;

    &__tokens-container {
      padding-top: 0;
    }

    &__usd-container {
      order: 1;
      width: 100%;
      margin-bottom: 0;
      margin-left: 0;

      text-align: left;

      span {
        margin-left: auto;
      }
    }

    &__usd {
      text-align: left;
    }

    &__fee {
      margin-right: 0;
    }
  }
}

@include b($mobile-sm) {
  .bottom-amount {
    &__usd-container {
      span {
        margin-left: 0;
      }
    }

    &__tokens-container {
      text-align: left;
    }
  }
}
