@import 'src/scss/vars';
@import 'src/scss/mixins';

.bottom-amount {
  box-sizing: border-box;
  padding: 15px 20px 25px;

  background-color: rgba(#fcfcfc, 0.9);
  border-radius: 0 0 14px 14px;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__usd-container {
    display: flex;
    width: 31%;
    margin-bottom: 10px;
    margin-left: auto;

    color: rgba(144, 144, 144, 0.6);
    font-weight: 400;
    font-size: 14px;

    span {
      margin-left: 10px;
    }
  }

  &__usd,
  &__tokens {
    width: 100%;
    padding: 0;

    letter-spacing: 0.1em;

    background: none;
    border: none;
  }

  &__usd {
    overflow: hidden;

    text-align: right;
    text-overflow: ellipsis;
  }

  &__tokens {
    height: 36px;

    font-weight: 100;
    font-size: 30px;
    text-align: left;
  }

  &__tokens-container {
    overflow: hidden;
  }
}

@include b($mobile-md) {
  .bottom-amount {
    display: flex;
    flex-direction: column;

    &__tokens-container {
      margin-bottom: 2px;
    }

    &__usd-container {
      order: 1;
      width: 100%;
      margin-bottom: 0;
      margin-left: 0;

      span {
        margin-left: 0;
      }
    }

    &__usd {
      text-align: left;
    }
  }
}
