@use 'src/scss/core' as *;

:host {
  position: fixed;
  z-index: 100000000000000000;

  width: 100vw;
}

.native-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;

  background-color: var(--secondary-background);
  border-radius: 12px 12px 0 0;

  &__item {
    width: 42px;
    height: 42px;

    border-radius: 50%;
  }
}

@include b($mobile-md) {
  :host {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;

    display: flex;

    background: var(--secondary-background);
    border-radius: 12px 12px 0 0;
  }
}
