<div class="native-mobile-menu">
  <button class="native-mobile-menu__item" (click)="openRubicMenu()">
    <span [inlineSVG]="'assets/images/icons/mobile-menu/rubic-menu-button.svg'"></span>
  </button>
  <button class="native-mobile-menu__item" (click)="toggleLiveChat()">
    <span [inlineSVG]="'assets/images/icons/mobile-menu/chat-button.svg'"></span>
  </button>
  <button class="native-mobile-menu__item" (click)="openNavigationMenu()">
    <span [inlineSVG]="'assets/images/icons/mobile-menu/main-button.svg'"></span>
  </button>
  <button class="native-mobile-menu__item" (click)="openSettings()">
    <span [inlineSVG]="'assets/images/icons/mobile-menu/settings-button.svg'"></span>
  </button>
  <ng-container *ngIf="!(currentUser$ | async)?.address; else loggedIn">
    <button class="native-mobile-menu__item" (click)="openWallet()">
      <span [inlineSVG]="'assets/images/icons/mobile-menu/wallet-button.svg'"></span>
    </button>
  </ng-container>
  <ng-template #loggedIn>
    <button class="native-mobile-menu__item" (click)="openProfile()">
      <span [inlineSVG]="'assets/images/icons/mobile-menu/profile-button.svg'"></span>
    </button>
  </ng-template>
</div>
