@use 'src/scss/core' as *;

.button-swap {
  &_warning-medium {
    ::ng-deep {
      [tuiButton] {
        &._pressed {
          background-color: #d6bd27;
        }
      }

      .t-wrapper[data-appearance='secondary'] {
        background-color: #d6bd27;

        &[data-state='pressed'] {
          background-color: transparent !important;
        }
      }
    }
  }

  &_warning-high {
    ::ng-deep {
      [tuiButton] {
        &._pressed {
          background-color: #f5474a;
        }

        &._disabled {
          .t-wrapper {
            color: white;

            background-color: #f5474a;
            opacity: 0.5 !important;
          }
        }
      }

      .t-wrapper[data-appearance='secondary'] {
        background-color: #f5474a;

        &[data-state='pressed'] {
          background-color: transparent !important;
        }
      }
    }
  }
}

::ng-deep {
  button {
    @include iframe-horizontal {
      font-size: 15px !important;
    }
  }
}
