<div class="tokens" [ngClass]="{ tokens_disabled: disabled || iframeForceDisabled }">
  <div class="tokens__container">
    <app-rubic-button
      class="tokens__btn"
      [id]="formType === 'from' ? idPrefix + 'token1' : idPrefix + 'token2'"
      [size]="'s'"
      [loading]="loading$ | async"
      [disabled]="disabled || iframeForceDisabled"
      (onClick)="openTokensSelect(idPrefix)"
      [appearance]="selectedAsset ? 'secondary' : 'primary'"
      [pseudoHovered]="buttonHovered"
      (mouseleave)="buttonHovered = null"
    >
      <ng-container *ngIf="selectedAsset">
        <div class="tokens__inner">
          <div class="tokens__image-container">
            <img
              [src]="selectedAsset.image || DEFAULT_TOKEN_IMAGE"
              width="18px"
              height="18px"
              [alt]="selectedAsset.symbol"
              (error)="onImageError($event)"
            />
          </div>
          <div class="tokens__symbol">
            {{
              selectedAsset.symbol.length > 10
                ? selectedAsset.symbol.slice(0, 10) + '...'
                : selectedAsset.symbol
            }}
          </div>
          <div inlineSVG="assets/images/icons/arrow-down.svg" class="arrow"></div>
        </div>
      </ng-container>

      <span class="tokens__inner-text" *ngIf="!selectedAsset">{{
        'common.chooseToken' | translate
      }}</span>
    </app-rubic-button>
  </div>
</div>
