@use 'src/scss/core' as *;

:host {
  @include iframe-vertical {
    width: 100%;
  }
}

.tokens {
  font-size: $rubic-font-size-01;

  @include iframe-horizontal {
    ::ng-deep app-rubic-button {
      button,
      .t-wrapper {
        box-shadow: none !important;
      }
    }
  }

  @include iframe-vertical {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &__symbol,
    &__inner-text {
      font-size: 18px;
    }

    &_disabled {
      .tokens__symbol,
      .tokens__inner-text {
        &::after {
          display: none;
        }
      }

      .tokens__inner {
        opacity: 0.5;
      }
    }

    &__clear {
      display: none;
    }

    &__clear-mobile {
      position: relative;
      top: 2px;

      display: block !important;
    }
  }

  &__image-container img {
    border-radius: 25%;
  }

  &__inner {
    display: flex;
    grid-gap: 8px;
    align-items: center;
    padding-bottom: 1px;
  }

  &__inner-text {
    white-space: nowrap;
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;

    img {
      width: initial;
      max-width: 18px;
      height: initial;
      max-height: 18px;
    }
  }

  &__symbol {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    @include iframe-vertical {
      text-overflow: inherit;
    }
  }

  &__clear-container {
    display: flex;
    align-items: center;

    cursor: pointer;

    span {
      margin-right: 10px;
    }
  }

  &__container {
    display: flex;
    grid-gap: 10px;
    align-items: center;

    img {
      display: block;
    }

    ::ng-deep [tuiButton] {
      font-weight: 400;
    }
  }
}

@include b($mobile-md) {
  .tokens {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-radius: 0;

    &__clear {
      display: none;
    }

    &__clear-mobile {
      display: block;
      margin-left: 10px;
    }
  }
}

.arrow {
  ::ng-deep svg path {
    fill: var(--secondary-text);
  }
}
