<div class="header">
  <tui-tabs class="tabs" [underline]="false" size="s" [activeItemIndex]="activeItemIndex$ | async">
    <button tuiTab (click)="onClick(0)">
      <div class="icon" inlineSVG="assets/images/icons/history/cross.svg"></div>
      Cross Chain
    </button>
    <button tuiTab (click)="onClick(1)">
      <div class="icon" inlineSVG="assets/images/icons/history/onchain.svg"></div>
      On Chain
    </button>
    <button tuiTab (click)="onClick(2)">
      <div class="icon" inlineSVG="assets/images/icons/history/deposits.svg"></div>
      Deposits
    </button>
  </tui-tabs>
  <div class="filter">
    <form class="b-form">
      <tui-select
        *ngIf="isCrossChain$ | async"
        class="filter__select"
        tuiTextfieldSize="m"
        [formControl]="statusFilter"
      >
        Status
        <input [tuiTextfieldLabelOutside]="true" placeholder="Choose your hero" tuiTextfield />
        <tui-data-list-wrapper *tuiDataList [items]="items"></tui-data-list-wrapper>
      </tui-select>
    </form>
  </div>
</div>
