@import 'src/scss/vars';

.user-profile {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 13px 21px;

  background-color: var(--tui-base-01);
  border-radius: 50px;

  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: $rubic-shadow-button-hover-dim;

    cursor: pointer;
  }

  &__chain-icon {
    width: 25px;
    margin-right: 10px;
    
    img {
      display: block;
      height: auto;
    }
  }

  &__address {
    margin-right: 11px;

    font-size: $rubic-font-size-01;
  }

}
