@use 'src/scss/core' as *;

.data-list {
  --tui-data-list-padding: 5px;
  --tui-data-list-margin: 0px;

  &__element:not(:last-child) {
    margin-bottom: 5px;
  }

  &__link-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
}

.user-profile {
  &__avatar {
    width: 24px;
    margin-right: 10px;

    img {
      display: block;
      height: auto;

      border-radius: 50%;
    }
  }

  &__text {
    margin-right: 10px;
  }

  &__logout {
    color: var(--tui-text-negative);
  }
}

.notification-counter {
  position: absolute;

  &_profile {
    top: 0;
    right: 35px;
  }

  &_menu {
    top: 0;
    right: 0;
  }
}

.arrow {
  ::ng-deep svg path {
    fill: var(--tui-text-primary);
  }
}

@include b($mobile-sm-middle) {
  .profile-button {
    height: 40px;
  }

  .user-profile {
    &__avatar {
      width: 16px;
      margin-right: 8px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    &__text {
      margin-right: 0;

      font-size: 12px;
    }

    &__logout {
      height: 40px;

      font-size: 12px !important;
    }
  }

  .arrow {
    display: none;
  }

  ::ng-deep {
    tui-hosted-dropdown {
      .tui-group .t-wrapper {
        padding: 0 var(--tui-padding-l) !important;
      }
    }
  }
}
