@import 'src/styles';

.user-profile {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 13px 21px;

  background-color: var(--tui-base-01);
  border-radius: 50px;

  transition: 0.3s ease-in-out;

  @include iframe {
    height: 40px;
    padding: 0 20px;

    background-color: var(--main-background);
  }

  @include light-iframe {
    background-color: var(--rubic-base-14);
  }

  @include iframe-vertical {
    padding: 0 10px;
  }

  &:hover {
    box-shadow: var(--rubic-shadow-button-hover-dim);

    cursor: pointer;

    @include iframe {
      box-shadow: none;
      cursor: default;
    }
  }

  &__chain-icon {
    width: 25px;
    margin-right: 10px;

    img {
      display: block;
      height: auto;
    }
  }

  &__address {
    margin-right: 11px;

    font-size: $rubic-font-size-01;
  }

  &__logout {
    min-width: 135px;
  }
}
