<app-dropdown-selector
  *noFrame
  (opened)="getDropdownStatus($event)"
  [dropdownButtonTemplate]="dropdownButtonTemplate"
  [dropdownOptionsTemplates]="dropdownItems"
></app-dropdown-selector>

<ng-template #dropdownButtonTemplate>
  <div class="user-profile">
    <div class="user-profile__chain-icon" *ngIf="currentBlockchain?.imagePath">
      <img
        [src]="currentBlockchain?.imagePath"
        alt="($currentBlockchain | async)?.name"
        width="25"
        height="25"
      />
    </div>
    <div *ngLet="(currentUser$ | async)?.address as userAddress" class="user-profile__address">
      {{ userAddress.length > 20 ? (userAddress | shortAddress: 5:3) : userAddress }}
    </div>
    <app-notification-badge
      class="notification-counter notification-counter_profile"
      *ngIf="(unreadTrades$ | async) && (currentUser$ | async) && !isOpened"
      size="xs"
      color="red"
      [value]="unreadTrades$ | async"
    ></app-notification-badge>
    <img src="assets/images/icons/arrow-down.svg" width="11" height="7" alt="Dropdown arrow" />
  </div>
</ng-template>

<ng-template #dropdownOptionTemplate>
  <a class="user-profile__dropdown-item" routerLink="promotion">
    {{ 'navigation.promotion' | translate }}
  </a>
</ng-template>

<ng-template #dropdownOptionTemplate>
  <button
    *noFrame
    class="user-profile__dropdown-item button-link"
    (click)="openRecentTradesModal()"
  >
    Recent crosschain tx
    <app-notification-badge
      class="notification-counter notification-counter_menu"
      *ngIf="(unreadTrades$ | async) && (currentUser$ | async) && !isOpened"
      size="xs"
      color="red"
      [value]="unreadTrades$ | async"
    ></app-notification-badge>
  </button>
</ng-template>

<ng-template #dropdownOptionTemplate>
  <button class="user-profile__dropdown-item user-profile__logout" (click)="logout()">
    {{ 'navigation.logout' | translate }}
  </button>
</ng-template>

<ng-container *onlyFrame>
  <div class="user-profile">
    <div class="user-profile__chain-icon" *ngIf="currentBlockchain?.imagePath">
      <img [src]="currentBlockchain?.imagePath" alt="Current blockchain" width="25" height="25" />
    </div>
    <div class="user-profile__address">
      {{ (currentUser$ | async)?.address | shortAddress: 5:3 }}
    </div>
  </div>
</ng-container>
