@use 'src/scss/core' as *;

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;

  background: var(--form-background);
  border-radius: $border-radius-2;

  .top {
    display: flex;
    justify-content: space-between;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
  }

  .right {
    align-items: flex-end;

    .button {
      margin-bottom: 0;
    }
  }
}

.table-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.table-col {
  width: 100%;
}

app-rubic-button {
  width: 100%;
}

.image-container {
  margin-bottom: 10px;

  span {
    margin-right: 5px;

    font-weight: 600;
  }
}

.spender {
  flex-direction: column;
  align-items: flex-start;
}

.date {
  text-align: right;
}

:host ::ng-deep {
  app-switch-button,
  app-revoke-button {
    min-width: auto;
  }
}
