<div class="table-row">
  <div *ngFor="let approve of approves" class="table-col">
    <div class="card">
      <div class="top">
        <div class="left">
          <div class="image-container">
            <ng-container *ngIf="approve.token; else address">
              <img [src]="approve.token.image" [alt]="approve.token.symbol" />
              {{ approve.token.symbol }}
            </ng-container>
            <ng-template #address>
              <span>{{ approve.tokenAddress | shortAddress : 3 : 3 }}</span>
            </ng-template>
            <a
              [safetyLink]="
                approve.tokenAddress | scannerLink : selectedBlockchain : ADDRESS_TYPE.TOKEN
              "
              ><img
                src="assets/images/icons/scanner.svg"
                [alt]="'common.checkOnScanner' | translate"
            /></a>
          </div>

          <div class="image-container">
            <span>Spender: </span>
            {{ approve.spender | shortAddress : 3 : 3 }}
            <a
              [safetyLink]="
                approve.spender | scannerLink : selectedBlockchain : ADDRESS_TYPE.WALLET
              "
              ><img
                src="assets/images/icons/scanner.svg"
                [alt]="'common.checkOnScanner' | translate"
            /></a>
          </div>
        </div>
        <div class="right">
          <div class="image-container">
            {{ approve.timeStamp | date : 'MMM dd, yyyy h:mm' }}
          </div>

          <app-rubic-button
            *ngIf="allowChangeBlockchain; else revoke"
            [attr.error]="true"
            appearance="primary"
            [loading]="revokeLoading"
            [disabled]="revokeLoading"
            size="s"
            (onClick)="changeNetwork()"
            >Switch
          </app-rubic-button>

          <ng-template #revoke>
            <button
              tuiButton
              type="button"
              class="tui-space_right-3 tui-space_bottom-3"
              (click)="handleRevoke(approve.tokenAddress, approve.spender)"
              appearance="primary"
              [showLoader]="revokeLoading"
              size="s"
            >
              Revoke
            </button>
          </ng-template>
        </div>
      </div>
      <div
        [tuiHint]="approve.value === 'Infinity' ? null : allowanceHint"
        tuiHintMode="onDark"
        [tuiHintShowDelay]="50"
        tuiHintDirection="top-right"
        [tuiHintHideDelay]="100"
      >
        <span>Allowance: </span
        >{{ approve.value === 'Infinity' ? 'Infinity' : (approve.value | shortAddress : 10 : 10) }}
      </div>
      <ng-template #allowanceHint>
        <span class="token-card__name-container-address-hint">{{ approve.value }}</span>
      </ng-template>
    </div>
  </div>
  <ng-content></ng-content>
</div>
