<div class="table-row">
  <div *ngFor="let approve of approves" class="table-col">
    <div class="card">
      <div class="top">
        <div class="left">
          <div class="image-container">
            <a
              [safetyLink]="
                approve.tokenAddress | scannerLink : selectedBlockchain : ADDRESS_TYPE.TOKEN
              "
            >
              <div class="image-wrapper">
                <img
                  [src]="approve?.token?.image || defaultTokenImage"
                  [alt]="approve?.token?.symbol || approve.tokenAddress"
                  (error)="onImageError($event)"
                />
              </div>
              <ng-container *ngIf="approve.token; else address">
                {{ approve.token.symbol }}
              </ng-container>
              <ng-template #address>
                <span>{{ approve.tokenAddress | shortAddress : 3 : 3 }}</span>
              </ng-template>
              <img
                class="link"
                src="assets/images/icons/link-arrow.svg"
                [alt]="'common.checkOnScanner' | translate"
            /></a>
          </div>

          <div class="image-container spender">
            <span>Approved Spender: </span>
            <a
              [safetyLink]="
                approve.spender | scannerLink : selectedBlockchain : ADDRESS_TYPE.WALLET
              "
            >
              <div>
                {{ approve.spender | shortAddress : 5 : 5 }}
                <img
                  class="link"
                  src="assets/images/icons/link-arrow.svg"
                  [alt]="'common.checkOnScanner' | translate"
                />
              </div>
            </a>
          </div>
        </div>
        <div class="right">
          <div class="image-container date">
            {{ approve.timeStamp | date : 'MMM dd, yyyy h:mm' }}
          </div>

          <app-switch-button
            *ngIf="allowChangeBlockchain; else revoke"
            (handleSwitch)="changeNetwork($event)"
          ></app-switch-button>
          <ng-template #revoke>
            <app-revoke-button
              (handleRevoke)="handleRevoke(approve.tokenAddress, approve.spender, $event)"
            ></app-revoke-button>
          </ng-template>
        </div>
      </div>
      <div
        [tuiHint]="approve.value === 'Unlimited' ? null : allowanceHint"
        tuiHintAppearance="onDark"
        [tuiHintShowDelay]="50"
        tuiHintDirection="top-right"
        [tuiHintHideDelay]="100"
      >
        <span>Allowance: </span
        >{{
          approve.value === 'Unlimited' ? 'Unlimited' : (approve.value | shortAddress : 10 : 10)
        }}
      </div>
      <ng-template #allowanceHint>
        <span class="token-card__name-container-address-hint">{{ approve.value }}</span>
      </ng-template>
    </div>
  </div>
  <ng-content></ng-content>
</div>
