<div class="form-block_fieldset">
  <div class="form-field_description price-contract">
    SWAP's cost: {{ fromBigNumber(contractCosts.USDT, 6) }} USDT
  </div>
  <br />
  <div class="form-field">
    <label class="form-field_label">Choose replenish method</label>
    <div class="form-field_input">
      <div class="grid-row">
        <div class="grid-cell grid-cell-ps-1-4 grid-cell-ls-1-2">
          <label class="checkbox-block">
            <input
              type="radio"
              name="payment-method"
              [(ngModel)]="replenishMethod"
              value="SWAP"
              checked="checked"
            />
            <span class="btn btn-payment btn-normal-weight width-100">
              <img class="btn-payment_ico" src="./assets/images/swap-icon.svg" />
              <span class="btn-payment_txt">SWAP</span>
            </span>
          </label>
        </div>

        <div class="grid-cell grid-cell-ps-1-4 grid-cell-ls-1-2">
          <label class="checkbox-block">
            <input
              type="radio"
              name="payment-method"
              [(ngModel)]="replenishMethod"
              value="WISH"
              checked="checked"
            />
            <span class="btn btn-payment btn-normal-weight width-100">
              <img class="btn-payment_ico" src="./assets/images/icons/coins/wish.png" />
              <span class="btn-payment_txt">WISH</span>
            </span>
          </label>
        </div>
        <div class="grid-cell grid-cell-ps-1-4 grid-cell-ls-1-2">
          <label class="checkbox-block">
            <input type="radio" name="payment-method" [(ngModel)]="replenishMethod" value="ETH" />
            <span class="btn btn-payment btn-normal-weight width-100">
              <img class="btn-payment_ico" src="./assets/images/icons/coins/eth.png" />
              <span class="btn-payment_txt">ETH</span>
            </span>
          </label>
        </div>
        <div class="grid-cell grid-cell-ps-1-4 grid-cell-ls-1-2">
          <label class="checkbox-block">
            <input type="radio" name="payment-method" [(ngModel)]="replenishMethod" value="BNB" />
            <span class="btn btn-payment btn-normal-weight width-100">
              <img class="btn-payment_ico" src="./assets/images/icons/coins/bnb.svg" />
              <span class="btn-payment_txt">BNB</span>
            </span>
          </label>
        </div>
        <div class="grid-cell grid-cell-ps-1-4 grid-cell-ls-1-2">
          <label class="checkbox-block">
            <input type="radio" name="payment-method" [(ngModel)]="replenishMethod" value="OKB" />
            <span class="btn btn-payment btn-normal-weight width-100">
              <img class="btn-payment_ico" src="./assets/images/icons/coins/okb.png" />
              <span class="btn-payment_txt">OKB</span>
            </span>
          </label>
        </div>
        <div class="grid-cell grid-cell-ps-1-4 grid-cell-ls-1-2">
          <label class="checkbox-block">
            <input type="radio" name="payment-method" [(ngModel)]="replenishMethod" value="BTC" />
            <span class="btn btn-payment btn-normal-weight width-100">
              <img class="btn-payment_ico" src="./assets/images/icons/coins/btc.svg" />
              <span class="btn-payment_txt">BTC</span>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="replenishMethod !== 'BTC'">
    <div class="form-field">
      <div class="form-field_label bold">
        Send
        <span *ngIf="replenishMethod === 'ETH'">
          {{ fromBigNumber(contractCosts.ETH, 18) | number: '.0-5' }} ETH
        </span>
        <span *ngIf="replenishMethod === 'SWAP'">
          {{ fromBigNumber(contractCosts.SWAP, 18) | number: '.0-5' }} SWAP
        </span>
        <span *ngIf="replenishMethod === 'WISH'">
          {{ fromBigNumber(contractCosts.WISH, 18) | number: '.0-5' }} WISH
        </span>
        <span *ngIf="replenishMethod === 'OKB'">
          {{ fromBigNumber(contractCosts.OKB, 18) | number: '.0-5' }} OKB
        </span>
        <span *ngIf="replenishMethod === 'BNB'">
          {{ fromBigNumber(contractCosts.BNB, 18) | number: '.0-5' }} BNB
        </span>
        to
      </div>
      <div class="form-field_input">
        <div class="form-field_copy">
          <button
            type="button"
            class="copy-btn"
            [ngClass]="{ copied: copiedAddresses['eth'] }"
            ngxClipboard
            [cbContent]="currentUser.internal_address"
            (cbOnSuccess)="onCopied('eth')"
          >
            <img src="./assets/images/icons/copy.svg" />
          </button>
        </div>
        <div class="form-field_input_data">
          <input
            type="text"
            class="min-text dark-field"
            readonly
            [value]="currentUser.internal_address"
          />
          <div class="form-field_info-field form-field_small-desc">
            <span class="float-left">
              Gas price 30 gwei
            </span>
            <span class="float-left">
              Gas limit 100.000
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="or-delimiter">
      <span>OR</span>
    </div>

    <label class="form-field_label">Select payment method:</label>
    <div class="form-field_input">
      <div class="grid-row">
        <div class="grid-cell grid-cell-ls-1-2 grid-cell-vs-1">
          <div class="form-field">
            <a
              [href]="
                'https://myetherwallet.com/interface/send-transaction/' +
                (replenishMethod === 'ETH'
                  ? '?sendMode=ether&to=' +
                    currentUser.internal_address +
                    '&value=' +
                    fromBigNumber(costValue, 18)
                  : '?data=' +
                    trxDataFields[replenishMethod] +
                    '&value=0&to=' +
                    tokensAddresses[replenishMethod])
              "
              *ngIf="!inProgress"
              target="_blank"
              type="button"
              class="btn btn-transparent btn-min btn-normal-weight wallet-btn ls-width-100"
            >
              <img src="./assets/images/icons/web3clients/myetherwallet.svg" class="btn-ico" />
              MyEtherWallet
            </a>

            <button
              type="button"
              disabled="disabled"
              *ngIf="inProgress"
              class="btn btn-transparent btn-min btn-normal-weight wallet-btn ls-width-100"
            >
              <img src="./assets/images/icons/web3clients/myetherwallet.svg" class="btn-ico" />
              MyEtherWallet
            </button>
          </div>
        </div>
        <div class="grid-cell grid-cell-ls-1-2 grid-cell-vs-1">
          <div class="form-field">
            <button
              type="button"
              [disabled]="inProgress"
              (click)="payContractVia(replenishMethod)"
              class="btn btn-transparent btn-min btn-normal-weight wallet-btn ls-width-100"
            >
              <img src="./assets/images/icons/web3clients/metamask.svg" class="btn-ico" />

              <span class="lds-ellipsis" *ngIf="inProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>

              <span>Metamask</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="replenishMethod === 'BTC'">
    <div class="form-field">
      <div class="form-field_label bold">
        Send
        {{ fromBigNumber(contractCosts.BTC, 8) | number: '.0-5' }} BTC to
      </div>
      <div class="form-field_input">
        <div class="form-field_copy">
          <button
            type="button"
            class="copy-btn"
            [ngClass]="{ copied: copiedAddresses['btc'] }"
            ngxClipboard
            [cbContent]="currentUser.internal_btc_address"
            (cbOnSuccess)="onCopied('btc')"
          >
            <img src="./assets/images/icons/copy.svg" />
          </button>
        </div>
        <div class="form-field_input_data">
          <input
            type="text"
            class="min-text dark-field"
            readonly
            [value]="currentUser.internal_btc_address"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="contract-pay-state">
    <span class="lds-ellipsis inline">
      <span class="lds-ellipsis-container min">
        <span></span><span></span><span></span><span></span>
      </span> </span
    >&nbsp;&nbsp; Waiting for payment
  </div>
</div>

<ng-template #metaMaskErrorTpl>
  <div class="dialog-block">
    <div class="dialog-block__content">
      <button class="dialog-closer" mat-dialog-close>
        <img src="./assets/images/icons/cross-w.svg" />
      </button>

      <div class="transaction-title">
        Error
      </div>

      <div class="transaction-description" [innerHTML]="this.metaMaskError.msg"></div>

      <div class="alert-window-buttons text-center">
        <button class="btn btn-yellow btn-auto btn-min" mat-dialog-close="" type="button">
          <span>&nbsp;&nbsp;&nbsp;Close&nbsp;&nbsp;&nbsp;</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
