<div class="collaborations">
  <button class="collaborations__listing-request" (click)="isListingRequestPopupShown = true">
    {{ 'Listing request' | translate }}
  </button>

  <div class="collaborations__title">Software Integrations And Collaborations With</div>
  <div class="collaborations__description"></div>
  <div class="collaborations__content">
    <a
      class="collaborations__item"
      target="_blank"
      *ngFor="let company of collaborations"
      [href]="company.url"
    >
      <img [src]="'assets/images/icons/collaborations/' + company.img" alt="" />
    </a>
  </div>
</div>

<app-message-box
  *ngIf="isListingRequestPopupShown"
  title="Listing Request"
  [descriptionComponentClass]="listingRequestPopupComponentClass"
  (onClose)="isListingRequestPopupShown = false"
>
</app-message-box>
