<div class="bottom-amount">
  <form class="bottom-amount__form" [formGroup]="form">
    <label
      for="usd"
      class="bottom-amount__usd-container"
      [ngClass]="{ 'tui-skeleton': loading, 'tui-skeleton_text': loading }"
    >
      <input disabled class="bottom-amount__usd" id="usd" type="text" formControlName="usd">
      <span>USD</span>
    </label>
    <label
      for="tokens"
      class="bottom-amount__tokens-container"
      [ngClass]="{ 'tui-skeleton': loading, 'tui-skeleton_text': loading }"
    >
      <input disabled class="bottom-amount__tokens" id="tokens" type="text" formControlName="tokens">
    </label>
  </form>
</div>
