<div class="staking-container">
  <tui-tabs class="staking-container__tabs" [(activeItemIndex)]="activeItemIndex">
    <button tuiTab class="staking-container__tab staking-container__tab_first">
      {{ 'staking.stake.stake' | translate }}
    </button>
    <button tuiTab class="staking-container__tab staking-container__tab_last">
      {{ 'staking.stake.withdraw' | translate }}
    </button>
  </tui-tabs>

  <ng-container [ngSwitch]="activeItemIndex">
    <ng-template ngSwitchCase="0">
      <app-stake class="staking-container__stake"></app-stake>
    </ng-template>
    <ng-template ngSwitchCase="1">
      <app-withdraw class="staking-container__withdraw"></app-withdraw>
    </ng-template>
  </ng-container>

  <div class="global-update">
    {{ 'staking.stake.globalUpdate' | translate }}
    <div
      class="global-update__icon"
      [inlineSVG]="'/assets/images/icons/hint-question.svg'"
      [tuiHint]="'staking.stake.globalUpdateHint' | translate"
    ></div>
    <span class="global-update__time">{{ refillTime$ | async | date: 'hh mm' }}</span>
  </div>
  <div class="get-brbc" (click)="navigateToSwaps()">
    {{ 'staking.stake.getBrbc' | translate }}
    <img src="assets/images/icons/external-link.svg" alt="Get BRBC" class="get-brbc__icon" />
  </div>
</div>
