<ng-container
  *ngLet="{
    depositTradeData: depositTradeData$ | async,
    depositTradeStatus: depositTradeStatus$ | async
  } as state"
>
  <div class="wrapper">
    <app-swap-window
      [quoteAdapter]="quoteAdapter"
      [receiverAddressRequired]="true"
      [creationConfig]="formConfig"
      [receiverCtrl]="receiverCtrl"
      [depositTrade]="state.depositTradeData?.trade"
      [depositTradeStatus]="state.depositTradeStatus"
      [depositPaymentInfo]="state.depositTradeData?.paymentInfo"
      (swapClicked)="swap($event)"
    ></app-swap-window>

    <app-deposit-private-trade-info
      *ngIf="state.depositTradeData?.paymentInfo"
      [inputData]="state.depositTradeData"
      [receiverCtrl]="receiverCtrl"
    ></app-deposit-private-trade-info>
  </div>
</ng-container>
