@use 'src/scss/core' as *;

.info-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;

  &__text {
    padding: var(--tui-padding-m);

    border-radius: 12px;
    cursor: pointer;

    span { 
      font-size: 15px;
      text-decoration: underline;
      word-break: break-all;
    }
  }

  button {
    width: 100%;
  }

  tui-notification {
    font-size: 15px;
  }
}

.header {
  display: flex;
  flex-direction: column;
}
