<div class="bottom-amount" *ngLet="isFormFilled$ | async as isFormFilled">
  <div class="bottom-amount__blockchain-and-value" *ngLet="formData$ | async as formData">
    <app-iframe-blockchain-indicator
      *onlyFrame="'vertical'"
      [blockchain]="formData.toBlockchain"
    ></app-iframe-blockchain-indicator>

    <div
      class="bottom-amount__output"
      [ngClass]="{
        'bottom-amount__output_error': errorText
      }"
    >
      <ng-container *ngLet="toAmount$ | async as toAmount">
        <ng-container *ngIf="!errorText && !toAmount && isFormFilled">
          <span class="blink-animation">Loading</span>
        </ng-container>

        <ng-container *ngIf="toAmount?.gt(0)">
          {{
            toAmount
              | bigNumberFormat
              | withRound: 'toClosestValue':{ decimals: formData.toToken?.decimals }
          }}
          <app-tokens-rate *noFrame></app-tokens-rate>
        </ng-container>

        <ng-container *ngIf="errorText">
          {{ 'errors.tradingIsNotAvailable' | translate }}

          <div
            tuiHintMode="error"
            class="bottom-amount__hint bottom-amount__hint_error"
            [inlineSVG]="'/assets/images/icons/hint.svg'"
            [tuiHint]="errorText | translate"
          ></div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <app-tokens-rate *onlyFrame></app-tokens-rate>
</div>
