.cross-button {
  background-color: unset;

  &__icon {
    cursor: pointer;

    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: rotate(180deg) scale(1.2);
    }

    &:active {
      transform: rotate(180deg) scale(0.9);
    }
  }
}
