@use 'src/scss/core'as *;

.transfer-modal {
  padding: 40px;

  text-align: center;

  &__title {
    @include font(26px, 31px, 700, var(--rubic-base-02));
    margin-bottom: 32px;
  }

  &__text {
    @include font(16px, 19.2px, 500, var(--rubic-base-02));
    margin-bottom: 32px;
  }

  &__control {
    &:first-child { 
      margin-bottom: 18px;
    }

    &-label {
      @include font(16px, 16px, 700, var(--rubic-base-02));
      margin-bottom: 12px;

      text-align: left;
    }

    &-select {
      ::ng-deep {
        .input {
          @include font(16px, 16px, 400, var(--rubic-base-02));
          padding: 14px 18px;
        }
      }
    }

    &-button {
      display: block;
      width: 213px;
      margin: 32px auto 0;
    }
  }
}


.option {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding: 8px;
}
