<div class="transfer-modal">
  <div class="transfer-modal__title">TRANSFER LP TOKEN</div>
  <div class="transfer-modal__text">
    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
    industry's is simply
  </div>
  <div class="transfer-modal__form">
    <div class="transfer-modal__control">
      <div class="transfer-modal__control-label">Target Address</div>
      <div class="transfer-modal__control-input">
        <tui-input
          [tuiTextfieldCustomContent]="!!address.value ? (address.valid ? success : error) : ''"
          tuiTextfieldSize="m"
          [formControl]="address"
          [tuiTextfieldLabelOutside]="true"
          [pseudoFocused]="!!address.value"
          [pseudoInvalid]="(address.touch$ | async) !== undefined && address.invalid"
        >
          {{ 'crossChainPage.targetAddress.placeholder' | translate }}
        </tui-input>
      </div>
    </div>
    <div class="transfer-modal__control">
      <div class="transfer-modal__control-label">LP token ID</div>
      <div class="transfer-modal__control-select">
        <tui-select tuiTextfieldSize="m" [formControl]="token">
          <tui-data-list-wrapper *tuiDataList [items]="deposits"></tui-data-list-wrapper>
        </tui-select>
      </div>
    </div>
    <app-rubic-button
      appearance="secondary"
      class="transfer-modal__control-button"
      (onClick)="transfer()"
      [disabled]="address.invalid"
      >Transfer</app-rubic-button
    >
  </div>
</div>

<ng-template #success>
  <div [inlineSVG]="'assets/images/icons/forms/success-input.svg'"></div>
</ng-template>
<ng-template #error>
  <div [inlineSVG]="'assets/images/icons/forms/error-input.svg'"></div>
</ng-template>
<ng-template></ng-template>
<!-- <ng-template #optionTpl let-item> {{ item }}</ng-template> -->
