@use 'src/scss/core' as *;

$block-height: 18px;

.platform-tokens-amount {
  margin: 0;

  font-weight: 400;

  font-size: $block-height;
  letter-spacing: 0.7px;

  @include b($mobile-sm) {
    max-width: 160px;
  }

  &__container {
    display: inline-block;
    max-height: calc(#{$block-height} - 2px);
    overflow: hidden;
  }

  &_inner-container {

    display: flex;

    color: var(--main-green);

    > span {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 11px;
    }

    > span:nth-child(2n) {
      animation: slide 0.9s ease-out;
    }

    > span:nth-child(2n + 1) {
      animation: slide 0.7s ease-out;
    }
  }
}

@keyframes slide {
  from {
    transform: translateY(calc(-100% + 20px));
  }

  to {
    transform: translateY(0);
  }
}
