@use 'src/scss/vars' as *;

.status-circle {
  display: flex;

  width: 20px;
  min-width: 20px;
  height: 20px;

  border-radius: 50%;

  &_green {
    background: rgba(74, 169, 86, 0.3);

    .status-circle__inner {
      background: rgb(74, 169, 86);
    }
  }

  &_yellow {
    .status-circle__inner {
      background: rgb(255, 203, 17);

      box-shadow: 0 0 0 0 rgba(255, 203, 17, 0.1);
      transform: scale(1);

      animation: pulse 1.5s infinite;
    }
  }

  &_red {
    background: rgba(216, 33, 34, 0.3);

    .status-circle__inner {
      background: rgb(216, 33, 34);
    }
  }

  &__inner {
    width: 10px;
    height: 10px;
    margin: auto;

    border-radius: 50%;
  }
}

.img-container {
  display: flex;

  width: 18px;
  min-width: 18px;
  height: 18px;

  img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;

    border-radius: 3px;
  }
}

.sort-arrow {
  ::ng-deep {
    svg path {
      opacity: 0.3;

      fill: #808080;
    }
  }

  &_green {
    ::ng-deep {
      svg path {
        opacity: 1;

        fill: $rubic-primary;
      }
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 203, 17, 0.7);
    transform: scale(0.95);
  }

  70% {
    box-shadow: 0 0 0 5px rgba(255, 203, 17, 0.3);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 203, 17, 0.05);
    transform: scale(0.95);
  }
}
