.status-circle {
  display: flex;

  width: 20px;
  min-width: 20px;
  height: 20px;

  border-radius: 50%;

  &_green {
    background: rgba(74, 169, 86, 0.3);

    .status-circle__inner {
      background: rgb(74, 169, 86);
    }
  }

  &_yellow {
    background: rgba(255, 203, 17, 0.3);

    .status-circle__inner {
      background: rgb(255, 203, 17);
    }
  }

  &_red {
    background: rgba(216, 33, 34, 0.3);

    .status-circle__inner {
      background: rgb(216, 33, 34);
    }
  }

  &__inner {
    width: 10px;
    height: 10px;
    margin: auto;

    border-radius: 50%;
  }
}

.img-container {
  display: flex;

  width: 18px;
  min-width: 18px;
  height: 18px;

  img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}

.sort-arrow {
  ::ng-deep {
    svg path {
      opacity: 0.3;

      fill: #808080;
    }
  }

  &_green {
    ::ng-deep {
      svg path {
        opacity: 1;

        fill: $rubic-primary;
      }
    }
  }
}
