@use 'src/scss/mixins';
@use 'src/scss/vars' as *;
@use '../../common-styles';

.table {
  width: 100%;

  font-weight: 300;

  border-radius: 14px;

  &__column-title {
    margin-right: 10px;
  }

  thead {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  th,
  td {
    color: var(--primary-text);
    font-weight: inherit;
    font-family: inherit;

    border-color: var(--primary-background);
    border-style: solid;
    border-width: 0;
    border-right-width: 1px;

    &:last-child {
      border-right-width: 0;
    }
  }

  th {
    height: 56px;
    padding: 18px 12px;

    font-size: 18px;
    line-height: 21px;

    background-color: var(--primary-background);
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 14px;
    }

    &:last-child {
      border-top-right-radius: 14px;
    }

    ::ng-deep {
      .sort {
        color: inherit;
        font-weight: inherit;

        &_sorted {
          font-weight: 500;
        }
      }

      .arrow {
        display: none;
      }
    }

    .title {
      display: flex;
      flex-wrap: nowrap;
      grid-gap: 5px;
      align-items: center;

      margin-right: 10px;
    }
  }

  td {
    height: 82px;

    font-size: 16px;
    line-height: 19px;

    background: var(--solid-background);
    border-bottom-width: 1px;
  }

  &__date {
    display: flex;
    flex-direction: column;

    span:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__token-container {
    display: flex;

    > span {
      margin-right: 14px;
    }
  }

  &__token-img {
    display: flex;

    width: 18px;
    min-width: 18px;
    height: 18px;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;

      border-radius: 3px;
    }

  }

  &__token {
    display: flex;

    div {
      margin-right: 8px;
    }
  }

  tfoot td {
    padding: 0 12px;

    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
  }

  &__cell {
    &_bold {
      font-weight: bold;
    }
  }
}

tui-table-pagination {
  ::ng-deep {
    color: var(--secondary-text);

    span {
      font-weight: 400;
      font-size: 14px;
      word-spacing: 0.1em;
    }

    button {
      color: var(--primary-color);
    }
  }
}
