<table tuiTable class="table" [columns]="columns">
  <thead>
    <tr tuiThGroup>
      <th tuiTh *ngFor="let column of columns" (click)="onSortClick(column)">
        <span class="table__column-title">{{ translations[column] | translate }}</span>
        <ng-container *ngLet="column === sortParameter?.sortColumn as isActiveSortColumn">
          <span
            class="sort-arrow"
            [class.sort-arrow_green]="isActiveSortColumn && !sortParameter.descending"
            inlineSVG="assets/images/icons/my-trades/arrow-up.svg"
          ></span>
          <span
            class="sort-arrow"
            [class.sort-arrow_green]="isActiveSortColumn && sortParameter.descending"
            inlineSVG="assets/images/icons/my-trades/arrow-down.svg"
          ></span>
        </ng-container>
      </th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="pageTableData">
    <tr *tuiRow="let item of pageTableData" tuiTr>
      <td *tuiCell="'projectName'" tuiTd>
        <span class="table__cell_bold">{{ item.projectName }}</span>
      </td>
      <td *tuiCell="'invitationDate'" tuiTd>
        <div class="table__date">
          <span>{{ item.invitationDate | date : 'mediumDate' }}</span>
        </div>
      </td>
      <td *tuiCell="'tradingVolume'" tuiTd>
        ${{ item.tradingVolume | bigNumberFormat | withRound : 'toClosestValue' }}
      </td>
      <td *tuiCell="'received'" tuiTd>
        ${{ item.received | bigNumberFormat | withRound : 'toClosestValue' }}
      </td>
      <td *tuiCell="'receivedTokens'" tuiTd>
        <div class="table__token-container">
          <span>{{ item.receivedTokens | bigNumberFormat | withRound : 'toClosestValue' }}</span>
          <div class="table__token">
            <div class="table__token-img">
              <img
                [src]="item.token.image || DEFAULT_TOKEN_IMAGE"
                alt="to token"
                (error)="onTokenImageError($event)"
              />
            </div>
            <span>{{ item.token.symbol }}</span>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td [colSpan]="columns.length">
        <tui-table-pagination
          [total]="tableData.length"
          (pageChange)="onPageChange($event)"
          (sizeChange)="onSizeChange($event)"
        >
        </tui-table-pagination>
      </td>
    </tr>
  </tfoot>
</table>
