@import 'src/styles';

.user-balance-container {
  margin-top: 10px;

  @include iframe {
    margin-top: 0;
  }

  &__balance {

    @include iframe-card;
    margin-right: 10px;

    color: var(--form-dim-text-color);
    font-size: 14px;
    line-height: 17px;
  }

  &__max-button {
    padding: 0;

    color: var(--form-rubic-text-color);
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    background-color: transparent;

    @include b($mobile-sm) {
      font-size: 18px;
    }
  }
}
