<div class="user-balance-container" *ngIf="token?.amount.gt(0)">
  <span class="user-balance-container__balance"
        *ngIf="hide !== 'balance'"
    >{{ 'common.have' | translate }}
    {{ token?.amount | bigNumberFormat | withRound: 'toClosestValue':token.decimals }}
  </span>

  <button
    *ngIf="type === 'from' && hide !== 'maxButton'"
    class="user-balance-container__max-button"
    [class.user-balance-container__max-button_disabled]="!toTokenSelected"
    (click)="maxButtonClick(toTokenSelected)"
  >
    MAX
  </button>
</div>
