<app-dropdown-selector
  (opened)="getDropdownStatus($event)"
  [dropdownButtonTemplate]="dropdownButtonTemplate"
  [dropdownOptionsTemplates]="dropdownOptionsTemplates"
></app-dropdown-selector>

<ng-template #dropdownButtonTemplate>
  <button class="select select_wallets" tabindex="0">
    <img
      (click)="useTestingMode()"
      [src]="currentBlockchain?.imagePath"
      alt="($currentBlockchain | async)?.name"
      width="34"
      height="25">
    <div class="select__current">
      {{ selectedWallet | shortAddress: 5:3 }}
    </div>
    <img src="../../../../../../../assets/images/icons/arrow-down.svg" alt="Select wallet">
  </button>
</ng-template>

<ng-template #dropdownOptionTemplate *ngFor="let item of wallets">
  {{ item }}
</ng-template>
