@use 'src/scss/core' as *;

.warning-text {
  display: block;
  margin-bottom: 20px;
}

.networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;

  column-gap: 20px;
  row-gap: 20px;

  &__label {
    text-align: center;
  }

  &__image {
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 10px 15px;

    border-radius: $border-radius-1;

    cursor: pointer;

    transition: transform 0.1s ease-in-out;

    &:hover {
      background-color: #f5f5f5;

      :host-context(html.dark) & {
        background-color: #181917;
      }
    }

    &:active {
      transform: scale(0.95);
    }

    &_selected {
      border: 2px solid var(--tui-primary);
    }
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1.5em;

  button {
    width: 250px;
  }
}
