<section class="modal">
  <span class="warning-text">{{ 'modals.coinbaseSelectNetworkModal.text' | translate }}</span>
  <ul class="networks">
    <li
      class="networks__item"
      [ngClass]="{ networks__item_selected: blockchain === selectedBlockchain }"
      *ngFor="let blockchain of availableBlockchains"
      (click)="selectedBlockchain = blockchain"
    >
      <img
        [src]="blockchainIcon[blockchain]"
        class="networks__image"
        alt="($currentBlockchain | async)?.name"
        width="25"
        height="25"
      />
      <span class="networks__label">{{ blockchainLabel[blockchain] }}</span>
    </li>
  </ul>
  <div class="buttons-container">
    <button tuiButton type="button" size="m" appearance="outline" (click)="onDecline()">
      {{ 'common.cancel' | translate }}
    </button>
    <button tuiButton type="button" size="m" appearance="primary" (click)="onConfirm()">
      {{ 'common.OK' | translate }}
    </button>
  </div>
</section>
