<div class="limit-orders-list">
  <tui-loader
    class="loader"
    *ngLet="loading$ | async as loading"
    [showLoader]="loading"
    [overlay]="true"
  >
    <ng-container *ngLet="orders$ | async as orders">
      <ng-container *ngIf="orders.length > 0; else noOrders">
        <tui-scrollbar>
          <div class="list">
            <div *ngFor="let order of orders" order-row [order]="order" mode="mobile"></div>
          </div>
        </tui-scrollbar>
      </ng-container>
    </ng-container>
  </tui-loader>
</div>

<ng-template #noOrders>
  <ng-container *ngLet="loading$ | async as loading">
    <ng-container *ngLet="user$ | async as user">
      <div class="connect-wallet" *ngIf="!user">
        <app-rubic-button (onClick)="onLogin()">
          {{ 'navigation.login' | translate }}
        </app-rubic-button>
      </div>

      <div class="no-orders" *ngIf="user && !loading">
        <div class="no-orders__title">You don't have any limit orders yet</div>
        <app-rubic-button
          class="no-orders__navigate"
          appearance="secondary"
          (onClick)="navigateToLimitOrder()"
        >
          Create Now
        </app-rubic-button>
      </div>
    </ng-container>
  </ng-container>
</ng-template>
