<input type="text" placeholder="Enter Amount"
       #amountField
       [required]="true"
       [appBigNumber]="{
          decimals: (tokenModel.token?.decimals === undefined) ? 50 : tokenModel.token.decimals,
          min: 1
       }"
       [decimalsChange]="TokenChange"
       name="amountField"
       [tabindex]="visibleInput ? '-1' : ''"
       [(ngModel)]="tokenModel.amount">

<button class="form-field_input__btn"
        type="button"
        [ngClass]="{active: visibleInput}"
        (click)="showAutoInput()">
  <span *ngIf="!tokenModel.token.address">Choose Token</span>
  <span *ngIf="tokenModel.token.address" class="ac_res_preview">
    <span class="ac_res_preview_icon">
      <img [src]="tokenModel.token.image_link" *ngIf="tokenModel.token.image_link">
    </span>
    <span class="ac_res_preview_symbol">{{tokenModel.token.token_short_name}}</span>
  </span>
</button>
<input type="text" placeholder="Search"
       autocomplete="off"
       [tabindex]="!visibleInput ? '-1' : ''"
       name="token"
       [(ngModel)]="tokenName"
       #tokenField
       (focus)="showList()"
       (ngModelChange)="searchToken(tokenName)"
       (keydown)="keyDownResult($event)"
       class="form-field_input__ac_input">
<span class="form-field_input__ac_closer" (click)="showAutoInput()">
  <img src="./assets/images/icons/cross.svg">
</span>
<div class="form-field_input__ac_res">
  <ul *ngIf="tokensList.length && listIsOpened && visibleInput"
      (mousedown)="$event.stopPropagation(); $event.preventDefault();"
      class="ac_res_list">
    <li class="ac_res_list_item"
        *ngFor="let item of tokensList; let ind = index;"
        [ngClass]="{active: item.active}"
        (click)="selectToken(item, ind)">
      <span class="ac_res_list_item-content">
        <span class="ac_res_list_item-content_ico">
          <img [src]="item.image_link">
        </span>
        <span class="ac_res_list_item-content_name">
          {{item.token_name}}&nbsp;({{item.token_short_name}})
        </span>
      </span>
    </li>
  </ul>
</div>

