<div class="team-container">
  <!-- team block -->
  <div class="app-content-block">
    <h2 class="title-section">Team</h2>

    <div class="people-container">
      <div *ngFor="let person of team" class="people-container__person">
        <img class="people-container__avatar" [src]="person.avatarPath" alt="">
  
        <div class="people-container__person-info">
          <span class="people-container__name">{{ person.name }}</span>
          <span class="people-container__position">{{ person.position }}</span>
        </div>

        <p class="people-container__person-biography">{{ person.biography }}</p>

        <div class="people-container__socials">
          <a *ngIf="person.linkedInUrl" [href]="person.linkedInUrl" target="_blank">
            <img class="people-container__social-icon" src="../../assets/images/icons/linkedIn.svg" alt="LinkedIn">
          </a>

          <a *ngIf="person.gitHubUrl" [href]="person.gitHubUrl" target="_blank">
            <img class="people-container__social-icon" src="../../assets/images/icons/gitHub.svg" alt="GitHub">
          </a>
        </div>
      </div>
    </div>

  </div>

  <!-- advisers block -->
  <div class="app-content-block">
    <h2 class="title-section">Advisers</h2>

    <div class="people-container">
      <div *ngFor="let person of advisers" class="people-container__person">
        <img class="people-container__avatar" [src]="person.avatarPath" alt="">
  
        <div class="people-container__person-info">
          <span class="people-container__name">{{ person.name }}</span>
          <span class="people-container__position">{{ person.position }}</span>
        </div>

        <p class="people-container__person-biography">{{ person.biography }}</p>

        <div class="people-container__socials">
          <a *ngIf="person.linkedInUrl" [href]="person.linkedInUrl">
            <img class="people-container__social-icon" src="../../assets/images/icons/linkedIn.svg" alt="LinkedIn">
          </a>

          <a *ngIf="person.gitHubUrl" [href]="person.gitHubUrl">
            <img class="people-container__social-icon" src="../../assets/images/icons/gitHub.svg" alt="GitHub">
          </a>
        </div>
      </div>
    </div>

  </div>
</div>