<div class="team-container">
  <div class="app-content-block">
    <h2 class="title-section">Team</h2>

    <div class="people-container">
      <div class="col-3">
        <div class="people-container__person">
          <img class="people-container__avatar" src="https://pbs.twimg.com/profile_images/685347483430486016/tr4jiGUK_400x400.jpg" alt="">
    
          <div class="people-container__person-info">
            <span class="people-container__name">John Smith</span>
            <span class="people-container__position">CEO</span>
          </div>

          <a href="">
            <img class="people-container__social-icon" src="../../assets/images/icons/linkedIn.svg" alt="LinkedIn">
          </a>
        </div>
      </div>
    </div>

  </div>
</div>