<div class="team-container">
  <div class="app-content-block">
    <h2 class="title-section">Team</h2>

    <div class="people-container">
      <div *ngFor="let person of people" class="col-3">
        <div class="people-container__person">
          <img class="people-container__avatar" [src]="person.avatarPath" alt="">
    
          <div class="people-container__person-info">
            <span class="people-container__name">{{ person.name }}</span>
            <span class="people-container__position">{{ person.position }}</span>
          </div>

          <a [href]="person.linkedInUrl">
            <img class="people-container__social-icon" src="../../assets/images/icons/linkedIn.svg" alt="LinkedIn">
          </a>
        </div>
      </div>
    </div>

  </div>
</div>