.preview {
  display: flex;
  flex-direction: column;
  gap: var(--tui-padding-m);
  margin-bottom: 10px;

  &__buttons {
    display: flex;
    gap: var(--tui-padding-m);

    > * {
      flex: 1;
    }
  }

  &__data-container {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-s);
    padding: var(--tui-padding-l);

    background: var(--primary-background);
    border-radius: var(--tui-radius-m);
  }

  &__io-container {
    display: flex;
    gap: var(--tui-padding-s);
    align-items: center;
  }

  &__token-container {
    display: flex;
    height: 25px;
  }

  &__second-image-container {
    width: 37.5px;
    height: 100%;

    border-radius: var(--tui-radius-s) 0 0 var(--tui-radius-s);

    img {
      height: 100%;
    }
  }

  &__main-image {
    width: 25px;
    margin-left: -12.5px;

    background: var(--io-background);

    border-radius: 100%;
    outline: 2px solid var(--io-background);
  }

  &__amount-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__token-amount {
    width: 100%;
  }

  &__fiat-amount {
    color: var(--tui-text-03);
  }

  &__token-info {
    color: var(--tui-text-03);
  }

  &__action-button {
    width: 100%;
  }

  &__success-info {
    overflow: hidden;

    background: var(--primary-background);
    border-radius: var(--tui-radius-m);;
  }
}

app-swap-data-element ::ng-deep {
  .provider-info {
    padding: var(--tui-padding-l);

    background: var(--primary-background);
    border-radius: var(--tui-radius-m);
  }
}
