:host {
  display: flex;
}

.swap-container {
  display: flex;
  margin: 0 auto;

  .form {
    position: relative;

    width: 526px;
    margin-right: 10px;
    margin-left: 10px;
  }

  app-input-output-container:first-child {
    display: block;
    margin-bottom: 5px;
  }

  app-providers-list {
    display: block;
    width: 400px;
    height: 600px;

    background: var(--secondary-background);
    border-radius: 17px;
  }
}

