:host {
  display: flex;
}

.back-button {
  margin-right: 10px;
  padding: 5px;

  cursor: pointer;

  &__image {
    height: 10px;
  }
}

.swap-container {
  display: flex;
  margin: 0 auto;

  .form {
    position: relative;

    width: 526px;
    margin-right: 10px;
    margin-left: 10px;

    transition: 0.2s ease-in-out;

    &_tokens {
      width: 600px;
    }

    &_small {
      width: 360px;
    }
  }

  app-input-output-container:first-child {
    display: block;
    margin-bottom: 1px;
  }

  app-providers-list {
    display: block;
    width: 360px;
    height: 510px;

    background: var(--secondary-background);
    border-radius: 17px;
  }
}

.input-container {
  width: 100%;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

app-action-button {
  width: 100%;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}

app-target-network-address {
  display: block;
}
