@use 'src/scss/core' as *;

$default-transition: 0.2s ease-in-out;
$white: white;

::ng-deep .provider-panel {
  height: 100%;

  @include b($mobile-md) {
    .provider-panel {
      &__body {
        flex-direction: column;
        padding-top: 10px;
      }

      &__right {
        align-items: flex-start;
      }

      &__left {
        margin-right: 0;
      }

      &__left,
      &__token-usd-price {
        margin-bottom: 5px;
      }
    }
  }

  &__content {
    position: relative;

    box-sizing: border-box;
    padding: 25px 20px 20px;

    background: var(--rubic-base-10);
    border: 1px solid transparent;
    border-left-width: 5px;
    border-radius: $border-radius-1;

    transition: $default-transition;

    &:not(&_loading):not(&_error) {
      cursor: pointer;

      &:hover {
        box-shadow: 10px 10px 10px rgba(58, 95, 69, 0.1), -15px -15px 20px rgba(255, 255, 255, 0.2);

        :host-context(html.dark) & {
          box-shadow: -7px -7px 6px 2px rgb(3 6 4 / 20%);
        }
      }
    }

    &:not(&_loading):not(&_selected):not(&_error):hover {
      border: 1px solid var(--main-green);
      border-left-width: 5px;

      .provider-panel__best-rate {
        border-top-color: var(--main-green);
        border-right-color: var(--main-green);
      }
    }

    &_error {
      border-color: $rubic-warning;
    }

    &_selected {
      color: $white;

      background-color: var(--main-green);
      border-color: var(--main-green);

      .provider-panel__token-usd-price,
      .provider-panel__token-gas-fee,
      .provider-panel__right {
        color: $white;
      }

      .provider-panel__provider-name {
        color: $white;

        background-color: var(--main-green);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      }

      .provider-panel__hint {
        ::ng-deep svg path {
          fill: white;
        }
      }
    }

    &_best-rate {
      border-left-color: var(--main-green);
      border-left-width: 5px;
    }

    &_small {
      display: flex;
      align-items: center;

      height: 100%;

      .provider-panel__token-usd-price {
        display: none;
      }

      .provider-panel__body {
        flex-direction: column;
        align-items: flex-start;
      }

      .provider-panel__amount {
        display: flex;
        align-items: center;

        font-size: 20px;

        &_error {
          @include b($mobile-sm) {
            font-size: 16px;
          }
        }
      }
    }
  }

  &__best-rate {
    position: absolute;
    top: -8px;
    right: -8px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width: 28px;
    height: 28px;

    background: var(--main-background);
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(black, 0.16);

    &_selected {
      background-color: var(--main-green);

      ::ng-deep svg path {
        fill: $white;
      }
    }
  }

  &__provider-name {
    position: absolute;
    top: -5px;
    left: 25px;

    padding: 2px 6px;

    color: var(--rubic-base-12);
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;

    background: var(--rubic-base-11);
    border-radius: 3px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__left {
    display: flex;
    flex: 4;
    align-items: center;
    width: 100%;
    margin-right: 10px;
  }

  &__right {
    display: flex;
    flex: 6;
    flex-direction: column;
    align-items: flex-end;

    font-size: 14px;
  }

  &__amount {
    display: flex;
    overflow-x: auto;

    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 2px;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }


    &_error {
      display: block;
      width: 100%;

      font-size: 20px;

      @include b($mobile-sm) {
        font-size: 16px;
      }
    }
  }

  &__token-usd-price {
    margin-bottom: 10px;

    color: var(--form-dim-text-color);
    letter-spacing: 0.1em;
  }

  &__token-gas-fee {
    display: flex;
    align-items: center;

    color: var(--form-dim-text-color);
  }

  &__hint {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 10px;

    cursor: pointer;

    &_error {
      position: relative;
      top: 3px;

      float: right;

      ::ng-deep {
        svg path {
          fill: $rubic-warning;
        }
      }
    }
  }


  .tui-skeleton {
    &.provider-panel__amount {
      width: 100%;
      min-height: 24px;
    }

    &.provider-panel__token-usd-price,
    &.provider-panel__token-gas-fee {
      min-height: 20px;
    }
  }
}

