@import 'src/scss/vars';
@import 'src/scss/mixins';

:host {
  @include iframe-vertical {
    width: 100%;
  }
}

.tokens {
  font-size: $rubic-font-size-01;

  @include iframe-vertical {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    ::ng-deep app-rubic-button {
      button {
        background: transparent !important;
        border: none !important;
        box-shadow: unset !important;
      }

      tui-wrapper {
        padding: 0 !important;

        background: transparent !important;
      }
    }

    &__image-container {
      width: 28px;
      height: 28px;

      > img {
        max-width: 28px;
        max-height: 28px;
      }
    }

    &__symbol,
    &__inner-text {
      padding-right: 15px;

      font-size: 18px;

      &::after {
        position: relative;
        top: -4px;
        left: 10px;

        display: inline-block;
        padding: 4px;

        border: solid white;
        border-width: 0 2px 2px 0;

        transform: rotate(45deg);

        content: '';
      }
    }

    &__clear {
      display: none;
    }

    &__clear-mobile {
      display: block !important;
    }
  }

  &__inner {
    display: flex;
    grid-gap: 8px;
    align-items: center;
    padding-bottom: 1px;
  }

  &__inner-text {
    white-space: nowrap;
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;

    img {
      width: initial;
      max-width: 18px;
      height: initial;
      max-height: 18px;
    }
  }

  &__symbol {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__clear-container {
    display: flex;
    align-items: center;

    cursor: pointer;

    span {
      margin-right: 10px;
    }
  }

  &__container {
    display: flex;
    grid-gap: 10px;
    align-items: center;

    img {
      display: block;
    }

    ::ng-deep [tuiButton] {
      font-weight: 500;

      box-shadow: 2px 2px 10px rgba(58, 95, 69, 0.2);

      transition: 0.2s ease-in-out;
    }
  }

  &__clear {
    position: relative;

    width: 20px;
    height: 20px;
    padding: 5px;

    background-color: #{var(--rubic-base-14)};
    border: 1px solid #{var(--rubic-base-14)};
    border-radius: 50%;

    transition: 0.1s ease-in-out;

    &:hover {
      background-color: var(--rubic-base-01);
      border-color: var(--primary-color);
    }

    &-icon {
      position: relative;

      display: flex;
      justify-content: center;
      height: 100%;

      &::before,
      &::after {
        position: absolute;

        width: 2px;
        height: 100%;

        background-color: var(--rubic-base-15);
        border-radius: 10px;

        content: '';
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }



  &__clear-mobile {
    display: none;

    color: $rubic-primary;

    background-color: transparent;
  }
}

@include b($mobile-md) {
  .tokens {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    border-radius: 0;

    &__clear {
      display: none;
    }

    &__clear-mobile {
      display: block;
      margin-top: 5px;
    }
  }
}
