<div class="tokens" [ngClass]="{ tokens_disabled: disabled || iframeForceDisabled }">
  <div class="tokens__container">
    <app-rubic-button
      class="tokens__btn"
      [id]="formType === 'from' ? idPrefix + 'token1' : idPrefix + 'token2'"
      [size]="'s'"
      [loading]="loading"
      [disabled]="disabled || iframeForceDisabled"
      (onClick)="openTokensSelect(idPrefix)"
      [appearance]="selectedToken ? 'primary' : 'secondary'"
      [pseudoHovered]="buttonHovered"
      (mouseleave)="buttonHovered = null"
    >
      <ng-container *ngIf="selectedToken">
        <div class="tokens__inner">
          <div class="tokens__image-container">
            <img
              [src]="selectedToken.image || DEFAULT_TOKEN_IMAGE"
              width="18px"
              height="18px"
              [alt]="selectedToken.symbol"
              (error)="onImageError($event)"
            />
          </div>
          <div class="tokens__symbol">
            {{ selectedToken.symbol }}
          </div>
          <img src="assets/images/icons/arrow-down.svg" alt="Choose token" />
        </div>
      </ng-container>
      <span class="tokens__inner-text" *ngIf="!selectedToken">{{
        'common.chooseToken' | translate
      }}</span>
    </app-rubic-button>
  </div>
</div>
