.gas-indicator {
  display: flex;
  align-items: center;

  color: var(--primary-text);
  font-size: 16px;
  line-height: 19px;

  &__image {
    display: flex;
    align-items: center;
    margin-right: 15px;

    ::ng-deep svg {
      width: 26px;
      height: 27px;

      path {
        fill: var(--secondary-text);
      }
    }
  }
}
