<div [class]="'rate ' + (levelClass ? 'rate_' + levelClass : '')">
  <div class="rate__header header">
    <div class="header__rate percent">
      <div class="percent__icon">
        <img [src]="iconSrc" alt="" />
      </div>
      <div class="percent__title">
        <span *ngIf="percentDiff === 0">Market rate</span>
        <span *ngIf="percentDiff">
          Your rate is
          <span [class]="'percent__value ' + (levelClass ? 'percent__value_' + levelClass : '')"
            >{{ formattedPercentDiff }}% {{ percentDiff > 0 ? 'higher' : 'lower' }}</span
          >
          than market
        </span>
      </div>
    </div>
  </div>

  <div class="rate__input-container" *ngIf="!isUnknown">
    <input
      autocomplete="off"
      class="rate__input"
      name="rate"
      placeholder="0.0"
      appTokenAmount
      [formControl]="rate"
      [decimals]="6"
      inputmode="decimal"
    />
  </div>

  <div class="rate__unknown-text" *ngIf="isUnknown">Rate is unknown</div>
</div>
