<div class="rate">
  <div class="rate__header header">
    <div class="header__rate percent">
      <div class="percent__icon">
        <img src="assets/images/icons/tick.svg" alt="" />
      </div>
      <div class="percent__title">
        Sell ETH at rate
        <span class="percent__value" *ngIf="percentDiff"
          >({{ percentDiff > 0 ? '+' : '' }}{{ percentDiff }}%)</span
        >
      </div>
    </div>

    <button class="header__setter setter">
      <span class="setter__title">Set to market</span>
      <img src="assets/images/icons/lock.svg" alt="locker" class="setter__icon" />
    </button>
  </div>

  <label class="rate__label">
    <input
      autocomplete="off"
      class="rate__input"
      name="rate"
      placeholder="0.0"
      appTokenAmount
      [formControl]="rate"
      [decimals]="6"
      (amountChange)="onRateChange($event)"
      inputmode="decimal"
    />
  </label>
</div>
