<div class="custom-token">
  <div class="custom-token__element">
    <app-tokens-list-element
      [token]="token"
      [tuiManualHint]="disabledTokenHint"
      [tuiManualHintShow]="hintShown"
      tuiHintMode="error"
      tuiHintDirection="bottom-right"
      (mouseleave)="hintShown = false"
    >
    </app-tokens-list-element>
  </div>

  <app-rubic-button
    class="custom-token__button"
    appearance="secondary"
    fullWidth
    (onClick)="onImportClick()"
  >
    Import {{ token.symbol }}
  </app-rubic-button>
</div>

<ng-template #disabledTokenHint>
  <div>
    {{ 'modals.tokensListModal.unsupportedPairsHint' | translate }}
  </div>
</ng-template>
