@use 'src/scss/core' as *;

:host {
  ::ng-deep {
    app-window-container {
      header h5 {
        justify-content: space-between;
      }

      main {
        display: flex;
        flex-direction: column;
        gap: var(--tui-padding-m);
      }
    }

    app-login-button {
      button {
        width: 100%;
      }
    }

    app-locked-rbc,
    app-locked-rbc-in-dollars,
    app-locked-rbc-in-percent,
    app-average-lock-time,
    app-reward-per-week,
    app-average-apr {
      white-space: nowrap;

      .element {
        &__label {
          @include font(11px, 10px, 500, var(--tui-text-03), 0.45px);
          display: flex;
          align-items: center;
          margin-bottom: 7px;

          &-hint {
            width: 18px;
            height: 18px;
            margin-top: -1px;
            margin-left: 5px;
          }

          &-btn {

            cursor: pointer;

            img {
              width: 15px;
              height: 9px;
              margin-left: 6px;
            }
          }
        }

        &__value {
          @include font(15px, 140%, 500, var(--primary-text), 0.45px);
          transition: 0.4s opacity ease-in-out;

          &_loading {
            opacity: 0.4;
          }

          span {
            font-weight: 400;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

.statistics {
  position: relative;

  display: block;
  width: fit-content;
  min-width: 540px;
  margin: 0 auto;

  &__title {
    @include font(18px, 22px, 500, var(--primary-text));
  }

  &__info {
    display: grid;
    grid-row-gap: 40px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr min-content;

    padding: 19px 21px;

    background: var(--io-background);
    border-radius: var(--tui-radius-m);
  }

  &__actions {
    display: flex;
    gap: var(--tui-padding-m);
    align-items: center;
    justify-content: center;

    button {
      flex-shrink: 1;
      width: 100%;
    }
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 2560px) {
  :host {
    ::ng-deep {
      app-login-button button {
        font-size: 20px !important;
      }

      app-rotating-icon {
        width: 23px;
        height: 23px;

        svg {
          width: 23px;
          height: 23px;
        }
      }

      app-locked-rbc,
      app-locked-rbc-in-dollars,
      app-locked-rbc-in-percent,
      app-average-lock-time,
      app-reward-per-week,
      app-average-apr {
        .element {
          &__label {
            font-size: 16px;
            line-height: 16px;

            &-hint {
              width: 18px;
              height: 18px;
              margin-top: -1px;
              margin-left: 5px;
            }

            &-btn {
              img {
                width: 15px;
                height: 9px;
              }
            }
          }

          &__value {
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
    }
  }

  .statistics {
    width: auto;

    &__title {
      font-size: 20px;
      line-height: 20px;
    }

    &__info {
      grid-column-gap: 20px;
    }

    &__actions {
      button {
        font-size: 20px !important;
      }
    }
  }
}

@media (min-width: 3840px) {
  :host {
    ::ng-deep {
      app-login-button button {
        height: var(--tui-height-l) !important;

        font-size: 28px !important;
      }

      app-locked-rbc,
      app-locked-rbc-in-dollars,
      app-locked-rbc-in-percent,
      app-average-lock-time,
      app-reward-per-week,
      app-average-apr {
        .element {
          &__label {
            font-size: 23px;
            line-height: 23px;
          }

          &__value {
            font-size: 28px;
            line-height: 28px;
          }
        }
      }
    }
  }

  .statistics {
    &__title {
      font-size: 28px;
      line-height: 28px;
    }

    &__info {
      grid-column-gap: 20px;
    }

    &__actions {
      button {
        height: var(--tui-height-l) !important;

        font-size: 28px !important;
      }
    }
  }
}

@include b($mobile-md) {
  :host {
    ::ng-deep {
      app-rotating-icon svg path {
        fill: var(--tui-text-01);
      }

      app-window-container {
        header {
          padding: var(--tui-padding-l);

          background: var(--io-background);
          border-bottom: 2px solid var(--app-background);
          border-radius: var(--tui-radius-l) var(--tui-radius-l) 0 0;
        }

        .window-container {
          padding: 0;

          background: none;
          border-radius: 0;
        }
      }

      app-average-lock-time {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      app-reward-per-week {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
      }

      app-locked-rbc-in-percent {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      app-average-apr {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
  }

  .statistics {
    &__info {
      display: grid;
      grid-row-gap: 16px;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr min-content;

      padding: 12px 38px 12px 16px;

      border-radius: 0 0 var(--tui-radius-l) var(--tui-radius-l);
    }
  }
}
