@use 'src/scss/core' as *;

:host {
  ::ng-deep {
    app-window-container {
      header h5 {
        justify-content: space-between;
      }

      main {
        display: flex;
        flex-direction: column;
        gap: var(--tui-padding-m);
      }
    }

    app-login-button {
      button {
        width: 100%;
      }
    }
  }
}

.statistics {
  position: relative;

  display: block;
  max-width: 540px;
  margin: 0 auto;

  &__title {
    @include font(18px, 22px, 500, var(--primary-text));
  }

  &__info {
    display: flex;
    justify-content: space-between;

    padding: 19px 21px;

    background: var(--io-background);
    border-radius: var(--tui-radius-m);
  }

  &__col {
    display: flex;
    flex-direction: column;

    .statistics__param:first-child {
      margin-bottom: 40px;
    }
  }

  &__param {
    &-label {
      @include font(11px, 10px, 500, var(--tui-text-03), 0.45px);
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      &-hint {
        width: 18px;
        height: 18px;
        margin-top: -1px;
        margin-left: 5px;
      }

      &_btn {

        cursor: pointer;

        img {
          width: 15px;
          height: 9px;
          margin-left: 6px;
        }
      }
    }

    &-value {
      @include font(15px, 140%, 500, var(--primary-text), 0.45px);
      transition: 0.4s opacity ease-in-out;

      &_loading {
        opacity: 0.4;
      }

      span {
        font-weight: 400;
        letter-spacing: 1px;
      }
    }
  }

  &__actions {
    display: flex;
    gap: var(--tui-padding-m);
    align-items: center;
    justify-content: center;

    button {
      flex-shrink: 1;
      width: 100%;
    }
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
