@use 'src/scss/core' as *;

.statistics {
  position: relative;

  padding: 26px;

  background: var(--form-background);
  border-radius: 24px;

  @include b($mobile-sm-plus) {
    padding: 22px 22px 0;
  }

  &__head {
    position: relative;

    margin-bottom: 40px;

    @include b($mobile-sm-plus) {
      margin-bottom: 30px;
    }
  }

  &__title {
    @include font(18px, 22px, 500, var(--primary-text));

    @include b($mobile-sm-plus) {
      @include font(16px, 22px, 500, var(--primary-text));
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    @include b($tablet) {
      flex-direction: column;
      padding: 0;

      border-radius: 22px;
    }
  }

  &__refresh {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__col {
    display: flex;
    flex-direction: column;
    padding: 0 45px;

    @include b($tablet) {
      flex-direction: row;
      margin-bottom: 26px;
      padding: 0;
    }

    @include b($mobile-sm-plus) {
      gap: 20px;
      padding: 0;
    }

    .statistics__param:first-child {
      margin-bottom: 40px;

      @include b($tablet) {
        margin-bottom: 0;
      }
    }
  }

  &__param {
    @include b($tablet) {
      width: 50%;
    }

    @include b($mobile-sm-plus) {
      overflow: hidden;
    }

    &-label {
      @include font(16px, 19px, 500, var(--secondary-text));
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      @include b($tablet) {
        margin-bottom: 4px;

        font-size: 14px;
        line-height: 17px;
      }

      &-hint {
        width: 18px;
        height: 18px;
        margin-top: -1px;
        margin-left: 5px;
      }

      &_btn {

        cursor: pointer;

        img {
          width: 15px;
          height: 9px;
          margin-left: 6px;
        }
      }
    }

    &-value {
      @include font(22px, 26px, 500, var(--primary-text));
      transition: 0.4s opacity ease-in-out;

      @include b($tablet) {
        font-size: 20px;
        line-height: 24px;
      }

      @include b($mobile-sm-plus) {
        max-width: 150px;
        overflow: hidden;

        font-size: 18px;
        text-overflow: ellipsis;
      }

      &_loading {
        opacity: 0.4;
      }

      span {
        font-weight: 400;
        letter-spacing: 1px;
      }
    }
  }
}
