<app-window-container class="statistics" *ngLet="currentUser$ | async as user">
  <ng-container header
    ><span class="statistics__title">{{ 'staking.overview.title' | translate }}</span>
    <app-rotating-icon
      class="statistics__refresh"
      (iconClick)="refreshStatistics()"
      [rotating]="loading"
    ></app-rotating-icon>
  </ng-container>
  <div class="statistics__info">
    <app-locked-rbc [value]="lockedRBC$ | async"></app-locked-rbc>
    <app-locked-rbc-in-dollars [value]="lockedRBCInDollars$ | async"></app-locked-rbc-in-dollars>
    <app-locked-rbc-in-percent [value]="circRBCLocked$ | async"></app-locked-rbc-in-percent>
    <app-average-lock-time></app-average-lock-time>
    <app-reward-per-week [value]="rewardPerWeek$ | async"></app-reward-per-week>
    <app-average-apr [value]="apr$ | async"></app-average-apr>
  </div>
  <ng-container *ngIf="!user">
    <app-login-button></app-login-button>
  </ng-container>
  <ng-container
    *ngLet="{
      deposits: deposits$ | async,
      depositsLoading: depositsLoading$ | async
    } as depositsInfo"
  >
    <ng-container *ngIf="user && !depositsInfo.deposits?.length && !depositsInfo.depositsLoading">
      <div class="statistics__actions fade-in">
        <button tuiButton appearance="primary" type="button" size="m" (click)="navigateToCcrForm()">
          Bridge
        </button>
        <button
          tuiButton
          appearance="primary"
          type="button"
          size="m"
          (click)="navigateToStakeForm()"
        >
          Stake
        </button>
      </div>
    </ng-container>
  </ng-container>
</app-window-container>
