.warning-container {
  position: relative;

  &:hover {
    app-tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}

.warning {
  display: flex;
  align-items: center;

  padding: 8px 16px;

  font-size: 14px;

  background: #ffdb43;
  border-radius: 3px;

  img {
    width: 17px;
    margin-right: 12px;
  }

  &_with-tooltip {
    cursor: help;
  }
}

app-tooltip {
  position: absolute;
  bottom: calc(100% - 12px);
  left: -81px;

  z-index: 10;

  font-size: 12px;

  text-align: center;

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

