.navbar-toggler {
  margin-top: -5px;
  padding: 10px 6px;

  background: none;
  border: 0 none;
  cursor: pointer;

  &__icon-bar {
    display: block;
    width: 22px;
    height: 2px;

    background-color: black;
    border-radius: 1px;

    transition: transform 0.3s ease-in-out;

    &:nth-child(2) {
      margin-top: 4px;

      opacity: 1;

      transition: opacity 0.3s ease-in-out;
    }

    &:last-child {
      margin-top: 4px;
    }
  }

  &_opened &__icon-bar {
    &:first-child {
      transform: translateY(6px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:last-child {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}
