@use 'src/scss/core' as *;

:host {
  width: 100%;
}

.provider-panel-mobile {
  &__body {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 5px;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  &__logo {
    width: 32px;
    height: 32px;

    background-color: white;
    border-radius: 50%;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &__provider-name {
    color: var(--primary-text);
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
  }

  &__rate {
    color: #aaa;
  }

  &__best {
    position: absolute;
    top: -22px;
    right: 0;

    display: inline-flex;
    padding: 4px 12px;

    color: #00e28e;

    background: #00e28e26;
    border-radius: 30px;

    &--loading {
      display: none;
    }
  }

  &__gas {
    &-wrapper {
      display: flex;
      align-items: center;

      color: #aaa;
    }

    &-icon {
      ::ng-deep {
        svg {
          display: block;
          width: 16px;
          height: 16px;

          path {
            fill: #aaa;
          }
        }
      }
    }

    &-title {
      margin: 0 5px;
    }

    &-value {
      color: var(--primary-color);
    }
  }

  &__expand {
    margin-left: auto;

    &--loading {
      display: none;
    }

    ::ng-deep {
      svg {
        display: block;

        path {
          fill: #00e28e;
        }
      }
    }
  }
}
