@use 'src/scss/core' as *;

:host {
  width: 100%;
}

.provider-panel-mobile {
  &__body {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;

    background-color: white;
    border-radius: 50%;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &__provider-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
  }

  &__rate {
    color: #aaa;
  }

  &__info {
    margin-left: auto;

    text-align: right;
  }

  &__best {
    display: inline-flex;
    margin-left: 1rem;
    padding: 4px 12px;

    color: #00e28e;

    background: #00e28e26;
    border-radius: 30px;

    &--loading {
      display: none;
    }
  }

  &__gas {
    &-wrapper {
      display: flex;
      align-items: center;
      margin-top: 4px;

      color: #aaa;
    }

    &-icon {
      ::ng-deep {
        svg {
          display: block;
          width: 16px;
          height: 16px;

          path {
            fill: #aaa;
          }
        }
      }
    }

    &-title {
      margin: 0 5px;
    }

    &-value {
      color: var(--primary-color);
    }
  }

  &__expand {
    margin-top: -17px;
    margin-left: 1rem;

    &--loading {
      display: none;
    }

    ::ng-deep {
      svg {
        display: block;

        path {
          fill: #00e28e;
        }
      }
    }
  }
}
