<ng-template #connectWalletButton>
  <app-connect-wallet-button></app-connect-wallet-button>
</ng-template>

<ng-container *ngIf="nonEvmChangenow || (user$ | async); else connectWalletButton">
  <ng-template #updateRateButton>
    <app-update-rate-button (onClick)="onUpdateRateClick.emit()"></app-update-rate-button>
  </ng-template>

  <ng-container *ngIf="(isUpdateRateStatus$ | async) === false; else updateRateButton">
    <ng-container *ngLet="error$ | async as error">
      <ng-container *ngIf="!error.text || error.loading; else errorButton">
        <app-onramper-swap-button
          *ngIf="isOnramper"
          [buttonText]="buttonText"
          (handleDirectBuy)="handleDirectBuy.emit()"
          (onSwapClick)="onSwapClick.emit()"
        ></app-onramper-swap-button>

        <ng-container *ngIf="!isOnramper">
          <ng-container *ngIf="withApproveButton && (!isIframe || needApprove); else swapButton">
            <app-approve-swap-button
              (onApproveClick)="onApproveClick.emit()"
              (onSwapClick)="onSwapClick.emit()"
              [buttonText]="buttonText"
            ></app-approve-swap-button>
          </ng-container>

          <ng-template #swapButton>
            <app-swap-button
              (onClick)="onSwapClick.emit()"
              [buttonText]="buttonText"
            ></app-swap-button>
          </ng-template>
        </ng-container>
      </ng-container>

      <ng-template #errorButton>
        <app-error-button></app-error-button>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>
