<div class="trades-form">
    <div class="trades-form__tabs">
        <ul class="trades-form__tabs-blockchains">
            <li class="tab tab_blockchain tab_active">
                <img src="assets/images/icons/coins/eth.png" alt=""/>
                <span>Ethereum</span>
            </li>
            <li class="tab tab_blockchain">
                <img src="/assets/images/icons/coins/bnb.svg" alt=""/>
                <span>Binance Smart Chain</span>
            </li>
            <li class="tab tab_blockchain">
                <img src="assets/images/icons/coins/matic.svg" alt=""/>
                <span>Matic</span>
            </li>
        </ul>
        <ul class="trades-form__tabs-modes">
            <li class="tab tab_mode tab_active">
                <span>Instant trades</span>
                <img src="assets/images/icons/main-page/InstantTrade.svg" alt=""/>
            </li>
            <li class="tab tab_mode">
                <span>Order book</span>
                <img src="assets/images/icons/main-page/OrderBook_deactive.svg" alt=""/>
            </li>
        </ul>
    </div>

    <div class="trades-form__body">
    </div>
</div>
