<form class="login-form" (submit)="sendResetPassForm()" [formGroup]="forgotForm" novalidate>
  <div class="form-field">
    <div class="form-field_label" translate="AUTH_POPUP.FIELDS.RESET_EMAIL"></div>
    <div class="form-field_input">
      <input
        type="email"
        required
        formControlName="email"
        [ngClass]="{
          'ng-invalid-server': ServerErrors.username || ServerErrors.email,
          'ng-invalid-email': forgotForm.controls.email.errors?.email,
          'ng-invalid-required': forgotForm.controls.email.errors?.required,
          'ng-invalid': forgotForm.controls.email.errors || ServerErrors.email
        }"
        (ngModelChange)="resetForgotForm()"
        class="min-text"
      />
      <span class="field-error form-field_error-required" translate="FIELDS_ERRORS.REQUIRED"></span>
      <span class="field-error form-field_error-email" translate="FIELDS_ERRORS.YOUR_EMAIL"></span>
      <span class="field-error form-field_error-server">
        {{ ServerErrors.email?.join(' ') }}
      </span>

      <span class="field-success" *ngIf="SuccessText">
        {{ SuccessText }}
      </span>
      <span class="field-error" style="display: block" *ngIf="ServerErrors.non_field_errors">
        {{ ServerErrors.non_field_errors?.join(' ') }}
      </span>
    </div>
  </div>

  <div class="form-field">
    <button
      type="submit"
      class="btn btn-yellow width-100"
      [disabled]="formIsProgress || !forgotForm.valid"
    >
      <span class="lds-ellipsis" *ngIf="formIsProgress">
        <span class="lds-ellipsis-container">
          <span></span><span></span><span></span><span></span>
        </span>
      </span>
      <img class="arrow" src="./assets/images/buttons/arrow_b.svg" />
      <span translate="HEADER.BUTTONS.SEND"></span>
    </button>
  </div>
</form>
