<div class="title">Recent Crosschain Tx</div>
<div class="description">History of your latest Crosschain Transactions:</div>

<ng-container *ngIf="recentTrades?.length > 0; else noTransactions">
  <ng-container *ngIf="!isMobile; else mobileRecentTrades">
    <table class="table">
      <tbody>
        <tr class="table__tr table__tr_head">
          <th class="table__th">Date</th>
          <th class="table__th">From</th>
          <th class="table__th">Status From</th>
          <th class="table__th">To</th>
          <th class="table__th">Status To</th>
        </tr>
        <ng-container *ngFor="let trade of recentTrades">
          <tr
            celer-trade
            [trade]="trade"
            mode="table-row"
            *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.CELER"
          ></tr>
          <tr
            rubic-trade
            [trade]="trade"
            mode="table-row"
            *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.RUBIC"
          ></tr>
          <tr
            symbiosis-trade
            [trade]="trade"
            mode="table-row"
            *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.SYMBIOSIS"
          ></tr>
        </ng-container>
      </tbody>
    </table>
  </ng-container>

  <ng-template #mobileRecentTrades>
    <div class="list">
      <ng-container *ngFor="let trade of recentTrades">
        <div
          celer-trade
          [trade]="trade"
          mode="mobile"
          *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.CELER"
        ></div>
        <div
          rubic-trade
          [trade]="trade"
          mode="mobile"
          *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.RUBIC"
        ></div>
        <div
          symbiosis-trade
          [trade]="trade"
          mode="mobile"
          *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.SYMBIOSIS"
        ></div>
      </ng-container>
    </div>
  </ng-template>
</ng-container>

<ng-template #noTransactions>
  <div class="no-transactions">
    <div class="no-transactions__title">You don't have Cross-Chain Transactions yet</div>
    <app-rubic-button
      class="no-transactions__navigate"
      appearance="secondary"
      (onClick)="navigateToCrossChainSwaps()"
    >
      Swap Now
    </app-rubic-button>
  </div>
</ng-template>
