<div class="title">{{ 'recentTrades.title' | translate }}</div>
<div class="description">{{ 'recentTrades.description' | translate }}</div>

<ng-container *ngIf="recentTrades?.length > 0; else noTransactions">
  <ng-container *ngIf="!isMobile; else mobileRecentTrades">
    <table class="table">
      <tbody>
        <tr class="table__tr table__tr_head">
          <th class="table__th">{{ 'recentTrades.date' | translate }}</th>
          <th class="table__th">{{ 'recentTrades.from' | translate }}</th>
          <th class="table__th">{{ 'recentTrades.statusFrom' | translate }}</th>
          <th class="table__th">{{ 'recentTrades.to' | translate }}</th>
          <th class="table__th">{{ 'recentTrades.statusTo' | translate }}</th>
        </tr>
        <ng-container *ngFor="let trade of recentTrades">
          <tr
            celer-trade
            [trade]="trade"
            mode="table-row"
            *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.CELER"
          ></tr>
          <tr
            symbiosis-trade
            [trade]="trade"
            mode="table-row"
            *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.SYMBIOSIS"
          ></tr>
          <tr
            li-fi-trade
            [trade]="trade"
            mode="table-row"
            *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.LIFI"
          ></tr>
          <tr
            de-bridge-trade
            [trade]="trade"
            mode="table-row"
            *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.DEBRIDGE"
          ></tr>
          <tr
            via-trade
            [trade]="trade"
            mode="table-row"
            *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.VIA"
          ></tr>
          <tr
            rango-trade
            [trade]="trade"
            mode="table-row"
            *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.RANGO"
          ></tr>
          <tr
            bridgers-trade
            [trade]="trade"
            mode="table-row"
            *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.BRIDGERS"
          ></tr>
          <tr
            bitgert-trade
            [trade]="trade"
            mode="table-row"
            *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.BITGERT_BRIDGE"
          ></tr>
        </ng-container>
      </tbody>
    </table>
  </ng-container>

  <ng-template #mobileRecentTrades>
    <div class="list">
      <ng-container *ngFor="let trade of recentTrades">
        <div
          celer-trade
          [trade]="trade"
          mode="mobile"
          *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.CELER"
        ></div>
        <div
          symbiosis-trade
          [trade]="trade"
          mode="mobile"
          *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.SYMBIOSIS"
        ></div>
        <div
          li-fi-trade
          [trade]="trade"
          mode="mobile"
          *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.LIFI"
        ></div>
        <div
          de-bridge-trade
          [trade]="trade"
          mode="mobile"
          *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.DEBRIDGE"
        ></div>
        <div
          via-trade
          [trade]="trade"
          mode="mobile"
          *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.VIA"
        ></div>
        <div
          rango-trade
          [trade]="trade"
          mode="mobile"
          *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.RANGO"
        ></div>
        <div
          bridgers-trade
          [trade]="trade"
          mode="mobile"
          *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.BRIDGERS"
        ></div>
        <tr
          bitgert-trade
          [trade]="trade"
          mode="mobile"
          *ngIf="trade.crossChainProviderType === CROSS_CHAIN_PROVIDER.BITGERT_BRIDGE"
        ></tr>
      </ng-container>
    </div>
  </ng-template>
</ng-container>

<ng-template #noTransactions>
  <div class="no-transactions">
    <div class="no-transactions__title">{{ 'recentTrades.noTransactions' | translate }}</div>
    <app-rubic-button
      class="no-transactions__navigate"
      appearance="secondary"
      (onClick)="navigateToCrossChainSwaps()"
    >
      {{ 'recentTrades.swapNow' | translate }}
    </app-rubic-button>
  </div>
</ng-template>
