<ng-container>
  <tui-scrollbar class="providers-list">
    <div
      class="list"
      *ngIf="
        states?.length > 0 || calculationProgress.total !== calculationProgress.current;
        else emptyContent
      "
    >
      <app-provider-element
        *ngFor="let state of states; index as i"
        [isBest]="i === 0"
        [tradeState]="state"
        [toToken]="toToken$ | async"
        [selectedTradeType]="selectedTradeType"
        (click)="handleTradeSelection($event, state.tradeType)"
        [nativeToken]="nativeToken$ | async"
      ></app-provider-element>
    </div>
  </tui-scrollbar>
</ng-container>

<ng-template #emptyContent>
  <div class="empty-list">
    <div class="empty-list__content">
      <app-no-result
        label="No routes available"
        description="Please try another token combination."
      ></app-no-result>
    </div>
  </div>
</ng-template>
