h5 {
  margin: 0 0 15px;
  padding-right: 10px;

  font-size: 15px;
  line-height: 15px;
}

.waiting {
  margin-bottom: var(--tui-padding-m);
}

.providers-list {
  height: 455px;
  margin-right: -10px;
}

:host ::ng-deep {
  app-provider-element {
    display: block;
    margin-right: 10px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .t-bar {
    height: 455px;
    margin-right: -2px;
  }
}

.empty-list {
  &__content {
    margin-right: 10px;
    padding: var(--tui-padding-l);

    background: var(--primary-background);
    border-radius: var(--tui-radius-m);
  }
}
