.tooltip {
  position: relative;
  width: 190px;
  z-index: 20;

  margin-bottom: 16px;
  padding: 10px;

  background-color: #fff;
  box-shadow: 0 12px 12px rgba(#000, 0.25);

  &::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #fff;
    transform: rotate(45deg);
    margin-top: -7px;
    margin-left: -6px;
  }
}
