<ng-container *ngLet="userPromotions$ | async as userPromotions">
  <section class="gas-refund" *ngIf="userPromotions?.length">
    <div class="gas-refund__header header">
      <div class="header__title">{{ 'gasRefund.title' | translate }}</div>
      <app-rotating-icon [rotating]="isLoading" (iconClick)="refreshRefunds()"></app-rotating-icon>
    </div>

    <div class="body">
      <tui-scrollbar>
        <ul class="cards">
          <li class="cards__item card" *ngFor="let promoItem of userPromotions">
            <div class="card__header">
              <span>CRYPTOLOVE</span>
              <app-info-hint size="18"></app-info-hint>
            </div>
            <div class="card__body">
              <div class="card__amount">
                <div class="card__text_big">${{ promoItem.totalRefundUSD }}</div>
                <div class="card__text_label">Refund Amount</div>
              </div>
              <div class="card__transactions">
                <div>
                  <span class="card__text_big">{{ promoItem.transactions.length }}</span>
                  <span class="card__text_link more-link">more</span>
                </div>
                <span class="card__text_label">Refund Amount</span>
              </div>
            </div>
            <app-rubic-button
              (click)="onRefundClick()"
              appearance="secondary"
              [disabled]="isButtonDisabled(promoItem.refundDate)"
            >
              Refund after 14.10.21
            </app-rubic-button>
          </li>
        </ul>
      </tui-scrollbar>
    </div>
  </section>
</ng-container>
