<div class="token-card-container">
  <div class="token-card" (click)="selectToken.emit(token)">
    <div class="token-card__image-container">
      <img
        class="token-card__image-container-token"
        [src]="token.image || DEFAULT_TOKEN_IMAGE"
        [alt]="token.name"
        loading="lazy"
        (error)="onImageError($event)"
      />
      <img
        *ngIf="showAll"
        class="token-card__image-container-blockchain"
        [src]="BLOCKCHAIN_ICON[token.blockchain] || DEFAULT_TOKEN_IMAGE"
        [alt]="token.blockchain"
        loading="lazy"
        (error)="onImageError($event)"
      />
    </div>

    <div class="token-card__symbol-name-container">
      <div class="token-card__symbol-container">
        <span class="token-card__symbol">{{ token.symbol | shortenText : 10 }}</span>

        <div
          *ngIf="securityStatus !== TokenSecurityStatus.UNSUPPORTED_BLOCKCHAIN"
          class="token-card__actions"
        >
          <div class="token-card__security-container">
            <div
              class="token-card__security-container-security-icon"
              [inlineSVG]="
                'assets/images/swaps/swaps-info/token-security-' + securityStatus + '-icon.svg'
              "
            ></div>
          </div>
        </div>
      </div>

      <span class="token-card__name">{{ token.name | shortenText : 20 }}</span>
    </div>

    <ng-container *ngLet="token | showPriceChange : tokenFilter : assetType as pcPercent">
      <div
        *ngIf="pcPercent !== null"
        class="token-card__price-change-container"
        [class.green]="pcPercent >= 0"
        [class.red]="pcPercent < 0"
      >
        <span class="arrow" [style.transform]="pcPercent > 0 && 'rotateZ(180deg)'">▾</span>
        <span class="price-change">{{ pcPercent + '%' | mathAbs }}</span>
      </div>
    </ng-container>

    <div class="token-card__amount-container" [class.tui-skeleton]="balanceLoading">
      <div class="token-card__amount" *ngIf="token.amount.gt(0)">
        <span
          [tuiHint]="tokenAmountTooltip"
          tuiHintDirection="top-left"
          tuiHintAppearance="onDark"
          >{{ token.amount | bigNumberFormat | shortenAmount : 6 : 4 }}</span
        >
        <ng-template #tokenAmountTooltip>{{ token.amount | bigNumberFormat }}</ng-template>
      </div>
      <span class="token-card__dollar-amount" *ngIf="token.amount.gt(0) && token.price"
        >~{{ token.amount.multipliedBy(token.price).toFixed(2) }} $</span
      >
    </div>
  </div>

  <app-dropdown-options-token
    [token]="token"
    [securityStatus]="securityStatus"
  ></app-dropdown-options-token>
</div>
