@use 'src/scss/core' as *;

.token-card-wrapper {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.token-card-container {
  display: flex;
  gap: var(--tui-padding-s);
}

.token-card {
  display: flex;
  gap: var(--tui-padding-m);
  align-items: center;
  width: 100%;
  padding: var(--tui-padding-xs) var(--tui-padding-s);

  &:hover {
    background: var(--tui-secondary);
    border-radius: var(--tui-radius-m);
  }

  &__favorite {
    &_active {
      ::ng-deep path {
        stroke: var(--tui-primary);
      }
    }
  }

  &__image-container {
    display: flex;

    img {
      width: 32px;
      height: 32px;

      border-radius: 25%;
    }
  }

  &__symbol-name-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  &__symbol-container {
    display: flex;
    gap: 10px;
  }

  &__actions {
    display: flex;
    gap: 5px;

    &_clickable {
      > * {
        cursor: pointer;
      }
    }

    > * {
      width: 16px;
      height: 16px;

      ::ng-deep * {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__name,
  &__dollar-amount {
    color: var(--tui-text-03);
    font-size: 12px;
    line-height: 12px;
  }

  &__amount-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (min-width: 2560px) {
  .token-card {
    &__symbol,
    &__amount {
      font-size: 18px;
    }

    &__amount-container,
    &__symbol-name-container {
      gap: var(--tui-padding-s);
    }

    &__image-container {
      img {
        width: 37px;
        height: 37px;
      }
    }

    &__symbol-container {
      gap: var(--tui-padding-l);
      align-items: center;
    }

    &__name,
    &__dollar-amount {
      font-size: 16px;
      line-height: 16px;
    }

    &__actions {
      display: flex;
      gap: var(--tui-padding-m);

      > * {
        width: 21px;
        height: 21px;
      }
    }
  }
}

@media (min-width: 3840px) {
  .token-card {
    &__symbol,
    &__amount {
      font-size: 26px;
    }

    &__amount-container,
    &__symbol-name-container {
      gap: var(--tui-padding-s);
    }

    &__image-container {
      img {
        width: 47px;
        height: 47px;
      }
    }

    &__symbol-container {
      gap: var(--tui-padding-xl);
      align-items: center;
    }

    &__name,
    &__dollar-amount {
      font-size: 22px;
      line-height: 22px;
    }

    &__actions {
      display: flex;
      gap: var(--tui-padding-xl);

      > * {
        width: 31px;
        height: 31px;
      }
    }
  }
}

@include b($mobile-md) {
  .token-card {
    gap: var(--tui-padding-l);
    padding: var(--tui-padding-s) var(--tui-padding-l);

    background: var(--tui-base-01);
    border-radius: var(--tui-radius-m);

    &:hover {
      background: var(--tui-base-01);
    }

    &__image-container {
      display: flex;

      img {
        width: 35px;
        height: 35px;
      }
    }

    &__symbol {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.54px;
    }

    &__amount {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.54px;
    }
  }
}

