@use 'src/scss/core' as *;

.token-card-container {
  display: flex;
  gap: var(--tui-padding-s);
}

.token-card {
  display: flex;
  gap: var(--tui-padding-m);
  align-items: center;
  width: 100%;
  padding: var(--tui-padding-xs) var(--tui-padding-s);

  &:hover {
    background: var(--tui-secondary);
    border-radius: var(--tui-radius-m);
  }

  &__image-container {
    position: relative;

    display: flex;

    &-token {
      width: 32px;
      height: 32px;

      border-radius: 25%;
    }

    &-blockchain {
      position: absolute;
      top: -2px;
      right: -5px;

      width: 16px;
      height: 16px;

      border-radius: 25%;
    }
  }

  &__symbol-name-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  &__symbol-container {
    display: flex;
    gap: 10px;
  }

  &__actions {
    display: flex;
    gap: 5px;

    &_clickable {
      > * {
        cursor: pointer;
      }
    }

    > * {
      width: 16px;
      height: 16px;

      ::ng-deep * {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__name,
  &__dollar-amount {
    color: var(--tui-text-03);
    font-size: 12px;
    line-height: 12px;
  }

  &__amount-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@include b($mobile-md) {
  .token-card {
    gap: var(--tui-padding-l);
    padding: var(--tui-padding-s) var(--tui-padding-l);

    background: var(--io-background);
    border-radius: var(--tui-radius-m);

    &:hover {
      background: var(--tui-base-01);
    }

    &__image-container {
      display: flex;

      &-token {
        width: 35px;
        height: 35px;
      }
    }

    &__symbol {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.54px;
    }

    &__amount {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.54px;
    }
  }
}
