<div class="mobile-table-header">
  <div class="mobile-table-header__select-columns-dropdown">
    <div class="mobile-table-header__dropdown-label">
      <span>{{ 'tradesTable.showData' | translate }}</span>
    </div>
    <div class="mobile-table-header__select mobile-table-header__select_rounded">
      <mat-select [(value)]="selectedValue" (selectionChange)="selectColumn($event)">
        <mat-option *ngFor="let option of selectionOptions" [value]="option">
          {{ option | translate }}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="mobile-table-header__sort-table-dropdown">
    <div class="mobile-table-header__dropdown-label">
      <span>{{ 'tradesTable.sortBy' | translate }}</span>
    </div>
    <div class="mobile-table-header__select">
      <mat-select [(value)]="sortingValue.active" (selectionChange)="sortTable($event)">
        <mat-option *ngFor="let option of sortingOptions" [value]="option">
          {{ option | translate }}
        </mat-option>
      </mat-select>
    </div>
    <div
      class="mobile-table-header__icon"
      (click)="changeDirection()"
      [ngClass]="{
        'mobile-table-header__icon_asc' : sortingValue.direction === 'asc',
        'mobile-table-header__icon_desc' : sortingValue.direction === 'desc'
      }">
      <div [inlineSVG]="'assets/images/bridge/Arrows-down-white.svg'"></div>
    </div>
  </div>
</div>