@import 'src/scss/mixins';

$primary-color: #4aa956;
$mobile-size: 600;

.mobile-table-header {
  display: flex;

  justify-content: space-between;

  @include b($mobile-size) {
    flex-direction: column;
    height: auto;
  }

  &__dropdown-label {
    display: flex;
    align-items: center;

    min-width: 150px;
    padding: 10px 10px 10px 20px;

    color: #7a7a7a;
    font-size: 14px;

    background-color: white;
    border-right: 1px solid #f4f4f4;
    border-radius: 5px 0 0 5px;
  }

  &__select-columns-dropdown,
  &__sort-table-dropdown {
    display: flex;
    margin-bottom: 20px;

    > div {
      box-sizing: border-box;
      height: 56px;
    }
  }

  &__select {
    position: relative;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-width: 130px;
    height: 100%;
    padding: 10px 10px 10px 25px;

    background-color: white;

    @include b($mobile-size) {
      width: 100%;
    }

    &_rounded {
      border-radius: 0 5px 5px 0;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;

    background-color: white;
    border-left: 1px solid #f4f4f4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;    
  }
}

::ng-deep .sorting-dropdown {
  &__icon {
    path:not(:first-child) {
      fill: #979797;
    }

    &_asc path:nth-child(2) {
      fill: $primary-color;
    }

    &_desc path:nth-child(3) {
      fill: $primary-color;
    }
  }
}
