<div class="chain-dropdown" mat-select-trigger>
  <mat-select
    [disableRipple]="true"
    [(ngModel)]="selectedBlockchain"
    (selectionChange)="onBlockchainChanges($event.value)"
    panelClass="chain-dropdown-panel"
    class="chain-dropdown__list"
  >
    <mat-select-trigger>
     <div class='chain-dropdown__icon'>
       <img [src]="selectedBlockchain.image" [alt]="selectedBlockchain.name" />
     </div>
    </mat-select-trigger>
    <mat-option *ngFor="let blockchain of BLOCKCHAINS" [value]="blockchain">
      <div class='chain-dropdown__image-container'>
        <img
          [src]="blockchain.image"
          [alt]="blockchain.label"
        />
      </div>
      {{ blockchain.name }}
    </mat-option>
  </mat-select>
</div>
