@use 'src/scss/core' as *;

:host {
  display: block;
  width: fit-content;
}

.status-badge {

  @include font(15px, 20px, 500, #ffffff);
  padding: 3px 6px;

  text-align: center;

  border-radius: 5px;

  cursor: default;

  @include b($tablet) {
    padding: 3px 7px;

    font-size: 13px;
    line-height: 20px;
  }
}

.warning {
  color: #dab530;

  background: rgba(218, 181, 48, 0.25);
}

.error {
  color: #f35e42;

  background: rgba(243, 94, 66, 0.25);
}

.active {   
  color: #30da60;

  background: rgba(48, 218, 96, 0.25);
}

.info {
  color: #627eea;

  background: rgba(98, 126, 234, 0.15);   
}

.inactive {
  color: #4762ef;
  
  background: rgba(71, 98, 239, 0.2);

  @include dark {
    color: #fff;
  
    background: rgba(255, 255, 255, 0.15);
  }
}
