<section class="tokens-select">
  <header class="tokens-select__header" *noFrame>
    <h2>{{ (listType === 'default' ? 'modals.tokensListModal.defaultTitle' : 'modals.tokensListModal.favoriteTokensTitle') | translate }}</h2>
  </header>
  <div class="tokens-select__row" *noFrame>
    <app-tokens-search-bar [(query)]="query"></app-tokens-search-bar>
    <app-icon-button
      [icon]="listType === 'default' ? 'assets/images/icons/star.svg' : 'assets/images/icons/back.svg'"
      [tuiHint]="listType === 'default' ? 'List of favorite tokens' : 'Back to whole tokens list'"
      [tuiHintShowDelay]="1500"
      [border]="true"
      (iconButtonClick)="switchMode()"
      buttonSize="s"
    >
    </app-icon-button>
  </div>
  <div class="tokens-select__content">
    <app-blockchains-aside
      [idPrefix]="idPrefix"
      [(blockchain)]="blockchain"
      [allowedBlockchains]="allowedBlockchains"
    ></app-blockchains-aside>
    <app-tokens-list
      *ngIf="!customToken && !loading"
      [listType]="listType"
      [hasQuery]="!!query"
      [tokens]="listType === 'default' ? (tokensToShow$ | async) : (favoriteTokensToShow$ | async)"
      [prevSelectedToken]="prevSelectedToken?.blockchain === blockchain ? prevSelectedToken : null"
      (tokenSelect)="tokenSelect($event)"
      (pageUpdate)="fetchNewPageTokens()"
      [tokensNetworkState]="tokensNetworkState"
      [blockchain]="blockchain"
      [loading]="tokensListLoading"
    ></app-tokens-list>
    <app-custom-token
      *ngIf="customToken && !loading"
      (tokenSelected)="tokenSelect($event)"
      [token]="customToken"
    ></app-custom-token>
    <tui-loader *ngIf="loading" [showLoader]="loading" size="xl"></tui-loader>
  </div>
</section>
