@import 'src/styles';

.tokens-select {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 528px;

  @include iframe-horizontal {
    flex-direction: column;
    justify-content: center;
    width: $iframe-horizontal-width;
    height: 100vh;
    margin: 0 auto;
  }

  @include iframe-vertical {
    flex-direction: column;
    justify-content: center;
    width: $iframe-vertical-width;
    height: 100vh;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    grid-gap: 20px;
    justify-content: space-between;

    ::ng-deep tui-wrapper img {
      max-width: 20px;
      max-height: 20px;
    }
  }

  &__header {
    position: relative;

    margin-right: 40px;

    h2 {
      margin-top: 0;

      color: #808080;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__content {
    display: flex;
    flex: 1;
    max-height: 423px;

    @include iframe-horizontal {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 180px;
      max-height: 180px;
      padding: 0 30px;

      app-blockchains-aside {
        display: block;
        margin-bottom: 20px;
      }
    }

    @include iframe-vertical {
      flex-direction: column;
      width: $iframe-vertical-width;
      height: $iframe-vertical-height;
      max-height: $iframe-vertical-height;
      padding: 40px 20px 20px;

      app-blockchains-aside {
        display: block;
        margin-bottom: 10px;
      }
    }

    app-blockchains-aside {
      position: relative;
      left: -24px;
    }
  }

}

app-tokens-search-bar {
  width: 100%;
  margin-bottom: 14px;
}

tui-loader {
  position: relative;
  left: -6px;

  width: 100%;
}

app-icon-button {
  width: 36px;
  height: 32px;
}

@include b($mobile-md-minus) {
  .tokens-select {
    height: 100%;

    &__content {
      height: 100%;
      max-height: none;
    }
  }
}
