<section class="tokens-select">
  <header class="tokens-select__header" *noFrame>
    <h2>
      {{
        (listType === 'default'
          ? 'modals.tokensListModal.defaultTitle'
          : 'modals.tokensListModal.favoriteTokensTitle'
        ) | translate
      }}
    </h2>
  </header>

  <div class="tokens-select__row" *noFrame>
    <app-tokens-search-bar [(searchQuery)]="searchQuery"></app-tokens-search-bar>
    <app-icon-button
      [icon]="
        listType === 'default' ? 'assets/images/icons/star.svg' : 'assets/images/icons/back.svg'
      "
      [tuiHint]="listType === 'default' ? 'List of favorite tokens' : 'Back to whole tokens list'"
      [tuiHintShowDelay]="1100"
      [border]="true"
      (iconButtonClick)="switchMode()"
      buttonSize="s"
    >
    </app-icon-button>
  </div>

  <div class="tokens-select__content">
    <app-blockchains-aside
      [idPrefix]="idPrefix"
      [(blockchain)]="blockchain"
      [allowedBlockchains]="allowedBlockchains"
      (blockchainChange)="onBlockchainChange()"
    ></app-blockchains-aside>

    <tui-loader *ngIf="searchQueryLoading" [showLoader]="true" size="xl"></tui-loader>

    <ng-container *ngIf="!searchQueryLoading">
      <app-tokens-list
        *ngIf="!customToken"
        [(listType)]="listType"
        [hasSearchQuery]="!!searchQuery"
        [tokens]="
          listType === 'default' ? (tokensToShow$ | async) : (favoriteTokensToShow$ | async)
        "
        [currentlySelectedToken]="
          currentlySelectedToken?.blockchain === blockchain ? currentlySelectedToken : null
        "
        [tokensNetworkState]="tokensNetworkState?.[blockchain]"
        [loading]="tokensListUpdating"
        (tokenSelect)="selectToken($event)"
        (pageUpdate)="fetchNewPageTokens()"
      ></app-tokens-list>

      <app-custom-token
        *ngIf="customToken"
        [token]="customToken"
        (tokenSelected)="selectToken($event)"
      ></app-custom-token
    ></ng-container>
  </div>
</section>
