<div *ngIf="!socialAuthError && (social.FB || social.GA) && !social.eoslynx">

  <div class="form-field">
    <button type="button" class="btn btn-transparent width-100"
            [disabled]="!social.MM"
            (click)="MetamaskAuth()">
      <img src="./assets/images/icons/web3clients/metamask.svg" class="icon">
      <span>Log in via MetaMask</span>
    </button>
  </div>

  <div class="form-field">
    <a class="btn btn-transparent width-100"
       *ngIf="social.FB"
       (click)="FBAuth()">
      <img src="./assets/images/icons/facebook.svg" class="icon">
      <span translate="AUTH_POPUP.BUTTONS.LOGIN_FACEBOOK"></span>
    </a>
  </div>

  <div class="form-field">
    <a class="btn btn-transparent width-100"
       *ngIf="social.GA"
       (click)="GoogleAuth()">
      <img src="./assets/images/icons/google.svg" class="icon">
      <span translate="AUTH_POPUP.BUTTONS.LOGIN_GOOGLE"></span>
    </a>
  </div>

</div>


<form *ngIf="(socialAuthError == '1032') || (socialAuthError == '1033')"
      (submit)="continueSocialAuth(totp.viewModel)" novalidate class="login-form">
  <div class="form-field">
    <div class="form-field_label" translate="AUTH_POPUP.FIELDS.2FA"></div>
    <div class="form-field_input">
      <input type="text"
             required
             #totp="ngModel"
             ngModel
             (ngModelChange)="reset2FACode()"
             [ngModelOptions]="{standalone: true}"
             [ngClass]="{
                'ng-invalid': (socialAuthError === '1033'),
                'ng-invalid-server': socialAuthError === '1033'
             }"
             class="min-text">
      <span class="field-error form-field_error-required"
            translate="FIELDS_ERRORS.REQUIRED"></span>
      <span class="field-error form-field_error-server" *ngIf="socialAuthError === '1033'" style="display: block">
        Invalid code
      </span>
    </div>
  </div>
  <div class="form-field"><br/>
    <button type="submit" class="btn btn-transparent">
      <span class="lds-ellipsis" *ngIf="change2FAProgress">
        <span class="lds-ellipsis-container">
          <span></span><span></span><span></span><span></span>
        </span>
      </span>
      <img class="arrow" src="./assets/images/buttons/arrow_w.svg">
      <span translate="HEADER.BUTTONS.CONTINUE"></span>
    </button>
  </div>
</form>
