<ng-container *ngIf="mode === 'table-row'; else mobile">
  <!-- Transaction date -->
  <td class="date">
    <span [class.tui-skeleton]="initialLoading">
      {{
        (uiTrade?.timestamp | date : 'MMM dd, yyyy') + ' at ' + (uiTrade?.timestamp | date : 'h:mm')
      }}
    </span>
  </td>

  <!-- Src crypto-asset -->
  <td class="from">
    <div class="asset" [class.tui-skeleton]="initialLoading">
      <img
        class="asset__image"
        [src]="uiTrade?.fromAsset?.image || defaultTokenImage"
        [alt]="uiTrade?.fromAsset?.symbol"
        (error)="onTokenImageError($event)"
      />
      <div class="asset__data">
        <div class="asset__symbol">{{ uiTrade?.fromAsset?.symbol }}</div>
        <div class="asset__asset-type">{{ fromAssetTypeName }}</div>
      </div>
    </div>
  </td>

  <!-- Status of src transaction -->
  <td class="status-from">
    <div class="status-from-wrapper" [class.tui-skeleton]="initialLoading">
      <a [href]="uiTrade?.srcTxLink" [class.hide-arrow]="!uiTrade?.srcTxLink" target="_blank">
        <app-status-badge
          [type]="uiTrade?.statusFrom | functionCall : getStatusBadgeType : this"
          [text]="getFromStatusBadgeText(uiTrade?.statusFrom) | translate"
          cursor="pointer"
        ></app-status-badge>
        <img
          class="status-from-link-arrow"
          *ngIf="!changenowId"
          src="assets/images/icons/arrow/link-arrow.svg"
          alt="link-arrow"
        />
      </a>
      <img
        *ngIf="changenowId"
        class="status-from-copy-icon"
        src="assets/images/icons/copy.svg"
        alt="Copy"
        (click)="copyToClipboard()"
        [tuiManualHint]="template"
        [tuiManualHintShow]="hintShown"
      />
    </div>
  </td>

  <!-- Dst crypto-asset -->
  <td class="to">
    <div class="asset" [class.tui-skeleton]="initialLoading">
      <img
        class="asset__image"
        [src]="uiTrade?.toToken?.image || defaultTokenImage"
        [alt]="uiTrade?.toToken?.symbol"
        (error)="onTokenImageError($event)"
      />
      <div class="asset__data">
        <div class="asset__symbol">{{ uiTrade?.toToken?.symbol }}</div>
        <div class="asset__asset-type">
          {{ BLOCKCHAIN_LABEL?.[uiTrade?.toBlockchain] || uiTrade?.toBlockchain }}
        </div>
      </div>
    </div>
  </td>

  <!-- Status of dst transaction -->
  <td class="status-to">
    <div [class.tui-skeleton]="initialLoading">
      <ng-container *ngIf="!showAction; else action">
        <a
          *ngIf="!showToContinue; else toContinue"
          [href]="uiTrade?.dstTxLink"
          [class.hide-arrow]="!uiTrade?.dstTxLink"
          target="_blank"
        >
          <app-status-badge
            [type]="uiTrade?.statusTo | functionCall : getStatusBadgeType : this"
            [text]="getToStatusBadgeText(uiTrade?.statusTo) | translate"
            [cursor]="uiTrade?.dstTxLink ? 'pointer' : null"
          ></app-status-badge>
        </a>

        <ng-template #toContinue>
          <button class="status-to__continue" (click)="continueOnramperTrade()">Continue</button>
        </ng-template>
      </ng-container>
    </div>
  </td>
</ng-container>

<ng-template #mobile>
  <div class="tx" style="flex-direction: column; gap: 10px; align-items: baseline">
    <div style="width: 100%; text-align: left">
      {{
        (uiTrade?.timestamp | date : 'MMM dd, yyyy') + ' at ' + (uiTrade?.timestamp | date : 'h:mm')
      }}
    </div>
    <div class="mobile-recent">
      <div class="mobile-recent-wrapper">
        <div class="mobile-recent-container">
          <img
            class="tx__asset-image"
            [src]="uiTrade?.fromAsset?.image || defaultTokenImage"
            [alt]="uiTrade?.fromAsset?.symbol"
            (error)="onTokenImageError($event)"
          />
          <div class="asset__symbol">{{ uiTrade?.fromAsset?.symbol }}</div>
          <div class="asset__asset-type">{{ fromAssetTypeName }}</div>
        </div>

        <div style="display: flex; position: relative">
          <a
            *ngIf="!showToContinue; else toContinue"
            class="tx__status-from"
            [class.hide-arrow]="changenowId || !uiTrade?.srcTxLink"
            [href]="uiTrade?.srcTxLink"
            target="_blank"
            style="align-items: center"
          >
            <app-status-badge
              [type]="uiTrade?.statusFrom | functionCall : getStatusBadgeType : this"
              [text]="getFromStatusBadgeText(uiTrade?.statusFrom) | translate"
              [cursor]="uiTrade?.srcTxLink ? 'pointer' : null"
            >
            </app-status-badge>
          </a>
          <img
            *ngIf="changenowId"
            class="status-from-copy-icon-mobile"
            src="assets/images/icons/copy.svg"
            alt="Copy"
            (click)="copyToClipboard()"
            [tuiManualHint]="template"
            [tuiManualHintShow]="hintShown"
          />
        </div>
        <ng-template #toContinue>
          <button class="tx__to-continue" (click)="continueOnramperTrade()">Continue</button>
        </ng-template>
      </div>
      <div class="mobile-recent-wrapper">
        <div class="mobile-recent-container">
          <img
            class="tx__asset-image"
            [src]="uiTrade?.toToken?.image || defaultTokenImage"
            [alt]="uiTrade?.toToken?.symbol"
            (error)="onTokenImageError($event)"
          />
          <div class="asset__symbol">{{ uiTrade?.toToken?.symbol }}</div>
          <div class="asset__asset-type">
            {{ BLOCKCHAIN_LABEL?.[uiTrade?.toToken.blockchain] || uiTrade?.toToken.blockchain }}
          </div>
        </div>

        <a
          *ngIf="!showToContinue; else toContinue"
          class="tx__status-from"
          [href]="uiTrade?.dstTxLink"
          target="_blank"
          [class.hide-arrow]="!uiTrade?.dstTxLink"
          style="align-items: center"
        >
          <app-status-badge
            [type]="uiTrade?.statusTo | functionCall : getStatusBadgeType : this"
            [text]="getFromStatusBadgeText(uiTrade?.statusTo) | translate"
            [cursor]="uiTrade?.dstTxLink ? 'pointer' : null"
          >
          </app-status-badge>
        </a>
        <ng-template #toContinue>
          <button class="tx__to-continue" (click)="continueOnramperTrade()">Continue</button>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #action>
  <app-rubic-button
    *ngIf="showRevert"
    appearance="primary"
    class="revert"
    (onClick)="revertTrade()"
    size="s"
    [loading]="revertBtnLoading"
  >
    {{ 'common.revert' | translate }}
  </app-rubic-button>

  <app-rubic-button
    *ngIf="isArbitrumBridgeTrade"
    appearance="primary"
    class="revert"
    (onClick)="claimTokens()"
    size="s"
    [loading]="revertBtnLoading"
  >
    {{ 'Claim' }}
  </app-rubic-button>
</ng-template>

<ng-template #template>Transaction ID copied on clipboard!</ng-template>
