@use 'src/scss/core' as *;

.back-button {
  app-rubic-button {
    ::ng-deep button {
      border-radius: 15px;
    }
  }

  &__arrow {
    width: 16px;
    height: 15px;

    transform: rotate(90deg);

    ::ng-deep svg {
      width: 100%;
      height: 100%;

      path {
        fill: var(--tui-text-01);
      }
    }
  }

  ::ng-deep .t-wrapper[data-appearance='secondary'] {
    background: transparent !important;
  }
}
