@use 'src/scss/core' as *;

.modal {
  &__content {
    padding: 35px 20px 0;

    text-align: center;
  }

  &__footer {
    margin-top: 20px;
  }

  &__footer-text {
    margin-bottom: 18px;
  }

  &__footer-link {
    display: inline-block;
    margin-bottom: 18px;

    font-size: 17px;

    cursor: pointer;
  }

  /* stylelint-disable */
  @include iframe-horizontal {
    height: 100vh;
    display: flex;
    align-items: center;

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: $iframe-horizontal-height;
      padding-top: 0;
    }

    &__body {
      margin-right: 80px;
      height: 100%;
      display: flex;
      align-items: center;

      img {
        transform: scale(1.5);
      };
    }

    h3 {
      text-align: left;
      font-size: 18px;
      margin: 0 0 20px;
    }

    ::ng-deep app-rubic-button button {
      width: 150px;
      float: left;
    }
  }
}
