@use 'src/scss/core' as *;

:host {
  position: relative;

  ::ng-deep app-window-container {
    display: block;
    margin-bottom: 12px;

    @include b($mobile-md) {
      width: 100%;
    }
  }
}
