<div
  *ngIf="priceImpact !== null; else noImpact"
  class="price-impact"
  [ngClass]="{
    'price-impact_good': priceImpact < PRICE_IMPACT_RANGE.LOW,
    'price-impact_warning':
      priceImpact >= PRICE_IMPACT_RANGE.MEDIUM && priceImpact < PRICE_IMPACT_RANGE.HIGH,
    'price-impact_danger': priceImpact >= PRICE_IMPACT_RANGE.HIGH
  }"
>
  {{ priceImpact < PRICE_IMPACT_RANGE.LOW ? '<0.01' : priceImpact }}%
</div>

<ng-template #noImpact>
  <div class="price-impact price-impact_warning">
    Price impact is unknown
    <img
      class="price-impact__icon"
      src="assets/images/swaps/swaps-info/warning-icon.svg"
      alt="Warning"
    />
  </div>
</ng-template>
