@use 'src/scss/core' as *;

.price-impact {
  display: flex;
  align-items: center;

  &__icon {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }

  &_good {
    color: var(--primary-color);
  }

  &_warning {
    color: #f3ba2f;
  }

  &_danger {
    color: #e83e3f;
  }
}
