<section class="tokens-select">
  <header class="tokens-select__header" *noFrame>
    <h2>
      {{
        (listType === 'default'
          ? 'modals.tokensListModal.defaultTitle'
          : 'modals.tokensListModal.favoriteTokensTitle'
        ) | translate
      }}
    </h2>
  </header>

  <div class="tokens-select__row" *noFrame>
    <app-tokens-search-bar [(searchQuery)]="searchQuery"></app-tokens-search-bar>
    <app-icon-button
      [icon]="
        listType === 'default' ? 'assets/images/icons/star.svg' : 'assets/images/icons/back.svg'
      "
      [tuiHint]="listType === 'default' ? 'List of favorite tokens' : 'Back to whole tokens list'"
      [tuiHintShowDelay]="1100"
      [border]="true"
      (iconButtonClick)="switchMode()"
      buttonSize="s"
    >
    </app-icon-button>
  </div>

  <div class="tokens-select__content">
    <app-blockchains-aside
      [idPrefix]="idPrefix"
      [(blockchain)]="blockchain"
      [formType]="formType"
      (blockchainChange)="onBlockchainChange()"
    ></app-blockchains-aside>

    <ng-container *onlyFrame>
      <app-tokens-search-bar
        *ngIf="iframeTokenSearch && !isHorizontalIframe"
        class="vertical-iframe-token-search"
        [(searchQuery)]="searchQuery"
      ></app-tokens-search-bar>
    </ng-container>

    <tui-loader
      *ngIf="searchQueryLoading && !isHorizontalIframe"
      [showLoader]="true"
      size="xl"
    ></tui-loader>

    <div class="token-list-container" [class.token-list-container_loading]="searchQueryLoading">
      <ng-container *onlyFrame>
        <app-tokens-search-bar
          *ngIf="isHorizontalIframe && iframeTokenSearch"
          class="token-list-container__search"
          [(searchQuery)]="searchQuery"
          [expandableField]="true"
        ></app-tokens-search-bar>
      </ng-container>

      <div class="token-list-container__list">
        <ng-container *onlyFrame>
          <tui-loader
            *ngIf="searchQueryLoading && isHorizontalIframe"
            [showLoader]="true"
            size="l"
          ></tui-loader>
        </ng-container>

        <ng-container *ngIf="!searchQueryLoading">
          <app-tokens-list
            *ngIf="!customToken"
            [(listType)]="listType"
            [hasSearchQuery]="!!searchQuery"
            [tokens]="
              listType === 'default' ? (tokensToShow$ | async) : (favoriteTokensToShow$ | async)
            "
            [currentlySelectedToken]="
              currentlySelectedToken?.blockchain === blockchain ? currentlySelectedToken : null
            "
            [tokensNetworkState]="tokensNetworkState?.[blockchain]"
            [loading]="tokensListUpdating"
            (tokenSelect)="selectToken($event)"
            (pageUpdate)="fetchNewPageTokens()"
          ></app-tokens-list>

          <app-custom-token
            *ngIf="customToken"
            [token]="customToken"
            (tokenSelected)="selectToken($event)"
          ></app-custom-token>
        </ng-container>
      </div>
    </div>
  </div>
</section>
