<div class="token-sale-page">
  <section class="count-block">
    <div class="container">
      <span class="count-block-title">Token Sale for Rubic</span>
      <app-countdown
        [timeStart]="1600603200"
        [correctTimeStart]="1000"
        [timeEndDayPlus]="0"
      >
      </app-countdown>
      <span class="btn btn-green btn-min btn-normal-weight btn-auto">
        <img class="arrow" src="./assets/images/buttons/arrow_w.svg" />
        <span class="header-link">Participate in token sale</span>
      </span>
    </div>
  </section>

  <section class="first-block cl-green">
    <div class="container">
      <img src="assets/images/about/cube-img.svg" alt="cube" />
      <h3 class="h3-block-title-s1">
        Rubic p2p trades is a decentralized p2p platform. It helps users to make
        trades on their terms, share and generate revenue.
      </h3>
    </div>
  </section>

  <section class="rubic-platform-ts">
    <div class="container">
      <div class="rubic-platform-ts-title">
        Rubic platform will have an ERC-20 “RBC” token which will be used as the
        fuel inside the Platform.
      </div>
      <div class="rubic-platform-ts-text">
        Platform will charge the users for the following actions on the service:
      </div>
      <span class="rubic-platform-ts-boxes"></span>
      <div class="rubic-platform-ts-items">
        <div class="rubic-platform-ts-item">
          <span class="rubic-platform-ts-item-title">Trade creation</span>
        </div>
        <div class="rubic-platform-ts-item">
          <span class="rubic-platform-ts-item-title"
            >Brokers function usage</span
          >
        </div>
        <div class="rubic-platform-ts-item">
          <span class="rubic-platform-ts-item-title">Token listing </span>
        </div>
        <div class="rubic-platform-ts-item">
          <span class="rubic-platform-ts-item-title"
            >Crowdsale contract usage</span
          >
        </div>
        <div class="rubic-platform-ts-item">
          <span class="rubic-platform-ts-item-title">Others services</span>
        </div>
      </div>
    </div>
  </section>

  <section class="fees-text-block">
    <div class="container">
      <div class="fees-text-block-one">
        <p>
          Fees can be in RBC, Ethers, TRX or BNB depending on blockchain. The
          fees will be immediately exchanged to RBC token by using Uniswap (or
          other DEXes).
        </p>
      </div>
      <div class="fees-text-block-two">
        <p>
          30% of exchange tokens will be used later as bonus for stakers
          (Staking to be implemented in Dec’2020). Other 70% will be used for
          operational needs. <br /><br />
          Accounting with Relayers, external services, marketing services will
          be made in RBC token.
        </p>
      </div>
    </div>
  </section>

  <section class="stats-block">
    <div class="container">
      <img src="assets/images/token-sale/stats.svg" alt="stats" />
      <div class="stats-block-items">
        <div class="stats-block-items-one">
          <div class="stats-block-item">
            <span class="stats-block-item-percent">10%</span>
            <p class="stats-block-item-text">
              of tokens will be reserved for the team. All tokens will be
              locked, and every 3 months will be unlocked by 2% (over a year)
            </p>
          </div>
          <div class="stats-block-item">
            <span class="stats-block-item-percent">8%</span>
            <p class="stats-block-item-text">
              of tokens will be distributed to MyWish holders and will be
              unlocked every 3 months by 2% (over a year).
            </p>
          </div>
        </div>
        <div class="stats-block-items-two">
          <div class="stats-block-item">
            <span class="stats-block-item-percent">8%</span>
            <p class="stats-block-item-text">
              of tokens will be directed at conducting marketing and bounty
              campaigns. 4% of tokens will be frozen for 4 months.
            </p>
          </div>
          <div class="stats-block-item">
            <span class="stats-block-item-percent">66%</span>
            <p class="stats-block-item-text">
              of tokens will be put up for sale.
            </p>
          </div>
          <div class="stats-block-item">
            <span class="stats-block-item-percent">8%</span>
            <p class="stats-block-item-text">
              of tokens will be allocated for Uniswap Liquidity.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wide-text-block">
    <div class="container">
      <p>
        For the citizens and residents of United States, New Zealand, Iceland,
        Thailand, Afghanistan, Burundi, Balkan, Burma (Myanmar), Cote d’Ivoire,
        Cuba, Democratic Republic of Congo, Democratic Peoples’ Republic of
        Korea, Iran, Iraq, Liberia, Lebanon, Libya, Rwanda, Sierra Leone,
        Somalia, Sudan, Syria, Tanzania, Uganda, Zaire, Zimbawe and countries or
        territories or individuals under the sanctions of the United Nations or
        the European Union or countries where the use of virtual currencies is
        prohibited by applicable law, decree, regulation, treaty, or
        administrative act.
      </p>
    </div>
  </section>
</div>

<app-footer></app-footer>

<div class="scroll-top-btn" id="scroll-btn"></div>
