<section class="tokens-select">
  <header class="tokens-select__header" *noFrame>
    <h2>Fiats List</h2>
  </header>

  <div class="tokens-select__row" *noFrame>
    <app-fiats-search-bar [(searchQuery)]="searchQuery"></app-fiats-search-bar>
  </div>

  <div class="tokens-select__content">
    <div class="token-list-container">
      <div class="token-list-container__list">
        <app-fiats-list [fiats]="fiatsToShow" (fiatSelect)="selectFiat($event)"></app-fiats-list>
      </div>
    </div>
  </div>
</section>
