<div class="selector" (click)="handleSelection()">
  <ng-container *ngIf="visibleAsset; else emptySelector">
    <div [style.background]="visibleAsset.secondColor" class="selector__second-image-container">
      <img
        class="selector__second-image"
        [src]="visibleAsset.secondImage"
        width="35"
        height="35"
        [alt]="visibleAsset.secondLabel"
        [style.background]="visibleAsset.secondColor"
      />
    </div>
    <img
      class="selector__main-image"
      [src]="visibleAsset.mainImage || DEFAULT_TOKEN_IMAGE"
      width="50"
      height="50"
      [alt]="visibleAsset.mainLabel"
      (error)="onTokenImageError($event)"
    />

    <div class="selector__labels">
      <span class="selector__second-label">{{ visibleAsset.secondLabel }}</span>
      <span class="selector__main-label"
        >{{ visibleAsset.mainLabel }}
        <img src="assets/images/icons/arrow/arrow-down-white.svg" alt="Select token" />
      </span>
    </div>
  </ng-container>

  <ng-template #emptySelector>
    <div class="selector__empty">
      <div class="selector__empty-container">
        {{ emptySelectorText }}
        <img
          *ngIf="isDisabled"
          src="assets/images/icons/arrow/arrow-down-grey.svg"
          alt="Select token"
        />
        <img
          *ngIf="!isDisabled"
          src="assets/images/icons/arrow/arrow-down-white.svg"
          alt="Select token"
        />
      </div>
    </div>
  </ng-template>
</div>
