<ng-template #modal>
  <div class="advert">
    <button (click)="close()" class="advert__close">
      <img class="advert__close-icon" src="assets/images/icons/cross-w.svg" alt="" />
    </button>
    <div class="advert__content">
      <header class="advert__header">
        <div
          class="advert__rubic-logo"
          [inlineSVG]="'assets/images/rubic-logo.svg?_=2'"
          removeSVGAttributes="fill"
        ></div>
      </header>
      <main class="advert__body">
        <h4 class="advert__description">{{ 'modals.adModal.text' | translate }}</h4>
        <img src="assets/images/bridge/ad-modal.svg" alt="" class="advert__image" />
      </main>
      <footer class="advert__footer">
        <button (click)="addToken()" class="advert__button">
          {{ 'modals.adModal.button' | translate }}
        </button>
      </footer>
    </div>
  </div>
</ng-template>
