@use 'src/scss/core' as *;

:host {
  display: flex;
  justify-content: center;
}

.points {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 30px 23px;

  font-weight: 700;
  font-size: 16px;

  background: var(--form-background);
  border: 1px solid var(--transparent-line);
  border-radius: $border-radius-2;

  @include b(900) {
    width: 100%;
    padding: 15px;
  }

  &__cover {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    height: 100%;
    overflow-x: hidden;

    font-weight: 400;
    font-size: 20px;
    text-align: center;

    border-radius: 20px;

    transform: translateX(-50%);

    img {
      height: 100%;
    }
  }

  &__container {
    display: flex;
    margin-bottom: 50px;

    @include b($mobile-sm-middle) {
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 30px;
    }

    &_disabled {
      @include b(900) {
        filter: grayscale(1) opacity(0.5);
      }

      .points__confirmed {
        filter: grayscale(1);

        @include dark {
          background-image: url('/assets/images/swap-and-earn/confirmed_disabled.svg');
          filter: none;
        }

        @include b(900) {
          background: var(--primary-color);
          background-image: none !important;
        }

        img {
          filter: grayscale(1) opacity(0.5);
        }
      }

      .points__pending {
        background-image: url('/assets/images/swap-and-earn/pending_disabled.svg');

        @include b(900) {
          background: none;
        }
      }
    }

    > * {
      @include b(900) {
        height: 50px;
      }
    }
  }

  &__pending {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 325px;
    height: 71px;

    background-image: url('/assets/images/swap-and-earn/pending.svg');
    background-size: cover;

    @include b(900) {
      width: 100%;
      height: auto;

      background: none;
      border: 1px solid var(--primary-color);
      border-radius: $border-radius-1;
    }
  }

  &__confirmed {
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 410px;
    height: 71px;
    margin-left: -15px;

    background-image: url('/assets/images/swap-and-earn/confirmed.svg');

    @include b(900) {
      width: 100%;
      height: auto;
      margin-left: 10px;

      background: var(--primary-color);
      border-radius: $border-radius-1;
    }

    @include b($mobile-sm-middle) {
      width: calc(100% - 70px);
      margin-left: 0;
    }

    img {
      margin-right: 10px;

      @include b(900) {
        height: 30px;
      }
    }
  }

  &__about {
    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    margin-left: -30px;
    padding-left: 20px;

    background: var(--swap-and-earn-points-about);
    border-radius: 0 $border-radius-2 $border-radius-2 0;

    @include b(900) {
      width: 110px;
      height: auto;
      margin-left: 10px;
      padding-left: 0;

      border-radius: $border-radius-1;
    }

    @include b($mobile-sm-middle) {
      width: 50px;
      margin-left: 0;
    }

    img {
      width: 32px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;

    font-weight: 700;
    font-size: $rubic-font-size-01;

    border: 1px solid var(--primary-color);
    border-radius: $border-radius-2;

    transition: all 0.1s ease-out;

    @include b(900) {
      height: 50px;

      border-radius: $border-radius-1;
    }

    &_disabled {
      cursor: not-allowed;
      filter: grayscale(1) opacity(0.5);

      &:hover {
        transform: none !important;
      }

      &:active {
        transform: none !important;
      }
    }

    &:hover {
      transform: scale(1.02);

      transition: all 0.1s ease-out;
    }

    &:active {
      transform: scale(1);

      transition: all 0.1s ease-out;
    }
  }
}
