<ng-container *ngLet="currentUser$ | async as currentUser">
  <div
    *ngLet="points.pending === 0 && points.confirmed === 0 as showButtons"
    class="points"
    [ngClass]="{
      points_disabled: showButtons && currentUser && points.requested_to_withdraw === 0
    }"
  >
    <div *ngIf="currentUser && !points.participant" class="points__cover">
      <img src="/assets/images/swap-and-earn/sad-mouse.svg" alt="You are not participant" />
    </div>
    <div [ngClass]="{ points__container_disabled: showButtons }" class="points__container">
      <div class="points__pending">{{ points.pending }} in Pending</div>
      <div class="points__confirmed">
        <img src="/assets/images/rbc-white.png" alt="Confirmed RBC" />{{ points.confirmed }} RBC
      </div>
      <div class="points__about">
        <img
          src="assets/images/icons/exclamation-grey.svg"
          alt="Hint"
          [tuiHint]="about"
          tuiHintAppearance="onDark"
        />
      </div>
    </div>
    <ng-container *ngIf="isLoggedIn$ | async; else loginButton">
      <div
        *ngLet="points.confirmed >= 300 as allowWithdraw"
        [tuiHint]="getButtonHint()"
        tuiHintAppearance="onDark"
      >
        <button
          [disabled]="!allowWithdraw"
          [ngClass]="{ points__button_disabled: showButtons || !allowWithdraw }"
          (click)="handleButtonClick(points.confirmed)"
          class="points__button"
        >
          {{ getButtonText() }}
        </button>
      </div>
    </ng-container>
    <ng-template #loginButton>
      <app-login-button></app-login-button>
    </ng-template>
    <ng-template #about>
      <span>Pending: {{ points.pending }}</span
      ><br />
      <span>Confirmed: {{ points.confirmed }}</span
      ><br />
      <span
        >Requested to withdraw:
        {{ points.requested_to_withdraw > 0 ? points.requested_to_withdraw : 0 }}</span
      >
    </ng-template>
  </div>
</ng-container>
