<app-rubic-button
  [disabled]="error !== errors.NULL"
  appearance="secondary"
  (onClick)="onStake.emit()"
  [loading]="stakeLoading"
>
  <ng-container [ngSwitch]="error">
    <ng-container *ngSwitchCase="errors.INSUFFICIENT_BALANCE_RBC">
      Insufficient RBC balance
    </ng-container>
    <ng-container *ngSwitchCase="errors.EMPTY_AMOUNT">Empty amount</ng-container>
    <ng-container *ngSwitchCase="errors.LESS_THEN_MINIMUM">Minimum amount is 10 RBC</ng-container>
    <ng-container *ngSwitchCase="errors.NULL">
      {{ 'lp.initiateDeposit' | translate }}
    </ng-container>
  </ng-container>
</app-rubic-button>
