<app-rubic-button
  [disabled]="
    (amountError !== errors.NULL && amountError !== errors.NEED_APPROVE) || lockTimeExceededError
  "
  [appearance]="errors.NULL || errors.NEED_APPROVE ? 'primary' : 'secondary'"
  (onClick)="handleClick()"
  [loading]="stakeLoading || approveLoading"
>
  <ng-container *ngIf="lockTimeExceededError; else amountValidation">
    Entry is closed
  </ng-container>
  <ng-template #amountValidation>
    <ng-container [ngSwitch]="amountError">
      <ng-container *ngSwitchCase="errors.STAKING_CLOSED"> Staking stopped </ng-container>
      <ng-container *ngSwitchCase="errors.NEED_APPROVE"> Approve </ng-container>
      <ng-container *ngSwitchCase="errors.INSUFFICIENT_BALANCE_RBC">
        Insufficient balance
      </ng-container>
      <ng-container *ngSwitchCase="errors.EMPTY_AMOUNT">Enter an Amount</ng-container>
      <ng-container *ngSwitchCase="errors.LESS_THEN_MINIMUM">
        Minimum amount is {{ minStakeAmount }} BRBC
      </ng-container>
      <ng-container *ngSwitchCase="errors.NULL"> Stake </ng-container>
    </ng-container>
  </ng-template>
</app-rubic-button>
