<app-rubic-button
  [disabled]="
    (amountError !== errors.NULL && amountError !== errors.NEED_APPROVE) || lockTimeExceededError
  "
  [appearance]="errors.NULL || errors.NEED_APPROVE ? 'primary' : 'secondary'"
  (onClick)="handleClick()"
  [loading]="stakeLoading || approveLoading"
>
  <ng-container *ngIf="lockTimeExceededError; else amountValidation">
    {{ 'staking.stakeForm.button.entryIsClosed' | translate }}
  </ng-container>
  <ng-template #amountValidation>
    <ng-container [ngSwitch]="amountError">
      <ng-container *ngSwitchCase="errors.STAKING_CLOSED">
        {{ 'staking.stakeForm.button.stakingStopped' | translate }}
      </ng-container>
      <ng-container *ngSwitchCase="errors.NEED_APPROVE"
        >{{ 'staking.stakeForm.button.approve' | translate }}
      </ng-container>
      <ng-container *ngSwitchCase="errors.INSUFFICIENT_BALANCE_RBC">
        {{ 'staking.stakeForm.button.insufficientBalance' | translate }}
      </ng-container>
      <ng-container *ngSwitchCase="errors.EMPTY_AMOUNT"
        >{{ 'staking.stakeForm.button.enterAnAmount' | translate }}
      </ng-container>
      <ng-container *ngSwitchCase="errors.LESS_THEN_MINIMUM">
        {{ 'staking.stakeForm.button.minAmount' | translate }} {{ minStakeAmount }} RBC
      </ng-container>
      <ng-container *ngSwitchCase="errors.NULL"
        >{{ 'staking.stakeForm.button.stake' | translate }}
      </ng-container>
    </ng-container>
  </ng-template>
</app-rubic-button>
