<ng-template #connectWalletButton>
  <app-connect-wallet-button></app-connect-wallet-button>
</ng-template>

<ng-container *ngIf="user$ | async; else connectWalletButton">
  <ng-template #updateRateButton>
    <app-update-rate-button (onClick)="onUpdateRateClick.emit()"></app-update-rate-button>
  </ng-template>

  <ng-container *ngIf="(isUpdateRateStatus$ | async) === false; else updateRateButton">
    <ng-container *ngLet="error$ | async as error">
      <ng-container *ngIf="!error.text || error.loading">
        <!-- with approve button -->
        <ng-container *ngIf="needApprove">
          <ng-container *noFrame>
            <div class="buttons">
              <app-rubic-button
                [id]="idPrefix + 'approve'"
                appearance="secondary"
                [loading]="
                  status === TRADE_STATUS.APPROVE_IN_PROGRESS ||
                  status === TRADE_STATUS.LOADING ||
                  error.loading
                "
                [disabled]="status !== TRADE_STATUS.READY_TO_APPROVE"
                (onClick)="approveClick.emit()"
              >
                Approve
              </app-rubic-button>

              <app-swap-button (onClick)="swapClick.emit()"></app-swap-button>

              <div class="buttons__timeline-container timeline">
                <span class="timeline__connector"></span>
                <div
                  class="timeline__point"
                  [attr.disabled]="
                    status === TRADE_STATUS.READY_TO_SWAP ||
                    status === TRADE_STATUS.SWAP_IN_PROGRESS ||
                    status === TRADE_STATUS.DISABLED
                  "
                >
                  1
                </div>
                <div
                  class="timeline__point"
                  [attr.disabled]="
                    status === TRADE_STATUS.READY_TO_APPROVE ||
                    status === TRADE_STATUS.APPROVE_IN_PROGRESS ||
                    status === TRADE_STATUS.DISABLED
                  "
                >
                  2
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *onlyFrame>
            <app-rubic-button
              [id]="idPrefix + 'approve'"
              appearance="secondary"
              [loading]="
                status === TRADE_STATUS.APPROVE_IN_PROGRESS ||
                status === TRADE_STATUS.LOADING ||
                error.loading
              "
              [disabled]="status !== TRADE_STATUS.READY_TO_APPROVE"
              (onClick)="approveClick.emit()"
            >
              {{ 'Approve' }}
            </app-rubic-button>
          </ng-container>
        </ng-container>

        <app-swap-button *ngIf="!needApprove" (onClick)="swapClick.emit()"></app-swap-button>
      </ng-container>

      <ng-container *ngLet="isMobile$ | async as isMobile">
        <ng-container *ngIf="error.text && !error.loading">
          <ng-container *ngLet="error.type | functionCall: allowChangeNetwork:this as allowChange">
            <!-- switch network button -->
            <ng-container *ngIf="allowChange && !isMobile">
              <app-rubic-button
                [attr.error]="true"
                appearance="secondary"
                [loading]="status === TRADE_STATUS.LOADING"
                (click)="changeNetwork()"
              >
                {{ 'common.switchTo' | translate: fromBlockchain }}
              </app-rubic-button>
            </ng-container>

            <!-- error info -->
            <ng-container *ngIf="!allowChange || isMobile">
              <app-rubic-button
                class="error-button"
                [attr.error]="true"
                [attr.error-min-max]="error.type | functionCall: isMinMaxError"
                appearance="secondary"
                [disabled]="true"
              >
                {{ error.text }}
              </app-rubic-button>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
