<div class="tokens-table">
  <div class="tokens-table__title-section">
    <h2 class="tokens-table__title">{{ title }}</h2>
    <button
      class="tokens-table__refresh-button refresh-btn"
      [ngClass]="{ 'tokens-table__refresh-button_animated': tableLoading }"
      (click)="refreshTable()"
    >
      <img
        class="arrow"
        src="./assets/images/icons/refresh.svg"
        width="17"
        height="19"
        alt="arrow"
      />
    </button>
  </div>
  <!-- Desktop presentation -->
  <table
    *ngIf="($isMobile | async) === false && hasData"
    mat-table
    matSort
    [dataSource]="sortedTableData"
    (matSortChange)="sortData($event)"
    class="table order-books"
  >
    <colgroup>
      <ng-container>
        <col *ngFor="let size of columnsSizes" [style.width]="size" />
      </ng-container>
    </colgroup>
    <!-- Status column  -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef class="centered-child" mat-sort-header>
        <div class="tokens-table__cell">
          {{ 'tradesTable.columns.status' | translate }}
        </div>
      </th>
      <td *matCellDef="let element">
        <a
          safetyLink
          [link]="
            getLink({
              hash: element.hash,
              chain: element.blockchain
            })
          "
        >
          <div class="tokens-table__cell tokens-table__cell_status">
            <span
              class="tokens-table__status"
              *ngIf="element.status"
              [ngClass]="getClassName(element.status)"
            ></span>
            {{ element.status }}
          </div>
        </a>
      </td>
    </ng-container>
    <!-- Tokens icons column  -->
    <ng-container matColumnDef="Tokens">
      <th mat-header-cell *matHeaderCellDef #tokensHeader matAutocompleteOrigin>
        <app-coins-filter (selectTokenEvent)="selectToken($event)"></app-coins-filter>
      </th>
      <td *matCellDef="let element">
        <a routerLink="/public-v3/{{ element.uniqueLink }}">
          <app-tokens-cell [token]="element.token"></app-tokens-cell>
        </a>
      </td>
    </ng-container>
    <!-- Tokens amount column  -->
    <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef class="centered-child">
        <div class="tokens-table__cell">
          {{ 'tradesTable.columns.volume' | translate }}
        </div>
      </th>
      <td *matCellDef="let element" class="centered-child clickable">
        <a routerLink="/public-v3/{{ element.uniqueLink }}">
          <app-volume-cell [token]="element.token"></app-volume-cell>
        </a>
      </td>
    </ng-container>
    <!-- Network column  -->
    <ng-container matColumnDef="Network">
      <th mat-header-cell *matHeaderCellDef class="centered-child" mat-sort-header>
        <div class="tokens-table__cell">
          {{ 'tradesTable.columns.network' | translate }}
        </div>
      </th>
      <td *matCellDef="let element" class="centered-child">
        <a
          safetyLink
          [link]="
            getLink({
              hash: element.hash,
              chain: element.blockchain
            })
          "
        >
          <div>
            <img
              class="table__image"
              [src]="getChainIcon(element.blockchain)"
              alt="{{ element.blockchain }}"
              width="25"
              height="25"
            />
          </div>
        </a>
      </td>
    </ng-container>
    <!-- From  -->
    <ng-container matColumnDef="From">
      <th mat-header-cell *matHeaderCellDef class="centered-child" mat-sort-header>
        <div class="tokens-table__cell">
          {{ 'From' | translate }}
        </div>
      </th>
      <td *matCellDef="let element">
        <a
          safetyLink
          [link]="
            getLink({
              hash: element.hash,
              chain: element.blockchain
            })
          "
        >
          <div class="tokens-table__cell tokens-table__cell_token token-cell">
            <div class="token-cell__info">
              <img
                [src]="element.token.from.image || '/assets/images/icons/coins/empty.svg'"
                [alt]="element.token.from.symbol"
                width="25"
                height="25"
              />
              {{ element.token.from.symbol }}
            </div>
            <div class="token-cell__amount">
              {{
                element.fromAmount.toString(10) | withRound: 5:6:element.token.from:'toClosestValue'
              }}
            </div>
          </div>
        </a>
      </td>
    </ng-container>
    <!-- To  -->
    <ng-container matColumnDef="To">
      <th mat-header-cell *matHeaderCellDef class="centered-child" mat-sort-header>
        <div class="tokens-table__cell">
          {{ 'To' | translate }}
        </div>
      </th>
      <td *matCellDef="let element">
        <a
          safetyLink
          [link]="
            getLink({
              hash: element.hash,
              chain: element.blockchain
            })
          "
        >
          <div class="tokens-table__cell tokens-table__cell_token token-cell">
            <div class="token-cell__info">
              <img
                [src]="element.token.to.image || '/assets/images/icons/coins/empty.svg'"
                [alt]="element.token.to.symbol"
                width="25"
                height="25"
              />
              {{ element.token.to.symbol }}
            </div>
            <div class="token-cell__amount">
              {{ element.toAmount.toString(10) | withRound: 5:6:element.token.to:'toClosestValue' }}
            </div>
          </div>
        </a>
      </td>
    </ng-container>
    <!-- Provider -->
    <ng-container matColumnDef="Provider">
      <th mat-header-cell *matHeaderCellDef class="centered-child">
        <div class="tokens-table__cell">
          {{ 'Provider' | translate }}
        </div>
      </th>
      <td *matCellDef="let element">
        <a
          safetyLink
          [link]="
            getLink({
              hash: element.hash,
              chain: element.blockchain
            })
          "
        >
          <div class="tokens-table__cell provider-cell">
            <img
              class="table__image"
              src="assets/images/icons/providers/{{ element.provider }}.svg"
              alt="{{ element.provider }}"
              width="25"
              height="25"
            />
            {{ element.provider }}
          </div>
        </a>
      </td>
    </ng-container>
    <!-- Expires in column  -->
    <ng-container matColumnDef="Expires in">
      <th mat-header-cell *matHeaderCellDef class="centered-child" mat-sort-header>
        <div class="tokens-table__cell">
          {{ 'tradesTable.columns.expiresIn' | translate }}
        </div>
      </th>
      <td *matCellDef="let element" class="centered-child">
        <a
          safetyLink
          [link]="
            getLink({
              hash: element.hash,
              chain: element.blockchain
            })
          "
        >
          <div
            class="tokens-table__cell tokens-table__cell_datetime"
            [matTooltip]="getFullExpirationTime(element.expiresIn)"
          >
            {{ getExpirationTime(element.expirationDate, element.expiresIn) }}
          </div>
        </a>
      </td>
    </ng-container>
    <!-- Date  -->
    <ng-container matColumnDef="Last update">
      <th mat-header-cell *matHeaderCellDef class="centered-child" mat-sort-header>
        <div class="tokens-table__cell">
          {{ 'Last update' | translate }}
        </div>
      </th>
      <td *matCellDef="let element" class="centered-child">
        <a
          safetyLink
          [link]="
            getLink({
              hash: element.hash,
              chain: element.blockchain
            })
          "
        >
          <div class="tokens-table__cell tokens-table__cell_datetime">
            <div>{{ element.date | date: 'dd-MM-yyyy' }}</div>
            <div>{{ element.date | date: 'HH:mm:ss' }}</div>
          </div>
        </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <!-- Mobile presentation -->
  <div *ngIf="($isMobile | async) && hasData" class="tokens-table-mobile">
    <app-tokens-mobile-header
      (selectEvent)="selectColumnName($event)"
      (sortEvent)="sortData($event)"
      [sortingValue]="tableSorting"
      [sortingColumns]="displayedColumns"
      [selectedValue]="selectedColumn"
      [selectionOptions]="displayedMobileItems"
      [sortableColumns]="mobileSortItems"
    ></app-tokens-mobile-header>
    <div class="tokens-table__mobile-tokens-dropdown">
      <app-coins-filter (selectTokenEvent)="selectToken($event)"></app-coins-filter>
    </div>
    <div class="tokens-table-mobile__items mobile-items" #mobileTable>
      <ng-container *ngFor="let trade of sortedTableData">
        <app-tokens-accordion
          class="mobile-items__item"
          [data]="trade"
          [chainIconPath]="getChainIcon(trade.blockchain)"
          [selectedOption]="selectedColumn"
          [tableType]="tableType"
        ></app-tokens-accordion>
      </ng-container>
    </div>
  </div>
  <div class="tokens-table__text tokens-table__text_without-data" *ngIf="hasData === false">
    {{ 'tradesTable.noTrades' | translate }}
  </div>
  <div class="tokens-table__text" *ngIf="hasData && sortedTableData.length === 0">
    {{ 'tradesTable.noTradesWithSelected' | translate }}
  </div>
</div>
