<div class="tokens-table">
  <div class="tokens-table__title-section">
    <h2 class="tokens-table__title">{{ title }}</h2>
    <button
      class="tokens-table__refresh-button refresh-btn"
      [ngClass]="{ 'tokens-table__refresh-button_animated': tableLoading  }"
      (click)="refresnOrderBooks()">
      <img class="arrow" src="./assets/images/icons/refresh.svg" />
    </button>
  </div>
  <table
    mat-table
    matSort
    [dataSource]="tableData"
    class="table order-books"
    *ngIf="!tableLoading && tableData.length !== 0"
  >
    <colgroup>
      <ng-container>
        <col *ngFor="let size of columnsSizes " [style.width]="size" />
      </ng-container>
    </colgroup>
    <!-- Status column  -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="centered-child">
        <div class="tokens-table__cell">
          {{ 'Status' | translate }}
        </div>
      </th>
      <td *matCellDef="let element" class="centered-child">
        <a routerLink="/public-v3/{{ element.uniqueLink }}">
          <div class="tokens-table__cell">
            {{ element.status }}
          </div>
        </a>
      </td>
    </ng-container>
    <!-- Tokens icons column  -->
    <ng-container matColumnDef="token">
      <th mat-header-cell *matHeaderCellDef #tokensHeader matAutocompleteOrigin>
        <!-- Uncomment after filtering release -->
        <!-- <app-coins-filter></app-coins-filter> -->
      </th>
      <td *matCellDef="let element">
        <a routerLink="/public-v3/{{ element.uniqueLink }}">
          <app-tokens-cell [token]="element.token"></app-tokens-cell>
        </a>
      </td>
    </ng-container>
    <!-- Tokens amount column  -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef class="centered-child">
        <div class="tokens-table__cell">
          {{ 'Volume' | translate }}
        </div>
      </th>
      <td *matCellDef="let element" class="centered-child clickable">
        <a routerLink="/public-v3/{{ element.uniqueLink }}">
          <app-volume-cell [token]="element.token"></app-volume-cell>
        </a>
      </td>
    </ng-container>
    <!-- Network column  -->
    <ng-container matColumnDef="network">
      <th mat-header-cell *matHeaderCellDef class="centered-child">
        <div class="tokens-table__cell">
          {{ 'Network' | translate }}
        </div>
      </th>
      <td *matCellDef="let element" class="centered-child">
        <a routerLink="/public-v3/{{ element.uniqueLink }}">
          <div class="tokens-table__cell">
            <img
              class="table__image"
              [src]="getChainIcon(element.blockchain)"
              alt="{{ element.blockchain }}"
            />
          </div>
        </a>
      </td>
    </ng-container>
    <!-- Expires in column  -->
    <ng-container matColumnDef="expires">
      <th mat-header-cell *matHeaderCellDef class="centered-child">
        <div class="tokens-table__cell">
          {{ 'Expires in' | translate }}
        </div>
      </th>
      <td *matCellDef="let element" class="centered-child">
        <a routerLink="/public-v3/{{ element.uniqueLink }}">
          <div class="tokens-table__cell">
            {{ element.expirationDate | date: 'd' }}d: {{ element.expirationDate | date: 'h' }}h:
            {{ element.expirationDate | date: 'm' }}m
          </div>
        </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns "
    ></tr>
  </table>
  <p *ngIf="tableData.length === 0">{{ 'No data' | translate }}</p>
</div>
