@import '../../../../scss/elements/table';
@import 'src/scss/vars';
@import 'src/scss/mixins';

$primary-color: #4aa956;

.tokens-table {
  margin-bottom: 20px;

  &__mobile-tokens-dropdown {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 56px;

    margin-bottom: 20px;
    padding: 0 10px;

    background: white;
    border-radius: 5px;
  }

  &__text {
    display: flex;

    margin-top: 20px;

    color: rgba(0, 0, 0, 0.34);
    font-weight: normal;
    font-size: 24px;
    text-align: center;

    &_without-data {
      margin-top: 0;
    }
  }

  &__title-section {
    display: flex;
    align-items: center;
  }

  &__refresh-button {
    margin-left: 20px;

    background: transparent;
    border: none;
    cursor: pointer;

    &_animated img {
      animation: spin 0.5s linear infinite;
    }
  }

  &__cell {
    &_datetime {
      flex-direction: column;
      white-space: nowrap;
      align-items: start;
    }
  }

  &__status {
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px;

    border-radius: 50%;

    &_completed,
    &_active {
      background-color: $active-green;
      box-shadow: 0 0 6px #65f7b0;
    }

    &_pending,
    &_expired {
      background-color: $expired-yellow;
      box-shadow: 0 0 6px #f4bb2b;
    }

    &_rejected,
    &_cancelled {
      background-color: $cancelled-red;
      box-shadow: 0 0 6px #ee4256;
    }

    &_done {
      background: $done-grey;
    }
  }
}

.token-cell {
  &__amount {
    font-weight: bold;
  }

  &__info {
    margin-right: 10px;

    img {
      margin-right: 10px;
    }
  }
}

.provider-cell {
  text-transform: capitalize;
  justify-content: flex-start!important;

  img {
    margin-right: 7px;
  }
}

.link-disable {
  pointer-events: none;
  cursor: default;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::ng-deep {
  .tokens-table__mobile-tokens-dropdown {
    app-coins-filter {
      width: 100%;
    }

    .coins-filter-form {
      justify-content: space-between;
    }
  }

  .tokens-table .table tr td .tokens-table__cell.tokens-table__cell_status {
    justify-content: flex-start;
    padding-left: 10px;
    text-transform: capitalize;
  }

  .tokens-table .table tr td .tokens-table__cell.tokens-table__cell_token {
    flex-direction: column;
    align-items: flex-start;

    &.token-cell {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .mat-option:hover:not(.mat-option-disabled) {
    background: inherit;

    > .mat-option-text {
      color: $primary-color;
    }
  }

  .mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled),
  .mat-option.mat-active {
    background: inherit;

    > .mat-option-text {
      color: $primary-color;
      font-weight: 600;
    }
  }

  .mat-sort-header-container {
    justify-content: center;
  }

  .mat-header-row {
    cursor: pointer;
  }

  .mat-sort-header-content {
    margin-left: 18px;
  }
}

app-sorting-dropdown {
  display: block;
  margin-bottom: 20px;
}

.tokens-table-mobile {
  &__header {
    display: flex;
    justify-content: space-between;

    @include b(660) {
      flex-direction: column;
    }
  }
}

.mobile-items {
  &__item:not(:first-child) {
    display: block;

    margin-top: 15px;
  }
}

@include b($mobile-md) {
  .tokens-table {
    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 18px;
      text-align: left;
    }
  }
}
