<ng-container *ngLet="{ step: step$ | async } as state">
  <tui-accordion class="step">
    <tui-accordion-item
      [class.tui-accordion-item__disabled]="state.step.locked"
      [disabled]="state.step.locked"
      [showArrow]="!state.step.locked"
      [size]="'s'"
      [(open)]="state.step.opened"
    >
      <span class="step__counter">2</span>
      <span class="step__title">DESTINATION & REFUND</span>
      @if (state.step.locked) {
        <app-step-locked-label></app-step-locked-label>
      }
      <ng-template tuiAccordionItemContent>
        <div class="step__content">I'm DESTINATION & REFUND content</div>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</ng-container>
