<tui-accordion class="step">
  <tui-accordion-item
    [class.tui-accordion-item__disabled]="locked"
    [disabled]="locked"
    [showArrow]="!locked"
    [size]="'s'"
  >
    <span class="step__counter">2</span>
    <span class="step__title">DESTINATION & REFUND</span>
    @if (locked) {
      <app-step-locked-label></app-step-locked-label>
    }
    <ng-template tuiAccordionItemContent>
      <div class="step__content">I'm DESTINATION & REFUND content</div>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
