<div class="base-block-content">
  <div class="app-content-block">
    <div class="grid-row">
      <div class="grid-cell grid-cell-2-3 grid-cell-sm-1">
        <div class="preview-container">
          <div class="contract-state" [ngClass]="'contract-state__' + states[originalContract.state].NUMBER">
            {{states[originalContract.state].TEXT}}
          </div>
          <div class="contract-title">{{ originalContract.name }}</div>



          <span class="form-field_description rate-info">
            Rate:
            <span *ngIf="!revertedRate">
              {{ rates.normal.dp(4).toFormat(rateFormat) }}
              {{tokens.base.token.token_short_name}} / 1 {{tokens.quote.token.token_short_name}}
            </span>
            <span *ngIf="revertedRate">
              {{ rates.reverted.dp(4).toFormat(rateFormat) }}
              {{tokens.quote.token.token_short_name}} / 1 {{tokens.base.token.token_short_name}}
            </span>

            <button class="revert-btn" (click)="revertedRate = !revertedRate">
              <img src="./assets/images/icons/revert.svg">
            </button>
          </span>

          <div class="grid-row all-tokens-info-row">
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-1 one-token-info-cell"
                 [ngClass]="{'active-side-info': activeSide === 'base'}">

              <div class="tokens-info-block">
                <div class="tokens-info-block_filled">
                  <div class="tokens-info-block_filled__count">
                    {{tokens.base.amount | bigNumberFormat : tokens.base.token.decimals : true}}
                  </div>

                  <div *ngIf="originalContract.state === 'ACTIVE'">
                    <div class="tokens-info-block_filled_item send">
                      <div class="tokens-info-block_filled__text">
                        <b>Sent</b>
                      </div>
                      <div class="tokens-info-block_filled__complete"
                           [title]="contractInfo.baseRaised | bigNumberFormat : tokens.base.token.decimals : true">
                        <b>{{ contractInfo.baseRaised | bigNumberFormat : tokens.base.token.decimals : true }}</b>
                      </div>
                    </div>
                    <div class="tokens-info-block_filled_item left">
                      <div class="tokens-info-block_filled__text">
                        Left
                      </div>
                      <div class="tokens-info-block_filled__complete"
                           [title]="contractInfo.baseLeft | bigNumberFormat : tokens.base.token.decimals : true">
                        {{contractInfo.baseLeft | bigNumberFormat : tokens.base.token.decimals : true}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tokens-info-block_progress" *ngIf="originalContract.state === 'ACTIVE'">
                  <span [ngStyle]="{width:  (contractInfo.baseRaised / tokens.base.amount * 100) + '%'}"></span>
                </div>

                <div class="token-info">
                  <div class="token-info_icon"
                       [ngStyle]="{'background-image': 'url(' + tokens.base.token.image_link + ')'}">
                  </div>
                  <div class="token-info_texts">
                    <div class="token-info_texts__name">
                      {{tokens.base.token.token_name}}
                      ({{tokens.base.token.token_short_name}})
                    </div>

                    <div class="token-info_texts__address">
                      <a [href]="!tokens.base.token.isEther ? (tokens.base.token.address | etherscanUrl : 'token') : 'https://etherscan.io/stat/supply'"
                         *ngIf="tokens.base.token.isEthereum"
                         target="_blank">
                        <small>Check on Etherscan</small>&nbsp;
                        <img src="./assets/images/icons/link.svg">
                      </a>&nbsp;
                    </div>


                  </div>
                  <div class="token-info_investments" *ngIf="originalContract.state === 'ACTIVE' && originalContract.isEthereum">
                    <div class="token-info_investments__number">
                      {{ contractInfo.baseInvestors }}/{{maximumInvestors}}
                    </div>
                    <div class="token-info_investments__desc">
                      Number<br/>
                      of&nbsp;contributors
                    </div>
                  </div>
                </div>

                <div class="contract-buttons bottom-correct"
                     *ngIf="(originalContract.isSwapped === false) && (contractInfo.baseLeft > 0)">
                  <form #baseContributeForm="ngForm"
                        (submit)="sendContribute(baseContributeForm.value.amount, 'base')">
                    <div class="grid-row">
                      <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
                        <div class="form-field">
                          <div class="form-field_input">
                            <input type="text"
                                   (focus)="activeSide = 'base'"
                                   (blur)="activeSide = false"
                                   autocomplete="off"
                                   [required]="true"
                                   [appBigNumber]="{
                                      decimals: tokens.base.token.decimals,
                                      min: [contractInfo.baseLeft, originalContract.min_base_wei] | bigNumberMin,
                                      max: contractInfo.baseLeft
                                   }"
                                   [ngClass]="{'without-error-lightning': activeSide !== 'base'}"
                                   name="amount"
                                   [ngModel]="baseValueContribution"
                                   placeholder="Enter amount"
                                   class="min-text minimal-input">
                          </div>
                        </div>
                      </div>

                      <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
                        <div class="form-field">
                          <button class="btn btn-yellow width-100 btn-min btn-normal-weight"
                                  [disabled]="!baseContributeForm.valid || contractInfo.baseLeft <= 0"
                                  type="submit">
                            <img class="arrow" src="./assets/images/buttons/arrow_b.svg">
                            <span>Contribute</span>
                          </button>
                        </div>
                      </div>
                      <div class="grid-cell grid-cell-1" *ngIf="baseContributeForm.value.amount && baseContributeForm.valid">
                        <div class="form-field">
                          <span class="normal-text">
                            You will get
                            {{quoteWillGetValue(baseContributeForm.value.amount) | bigNumberFormat : tokens.quote.token.decimals : true }}
                            {{tokens.quote.token.token_short_name}}
                            after SWAP
                          </span>
                        </div>
                      </div>
                      <div class="grid-cell grid-cell-1">
                        <div class="form-field">
                          <span class="action-link"
                                [ngClass]="{invisible: contractInfo.baseLeft <= 0}"
                                (click)="baseContributeForm.controls.amount.setValue(contractInfo.baseLeftString)">
                            Fill all
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="contract-buttons no-bottom-margin" *ngIf="originalContract.min_base_wei && (originalContract.min_base_wei != 0)">
                  <span class="normal-text">
                    <span>
                      Min Contribution Limit:
                      <b>
                        {{originalContract.min_base_wei | bigNumberFormat : tokens.base.token.decimals : true}}
                        {{tokens.base.token.token_short_name}}
                      </b>
                    </span>
                    <!--<span *ngIf="originalContract.min_base_wei == 0">-->
                    <!--No Min Contribution-->
                    <!--</span>-->
                  </span><br/>
                  <span class="normal-text opacity-color"
                        *ngIf="originalContract.whitelist"><br/>
                    Only Owner can contribute
                  </span>
                </div>

                <div class="contract-buttons no-bottom-margin"
                     *ngIf="originalContract.broker_fee && contractInfo.baseBrokerPercent">
                  <span class="normal-text">
                    <span>
                      Brokers fee:
                      <b>
                        {{contractInfo.baseBrokerPercent}}%
                        ({{contractInfo.baseBrokerAmount | bigNumberFormat : tokens.base.token.decimals : true}}
                        {{tokens.base.token.token_short_name}})
                      </b>
                    </span>
                  </span>
                </div>

                <div class="contract-buttons"
                     *ngIf="((originalContract.state === 'EXPIRED') || (originalContract.state === 'ACTIVE')) && originalContract.isEthereum">
                  <button class="btn btn-transparent btn-min btn-normal-weight width-100"
                          (click)="sendRefund(tokens.base.token)"
                          type="button">
                    <img class="arrow" src="./assets/images/buttons/arrow_w.svg">
                    <span>Refund</span>
                  </button>
                </div>
              </div>

            </div>
            <div class="grid-cell grid-cell-1-2 grid-cell-ps-1 one-token-info-cell"
                 [ngClass]="{'active-side-info': activeSide === 'quote'}">
              <div class="tokens-info-block">
                <div class="tokens-info-block_filled">
                  <div class="tokens-info-block_filled__count">
                    {{tokens.quote.amount | bigNumberFormat : tokens.quote.token.decimals : true}}
                  </div>
                  <div *ngIf="originalContract.state === 'ACTIVE'">
                    <div class="tokens-info-block_filled_item send">
                      <div class="tokens-info-block_filled__text">
                        <b>Sent</b>
                      </div>
                      <div class="tokens-info-block_filled__complete"
                           [title]="contractInfo.quoteRaised | bigNumberFormat : tokens.quote.token.decimals : true">
                        <b>{{ contractInfo.quoteRaised | bigNumberFormat : tokens.quote.token.decimals : true }}</b>
                      </div>
                    </div>
                    <div class="tokens-info-block_filled_item left">
                      <div class="tokens-info-block_filled__text">
                        Left
                      </div>
                      <div class="tokens-info-block_filled__complete"
                           [title]="contractInfo.quoteLeft | bigNumberFormat : tokens.quote.token.decimals : true">
                        {{contractInfo.quoteLeft | bigNumberFormat : tokens.quote.token.decimals : true}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tokens-info-block_progress" *ngIf="originalContract.state === 'ACTIVE'">
                  <span [ngStyle]="{width:  (contractInfo.quoteRaised / tokens.quote.amount * 100) + '%'}"></span>
                </div>

                <div class="token-info">
                  <div class="token-info_icon" [ngStyle]="{'background-image': 'url(' + tokens.quote.token.image_link + ')'}">

                  </div>
                  <div class="token-info_texts">
                    <div class="token-info_texts__name">
                      {{tokens.quote.token.token_name}}
                      ({{tokens.quote.token.token_short_name}})
                    </div>
                    <div class="token-info_texts__address">
                      <a [href]="!tokens.quote.token.isEther ? (tokens.quote.token.address | etherscanUrl : 'token') : 'https://etherscan.io/stat/supply'"
                         *ngIf="tokens.quote.token.isEthereum"
                         target="_blank">
                        <small>Check on Etherscan</small>&nbsp;
                        <img src="./assets/images/icons/link.svg">
                      </a>&nbsp;
                    </div>
                  </div>
                  <div class="token-info_investments" *ngIf="originalContract.state === 'ACTIVE' && originalContract.isEthereum">
                    <div class="token-info_investments__number">
                      {{ contractInfo.quoteInvestors }}/{{maximumInvestors}}
                    </div>
                    <div class="token-info_investments__desc">
                      Number<br/>
                      of&nbsp;contributors
                    </div>
                  </div>
                </div>

                <div class="contract-buttons bottom-correct"
                     *ngIf="(originalContract.isSwapped === false) && (contractInfo.quoteLeft > 0)">
                  <form #quoteContributeForm="ngForm"
                        (submit)="sendContribute(quoteContributeForm.value.amount, 'quote')">
                    <div class="grid-row">
                      <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
                        <div class="form-field">
                          <div class="form-field_input">
                            <input type="text"
                                   (focus)="activeSide = 'quote'"
                                   (blur)="activeSide = false"
                                   autocomplete="off"
                                   [required]="true"
                                   [appBigNumber]="{
                                      decimals: tokens.quote.token.decimals,
                                      min: [contractInfo.quoteLeft, originalContract.min_quote_wei] | bigNumberMin,
                                      max: contractInfo.quoteLeft
                                   }"
                                   [ngClass]="{'without-error-lightning': activeSide !== 'quote'}"
                                   name="amount"
                                   [ngModel]="quoteValueContribution"
                                   placeholder="Enter amount"
                                   class="min-text minimal-input">
                          </div>
                        </div>
                      </div>
                      <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
                        <div class="form-field">
                          <button class="btn btn-yellow width-100 btn-min btn-normal-weight"
                                  [disabled]="!quoteContributeForm.valid"
                                  type="submit">
                            <img class="arrow" src="./assets/images/buttons/arrow_b.svg">
                            <span>Contribute</span>
                          </button>
                        </div>
                      </div>
                      <div class="grid-cell grid-cell-1" *ngIf="quoteContributeForm.value.amount && quoteContributeForm.valid">
                        <div class="form-field">
                          <span class="normal-text">
                            You will get
                            {{baseWillGetValue(quoteContributeForm.value.amount) | bigNumberFormat : tokens.base.token.decimals : true }}
                            {{tokens.base.token.token_short_name}}
                            after SWAP
                          </span>
                        </div>
                      </div>
                      <div class="grid-cell grid-cell-1">
                        <div class="form-field">
                          <span class="action-link"
                                [ngClass]="{invisible: contractInfo.quoteLeft <= 0}"
                                (click)="quoteContributeForm.controls.amount.setValue(contractInfo.quoteLeftString)">
                            Fill all
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="contract-buttons no-bottom-margin" *ngIf="originalContract.min_quote_wei && (originalContract.min_quote_wei != 0)">
                  <span class="normal-text">
                    <span>
                      Min Contribution Limit:
                      <b>
                        {{originalContract.min_quote_wei | bigNumberFormat : tokens.quote.token.decimals : true}}
                        {{tokens.quote.token.token_short_name}}
                      </b>
                    </span>
                    <!--<span *ngIf="originalContract.min_quote_wei == 0">-->
                    <!--No Min Contribution-->
                    <!--</span>-->
                  </span>
                </div>


                <div class="contract-buttons no-bottom-margin"
                     *ngIf="originalContract.broker_fee && contractInfo.quoteBrokerPercent">
                  <span class="normal-text">
                    <span>
                      Brokers fee:
                      <b>
                        {{contractInfo.quoteBrokerPercent}}%
                        ({{contractInfo.quoteBrokerAmount | bigNumberFormat : tokens.quote.token.decimals : true}}
                        {{tokens.quote.token.token_short_name}})
                      </b>
                    </span>
                  </span>
                </div>

                <div class="contract-buttons"
                     *ngIf="((originalContract.state === 'EXPIRED') || (originalContract.state === 'ACTIVE')) && originalContract.isEthereum">
                  <button class="btn btn-transparent btn-min btn-normal-weight width-100"
                          (click)="sendRefund(tokens.quote.token)"
                          type="button">
                    <img class="arrow" src="./assets/images/buttons/arrow_w.svg">
                    <span>Refund</span>
                  </button>
                </div>
              </div>
              <img src="./assets/images/icons/ch_03.svg" class="exchange-ico"/>
            </div>
          </div>



          <div class="contract-info-block">
            <div class="grid-row">
              <div class="grid-cell grid-cell-1-5 grid-cell-ps-1-2">
                <div class="form-field">
                  <label class="form-field_label transparent">Closing date</label>
                  <div class="form-field_value">{{originalContract.stop_date | date : 'dd.MM.yyyy'}}</div>
                </div>
              </div>
              <div class="grid-cell grid-cell-1-5 grid-cell-ps-1-2">
                <div class="form-field">
                  <label class="form-field_label transparent">Closing time</label>
                  <div class="form-field_value">{{originalContract.stop_date | date : 'HH:mm'}}</div>
                </div>
              </div>
              <div class="grid-cell grid-cell-3-5 text-right grid-cell-ps-1">
                <div class="form-field ps-float-left">
                  <div class="form-field_checkbox-val float-right">
                    <div class="form-field_checkbox-val_label">
                      Public deal
                    </div>
                    <div class="form-field_checkbox-val_stat">
                      <div *ngIf="originalContract.public">
                        Yes<img src="./assets/images/icons/yes.svg">
                      </div>
                      <div *ngIf="!originalContract.public">
                        No<img src="./assets/images/icons/pd_icon.svg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="one-separated-block" *ngIf="originalContract.isAuthor">
              <div class="grid-row">
                <div class="grid-cell grid-cell-1">
                  <div class="form-field">
                    <label class="form-field_label transparent">Management address</label>
                    <div class="form-field_value">
                      <a [href]="originalContract.owner_address | etherscanUrl : 'address'"
                         target="_blank">
                        {{originalContract.owner_address}}
                      </a>

                      <button type="button"
                              class="copy-btn"
                              [ngClass]="{copied: copiedAddresses['owner_address']}"
                              ngxClipboard [cbContent]="originalContract.owner_address"
                              (cbOnSuccess)="onCopied('owner_address')">
                        <img src="./assets/images/icons/copy.svg"/>
                      </button>

                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-row" *ngIf="originalContract.broker_fee">
                <div class="grid-cell grid-cell-1">
                  <div class="form-field">
                    <label class="form-field_label transparent">Broker address</label>
                    <div class="form-field_value">
                      <a [href]="originalContract.broker_fee_address | etherscanUrl : 'address'"
                         target="_blank">
                        {{originalContract.broker_fee_address.toLowerCase()}}
                      </a>

                      <button type="button"
                              class="copy-btn"
                              [ngClass]="{copied: copiedAddresses['broker_fee_address']}"
                              ngxClipboard [cbContent]="originalContract.broker_fee_address"
                              (cbOnSuccess)="onCopied('broker_fee_address')">
                        <img src="./assets/images/icons/copy.svg"/>
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="one-separated-block">
              <label class="form-field_label transparent">Link to deal</label>
              <div class="form-field_value">
                <a [href]="contractAdditional.link" target="_blank">
                  {{contractAdditional.link}}
                </a>
                &nbsp;&nbsp;
                <button type="button"
                        class="copy-btn"
                        [ngClass]="{copied: copiedAddresses['link']}"
                        ngxClipboard [cbContent]="contractAdditional.link"
                        (cbOnSuccess)="onCopied('link')">
                  <img src="./assets/images/icons/copy.svg"/>
                </button>
              </div>
            </div>

            <div class="one-separated-block"
                 *ngIf="((originalContract.state === 'ACTIVE') && originalContract.isAuthor) && (originalContract.isSwapped === false)">
              <button type="button" class="btn btn-yellow btn-min btn-normal-weight" (click)="sendCancel()">
                <img class="arrow" src="./assets/images/buttons/arrow_b.svg">
                <span>Cancel the deal</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="watch-instruction-btn hide-1024">
  <button (click)="openContactForm()" class="btn btn-white-opacity">
    <img src="./assets/images/icons/conown.svg" class="btn-icon">
    <span>Contact swap owner</span>
  </button>
</div>



<ng-template #administratorContact>
  <div class="dialog-block">
    <div class="dialog-block__content">
      <div class="info-modal-text">
        For the contibution please contact our manager.<br/>
        SWAP ID: <b>{{ originalContract.unique_link }}</b><br/>

        <!--Please contact our administrator by-->
        <!--<a href="https://t.me/SWAPS_NETWORK" target="_blank">Telegram</a>,-->
        <!--<a href="mailto:support@swaps.network">Email</a> or Online Chat.-->

      </div>

      <div><br/><br/>

        <button class="btn btn-transparent btn-min btn-auto float-right"
                type="button" mat-dialog-close>
          <span class="just-title">Close</span>
        </button>

        <button class="btn btn-transparent btn-min btn-auto"
                type="button" mat-dialog-close>
          <span class="just-title">Telegram</span>
        </button>&nbsp;&nbsp;
        <button class="btn btn-transparent btn-min btn-auto"
                type="button" mat-dialog-close>
          <span class="just-title">Email</span>
        </button>
      </div>

    </div>
  </div>
</ng-template>
