<div class="base-block-content">
  <div class="app-content-block">
    <div class="grid-row">
      <div class="grid-cell grid-cell-1 grid-cell-sm-1">
        <div
          class="preview-container preview-container_reminder"
          *ngIf="originalContract.contract_state === 'DONE'"
        >
          <div class="preview-container_reminder__title">{{'Done' | translate}}</div>
          <div class="preview-container_reminder__description">
            {{'The trade was completed. If you participated in this trade, please check your wallet.' | translate}}
          </div>
        </div>

        <div
          class="preview-container preview-container_reminder"
          *ngIf="originalContract.contract_state === 'EXPIRED'"
        >
          <div class="preview-container_reminder__title">{{'Expired' | translate}}</div>
          <div class="preview-container_reminder__description">
            {{'The trade is no longer available.' | translate}}
          </div>
        </div>

        <div
          class="preview-container preview-container_reminder"
          *ngIf="originalContract.contract_state === 'CANCELLED'"
        >
          <div class="preview-container_reminder__title">{{'Cancelled' | translate}}</div>
          <div class="preview-container_reminder__description">
            {{'The trade was cancelled.' | translate}}
          </div>
        </div>

        <div class="preview-container">
          <div
            class="contract-state"
            [ngClass]="
              'contract-state__' + states[originalContract.state].NUMBER
            "
          >
            {{ states[originalContract.state].TEXT | translate }}
          </div>
          <div class="contract-title">{{ originalContract.name }}</div>

          <div class="grid-row all-tokens-info-row">
            <div class="grid-cell grid-cell-1 one-token-info-cell">
              <div class="c-preview__rate-wrapper">
                <div class="block-tabs_item active">
                  <img class="block-tabs_item_icon" [src]="displayingBlockchains[originalContract.network].image"/>
                  <span class="block-tabs_item_text">{{displayingBlockchains[originalContract.network].name}}</span>
                </div>

                <span class="form-field_description rate-info">
                  Rate:
                  <span *ngIf="!revertedRate">
                    {{ rates.normal.dp(8).toFormat(rateFormat) }}
                    {{ tokens.base.token.token_short_name }} / 1
                    {{ tokens.quote.token.token_short_name }}
                  </span>
                  <span *ngIf="revertedRate">
                    {{ rates.reverted.dp(8).toFormat(rateFormat) }}
                    {{ tokens.quote.token.token_short_name }} / 1
                    {{ tokens.base.token.token_short_name }} </span
                  >&nbsp;&nbsp;&nbsp;&nbsp;

                  <span *ngIf="cmcRate" class="cmc-rate">
                    <img
                      src="./assets/images/icons/cmc.svg"
                      class="cmc-rate-icon"
                    />
                    {{
                      (!revertedRate ? cmcRate.direct : cmcRate.revert)
                        | number: '1.0-8'
                    }}
                    {{
                      tokens[revertedRate ? 'quote' : 'base'].token.token_short_name
                    }}
                    / 1
                    {{
                      tokens[!revertedRate ? 'quote' : 'base'].token
                        .token_short_name
                    }}
                  </span>

                  <button class="revert-btn" (click)="revertedRate = !revertedRate">
                    <img src="./assets/images/icons/revert.svg" />
                  </button>
                </span>
              </div>
            </div>

            <div
              class="cmc-rate-notice"
              [ngClass]="{
                'cmc-rate-notice__positive': cmcRate.cmcRange > 0,
                'cmc-rate-notice__negative': cmcRate.cmcRange < 0
              }"
              *ngIf="cmcRate"
            >
              <span *ngIf="cmcRate.cmcRange > 0">
                {{'The trade\'s rate is {rate}% more profitable than coinmarketcap rate' | translate : '{rate: ' + (cmcRate.absCmcRange | number: '1.0-1') + '}'}}
              </span>
              <span *ngIf="cmcRate.cmcRange < 0">
                {{'The trade\'s rate is {rate}% more less than coinmarketcap rate' | translate : '{rate: ' + (cmcRate.absCmcRange | number: '1.0-1') + '}'}}
              </span>
            </div>
          </div>
          <div class="grid-row all-tokens-info-row">
            <div
              class="grid-cell grid-cell-1-2 grid-cell-ps-1 one-token-info-cell"
              [ngClass]="{ 'active-side-info': activeSide === 'base' }"
            >
              <div class="tokens-info-block">
                <div class="tokens-info-block_filled">
                  <div
                    class="tokens-info-block_filled__count tokens-info-block_filled__count--right"
                  >
                    <div class="tokens-info-block_filled-wrapper">
                      <div class="tokens-info-block_filled_item send">
                        <div class="tokens-info-block_filled__text">{{'Sent' | translate}}</div>
                        <div
                          class="tokens-info-block_filled__complete"
                          *ngIf="contractInfo.baseRaised"
                          [title]="contractInfo.baseRaised | number: '1.0-8'"
                        >
                          {{ contractInfo.baseRaised | number: '1.0-8' }}
                        </div>
                      </div>
                      <div class="tokens-info-block_filled_item left">
                        <div class="tokens-info-block_filled__text">{{'Left' | translate}}</div>
                        <div
                          class="tokens-info-block_filled__complete"
                          [title]="
                            contractInfo.baseLeft
                              | bigNumberFormat: tokens.base.token.decimals:true
                          "
                        >
                          {{
                            contractInfo.baseLeft
                              | bigNumberFormat: tokens.base.token.decimals:true
                          }}
                        </div>
                      </div>
                    </div>
                    <span>{{ tokens.base.amount | number: '1.0-8' }}</span>
                  </div>
                </div>
                <div
                  class="tokens-info-block_progress"
                  *ngIf="originalContract.state === 'ACTIVE'"
                >
                  <span
                    [ngStyle]="{
                      width:
                        (contractInfo.baseRaised / tokens.base.amount) * 100 +
                        '%'
                    }"
                  ></span>
                </div>

                <div class="token-info token-info--reverse">
                  <div class="token-info__wrapper">
                    <div
                      class="token-info_icon"
                      [ngStyle]="{
                        'background-image':
                          'url(' +
                          (tokens.base.token.image_link ||
                            './assets/images/icons/coins/empty.svg') +
                          ')'
                      }"
                    ></div>
                    <div class="token-info_texts">
                      <div class="token-info_texts__name">
                        {{ tokens.base.token.token_name }}
                        ({{ tokens.base.token.token_short_name }})
                      </div>
                      <div class="token-info_texts__address">
                        <a
                          [href]="
                            !tokens.base.token.isNative
                              ? (tokens.base.token.address | etherscanUrl : originalContract.network : 'token')
                              : (originalContract.network | nativeCoinUrl)
                          "
                          target="_blank"
                        >
                          <small>{{'Check on Explorer' | translate}}</small>&nbsp;
                          <img src="./assets/images/icons/link.svg" />
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- <div
                    class="warning-coin"
                    [ngClass]="{
                      invisible:
                        tokens.base.token.cmc_id ||
                        tokens.base.token.platform === 'fiat'
                    }"
                    *ngIf="
                      (!tokens.base.token.cmc_id &&
                        tokens.base.token.platform !== 'fiat') ||
                      (!tokens.quote.token.cmc_id &&
                        tokens.quote.token.platform !== 'fiat')
                    "
                  >
                    <img
                      class="warning-coin_icon"
                      src="./assets/images/icons/warning.svg"
                    />
                    <span class="warning-coin_text">
                      Unverified. Not listed on CMC
                    </span>
                  </div> -->

                  <div class="token-info_investments">
                    <div class="token-info_investments__number">
                      {{ contractInfo.baseInvestors }}/{{ maximumInvestors }}
                    </div>
                    <div class="token-info_investments__desc">
                      {{'Number of investors' | translate}}
                    </div>
                  </div>
                </div>

                <div
                  class="contract-buttons"
                  *ngIf="
                    originalContract.state === 'ACTIVE' &&
                    originalContract.isSwapped === false &&
                    contractInfo.baseLeft > 0
                  "
                >
                  <form
                    #baseContributeForm="ngForm"
                    (submit)="
                      sendContribute(baseContributeForm.value.amount, 'base')
                    "
                  >
                    <div class="grid-row">
                      <div class="grid-cell grid-cell-3-5 grid-cell-vs-1">
                        <div class="form-field">
                          <div class="form-field_input">
                            <input
                              type="text"
                              (focus)="activeSide = 'base'"
                              (blur)="activeSide = false"
                              autocomplete="off"
                              [required]="true"
                              [appBigNumber]="{
                                decimals: tokens.base.token.decimals,
                                min:
                                  [
                                    contractInfo.baseLeft,
                                    originalContract.min_base_wei
                                  ] | bigNumberMin,
                                max:
                                  contractInfo.baseLeft
                                  | bigNumberFormat
                                    : tokens.base.token.decimals
                                    : true
                              }"
                              [ngClass]="{
                                'without-error-lightning': activeSide !== 'base'
                              }"
                              name="amount"
                              [ngModel]="baseValueContribution"
                              placeholder="Enter amount"
                              class="min-text minimal-input"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="grid-cell grid-cell-2-5 grid-cell-vs-1">
                        <div class="form-field">
                          <button
                            class="btn btn-green width-100 btn-normal-weight"
                            [disabled]="
                              !baseContributeForm.valid ||
                              contractInfo.baseLeft <= 0 ||
                              allowanceObj.base.isAllowancing
                            "
                            type="submit"
                          >
                            <img
                              class="arrow"
                              src="./assets/images/buttons/arrow_w.svg"
                              *ngIf="!allowanceObj.base.isAllowancing"
                            />
                            <img
                              class="arrow spiner"
                              src="./assets/images/new-index/oval.svg"
                              *ngIf="allowanceObj.base.isAllowancing"
                            />
                            <span *ngIf="!allowanceObj.base.isAllowancing">{{
                              allowanceObj.base.isAllowance
                                ? 'Contribute'
                                : 'Approve'
                            }}</span>
                            <span *ngIf="allowanceObj.base.isAllowancing"
                              >{{'Waiting' | translate}}</span
                            >
                          </button>
                        </div>
                      </div>
                      <div
                        class="grid-cell grid-cell-1"
                        *ngIf="
                          baseContributeForm.value.amount &&
                          baseContributeForm.valid
                        "
                      >
                        <div class="form-field">
                          <span class="normal-text">
                            {{'You will get { amount } { token } after Trade' | translate :
                            '{amount: ' + quoteWillGetValue(baseContributeForm.value.amount) | number: '1.0-8'+', token: '+ tokens.quote.token.token_short_name +'}'}}
                          </span>
                        </div>
                      </div>
                      <div class="grid-cell grid-cell-1">
                        <div class="form-field">
                          <span
                            class="action-link"
                            [ngClass]="{
                              invisible: contractInfo.baseLeft <= 0
                            }"
                            (click)="
                              baseContributeForm.controls.amount.setValue(
                                contractInfo.baseLeftString
                              )
                            "
                          >
                            {{'Fill all' | translate}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div
                  class="contract-buttons contract-buttons--wei"
                  *ngIf="
                    originalContract.min_base_wei &&
                    originalContract.min_base_wei != 0
                  "
                >
                  <span class="normal-text">
                    <span>
                      {{'Min Contribution Limit:' | translate}}
                      <b>
                        {{ originalContract.min_base_wei | number: '1.0-8' }}
                        {{ tokens.base.token.token_short_name }}
                      </b>
                    </span>
                  </span>
                </div>
                <div
                  class="contract-buttons no-bottom-margin"
                  *ngIf="originalContract.whitelist"
                >
                  <span class="normal-text opacity-color">
                    {{'Only Owner can contribute' | translate}}
                  </span>
                </div>
                <div
                  class="contract-buttons contract-buttons--wei"
                  *ngIf="
                    originalContract.broker_fee &&
                    contractInfo.baseBrokerPercent
                  "
                >
                  <span class="normal-text">
                    <span>
                      {{'Brokers fee:' | translate}}
                      <b>
                        {{ contractInfo.baseBrokerPercent }}% ({{
                          contractInfo.baseBrokerAmount | number: '1.0-8'
                        }}
                        {{ tokens.base.token.token_short_name }})
                      </b>
                    </span>
                  </span>
                </div>
              </div>

              <div
                *ngIf="
                  contractInfo.baseRaised * 1 > 0 &&
                  ['ACTIVE', 'EXPIRED'].includes(originalContract.state) &&
                  contractInfo.baseRaised != 0
                "
              >
                <button
                  class="btn btn-refund btn-min btn-normal-weight width-100"
                  (click)="sendRefund(tokens.base.token)"
                  type="button"
                >
                  <img
                    class="arrow"
                    src="./assets/images/buttons/arrow_blue.svg"
                  />
                  {{'Refund' | translate}}
                </button>
              </div>
            </div>
            <div
              class="grid-cell grid-cell-1-2 grid-cell-ps-1 one-token-info-cell"
              [ngClass]="{ 'active-side-info': activeSide === 'quote' }"
            >
              <div class="tokens-info-block">
                <div class="tokens-info-block_filled">
                  <div class="tokens-info-block_filled__count">
                    <span>{{ tokens.quote.amount | number: '1.0-8' }}</span>
                    <div class="tokens-info-block_filled-wrapper">
                      <div class="tokens-info-block_filled_item send">
                        <div class="tokens-info-block_filled__text">{{'Sent' | translate}}</div>
                        <div
                          class="tokens-info-block_filled__complete"
                          *ngIf="contractInfo.quoteRaised"
                          [title]="contractInfo.quoteRaised | number: '1.0-8'"
                        >
                          {{ contractInfo.quoteRaised | number: '1.0-8' }}
                        </div>
                      </div>
                      <div class="tokens-info-block_filled_item left">
                        <div class="tokens-info-block_filled__text">{{'Left' | translate}}</div>
                        <div
                          class="tokens-info-block_filled__complete"
                          [title]="
                            contractInfo.quoteLeft
                              | bigNumberFormat
                                : tokens.quote.token.decimals
                                : true
                          "
                        >
                          {{
                            contractInfo.quoteLeft
                              | bigNumberFormat
                                : tokens.quote.token.decimals
                                : true
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tokens-info-block_progress"
                  *ngIf="originalContract.state === 'ACTIVE'"
                >
                  <span
                    [ngStyle]="{
                      width:
                        (contractInfo.quoteRaised / tokens.quote.amount) * 100 +
                        '%'
                    }"
                  ></span>
                </div>

                <div class="token-info">
                  <div class="token-info__wrapper">
                    <div
                      class="token-info_icon"
                      [ngStyle]="{
                        'background-image':
                          'url(' +
                          (tokens.quote.token.image_link ||
                            './assets/images/icons/coins/empty.svg') +
                          ')'
                      }"
                    ></div>
                    <div class="token-info_texts">
                      <div class="token-info_texts__name">
                        {{ tokens.quote.token.token_name }}
                        ({{ tokens.quote.token.token_short_name }})
                      </div>
                      <div class="token-info_texts__address">
                        <a
                          [href]="
                            !tokens.quote.token.isNative
                              ? (tokens.quote.token.address | etherscanUrl : originalContract.network : 'token')
                              : (originalContract.network | nativeCoinUrl)
                          "
                          target="_blank"
                        >
                          <small>{{'Check on Explorer' | translate}}</small>&nbsp;
                          <img src="./assets/images/icons/link.svg" />
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="token-info_investments">
                    <div class="token-info_investments__number">
                      {{ contractInfo.quoteInvestors }}/{{ maximumInvestors }}
                    </div>
                    <div class="token-info_investments__desc">
                      {{'Number of investors' | translate}}
                    </div>
                  </div>
                </div>

                <div
                  class="contract-buttons"
                  *ngIf="
                    originalContract.state === 'ACTIVE' &&
                    originalContract.isSwapped === false &&
                    contractInfo.quoteLeft > 0
                  "
                >
                  <form
                    #quoteContributeForm="ngForm"
                    (submit)="
                      sendContribute(quoteContributeForm.value.amount, 'quote')
                    "
                  >
                    <div class="grid-row">
                      <div class="grid-cell grid-cell-3-5 grid-cell-vs-1">
                        <div class="form-field">
                          <div class="form-field_input">
                            <input
                              type="text"
                              (focus)="activeSide = 'quote'"
                              (blur)="activeSide = false"
                              autocomplete="off"
                              [required]="true"
                              [appBigNumber]="{
                                decimals: tokens.quote.token.decimals,
                                min:
                                  [
                                    contractInfo.quoteLeft,
                                    originalContract.min_quote_wei
                                  ] | bigNumberMin,
                                max:
                                  contractInfo.quoteLeft
                                  | bigNumberFormat
                                    : tokens.quote.token.decimals
                                    : true
                              }"
                              [ngClass]="{
                                'without-error-lightning':
                                  activeSide !== 'quote'
                              }"
                              name="amount"
                              [ngModel]="quoteValueContribution"
                              placeholder="Enter amount"
                              class="min-text minimal-input"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="grid-cell grid-cell-2-5 grid-cell-vs-1">
                        <div class="form-field">
                          <button
                            class="btn btn-green width-100 btn-normal-weight"
                            [disabled]="
                              !quoteContributeForm.valid ||
                              allowanceObj.quote.isAllowancing
                            "
                            type="submit"
                          >
                            <img
                              class="arrow"
                              src="./assets/images/buttons/arrow_w.svg"
                              *ngIf="!allowanceObj.quote.isAllowancing"
                            />
                            <img
                              class="arrow spiner"
                              src="./assets/images/new-index/oval.svg"
                              *ngIf="allowanceObj.quote.isAllowancing"
                            />
                            <span *ngIf="!allowanceObj.quote.isAllowancing">{{
                              allowanceObj.quote.isAllowance
                                ? 'Contribute'
                                : 'Approve'
                            }}</span>
                            <span *ngIf="allowanceObj.quote.isAllowancing"
                              >{{'Waiting' | translate}}</span
                            >
                          </button>
                        </div>
                      </div>
                      <div
                        class="grid-cell grid-cell-1"
                        *ngIf="
                          quoteContributeForm.value.amount &&
                          quoteContributeForm.valid
                        "
                      >
                        <div class="form-field">
                          <span class="normal-text">
                            {{'You will get { amount } { token } after Trade' | translate :
                          '{amount: ' + baseWillGetValue(quoteContributeForm.value.amount) | number: '1.0-8'+', token: '+ tokens.base.token.token_short_name +'}'}}
                          </span>
                        </div>
                      </div>
                      <div class="grid-cell grid-cell-1">
                        <div class="form-field">
                          <span
                            class="action-link"
                            [ngClass]="{
                              invisible: contractInfo.quoteLeft <= 0
                            }"
                            (click)="
                              quoteContributeForm.controls.amount.setValue(
                                contractInfo.quoteLeftString
                              )
                            "
                          >
                            {{'Fill all' | translate}}
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div
                  class="contract-buttons contract-buttons--wei"
                  *ngIf="
                    originalContract.min_quote_wei &&
                    originalContract.min_quote_wei != 0
                  "
                >
                  <span class="normal-text">
                    <span>
                      {{'Min Contribution Limit:' | translate}}
                      <b>
                        {{ originalContract.min_quote_wei | number: '1.0-8' }}
                        {{ tokens.quote.token.token_short_name }}
                      </b>
                    </span>
                    <!--<span *ngIf="originalContract.min_quote_wei == 0">-->
                    <!--No Min Contribution-->
                    <!--</span>-->
                  </span>
                </div>

                <div
                  class="contract-buttons contract-buttons--wei"
                  *ngIf="
                    originalContract.broker_fee &&
                    contractInfo.quoteBrokerPercent
                  "
                >
                  <span class="normal-text">
                    <span>
                      {{'Brokers fee:' | translate}}
                      <b>
                        {{ contractInfo.quoteBrokerPercent }}% ({{
                          contractInfo.quoteBrokerAmount | number: '1.0-8'
                        }}
                        {{ tokens.quote.token.token_short_name }})
                      </b>
                    </span>
                  </span>
                </div>
              </div>
              <img src="./assets/images/icons/ch_03.svg" class="exchange-ico" />

              <div
                *ngIf="
                  contractInfo.quoteRaised * 1 > 0 &&
                  ['ACTIVE', 'EXPIRED'].includes(originalContract.state) &&
                  contractInfo.quoteRaised != 0
                "
              >
                <button
                  class="btn btn-refund btn-min btn-normal-weight width-100"
                  (click)="sendRefund(tokens.quote.token)"
                  type="button"
                >
                  <img
                    class="arrow"
                    src="./assets/images/buttons/arrow_blue.svg"
                  />
                  <span>{{'Refund' | translate}}</span>
                </button>
              </div>
            </div>
          </div>

          <div class="contract-info-block">
            <div class="grid-row">
              <div class="grid-cell grid-cell-1-8 grid-cell-ps-1-2">
                <div class="form-field">
                  <label class="form-field_label">{{"Closing date" | translate}}</label>
                  <div class="form-field_value">
                    {{ originalContract.stop_date | date: 'dd.MM.yyyy' }}
                  </div>
                </div>
              </div>
              <div class="grid-cell grid-cell-1-8 grid-cell-ps-1-2">
                <div class="form-field">
                  <label class="form-field_label">{{'Closing time' | translate}}</label>
                  <div class="form-field_value">
                    {{ originalContract.stop_date | date: 'HH:mm' }}
                  </div>
                </div>
              </div>
              <div class="grid-cell grid-cell-4-8 grid-cell-ps-1-2">
                <div class="form-field">
                  <label class="form-field_label">{{'Link to deal' | translate}}</label>
                  <div class="form-field_value">
                    <a [href]="contractAdditional.link" target="_blank">
                      {{ contractAdditional.link }}
                    </a>
                    &nbsp;&nbsp;
                    <button
                      type="button"
                      class="copy-btn"
                      [ngClass]="{ copied: copiedAddresses['link'] }"
                      ngxClipboard
                      [cbContent]="contractAdditional.link"
                      (cbOnSuccess)="onCopied('link')"
                    >
                      <img src="./assets/images/icons/copy.svg" />
                    </button>
                  </div>
                </div>
              </div>
              <div
                class="grid-cell grid-cell-2-8 text-right grid-cell-ps-1 float-right"
              >
                <div class="form-field ps-float-left">
                  <div class="form-field_checkbox-val float-right">
                    <div class="form-field_checkbox-val_label">{{'Public deal' | translate}}</div>
                    <div class="form-field_checkbox-val_stat">
                      <div *ngIf="originalContract.public">
                        {{'Yes' | translate}}<img src="./assets/images/icons/yes.svg" />
                      </div>
                      <div *ngIf="!originalContract.public">
                        {{'No' | translate}}<img src="./assets/images/icons/pd_icon.svg" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="one-separated-block"
              *ngIf="
                originalContract.isAuthor && originalContract.owner_address
              "
            >
              <div class="grid-row">
                <div class="grid-cell grid-cell-1">
                  <div class="form-field">
                    <label class="form-field_label">{{'Management address' | translate}}</label>
                    <div class="form-field_value">
                      <a [href]="originalContract.owner_address | etherscanUrl : originalContract.network : 'address'"
                        target="_blank"
                      >
                        {{ originalContract.owner_address }}
                      </a>
                      &nbsp;&nbsp;
                      <button
                        type="button"
                        class="copy-btn"
                        [ngClass]="{ copied: copiedAddresses['owner_address'] }"
                        ngxClipboard
                        [cbContent]="originalContract.owner_address"
                        (cbOnSuccess)="onCopied('owner_address')"
                      >
                        <img src="./assets/images/icons/copy.svg" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-row" *ngIf="originalContract.broker_fee">
                <div class="grid-cell grid-cell-1">
                  <div class="form-field">
                    <label class="form-field_label">{{'Broker address' | translate}}</label>
                    <div class="form-field_value">
                      <a
                        [href]="originalContract.broker_fee_address | etherscanUrl : originalContract.network: 'address'"
                        target="_blank"
                      >
                        {{ originalContract.broker_fee_address.toLowerCase() }}
                      </a>
                      &nbsp;&nbsp;
                      <button
                        type="button"
                        class="copy-btn"
                        [ngClass]="{
                          copied: copiedAddresses['broker_fee_address']
                        }"
                        ngxClipboard
                        [cbContent]="originalContract.broker_fee_address"
                        (cbOnSuccess)="onCopied('broker_fee_address')"
                      >
                        <img src="./assets/images/icons/copy.svg" />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="one-separated-block" *ngIf="originalContract.comment">
              <label class="form-field_label">{{'Additional comment' | translate}}</label>
              <div class="form-field_value pre">
                {{ originalContract.comment }}
              </div>
            </div>

            <div
              class="one-separated-block"
              *ngIf="
                originalContract.contract_state === 'ACTIVE' &&
                originalContract.isAuthor &&
                originalContract.isSwapped === false
              "
            >
              <button
                type="button"
                class="btn btn-green btn-min btn-normal-weight btn-auto"
                (click)="sendCancel()"
              >
                <img class="arrow" src="./assets/images/buttons/arrow_w.svg" />
                <span>{{'Cancel trade' | translate}}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #metaMaskError>
  <div class="dialog-block">
    <div class="dialog-block__content">
      <button
        class="dialog-closer"
        (click)="closeMetaMaskError()"
        type="button"
      >
        <img src="./assets/images/icons/cross-w.svg" />
      </button>

      <div class="transaction-title">{{'Error' | translate}}</div>

      <div
        class="transaction-description"
        [innerHTML]="this.metamaskError.msg"
      ></div>

      <div class="alert-window-buttons text-center">
        <button
          class="btn btn-yellow btn-auto btn-min"
          (click)="closeMetaMaskError()"
          type="button"
        >
          <span>&nbsp;&nbsp;&nbsp;{{'Close' | translate}}&nbsp;&nbsp;&nbsp;</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
