<div class="signature-window-wrapper">
  <ng-container *ngIf="!authorized; else logged">
    <b>
      Sign a message with your wallet <br />
      to access your private balance
    </b>
    <button
      *ngIf="(showConnectWallet$ | async) === false; else connectWallet"
      tuiButton
      type="button"
      size="m"
      appearance="primary"
      (click)="onClick()"
      [loading]="showLoader"
    >
      Sign
    </button>
  </ng-container>
  <ng-template #logged>
    <b> You logged in successfully.</b>
  </ng-template>
  <ng-template #connectWallet>
    <app-login-button [buttonHierarchy]="'form'"></app-login-button>
  </ng-template>
</div>
