<div class="state" *ngLet="stepsStates$ | async as stepsStates">
  <div class="state__element" *ngFor="let step of steps; let index = index">
    <div
      class="state__element-icon"
      [ngClass]="{
        'state__element-icon_focus': stepsStates[index] === 'pending',
        'state__element-icon_done': stepsStates[index] === 'fullfilled',
    }"
    >
      <img
        *ngIf="stepsStates[index] === 'fullfilled'"
        src="/assets/images/icons/checkmark/checkmark-thin-white.svg"
        alt=""
      />
      <span *ngIf="stepsStates[index] === 'pending'" class="loader"></span>
    </div>
    <div
      class="state__element-text"
      [ngClass]="{
        'state__element-text_focus': stepsStates[index] === 'fullfilled',
      'state__element-text_pending': stepsStates[index] === 'pending',
    }"
    >
      {{ step.value }}
    </div>
  </div>
</div>
