.state {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--tui-padding-l);

  &::before {
    position: absolute;
    top: 2px;
    left: 7.5px;

    width: 1px;
    height: calc(100% - 4px);

    background: var(--tui-neutral-fill);

    content: '';
  }

  &__element {
    display: flex;
    gap: var(--tui-padding-l);
    align-items: center;
  }

  &__element-icon {
    position: relative;
    z-index: 1;

    width: 16px;
    height: 16px;

    background: var(--tui-neutral-fill);
    border-radius: var(--tui-radius-xs);

    &_focus {
      background: var(--tui-warning-fill);
    }

    &_done {
      background: var(--tui-success-bg);
    }
  }

  &__element-text {
    color: var(--tui-text-03);

    &_focus {
      color: var(--tui-text-01);
    }

    &_done {
      color: var(--tui-text-01);
    }
  }
}
