<div class="sort-by-dropdown" *ngIf="visibleData?.length">
  <tui-hosted-dropdown tuiDropdownAlign="left" [content]="dropdown" [(open)]="isDropdownOpened">
    <button tuiButton type="button" appearance="flat" [iconRight]="icon">
      <span class="title" *ngIf="selectedColumn.value !== 'FromTo'">{{
        selectedColumn.translateKey | translate
      }}</span>

      <span class="title" *ngIf="selectedColumn.value === 'FromTo'"
        >{{ 'tradesTable.columns.from' | translate }}
        <span class="arrow-right" inlineSVG="assets/images/icons/my-trades/arrow-right.svg"></span>
        {{ 'tradesTable.columns.to' | translate }}</span
      >
    </button>
  </tui-hosted-dropdown>

  <ng-template #icon>
    <tui-svg
      src="tuiIconChevronDown"
      class="icon"
      [class.icon_rotated]="isDropdownOpened"
    ></tui-svg>
  </ng-template>

  <ng-template #dropdown>
    <tui-data-list>
      <button *ngFor="let column of columns" tuiOption (click)="onColumnChange(column)">
        <span class="title" *ngIf="column.value !== 'FromTo'">{{
          column.translateKey | translate
        }}</span>

        <span class="title" *ngIf="column.value === 'FromTo'"
          >{{ 'tradesTable.columns.from' | translate
          }}<img src="assets/images/icons/my-trades/arrow-right.svg" alt />{{
            'tradesTable.columns.to' | translate
          }}</span
        >
      </button>
    </tui-data-list>
  </ng-template>

  <div class="sort-by-dropdown__sort-arrows" (click)="onSortDirectionChange()">
    <div
      class="sort-arrow"
      [class.sort-arrow_green]="sortDirection === -1"
      inlineSVG="assets/images/icons/my-trades/arrow-up.svg"
    ></div>
    <div
      class="sort-arrow"
      [class.sort-arrow_green]="sortDirection === 1"
      inlineSVG="assets/images/icons/my-trades/arrow-down.svg"
    ></div>
  </div>
</div>

<tui-accordion class="accordions" [rounded]="true" *ngFor="let item of visibleData">
  <tui-accordion-item
    class="accordions__item item"
    [showArrow]="true"
    *tuiLet="getTableTrade(item) as trade"
  >
    <div class="item__header item-header">
      <div class="item-header__status status">
        <div
          class="status-circle"
          [ngClass]="{
            'status-circle_green': trade.status === TRANSACTION_STATUS.COMPLETED,
            'status-circle_yellow':
              trade.status === TRANSACTION_STATUS.WAITING_FOR_DEPOSIT ||
              trade.status === TRANSACTION_STATUS.WAITING_FOR_RECEIVING ||
              trade.status === TRANSACTION_STATUS.DEPOSIT_IN_PROGRESS ||
              trade.status === TRANSACTION_STATUS.WITHDRAW_IN_PROGRESS ||
              trade.status === TRANSACTION_STATUS.PENDING,
            'status-circle_red':
              trade.status === TRANSACTION_STATUS.CANCELLED ||
              trade.status === TRANSACTION_STATUS.REJECTED
          }"
        >
          <div class="status-circle__inner"></div>
        </div>

        <app-rubic-button
          *ngIf="trade.status === TRANSACTION_STATUS.WAITING_FOR_RECEIVING"
          size="s"
          [loading]="item.inProgress"
          (onClick)="onReceive(trade, $event)"
          >{{ 'tradesTable.receive' | translate }}</app-rubic-button
        >

        <div class="status__text">{{ translationStatusKeys[trade.status] | translate }}</div>
      </div>

      <div class="item-header__blockchains-container">
        <div class="blockchains">
          <div class="blockchains__blockchain">
            <div class="img-container">
              <img [src]="BLOCKCHAINS[trade.fromToken.blockchain].img" alt="from blockchain" />
            </div>
            {{ BLOCKCHAINS[trade.fromToken.blockchain].name }}
          </div>

          <img
            src="assets/images/icons/my-trades/arrow-down.svg"
            *ngIf="trade.fromToken.blockchain !== trade.toToken.blockchain"
            alt
          />

          <div
            class="blockchains__blockchain"
            *ngIf="trade.fromToken.blockchain !== trade.toToken.blockchain"
          >
            <div class="img-container">
              <img [src]="BLOCKCHAINS[trade.toToken.blockchain].img" alt="to blockchain" />
            </div>
            {{ BLOCKCHAINS[trade.toToken.blockchain].name }}
          </div>
        </div>
      </div>

      <div class="item-header__token token">
        <span>{{ trade.toToken.amount | bigNumberFormat | withRound: 'toClosestValue' }}</span>
        <div class="token__info">
          <div class="img-container">
            <img [src]="trade.toToken.image" alt="to token" />
          </div>
          {{ trade.toToken.symbol }}
        </div>
      </div>

      <div class="item-header__provider provider">
        <div class="img-container">
          <img [src]="TRADES_PROVIDERS[trade.provider].image" alt="provider" />
        </div>
        {{ TRADES_PROVIDERS[trade.provider].name }}
      </div>

      <div class="item-header__date date">
        <span>{{ trade.date | date: 'dd.MM.yyyy' }}</span>
        <span>{{ trade.date | date: 'HH:mm' }}</span>
      </div>
    </div>

    <ng-template tuiAccordionItemContent>
      <div class="row">
        <div class="row__title">
          {{ 'tradesTable.columns.from' | translate
          }}<img src="assets/images/icons/my-trades/arrow-right.svg" alt />{{
            'tradesTable.columns.to' | translate
          }}
        </div>

        <div class="row__data">
          <div class="blockchains">
            <div class="blockchains__blockchain">
              <div class="img-container">
                <img [src]="BLOCKCHAINS[trade.fromToken.blockchain].img" alt="from blockchain" />
              </div>
              {{ BLOCKCHAINS[trade.fromToken.blockchain].name }}
            </div>

            <img
              src="assets/images/icons/my-trades/arrow-down.svg"
              *ngIf="trade.fromToken.blockchain !== trade.toToken.blockchain"
              alt
            />

            <div
              class="blockchains__blockchain"
              *ngIf="trade.fromToken.blockchain !== trade.toToken.blockchain"
            >
              <div class="img-container">
                <img [src]="BLOCKCHAINS[trade.toToken.blockchain].img" alt="to blockchain" />
              </div>
              {{ BLOCKCHAINS[trade.toToken.blockchain].name }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row__title">{{ 'tradesTable.columns.provider' | translate }}</div>

        <div class="row__data">
          <div class="provider">
            <div class="img-container">
              <img [src]="TRADES_PROVIDERS[trade.provider].image" alt="provider" />
            </div>
            {{ TRADES_PROVIDERS[trade.provider].name }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row__title">{{ 'tradesTable.columns.send' | translate }}</div>

        <div class="row__data">
          <div class="token">
            <span>{{
              trade.fromToken.amount | bigNumberFormat | withRound: 'toClosestValue'
            }}</span>
            <div class="token__info">
              <div class="img-container">
                <img [src]="trade.fromToken.image" alt="from token" />
              </div>
              {{ trade.fromToken.symbol }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row__title">{{ 'tradesTable.columns.expected' | translate }}</div>

        <div class="row__data">
          <div class="token">
            <span>{{ trade.toToken.amount | bigNumberFormat | withRound: 'toClosestValue' }}</span>
            <div class="token__info">
              <div class="img-container">
                <img [src]="trade.toToken.image" alt="to token" />
              </div>
              {{ trade.toToken.symbol }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row__title">{{ 'tradesTable.columns.explorerLink' | translate }}</div>

        <div class="row__data row__data_explorer-link">
          <a class="explorer-link" safetyLink [link]="getTransactionLink(trade)">{{
            trade.transactionHash
          }}</a>
        </div>
      </div>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>

<tui-pagination
  *ngIf="!!pagesLength"
  [length]="pagesLength"
  [activePadding]="0"
  [index]="page"
  (indexChange)="goToPage($event)"
></tui-pagination>
