@import '~@taiga-ui/core/styles/taiga-ui-local';

@import 'src/scss/vars';
@import 'src/scss/mixins';

@import '../styles';

:host {
  --tui-secondary-hover: #{$rubic-base-01};
  --tui-secondary-active: #{$rubic-base-01};
  --tui-link: #{$rubic-primary};
  --tui-link-hover: #{$rubic-primary};
  --tui-link-active: #{$rubic-secondary};
}

.sort-by-dropdown {
  display: flex;
  grid-gap: 15px;
  align-items: center;

  margin-bottom: 20px;

  tui-hosted-dropdown {
    .title {
      display: flex;
      flex-wrap: nowrap;
      grid-gap: 5px;

      .arrow-right {
        ::ng-deep {
          svg path {
            fill: #{$rubic-primary};
          }
        }
      }
    }

    ::ng-deep {
      > .wrapper > button {
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }

  .icon {
    @include transition(transform);

    &_rotated {
      transform: rotate(180deg);
    }
  }

  &__sort-arrows {
    display: flex;

    .sort-arrow {
      width: 15px;
      height: 16px;

      ::ng-deep {
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

tui-dropdown-box {
  ::ng-deep {
    button {
      color: #808080;
    }
  }
}

tui-data-list {
  .title {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 5px;
  }
}

.accordions {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.item {
  color: #808080;

  box-shadow: -30px -30px 80px #fff0, 30px 30px 80px rgba(84, 129, 90, 0.15), inset 4px 4px 50px rgba(255, 255, 255, 0.6);

  ::ng-deep {
    .wrapper[automation-id='tui-accordion__item-wrapper'] {
      background: transparent !important;

      &::after {
        border: none;
      }
    }

    .header[automation-id='tui-accordion__item-header'] {
      min-height: 88px;

      background: rgba(255, 255, 255, 0.3);
      border: none;
      box-shadow: -30px -30px 80px #fff0, 30px 30px 80px rgba(84, 129, 90, 0.15), inset 4px 4px 50px rgba(255, 255, 255, 0.6);
      
      .title[automation-id='tui-accordion__item-title'] {
        overflow: visible;
      }
    }

    tui-expand {
      .wrapper {
        background: rgba(255, 255, 255, 0.2);

        .content {
          padding: 0;
        }
      }
    }
  }
}

.item-header {
  display: flex;
  align-items: center;

  color: #808080;
  font-size: 15px;

  &__status {
    width: 165px;
    margin-right: 5%;
  }

  &__blockchains-container {
    width: 158px;

    margin-right: 6%;

    .blockchains {
      width: fit-content;
    }
  }

  &__token {
    margin-right: auto;
  }

  &__provider {
    justify-content: flex-start !important;

    width: 117px;
    margin-right: 5%;
  }

  &__date {
    margin-right: 10px;
  }
}

.status {
  position: relative;

  display: flex;
  flex-direction: column;
  grid-gap: 5px;

  padding-top: 6px;

  &__text {
    text-transform: capitalize;
  }

  app-rubic-button {
    position: absolute;
    top: 0;
    left: 31px;

    ::ng-deep {
      button {
        height: 32px;

        font-size: 14px;
      }
    }
  }
}

.blockchains {
  display: flex;
  flex-direction: column;
  grid-gap: 2px;
  align-items: center;

  &__blockchain {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 8px;
    align-items: center;

    white-space: nowrap;
  }

  img {
    align-self: center;
  }
}

.token {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;

  &__info {
    display: flex;
    grid-gap: 8px;
    align-items: center;
  }
}

.provider {
  display: flex;
  grid-gap: 12px;
  align-items: center;
  justify-content: center;
}

.date {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
}

.row {
  display: grid;
  grid-template-columns: 157px 1fr;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid white;
  }

  &__title {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 5px;
    align-items: center;

    height: 100%;
    padding: 16px 29px;

    border-right: 1px solid white;
  }

  &__data {
    max-width: 280px;
    padding: 15px 30px;
    overflow: hidden;

    &_explorer-link {
      max-width: 100%;
      overflow: hidden;
    }

    .token {
      text-align: center;

      span {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &__info {
        justify-content: center;
      }
    }

    .explorer-link {
      display: block;

      max-width: 100%;
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

tui-pagination {
  ::ng-deep {
    .button {
      .wrapper[data-appearance='flat'] {
        color: #808080;
        font-weight: 500;
      }
    }
  }
}

@include b(1023) {
  .item-header {
    &__provider {
      display: none;
    }
  }
}

@include b($laptop) {
  .item-header {
    &__blockchains-container {
      display: none;
    }
  }
}

@include b($mobile-md) {
  .item-header {
    &__status {
      width: initial;
      margin-right: auto;
    }

    &__token {
      display: none;
    }
  }

  .row {
    &__title {
      flex-direction: column;
      justify-content: center;

      img {
        transform: rotate(90deg);
      }
    }
  }
}

@include b($mobile-sm-plus) {
  .row {
    grid-template-columns: 109px 1fr;

    &__title {
      padding: 16px;
    }

    &__data {
      .blockchains {
        &__blockchain {
          white-space: normal;
        }
      }

      .token {
        &__info {
          justify-content: center;
        }
      }
    }
  }
}

@include b($mobile-sm) {
  .item-header {
    .status {
      width: 70px;

      white-space: normal;
    }

    .date {
      position: relative;
      top: 12px;

      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
