@use 'src/scss/core' as *;

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 300px;
  padding-bottom: 20px;
}

.provider {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 52px;
  padding: 10px 20px;

  border-radius: 14px;

  transition: 0.2s ease-in-out;

  @include b($mobile-sm-plus) {
    flex-direction: column;
    height: auto;

    app-smart-routing {
      width: 100%;
    }
  }

  &__statuses {
    display: flex;
    gap: 5px;
  }

  &_selected {
    border: 1px solid green;
  }

  &_best {
    color: green;
    font-weight: 600;
  }

  > div {
    display: flex;
  }

  &:hover {
    background: rgba(130, 130, 130, 0.15);
    cursor: pointer;
  }
}

app-smart-routing {
  display: block;
  width: 50%;
}


:host ::ng-deep {
  .route {
    padding: 0 !important;

    &__line {
      &::after {
        font-size: 18px;
      }
    }
  }

  .dex {
    &__name {
      display: none;
    }

    &__icon {
      margin-bottom: 0 !important;
    }
  }
}
