@import 'src/scss/vars';
@import 'src/scss/mixins';

.crypto-tap-output {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 88px;
  padding: 20px;

  font-family: $sf-pro-font;

  background: var(--main-background);

  &__left {
    margin-right: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  &__amount {
    width: 100%;

    color: var(--form-bright-text-color);
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-align: right;

    @include b($mobile-sm) {
      text-align: left;
    }
  }
}

.user-balance-container {
  &__balance {
    color: var(--form-dim-text-color);
    font-size: 14px;
    line-height: 17px;
  }
}

.usd-price-container {
  display: flex;
  grid-gap: 8px;
  justify-content: flex-end;

  color: var(--form-dim-text-color);
  font-size: 14px;
  line-height: 17px;

  &[hidden] {
    display: none !important;
  }

  &__price {
    overflow: hidden;

    letter-spacing: 0.1em;
    text-overflow: ellipsis;

    cursor: default;
  }
}

@include b($mobile-sm) {
  .crypto-tap-output {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &__wrapper {
      margin-bottom: 3px;
    }
  }

  .usd-price-container {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
