@use 'src/scss/core' as *;

:host {
  --tui-secondary: var(--io-background);
  --tui-background-neutral-1-hover: var(--io-background);
  --tui-secondary-active: #2c2d36;
  --tui-text-action: #9a9ab0;
}

.preset-container {
  display: flex;
  gap: 2px;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 12px;

  button {
    flex: 1;
    height: 50px;

    font-size: clamp(12px, 1.2vw + 8px, 15px);

    background-color: var(--io-background);

    border-radius: 0;

    &:first-child {
      border-bottom-left-radius: var(--tui-radius-m);
    }

    &:last-child {
      border-bottom-right-radius: var(--tui-radius-m);
    }
  }
}

.active {
  color: var(--tui-background-accent-1) !important;
}
