@use 'src/scss/core' as *;

:host {
  --tui-secondary: var(--io-background);
  --tui-secondary-hover: var(--tui-secondary);
  --tui-secondary-active: #2c2d36;
}

.preset-container {
  display: flex;
  gap: 2px;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 12px;

  button {
    flex: 1;
    height: 50px;

    font-size: clamp(12px, 1.2vw + 8px, 15px);

    border-radius: 0;

    &:first-child {
      border-bottom-left-radius: var(--tui-radius-m);
    }

    &:last-child {
      border-bottom-right-radius: var(--tui-radius-m);
    }

    ::ng-deep .t-wrapper {
      padding: 0;

      color: var(--tui-text-02);
    }
  }
}

.active {
  ::ng-deep .t-wrapper {
    color: var(--tui-primary) !important;
  }
}
