@use 'src/scss/vars' as *;
@use 'src/scss/mixins' as *;

:host {
  display: block;
  width: 100%;
  max-width: 985px;
  margin: 0 auto;
  padding-top: 16px;
}

.staking-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 62px;

  background: var(--rubic-base-19);
  border-radius: 22px;
  box-shadow: var(--shadow-light);

  @include b($tablet) {
    flex-direction: column;
    padding: 18px 24px 16px;

    &__title {
      margin-bottom: 18px;

      font-size: 20px;
    }
  }

  &__closed {
    color: $rubic-text-error;
  }

  &__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
  }

  &__tabs {
    --background-color: var(--form-header-color-1);

    display: flex;
    width: 100%;
    max-width: 358px;
    padding: 6px;
    
    background: var(--background-color);
    border-radius: 100px;

    @include dark {
      --background-color: #2e322f;
    }

    &-tab {
      width: 100%;
      padding: 10.5px 0px;

      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      text-align: center;

      border-radius: 100px;
      cursor: pointer;

      &:first-child {
        margin-right: 6px;
      }

      &_active {
        background-color: $rubic-primary;
      }
    }
  }
}
