<div class="custom-token-section">
  <div class="custom-token-section__toggler-container">
    <label
      class="custom-token-section__toggler"
      [for]="type + '-custom-token'"
      (click)="isSectionOpened = !isSectionOpened"
    >
      {{ isSectionOpened ? ('common.cancel' | translate) : ('common.useCustomToken' | translate) }}
    </label>
  </div>

  <div class="custom-token-section__form form" *ngIf="isSectionOpened">
    <input
      type="text"
      class="form__input"
      [id]="type + '-custom-token'"
      placeholder="{{ 'common.contractAddress' | translate }}"
      pattern="0x[A-Fa-f0-9]{40}"
      appTokenAddress
      [blockchain]="blockchain"
      (tokenIsValidated)="tokenIsValidated.emit($event)"
      [(ngModel)]="tokenAddress"
      #customTokenModel="ngModel"
      [ngClass]="{
        form__input_invalid: customTokenModel.value && customTokenModel.invalid
      }"
    />
    <app-primary-button
      label="{{ 'common.add' | translate }}"
      [animate]="customTokenModel.pending"
      [disabled]="!customTokenModel.valid"
      (onClick)="addToken.emit()"
    ></app-primary-button>
  </div>
</div>
