@import 'src/scss/mixins';
@import 'src/scss/vars';

.custom-token-section {
  text-align: right;

  &__toggler {
    display: block;

    margin-left: auto;
    padding-right: 6px;

    color: $grey-text;

    cursor: pointer;

    transition: font-weight 0.1s linear;

    &:hover {
      font-weight: 500;
    }
  }

  &__form {
    margin-top: 9px;
  }
}

.form {
  display: flex;
  grid-gap: 10px;

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    padding: 11px 10px 11px 14px;

    color: $dark;
    font-size: 18px;

    font-family: $ubuntu-font;

    background: $grey-background;
    border: 1px solid white;

    &_invalid {
      border: 1px solid $error-red;

      &:focus {
        box-shadow: 0 0 2px $error-red;
      }
    }
  }
}

@include b($desktop) {
  .form {
    &__input {
      font-size: 14px;
    }
  }
}

@include b($laptop) {
  .custom-token-section {
    text-align: left;

    &__toggler {
      margin-left: 0;
    }
  }
}

@include b($mobile-sm) {
  .custom-token-section {
    &__form {
      flex-direction: column;
    }
  }

  .tokens-form {
    &__input {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}
