@use 'src/scss/core' as *;

:host {
  .body {
    @include flex(column, normal, center);
    gap: 16px;
    width: 100%;

    &-icon {
      @include flex(row, center, center);
    }

    &-title {
      font-weight: 500;
      font-size: 28px;
      text-align: center;
    }

    &-content {
      @include flex(column, normal, center);
      padding: 16px;
      background: var(--tui-background-base);

      &__row:not(:last-child) {
        border-bottom: 1px solid var(--tui-background-neutral-1);
      }

      &__row {
        @include flex(row, center, spac-between);
        gap: 10px;
        padding: 14px 0px;
        font-weight: 400;
        font-size: 16px;

        .key {
          color: var(--tui-text-secondary);
        }

        .value {
          color: var(--tui-text-primary);
        }
      }
    }

    &-footer {
      @include flex(column, center, center);
      gap: 16px;
      width: 100%;

      &__link {
        @include flex(row, center, center);
        gap: 6px;

        &:hover {
          &-text {
            text-decoration: underline;
          }
        }
      }

      &__btn {
        width: 100%;

        button {
          width: 100%;
          max-width: 331px;
        }
      }
    }
  }
}
