<form class="stake">
  <div class="stake__wrapper">
    <app-staking-tokens class="stake__select"></app-staking-tokens>

    <input
      autocomplete="off"
      class="stake__input"
      name="token-amount"
      placeholder="100,000"
      appTokenAmount
    />

    <div class="stake__balance">
      You have 143,000
      <button class="stake__balance-max">MAX</button>
    </div>

    <div class="stake__price">$22,379.00</div>
  </div>
  <hr class="stake__line" />
  <div class="stake__wrapper">
    <app-staking-tokens class="stake__select"></app-staking-tokens>

    <input
      autocomplete="off"
      class="stake__input"
      name="token-amount"
      placeholder="100,000"
      appTokenAmount
    />

    <div class="stake__balance">
      You have 143,000
      <button class="stake__balance-max">MAX</button>
    </div>

    <div class="stake__price">$22,379.00</div>
  </div>

  <app-rubic-button class="stake__button" appearance="secondary">
    {{ 'staking.withdraw.button' | translate }}
  </app-rubic-button>
</form>
