<div class="bottom-amount" *ngLet="isFormFilled$ | async as isFormFilled">
  <div class="bottom-amount__blockchain-and-value" *ngLet="formData$ | async as formData">
    <div
      class="bottom-amount__output"
      [ngClass]="{
        'bottom-amount__output_error': errorText
      }"
    >
      <ng-container *ngLet="toAmount$ | async as toAmount">
        <ng-container *ngIf="!errorText && !toAmount && isFormFilled">
          <span class="blink-animation">Loading</span>
        </ng-container>

        <ng-container *ngIf="toAmount?.gt(0) && !errorText">
          {{
            toAmount
              | bigNumberFormat
              | withRound
                : 'toClosestValue'
                : { minRound: 3, maxRound: 5, decimals: formData.toToken?.decimals }
          }}
          <app-tokens-rate></app-tokens-rate>
        </ng-container>

        <ng-container *ngIf="errorText">
          {{ 'errors.tradingIsNotAvailable' | translate }}

          <div
            tuiHintAppearance="error"
            class="bottom-amount__hint bottom-amount__hint_error"
            [inlineSVG]="'/assets/images/icons/hint.svg'"
            [tuiHint]="errorText | translate"
          ></div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
