@use 'src/scss/core' as *;

.nav {
  @include flex(column, normal, center);
  gap: var(--tui-padding-s);

  padding: var(--tui-padding-m);

  background: var(--secondary-background);
  border-radius: var(--tui-radius-m);

  @include b($mobile-md) {
    flex-direction: row;

    &__item {
      font-size: var(--tui-font-text-s);
    }
  }
 
  &__item {
    ::ng-deep {
      .t-wrapper {
        background: var(--tui-secondary-active);

        &:hover {
          background: var(--app-background);
        }
      }
    }

    &-active {
      ::ng-deep {
        .t-wrapper {
          color: var(--tui-primary-text);

          background: var(--tui-primary);

          &:hover {
            background: var(--tui-primary);
          }
        }
      }
    }
  }
}

.mobile-nav {
  position: fixed;
  bottom: 88px;
  left: 50%;
  z-index: 1;

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  gap: 2px;
  justify-content: safe center;
  width: auto;
  max-width: calc(100% - 32px);
  overflow-x: auto;

  -webkit-box-shadow: 0px 2px 17px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 17px 5px rgba(0, 0, 0, 0.16);
  transform: translateX(-50%);
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    padding: var(--tui-padding-xs) 0;

    color: white;

    background: var(--secondary-background);
    cursor: pointer;

    transition: all 0.2s ease;

    &:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &:last-child {
      border-right: none;
    }

    &__image {
      display: block;
      height: 24px;
      margin-bottom: 4px;
    }

    &__text {
      font-weight: 500;
      font-size: 12px;
    }

    &-active {
      background: var(--tui-primary);
    }

    &-disabled {

      pointer-events: none;

      > * {
        opacity: 0.5;
      }
    }
  }
}
