<form class="invite-form" #inviteForm="ngForm" (submit)="sendInviteForm()">
  <div *ngIf="!formSuccess">

    <div class="invite-form_title" *ngIf="!data.fullForm" translate="INDEX_PAGE.MODAL_FORM.TITLE_1"></div>
    <div class="invite-form_title" *ngIf="data.fullForm" translate="INDEX_PAGE.MODAL_FORM.TITLE_2"></div>

    <!-- div class="invite-form-field" *ngIf="data.fullForm">
      <div class="invite-form-field_input icon-field icon-field__username">
        <input type="text" [placeholder]="'INDEX_PAGE.MODAL_FORM.FIELDS.NAME.PLACEHOLDER'|translate"
               [(ngModel)]="request.name"
               name="name">
      </div>
    </div -->

    <div class="invite-form-field">
      <div class="invite-form-field_label" *ngIf="!data.fullForm" translate="INDEX_PAGE.MODAL_FORM.FIELDS.EMAIL.LABEL"></div>
      <div class="invite-form-field_input icon-field icon-field__email">
        <input type="email"
               [placeholder]="'INDEX_PAGE.MODAL_FORM.FIELDS.EMAIL.PLACEHOLDER'|translate"
               [(ngModel)]="request.email"
               email="true"
               name="email" required>
      </div>
    </div>
    <div class="invite-form-field">
      <div class="invite-form-field_label" *ngIf="!data.fullForm"
           translate="INDEX_PAGE.MODAL_FORM.FIELDS.TELEGRAM.LABEL">
      </div>
      <div class="invite-form-field_input icon-field icon-field__telegram">
        <input type="text"
               [placeholder]="'INDEX_PAGE.MODAL_FORM.FIELDS.TELEGRAM.PLACEHOLDER'|translate"
               [(ngModel)]="request.telegram"
               name="telegram" [required]="!inviteForm.value?.email">
      </div>
    </div>
    <div class="invite-form-field text-center">
      <button class="new-btn new-btn-yellow" [disabled]="!inviteForm.valid" type="submit">
        <span *ngIf="!data.fullForm" translate="INDEX_PAGE.MODAL_FORM.BUTTONS.BUTTON_1"></span>
        <span *ngIf="data.fullForm" translate="INDEX_PAGE.MODAL_FORM.BUTTONS.BUTTON_2"></span>
      </button>
    </div>

    <button class="invite-form_closer" mat-dialog-close></button>

  </div>

  <div class="success-message" *ngIf="formSuccess">
    <div class="invite-form_title" translate="INDEX_PAGE.MODAL_FORM.SUCCESS_MESSAGE.PART_1"></div>
    {{'INDEX_PAGE.MODAL_FORM.SUCCESS_MESSAGE.PART_2'|translate}}
    <div class="invite-form-field text-center">
      <button class="new-btn new-btn-yellow" mat-dialog-close type="button">
        <span translate="INDEX_PAGE.MODAL_FORM.BUTTONS.CLOSE"></span>
      </button>
    </div>
  </div>

</form>
