.invite-form {
  font-family: "TT Norms";
  padding: 30px;
  position: relative;
  &_title {
    font-size: 27px;
    line-height: 32px;
    color: #3B4452;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .invite-form-field {
    + .invite-form-field {
      margin-top: 20px;
    }
    font-size: 14px;
    line-height: 17px;
    color: #858D99;
    &_label {
      color: inherit;
      margin-bottom: 8px;
      text-transform: none;
    }
    &_input {
      input {
        border: 1px solid #cfd9e9;
        width: 100%;
        height: 44px;
        font: inherit;
        box-sizing: border-box;
        padding-left: 20px;
      }
      &.icon-field {
        position: relative;
        input {
          padding-left: 52px;
        }
        &:after {
          position: absolute;
          left: 1px;
          top: 1px;
          bottom: 1px;
          width: 40px;
          content: '';
          display: block;
          background-color: #fff;
          background-repeat: no-repeat;
          background-position: center center;
        }
        &__username {
          &:after {
            background-image: url(/assets/images/new-index/icons/form/profile.svg);
          }
        }
        &__email {
          &:after {
            background-image: url(/assets/images/new-index/icons/form/email.svg);
          }
        }
        &__telegram {
          &:after {
            background-image: url(/assets/images/new-index/icons/form/telegram.svg);
          }
        }
      }
    }
    .new-btn {
      height: 49px;
      margin-top: 20px;
      span {
        font-size: 17px;
        font-weight: bold;
      }
    }
  }
  &_closer {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0 none;
    background: none;
    margin: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    &:after, &:before {
      content: '';
      display: block;
      height: 2px;
      background-color: #474d54;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
      margin-top: -2px;
    }
  }
}


