<tui-accordion-item
  [style.display]="showTransactionInfo ? 'block' : 'none'"
  class="transaction-info"
  [ngClass]="{ 'transaction-info__opened': accordionOpened }"
  [borders]="null"
  [showArrow]="false"
  [noPadding]="true"
  [(open)]="accordionOpened"
>
  <div class="transaction-info__header">
    {{ 'common.transactionDetails' | translate }}
    <img
      src="assets/images/icons/arrow-down.svg"
      alt="expand"
      class="transaction-info__header-arrow"
      [class.transaction-info__header-arrow_opened]="accordionOpened"
    />
  </div>
  <div tuiAccordionItemContent>
    <tui-loader [showLoader]="loading" [overlay]="true">
      <div class="swaps-info">
        <hr class="delimiter" />

        <app-instant-trade-swap-info
          *ngIf="isInstantTrade; else crossChainSwapInfo"
          [currentOnChainTrade]="currentInstantTradeInfo?.trade"
        ></app-instant-trade-swap-info>

        <ng-template #crossChainSwapInfo>
          <app-cross-chain-bridge-swap-info
            [swapType]="swapType"
          ></app-cross-chain-bridge-swap-info>
        </ng-template>
      </div>
    </tui-loader>
  </div>
</tui-accordion-item>
