<ng-template #logoutConfirmation>
  <div class="dialog-block">
    <div class="dialog-block__content">
      <div class="alert-window-title">
        {{ 'Do you really want to Log Out?' | translate }}
      </div>
      <br /><br />
      <div class="alert-window-buttons text-center">
        <div class="grid-row">
          <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
            <app-primary-button
              matDialogClose
              [label]="'Yes' | translate"
              (click)="confirmLogout()"
              [disabled]="logoutProgress"
              backgroundColor="white"
              textColor="#4aa956"
              [border]="true"
              [hideArrow]="true"
            ></app-primary-button>
          </div>
          <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
            <app-primary-button
              matDialogClose
              [label]="'No' | translate"
              [hideArrow]="true"
            ></app-primary-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
