<ng-template #logoutConfirmation>
  <div class="dialog-block">
    <div class="dialog-block__content">
      <div class="alert-window-title">
        {{ 'navigation.logoutMessage' | translate }}
      </div>
      <br /><br />
      <div class="alert-window-buttons text-center">
        <div class="grid-row">
          <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
            <button
              class="btn btn-transparent btn-min"
              type="button"
              (click)="confirmLogout()"
              [disabled]="logoutProgress"
            >
              <span class="lds-ellipsis" *ngIf="logoutProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="just-title">
                &nbsp;&nbsp;&nbsp;{{ 'common.yes' | translate }}&nbsp;&nbsp;&nbsp;
              </span>
              </button
            ><br />
          </div>
          <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
            <button class="btn btn-green btn-min" matDialogClose type="button">
              <span>&nbsp;&nbsp;&nbsp;{{ 'common.no' | translate }}&nbsp;&nbsp;&nbsp;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>