@import 'src/scss/vars';
@import 'src/scss/mixins';

.lds-ellipsis-container {
  span {
    background: $main-green;
  }
}

.dialog-block {
  padding-top: 20px;

  &__body-row {
    > *:not(:last-child) {
      @include b($mobile-sm-plus) {
        margin-bottom: 15px;
      }
    }
  }
}
