<div class="dialog-block">
  <div class="dialog-block__content">
<!--    <div class="alert-window-title">-->
<!--      {{ 'navigation.logoutMessage' | translate }}-->
<!--    </div>-->
<!--    <br /><br />-->
    <div class="text-center dialog-block__body">
      <div class="grid-row dialog-block__body-row">
        <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
          <app-rubic-button
            fullWidth
            appearance="outline"
            (click)="confirmLogout()">
            {{ 'common.yes' | translate }}
          </app-rubic-button>
        </div>
        <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
          <app-rubic-button
            fullWidth
            appearance="secondary"
            (click)="close()">
            {{ 'common.no' | translate }}
          </app-rubic-button>
        </div>
      </div>
    </div>
  </div>
</div>
