<tui-accordion-item
  *ngIf="showTransactionInfo"
  class="transaction-info"
  [borders]="null"
  [showArrow]="false"
  [noPadding]="true"
  [(open)]="accordionOpened"
>
  <div class="transaction-info__header">
    <img src="assets/images/icons/hint.svg" alt="info" class="transaction-info__header-hint" />
    Transaction info
    <img
      src="assets/images/icons/arrow-down.svg"
      alt="expand"
      class="transaction-info__header-arrow"
      [class.transaction-info__header-arrow_opened]="accordionOpened"
    />
  </div>
  <div tuiAccordionItemContent>
    <tui-loader [showLoader]="loading" [overlay]="true">
      <div class="swaps-info">
        <h1 class="swaps-info__title">Transaction Info</h1>
        <hr class="delimiter" />

        <app-instant-trade-swap-info
          *ngIf="isInstantTrade; else crossChainSwapInfo"
          [currentInstantTrade]="currentInstantTradeInfo?.trade"
        ></app-instant-trade-swap-info>

        <ng-template #crossChainSwapInfo>
          <app-cross-chain-bridge-swap-info
            [swapType]="swapType"
          ></app-cross-chain-bridge-swap-info>
        </ng-template>
      </div>
    </tui-loader>
  </div>
</tui-accordion-item>
