<ng-container
  *ngLet="{
    headerText: headerText$ | async,
    selectorListType: selectorListType$ | async,
    tokensSearchQuery: tokensSearchQuery$ | async,
    blockchainsSearchQuery: blockchainsSearchQuery$ | async,
    assetListType: assetListType$ | async,
    tokensToShow: tokensToShow$ | async,
    pageLoading: pageLoading$ | async,
    balanceLoading: balanceLoading$ | async,
    customToken: customToken$ | async,
    blockchainFilter: blockchainFilter$ | async,
    blockchainsToShow: blockchainsToShow$ | async
  } as state"
>
  <section class="assets-selector">
    <ng-container header *ngIf="!isMobile">
      <div class="assets-selector__header">
        <app-back-button [isMobile]="false" (onClick)="backToForm()"></app-back-button>
        <span class="back-button__text">{{ headerText$ | async }}</span>
      </div>
    </ng-container>

    <ng-container>
      <app-blockchains-filter-list
        *ngIf="!isMobile && state.selectorListType !== 'blockchains'"
        [selectedFilter]="state.blockchainFilter"
        (selectFilter)="handleBlockchainFilterSelection($event)"
      ></app-blockchains-filter-list>
      <ng-container
        *ngIf="!isMobile && state.selectorListType === 'blockchains'; then searchBar"
      ></ng-container>
      <div class="assets-selector__row">
        <ng-container *ngIf="state.selectorListType !== 'blockchains'">
          <app-asset-types-aside
            [type]="type"
            [blockchainsToShow]="state.blockchainsToShow"
            [searchQuery]="state.blockchainsSearchQuery"
            [blockchainFilter]="state.blockchainFilter"
            [totalBlockchains]="totalBlockchains"
            [assetListType]="state.assetListType"
            (handleBlockchainSelect)="selectAssetList($event)"
            (handleFilterSelect)="handleBlockchainFilterSelection($event)"
            (onSearchQuery)="onBlockchainsQuery($event)"
          ></app-asset-types-aside>
          <ng-container *ngIf="isMobile; then searchBar"></ng-container>

          <div class="token-list-container" *ngIf="state.selectorListType === 'tokens'">
            <div class="token-list-container__list">
              <app-tokens-list
                [balanceLoading]="state.balanceLoading"
                [customToken]="state.customToken"
                [listType]="state.assetListType"
                [loading]="state.pageLoading"
                [tokensSearchQuery]="state.tokensSearchQuery"
                [tokensToShow]="state.tokensToShow"
                [totalBlockchains]="totalBlockchains"
                (selectAssetList)="selectAssetList($event)"
                (selectToken)="selectToken($event)"
                (switchMode)="switchMode()"
                (onTokenSearch)="onTokensQuery($event)"
              ></app-tokens-list>
            </div>
          </div>
        </ng-container>
      </div>

      <ng-template #searchBar>
        <div class="assets-selector__row">
          <app-search-tokens-bar
            [searchQuery]="state.tokensSearchQuery"
            [totalBlockchains]="totalBlockchains"
            (queryChange)="onTokensQuery($event)"
          ></app-search-tokens-bar>
          <app-switch-list-type-button
            *ngIf="state.selectorListType === 'tokens'"
            [assetListType]="state.assetListType"
            (switchListType)="switchMode()"
          >
          </app-switch-list-type-button>
        </div>
      </ng-template>
    </ng-container>
  </section>
</ng-container>
