<aside class="blockchain-aside">
  <tui-scrollbar class="blockchain-aside__scroll">
    <ul
      class="blockchain-aside__blockchains-list"
      [ngClass]="{ 'blockchain-aside__blockchains-list_clearfix': showClearFix }"
    >
      <ng-container *ngFor="let blockchainItem of blockchainsList">
        <ng-container *ngLet="blockchainItem | functionCall: isDisabled:this as disabled">
          <li
            [id]="idPrefix + 'Network_' + blockchainItem.name"
            [ngClass]="{ disabled: disabled }"
            tuiHintMode="error"
            [tuiHint]="blockchainItem | functionCall: getHintText:this"
          >
            <app-icon-button
              [icon]="blockchainItem.icon"
              [disabled]="blockchain === blockchainItem.name || disabled"
              [border]="blockchain === blockchainItem.name"
              [borderRadiusPercent]="50"
              [label]="blockchainItem.label"
              (iconButtonClick)="onBlockchainSelect(blockchainItem.name)"
            >
            </app-icon-button>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </tui-scrollbar>
</aside>
