<aside class="blockchain-aside">
  <tui-scrollbar class="blockchain-aside__scroll">
    <ul
      class="blockchain-aside__blockchains-list"
      [ngClass]="{ 'blockchain-aside__blockchains-list_clearfix': showClearFix }"
    >
      <ng-container *ngFor="let blockchainName of blockchains">
        <ng-container *ngLet="isDisabledFromBlockchain(blockchainName) as disabledFrom">
          <ng-container
            *ngLet="isDisabledConfigurationBlockchain(blockchainName) as disabledConfiguration"
          >
            <li
              [id]="idPrefix + 'Network_' + blockchainName"
              [ngClass]="{ disabled: disabledFrom || disabledConfiguration }"
              tuiHintMode="error"
              [tuiHint]="disabledFrom ? 'Select as target network' : null"
            >
              <app-icon-button
                [icon]="blockchainIcon[blockchainName]"
                [disabled]="blockchain === blockchainName || disabledFrom || disabledConfiguration"
                [border]="blockchain === blockchainName"
                [borderRadiusPercent]="50"
                [label]="blockchainLabel[blockchainName]"
                (iconButtonClick)="onBlockchainSelect(blockchainName)"
                appearance="secondary"
              >
              </app-icon-button>
            </li>
          </ng-container>
        </ng-container>
      </ng-container>
    </ul>
  </tui-scrollbar>
</aside>
