<ng-container *ngLet="routingForm$ | async as routingForm">
  <div tuiNotification
    size="m"
    *ngIf="displayMev"
    [appearance]="routingForm.value.useMevBotProtection ? 'success' : 'warning'"
    class="mev-bot"
    [tuiHint]="
      'You can turn on the MEV-bot protection, this will ensure better security of your trade.'
    "
    [tuiHintManual]="!routingForm.value.useMevBotProtection"
    tuiHintDirection="end"
    ><div>
      <div class="tui-text_body-l-2">
        <strong>MEV bot protection</strong>
      </div>
      <div class="mev-bot__row">
        Use private RPC to protect your trades
        <form [formGroup]="routingForm" class="settings__form">
          <input
            tuiSwitch
            type="checkbox"
            class="mev-bot__toggle"
            id="useMevBotProtection"
            formControlName="useMevBotProtection"
          />
        </form>
      </div></div
  ></div>
</ng-container>
