<div class="exchanger-form">
  <main class="exchanger-form__container">
    <app-fiat-amount-input></app-fiat-amount-input>

    <div class="exchanger-form__delimiter"></div>

    <section class="exchanger-form__bottom-form bottom-form">
      <div class="bottom-form__output">
        <app-select-token-button [loading]="false"></app-select-token-button>

        <app-onramper-to-amount-estimated></app-onramper-to-amount-estimated>
      </div>

      <div class="bottom-form__buttons">
        <div class="bottom-form__button"></div>
      </div>
    </section>
  </main>
</div>
