.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  display: block;
  width: 100%;
  height: 100%;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 100%;

    background: var(--secondary-background);

    content: '';
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    display: block;
    width: 100%;
    height: 100%;

    background: var(--secondary-background) url('/assets/images/berachella/discord-pattern.svg') center center;
    opacity: 0.35;

    content: '';
  }
}

.discord-block {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--tui-padding-m);
  padding: var(--tui-padding-m);
  overflow: hidden;

  border-radius: var(--tui-radius-m);

  &__text {
    z-index: 1;

    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }
}
