@use 'src/scss/core' as *;

.languages {
  width: 100%;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 10px 60px;
    padding: 3px 30px 28px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    width: min-content;
    padding: 10px 25px 10px 20px;

    color: var(--secondary-text);

    font-size: 16px;
    line-height: 19px;

    border-radius: 10px;

    cursor: pointer;

    &:hover {
      background: var(--secondary-background);
    }

    > div {
      word-break: keep-all;
    }

    &_current {
      color: var(--tui-text-01);
    }
  }

  &__image {
    margin-right: 15px;
  }
}


@include b($tablet) {
  .languages {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }

    &__list-item {
      width: 100%;
    }
  }
}
