<div class="roadmap-container">
  <div class="app-content-block">
    <h2 class="title-section">Roadmap</h2>

    <div class="roadmap-container__block">
      <h2 class="roadmap-container__title">Quarter II 2019</h2>
      <div class="quarter-container quarter-container_right"></div>
    </div>

    <div class="roadmap-container__block">
      <h2 class="roadmap-container__title roadmap-container__title_right">Quarter III 2019</h2>
      <div class="quarter-container quarter-container_left"></div>
    </div>

    <div class="roadmap-container__block">
      <h2 class="roadmap-container__title">Quarter IV 2019</h2>
      <div class="quarter-container quarter-container_right"></div>
    </div>

    <div class="roadmap-container__block">
      <h2 class="roadmap-container__title roadmap-container__title_right">Quarter I 2020</h2>
      <div class="quarter-container quarter-container_left"></div>
    </div>
  </div>
</div>
