<div class="roadmap-container">
  <div class="app-content-block">
    <h2 class="title-section">Roadmap</h2>

    <div class="roadmap-container__block">
      <h2 class="roadmap-container__title">Quarter II 2019</h2>
      <div class="quarter-container quarter-container_right">
        <ul class="quarter-container__list">
          <li class="quarter-container__li quarter-container__li_checked">Launch Swaps.Network on Ethereum <br> (with support of all ERC-20 tokens)</li>
          <li class="quarter-container__li quarter-container__li_checked">Implementation of a single smart contract</li>
          <li class="quarter-container__li quarter-container__li_checked">Implementation of the functionality “Broker”</li>
          <li class="quarter-container__li">Run swaps on one of the following blockchains: <br> TRON, NEO, EOS, Binance</li>
        </ul>

        <div class="quarter-container__flag"></div>
      </div>
    </div>

    <div class="roadmap-container__block">
      <h2 class="roadmap-container__title">Quarter III 2019</h2>
      <div class="quarter-container quarter-container_left">
        <ul class="quarter-container__list">
          <li class="quarter-container__li">Partnerships with major exchanges, centralized OTC and wallets</li>
          <li class="quarter-container__li">Run swaps on two other blockchains</li>
          <li class="quarter-container__li">API implementation for the referral program</li>
        </ul>

        <div class="quarter-container__flag"></div>
      </div>
    </div>

    <div class="roadmap-container__block">
      <h2 class="roadmap-container__title">Quarter IV 2019</h2>
      <div class="quarter-container">
        <ul class="quarter-container__list">
          <li class="quarter-container__li">Run SWAPS for BTC</li>
          <li class="quarter-container__li">IOS & Android mobile application</li>
        </ul>

        <div class="quarter-container__flag"></div>
      </div>
    </div>

    <div class="roadmap-container__block">
      <h2 class="roadmap-container__title">Quarter I 2020</h2>
      <div class="quarter-container quarter-container_left">
        <ul class="quarter-container__list">
          <li class="quarter-container__li">Running Crosschain Solutions for OTC Deals</li>
          <li class="quarter-container__li">SWAPS.NETWORK - the leader in terms of OTC volume in the world</li>
        </ul>

        <div class="quarter-container__flag"></div>
      </div>
    </div>
  </div>
</div>
