.roadmap-container {
  background: url('/assets/images/backgrounds/bg-index-top.png');
  background-size: cover;
  padding-top: 130px;
  &__block {
    width: 70%;
    height: auto;
    margin: 100px auto;
    padding: 15px;
  }
  &__title {
    font-size: 18px;
    color: #FCD600;
    &_right {
      margin-left: 80%;
    }
  }
}

.quarter-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #FCD600;
  &__list {
    line-height: 35px;
    li {
      font-size: 18px;
      color: #fff;
    }
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -55%;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/roadmap/flag.svg') no-repeat;
  }
  &_right {
    &:after {
      right: -97.7%;
    }
  }
  &_left {
    &:after {
      left: -2.5%;
    }
  }
}