@use 'src/scss/core' as *;

:host {
  @include iframe-horizontal {
    display: none;
  }
}

iframe {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999999999;

  opacity: 0;

  transition: 0.2s ease-in-out;
}
