@use 'src/scss/core' as *;

.scrollbar {
  width: 100%;
  min-height: 64px;
  max-height: 400px;
}

.list-container {
  @include flex(column, center, normal);
  width: 100%;
  height: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;

  background: var(--tui-base-01);
  border-radius: var(--tui-radius-m);

  &__element {
    flex: 1;
    min-width: 150px;
    max-width: 184px;
  }

  &__element-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  &__element-container {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
  }

  &__label {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__image-container {
    width: 24px;
    height: 24px;

    svg,
    img {
      width: 100%;
      height: 100%;
    }
  }
}

app-no-result {
  display: block;
  width: 100%;
}

@include b($mobile-md) {
  .scrollbar {
    max-height: fit-content;
  }

  .list {
    padding: var(--tui-padding-l);

    background: none;
    border-top: 3px solid var(--io-background);
    border-radius: 0;

    &__image-container {
      width: 28px;
      height: 28px;
    }

    &__element-container {
      align-items: center;
      justify-content: space-between;
    }

    &__badge-container {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    &__element {
      flex: unset;
      width: 100%;
      max-width: unset;
      height: 56px;

      background: var(--tui-base-01);

      ::ng-deep .t-wrapper {
        padding: 0 var(--tui-padding-l) !important;
      }
    }
  }

  .list-container__search {
    width: 100%;
    height: 56px;
    padding: 0 var(--tui-padding-l);
  }
}
