<div class="list-container">
  <div class="list-container__search">
    <app-search-bar></app-search-bar>
  </div>

  <tui-scrollbar class="scrollbar">
    <div class="list" *ngLet="blockchainsToShow$ | async as blockchainsList">
      <ng-container *ngFor="let blockchain of blockchainsList">
        <ng-container *ngLet="blockchain | functionCall : isDisabled : this as disabled">
          <button
            tuiButton
            appearance="flat"
            type="button"
            size="m"
            class="list__element"
            (click)="!disabled && onBlockchainSelect(blockchain.name)"
            [tuiHint]="blockchain | functionCall : getHintText : this"
            tuiHintAppearance="error"
            [disabled]="disabled"
          >
            <div class="list__element-container">
              <div class="list__image-container">
                <img [src]="blockchain.icon" [alt]="blockchain.label" />
              </div>
              <span class="list__label">{{ blockchain.label }}</span>
            </div>
          </button>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="blockchainsList.length === 0">
        <app-no-result label="No blockchains found" description="Try another query"></app-no-result>
      </ng-container>
    </div>
  </tui-scrollbar>
</div>
