<div
  class="user-balance-container"
  *ngLet="{ tokenAmount: tokenAmount$ | async, isDollarMode: isDollarMode$ | async } as state"
>
  <ng-container *ngIf="state.tokenAmount?.gt(0)">
    <span class="user-balance-container__balance" *ngIf="hide !== 'balance'"
      >Balance:
      <span
        class="user-balance-container__balance_amount"
        (click)="isMobile ? maxButtonClickEvent.emit() : null"
      >
        {{ state.tokenAmount | bigNumberFormat | withRound : 'fixedValue' : { decimals: 6 } }}
        <span *ngIf="state.isDollarMode">$</span>
      </span>
    </span>

    <tui-tag
      *ngIf="hide !== 'maxButton'"
      size="s"
      status="custom"
      value="MAX"
      class="user-balance-container__max-button"
      (click)="maxButtonClickEvent.emit()"
    >
    </tui-tag>
  </ng-container>
</div>
