<div class="cross-chain-swaps">
  <div class="cross-chain-swaps__intro">
    Trading Re<span class="app-index__intro_green app-index__intro_bold">DeFi</span>ned
  </div>

  <div class="cross-chain-swaps__header header">
    <span>{{ 'Create your cross-chain swap' | translate }}</span>

    <a routerLink="/" class="header__swaps-link swaps-link">
      <span class="swaps-link__text">Use our swaps</span>
      <div class="swaps-link__arrow-button">
        <img src="assets/images/icons/arrow/arrow-right-green.svg" alt="Arrow" />
      </div>
    </a>
  </div>

  <ul class="cross-chain-swaps__tabs">
    <li
      class="tabs__tab tab"
      routerLink="bridge"
      routerLinkActive="tab_active"
      #bridgeLinkActive="routerLinkActive"
    >
      <span>Bridge</span>
      <img
        [src]="
          'assets/images/icons/cross-chain-swaps/bridge' +
          (bridgeLinkActive.isActive ? '' : '_inactive') +
          '.svg'
        "
        alt="Bridge"
      />
    </li>
    <li
      class="tabs__tab tab"
      routerLink="get-bnb"
      routerLinkActive="tab_active"
      #getBnbLinkActive="routerLinkActive"
    >
      <span>Get BNB</span>
      <img
        [src]="
          'assets/images/icons/cross-chain-swaps/get-bnb' +
          (getBnbLinkActive.isActive ? '' : '_inactive') +
          '.svg'
        "
        alt="Get BNB"
      />
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
