<ng-container *ngIf="mode === 'table-row'; else mobile">
  <!-- Transaction date -->
  <td class="date" [class.tui-skeleton]="initialLoading">
    {{ (uiTrade?.timestamp | date: 'MMM dd, yyyy') + ' at ' + (uiTrade?.timestamp | date: 'h:mm') }}
  </td>

  <!-- Src crypto-asset -->
  <td class="from" [class.tui-skeleton]="initialLoading">
    <div class="asset">
      <div
        class="asset__token-image"
        [ngStyle]="{
          'background-image': uiTrade?.fromToken?.image
            ? 'url(' + uiTrade?.fromToken?.image + ')'
            : 'url(\'assets/images/icons/coins/default-token-ico.svg\')'
        }"
      ></div>
      <div class="asset__data">
        <div class="asset__token">{{ uiTrade?.fromToken?.symbol }}</div>
        <div class="asset__blockchain">{{ uiTrade?.fromBlockchain?.name }}</div>
      </div>
    </div>
  </td>

  <!-- Status of src transaction -->
  <td class="status-from" [class.tui-skeleton]="initialLoading">
    <a [href]="uiTrade?.srcTxLink" target="_blank">
      <app-status-badge
        [type]="uiTrade?.statusFrom | functionCall: getStatusBadgeType:this"
        [text]="getStatusBadgeText(uiTrade?.statusFrom) | translate"
        cursor="pointer"
      ></app-status-badge>
    </a>
  </td>

  <!-- Dst crypto-asset -->
  <td class="to" [class.tui-skeleton]="initialLoading">
    <div class="asset">
      <div
        class="asset__token-image"
        [ngStyle]="{
          'background-image': uiTrade?.toToken?.image
            ? 'url(' + uiTrade?.toToken?.image + ')'
            : 'url(\'assets/images/icons/coins/default-token-ico.svg\')'
        }"
      ></div>
      <div class="asset__data">
        <div class="asset__token">{{ uiTrade?.toToken?.symbol }}</div>
        <div class="asset__blockchain">{{ uiTrade?.toBlockchain?.name }}</div>
      </div>
    </div>
  </td>

  <!-- Status of dst transaction -->
  <td class="status-to">
    <a
      [href]="uiTrade?.dstTxLink"
      [class.tui-skeleton]="initialLoading"
      [class.hide-arrow]="!uiTrade?.dstTxLink"
      target="_blank"
    >
      <app-status-badge
        [type]="uiTrade?.statusTo | functionCall: getStatusBadgeType:this"
        [text]="getStatusBadgeText(uiTrade?.statusTo) | translate"
      >
      </app-status-badge>
    </a>
  </td>
</ng-container>

<ng-template #mobile>
  <div class="tx">
    <!-- Transaction date -->
    <div class="tx__row">
      <div class="tx__row-label">{{ 'recentTrades.date' | translate }}</div>
      <div class="tx__row-value" [class.tui-skeleton]="initialLoading">
        {{
          (uiTrade?.timestamp | date: 'MMM dd, yyyy') + ' at ' + (uiTrade?.timestamp | date: 'h:mm')
        }}
      </div>
    </div>

    <!-- Src crypto-asset -->
    <div class="tx__row">
      <div class="tx__row-label">{{ 'recentTrades.from' | translate }}</div>
      <div class="tx__row-value" [class.tui-skeleton]="initialLoading">
        <div
          class="tx__token-image"
          [ngStyle]="{
            'background-image': uiTrade?.fromToken?.image
              ? 'url(' + uiTrade?.fromToken?.image + ')'
              : 'url(\'assets/images/icons/coins/default-token-ico.svg\')'
          }"
        ></div>
        <div class="tx__token-symbol">
          {{ uiTrade?.fromToken.symbol }}
        </div>
        <div class="tx__token-blockchain">
          {{ uiTrade?.fromBlockchain.name }}
        </div>
      </div>
    </div>

    <!-- Status of src transaction -->
    <div class="tx__row">
      <div class="tx__row-label">{{ 'recentTrades.statusFrom' | translate }}</div>
      <div class="tx__row-value" [class.tui-skeleton]="initialLoading">
        <a class="tx__status-from" [href]="uiTrade?.srcTxLink" target="_blank">
          <app-status-badge
            [type]="uiTrade?.statusFrom | functionCall: getStatusBadgeType:this"
            [text]="getStatusBadgeText(uiTrade?.statusFrom) | translate"
          >
          </app-status-badge>
        </a>
      </div>
    </div>

    <!-- Dst crypto-asset -->
    <div class="tx__row">
      <div class="tx__row-label">{{ 'recentTrades.to' | translate }}</div>
      <div class="tx__row-value" [class.tui-skeleton]="initialLoading">
        <div
          class="tx__token-image"
          [ngStyle]="{
            'background-image': uiTrade?.toToken?.image
              ? 'url(' + uiTrade?.toToken?.image + ')'
              : 'url(\'assets/images/icons/coins/default-token-ico.svg\')'
          }"
        ></div>
        <div class="tx__token-symbol">
          {{ uiTrade?.toToken.symbol }}
        </div>
        <div class="tx__token-blockchain">
          {{ uiTrade?.toBlockchain.name }}
        </div>
      </div>
    </div>

    <!-- Status of dst transaction -->
    <div class="tx__row">
      <div class="tx__row-label">{{ 'recentTrades.statusTo' | translate }}</div>
      <div class="tx__row-value" [class.tui-skeleton]="initialLoading">
        <app-status-badge
          [type]="uiTrade?.statusTo | functionCall: getStatusBadgeType:this"
          [text]="getStatusBadgeText(uiTrade?.statusTo) | translate"
        >
        </app-status-badge>
      </div>
    </div>
    <hr class="tx__divider" />
  </div>
</ng-template>
