<tui-loader [overlay]="true" [showLoader]="!!(loading$ | async)">
  <ng-container
    *ngLet="{
      device: device$ | async,
      isCrossChain: isCrossChain$ | async
    } as state"
  >
    <ng-container *ngIf="state.isCrossChain; else onChain">
      <app-cross-chain-desktop-table [device]="state.device"></app-cross-chain-desktop-table>
    </ng-container>
    <ng-template #onChain>
      <app-on-chain-desktop-table [device]="state.device"></app-on-chain-desktop-table>
    </ng-template>
  </ng-container>
</tui-loader>
