<div class="settings">
  <form [formGroup]="bridgeForm" class="settings__form">
    <div class="settings__form-row settings__form-row_large-input">
      <label for="tronAddress">TRON wallet address</label>
      <div
        class="settings__hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="
          'The wallet address in TRON blockchain, on which the tokens will be provided.' | translate
        "
      ></div>
    </div>
    <div class="settings__form-row">
      <tui-input
        id="tronAddress"
        [tuiTextfieldLabelOutside]="true"
        formControlName="tronAddress"
        pattern="[A-Za-z0-9]{34}"
        >TKEZDGPjLJDhieooBqEeBkVbXiz8XCsZLz</tui-input
      >
    </div>
  </form>
</div>
