.disclaimer {
  padding: 30px;

  &-title {
    margin-top: 10px;
    margin-bottom: initial;

    color: #4aa956;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
  }

  &-content {
    margin: 20px 0;

    color: #000;
    font-size: 16px;
    line-height: 27px;
  }

  &-controls {
    padding-top: 30px;

    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .btn {
      width: auto;
      min-width: 209px;
    }
  }

  .mat-dialog-actions {
    display: block;
    margin: initial;
    padding: initial;
  }
}
