<div class="input-dropdown">
  <button
    class="input-dropdown__choose-button"
    type="button"
    [ngClass]="{
      'input-dropdown__choose-button_active': isOpenList,
      'input-dropdown__choose-button_with-text': !selectedComponentData
    }"
    (click)="toggleListOpen(true)"
    [disabled]="disabled"
  >
    <span *ngIf="!selectedComponentData">
      {{ chooseComponentText | translate }}
    </span>

    <ndc-dynamic
      *ngIf="selectedComponentData"
      [ndcDynamicComponent]="componentClass"
      [ndcDynamicInputs]="selectedComponentData.inputs"
    ></ndc-dynamic>
  </button>

  <input
    #searchInput
    class="input-dropdown__search-input"
    type="text"
    placeholder="Search"
    autocomplete="off"
    name="token"
    required
    [style.width]="isOpenList ? (fullWidth || isMobile ? '100%' : '50%') : 0"
    [tabindex]="!isOpenList ? '-1' : ''"
    [ngModel]="inputQuery"
    (ngModelChange)="searchComponent($event)"
    (blur)="toggleListOpen(false)"
  />

  <span class="input-dropdown__close-button" (click)="isOpenList = false">
    <img src="./assets/images/icons/cross.svg" alt="Close" />
  </span>

  <div
    class="input-dropdown__dropdown-components dropdown-components"
    [style.width]="fullWidth || isMobile ? '100%' : '50%'"
  >
    <ul
      *ngIf="visibleComponentsData.size && isOpenList"
      (mousedown)="$event.stopPropagation(); $event.preventDefault()"
      class="dropdown-components__list components-list"
    >
      <li
        class="components-list__item"
        *ngFor="let componentData of visibleComponentsData"
        [ngClass]="{
          'components-list__item_active':
            componentData.id === (selectedComponentData && selectedComponentData.id)
        }"
        (click)="selectComponent(componentData)"
      >
        <ndc-dynamic
          [ndcDynamicComponent]="componentClass"
          [ndcDynamicInputs]="componentData.inputs"
        ></ndc-dynamic>
      </li>
    </ul>
  </div>
</div>
