@use 'src/scss/core' as *;

.stake-form {
  position: relative;

  max-width: 490px;
  margin: 0 auto;
  padding: 26px;

  background: var(--rubic-base-22);
  border-radius: 24px;

  &__title {
    @include font(18px, 22px, 500, white);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    &-arrow {
      position: absolute;
      top: 50%;
      left: 0;

      width: 19px;

      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  &__amount {
    min-height: 60px;
    margin: 50px 0 20px;

    @include b($mobile-sm) {
      margin: 50px 0 40px;
    }

    &-label {
      width: 100%;
      height: 35px;

      ::placeholder {
        letter-spacing: 0.6px;
      }
    }

    &-input {
      width: 100%;
      height: 100%;

      padding: 0;

      color: var(--form-bright-text-color);
      font-weight: 400;
      font-size: 22px;
      letter-spacing: 0.1em;
      text-align: right;

      background-color: transparent;

      border: none;

      @include iframe-horizontal {
        padding-left: 0;

        font-size: 20px;
        text-align: left;
      }
    }
  }

  &__token-wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__token {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    max-width: 103px;
    padding: 12px;

    background: var(--rubic-base-23);
    border-radius: 100px;

    &-icon {
      display: flex;

      ::ng-deep svg {
        width: 26px;
        height: 26px;

        circle[fill='white'] {
          fill: var(--main-green);
        }

        path[fill='#4AA956'] {
          fill: white;
        }

        rect[fill='black'] {
          fill: white;
        }
      }
    }

    &-title {
      @include font(18px, 24px, 500, white);
    }
  }

  &__balance {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 12px 0 0 10px;

    &-max {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      &-text {
        @include font(15px, 18px, 500, rgba(255, 255, 255, 0.6));
        white-space: nowrap;
      }
    }

    &-dollars {
      @include font(15px, 18px, 500, rgba(255, 255, 255, 0.6));
      text-align: right;
    }
  }

  &__delimiter {
    position: relative;

    background-color: var(--main-background);

    > * {
      position: absolute;
      left: 50%;

      transform: translate(-50%, -50%);

      @include iframe-horizontal {
        position: static;
        left: unset;

        transform: unset;
      }

      @include iframe-vertical {
        position: static;
        left: unset;

        transform: none;
      }
    }

    &::before {
      position: absolute;
      top: 0;

      display: block;
      width: 100%;
      height: 1px;

      background-color: var(--rubic-delimiter);

      opacity: 0.5;

      content: '';

      @include iframe-vertical {
        display: none;
      }
    }
  }

  &__duration {
    margin-top: 36px;

    @include b($mobile-sm) {
      margin-top: 60px;
    }

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include b(500) {
        display: grid;
        grid-template-columns: 100%;
        gap: 30px;
      }
    }

    &-bottom {
      margin-top: 27px;
      padding-bottom: 47px;

      ::ng-deep {
        tui-input-slider {
          margin-bottom: 47px;

          .dot:active {
            background: var(--main-green);
          }

          .bar {
            margin-left: 0 !important;

            border-radius: 3px !important;
          }

          .wrapper {
            height: 6px;
          }

          .content {
            display: none;
          }

          input {
            display: none;
          }
        }
      }
    }

    &-currentDuration {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: center;

      &-text {
        @include font(18px, 24px, 500, white);
        white-space: nowrap;

        @include b(380) {
          font-size: 15px;
        }
      }

      &-num {
        @include font(18px, 24px, 500, white);
        padding: 8px 12px;

        white-space: nowrap;

        background: var(--main-background);
        border-radius: 100px;

        @include b(380) {
          font-size: 15px;
        }
      }

      &-max {
        @include font(14px, 17px, 500, var(--form-rubic-text-color));
        padding: 0;

        letter-spacing: 0.1em;
        white-space: nowrap;
        text-transform: uppercase;

        @include b($mobile-sm) {
          font-size: 18px;
        }
      }
    }

    &-checkbox {
      form {
        display: flex;
        gap: 36px;
        align-items: center;
        justify-content: space-between;

        @include b(480) {
          gap: 18px;
        }

        @include b($mobile-sm) {
          gap: 10px;
        }

        ::ng-deep {
          tui-radio-labeled {
            margin-bottom: 0;
          }

          tui-radio-labeled.isSelected {
            position: relative;

            &::before {
              position: absolute;
              top: -46%;
              left: -67%;

              width: 61px;
              height: 35px;

              background: transparent;
              border: 1px solid var(--main-green);
              border-radius: 100px;

              content: '';

              @include b($mobile-sm) {
                left: -82%;
              }
            }
          }

          tui-radio {
            display: none;
          }

          .content {
            @include font(16px, 19px, 500, white);
            margin-left: 0 !important;

            white-space: nowrap;

            @include b($mobile-sm) {
              font-size: 14px;
            }

            &:hover {
              color: var(--main-green);
            }
          }
        }
      }
    }
  }

  &__warning {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    padding: 12px;

    background: rgba(243, 186, 47, 0.15);
    border-radius: 12px;

    &-icon {
      width: 15px;
    }

    &-text {
      @include font(14px, 17px, 500, #F3BA2F);
    }
  }

  &__stake-btn {

    @include font(16px, 19px, 500, white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
    padding: 10px 20px;

    background: var(--main-green);
    border: 2px solid var(--main-green);
    border-radius: 100px;

    cursor: pointer;
  }
}
