<div class="stake-form">
  <div class="stake-form__title">
    <img
      class="stake-form__title-arrow"
      src="assets/images/icons/arrow/long-arrow-left.svg"
      alt="Back"
    />
    <span class="stake-form__title-text">New Position</span>
  </div>
  <div class="stake-form__amount">
    <div class="stake-form__token-wrapper">
      <div class="stake-form__token">
        <div
          class="stake-form__token-icon"
          [inlineSVG]="'assets/images/icons/coins/brbc.svg'"
        ></div>
        <span class="stake-form__token-title">RBC</span>
      </div>
      <label class="stake-form__amount-label">
        <input
          autocomplete="off"
          class="stake-form__amount-input"
          name="token-amount"
          [placeholder]="'Enter amount'"
          appTokenAmount
          inputmode="decimal"
          id="token-amount-input-element"
        />
      </label>
    </div>
    <div class="stake-form__balance">
      <div class="stake-form__balance-max">
        <span class="stake-form__balance-max-text">You have 2,712.38</span>
        <button class="stake-form__duration-currentDuration-max">max</button>
      </div>
      <span class="stake-form__balance-dollars">$68,218.16</span>
    </div>
  </div>
  <div class="stake-form__delimiter"></div>
  <div class="stake-form__duration">
    <div class="stake-form__duration-top">
      <div class="stake-form__duration-currentDuration">
        <span class="stake-form__duration-currentDuration-text">Choose the Duration</span>
        <div class="stake-form__duration-currentDuration-num">{{ control.value }} M</div>
        <button class="stake-form__duration-currentDuration-max" (click)="setMaxDuration()">
          max
        </button>
      </div>
      <div class="stake-form__duration-checkbox">
        <form [formGroup]="durationRadioButtonForm">
          <tui-radio-labeled
            formControlName="duration"
            class="tui-space_bottom-3"
            [ngClass]="{ isSelected: durations[0].selected }"
            [item]="durations[0]"
            (click)="setDuration(durations[0].value, 0)"
          >
            {{ durations[0].name }}
          </tui-radio-labeled>
          <tui-radio-labeled
            formControlName="duration"
            class="tui-space_bottom-3"
            [ngClass]="{ isSelected: durations[1].selected }"
            [item]="durations[1]"
            (click)="setDuration(durations[1].value, 1)"
          >
            {{ durations[1].name }}
          </tui-radio-labeled>
          <tui-radio-labeled
            formControlName="duration"
            [ngClass]="{ isSelected: durations[2].selected }"
            [item]="durations[2]"
            (click)="setDuration(durations[2].value, 2)"
          >
            {{ durations[2].name }}
          </tui-radio-labeled>
        </form>
      </div>
    </div>
    <div class="stake-form__duration-bottom">
      <tui-input-slider
        class="control"
        [min]="sliderConfig.min"
        [max]="sliderConfig.max"
        [steps]="steps"
        [quantum]="sliderConfig.quantum"
        [formControl]="control"
      >
      </tui-input-slider>
    </div>
  </div>
  <div class="stake-form__warning">
    <img
      class="stake-form__warning-icon"
      src="assets/images/icons/info-warning.svg"
      alt="Warning"
    />
    <span class="stake-form__warning-text"
      >0,00 MULTI заблокировано истечет через 14 дней<br />Заблокировано до 21.07.2022</span
    >
  </div>
  <div class="stake-form__stake-btn">
    <span>Stake</span>
  </div>
</div>
