<app-window-container>
  <ng-container header>Switch chain</ng-container>
  <div>
    <tui-textfield
      class="b-form"
      tuiChevron
      [content]="chainControl.value && item"
      tuiTextfieldSize="m"
    >
      <input tuiSelect [formControl]="chainControl" />
      <tui-data-list-wrapper
        *tuiTextfieldDropdown
        [items]="supportedChains"
        [itemContent]="item"
      ></tui-data-list-wrapper>
    </tui-textfield>
  </div>
</app-window-container>

<ng-template #item let-chain>
  <div class="item" *ngIf="getChainInfo(chain) as chainInfo" (click)="handleSwitchChain(chain)">
    <tui-avatar class="avatar" size="xs" [src]="chainInfo.img || null"></tui-avatar>
    <div class="name">{{ chainInfo.name }}</div>
  </div>
</ng-template>
