<app-window-container>
  <ng-container header>Switch chain</ng-container>
  <div>
    <tui-select
      class="b-form"
      tuiTextfieldSize="m"
      [formControl]="chainControl"
      [valueContent]="item"
      [tuiTextfieldLabelOutside]="true"
    >
      <tui-data-list-wrapper
        *tuiDataList
        [items]="supportedChains"
        [itemContent]="item"
      ></tui-data-list-wrapper>
    </tui-select>
  </div>
</app-window-container>

<ng-template #item let-chain>
  <div class="item" *ngIf="getChainInfo(chain) as chainInfo" (click)="handleSwitchChain(chain)">
    <tui-avatar
      [src]="chainInfo.img || null | tuiFallbackSrc : (chainInfo.name | tuiInitials) | async"
      [round]="false"
      size="s"
      class="avatar"
    ></tui-avatar>
    <div class="name">{{ chainInfo.name }}</div>
  </div>
</ng-template>
