<ng-container
  *ngLet="{
    needBrbcApprove: needBrbcApprove$ | async,
    needUsdcApprove: needUsdcApprove$ | async
  } as approves"
>
  <ng-container
    *ngIf="approves.needBrbcApprove || approves.needUsdcApprove; else networkSwitchAndStake"
  >
    <div class="approves">
      <app-rubic-button
        appearance="secondary"
        (click)="onApprove.emit('usdc')"
        [disabled]="!approves.needUsdcApprove"
        [loading]="loading"
      >
        Approve USDC
      </app-rubic-button>
      <app-rubic-button
        appearance="secondary"
        (click)="onApprove.emit('brbc')"
        [disabled]="!approves.needBrbcApprove"
        [loading]="loading"
      >
        Approve BRBC
      </app-rubic-button>
    </div>
  </ng-container>
</ng-container>

<ng-template #networkSwitchAndStake>
  <app-rubic-button
    *ngIf="needSwitchNetwork$ | async; else stakeButton"
    (click)="onSwitchNetwork.emit()"
  >
    Switch to BSC network
  </app-rubic-button>

  <ng-template #stakeButton>
    <app-rubic-button
      *ngLet="error$ | async as error"
      [disabled]="error"
      appearance="secondary"
      (click)="onStake.emit()"
      [loading]="loading"
    >
      <ng-container [ngSwitch]="error">
        <ng-container *ngSwitchCase="errors.INSUFFICIENT_BALANCE">
          Insufficient balance
        </ng-container>
        <ng-container *ngSwitchCase="errors.EMPTY_AMOUNT">Empty amount</ng-container>
        <ng-container *ngSwitchCase="errors.LIMIT_GT_MAX"> Amount higher than limit</ng-container>
        <ng-container *ngSwitchCase="errors.LIMIT_LT_MIN">Amount less than limit</ng-container>
        <ng-container *ngSwitchCase="null"> Stake </ng-container>
      </ng-container>
    </app-rubic-button>
  </ng-template>
</ng-template>
