$primary-color: #4aa956;

.sorting-dropdown {
  display: flex;
  height: 40px;

  &__label {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;

    color: #7a7a7a;

    background-color: white;
    border-right: 1px solid #f4f4f4;
    border-radius: 5px 0 0 5px;
  }

  &__select {
    position: relative;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-width: 120px;
    height: 100%;
    padding: 10px 10px 10px 25px;

    background-color: white;

    &_rounded {
      border-radius: 0 5px 5px 0;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;

    background-color: white;
    border-left: 1px solid #f4f4f4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;    
  }
}

::ng-deep .sorting-dropdown {
  &__icon {
    path:not(:first-child) {
      fill: #979797;
    }

    &_asc path:nth-child(2) {
      fill: $primary-color;
    }

    &_desc path:nth-child(3) {
      fill: $primary-color;
    }
  }
}
