.transaction-details {
  padding: var(--tui-padding-l);

  background: var(--primary-background);
  border-radius: var(--tui-radius-m);

  &__label {
    margin-top: 0;
    margin-bottom: var(--tui-padding-l);

    font-size: 15px;
    text-align: center;
  }

  &__left,
  &__right {
    display: flex;
    gap: var(--tui-padding-xs);
    align-items: center;
  }

  &__right {
    justify-content: flex-end;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }
}

.image {
  width: 13px;
  height: 13px;
}
