@use 'src/scss/core' as *;

.banner {
  position: relative;

  display: flex;
  justify-content: center;
  height: 57px;
  max-height: 57px;
  overflow: hidden;

  text-decoration: none;

  background-image: url('/assets/banner/zero-fees-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;

  @include hide-unused-ui {
    display: none;
  }

  &__link {
    padding: 5px 13px;

    font-weight: 900;
    font-size: 20px;
    text-decoration: none;

    background-color: var(--tui-primary);
    border-radius: 10px;
  }

  &__container {
    position: relative;
    z-index: 1;

    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;

    width: fit-content;
  }

  &__text {
    @include font(20px, 140%, 400, #ffffff);

    letter-spacing: 1px;

    &_bold {
      color: var(--tui-primary);
      font-weight: 900;
    }
  }

  &__mobile-br {
    display: none;
  }
}

@include b($tablet) {
  .banner {
    &__text {
      font-size: 18px;
    }
  }
}

@include b($mobile-md) {
  .banner {
    background-image: url('/assets/banner/zero-fees-mobile.png');

    &__container {
      width: 100%;
    }

    &__mobile-text {
      font-size: 20px;
    }

    &__link {
      padding: 0 4px;

      font-size: 15px;

    }

    &__container {
      justify-content: space-around;
    }

    &__text {
      @include font(16px, 1, 400, #ffffff);

      display: block;
      max-width: 280px;

      letter-spacing: 0.5px;
      text-align: left;

    
    }
  }
}

@include b(460) {
  .banner {
    height: 49px;

    &__mobile-br {
      display: block;
    }
  }
}
