<div class="message-box-wrapper">
  <div class="dialog-block">
    <div class="dialog-block__content">
      <button class="dialog-closer" (click)="close()" type="button" mat-dialog-close>
        <img src="./assets/images/icons/cross-blue.svg" alt="close" />
      </button>

      <div class="transaction-title">{{ title | translate }}</div>

      <div class="transaction-description">
        <ndc-dynamic
          *ngIf="descriptionComponentClass"
          [ndcDynamicComponent]="descriptionComponentClass"
          [ndcDynamicInputs]="descriptionComponentInputs"
        ></ndc-dynamic>

        <div *ngIf="!descriptionComponentClass">
          <span
            class="transaction-description__row"
            [innerHTML]="descriptionText | translate"
          ></span>
          <span *ngIf="additionalDescription">{{ additionalDescription | translate }}</span>
        </div>
      </div>

      <div class="message-box-wrapper__footer">
        <button class="btn btn-green btn-auto btn-min" (click)="close()" type="button" mat-dialog-close>
          <span>&nbsp;&nbsp;&nbsp;{{ 'common.close' | translate }}&nbsp;&nbsp;&nbsp;</span>
        </button>
      </div>
    </div>
  </div>
</div>
