.message-box-wrapper {
  &__footer {
    display: flex;
    justify-content: center;
  }

  .transaction-description {
    text-align: left;

    span {
      white-space: pre-wrap;
    }
  }
}

.dialog-block {
  border-radius: 10px;
}