:host {
  position: relative;

  width: 100vw;
}

.native-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;

  background-color: var(--form-background);
  border: 1px solid var(--transparent-line);
  border-radius: 12px 12px 0 0;

  &__item {
    width: 42px;
    height: 42px;

    border-radius: 50%;
  }
}
