<div
  class="statistics"
  [class.statistics_loading]="tvlAndTtvLoading$ | async"
  *ngLet="{ tvlStaking: tvlStaking$ | async, tvlMultichain: tvlMultichain$ | async } as tvl"
>
  <div class="statistics__col" (click)="toggleHintsMobile()">
    <tui-loader [overlay]="true" [loading]="balanceAndRewardsLoading$ | async">
      <div class="statistics__param">
        <div class="statistics__param-label">
          Your Total Balance
          <span
            class="statistics__param-hint"
            (click)="toggleHint('balance')"
            [inlineSVG]="'assets/images/icons/hint.svg'"
            [tuiManualHint]="balanceHintTpl"
            [tuiManualHintShow]="balanceHintShown"
          ></span>
        </div>
        <div class="statistics__param-value" *ngLet="totalBalanceInUsdc$ | async as totalBalance">
          ${{ totalBalance ? (totalBalance | bigNumberFormat: 3:true) : '--.--' }}
        </div>
      </div>
      <div class="statistics__param">
        <div class="statistics__param-label">
          Your Total Rewards
          <span
            class="statistics__param-hint"
            (click)="toggleHint('rewards')"
            [inlineSVG]="'assets/images/icons/hint.svg'"
            [tuiManualHint]="rewardsHintTpl"
            [tuiManualHintShow]="rewardsHintShow"
          ></span>
        </div>
        <div class="statistics__param-value" *ngLet="totalRewardsInUsdc$ | async as totalRewards">
          ${{ totalRewards ? (totalRewards | bigNumberFormat: 3:true) : '--.--' }}
        </div>
      </div>
    </tui-loader>
  </div>
  <div class="statistics__col">
    <div class="statistics__param">
      <div class="statistics__param-label">TVL</div>
      <div
        class="statistics__param-value"
        *ngLet="tvl.tvlMultichain?.plus(tvl.tvlStaking) as totalTvl"
      >
        ${{ totalTvl ? (totalTvl | bigNumberFormat: 0) : '--.--' }}
      </div>
    </div>
    <div class="statistics__param">
      <div class="statistics__param-label">TVL Multi-Chain</div>
      <div class="statistics__param-value">
        ${{ tvl.tvlMultichain ? (tvl.tvlMultichain | bigNumberFormat: 0) : '--.--' }}
      </div>
    </div>
  </div>
  <div class="statistics__col">
    <div class="statistics__param">
      <div class="statistics__param-label">TVL Staking</div>
      <div class="statistics__param-value">
        ${{ tvl.tvlStaking ? (tvl.tvlStaking | bigNumberFormat: 0) : '--.--' }}
      </div>
    </div>
    <div class="statistics__param">
      <div
        class="statistics__param-label statistics__param-label_btn"
        [tuiDropdown]="ttvFiltersOpen"
        [tuiDropdownContent]="ttvFiltersTpl"
        (click)="toggleFilters()"
      >
        Total Trading Volume <img src="assets/images/icons/arrow/arrow-down-grey.svg" />
      </div>
      <div class="statistics__param-value">$37,183,302</div>
    </div>
  </div>
  <app-rotating-icon
    *ngLet="{
      balanceAndRewardsLoading: balanceAndRewardsLoading$ | async,
      tvlAndTtvLoading: tvlAndTtvLoading$ | async
    } as loading"
    class="statistics__refresh"
    (iconClick)="refreshStatistics()"
    [rotating]="loading.balanceAndRewardsLoading || loading.tvlAndTtvLoading"
  ></app-rotating-icon>
</div>

<ng-template #rewardsHintTpl>
  <div
    class="hint"
    *ngLet="{ stakingRewards: stakingRewards$ | async, lpRewards: lpRewards$ | async } as rewards"
  >
    Staking: {{ rewards.stakingRewards | bigNumberFormat: 2:true || '--.--' }} RBC <br />LP:
    {{ rewards.lpRewards | bigNumberFormat: 2:true || '--.--' }} USDC
  </div>
</ng-template>

<ng-template #balanceHintTpl>
  <div
    class="hint"
    *ngLet="{ stakingBalance: stakingBalance$ | async, lpBalance: lpBalance$ | async } as balances"
  >
    Staking: {{ balances.stakingBalance | bigNumberFormat: 2:true || '--.--' }} RBC <br />
    LP: {{ balances.lpBalance | bigNumberFormat: 2:true || '--.--' }} USDC
  </div>
</ng-template>

<ng-template #ttvFiltersTpl>
  <div class="filters" *ngLet="selectedTtvFilter$ | async as selectedFilter">
    <div
      *ngFor="let filter of ttvFilters"
      class="filters__filter"
      [class.filters__filter_active]="filter === selectedFilter"
      (click)="onFilterSelect(filter)"
    >
      {{ ttvFiltersText[filter] }}
    </div>
  </div>
</ng-template>
