@use 'src/scss/core' as *;

.statistics {
  position: relative;

  padding: 26px;

  background: var(--rubic-base-22);
  border-radius: 24px;

  &__head {
    margin-bottom: 48px;
  }

  &__title {
    @include font(18px, 22px, 600, white);
  }

  &__info {
    display: flex;
    justify-content: space-between;

    @include b($tablet) {
      flex-direction: column;
      padding: 28px 12px 12px;

      border-radius: 22px;
    }

  }

  &__refresh {
    position: absolute;
    top: 22px;
    right: 22px;

    @include b($tablet) {
      top: 12px;
      right: 12px;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    padding: 0 45px;

    @include b($tablet) {
      flex-direction: row;
      padding: 26px 22px;

      &:first-child {
        order: 3;
        padding: 26px 22px;

        ::ng-deep tui-loader {
          width: 100%;

          fieldset {
            display: flex;
          }
        }
      }

      &:nth-child(2) {
        order: 1;
        margin-bottom: 52px;
        padding: 0 22px;
      }

      &:nth-child(3) {
        order: 2;
        margin-bottom: 26px;
        padding: 0px 22px;
      }
    }

    &:first-child {
      align-items: center;
      justify-content: center;

      border-radius: 15px;
    }

    .statistics__param:first-child {
      margin-bottom: 40px;

      @include b($tablet) {
        margin-bottom: 0;
      }
    }
  }

  &__param {
    @include b($tablet) {
      width: 50%;
    }

    &-label {
      @include font(16px, 19px, 500, var(--rubic-base-24));
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      @include b($tablet) {
        margin-bottom: 4px;

        font-size: 14px;
        line-height: 17px;
      }

      &_btn {

        cursor: pointer;

        img {
          width: 15px;
          height: 9px;
          margin-left: 6px;
        }
      }
    }

    &-value {
      @include font(22px, 26px, 500, var(--rubic-base-02));
      transition: 0.4s opacity ease-in-out;

      @include b($tablet) {
        font-size: 20px;
        line-height: 24px;
      }

      &_loading {
        opacity: 0.4;
      }
    }
  }
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  padding: 16px;

  &__filter {
    @include font(16px, 19px, 500, white);
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    &_active {
      color: $rubic-primary;
    }
  }
}
