@use 'src/scss/core' as *;

.statistics {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding: 22px;

  background: #181a19;
  border-radius: 30px;

  &_loading {
    .statistics__param-value {
      opacity: 0.4;
    }
  }

  &__refresh {
    position: absolute;
    top: 22px;
    right: 22px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    padding: 35px 60px;

    &:first-child {
      align-items: center;
      justify-content: center;

      border: 2px solid #4aa956;
      border-radius: 18px;
    }

    .statistics__param:first-child {
      margin-bottom: 50px;
    }
  }

  &__param {
    &-label {
      @include font(18px, 22px, 500, rgba(255, 255, 255, 0.6));
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      &_btn {

        cursor: pointer;

        img {
          width: 15px;
          height: 9px;
          margin-left: 10px;
        }
      }
    }

    &-value {
      @include font(26px, 31px, 600, var(--rubic-base-02));
      transition: 0.4s opacity ease-in-out;
    }

    &-hint {
      margin-left: 8px;

      cursor: pointer;
    }
  }
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  padding: 16px;

  &__filter {
    @include font(18px, 21px, 500, white);
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    &_active {
      color: $rubic-primary;
    }
  }
}
