<div class="statistics">
  <div class="statistics__col" (click)="toggleHintsMobile()">
    <tui-loader [overlay]="true" [showLoader]="balanceAndRewardsLoading$ | async">
      <div class="statistics__param">
        <div class="statistics__param-label">
          Your Total Balance
          <span
            class="statistics__param-hint"
            [inlineSVG]="'assets/images/icons/hint.svg'"
            [tuiHint]="balanceHintTpl"
            [tuiManualHint]="balanceHintTpl"
            [tuiManualHintShow]="balanceHintShown"
            [tuiHintShowDelay]="100"
          ></span>
        </div>
        <div class="statistics__param-value" *ngLet="totalBalanceInUsdc$ | async as totalBalance">
          $
          {{
            totalBalance && totalBalance?.isFinite()
              ? (totalBalance | bigNumberFormat: 2:true)
              : '--.--'
          }}
        </div>
      </div>
      <div class="statistics__param">
        <div class="statistics__param-label">
          Your Total Rewards
          <span
            class="statistics__param-hint"
            [inlineSVG]="'assets/images/icons/hint.svg'"
            [tuiHint]="rewardsHintTpl"
            [tuiManualHint]="rewardsHintTpl"
            [tuiManualHintShow]="rewardsHintShow"
            [tuiHintShowDelay]="100"
          ></span>
        </div>
        <div class="statistics__param-value" *ngLet="totalRewardsInUsdc$ | async as totalRewards">
          $
          {{
            totalRewards && totalRewards?.isFinite()
              ? (totalRewards | bigNumberFormat: 2:true)
              : '--.--'
          }}
        </div>
      </div>
    </tui-loader>
  </div>
  <div class="statistics__col">
    <div class="statistics__param">
      <div class="statistics__param-label">{{ 'earn.tvl' | translate }}</div>
      <div
        class="statistics__param-value"
        *ngLet="tvlTotal$ | async as tvlTotal"
        [class.statistics__param-value_loading]="tvlAndTtvLoading$ | async"
      >
        $ {{ tvlTotal && tvlTotal?.isFinite() ? (tvlTotal | bigNumberFormat: 0) : '--.--' }}
      </div>
    </div>
    <div class="statistics__param">
      <div class="statistics__param-label">{{ 'earn.multichainTvl' | translate }}</div>
      <div class="statistics__param-value" *ngLet="tvlMultichain$ | async as tvlMultichain">
        $
        {{
          tvlMultichain && tvlMultichain?.isFinite()
            ? (tvlMultichain | bigNumberFormat: 0)
            : '--.--'
        }}
      </div>
    </div>
  </div>
  <div class="statistics__col">
    <div class="statistics__param">
      <div class="statistics__param-label">{{ 'earn.stakingTvl' | translate }}</div>
      <div
        class="statistics__param-value"
        *ngLet="tvlStaking$ | async as tvlStaking"
        [class.statistics__param-value_loading]="tvlAndTtvLoading$ | async"
      >
        $ {{ tvlStaking && tvlStaking?.isFinite() ? (tvlStaking | bigNumberFormat: 0) : '--.--' }}
      </div>
    </div>
    <div class="statistics__param">
      <div
        class="statistics__param-label statistics__param-label_btn"
        [tuiDropdown]="ttvFiltersOpen"
        [tuiDropdownContent]="ttvFiltersTpl"
        (click)="toggleFilters()"
      >
        Total Trading Volume
        <img src="assets/images/icons/arrow/arrow-down-grey.svg" />
      </div>
      <div class="statistics__param-value" *ngLet="ttv$ | async as ttv">
        $ {{ ttv ? (ttv | bigNumberFormat: 0:true) : '--.--' }}
      </div>
    </div>
  </div>
  <app-rotating-icon
    *ngLet="{
      balanceAndRewardsLoading: balanceAndRewardsLoading$ | async,
      tvlAndTtvLoading: tvlAndTtvLoading$ | async
    } as loading"
    class="statistics__refresh"
    (iconClick)="refreshStatistics()"
    [rotating]="loading.balanceAndRewardsLoading || loading.tvlAndTtvLoading"
  ></app-rotating-icon>
</div>

<ng-template #rewardsHintTpl>
  <div
    class="hint"
    *ngLet="{ stakingRewards: stakingRewards$ | async, lpRewards: lpRewards$ | async } as rewards"
  >
    Staking:
    {{ rewards.stakingRewards ? (rewards.stakingRewards | bigNumberFormat: 2:true) : '--.--' }} RBC
    <br />LP: {{ rewards.lpRewards ? (rewards.lpRewards | bigNumberFormat: 2:true) : '--.--' }} USDC
  </div>
</ng-template>

<ng-template #balanceHintTpl>
  <div
    class="hint"
    *ngLet="{ stakingBalance: stakingBalance$ | async, lpBalance: lpBalance$ | async } as balances"
  >
    Staking:
    {{ balances.stakingBalance ? (balances.stakingBalance | bigNumberFormat: 2:true) : '--.--' }}
    RBC <br />
    LP: {{ balances.lpBalance ? (balances.lpBalance | bigNumberFormat: 2:true) : '--.--' }} USDC
  </div>
</ng-template>

<ng-template #ttvFiltersTpl>
  <div class="filters" *ngLet="selectedTtvFilter$ | async as selectedFilter">
    <div
      *ngFor="let filter of ttvFilters"
      class="filters__filter"
      [class.filters__filter_active]="filter === selectedFilter"
      (click)="onFilterSelect(filter)"
    >
      {{ ttvFiltersText[filter] }}
    </div>
  </div>
</ng-template>
