@use 'src/scss/core' as *;

.bottom-form {
  display: flex;
  flex-direction: column;

  @include iframe-horizontal {
    flex-direction: row;
  }

  @include iframe-vertical {
    justify-content: space-between;
    height: 212px;
  }

  &__estimate-container {
    display: flex;
    justify-content: space-between;
    min-height: 65px;

    @include iframe-vertical {
      flex-direction: column;
      grid-gap: 6px;
    }

    @include iframe-horizontal {
      flex-direction: row-reverse;
      align-items: center;
      height: 100%;
      min-height: auto;
    }

    @include b($mobile-sm) {
      flex-direction: column;
    }
  }

  app-providers-counter {
    display: block;
    margin-top: 10px;

    @include iframe {
      ::ng-deep {
        margin-top: 0;
      }
    }
  }

  app-smart-routing {
    display: block;
    margin-top: 30px;

    transition: opacity 0.3s;

    @include hide-unused-ui {
      margin-top: 10px;
    }

    &.smart-routing-loading {
      opacity: 0.25;
    }
  }

  &__container {
    z-index: 9999;

    min-height: 110px;
    margin: 30px 0 15px;

    @include iframe-vertical {
      position: relative;
    }

    @include iframe-horizontal {
      position: relative;

      flex-direction: row-reverse;
      align-items: center;
      width: $iframe-horizontal-input-width;
      height: 50px;
      min-height: unset;
      padding: 0 7px 0 16px;

      background: var(--main-background);

      border-radius: 10px;
    }

    @include iframe-horizontal-light {
      background-color: var(--rubic-base-14);
    }

    @include iframe-vertical {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0;

      background-color: transparent;

      app-rubic-tokens {
        margin-bottom: 10px;
      }
    }

    @include b($mobile-md) {
      height: auto;
      padding: 30px 20px;
    }

    @include b($mobile-sm) {
      flex-direction: column;
    }
  }

  &__footer {
    margin-top: 16px;

    @include iframe-horizontal {
      margin-top: 0;
      margin-left: 12px;
    }

    @include iframe-vertical {
      margin-top: 30px;
      padding: 0;
    }

    @include b($mobile-md) {
      margin-top: 0;
      padding: 0 20px;
    }
  }

  &__button {
    @include iframe-horizontal {
      width: 180px;
    }
  }
}

app-target-network-address {
  display: block;
  margin-top: 10px;
}
