@use 'src/scss/core' as *;

.blockchain-aside {
  width: 180px;
  height: 100%;
  padding: 14px 10px;

  background: rgba(170, 170, 170, 0.13);
  border-radius: 0 10px 0 15px;
  box-shadow: inset -2px 2px 3px 2px rgba(0, 0, 0, 0.1);

  @include b($mobile-md-minus) {
    height: 100%;
  }

  @include iframe {
    left: unset;

    width: 100%;
    height: unset;
    padding: 0 0 14px;

    background: unset;
    border-radius: unset;
    box-shadow: unset;
  }

  @include iframe-vertical {
    padding-bottom: 0;
  }

  &__scroll {
    max-height: 100%;

    @include iframe {
      height: 76px;
    }
  }

  &__blockchains-list {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 14px;

    @include iframe {
      flex-direction: row;
    }

    @include iframe-vertical {
      flex-wrap: nowrap;

      margin-bottom: 20px;

      ::ng-deep app-icon-button {
        img {
          max-height: 20px;
        }
      }
    }

    @include iframe-horizontal {
      flex-wrap: nowrap;
    }

    &_clearfix {
      &::after {
        @media (orientation: portrait) {
          width: 62px;
          height: 86px;

          visibility: hidden;

          content: '';
        }
      }
    }

    li {
      margin: 0 5px;

      @include iframe {
        margin: 0 15px 0 0;
      }

      &.disabled {
        cursor: not-allowed !important;
        opacity: 0.5;
      }
    }
  }

  ::ng-deep app-icon-button {
    button {
      width: 70px !important;
    }
  }
}

.open-selector {
  width: 70px;

  ::ng-deep app-rubic-button {
    [tuiButton] {
      height: 56px;

      border-radius: var(--tui-radius-m);

      &._pressed,
      &:focus,
      &:hover {
        background: transparent;
        box-shadow: none;
      }
    }

    tui-wrapper {
      --tui-primary: var(--main-background);

      &:hover {
        background: var(--rubic-secondary);
      }
    }
  }
}

@include b($mobile-md-minus) {
  .blockchain-aside {
    width: 95px;
    height: 100%;
    padding: 14px 0 0;

    border-radius: unset;

    &__blockchains-list {
      display: flex;
      flex-direction: column;
      align-items: center;

      li:not(:last-child) {

        @include iframe {
          margin-right: 15px;
          margin-bottom: unset;
        }
      }
    }
  }
}
