<ng-container *ngLet="round.status === 'closed' || round.status === 'soon' as setDisabled">
  <div class="round round_desktop" *ngIf="(isMobile$ | async) === false">
    <div
      class="round__container"
      [ngClass]="{
        round__container_disabled: setDisabled || round.isAlreadyClaimed
      }"
    >
      <div class="round__header">
        <span class="round__number">Round #{{ round.roundNumber }}</span>
      </div>

      <div class="round__footer">
        <div class="round__info">
          <div class="round__info-date">
            {{ round.claimDate }}
          </div>
          <span class="round__info-amount">
            <img
              class="round__info-amount-icon"
              src="assets/images/rbc-white.png"
              alt="Confirmed RBC"
            />
            {{ claimAmountValue }} RBC
          </span>
        </div>
        <tui-loader
          [showLoader]="loading && !setDisabled && !round.isAlreadyClaimed"
          [overlay]="true"
        >
          <button
            class="round__button"
            tuiButton
            appearance="primary"
            [disabled]="round.isAlreadyClaimed || setDisabled"
            type="button"
            size="m"
            (click)="!round.isAlreadyClaimed ? handleClick(buttonState.label) : null"
            [tuiHint]="getHintText()"
            tuiHintAppearance="onDark"
          >
            {{ buttonState.translation | translate }}
          </button>
        </tui-loader>
      </div>
    </div>
  </div>
  <div class="round" *ngIf="isMobile$ | async">
    <div
      class="round__container"
      [ngClass]="{
        round__container_border: isModal || round.claimName === 'retrodrop'
      }"
    >
      <div class="round__header">
        <span class="round__info-amount">
          <img
            class="round__info-amount-icon"
            src="assets/images/rbc-white.png"
            alt="Confirmed RBC"
          />
          {{ claimAmountValue }} RBC
        </span>
        <tui-loader
          [showLoader]="loading && !setDisabled && !round.isAlreadyClaimed"
          [overlay]="true"
        >
          <button
            class="round__button"
            tuiButton
            appearance="primary"
            [disabled]="round.isAlreadyClaimed || setDisabled"
            type="button"
            size="m"
            (click)="!round.isAlreadyClaimed ? handleClick(buttonState.label) : null"
            [tuiHint]="getHintText()"
            tuiHintAppearance="onDark"
          >
            {{ buttonState.translation | translate }}
          </button>
        </tui-loader>
      </div>
      <div
        class="round__footer"
        [ngClass]="{
          round__footer_border: isModal
        }"
      >
        <span class="round__number">Round #{{ round.roundNumber }}</span>
        <span class="round__date">
          {{ round.claimDate }}
        </span>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #hintTemplate>
  <ng-container *ngIf="round.claimName === 'airdrop'">
    Your tokens have been already claimed, please check your wallet.
  </ng-container>
  <ng-container *ngIf="round.claimName === 'retrodrop'">
    Your tokens have already been successfully staked. Please review the Staking tab for further
    details.
  </ng-container>
</ng-template>
