<table class="table tui-table_layout_fixed">
  <colgroup>
    <col width="170" />
    <col width="150" />
    <col width="150" />
    <col width="150" />
    <col width="130" />
  </colgroup>
  <tbody>
    <tr class="table__tr table__tr_head">
      <th class="table__th">
        <tui-input [textMask]="assetMaskConfig" tuiTextfieldSize="s" [formControl]="tokenControl"
          >Asset</tui-input
        >
      </th>
      <th class="table__th">
        <tui-input
          [textMask]="spenderMaskConfig"
          tuiTextfieldSize="s"
          [formControl]="spenderControl"
          >Approved Spender</tui-input
        >
      </th>
      <th class="table__th">Allowance</th>
      <th class="table__th">Date</th>
      <th class="table__th">Actions</th>
    </tr>
    <tr *ngFor="let approve of approves">
      <td>
        <div class="image-container">
          <a
            [safetyLink]="
              approve.tokenAddress | scannerLink : selectedBlockchain : ADDRESS_TYPE.TOKEN
            "
          >
            <div class="image-wrapper">
              <img
                [src]="approve?.token?.image || defaultTokenImage"
                [alt]="approve?.token?.symbol || approve.tokenAddress"
                (error)="onImageError($event)"
              />
            </div>
            <ng-container *ngIf="approve.token; else address">
              {{ approve.token.symbol }}
            </ng-container>
            <ng-template #address>
              <span>{{ approve.tokenAddress | shortAddress : 3 : 3 }}</span>
            </ng-template>
            <img
              class="link"
              src="assets/images/icons/link-arrow.svg"
              [alt]="'common.checkOnScanner' | translate"
            />
          </a>
        </div>
      </td>
      <td>
        <div class="image-container">
          <a
            [safetyLink]="approve.spender | scannerLink : selectedBlockchain : ADDRESS_TYPE.WALLET"
          >
            {{ approve.spender | shortAddress : 5 : 3 }}
            <img
              class="link"
              src="assets/images/icons/link-arrow.svg"
              [alt]="'common.checkOnScanner' | translate"
          /></a>
        </div>
      </td>
      <td>
        <div
          [tuiHint]="approve.value === 'Unlimited' ? null : allowanceHint"
          tuiHintAppearance="onDark"
          [tuiHintShowDelay]="50"
          tuiHintDirection="top-right"
          [tuiHintHideDelay]="100"
        >
          {{
            approve.value === 'Unlimited' ? 'Unlimited' : (approve.value | shortAddress : 10 : 5)
          }}
        </div>
        <ng-template #allowanceHint>
          <span class="token-card__name-container-address-hint">{{ approve.value }}</span>
        </ng-template>
      </td>
      <td>{{ approve.timeStamp | date : 'MMM dd, yyyy h:mm' }}</td>
      <td>
        <app-switch-button
          *ngIf="allowChangeBlockchain; else revoke"
          (handleSwitch)="changeNetwork($event)"
        ></app-switch-button>
        <ng-template #revoke>
          <app-revoke-button
            (handleRevoke)="handleRevoke(approve.tokenAddress, approve.spender, $event)"
          ></app-revoke-button>
        </ng-template>
      </td>
    </tr>
  </tbody>
  <ng-content></ng-content>
</table>
