@use 'src/scss/core' as *;

.table {
  width: 100%;

  th { font-weight: normal; }

  td {
    padding: 16px;
  }

  &__tr_head {
    background: var(--form-background);
  }

  .table__th {
    @include font(14px, 17px, 400, #A2A1A5);
    padding: 16px;

    text-align: left;

    @include dark {
      color: white;
    }

    &:first-child {
      border-color: transparent;
      border-left-style: solid;
      border-top-left-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-color: transparent;
      border-left-style: solid;
      border-top-right-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
