<div class="token-amount-input-container">
  <div class="token-amount-input-container__wrapper">
    <app-select-fiat-button
      class="token-amount-input-container__token-button"
    ></app-select-fiat-button>
  </div>

  <div class="token-amount-input-container__wrapper">
    <label class="token-amount-input-container__input-label">
      <input
        #tokenAmount
        autocomplete="off"
        class="token-amount-input-container__input"
        name="token-amount"
        [placeholder]="placeholder$ | async"
        appTokenAmount
        [formControl]="amount"
        [decimals]="selectedToken?.decimals || 18"
        (amountChange)="onAmountChange($event)"
        inputmode="decimal"
        id="token-amount-input-element"
      />
    </label>
  </div>
</div>
