@use 'src/scss/core' as *;

:host ::ng-deep {
  button .wrapper {
    min-width: 150px;
    height: 35px;
    padding: 0 0.25rem !important;

    border-radius: 50px;

    @include b($mobile-md-minus) {
      min-width: 120px;

      .content {
        font-size: 12px !important;
      }
    }

    .content {
      font-size: 16px;
    }
  }
}
