<ng-container *ngIf="mode === 'order-row'; else mobile">
  <!-- Creation -->
  <td class="date">
    <span>
      {{ (order.creation | date : 'MMM dd, yyyy') + ' at ' + (order.creation | date : 'h:mm') }}
    </span>
  </td>

  <!-- Src crypto-asset -->
  <td class="from">
    <div class="asset">
      <img
        class="asset__image"
        [src]="order.fromToken?.image || defaultTokenImage"
        [alt]="order.fromToken?.symbol"
        (error)="onTokenImageError($event)"
      />
      <div class="asset__data">
        <div class="asset__symbol">{{ order.fromToken?.symbol || 'Unknown' }}</div>
        <div class="asset__amount">{{ (order.fromAmount | bigNumberFormat) || 'N/A' }}</div>
      </div>
    </div>
  </td>

  <!-- Dst crypto-asset -->
  <td class="to">
    <div class="asset">
      <img
        class="asset__image"
        [src]="order.toToken?.image || defaultTokenImage"
        [alt]="order.toToken?.symbol"
        (error)="onTokenImageError($event)"
      />
      <div class="asset__data">
        <div class="asset__symbol">{{ order.toToken?.symbol || 'Unknown' }}</div>
        <div class="asset__amount">{{ (order.toAmount | bigNumberFormat) || 'N/A' }}</div>
      </div>
    </div>
  </td>

  <!-- Expiration -->
  <td class="date">
    <span>
      {{ (order.creation | date : 'MMM dd, yyyy') + ' at ' + (order.creation | date : 'h:mm') }}
    </span>
  </td>

  <!-- Cancellation -->
  <td class="cancellation">
    <span *ngIf="!showCancel; else cancel">Invalid</span>
  </td>
</ng-container>

<ng-template #mobile>
  <div class="order">
    <div class="order__row">
      <div class="order__row-label">Creation</div>
      <div class="order__row-value">
        {{ (order.creation | date : 'MMM dd, yyyy') + ' at ' + (order.creation | date : 'h:mm') }}
      </div>
    </div>

    <div class="order__row">
      <div class="order__row-label">From</div>
      <div class="order__row-value">
        <img
          class="order__asset-image"
          [src]="order.fromToken.image || defaultTokenImage"
          [alt]="order.fromToken.symbol"
          (error)="onTokenImageError($event)"
        />
        <div class="order__asset-symbol">{{ order.fromToken.symbol }}</div>
        <div class="order__asset-amount">{{ order.fromAmount | bigNumberFormat }}</div>
      </div>
    </div>

    <div class="order__row">
      <div class="order__row-label">To</div>
      <div class="order__row-value">
        <img
          class="order__asset-image"
          [src]="order.toToken.image || defaultTokenImage"
          [alt]="order.toToken.symbol"
          (error)="onTokenImageError($event)"
        />
        <div class="order__asset-symbol">{{ order.toToken.symbol }}</div>
        <div class="order__asset-amount">{{ order.toAmount | bigNumberFormat }}</div>
      </div>
    </div>

    <div class="order__row">
      <div class="order__row-label">Expiration</div>
      <div class="order__row-value">
        {{
          (order.expiration | date : 'MMM dd, yyyy') + ' at ' + (order.expiration | date : 'h:mm')
        }}
      </div>
    </div>
    <div class="tx__row">
      <div class="tx__row-label">Cancellation</div>
      <div class="tx__row-value" *ngIf="!showCancel; else cancel">Invalid</div>
    </div>

    <hr class="order__divider" />
  </div>
</ng-template>

<ng-template #cancel>
  <app-rubic-button
    appearance="primary"
    class="cancel"
    (onClick)="cancelOrder()"
    size="s"
    [loading]="cancelOrderButtonLoading"
  >
    Cancel
  </app-rubic-button>
</ng-template>
