<div class="trade" *ngIf="doesTradeExist">
  <section class="spinner-container" *ngIf="!isMainTradeDataLoaded">
    <app-spinner></app-spinner>
  </section>

  <section class="trade-container" *ngIf="isMainTradeDataLoaded">
    <div class="trade-container__header header">
      <div class="header__row header-row">
        <span class="header-row__tokens-names">{{
          tradeData.token.base.symbol + ' <> ' + tradeData.token.quote.symbol
        }}</span>
      </div>

      <div class="header__row header-row">
        <span class="header-row__blockchain">
          <img [src]="blockchain.imagePath" alt="blockchain" /> {{ blockchain.label }}
        </span>

        <span class="header-row__tokens-rate tokens-rate">
          <span class="tokens-rate__title">Rate:</span>
          {{ getRate() }}

          <button class="tokens-rate__button" (click)="isRevertedRate = !isRevertedRate">
            <img src="./assets/images/icons/revert.svg" alt="reverse rate" />
          </button>
        </span>

        <span
          class="header-row__state"
          *ngIf="tradeData.status"
          [ngClass]="{
            'header-row__state_active': tradeData.status === TRADE_STATUS.ACTIVE,
            'header-row__state_expired': tradeData.status === TRADE_STATUS.EXPIRED,
            'header-row__state_cancelled': tradeData.status === TRADE_STATUS.CANCELLED,
            'header-row__state_done': tradeData.status === TRADE_STATUS.DONE
          }"
        >
          {{ tradeData.status }}
        </span>
      </div>
    </div>

    <div class="trade-container__tokens-swap tokens-swap">
      <div class="tokens-swap__block-container">
        <app-token-form
          [tradeData]="tradeData"
          tokenPart="base"
          [oppositeTokenToGet]="quoteTokenAmountToGet + ' ' + tradeData.token.quote.symbol"
          (amountToContributeChanges)="calculateAmountToGet($event, 'base')"
        ></app-token-form>
      </div>

      <div class="tokens-swap__block-container">
        <app-token-form
          [tradeData]="tradeData"
          tokenPart="quote"
          [oppositeTokenToGet]="baseTokenAmountToGet + ' ' + tradeData.token.base.symbol"
          (amountToContributeChanges)="calculateAmountToGet($event, 'quote')"
        ></app-token-form>
      </div>
    </div>

    <div class="trade-container__trade-options trade-options">
      <div class="trade-options__option trade-option">
        <div class="trade-option__title">Closing Date</div>

        <div class="trade-option__body">{{ expirationDay }}</div>
      </div>

      <div class="trade-options__option trade-option">
        <div class="trade-option__title">Closing Time</div>

        <div class="trade-option__body">{{ expirationTime }} UTC</div>
      </div>

      <div class="trade-options__option trade-option copy-link">
        <div class="trade-option__title">Link To Deal</div>

        <div class="trade-option__body trade-option__body_copy-link">
          {{ currentUrl }}
          <button
            class="trade-option__body_button"
            [cdkCopyToClipboard]="currentUrl"
            (cdkCopyToClipboardCopied)="onCopiedLink('linkToDeal')"
          >
            <img src="/assets/images/icons/copy.svg" alt="copy" />
          </button>
        </div>

        <div class="copy-link__copied-notification" *ngIf="isCopied.linkToDeal">
          Copied
          <div class="triangle"></div>
        </div>
      </div>

      <div class="trade-options__option trade-option trade-option_public">
        <div class="trade-option__title">Public Deal</div>

        <div
          class="trade-option__body trade-option-body-public"
          [ngClass]="{ 'trade-option-body-public_not-checked': !tradeData.isPublic }"
        >
          <span>{{ tradeData.isPublic ? 'Yes' : 'No' }}</span>

          <span
            class="trade-option-body-public__image"
            [ngClass]="{ 'trade-option-body-public__image_not-checked': !tradeData.isPublic }"
          ></span>
        </div>
      </div>

      <div class="trade-options__break"></div>

      <div
        class="trade-options__option trade-option trade-option_broker copy-link"
        *ngIf="tradeData.isWithBrokerFee"
      >
        <div class="trade-option__title">Broker Address</div>

        <div class="trade-option__body trade-option__body_copy-link">
          <a
            target="_blank"
            [href]="tradeData.brokerAddress | scannerLink: tradeData.blockchain:ADDRESS_TYPE.WALLET"
          >
            {{ tradeData.brokerAddress }}
          </a>
          <button
            class="trade-option__body_button"
            [cdkCopyToClipboard]="tradeData.brokerAddress"
            (cdkCopyToClipboardCopied)="onCopiedLink('brokerAddress')"
          >
            <img src="/assets/images/icons/copy.svg" alt="copy" />
          </button>
        </div>

        <div class="copy-link__copied-notification" *ngIf="isCopied.brokerAddress">
          Copied
          <div class="triangle"></div>
        </div>
      </div>

      <div
        class="trade-options__option trade-option trade-option_cancel"
        *ngIf="tradeData.status === TRADE_STATUS.ACTIVE && tradeData.owner"
      >
        <app-primary-button
          label="Cancel trade"
          [animate]="cancelStatus === TX_STATUS.STARTED || cancelStatus === TX_STATUS.IN_PROGRESS"
          [disabled]="(onAddressChanges | async).toLowerCase() !== tradeData.owner.toLowerCase()"
          [title]="
            (onAddressChanges | async).toLowerCase() !== tradeData.owner.toLowerCase()
              ? 'You are not the owner'
              : ''
          "
          (onClick)="cancelTrade()"
        ></app-primary-button>
      </div>
    </div>
  </section>
</div>

<div class="no-trade" *ngIf="!doesTradeExist">Such trade doesn't exist.</div>

<app-cancel-completed-modal
  *ngIf="cancelStatus === TX_STATUS.COMPLETED"
  [transactionId]="cancelTransactionId"
  [blockchain]="tradeData.blockchain"
>
</app-cancel-completed-modal>
