<div class="trade" *ngIf="doesTradeExist">
  <section class="spinner-container" *ngIf="!isMainTradeDataLoaded">
    <app-spinner></app-spinner>
  </section>

  <section class="trade-container" *ngIf="isMainTradeDataLoaded">
    <div class="trade-container__header header">
      <div class="header__row header-row">
        <span class="header-row__tokens-names">{{
          tradeData.token.base.symbol + ' <> ' + tradeData.token.quote.symbol
        }}</span>
      </div>

      <div class="header__row header-row">
        <span class="header-row__blockchain">
          <img [src]="blockchain.imagePath" alt="blockchain" /> {{ blockchain.label }}
        </span>

        <span class="header-row__tokens-rate tokens-rate">
          <span class="tokens-rate__title">Rate:</span>
          {{ getRate() }}

          <button class="tokens-rate__button" (click)="isRevertedRate = !isRevertedRate">
            <img src="./assets/images/icons/revert.svg" alt="reverse rate" />
          </button>
        </span>

        <span
          class="header-row__state"
          *ngIf="tradeData.status"
          [ngClass]="{
            'header-row__state_active': tradeData.status === TRADE_STATUS.ACTIVE,
            'header-row__state_expired': tradeData.status === TRADE_STATUS.EXPIRED,
            'header-row__state_cancelled': tradeData.status === TRADE_STATUS.CANCELLED,
            'header-row__state_done': tradeData.status === TRADE_STATUS.DONE
          }"
        >
          {{ tradeData.status }}
        </span>
      </div>
    </div>

    <div class="trade-container__tokens-swap tokens-swap">
      <!--base-->
      <div
        class="tokens-swap__block token-block"
        [ngClass]="{
          'token-block_without-withdraw':
            (tradeData?.status !== TRADE_STATUS.ACTIVE &&
              tradeData?.status !== TRADE_STATUS.EXPIRED) ||
            tradeData.token.base.amountContributed?.isEqualTo(0)
        }"
      >
        <div class="token-block__main-area">
          <div class="token-block__area area-first">
            <div class="area-first__amount-total">{{ shortedAmountTotal.base }}</div>

            <div class="area-first__amount-sent">
              <span class="area-first__amount-description">Sent</span>
              <span class="area-first__amount-number">
                {{ tradeData.token.base.amountContributed?.toFormat(shortedFormat) }}
              </span>
            </div>

            <div class="area-first__amount-left">
              <span class="area-first__amount-description">Left</span>
              <span class="area-first__amount-number">{{
                tradeData.token.base.amountLeft?.toFormat(shortedFormat)
              }}</span>
            </div>
          </div>

          <div class="token-block__area area-second">
            <div class="area-second__investors investors">
              <span class="investors__amount">{{ tradeData.token.base.investorsNumber }} / 10</span>
              <span class="investors__text">Number of investors</span>
            </div>

            <div class="area-second__token-info token-info">
              <div class="token-info__text">
                <span class="token-info__title">{{
                  tradeData.token.base.name + ' (' + tradeData.token.base.symbol + ')'
                }}</span>

                <a href="https://etherscan.io/stat/supply" class="token-info__link" target="_blank">
                  Check on Explorer <img src="/assets/images/icons/link.svg" alt="link" />
                </a>
              </div>

              <img
                class="token-info__image"
                [src]="tradeData.token.base.image || '/assets/images/icons/coins/empty.svg'"
                alt="token"
              />
            </div>
          </div>

          <div
            class="token-block__area area-third"
            *ngIf="
              tradeData?.status === TRADE_STATUS.ACTIVE &&
              tradeData.token.base.isApproved !== undefined
            "
          >
            <input
              class="area-third__amount-input"
              [placeholder]="tradeData.token.base.isApproved ? 'Enter amount' : ''"
              [disabled]="!tradeData.token.base.isApproved"
              appNumberPrecision
              [(ngModel)]="baseAmountToContribute"
              #baseAmountToContributeModel="ngModel"
            />

            <div class="area-third__confirm-button">
              <app-primary-button
                [label]="tradeData.token.base.isApproved ? 'Contribute' : 'Approve'"
                [animate]="
                  approveStatus.base === TX_STATUS.STARTED ||
                  approveStatus.base === TX_STATUS.IN_PROGRESS ||
                  contributeStatus.base === TX_STATUS.STARTED ||
                  contributeStatus.base === TX_STATUS.IN_PROGRESS
                "
                [disabled]="
                  tradeData.token.base.isApproved &&
                  !(
                    baseAmountToContributeAsNumber?.isGreaterThan(0) &&
                    baseAmountToContributeModel.valid
                  )
                "
                (onClick)="makeApproveOrContribute('base')"
              ></app-primary-button>
            </div>

            <button class="area-third__fill-button">Fill all</button>
          </div>
        </div>

        <div class="token-block__withdraw-area">
          <div
            class="token-block__area area-fourth"
            *ngIf="
              (tradeData?.status === TRADE_STATUS.ACTIVE ||
                tradeData?.status === TRADE_STATUS.EXPIRED) &&
              tradeData.token.base.amountContributed?.isGreaterThan(0)
            "
          >
            <app-withdraw-button
              class="area-fourth__withdraw-button"
              [animate]="
                withdrawStatus.base === TX_STATUS.STARTED ||
                withdrawStatus.base === TX_STATUS.IN_PROGRESS
              "
              (onClick)="makeWithdraw('base')"
            ></app-withdraw-button>
          </div>
        </div>
      </div>

      <!--quote-->
      <div
        class="tokens-swap__block token-block"
        [ngClass]="{
          'token-block_without-withdraw':
            (tradeData?.status !== TRADE_STATUS.ACTIVE &&
              tradeData?.status !== TRADE_STATUS.EXPIRED) ||
            tradeData.token.base.amountContributed?.isEqualTo(0)
        }"
      >
        <div class="token-block__main-area">
          <div class="token-block__area area-first">
            <div class="area-first__amount-total">{{ shortedAmountTotal.quote }}</div>

            <div class="area-first__amount-sent">
              <span class="area-first__amount-description">Sent</span>
              <span class="area-first__amount-number">
                {{ tradeData.token.quote.amountContributed?.toFixed() }}
              </span>
            </div>

            <div class="area-first__amount-left">
              <span class="area-first__amount-description">Left</span>
              <span class="area-first__amount-number">{{
                tradeData.token.quote.amountLeft?.toFixed()
              }}</span>
            </div>
          </div>

          <div class="token-block__area area-second">
            <div class="area-second__investors investors">
              <span class="investors__amount">
                {{ tradeData.token.quote.investorsNumber }} / 10
              </span>
              <span class="investors__text">Number of investors</span>
            </div>

            <div class="area-second__token-info token-info">
              <div class="token-info__text">
                <span class="token-info__title">{{
                  tradeData.token.quote.name + ' (' + tradeData.token.quote.symbol + ')'
                }}</span>

                <a href="https://etherscan.io/stat/supply" class="token-info__link" target="_blank">
                  Check on Explorer <img src="/assets/images/icons/link.svg" alt="link" />
                </a>
              </div>

              <img
                class="token-info__image"
                [src]="tradeData.token.quote.image || '/assets/images/icons/coins/empty.svg'"
                alt="token"
              />
            </div>
          </div>

          <div
            class="token-block__area area-third"
            *ngIf="
              tradeData?.status === TRADE_STATUS.ACTIVE &&
              tradeData.token.quote.isApproved !== undefined
            "
          >
            <input
              class="area-third__amount-input"
              [placeholder]="tradeData.token.quote.isApproved ? 'Enter amount' : ''"
              [disabled]="!tradeData.token.quote.isApproved"
              appNumberPrecision
              [(ngModel)]="quoteAmountToContribute"
              #quoteAmountToContributeModel="ngModel"
            />

            <div class="area-third__confirm-button">
              <app-primary-button
                [label]="tradeData.token.quote.isApproved ? 'Contribute' : 'Approve'"
                [animate]="
                  approveStatus.quote === TX_STATUS.STARTED ||
                  approveStatus.quote === TX_STATUS.IN_PROGRESS ||
                  contributeStatus.quote === TX_STATUS.STARTED ||
                  contributeStatus.quote === TX_STATUS.IN_PROGRESS
                "
                [disabled]="
                  tradeData.token.quote.isApproved &&
                  !(
                    quoteAmountToContributeAsNumber?.isGreaterThan(0) &&
                    quoteAmountToContributeModel.valid
                  )
                "
                (onClick)="makeApproveOrContribute('quote')"
              ></app-primary-button>
            </div>

            <button class="area-third__fill-button">Fill all</button>
          </div>
        </div>

        <div class="token-block__withdraw-area">
          <div
            class="token-block__area area-fourth"
            *ngIf="
              (tradeData?.status === TRADE_STATUS.ACTIVE ||
                tradeData?.status === TRADE_STATUS.EXPIRED) &&
              tradeData.token.quote.amountContributed?.isGreaterThan(0)
            "
          >
            <app-withdraw-button
              class="area-fourth__withdraw-button"
              [animate]="
                withdrawStatus.quote === TX_STATUS.STARTED ||
                withdrawStatus.quote === TX_STATUS.IN_PROGRESS
              "
              (onClick)="makeWithdraw('quote')"
            ></app-withdraw-button>
          </div>
        </div>
      </div>
    </div>

    <div class="trade-container__trade-options trade-options">
      <div class="trade-options__option trade-option">
        <div class="trade-option__title">Closing Date</div>

        <div class="trade-option__body">{{ expirationDay }}</div>
      </div>

      <div class="trade-options__option trade-option">
        <div class="trade-option__title">Closing Time</div>

        <div class="trade-option__body">{{ expirationTime }} UTC</div>
      </div>

      <div class="trade-options__option trade-option copy-link">
        <div class="trade-option__title">Link To Deal</div>

        <div class="trade-option__body trade-option__body_copy-link">
          {{ currentUrl }}
          <button
            class="trade-option__body_button"
            [cdkCopyToClipboard]="currentUrl"
            (cdkCopyToClipboardCopied)="onCopiedLink()"
          >
            <img src="/assets/images/icons/copy.svg" alt="copy" />
          </button>
        </div>

        <div class="copy-link__copied-notification" *ngIf="isCopied">
          Copied
          <div class="triangle"></div>
        </div>
      </div>

      <div class="trade-options__option trade-option trade-option_public">
        <div class="trade-option__title">Public Deal</div>

        <div
          class="trade-option__body trade-option-body-public"
          [ngClass]="{ 'trade-option-body-public_not-checked': !tradeData.isPublic }"
        >
          <span>{{ tradeData.isPublic ? 'Yes' : 'No' }}</span>

          <span
            class="trade-option-body-public__image"
            [ngClass]="{ 'trade-option-body-public__image_not-checked': !tradeData.isPublic }"
          ></span>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="no-trade" *ngIf="!doesTradeExist">Such trade doesn't exist.</div>
