<form class="container" [formGroup]="timeForm">
  <button class="container__close-button"></button>

  <div class="container__header">Set up custom period</div>

  <div class="inputs">
    <label class="inputs__title">Custom period</label>
    <div class="inputs__flex">
      <div class="input input_hours">
        <tui-input-number [tuiTextfieldLabelOutside]="true" [formControlName]="'hours'">
          0
        </tui-input-number>
        <span class="input__title">Hours</span>
      </div>

      <div class="input input_minutes">
        <tui-input-number [tuiTextfieldLabelOutside]="true" [formControlName]="'minutes'">
          1
        </tui-input-number>
        <span class="input__title">Minutes</span>
      </div>
    </div>
  </div>

  <app-rubic-button class="container__set-button" (onClick)="onSet()">Set</app-rubic-button>
  <app-rubic-button class="container__cancel-button" appearance="outline" (onClick)="onCancel()"
    >Cancel</app-rubic-button
  >
</form>
