@use 'src/scss/core' as *;

.rubic-footer {
  @include flex(row, center, space-around);
  width: 100%;

  margin-bottom: 10px;
  padding: 0 20px;

  color: var(--tui-text-02);

  font-weight: 300;

  @include hide-unused-ui {
    display: none;
  }

  &__nav,
  &__pdfs,
  &__copyright {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 3px;

    width: max(300px, 30vw);

    @include b($mobile-sm-plus) {
      max-width: 320px;
    }
  }

  &__link {
    margin-right: 21px;
    margin-bottom: 16px;

    transition: 0.1s ease-in-out;

    img {
      display: block;
      width: 22px;
      height: 22px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__copyright {
    font-size: $rubic-font-size-01;
    text-align: center;
  }

  &__policy {
    color: var(--primary-color);
    white-space: nowrap;
  }
}
