@use 'src/scss/core' as *;

.rubic-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;

  font-weight: 300;

  @include hide-unused-ui {
    display: none;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include b($mobile-sm-plus) {
      max-width: 320px;
    }
  }

  &__link {
    margin-right: 21px;
    margin-bottom: 16px;

    transition: 0.1s ease-in-out;

    img {
      display: block;
      width: 22px;
      height: 22px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__copyright {
    font-size: $rubic-font-size-01;
    text-align: center;
  }

  &__policy {
    color: var(--primary-color);
    white-space: nowrap;
  }
}
