@import 'src/scss/vars';
@import 'src/scss/mixins';

.rubic-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  padding: 0 20px;

  font-weight: 300;
  font-family: $sf-pro-font;

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  &__link {
    margin-right: 21px;
    margin-bottom: 21px;

    transition: 0.1s ease-in-out;

    img {
      display: block;
      width: auto;
      max-width: 22px;
      height: auto;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__copyright {
    color: $rubic-base-07;
    font-size: $rubic-font-size-01;
    text-align: center;
  }

  &__policy {
    color: $rubic-primary;
    white-space: nowrap;
  }
}

@include b($mobile-md) {
  .rubic-footer {
    &__nav {
      width: 220px;
    }

    &__link {
      &:nth-child(5) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
