<footer class="rubic-footer">
  <!-- <app-rubic-volume></app-rubic-volume> -->
  <nav class="rubic-footer__nav">
    <a
      *ngFor="let link of footerLinks"
      class="rubic-footer__link"
      [href]="link.link"
      rel="noopener"
      target="_blank"
    >
      <img [src]="link[theme$ | async]" width="22" height="20" [alt]="link.altText" />
    </a>
  </nav>

  <div class="rubic-footer__copyright">© {{ year }} Clearswap. All Rights Reserved.</div>

  <nav class="rubic-footer__pdfs">
    <a
      [href]="landingDomain + '/pdf/privacy-policy.pdf'"
      rel="noopener"
      target="_blank"
      class="rubic-footer__policy"
      >{{ 'common.privacyPolicy' | translate }}</a
    >
    <span>|</span>
    <a
      [href]="landingDomain + '/pdf/terms-of-use.pdf'"
      rel="noopener"
      target="_blank"
      class="rubic-footer__policy"
      >{{ 'common.termsOfUse' | translate }}</a
    >
  </nav>
</footer>
