@use 'src/scss/core' as *;

.rubic-footer {
  @include flex(row, center, space-around);
  width: 100%;

  margin-bottom: 10px;
  padding: 0 20px;

  color: var(--tui-text-02);

  font-weight: 300;

  @include hide-unused-ui {
    display: none;
  }

  @include bh($tablet) {
    @include flex(column, center, center);
    gap: 8px;
  }

  &__nav,
  &__pdfs,
  &__copyright {
    flex-wrap: wrap;
    gap: 3px;

    width: max(300px, 30vw);

    @include b($mobile-sm-plus) {
      max-width: 320px;
    }

    @include bh($tablet) {
      @include flex(row, center, center);

      width: auto;
    }
  }

  &__nav {
    @include flex(row, center, flex-start);
  }

  &__copyright {
    @include flex(row, center, center);

    @include bh($tablet) {
      order: 3;
    }
  }

  &__pdfs {
    @include flex(row, center, flex-end);
    gap: 32px;

    @include bh($tablet) {
      order: 2;
    }
  }

  &__link {
    @include flex(row, center, center);

    transition: 0.1s ease-in-out;

    img {
      display: block;
      width: 14px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__copyright {
    font-size: $rubic-font-size-01;
    text-align: center;
  }

  &__policy {
    color: var(--primary-color);
    white-space: nowrap;
  }
}
