@import 'src/scss/mixins';
@import 'src/scss/vars';

.cross-chain-form {
  display: flex;
  grid-gap: 10px;

  padding: 20px;

  background-color: white;

  &__swap-section {
    flex: 4;
  }

  &__confirm-section {
    position: relative;
    top: 123px;
  }
}

.swap-section {
  display: flex;
  grid-gap: 14px;
  align-items: center;
}

.swap-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: stretch;
  padding: 20px;

  border-radius: 5px;
  box-shadow: $shadow-block;

  &__title {
    margin-bottom: 8px;

    color: $dark;
    font-size: 13px;
    text-transform: uppercase;

    opacity: 0.85;
  }

  &__blockchain-section {
    margin-bottom: 10px;
  }

  &__wallet-address-section {
    display: block;

    margin-bottom: 20px;
  }

  &__token-section {
    margin-bottom: 10px;
  }

  &__scanner-link-container {
    margin-bottom: 11px;

    font-size: 14px;
    text-align: right;

    &_hidden {
      visibility: hidden;
    }

    img {
      height: 14px;
      margin-left: 3px;
    }
  }

  &__description {
    margin-bottom: 12px;

    font-size: 14px;
    line-height: 14px;

    opacity: 0.4;
  }

  &__blockchain-link {
    font-size: 14px;

    cursor: pointer;
  }
}

.token-chosen {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: 52px;
  padding: 0 8px 0 14px;

  background-color: #f4f4f4;
  border: 1px solid white;
  border-radius: 10px;

  &__amount {
    font-weight: 400;
    font-size: 18px;
    line-height: 52px;

    opacity: 0.6;
  }
}

.token-card {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  height: 38px;
  padding: 5px 13px 5px 11px;

  background-color: white;
  border-radius: 10px;

  opacity: 0.8;

  &__icon {
    max-width: 28px;
    margin-right: 10px;
  }

  &__name {
    color: rgb(67, 71, 108);
    font-weight: 400;

    font-size: 16px;
    line-height: 40px;
  }
}

.confirm-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  app-primary-button {
    display: block;

    width: 85%;
  }
}

@include b($desktop) {
  .cross-chain-form {
    flex-direction: column;
    grid-gap: 17px;

    &__confirm-section {
      top: 0;
    }
  }

  .confirm-section {
    flex-direction: row-reverse;
    align-self: flex-end;
    justify-content: space-between;

    width: 47.5%;

    app-primary-button {
      width: 50%;
      margin-left: auto;
    }
  }

  .token-chosen {
    &__amount {
      font-size: 16px;
    }
  }

  .token-card {
    &__name {
      font-size: 14px;
    }
  }
}

@include b($laptop) {
  .cross-chain-form {
    align-items: center;

    padding: 20px 7px;
  }

  .swap-section {
    flex-direction: column;
    width: 100%;
    max-width: 419px;
  }

  .swap-box {
    align-self: initial;

    width: 100%;
    padding: 20px 13px;

    &__wallet-address-section {
      margin-bottom: 10px;
    }

    &__token-section {
      margin-bottom: 7px;
    }

    &__scanner-link-container {
      margin-bottom: 7px;
    }
  }

  .confirm-section {
    flex-direction: column;
    align-self: initial;

    width: 100%;
    max-width: 409px;

    app-primary-button {
      width: 100%;
    }
  }
}

@include b($mobile-md) {
  .token-chosen {
    &__amount {
      font-size: 14px;
    }
  }
}

@include b($mobile-sm) {
  .token-chosen {
    padding-left: 11px;

    &__amount {
      font-size: 12px;
    }
  }
}
