<div class="lp-card" *ngLet="isMobile$ | async as isMobile">
  <div class="title">
    <img src="assets/images/usdc-util-icon.png" alt="USDC" />
    <img src="assets/images/rbc-util-icon.png" alt="BRBC" />
    Round {{ round }}
  </div>
  <div class="params">
    <div class="params__param">
      <span class="params__param-label">APR: </span>
      <span class="params__param-value">{{ apr || '--.--' }}%</span>
    </div>
    <div class="params__param">
      <span class="params__param-label">Pool Limit: </span>
      <span class="params__param-value">
        {{ poolLimit ? (poolLimit | bigNumberFormat) : '--.--' }} USDC
      </span>
    </div>
    <div class="params__param">
      <span class="params__param-label">Your Balance: </span>
      <span class="params__param-value">
        {{ balance ? (balance | bigNumberFormat: 2:true) : '--.--' }} USDC
      </span>
    </div>
  </div>
  <div class="statuses">
    <app-status-badge
      *ngIf="startTime | functionCall: isInPast:this"
      type="inactive"
      [text]="'Start: ' + (startTime | date: (isMobile ? 'mediumDate' : 'long'))"
    ></app-status-badge>
    <app-status-badge
      *ngFor="let status of statuses"
      [text]="statusBadgeText[status]"
      [type]="statusBadgeType[status]"
    ></app-status-badge>
  </div>
  <app-rubic-button
    appearance="secondary"
    class="join"
    *ngIf="!(startTime | functionCall: isInPast:this)"
    (onClick)="onNavigate.emit(round)"
    >{{ statuses.includes(roundStatus.CLOSED) ? 'Check' : 'Join round' }}</app-rubic-button
  >
</div>
