<div class="lp-card" *ngLet="isMobile$ | async as isMobile">
  <div class="title">
    <img src="assets/images/usdc-util-icon.png" alt="USDC" />
    <img src="assets/images/rbc-util-icon.png" alt="BRBC" />
    Liquidity Providing Round {{ round }}
  </div>
  <div class="statuses">
    <app-status-badge
      *ngIf="start | functionCall: isInPast:this"
      type="inactive"
      [text]="'Start: ' + (start | date: (isMobile ? 'mediumDate' : 'LLL dd, HH:mm'))"
    ></app-status-badge>
    <app-status-badge
      *ngFor="let status of statuses"
      [text]="statusBadgeText[status]"
      [type]="statusBadgeType[status]"
    ></app-status-badge>
  </div>
</div>
