<div
  class="swap-container"
  [class.large-iframe-swap-container]="useLargeIframe"
  *ngLet="{
    providers: privateProviders$ | async,
    selectedTradeType: selectedTradeType$ | async,
    lastActivity: lastActivity$ | async,
    selectedTab: selectedTab$ | async
  } as state"
>
  <div class="form-and-activity">
    <app-tab-bar
      [tabs]="tabs"
      [selectedTab]="state.selectedTab"
      (tabClicked)="handleTabSelected($event)"
    ></app-tab-bar>

    <app-private-main-page-swap
      [creationConfig]="
        state.selectedTab === 'Transfer' ? transferWindowCreationConfig : swapWindowCreationConfig
      "
      (formChanged)="handleSwapWindowChanged($event)"
    ></app-private-main-page-swap>

    <!-- <app-last-private-activity
      [activityList]="state.lastActivity"
      (itemClicked)="handleLastActivityClicked($event)"
    ></app-last-private-activity> -->
  </div>

  <app-private-providers-list-general
    *ngIf="!useLargeIframe"
    @inOutAnimation
    [states]="state.providers"
    [selectedTradeType]="state.selectedTradeType"
    (selectTrade)="selectProvider($event)"
  >
  </app-private-providers-list-general>

  <!--<ng-container [ngSwitch]="state.content">
    <app-token-selector-page
      *ngSwitchCase="'fromSelector'"
      formType="from"
      (tokenSelected)="handleTokenSelect($event, 'from')"
    ></app-token-selector-page>

    <app-token-selector-page
      *ngSwitchCase="'toSelector'"
      formType="to"
      (tokenSelected)="handleTokenSelect($event, 'to')"
    ></app-token-selector-page>

    <div class="form-and-activity" *ngIf="state.content === 'form'">
      <app-tab-bar
        [tabs]="['Swap', 'Transfer']"
        (tabClicked)="handleActionSelected($event)"
      ></app-tab-bar>

      <app-swap-window
        [creationConfig]="swapWindowCreationConfig"
        (formChanged)="handleSwapWindowChanges($event)"
      ></app-swap-window>

      <app-last-private-activity
        [activityList]="state.lastActivity"
        (itemClicked)="handleLastActivityClicked($event)"
      ></app-last-private-activity>
    </div>

    <app-private-providers-list-general
      *ngIf="state.content === 'form' && !useLargeIframe"
      @inOutAnimation
      [states]="state.providers"
      [selectedTradeType]="state.selectedTradeType"
      (selectTrade)="selectProvider($event)"
    >
    </app-private-providers-list-general>

    <!--<app-providers-list-general
      *ngIf="state.content === 'form' && !useLargeIframe"
      @inOutAnimation
      [states]="state.providers"
      [selectedTradeType]="'LIFI'"
      (selectTrade)="selectProvider($event)"
      [calculationStatus]="state.calculationStatus"
      [showCalculation]="true"
    ></app-providers-list-general>-->
  <!--</ng-container>-->
</div>
