header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all linear 0.2s;
  z-index: 10;
  background-color: white;
  &.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 13px;
    padding-bottom: 10px;
    z-index: 10;
    .logo {
      margin-top: 0;
      margin-bottom: -5px;
    }
  }
}

.app-content-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_right {
    width: 100%;
  }
}

.logo {
  float: left;
}

.header-menu {
  float: right;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fefefe;
  &_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    &_item {
      display: inline-block;
      line-height: 13px;
      padding: 0;
      &--login {
        display: flex;
        align-items: center;
        color: #fff !important;
        text-transform: none;
        margin-top: -4px;
        img {
          margin-left: 16px;
        }
        .header-link {
          color: #fff !important;
          font-size: 14px;
          line-height: 14px;
          padding-left: 0 !important;
        }
      }
      &.with-sublist {
        position: relative;
        visibility: visible;
        span {
          position: relative;
          z-index: 2;
        }

        &:after {
          content: '';
          border-width: 0 2px 2px 0;
          border-style: solid;
          border-color: rgba(255, 255, 255, 0.7);
          width: 4px;
          height: 4px;
          transform: rotate(45deg);
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -6px;
        }
        &.opened-list {
          &:after {
            transform: rotate(-135deg);
          }
        }
      }
      .header-link {
        color: #000;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        padding: 9px 25px;
        cursor: pointer;
        &.is-social {
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.header-menu_sublist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 5px;
  border-radius: 3px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  border: 1px solid #f4f4f4;
  display: none;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
  .opened-list & {
    display: block;
  }
  &_item {
    & + & {
      .sublist-link {
        border-top: 1px solid #f4f4f4;
      }
    }
  }
  .sublist-link {
    color: #000;
    padding: 15px 25px;
    display: block;
    cursor: pointer;
    &:hover {
      color: #4aa956;
      text-decoration: none;
    }
  }
}

.navbar-toggle {
  background: none;
  float: right;
  border: 0 none;
  display: none;
  padding: 10px 6px;
  cursor: pointer;
  margin-top: -5px;
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    + .icon-bar {
      margin-top: 4px;
    }
  }
}

@media screen and (max-width: 800px) {
  .logo {
    margin-left: 10px;
  }
  header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .app-content-block {
      padding-top: 3vw;
      padding-bottom: 3vw;
      position: relative;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
  .header-menu {
    display: none;
    background: rgba(56, 67, 84, 0.9);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    &_sublist {
      left: 0;
      right: 0;
      background: rgba(56, 67, 84, 0.9);
      .sublist-link {
        padding-left: 35px;
      }
    }
    &_list {
      &_item {
        display: block;
        .header-link {
          padding-top: 15px;
          padding-bottom: 15px;
          display: block;
          max-width: initial;
          &.is-social {
            max-width: initial;
          }
          &:hover {
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
    &.opened {
      display: block;
      float: left;
      width: 100%;
    }
  }
  .navbar-toggle {
    display: block;
  }
}
