<header [ngClass]="{ scrolled: pageScrolled }">
  <div class="app-content-block">
    <a routerLink="/trades">
      <span class="logo">
        <img src="assets/images/rubic-logo.svg?_=2" alt="Rubic" />
      </span>
    </a>

    <ul
      class="language-select-list"
      *ngIf="isMobile"
      [ngClass]="{ opened: openedLngList }"
      (click)="toggleLanguage()"
    >
      <li
        (click)="setLanguage(lng['lng'])"
        [ngClass]="{ active: lng['active'] }"
        *ngFor="let lng of languagesList"
      >
        <img src="/assets/images/lng/{{ lng['lng'] }}.svg" />
        <span>{{ lng['title'] }}</span>
      </li>
    </ul>

    <div class="app-content-block_right">
      <button
        class="navbar-toggle"
        type="button"
        (click)="openedMenu = !openedMenu"
        (mousedown)="$event.stopPropagation(); $event.preventDefault()"
        [ngClass]="{ 'navbar-toggle_opened': openedMenu }"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <nav
        class="header-menu"
        [ngClass]="{ opened: openedMenu }"
        (mousedown)="$event.stopPropagation(); $event.preventDefault()"
      >
        <ul class="header-menu_list">
          <li class="header-menu_list_item">
            <a href="https://rubic.finance/" target="_blank" class="header-link">{{
              'About' | translate
            }}</a>
          </li>
          <li class="header-menu_list_item">
            <a routerLink="team" class="header-link">{{ 'Team' | translate }}</a>
          </li>
          <li class="header-menu_list_item">
            <a routerLink="/about" class="header-link">{{ 'Features' | translate }}</a>
          </li>
          <li class="header-menu_list_item">
            <a routerLink="faq" class="header-link">{{ 'Faq' | translate }}</a>
          </li>
          <li class="language-select" *ngIf="!isMobile">
            <ul
              class="language-select-list"
              [ngClass]="{ opened: openedLngList }"
              (click)="toggleLanguage()"
            >
              <li
                (click)="setLanguage(lng['lng'])"
                [ngClass]="{ active: lng['active'] }"
                *ngFor="let lng of languagesList"
              >
                <img src="/assets/images/lng/{{ lng['lng'] }}.svg" />
                <span>{{ lng['title'] }}</span>
              </li>
            </ul>
          </li>
          <li
            class="header-menu_list_item header-menu_list_item--login btn btn-green btn-min btn-normal-weight btn-auto"
            *ngIf="currentUser.is_ghost"
          >
            <img class="arrow" src="./assets/images/buttons/arrow_w.svg" />
            <span (click)="MetamaskAuth()" class="header-link">{{
              'Login by MetaMask' | translate
            }}</span>
          </li>
          <li
            class="header-menu_list_item with-sublist"
            *ngIf="!currentUser.is_ghost"
            [ngClass]="{ 'opened-list': userMenuOpened }"
          >
            <span
              class="header-link account-code"
              [ngClass]="{ 'is-social': currentUser.is_social }"
              (click)="userMenuOpened = !userMenuOpened"
              >{{ currentUser.username }}</span
            >
            <ul class="header-menu_sublist">
              <li class="header-menu_sublist_item">
                <a routerLink="/trades/contracts" class="sublist-link">{{
                  'My trades' | translate
                }}</a>
              </li>
              <li class="header-menu_sublist_item">
                <span class="sublist-link" (click)="openLogoutConfirmation()">{{
                  'Logout' | translate
                }}</span>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!--  <div class="header-warning">-->
  <!--    <img class="header-warning_icon"-->
  <!--         src="./assets/images/icons/warning.svg"/>-->
  <!--    <span class="header-warning_message">-->
  <!--      Important! Binance Smart Chain is in testing now. Please do not use it.-->
  <!--    </span>-->
  <!--  </div>-->
</header>

<ng-template #logoutConfirmation>
  <div class="dialog-block">
    <div class="dialog-block__content">
      <div class="alert-window-title">
        {{ 'Do you really want to Log Out?' | translate }}
      </div>
      <br /><br />
      <div class="alert-window-buttons text-center">
        <div class="grid-row">
          <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
            <button
              class="btn btn-transparent btn-min"
              type="button"
              (click)="logoutSuccess()"
              [disabled]="logoutProgress"
            >
              <span class="lds-ellipsis" *ngIf="logoutProgress">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>
              <span class="just-title"
                >&nbsp;&nbsp;&nbsp;{{ 'Yes' | translate }}&nbsp;&nbsp;&nbsp;</span
              ></button
            ><br />
          </div>
          <div class="grid-cell grid-cell-1-2 grid-cell-vs-1">
            <button class="btn btn-green btn-min" mat-dialog-close type="button">
              <span>&nbsp;&nbsp;&nbsp;{{ 'No' | translate }}&nbsp;&nbsp;&nbsp;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
