header {
  padding-top: 53px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all linear 0.2s;
  z-index: 3;
  &.scrolled {
    background: rgba(56, 67, 84, 0.9);
    padding-top: 13px;
    padding-bottom: 10px;
    z-index: 5;
    .logo {
      margin-top: 0;
      margin-bottom: -5px;
    }
  }
}
.logo {
  float: left;
}
.header-menu {
  float: right;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fefefe;
  &_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    &_item {
      display: inline-block;
      line-height: 13px;
      padding: 0;
      &.with-sublist {
        position: relative;
        visibility: visible;
        &:after {
          content: '';
          border-width: 0 2px 2px 0;
          border-style: solid;
          border-color: rgba(255, 255, 255, 0.7);
          width: 4px;
          height: 4px;
          transform: rotate(45deg);
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -6px;
        }
        &.opened-list {
          &:after {
            transform: rotate(-135deg);
          }
        }
      }
      .header-link {
        color: inherit;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        padding: 9px 25px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.header-menu_sublist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 5px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  .opened-list & {
    display: block;
  }
  &_item {
  }
  .sublist-link {
    color: #fff;
    padding: 15px 25px;
    display: block;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      color: #FCD600;
      text-decoration: none;
    }
  }
}


.navbar-toggle {
  background: none;
  float: right;
  border: 0 none;
  display: none;
  padding: 10px 6px;
  cursor: pointer;
  margin-top: -5px;
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    + .icon-bar {
      margin-top: 4px;
    }
  }
}

@media screen and (max-width: 800px) {
  .logo {
    margin-left: 10px;
  }
  header {
    padding-top: 0!important;
    padding-bottom: 0!important;
    .app-content-block {
      padding-top: 3vw;
      padding-bottom: 3vw;
      position: relative;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
  .header-menu {
    display: none;
    background: rgba(56, 67, 84, 0.9);
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    &_sublist {
      left: 0;
      right: 0;
      background: rgba(56, 67, 84, 0.9);
      .sublist-link {
        padding-left: 35px;
      }
    }
    &_list {
      &_item {
        display: block;
        .header-link {
          padding-top: 15px;
          padding-bottom: 15px;
          display: block;
          &:hover {
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
    &.opened {
      display: block;
      float: left;
      width: 100%;
    }
  }
  .navbar-toggle {
    display: block;
  }
}

