@use 'src/scss/core' as *;

.modal {
  &__content {
    @include flex(column, center, space-around);
    padding: 35px 20px 0;

    text-align: center;
  }

  &__header {
    margin-bottom: 10px;

    img {
      width: 120px;
    }
  }

  &__title {
    line-height: 10px;
  }

  &__footer {
    @include flex(row, center, space-around);
    gap: var(--tui-padding-xl);
    padding-top: var(--tui-padding-xl);
  }

  &__body {
    margin-bottom: 18px;
  }
}
