<div class="settings">
  <form [formGroup]="instantTradeForm" class="settings__form">
    <div class="settings__form-row settings__form-row_large-input">
      <label for="slippageTolerance">{{
        'settings.instantTrades.slippageTitle' | translate
      }}</label>
      <div
        class="settings__hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="'settings.instantTrades.slippage' | translate"
      ></div>
    </div>
    <div class="settings__form-row settings__form-row_united">
      <div
        (click)="setAutoSlippageTolerance(!instantTradeForm.value.autoSlippageTolerance)"
        class="settings__button-auto"
        [ngClass]="{ 'settings__button-auto_active': instantTradeForm.value.autoSlippageTolerance }"
      >
        Auto
      </div>
      <tui-input-number
        id="slippageTolerance"
        [ngModel]="slippageTolerance"
        (ngModelChange)="onSlippageToleranceChange($event)"
        [ngModelOptions]="{ standalone: true }"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldSize]="'s'"
        [max]="50"
        [min]="0.001"
        [postfix]="'%'"
        >0.15%
      </tui-input-number>
    </div>
    <div class="settings__form-row settings__form-row_small-input">
      <div class="settings__form-row">
        <label for="deadline">{{ 'settings.instantTrades.deadlineTitle' | translate }}</label>
        <div
          class="settings__hint"
          [inlineSVG]="'/assets/images/icons/hint.svg'"
          [tuiHint]="'settings.instantTrades.deadline' | translate"
        ></div>
      </div>
      <tui-input-number
        id="deadline"
        [tuiTextfieldLabelOutside]="true"
        formControlName="deadline"
        [decimal]="'never'"
        [max]="240"
        [min]="1"
        [tuiTextfieldSize]="'s'"
        >20
      </tui-input-number>
      <span> {{ 'common.minutes' | translate }}</span>
    </div>

    <div class="settings__form-row">
      <label for="disableMultihops">{{
        'settings.instantTrades.multihopsTitle' | translate
      }}</label>
      <div
        class="settings__hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="'settings.instantTrades.multihops' | translate"
      ></div>
      <tui-toggle
        class="settings__toggle"
        id="disableMultihops"
        formControlName="disableMultihops"
      ></tui-toggle>
    </div>

    <div class="settings__form-row">
      <label for="rubicOptimisation">{{
        'settings.instantTrades.rubicOptimisationTitle' | translate
      }}</label>
      <div
        class="settings__hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="'settings.instantTrades.rubicOptimisation' | translate"
      ></div>
      <tui-toggle
        class="settings__toggle"
        id="rubicOptimisation"
        formControlName="rubicOptimisation"
      ></tui-toggle>
    </div>

    <div class="settings__form-row">
      <label for="autoRefresh">{{ 'settings.instantTrades.autoRefreshTitle' | translate }}</label>
      <div
        class="settings__hint"
        [inlineSVG]="'/assets/images/icons/hint.svg'"
        [tuiHint]="'settings.instantTrades.autoRefresh' | translate"
      ></div>
      <tui-toggle
        class="settings__toggle"
        id="autoRefresh"
        formControlName="autoRefresh"
      ></tui-toggle>
    </div>
  </form>
</div>
