.cross-chain-form {

  &, * {
    box-sizing: border-box;
  }

  display: flex;
  padding: 20px;

  background-color: white;

  &__selection-section {
    flex: 4;
  }

  &__confirm-section {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 17px;
  }

  &__confirm-container {
    width: 100%;
    position: relative;
  }

  &__confirm-wrapper {
    width: 100%;
    padding: 20px;
  }

  &__confirm-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 12px !important;
    color: #A8A8A8 !important;
    text-decoration: none !important;

    &:hover {
      cursor: pointer;
      img {
        content:url(src/assets/images/icons/collaborations/Binance.svg);
      }
    }

    img {
      content:url(src/assets/images/icons/Binance-grey.svg);
      width: 99px;
      height: 24px;
    }

    & > div {
      margin-bottom: 10px;
    }
  }
}


.choose-blockchains {
  display: flex;
  align-items: center;
  position: relative;

  &__box {
    flex: 1;
    padding: 20px 20px 0;

    &:first-child {
      border-right: 1px solid #E5E5E5;
    }

    &:last-child {
      align-self: stretch;
    }
  }

  &__title {
    margin-bottom: 8px;

    font-size: 13px;
    color: #242424;
    text-transform: uppercase;
    opacity: 0.85;
  }

  &__blockchain {
    height: 52px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;

    background-color: #f4f4f4;
    font-size: 18px;

    img {
      transform: scale(1.3);
    }
  }

  &__address {
    margin-bottom: 26px;

    font-size: 14px;
    line-height: 16px;
    opacity: 0.5;
  }

  &__token {
    & > * {
      width: 100%;
    }

    margin-bottom: 0;
  }

  &__get {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    width: 100%;
    padding-left: 22px;
    padding-right: 10px;

    background-color: #f4f4f4;

    & > span {
      font-size: 20px;
      font-weight: 400;
      line-height: 52px;
      opacity: 0.3;
    }
  }

  &__revert-button {
    border: none;
    position: absolute;
    height: 28px;
    width: 28px;
    top: calc(50% - 4px);
    left: calc(50% - 14px);

    border-radius: 50%;
    background-color: white;
    line-height: 35px;
    box-shadow: 0 0 5px 1px #E2E2E2;
    cursor: pointer;

    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__info {
    height: 42px;
    margin-top: 13px;
    opacity: 0.5;
    font-size: 14px;

    td:first-child {
      width: 150px;
    }

    &_wrong {
      color: red;
    }
  }

  &__address-info {
    margin-top: 16px;
    margin-bottom: 7px;

    font-size: 14px;
    line-height: 14px;
    opacity: 0.4;
  }

  &__binance {
    cursor: pointer;
    font-size: 14px;
  }
}

.choose-token {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;

  &__wrapper {
    width: 100%;
  }
}

.get-token-card {
  height: 42px;
  width: 95px;
  padding: 10px 11px;
  display: flex;
  align-items: center;

  opacity: 0.8;
  border: 2px solid rgb(229, 229, 229);
  background-color: white;

  &__icon {
    margin-right: 10px;
    max-width: 17px;
  }

  &__name {
    position: relative;
    top: 2px;

    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    color: rgb(67, 71, 108);
  }
}
