<div class="index-start-form__wrapper">

  <!-- Form label
  <div class="start-form-menus">
    <ul class="block-tabs block-tabs_blockchains">
      <li class="block-tabs_item active">
        <div>
          <img class="block-tabs_item_icon" style="margin-right: 5px" src="../../../assets/images/icons/coins/eth.png" alt="Ethereum"/>
          <img class="block-tabs_item_icon" style="margin-right: 5px" src="../../../assets/images/icons/coins/bnb.svg" alt="Binance"/>
          <span class="block-tabs_item_text">Ethereum and Binance Smart Chain</span>
        </div>
    </ul>
  </div> -->

  <!-- Panel -->
  <form class="cross-chain-form">

    <div class="choose-blockchains cross-chain-form__selection-section">

      <!-- From -->
      <div class="choose-blockchains__box">
        <div class="choose-blockchains__title">
          From
        </div>

        <div class="choose-blockchains__blockchain">
          <img class="block-tabs_item_icon" [src]="'./assets/images/icons/coins/' + fromBlockchain.img" alt="Ethereum"/>
          <span>{{fromBlockchain.label}}</span>
        </div>

        <div class="choose-blockchains__address">
          {{walletAddress}}
        </div>

        <div class="choose-blockchains__title">
          You have
        </div>
        <div class="choose-blockchains__token form-field">
          <app-tokens-input
              class="choose-token__wrapper"
              [tokensList]="tokens"

              (tokenChanges)="onSelectedTokenChanges($event)"
              (numberChanges)="onTokensNumberChanges($event)"
          >
          </app-tokens-input>

          <table class="choose-blockchains__info">
            <tr [ngClass]="{'choose-blockchains__info_wrong': fromNumber!=undefined && fromNumber < selectedToken.minAmount}">
              <td>
                {{selectedToken ? 'Minimum amount' : ''}}
              </td>
              <td>
                {{selectedToken ? selectedToken.minAmount : ''}}
              </td>
            </tr>
            <tr [ngClass]="{'choose-blockchains__info_wrong': fromNumber!=undefined && fromNumber > selectedToken.maxAmount}">
              <td>
                {{selectedToken ? 'Maximum amount' : ''}}
              </td>
              <td>
                {{selectedToken ? selectedToken.maxAmount : ''}}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- Swap -->
      <button class="choose-blockchains__revert-button" type="button" (click)="revertBlockchains()">
        <img src="../../../assets/images/icons/revert.svg"
             class="choose-blockchains__revert-icon" alt="Revert">
      </button>

      <!-- To -->
      <div class="choose-blockchains__box">
        <div class="choose-blockchains__title">
          To
        </div>

        <div class="choose-blockchains__blockchain">
          <img class="block-tabs_item_icon" [src]="'./assets/images/icons/coins/' + toBlockchain.img" alt="Binance"/>
          <span>{{toBlockchain.label}}</span>
        </div>

        <div class="choose-blockchains__address">
          {{walletAddress}}
        </div>

        <div class="choose-blockchains__title">
          You get
        </div>
        <div class="choose-blockchains__get">
          <span>
            {{this.toNumber != undefined ? this.toNumber : ""}}
          </span>
          <div class="get-token-card">
            <ng-template [ngIf]="selectedToken">
                <img class="get-token-card__icon" [src]="selectedToken.icon" alt="Token"/>
              <span class="get-token-card__name">
                {{ selectedToken.symbol }}
              </span>
            </ng-template>
          </div>
        </div>

        <div class="choose-blockchains__address-info">
          You will get Binance tokens to the same address
        </div>
        <a class="choose-blockchains__binance" href="https://www.binance.org/" target="_blank">
          What is Binance?
        </a>

       </div>
    </div>

    <div class="cross-chain-form__confirm-section">
      <app-primary-button
        class="cross-chain-form__confirm-wrapper"
        label="Create Swap"
        [animate]="feeCalculationProgress"
        [disabled]="
            !selectedToken ||
            !fromNumber || fromNumber < selectedToken.minAmount || fromNumber > selectedToken.maxAmount
          "
        (onClick)="onConfirm()"
        >
      </app-primary-button>
    </div>

  </form>

</div>
