<div class="info-line" *ngIf="priceImpact !== 0">
  <div class="info-line__title title">
    <span class="title__text">{{ title }}</span>
    <img
      [src]="
        priceImpact !== null
          ? 'assets/images/swaps/swaps-info/question-icon.svg'
          : 'assets/images/swaps/swaps-info/exclamation-icon.svg'
      "
      alt="question"
      [tuiHint]="hint"
    />
  </div>

  <ng-container *ngIf="priceImpact !== undefined">
    <div
      *ngIf="priceImpact !== null"
      class="info-line__value"
      [ngClass]="{
        'info-line__value_green': priceImpact < PRICE_IMPACT_RANGE.LOW,
        'info-line__value_yellow':
          priceImpact >= PRICE_IMPACT_RANGE.MEDIUM && priceImpact < PRICE_IMPACT_RANGE.HIGH,
        'info-line__value_red': priceImpact >= PRICE_IMPACT_RANGE.HIGH
      }"
    >
      {{ priceImpact < PRICE_IMPACT_RANGE.LOW ? '<0.01' : priceImpact }}%
    </div>

    <div *ngIf="priceImpact === null" class="info-line__value info-line__value_yellow">
      Price impact is unknown
      <img src="assets/images/swaps/swaps-info/warning-icon.svg" alt="warning" />
    </div>
  </ng-container>
</div>
