<div class="custom-token-section">
  <div class="custom-token-section__toggler-container">
    <label
      class="custom-token-section__toggler"
      [for]="type + '-custom-token'"
      (click)="isSectionOpened = !isSectionOpened"
    >
      {{ isSectionOpened ? 'Cancel' : 'Use custom token' }}
    </label>
  </div>

  <div class="custom-token-section__form form" *ngIf="isSectionOpened">
    <input
      type="text"
      class="form__input"
      [id]="type + '-custom-token'"
      placeholder="Token Contract Address"
      pattern="0x[A-Fa-f0-9]{40}"
      appTokenAddress
      [blockchain]="blockchain"
      (tokenValidated)="tokenValidated.emit($event)"
      [(ngModel)]="tokenAddress"
      #customTokenModel="ngModel"
      [ngClass]="{
        form__input_invalid: customTokenModel.value && customTokenModel.invalid
      }"
      #customTokenInput
    />
    <app-primary-button
      label="Add"
      [animate]="customTokenModel.pending"
      [disabled]="!customTokenModel.valid"
      (onClick)="onAddToken()"
    ></app-primary-button>
  </div>
</div>
