@use 'src/scss/core' as *;

.usd-price-container {
  display: flex;
  justify-content: flex-end;

  color: var(--secondary-text);
  font-size: 14px;
  line-height: 17px;

  text-align: right;

  transition: opacity ease-in-out  0.3s;

  @include b($mobile-sm) {
    justify-content: flex-start;
  }

  &_loading {
    opacity: 0.25;
  }

  &__price {
    min-width: 37px;

    overflow: hidden;

    letter-spacing: 0.1em;
    text-overflow: ellipsis;

    cursor: default;
  }
}
