<tui-root *ngLet="(isIframe$ | async) !== true as fullVersion">

  <ng-template [ngIf]="isBackendAvailable">
    <div *ngIf="fullVersion" class="wrapper">
      <app-header></app-header>
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
      <app-rubic-footer class="footer"></app-rubic-footer>
    </div>
    <div *ngIf="!fullVersion" class="wrapper">
      <app-header></app-header>
      <main class="main-content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </ng-template>

  <ng-container ngProjectAs="tuiOverDialogs">
    <app-maintenance *ngIf="isBackendAvailable === false"></app-maintenance>
    <app-spinner *ngIf="isBackendAvailable === undefined"></app-spinner>
  </ng-container>

  <ng-container ngProjectAs="tuiOverNotifications">
    <!-- Content over notifications -->
  </ng-container>

  <ng-container ngProjectAs="tuiOverPortals">
    <!-- Content over dropdowns -->
  </ng-container>

  <ng-container ngProjectAs="tuiOverHints">
    <!-- Content over hints -->
  </ng-container>

</tui-root>
