@use 'src/scss/core' as *;

::ng-deep {
  app-my-trades,
  app-buy-crypto {
    display: block;
    width: 100%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > :first-child {
    flex: 0;
  }

  > :nth-child(2) {
    flex: 1;
    align-self: stretch;
  }

  > :last-child {
    flex: 0;
  }
}

@media (min-width: 2560px) {
  :host ::ng-deep {
    tui-dropdown tui-data-list tui-select-option {
      font-size: 20px !important;
      line-height: 25px !important;
      white-space: nowrap;
    }

    tui-alert {
      width: fit-content;
      max-width: 400px;

      tui-notification[data-status='error'],
      tui-notification[data-status='warning'] {
        .t-content {
          label {
            display: block;
            margin-bottom: 10px;

            font-size: 20px !important;
          }

          .t-content {
            font-size: 20px;
            line-height: 25px;
          }
        }
      }
    }
  }
}

@media (min-width: 3840px) {
  :host ::ng-deep {
    tui-dropdown tui-data-list tui-select-option {
      font-size: 28px !important;
      line-height: 32px !important;
    }

    tui-alert {
      max-width: 500px;

      border-radius: 25px;

      tui-notification[data-status='error'],
      tui-notification[data-status='warning'] {
        padding: 1rem 1.75rem;

        border-radius: 25px;

        .t-content {
          label {
            margin-bottom: 20px;

            font-size: 28px !important;
          }

          .t-content {
            font-size: 28px;
            line-height: 32px;
          }
        }
      }
    }
  }
}

.main-content {
  width: 100%;
  padding: 0 20px 60px;

  @include hide-unused-ui {
    margin: 0;
    padding: 0;
  }

  ::ng-deep {
    > * {
      margin: 0 auto;

      @include b($mobile-md) {
        margin: 0 auto 40px;
      }
    }
  }
}

@include b($mobile-md) {
  .main-content {
    padding: 0 var(--tui-padding-l) 60px;
  }

  .footer {
    display: none;
  }
}
