@use 'src/scss/core' as *;

::ng-deep {
  app-my-trades,
  app-buy-crypto {
    display: block;
    width: 100%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > :first-child {
    flex: 0;
  }

  > :nth-child(2) {
    flex: 1;
    align-self: stretch;
  }

  > :last-child {
    flex: 0;
  }

  :host-context(html.iframe-horizontal) & {
    width: 1000px;
    margin: 0 auto;
  }
}

.main-content {
  width: 100%;
  padding: 0 20px 60px;

  @include hide-unused-ui {
    margin: 0;
    padding: 0;
  }

  ::ng-deep {
    > * {
      margin: 0 auto;

      @include b($mobile-md) {
        margin: 0 auto 40px;

        @include iframe {
          margin: 0 auto;
        }
      }
    }
  }
}

.iframe-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $iframe-horizontal-width;
  min-height: 100vh;
  margin: 0 auto;
}

.iframe-content {
  position: relative;

  width: 100%;

  @include iframe-vertical {
    width: $iframe-vertical-width;
  }

  main {
    padding: 0 !important;
  }

  app-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

    padding: 15px 20px;

    @include iframe-vertical {
      width: $iframe-vertical-width;
      padding: 15px 10px;
    }
  }
}

@include b($mobile-md) {
  .footer {
    display: none;
  }
}
