app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;

  display: block;

  transform: translateX(-50%);
}

::ng-deep {
  app-my-trades,
  app-buy-crypto {
    display: block;
    width: 100%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > :first-child {
    flex: 0;
  }

  > :nth-child(2) {
    flex: 1;
    align-self: center;
  }

  > :last-child {
    flex: 0;
  }

  :host-context(html.iframe-horizontal) & {
    width: 1000px;
    margin: 0 auto;
  }
}
