<app-window-container>
  <ng-container header
    >This feature is not supported on mobile yet. Please continue on desktop.</ng-container
  >
  <div class="stub-content">
    <!--    <span>This feature is not supported on mobile yet. Please continue on desktop.</span>>-->
    <img src="/assets/images/private-swaps/monitor.svg" alt="Desktop" />
    <button [routerLink]="'/privacy'" tuiButton type="button" size="m" appearance="primary">
      Back to Hub
    </button>
  </div>
</app-window-container>
