@use 'src/scss/core' as *;

:host {
  .field-with-copy-btn {
    @include flex(row, center, space-between);
    gap: 5px;
    width: 100%;
    padding: 8px 12px;

    font-size: 14px;

    border-style: solid;
    border-width: 1px;
    border-radius: 8px;

    &__copy-btn {
      @include flex(row, center, center);
      width: 28px;
      height: 28px;

      background-color: var(--tui-background-base);
      border-radius: 6px;
      cursor: pointer;

      ::ng-deep svg {
        width: 16px;
        height: 16px;
      }

      &-copied {
        ::ng-deep svg path {
          fill: var(--tui-background-accent-1-pressed);
        }
      }
    }
  }
}
