@use 'src/scss/core' as *;

$mobile-width: 360px;

:host {
  display: flex;

  ::ng-deep {
    .back-button {
      display: flex;
      gap: var(--tui-padding-s);
      align-items: center;
      padding: 0 5px;

      cursor: pointer;

      &__text {
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-right: 14px;
      }

      &__image {
        height: 12px;
      }
    }
  }
}

.swap-container {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  margin: 0 auto;

  .form {
    @include flex(column, center, center);

    position: relative;

    gap: 32px;

    width: 600px;
    margin-right: 10px;
    margin-left: 10px;

    transition: 0.2s ease-in-out;

    &_tokens {
      width: 600px;
    }

    &_small {
      width: $mobile-width;
    }
  }

  app-spindle-banner,
  app-token-selector-page {
    width: 100%;
  }

  app-swap-form-page {
    width: 100%;
    // margin-bottom: 10px;
  }

  app-preview-swap,
  app-cn-preview-swap {
    width: 100%;
    // margin-bottom: 10px;
  }

  app-input-output-container:first-child {
    display: block;
    margin-bottom: 1px;
  }

  app-providers-list-general {
    display: block;
    width: $mobile-width;
    height: 510px;

    background: var(--io-background);
    border-radius: 17px;
  }
}

.large-iframe-swap-container {
  flex-direction: column;
  gap: 10px;

  app-cn-trade-info {
    width: 600px;
    margin: 0 10px;
  }
}

@include b($mobile-md) {
  .swap-container {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-l);
    align-items: center;
    width: 100%;
    margin: 0 auto;

    .form {
      width: $mobile-width;
      overflow: hidden;
    }

    app-providers-list-general {
      width: $mobile-width;
      height: auto;
      margin-bottom: 10px;
      overflow: hidden;

      background: none;
      border-radius: 0;
    }
  }
}

.banner-container {
  width: 100%;

  ::ng-deep fieldset {
    height: fit-content;
    padding: 0;
  }
}
