:host {
  display: flex;

  ::ng-deep {
    .back-button {
      margin-right: 10px;
      padding: 5px;

      cursor: pointer;

      &__image {
        height: 10px;
      }
    }
  }
}

.swap-container {
  display: flex;
  margin: 0 auto;

  .form {
    position: relative;

    width: 600px;
    margin-right: 10px;
    margin-left: 10px;

    transition: 0.2s ease-in-out;

    &_tokens {
      width: 600px;
    }

    &_small {
      width: 360px;
    }
  }

  app-input-output-container:first-child {
    display: block;
    margin-bottom: 1px;
  }

  app-providers-list {
    display: block;
    width: 360px;
    height: 510px;

    background: var(--secondary-background);
    border-radius: 17px;
  }
}
