@let state =
  {
    content: formContent$ | async,
    providers: providers$ | async,
    calculationStatus: calculationStatus$ | async,
    transactionState: transactionState$ | async,
    showSpindl: showSpindl$ | async,
    chartInfo: chartInfo$ | async,
    mobile: mobile$ | async
  };

<div class="trade-view-container" [class.large-iframe-trade-view-container]="useLargeIframe">
  <div
    class="form"
    [ngClass]="{
      form_small: state.content === 'preview',
      form_tokens: state.content === 'fromSelector' || state.content === 'toSelector'
    }"
  >
    @switch (state.content) {
      @case ('form') {
        <app-swap-form-page></app-swap-form-page>
      }
      @case ('fromSelector') {
        <app-token-selector-page
          formType="from"
          (tokenSelected)="handleTokenSelect($event, 'from')"
        ></app-token-selector-page>
      }
      @case ('toSelector') {
        <app-token-selector-page
          formType="to"
          (tokenSelected)="handleTokenSelect($event, 'to')"
        ></app-token-selector-page>
      }
      @case ('preview') {
        <app-preview-swap></app-preview-swap>
      }
      @case ('depositPreview') {
        <app-deposit-preview-swap></app-deposit-preview-swap>
      }
    }

    @if (
      state.mobile &&
      state.calculationStatus?.showSidebar &&
      state.content === 'form' &&
      !useLargeIframe
    ) {
      <app-providers-list-general
        @inOutAnimation
        [states]="state.providers"
        [selectedTradeType]="selectedTradeType$ | async"
        (selectTrade)="selectTrade($event)"
        [calculationStatus]="state.calculationStatus"
        [showCalculation]="true"
      ></app-providers-list-general>
    }

    <div class="chart-container" [style.display]="state.chartInfo.status.opened ? 'block' : 'none'">
      <app-crypto-rate-chart></app-crypto-rate-chart>
    </div>

    <div
      class="banner-container"
      [ngStyle]="{
        display: state.content === 'form' ? 'block' : 'none'
      }"
    >
      @if (state.showSpindl) {
        <app-spindle-banner></app-spindle-banner>
      }
    </div>
  </div>

  @if (
    !state.mobile &&
    state.calculationStatus?.showSidebar &&
    state.content === 'form' &&
    !useLargeIframe
  ) {
    <app-providers-list-general
      @inOutAnimation
      [states]="state.providers"
      [selectedTradeType]="selectedTradeType$ | async"
      (selectTrade)="selectTrade($event)"
      [calculationStatus]="state.calculationStatus"
      [showCalculation]="true"
    ></app-providers-list-general>
  }

  @if (state.content === 'depositPreview') {
    <app-deposit-trade-info></app-deposit-trade-info>
  }
</div>
