<div
  class="swap-container"
  [class.large-iframe-swap-container]="useLargeIframe"
  *ngLet="{
    content: formContent$ | async,
    providers: providers$ | async,
    calculationStatus: calculationStatus$ | async,
    transactionState: transactionState$ | async,
    showSpindl: showSpindl$ | async
  } as state"
>
  <div
    class="form"
    [ngClass]="{
      form_small: state.content === 'preview',
      form_tokens: state.content === 'fromSelector' || state.content === 'toSelector'
    }"
    [ngSwitch]="state.content"
  >
    <app-token-selector-page
      *ngSwitchCase="'fromSelector'"
      formType="from"
    ></app-token-selector-page>
    <app-token-selector-page *ngSwitchCase="'toSelector'" formType="to"> </app-token-selector-page>
    <app-swap-form-page
      [style]="{ display: state.content === 'form' ? 'block' : 'none' }"
    ></app-swap-form-page>
    <app-preview-swap *ngSwitchCase="'preview'"></app-preview-swap>
    <app-deposit-preview-swap *ngSwitchCase="'depositPreview'"></app-deposit-preview-swap>

    <tui-carousel
      class="banner-carousel"
      [duration]="10000"
      [ngStyle]="{
        display: state.content === 'form' ? 'block' : 'none'
      }"
    >
      <ng-container *ngIf="state.showSpindl">
        <app-spindle-banner *tuiItem></app-spindle-banner>
      </ng-container>
      <app-hypelab-banner *tuiItem></app-hypelab-banner>
    </tui-carousel>
  </div>

  <app-providers-list-general
    *ngIf="
      state.calculationStatus &&
      state.calculationStatus.showSidebar &&
      state.content === 'form' &&
      !useLargeIframe
    "
    @inOutAnimation
    [states]="state.providers"
    [selectedTradeType]="selectedTradeType$ | async"
    (selectTrade)="selectTrade($event)"
    [calculationStatus]="state.calculationStatus"
    [showCalculation]="true"
  ></app-providers-list-general>

  <app-deposit-trade-info *ngIf="state.content === 'depositPreview'"></app-deposit-trade-info>
</div>
