<div class="title">
  Recent Crosschain Tx
  <app-rotating-icon [rotating]="loading$ | async" (iconClick)="reload()"></app-rotating-icon>
</div>
<div class="description">History of your latest Crosschain Transactions:</div>
<div class="transactions">
  <ng-container *ngLet="recentTrades$ | async as recentTrades">
    <ng-container *ngIf="recentTrades?.length > 0; else empty">
      <ng-container *ngFor="let tx of recentTrades">
        <div class="tx">
          Provider: {{ tx.crossChainProviderType }}<br />
          Date: {{ (tx.timestamp | date: 'MMM dd, yyyy') + ' at ' + (tx.timestamp | date: 'h:mm')
          }}<br />
          Tokens: {{ tx.fromToken.symbol }} -> {{ tx.toToken.symbol }}<br />
          Networks: {{ tx.fromBlockchain.label }} -> {{ tx.toBlockchain.label }} <br />
        </div>
        <hr style="margin: 5px 0px" />
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #empty>
  <div class="empty">No transactions</div>
</ng-template>
