@import 'src/scss/vars';
@import 'src/scss/mixins';

.token-block {
  background: white;

  &__area {
    display: flex;
  }
}

.area-first {
  flex-direction: column;

  padding: 12px 20px 10px;

  border-bottom: 2px $grey-background solid;

  &__amount-total {
    margin-bottom: 4px;

    font-size: 40px;
  }
}

.sent-left-amounts {
  display: grid;
  grid-row-gap: 2px;
  grid-column-gap: 8px;
  grid-template-rows: 23px 23px;
  grid-template-columns: min-content auto;
  align-items: center;

  color: $grey-text;

  &__label {
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    text-transform: uppercase;
  }

  &__number {
    font-size: 19px;
  }
}

.area-second {
  position: relative;

  align-items: center;

  justify-content: space-between;

  padding: 25px 20px 20px;

  &_to {
    flex-direction: row-reverse;
  }

  &__progress-bar {
    position: absolute;
    top: -4px;
    left: 0;

    height: 6px;

    background: $main-green;
  }
}

.investors {
  display: flex;
  flex-direction: column;

  &_to {
    text-align: right;
  }

  &__amount {
    margin-bottom: 5px;

    font-weight: 500;
    word-spacing: -2px;
  }

  &__text {
    color: $grey-text;
  }
}

.token-info {
  display: flex;
  grid-gap: 15px;
  align-items: center;

  white-space: nowrap;

  &_to {
    flex-direction: row-reverse;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 26px;
    margin-bottom: 6px;

    font-weight: 500;

    &_to {
      justify-content: flex-start;
    }
  }

  &__link {
    img {
      position: relative;
      top: 1px;

      margin-left: 2px;
    }
  }

  &__image-container {
    display: flex;

    width: 50px;
    height: 50px;

    img {
      width: initial;
      margin: auto;
    }
  }
}

.area-third {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: auto 200px;

  padding: 15px 20px 19px 19px;

  @include b($laptop) {
    display: flex;
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__amount-input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;

    color: $dark;
    font-size: 19px;
    font-family: inherit;

    background: $grey-background;
    border: 1px solid white;

    &_invalid {
      border-color: $error-red;

      &:focus {
        box-shadow: 0 0 2px $error-red;
      }
    }
  }

  &__amount-to-get {

    position: relative;
    left: 2px;

    grid-column: span 2;

    margin: 14px 0 3px;
  }

  &__fill-button {
    position: relative;
    left: 2px;

    width: fit-content;
    margin-top: 8px;
    padding: 0 2px 1px;

    color: $grey-text;
    font-size: 17px;
    font-family: inherit;

    background: white;
    border: none;
    border-bottom: 1px $grey-text dashed;

    cursor: pointer;

    transition: font-weight 0.1s linear;

    &:hover {
      font-weight: 500;
    }

    &:disabled {
      cursor: default;
      opacity: 0.6;

      &:hover {
        font-weight: normal;
      }
    }
  }
}

.amount-to-get {
  &__number {
    font-weight: 500;
  }
}

.area-fourth {
  position: relative;
  top: -5px;

  flex-direction: column;
  grid-gap: 12px;

  padding: 0 20px 17px;

  font-weight: 500;
}

.area-fifth {
  box-sizing: border-box;
  width: 100%;
  max-width: 310px;
  height: 82px;
  margin: 0 auto;
  padding: 15px 20px 19px 19px;

  &__connect-wallet-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    color: #4aa956;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 2px;

    background: transparent;
    border: 1px solid #4aa956;
    border-radius: 10px;

    cursor: pointer;
  }
}

.area-sixth {
  background: $grey-background;
  border-top: 15px solid $grey-background;

  app-withdraw-button {
    width: 100%;
  }
}
