<!--<ng-container *ngIf="fee?.platformFee?.percent"> {{ fee?.platformFee?.percent }}% </ng-container>-->
<!--<ng-container *ngIf="fee?.platformFee?.percent && fee?.cryptoFee?.amount.isFinite()"-->
<!--  >&nbsp;+&nbsp;-->
<!--</ng-container>-->

<!--<ng-container *ngIf="fee?.cryptoFee?.amount?.gt(0)">-->
<!--  {{ fee?.cryptoFee?.amount | bigNumberFormat | withRound : 'toClosestValue' }}&nbsp;-->
<!--  {{ fee?.cryptoFee?.tokenSymbol }}-->
<!--</ng-container>-->

<!--<ng-container *ngIf="!fee?.platformFee?.percent && !fee?.cryptoFee?.amount?.gt(0)">-->
<!--  No charge-->
<!--</ng-container>-->
