<div class="modal" [id]="idPrefix + 'gtm-transaction-modal'">
  <div class="modal__content">
    <main class="modal__body">
      <img
        class="modal__success-image"
        src="assets/images/bridge/success-image.svg"
        alt="Success"
      />
      <h3 *noFrame="'horizontal'" class="modal__title">
        {{
          (type === 'cross-chain-routing'
            ? 'notifications.successfulCCRSwapTitle'
            : 'notifications.successfullySentTransaction'
          ) | translate
        }}
      </h3>
    </main>
    <footer class="modal__footer">
      <ng-container *ngIf="idPrefix !== 'crypto_tap_'">
        <div
          *noFrame
          class="modal__footer-text"
          [innerHTML]="
            (type === 'default'
              ? 'modals.successTxModal.seeDetailsItBridge'
              : 'modals.successTxModal.seeDetailsCCR'
            )
              | translate
                : { explorerLink: txHash | scannerLink: blockchain:ADDRESS_TYPE.TRANSACTION }
          "
        ></div>
      </ng-container>
      <h3 *onlyFrame="'horizontal'" class="modal__title">
        {{
          (type === 'default' ? 'modals.successTxModal.title' : 'modals.successTxModal.ccrTitle')
            | translate
        }}
      </h3>
      <app-rubic-button fullWidth appearance="secondary" (click)="onConfirm()">
        {{ 'common.OK' | translate }}
      </app-rubic-button>
    </footer>
  </div>
</div>
