@use 'src/scss/core' as *;

.modal {
  &__content {
    padding: 136px 20px 0;

    text-align: center;

    @include iframe-vertical {
      padding-top: 52px;
    }
  }

  &__title {
    max-width: 60%;
    margin: 30px auto 48px;

    font-size: 25px;
    line-height: 30px;
  }

  &__footer-link {
    display: inline-block;
    margin-bottom: 18px;

    font-size: 17px;

    span {
      margin-left: 5px;

      ::ng-deep svg path {
        fill: var(--rubic-base-02);
      }
    }
  }

  /* stylelint-disable */
  @include iframe-horizontal {
    height: 100vh;
    display: flex;
    align-items: center;

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: $iframe-horizontal-height;
      padding-top: 0;
    }

    &__body {
      margin-right: 80px;
      height: 100%;
      display: flex;
      align-items: center;

      img {
        transform: scale(1.5);
      };
    }

    h3 {
      text-align: left;
      font-size: 18px;
      margin: 0 0 20px;
    }

    ::ng-deep app-rubic-button button {
      width: 150px;
      float: left;
    }
  }
}
