<div class="route">
  <div class="dex">
    <div class="dex__icon">
      <img [src]="fromTradeProvider?.image" alt="Source trade provider" />
    </div>
    <div class="dex__name">{{ fromTradeProvider?.name }}</div>
  </div>

  <div class="route__line route__line_left" [style.border-color]="fromTradeProvider?.color"></div>

  <div class="dex">
    <div class="dex__icon">
      <img class="dex" [src]="bridgeProvider.image" alt="Bridge provider" />
    </div>
    <div class="dex__name">{{ bridgeProvider.name }}</div>
  </div>

  <div class="route__line route__line_right" [style.border-color]="toTradeProvider?.color"></div>

  <div class="dex">
    <div class="dex__icon">
      <img [src]="toTradeProvider?.image" alt="Target trade provider" />
    </div>
    <div class="dex__name">
      {{ toTradeProvider?.name }}
    </div>
  </div>
</div>
