@use 'src/scss/core' as *;

.element {
  &__route-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    margin-right: 10px;
    padding: var(--tui-padding-m);

    background: var(--io-background);
    border-radius: var(--tui-radius-s);

    button {
      font-weight: 500;
      font-size: 15px;

      border-radius: var(--tui-radius-s);
    }
  }

  &__assets-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    
    &_arrow-image {
      filter: sepia(1) saturate(0) brightness(0.5);
    }

    ::ng-deep {
      .selector__main-image {
        width: 27px;
        height: 27px;
        margin-top: unset;
        overflow: hidden;
      }

      .selector__second-image-container {
        width: 47px;
        height: 27px;
        overflow: hidden;

        border-radius: 10px 0 0 10px;

        img {
          width: 25px;
          height: 25px;
        }
      }

      .selector__main-label {
        img {
          display: none;
        }
      }

      .selector__labels {
        gap: unset;
        width: 50px;
        margin: 0;

        line-height: 1.2;

        span {
          font-size: 12px;
        }
      }

      .selector {
        align-items: center;

        &:hover {
          cursor: unset;
        }
      }
    }
  }
}

@include b($mobile-md) {
  .element {
    &__route-container {
      height: 55px;
      margin-right: 0;

      background: transparent;
    }

    &__assets-container {
      ::ng-deep {
        .selector__main-image {
          background-color: var(--tui-secondary);
          border: 5px solid var(--tui-secondary);
        }
      }

      &_arrow-image {
        filter: unset;
      }
    }
  }
}
