.dropdown {
  position: relative;

  width: 100%;

  cursor: pointer;

  &__container {
    padding: 16px 16px 15px;

    background: var(--form-background);
    border: 1px solid var(--transparent-line);
    border-radius: 19px;
  }

  &__header {
    margin-bottom: 7px;
  }

  &__value {
    width: 155px;
    height: 28px;
    overflow: hidden;

    color: var(--primary-text);
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.06em;
    white-space: nowrap;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 21px;

    width: 13px;

    transform: translateY(-50%);

    transition: 0.2s ease-in-out;

    &_opened {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.header {
  display: flex;
  align-items: center;

  color: var(--secondary-text);
  line-height: 120%;
  letter-spacing: 0.03em;

  img {
    margin-left: 6px;

    cursor: help;
  }
}
