<div class="container">
  <button class="container__close-button"></button>

  <div class="container__header">Set up custom period</div>

  <div class="inputs">
    <label class="inputs__title">Custom period</label>
    <div class="inputs__flex">
      <div class="input hours-input">
        <tui-input-number [tuiTextfieldLabelOutside]="true">1</tui-input-number>
        <span class="input__title">Hours</span>
      </div>
      <div class="input minutes-input">
        <tui-input-number>0</tui-input-number>
        <span class="input__title">Minutes</span>
      </div>
    </div>
  </div>

  <app-rubic-button class="container__set-button">Set</app-rubic-button>
  <app-rubic-button class="container__cancel-button" appearance="outline">Cancel</app-rubic-button>
</div>
