.dropdown {
  position: relative;

  display: block;
  padding: 16px 16px 15px;

  background: var(--form-background);
  border: 1px solid var(--transparent-line);
  border-radius: 19px;

  cursor: pointer;

  &__header {
    margin-bottom: 7px;

    color: var(--secondary-text);
    line-height: 120%;
    letter-spacing: 0.03em;
  }

  &__value {
    color: var(--primary-text);
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.06em;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 21px;

    width: 13px;

    transform: translateY(-50%);

    transition: 0.2s ease-in-out;

    &_opened {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
