<ng-container *ngIf="isMobile$ | async; then dropdownMobile; else dropdownDesktop"> </ng-container>

<ng-template #dropdownDesktop>
  <tui-hosted-dropdown
    class="dropdown"
    [(open)]="settingsOpen"
    [content]="dropdown"
    tuiDropdownDirection="bottom"
  >
    <ng-container *ngTemplateOutlet="expiresIn"></ng-container>
  </tui-hosted-dropdown>
</ng-template>

<ng-template #dropdownMobile>
  <button class="dropdown__button" (click)="openExpriationSettings()">
    <ng-container *ngTemplateOutlet="expiresIn"></ng-container>
  </button>
</ng-template>

<ng-template #expiresIn>
  <div class="dropdown__container">
    <div class="dropdown__header header">
      <span class="header__title">Expires in</span>
      <img
        src="assets/images/icons/exclamation-grey.svg"
        alt="info"
        tuiHint="Please note: When a limit order expires, no cancellation fee is charged. If a limit order is canceled manually, a gas fee is charged at the time of signing the transaction."
        tuiHintAppearance="onDark"
      />
    </div>

    <ng-container *ngLet="expirationValue$ | async as value">
      <div
        class="dropdown__value"
        [tuiHint]="value.shortValue !== value.fullValue ? value.fullValue : null"
        tuiHintAppearance="onDark"
      >
        {{ value.shortValue }}
        <img
          src="assets/images/icons/arrow-down.svg"
          alt="expand"
          class="dropdown__arrow"
          [class.transaction-info__arrow_opened]="settingsOpen"
        />
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #dropdown>
  <app-expiration-optional (onClose)="onClose()"></app-expiration-optional>
</ng-template>
