<tui-hosted-dropdown
  class="dropdown"
  [(open)]="settingsOpen"
  [content]="dropdown"
  [tuiDropdownSided]="true"
  tuiDropdownAlign="right"
>
  <div class="dropdown__header">Expires in</div>
  <div class="dropdown__value">{{ expirationValue$ | async }}</div>
  <img
    src="assets/images/icons/arrow-down.svg"
    alt="expand"
    class="dropdown__arrow"
    [class.transaction-info__arrow_opened]="settingsOpen"
  />
</tui-hosted-dropdown>

<ng-template #dropdown>
  <app-optional-expiration
    *ngIf="dropdownState === 'optional'"
    (onClose)="onClose()"
    (onStateChange)="toggleState()"
  ></app-optional-expiration>

  <app-custom-expiration
    *ngIf="dropdownState === 'custom'"
    (onClose)="onClose()"
    (onStateChange)="toggleState()"
  ></app-custom-expiration>
</ng-template>
