<app-header-main-page></app-header-main-page>
<div class="main-page">
  <section class="first-section">
    <div class="container">
      <h1 class="h1-title">
        Multichain DeFi <br />
        platform
      </h1>
      <div class="first-section-buttons">
        <span class="rubic-btn rubic-btn-green">Launch platform</span>
        <span class="rubic-btn rubic-btn-green rubic-btn-border"
          >Other products</span
        >
      </div>
    </div>
  </section>

  <section class="platform-logo">
    <div class="container">
      <img src="assets/images/logos/ethereum.svg" alt="ethereum logo" />
      <img src="assets/images/logos/binance.svg" alt="bibance logo" />
      <img src="assets/images/logos/tron.svg" alt="tron logo" />
    </div>
  </section>

  <section class="rubic-info">
    <div class="container">
      <div class="rubic-info-img">
        <img src="assets/images/main-page/cube-rubik.svg" alt="cube rubik" />
      </div>
      <div class="rubic-info-text cl-green">
        <h3 class="h3-info-text">
          Rubic organizes defi services to enable a project to create, manage
          and trade tokens decentralized in ONE PLACE.
        </h3>
        <p class="p-info-text">
          We already provide multichain services for creating and managing
          tokens (airdrop, crowdsale, pools) powered by MyWish.
          <br />
          <br />
          Rubic's goal is to add multichain p2p trades to existing services and
          develop other products such as liquidity pools. And make it simple and
          user friendly.
        </p>
        <span class="rubic-btn rubic-btn-green rubic-btn-border"
          >Read White Paper</span
        >
      </div>
    </div>
  </section>

  <section class="who-we-are cl-green">
    <div class="container">
      <h3 class="h3-block-title">Who we are</h3>
      <p class="p-info-text">
        <b>Our team released several crypto projects sucha as:</b>
        <br />
        MyWish platform — the leading platform for Smart contracts contracts
        builders for 6 blockchains (NEO, Ethereum, TRON, EOS, RSK, and WAVES)
        supported by
      </p>
      <div class="block-logo">
        <img src="assets/images/logos/tron-gray.svg" alt="tron logo" />
        <img src="assets/images/logos/binance-gray.svg" alt="bibance logo" />
        <img src="assets/images/logos/neo-gray.svg" alt="neo logo" />
        <img src="assets/images/logos/okex-gray.svg" alt="okex logo" />
      </div>
      <p class="p-info-text">
        Rock and block company which successfully delivered products for NEO,
        Quras, Ducatus, Waves, Enecuum, Axion.network and many others
      </p>
      <div class="block-logo">
        <img src="assets/images/logos/quras-gray.svg" alt="quras logo" />
        <img src="assets/images/logos/ducatus-gray.svg" alt="ducatus logo" />
        <img src="assets/images/logos/waves-gray.svg" alt="waves logo" />
        <img src="assets/images/logos/axion-gray.svg" alt="axion logo" />
      </div>
    </div>
  </section>

  <section class="build-with-rubic cl-green">
    <div class="container">
      <h3 class="h3-block-title">Build with Rubic</h3>
      <div class="blocks-info">
        <div class="blocks-info-item">
          <a href="#">
            <span class="blocks-info-item-title">Create token</span>
            <span class="blocks-info-item-text">powered by</span>
            <img
              class="blocks-info-item-img"
              src="assets/images/logos/mywish.svg"
              alt="mywish logo"
            />
          </a>
        </div>
        <div class="blocks-info-item"></div>
        <div class="blocks-info-item">
          <a href="#">
            <span class="blocks-info-item-title">Airdrop</span>
            <span class="blocks-info-item-text">powered by</span>
            <img
              class="blocks-info-item-img"
              src="assets/images/logos/mywish.svg"
              alt="mywish logo"
            />
          </a>
        </div>

        <div class="blocks-info-item"></div>
        <div class="blocks-info-item">
          <span class="blocks-info-item-title">Trade Platform</span>
          <span class="blocks-info-item-text">powered by</span>
          <img
            class="blocks-info-item-img"
            src="assets/images/logos/rubic.svg"
            alt="rubic logo"
          />
        </div>
        <div class="blocks-info-item"></div>

        <div class="blocks-info-item"></div>
        <div class="blocks-info-item">
          <span class="blocks-info-item-btn">Coming Soon</span>
          <span class="blocks-info-item-coming">Liquidity pool</span>
        </div>
        <div class="blocks-info-item"></div>
      </div>
    </div>
  </section>

  <section class="mission cl-green">
    <div class="container">
      <h3 class="h3-block-title">Mission</h3>
      <p class="p-block-text">
        Each of the blockchains has its own advantages and our goal is to give
        users the opportunity to use the advantages of each of the blockchains
        to solve the problems that they face.
        <br />
        <br />
        Our products are open source.
      </p>
    </div>
  </section>
</div>

<app-footer-main-page></app-footer-main-page>

<div class="scroll-top-btn" id="scroll-btn"></div>
