@use 'src/scss/core' as *;

:host {
  display: flex;
  justify-content: center;
}

.contest {
  &_mobile {
    width: 100%;

    background: var(--form-background);
    border: 1px solid var(--transparent-line);
    border-radius: $border-radius-2;
  }

  &__container {
    display: flex;
  }

  &__info {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 558px;
    height: 60px;
    padding-right: 50px;

    background-color: var(--primary-color);
    border-radius: 25px;

    &_disabled {
      background: #484848;
    }

    &_mobile {
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
      width: 100%;
      height: auto;
      padding: 18px;

      background-color: transparent;

      &_disabled {
        background: transparent;
      }
    }
  }

  &__left {
    z-index: 999;

    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 350px;

    height: 100%;

    padding: 0 33px;

    background: var(--form-background);

    border: 1px solid var(--primary-color);
    border-radius: 25px;

    &_disabled {
      border: 1px solid var(--primary-color);
    }

    &_mobile {
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
      width: auto;
      padding: 0;

      background: transparent;
      border: none;
      border-radius: 0;
    }
  }

  &__amount {
    display: flex;
    gap: 10px;
    align-items: center;

    white-space: nowrap;

    &_disabled {
      color: #909090;

      img {
        filter: grayscale(1) opacity(0.5);
      }
    }

    &_mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 9px 20px;

      background-color: var(--primary-color);
      border-radius: 15px;

      &_disabled {
        filter: grayscale(1) opacity(0.5);
      }
    }

    &-wrapper {
      &_mobile {
        display: flex;
        gap: 15px;
        margin: 20px 0 15px;
      }
    }
  }

  &__round {
    white-space: nowrap;

    &_disabled {
      color: #909090;
    }
  }

  &__date {
    position: relative;

    white-space: nowrap;

    &::before {
      position: absolute;
      top: -13px;
      left: -15px;

      width: 1px;
      height: 48px;

      background-color: white;
      opacity: 0.2;

      content: '';
    }

    &_disabled {
      color: #909090;

      &::before {
        position: absolute;
        top: -13px;
        left: -15px;

        width: 1px;
        height: 48px;

        background-color: #909090;

        content: '';
      }
    }

    &_mobile {
      &::before {
        display: none;
      }
    }
  }

  &__claim-button {
    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    margin-left: 10px;
    padding: 0 6px;

    text-align: center;

    background: var(--primary-color);

    border: 1px solid var(--primary-color);
    border-radius: 25px;

    cursor: pointer;

    transition: all 0.1s linear;

    &_disabled {
      color: #909090;

      background: #484848;
      border: none;
      cursor: default;
    }

    &_mobile {
      width: 100%;
      margin: 0;
      padding: 18px 0;

      background: transparent;
      border-radius: 15px;

      &_disabled {
        filter: grayscale(1) opacity(0.5);
      }
    }

    &-icon {
      width: 25px;
      margin-left: 5px;

      &_mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 14px;

        background: var(--primary-color);
        border-radius: 15px;

        ::ng-deep svg {
          width: 30px !important;
          height: 30px !important;

          path {
            fill: white;
          }
        }

        &_disabled {
          background: #484848;

          ::ng-deep svg path {
            fill: #909090;
          }
        }
      }
    }
  }
}
