<div *ngIf="showBlockchains; else text" class="swaps-header">
  <div class="swaps-header__icons">
    <div class="swaps-header__icon-wrapper">
      <img
        class="swaps-header__blockchain-from"
        [src]="fromBlockchainItem?.image"
        [alt]="fromBlockchainItem?.visibleName"
      />
    </div>
    <div class="swaps-header__icon-wrapper">
      <img
        class="swaps-header__blockchain-to"
        [src]="toBlockchainItem?.image"
        [alt]="toBlockchainItem?.visibleName"
      />
    </div>
  </div>
  <div class="swaps-header__title">
    <div class="swaps-header__trade-type">
      {{ swapType$ | async }}
    </div>
    <div class="swaps-header__name">
      <span>{{ fromBlockchainItem?.visibleName }}</span>
      {{ 'blockchainSwap.to' | translate }}
      <span>{{ toBlockchainItem?.visibleName }}</span>
    </div>
  </div>
</div>

<ng-template #text>
  <app-platform-tokens-amount [amountOfTokens]="15000"></app-platform-tokens-amount>
</ng-template>
