@use 'src/scss/core' as *;

.swaps-header {
  position: relative;

  display: flex;
  align-items: center;

  &__icons {
    display: flex;

    img {
      width: 35px;
      height: 35px;
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    background: #181a19;
    border-radius: 50%;

    &:last-child {
      margin-left: -15px;
    }
  }

  &__title {
    margin-left: 12px;

    color: var(--form-bright-text-color);
    font-weight: 500;
    font-size: 16px;
  }

  &__name {
    color: var(--secondary-color);
    font-size: 14px;
  }
}
