<div *ngLet="isMobile$ | async as isMobile" class="filters-wrapper">
  <button *ngIf="!isMobile" class="filters-wrapper__prev-btn" (click)="prev()">
    <img src="assets/images/icons/chevron.svg" alt="prev-button" />
  </button>

  <tui-carousel #carousel [draggable]="false" [itemsCount]="ITEMS_PER_SLIDE" [(index)]="currentIdx">
    <ng-container *ngFor="let item of TOKEN_FILTERS_UI; let i = index">
      <div
        *tuiItem
        [draggable]="false"
        class="token-filter"
        [class.token-filter__active]="assetListType === item.value"
        (click)="selectFilter(item)"
      >
        <p class="token-filter__text">{{ item.label }}</p>
        <img class="token-filter__icon" [src]="item.img" alt="token-filter" />
      </div>
    </ng-container>
  </tui-carousel>

  <button *ngIf="!isMobile" class="filters-wrapper__next-btn" (click)="next()">
    <img src="assets/images/icons/chevron.svg" alt="prev-button" />
  </button>
</div>
