@use 'src/scss/core' as *;

:host {
  .filters-wrapper {
    @include flex(row, center, space-between);
    gap: 5px;

    width: 100%;
    max-width: 375px;
    height: 56px;
    padding: 5px;

    background-color: var(--io-background);

    @include b($mobile-md) {
      margin-top: 5px;
      margin-left: 5px;

      background-color: transparent;
      border-radius: var(--tui-radius-m);
    }
  }

  .filters-wrapper__next-btn,
  .filters-wrapper__prev-btn {
    padding: 10px 7px;

    background-color: var(--tui-base-01);
    border-radius: var(--tui-radius-s);

    transition: all 300ms;

    &:hover {
      background-color: var(--tui-secondary-hover);
    }
  }

  .filters-wrapper__next-btn {
    img {
      transform: rotateZ(270deg);
    }
  }

  .filters-wrapper__prev-btn {
    img {
      transform: rotateZ(90deg);
    }
  }

  .token-filter {
    @include flex(row, center, center);
    gap: 7px;

    width: 155%;
    height: 41px;
    margin: 0 auto;
    margin-left: -18px;
    color: var(--tui-text-03);

    background: var(--tui-base-01);
    border-radius: 12px;

    transition: all 300ms;

    @include b(mobile) {
      gap: 2px;
    }

    &:hover {
      background: var(--tui-secondary-hover);
      cursor: pointer;
    }

    &__active {
      background: var(--tui-secondary-active);
    }

    &__icon {
      filter: invert(1);
    }
  }

  .token-filter__text {
    line-height: 15px;

    @include b(mobile) {
      font-size: 11px;
      white-space: no-wrap;
      text-align: center;
    }
  }
}
