@use 'src/scss/core' as *;

@mixin tokenImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

:host {
  --tx-height: 82px;
  --tx-list-height: calc(var(--tx-height) * 3 + 1px);
  position: relative;

  display: block;
  width: 100%;
  max-width: 1117px;
  min-height: 382px;
  margin: 0 auto;

  @include b($mobile-md) {
    min-height: unset;
  }
}

.title {
  @include font(26px, 31px, 700, var(--primary-text));
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  @include b($tablet) {
    margin-bottom: 6px;

    font-size: 20px;
    line-height: 24px;
  }

  @include b($mobile-md) {
    display: none;
  }
}

.description {
  @include font(16px, 19px, 500, #a2a1a5);
  margin-bottom: 32px;

  @include b($tablet) {
    margin-bottom: 14px;

    font-size: 13px;
    line-height: 16px;
  }

  @include b($mobile-md) {
    display: none;
  }
}

.table {
  width: 100%;

  th {
    font-weight: normal;
  }

  &__tr_head {
    background: rgba(255, 255, 255, 0.1);
  }

  .table__th {
    @include font(14px, 17px, 400, #a2a1a5);
    padding: 16px;

    text-align: left;

    @include dark {
      color: white;
    }

    &:first-child {
      border-color: transparent;
      border-left-style: solid;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-color: transparent;
      border-left-style: solid;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.no-transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  margin: auto;
  padding: 64px 0;

  @include b($mobile-md) {
    max-width: 340px;
    min-height: var(--tx-list-height);
    max-height: var(--tx-list-height);
  }

  &__title {
    @include font(16px, 18px, 500, #8e8d91);
    margin-bottom: 24px;

    text-align: center;

    @include dark {
      color: #a2a1a5;
    }
  }

  &__navigate {
    width: 100%;
    max-width: 218px;

    @include b($mobile-md) {
      max-width: unset;
    }

    ::ng-deep button {
      font-size: 15px;
    }
  }
}

tui-scrollbar {
  min-height: var(--tx-list-height);
  max-height: var(--tx-list-height);
}
