<div class="bridge-container">
  <div class="bridge-container__wrapper">
    <div class="bridge-container__form">
      <div class="bridge-container__form-title">
        <span>{{'Create your crosschain swap' | translate}}</span>
        <div>
          <span>Use our swaps</span>
          <arro>
        </div>
      </div>
      <app-bridge-form></app-bridge-form>
    </div>


    <div class="disclaimer-text"
         [innerHTML]="'By trading on our platform you agree with the following terms and conditions' | translate">
    </div>

    <app-collaborations></app-collaborations>
  </div>
</div>

<app-footer></app-footer>

<div class="scroll-top-btn" id="scroll-btn"></div>

