@import '../../../../../../../scss/mixins';

$mobile-width: 1024;
$main-color: #4aa956;

.header-menu {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fefefe;
  position: relative;

  &::before {
    content: "";
    width: 1px;
    height: 50%;
    position: absolute;
    right: 0;
    right: 0;
    background-color: $main-color;
    top: 50%;
    transform: translateY(-50%);
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 42px;

    @include b($mobile-width) {
      flex-direction: column;
      height: auto;
      align-items: flex-end;
    }
  }

  &__list-item {
    display: inline-block;
    line-height: 13px;
    padding: 0;

    &[aria-expanded="true"] {
      a {
        padding-right: 40px;
      }

      &::after {
        transform: translateY(-50%) rotate(-45deg);
      }

    }
    
  }

  &__toggle-indicator {
    position: relative;

    &:after {
      content: '';
      transform-origin: center;
      display: block;
      width: 5px;
      height: 5px;
      border-width: 2px 2px 0 0;
      border-style: solid;
      border-color: $main-color;
      transform: translateY(-100%) rotate(135deg);
      position: absolute;
      top: calc(50% + 2px);
      right: 25px;
      z-index: 2;
      transition: transform 0.3s ease-in-out;
    }
  }

  &__link {
    color: $main-color;
    text-decoration: none;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 9px 25px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
    padding-right: 40px;
    @include b($mobile-width) {
      padding: 15px;
    }
  }

  &__sublist {
    padding: 0;
    margin: 0;
  }

  &__sublink {
    color: black;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 9px 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;


    &:hover {
      text-decoration: underline;
    }
  }
}

::ng-deep .mat-menu-panel.header-menu__sublist-container {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(black, 0.1);
}