<nav class="header-menu">
  <ul class="header-menu__list">
    <ng-container #desktopPart *ngIf="($isMobile | async) === false">
      <li
        class="header-menu__list-item header-menu__toggle-indicator"
        [ngClass]="{ 'header-menu__togglable-indicator_opened': false }"
        mat-button
        [matMenuTriggerFor]="about"
      >
        <span class="header-menu__link">{{ 'About' | translate }}</span>
      </li>
      <mat-menu
        class="header-menu__sublist-container"
        #about="matMenu"
        (menuOpened)="toggleAboutMenu()"
        (menuClose)="toggleAboutMenu()"
      >
        <ul class="header-menu__sublist">
          <li class="header-menu__sublist-item">
            <a routerLink="/faq" class="header-menu__sublink">{{ 'Faq' | translate }}</a>
          </li>
          <li class="header-menu__sublist-item">
            <a routerLink="/about" class="header-menu__sublink">{{ 'Features' | translate }}</a>
          </li>
          <li class="header-menu__sublist-item">
            <a routerLink="/team" class="header-menu__sublink">{{ 'Team' | translate }}</a>
          </li>
          <li class="header-menu__sublist-item">
            <a href="https://rubic.finance/" target="_blank" class="header-menu__sublink">{{
              'Project' | translate
            }}</a>
          </li>
        </ul>
      </mat-menu>
    </ng-container>
    <ng-container #mobilePart *ngIf="$isMobile | async">
      <li class="header-menu__list-item">
        <a routerLink="/faq" class="header-menu__link">{{ 'Faq' | translate }}</a>
      </li>
      <li class="header-menu__list-item">
        <a routerLink="/about" class="header-menu__link">{{ 'Features' | translate }}</a>
      </li>
      <li class="header-menu__list-item">
        <a routerLink="/team" class="header-menu__link">{{ 'Team' | translate }}</a>
      </li>
      <li class="header-menu__list-item">
        <a href="https://rubic.finance/" class="header-menu__link">{{ 'Project' | translate }}</a>
      </li>
    </ng-container>
  </ul>
</nav>
