<nav class="header-menu">
  <ul class="header-menu__list">
    <ng-container #desktopPart *ngIf="($isMobile | async) === false">
      <li
        class="header-menu__list-item header-menu__toggle-indicator"
        [ngClass]="{ 'header-menu__togglable-indicator_opened': false }"
        mat-button
        [matMenuTriggerFor]="about"
      >
        <span class="header-menu__link">{{ 'navigation.about' | translate }}</span>
      </li>
      <mat-menu
        class="header-menu__sublist-container"
        #about="matMenu"
        (menuOpened)="toggleAboutMenu()"
        (menuClose)="toggleAboutMenu()"
      >
        <ul class="header-menu__sublist">
          <li class="header-menu__sublist-item">
            <span routerLink="/faq" class="header-menu__sublink">{{
              'navigation.faq' | translate
            }}</span>
          </li>
          <li class="header-menu__sublist-item">
            <span routerLink="/about" class="header-menu__sublink">{{
              'navigation.features' | translate
            }}</span>
          </li>
          <li class="header-menu__sublist-item">
            <span routerLink="/team" class="header-menu__sublink">{{
              'navigation.team' | translate
            }}</span>
          </li>
          <li class="header-menu__sublist-item">
            <span
              href="https://rubic.finance/"
              target="_blank"
              class="header-menu__sublink"
              rel="noopener"
              >{{ 'navigation.project' | translate }}</span
            >
          </li>
        </ul>
      </mat-menu>
    </ng-container>
    <ng-container #mobilePart *ngIf="$isMobile | async">
      <li class="header-menu__list-item">
        <a routerLink="/faq" class="header-menu__link">{{ 'navigation.faq' | translate }}</a>
      </li>
      <li class="header-menu__list-item">
        <a routerLink="/about" class="header-menu__link">{{ 'navigation.features' | translate }}</a>
      </li>
      <li class="header-menu__list-item">
        <a routerLink="/team" class="header-menu__link">{{ 'navigation.team' | translate }}</a>
      </li>
      <li class="header-menu__list-item">
        <a href="https://rubic.finance/" class="header-menu__link">{{
          'navigation.project' | translate
        }}</a>
      </li>
    </ng-container>
  </ul>
</nav>
