@import '../../../../../../../scss/mixins';

$mobile-width: 1024;
$main-color: #4aa956;

.header-menu {
  position: relative;

  color: #fefefe;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 50%;
    right: 0;
    right: 0;

    width: 1px;
    height: 50%;

    background-color: $main-color;
    transform: translateY(-50%);

    content: '';
  }

  &__list {
    display: flex;
    align-items: center;
    height: 42px;
    margin: 0;
    padding: 0;

    list-style-type: none;

    @include b($mobile-width) {
      flex-direction: column;
      align-items: flex-end;
      height: auto;
    }
  }

  &__list-item {
    display: inline-block;
    padding: 0;

    line-height: 13px;

    &[aria-expanded='true'] {
      a {
        padding-right: 40px;
      }

      &::after {
        transform: translateY(-50%) rotate(-45deg);
      }

    }
    
  }

  &__toggle-indicator {
    position: relative;

    &::after {
      position: absolute;
      top: calc(50% + 2px);
      right: 25px;
      z-index: 2;

      display: block;
      width: 5px;
      height: 5px;

      border-color: $main-color;
      border-style: solid;
      border-width: 2px 2px 0 0;
      transform: translateY(-100%) rotate(135deg);
      transform-origin: center;

      transition: transform 0.3s ease-in-out;

      content: '';
    }
  }

  &__link {
    display: inline-block;
    padding: 9px 25px;
    padding-right: 40px;

    color: $main-color;
    text-decoration: none;
    text-decoration: none;
    vertical-align: middle;

    cursor: pointer;
    @include b($mobile-width) {
      padding: 15px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__sublist {
    margin: 0;
    padding: 0;
  }

  &__sublink {
    display: inline-block;
    padding: 9px 25px;

    color: $main-color;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;

    cursor: pointer;


    &:hover {
      text-decoration: underline;
    }
  }
}

::ng-deep .mat-menu-panel.header-menu__sublist-container {
  margin-top: 10px;

  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(black, 0.1);
}
