<footer style="margin-top: 100px">
  <div class="app-content-block">
    <div class="subscribe" id="contacts">
      <div class="page-content">
        <div class="subscribe__row subscribe__row--nw show-eos-theme show-tron-theme">
          <span>
            <a href="https://www.facebook.com/RubicDEX/" target="_blank">
              <img src="./assets/images/contacts/fb.svg" alt="facebook" width="50" height="50" />
            </a>
          </span>
          <span>
            <a href="https://t.me/cryptorubic_chat" target="_blank">
              <img
                src="./assets/images/contacts/telegram.svg"
                alt="telegram"
                width="50"
                height="50"
              />
            </a>
          </span>
          <span>
            <a href="mailto:support@rubic.finance">
              <img src="./assets/images/contacts/sup.svg" alt="mail" width="50" height="50" />
            </a>
          </span>
          <span>
            <a href="https://twitter.com/CryptoRubic" target="_blank">
              <img src="./assets/images/contacts/tw.svg" alt="twitter" width="50" height="50" />
            </a>
          </span>
          <span>
            <a href="https://github.com/Cryptorubic/rubic_frontend" target="_blank">
              <img src="./assets/images/contacts/github.svg" alt="github" width="50" height="50" />
            </a>
          </span>
          <span>
            <a href="https://cryptorubic.medium.com" target="_blank">
              <img src="./assets/images/contacts/medium.svg" alt="medium" width="50" height="50" />
            </a>
          </span>
          <span>
            <a href="https://www.reddit.com/r/Rubic/new/" target="_blank">
              <img src="./assets/images/contacts/reddit.svg" alt="reddit" width="50" height="50" />
            </a>
          </span>
          <span>
            <a href="https://discord.gg/dZuxJZXGPa" target="_blank">
              <img
                src="./assets/images/contacts/discord.svg"
                alt="discord"
                width="50"
                height="50"
              />
            </a>
          </span>
          <span>
            <a href="https://coinmarketcap.com/currencies/rubic/" target="_blank">
              <img
                src="./assets/images/contacts/coinmarket.svg"
                alt="coinmarket"
                width="50"
                height="50"
              />
            </a>
          </span>
          <span>
            <a href="https://www.coingecko.com/en/coins/rubic" target="_blank">
              <img
                src="./assets/images/contacts/coingecko.svg"
                alt="coingecko"
                width="50"
                height="50"
              />
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div>
      <span (click)="useTestingMode()">© {{ 'Copyright' | translate }} Rubic 2021, </span>
      <a
        href="https://rubic.finance/assets/pdf/Rubic%20Privacy%20Policy.pdf"
        target="_blank"
        class="privacy-link"
        >{{ 'Privacy policy' | translate }}</a
      >
    </div>
  </div>
</footer>
