<app-modal (onCloseEvent)="onCancel.emit()">
  <div class="high-gas-price-modal">
    <p class="high-gas-price-modal__description">
      {{ warningText }}<br />Would you like to continue now?
    </p>

    <div class="high-gas-price-modal__buttons buttons">
      <button class="buttons__button buttons__button_cancel" (click)="onCancel.emit()">
        <img src="assets/images/icons/arrow/arrow-right-white.svg" alt="" />
        Cancel
      </button>

      <button class="buttons__button buttons__button_confirm" (click)="onConfirm.emit()">
        <img src="assets/images/icons/arrow/arrow-right-white.svg" alt="" />
        Confirm
      </button>
    </div>
  </div>
</app-modal>
