@use 'src/scss/core' as *;

$token-card-height: 55px;

:host {
  width: 100%;
}

.fiats-container {
  height: calc(100% - 15px);
  margin-top: 10px;

  @include b($mobile-md-minus) {
    height: calc(100% - 20px);
    margin-top: 15px;
  }

  @include iframe-vertical {
    position: static;
    left: unset;

    width: 100%;
    height: 372px;
    margin-top: 15px;
    padding-top: 0;
  }

  ::ng-deep .t-content {
    height: 100%;
  }
}

.fiats-list {
  height: 100%;
  padding-right: 15px;

  &__item {
    padding: 5px 10px;

    border-radius: 15px;

    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 15px;

      @include iframe-vertical {
        margin-bottom: 2px;
      }
    }

    &:hover {
      background-color: rgba($rubic-primary, 0.15);
    }

    &_disabled {
      cursor: not-allowed;
      opacity: 0.4;

      &:hover {
        background-color: unset;
      }
    }

    &_empty {
      display: flex;
      justify-content: center;

      margin-bottom: 20px;

      font-size: 18px;

      &:hover {
        background-color: unset;
      }
    }
  }
}

.nothing-to-show-message {
  position: relative;

  display: block;
  margin-top: 20px;

  font-size: 16px;
  text-align: center;

  opacity: 0.6;

  &__link {
    color: var(--primary-color);

    cursor: pointer;
  }
}

.fiats-scrollbar {
  height: 100%;
  overflow-x: hidden !important;

  ::ng-deep {
    .cdk-virtual-scroll-content-wrapper {
      width: 100%;
      padding: 0 0 5px 24px;

      @include b($mobile-sm-middle) {
        padding-left: 10px;
      }

      @include iframe-vertical {
        padding: 0;
      }
    }
  }
}
