<ng-container>
  <tui-scrollbar class="fiats-container" *ngLet="fiats$ | async as fiats">
    <div class="nothing-to-show-message" *ngIf="!fiats?.length; else fiatsList">
      {{ 'modals.tokensListModal.noSearchData' | translate }}
    </div>

    <ng-template #fiatsList>
      <ul class="fiats-list" @listAnimation>
        <cdk-virtual-scroll-viewport
          tuiScrollable
          [itemSize]="67"
          class="fiats-scrollbar tui-zero-scrollbar"
          [ngClass]="{ 'fiats-scrollbar__empty': !fiats?.length }"
        >
          <li
            *cdkVirtualFor="let fiat of fiats; let i = index; templateCacheSize: 0"
            class="fiats-list__item"
            (click)="onFiatSelect(fiat)"
          >
            <app-fiats-list-element [fiat]="fiat"></app-fiats-list-element>
          </li>
        </cdk-virtual-scroll-viewport>
      </ul>
    </ng-template>
  </tui-scrollbar>
</ng-container>
