<ng-container *ngLet="isDarkTheme$ | async as isDarkTheme">
  <ng-container
    *ngLet="{
      srcStatus: srcTxStatus$ | async,
      dstStatus: dstTxStatus$ | async,
      tradeProcessingStatus: tradeProcessingStatus$ | async
    } as tradeData"
  >
    <div class="title">
      <ng-container
        *ngIf="
          tradeData.srcStatus === CrossChainTxStatus.SUCCESS &&
          tradeData.dstStatus === CrossChainTxStatus.SUCCESS
        "
      >
        {{ 'crossChainPage.swapSchemeModal.transactionCompleted' | translate }}
      </ng-container>

      <ng-container
        *ngIf="
          tradeData.srcStatus === CrossChainTxStatus.PENDING ||
          tradeData.dstStatus === CrossChainTxStatus.PENDING ||
          tradeData.tradeProcessingStatus === CrossChainTxStatus.PENDING ||
          tradeData.dstStatus === CrossChainTxStatus.REVERT
        "
      >
        {{ 'crossChainPage.swapSchemeModal.transactionIsBeingProcessed' | translate }}
      </ng-container>

      <ng-container
        *ngIf="
          tradeData.srcStatus === CrossChainTxStatus.FAIL ||
          tradeData.dstStatus === CrossChainTxStatus.FAIL
        "
      >
        {{ 'crossChainPage.swapSchemeModal.transactionNotCompleted' | translate }}
      </ng-container>
    </div>

    <div class="description">
      <div>
        {{ 'crossChainPage.swapSchemeModal.transactionCanBeTracked' | translate }}
        <span class="highlight_green" (click)="closeModalAndOpenMyTrades()">
          {{ 'crossChainPage.swapSchemeModal.recentTrades' | translate }}
        </span>
      </div>
    </div>

    <div class="point" *ngIf="isSwapAndEarnSwap">
      <ng-container *ngLet="points$ | async as points">
        <span class="point__amount">{{ points.participant ? '50' : '100' }} RBC</span>
      </ng-container>
    </div>

    <div class="description_swapAndEarn" *ngIf="isSwapAndEarnSwap">
      <span>You will receive for this transaction. It can be seen</span>{{ ' ' }}
      <a
        href="https://app.rubic.exchange/swap-and-earn"
        target="_blank"
        rel="noreferrer"
        *ngIf="hideUnusedUI"
        >here</a
      >
      <span class="highlight_green" *ngIf="!hideUnusedUI" (click)="navigateToSwapAndEarn()"
        >here</span
      >
    </div>

    <div class="pair" [ngClass]="{ pair__isSwapAndEarnSwap: isSwapAndEarnSwap }">
      <div class="pair__from">
        <img
          [src]="fromToken.image || 'assets/images/icons/coins/default-token-ico.svg'"
          alt=""
          class="pair__token-image"
        />
        <div class="pair__data">
          <div class="pair__symbol">{{ fromToken.symbol }}</div>
          <div class="pair__blockchain">{{ fromBlockchain.name }}</div>
        </div>
      </div>
      <img src="assets/images/icons/arrow/long-arrow-right-grey.svg" class="pair__arrow" alt="" />
      <div class="pair__to">
        <img
          [src]="toToken.image || 'assets/images/icons/coins/default-token-ico.svg'"
          alt=""
          class="pair__token-image"
        />
        <div class="pair__data">
          <div class="pair__symbol">{{ toToken.symbol }}</div>
          <div class="pair__blockchain">{{ toBlockchain.name }}</div>
        </div>
      </div>
    </div>

    <div
      class="scheme"
      [class.scheme_failed]="
        tradeData.srcStatus === CrossChainTxStatus.FAIL ||
        tradeData.dstStatus === CrossChainTxStatus.FAIL
      "
    >
      <div class="scheme__src">
        <ng-container [ngSwitch]="tradeData.srcStatus">
          <img
            *ngSwitchCase="CrossChainTxStatus.PENDING"
            class="scheme__status-icon scheme__status-icon_rotating"
            [src]="
              isDarkTheme
                ? 'assets/images/icons/white_loader.svg'
                : 'assets/images/icons/black_loader.svg'
            "
            alt=""
          />
          <img
            *ngSwitchCase="CrossChainTxStatus.SUCCESS"
            class="scheme__status-icon"
            [src]="
              isDarkTheme
                ? 'assets/images/icons/checkmark/checkmark-thin-white.svg'
                : 'assets/images/icons/checkmark/checkmark-thin-black.svg'
            "
            alt=""
          />
        </ng-container>
        <img [src]="srcProvider.image" class="scheme__src-icon" />
        <div class="scheme__src-name">{{ srcProvider.name }}</div>
      </div>
      <div class="scheme__pool">
        <ng-container [ngSwitch]="tradeData.tradeProcessingStatus">
          <img
            *ngSwitchCase="CrossChainTxStatus.PENDING"
            class="scheme__status-icon scheme__status-icon_rotating"
            [src]="
              isDarkTheme
                ? 'assets/images/icons/white_loader.svg'
                : 'assets/images/icons/black_loader.svg'
            "
            alt=""
          />
          <img
            *ngSwitchCase="CrossChainTxStatus.SUCCESS"
            class="scheme__status-icon"
            [src]="
              isDarkTheme
                ? 'assets/images/icons/checkmark/checkmark-thin-white.svg'
                : 'assets/images/icons/checkmark/checkmark-thin-black.svg'
            "
            alt=""
          />
        </ng-container>
        <div
          class="scheme__line scheme__line_src"
          [ngClass]="{
            scheme__line_default:
              tradeData.srcStatus === CrossChainTxStatus.FAIL ||
              tradeData.dstStatus === CrossChainTxStatus.FAIL,
            scheme__line_success: tradeData.srcStatus === CrossChainTxStatus.SUCCESS
          }"
        >
          <div
            class="scheme__line-dashed"
            *ngIf="tradeData.srcStatus === CrossChainTxStatus.PENDING"
          ></div>
          <hr *ngIf="tradeData.srcStatus !== CrossChainTxStatus.PENDING" />
        </div>
        <img [src]="bridgeType.image" class="scheme__pool-icon" alt="Bridge provider" />
        <div
          class="scheme__line scheme__line_default scheme__line_dst"
          [ngClass]="{
            scheme__line_default:
              tradeData.srcStatus === CrossChainTxStatus.FAIL ||
              tradeData.dstStatus === CrossChainTxStatus.FAIL,
            scheme__line_success: tradeData.dstStatus === CrossChainTxStatus.SUCCESS
          }"
        >
          <div
            class="scheme__line-dashed"
            *ngIf="
              tradeData.dstStatus === CrossChainTxStatus.PENDING ||
              tradeData.dstStatus === CrossChainTxStatus.REVERT
            "
          ></div>
          <hr
            *ngIf="
              tradeData.dstStatus !== CrossChainTxStatus.PENDING &&
              tradeData.dstStatus !== CrossChainTxStatus.REVERT
            "
          />
        </div>
        <div class="scheme__pool-name">{{ bridgeType.name }}<br /></div>
      </div>
      <div class="scheme__dst">
        <ng-container [ngSwitch]="tradeData.dstStatus">
          <img
            *ngSwitchCase="CrossChainTxStatus.PENDING"
            class="scheme__status-icon scheme__status-icon_rotating"
            [src]="
              isDarkTheme
                ? 'assets/images/icons/white_loader.svg'
                : 'assets/images/icons/black_loader.svg'
            "
            alt=""
          />
          <img
            *ngSwitchCase="CrossChainTxStatus.REVERT"
            class="scheme__status-icon scheme__status-icon_rotating"
            [src]="
              isDarkTheme
                ? 'assets/images/icons/white_loader.svg'
                : 'assets/images/icons/black_loader.svg'
            "
            alt=""
          />
          <img
            *ngSwitchCase="CrossChainTxStatus.SUCCESS"
            class="scheme__status-icon"
            [src]="
              isDarkTheme
                ? 'assets/images/icons/checkmark/checkmark-thin-white.svg'
                : 'assets/images/icons/checkmark/checkmark-thin-black.svg'
            "
            alt=""
          />
        </ng-container>
        <img [src]="dstProvider.image" class="scheme__dst-icon" />
        <div class="scheme__dst-name">{{ dstProvider.name }}</div>
      </div>
    </div>

    <div class="caption">
      <ng-container *ngIf="isArbitrumBridge; else defaultBlock">
        {{
          'Be careful, the bridge from Arbitrum to Ethereum takes one week, after which you need to claim tokens'
        }}
      </ng-container>
      <ng-template #defaultBlock>
        {{ 'crossChainPage.swapSchemeModal.ifTransactionNotCompleted' | translate }}
        <a class="highlight_black-white" href="mailto:support@rubic.exchange">
          support@rubic.exchange</a
        >
      </ng-template>
    </div>
    <app-rubic-button
      *ngIf="tradeData.dstStatus === CrossChainTxStatus.REVERT"
      appearance="primary"
      (onClick)="revertTrade()"
      [loading]="revertBtnLoading$ | async"
      size="s"
    >
      {{ 'common.revert' | translate }}
    </app-rubic-button>
  </ng-container>
</ng-container>
