<div class="faq">
  <div class="faq__questions-list">
    <h2 class="faq__title">{{ 'faqPage.title' | translate }}</h2>
    <tui-accordion>
      <tui-accordion-item
        *ngFor="let question of questions"
        class="faq__question"
        [id]="question.id"
        [borders]="null"
        [open]="question.isActive"
      >
        {{ question.title | translate }}
        <ng-template tuiAccordionItemContent>
          <span [innerHTML]="question.answer | translate"></span>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
  </div>
</div>
