@use 'src/scss/core' as *;

.faq {
  &__questions-list {
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
    padding-top: 25px;

    @include b($tablet) {
      max-width: 100%;
    }
  }

  &__question {
    margin-bottom: 15px !important;

    border-radius: 14px;

    ::ng-deep .t-wrapper {
      background: var(--form-background) !important;
    }
  }
}
