<ng-container>
  <tui-scrollbar class="tokens-container">
    <div class="nothing-to-show-message" *ngIf="!fiats?.length; else fiatsList">
      {{ 'modals.tokensListModal.noSearchData' | translate }}
    </div>

    <ng-template #fiatsList>
      <ul class="tokens-list">
        <cdk-virtual-scroll-viewport
          tuiScrollable
          itemSize="63"
          class="tokens-scrollbar tui-zero-scrollbar"
          [ngClass]="{ 'tokens-scrollbar__empty': !fiats?.length }"
        >
          <li
            *cdkVirtualFor="let fiat of fiats; let i = index; templateCacheSize: 0"
            class="tokens-list__item"
            (click)="onFiat(fiat)"
          >
            <app-fiats-list-element [fiat]="fiat"></app-fiats-list-element>
          </li>
        </cdk-virtual-scroll-viewport>
      </ul>
    </ng-template>
  </tui-scrollbar>
</ng-container>
