<ng-container *ngIf="cryptoFeeToken || platformFee || fixedFeeToken">
  <div class="info-line" *ngIf="cryptoFeeToken">
    <div class="info-line__title title">
      <span class="title__text">Network fee</span>
      <img
        src="assets/images/swaps/swaps-info/question-icon.svg"
        alt="question"
        [tuiHint]="'Gas fee in target network taken in target token.'"
      />
    </div>

    <div class="info-line__value">
      {{ cryptoFeeToken.tokenAmount | bigNumberFormat | withRound : 'toClosestValue' }}
      {{ cryptoFeeToken.symbol }}
    </div>
  </div>

  <div class="info-line" *ngIf="platformFee || fixedFeeToken">
    <div class="info-line__title title">
      <span class="title__text">Protocol fee</span>
      <img
        src="assets/images/swaps/swaps-info/question-icon.svg"
        alt="Protocol fee"
        [tuiHint]="'Platform\'s commission charges in source network native coin.'"
      />
    </div>

    <div class="info-line__value">
      <ng-container *ngIf="platformFee?.percent"
        >{{ platformFee.percent }}%
        <ng-container *ngIf="fixedFeeToken">+</ng-container>
      </ng-container>
      <ng-container *ngIf="fixedFeeToken">
        {{ fixedFeeToken.tokenAmount | bigNumberFormat | withRound : 'toClosestValue' }}
        {{ fixedFeeToken.symbol }}
      </ng-container>
    </div>
  </div>

  <hr class="delimiter" />
</ng-container>

<ng-container *ngIf="toToken">
  <div
    class="info-line"
    *ngLet="
      (minimumReceived
        | bigNumberFormat
        | withRound : 'toClosestValue' : { decimals: toToken.decimals }) +
      ' ' +
      toToken.symbol as minimumReceivedFormatted
    "
  >
    <div class="info-line__title title">
      <span class="title__text">Minimum received</span>
      <img
        src="assets/images/swaps/swaps-info/question-icon.svg"
        alt="question"
        [tuiHint]="
          'Output is estimated. You will receive at least ' +
          minimumReceivedFormatted +
          ' or the transaction will revert.'
        "
      />
    </div>
    <div class="info-line__value" *ngIf="minimumReceived?.isFinite()">
      {{ minimumReceivedFormatted }}
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isBridgers">
  <app-price-impact-info-line
    [hint]="
      'Correlation between an incoming order and the change in the price of the asset involved caused by the trade'
    "
    [priceImpact]="priceImpact"
  ></app-price-impact-info-line>

  <div class="info-line" *ngIf="slippage">
    <div class="info-line__title title">
      <span class="title__text">Slippage</span>
      <img
        src="assets/images/swaps/swaps-info/question-icon.svg"
        alt="question"
        [tuiHint]="
          'Your transaction will be canceled if the price changes unfavorably by more than the entered percentage (a lower percentage decreases the chances of your transaction being front-run).'
        "
      />
    </div>
    <div class="info-line__value">{{ slippage }}%</div>
  </div>
</ng-container>

<div class="info-line">
  <div class="info-line__title title"><span class="title__text">Rate</span></div>
  <div class="info-line__value rate-value" *ngIf="rate as rate">
    {{ rate }}
    <button (click)="switchRateType()">
      <img src="assets/images/swaps/swaps-info/arrows-on-change-icon.svg" alt="change rate order" />
    </button>
  </div>
</div>

<ng-container *ngIf="path?.length">
  <hr class="delimiter" />

  <div class="info-line">
    <div class="info-line__title title"><span class="title__text">Route</span></div>
    <div class="info-line__value route-value">
      <ng-container *ngFor="let tokenSymbol of path; index as index">
        {{ tokenSymbol }}
        <img
          *ngIf="index !== path.length - 1"
          class="route-value__icon-next"
          src="assets/images/swaps/swaps-info/route-next-icon.svg"
          alt=""
        />
      </ng-container>
    </div>
  </div>
</ng-container>
