@use 'src/scss/vars';
@use 'src/scss/mixins';

.error-button {
  color: vars.$rubic-text-error;
}

app-rubic-button[appearance='secondary'] {
  display: block;

  ::ng-deep {
    [tuiButton]._disabled {
      tui-wrapper {
        background-color: #fff;

        @include mixins.dark {
          background-color: #232824;
        }
      }
    }
  }
}
