@import 'src/scss/vars';

.withdraw-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 55px;
  padding: 0;

  font-size: 18px;

  background: white;
  border: none;
  cursor: pointer;

  transition: transform 0.1s ease-in-out;

  img {
    position: relative;
    top: -1px;

    width: 7px;
    margin-right: 6px;
  }

  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    cursor: default;
    opacity: 0.7;

    &:active {
      transform: none;
    }
  }
}

.lds-ellipsis-container {
  span {
    background: $main-green;
  }
}
