<app-cross-chain-swap-info
  *ngIf="swapType === SWAP_PROVIDER_TYPE.CROSS_CHAIN_ROUTING"
></app-cross-chain-swap-info>

<ng-container *ngIf="toWalletAddress">
  <hr class="delimiter" />

  <div class="info-line">
    <div class="info-line__title title">
      <span class="title__text">You will receive {{ blockchainLabel }} tokens at this address</span>
    </div>
    <div class="info-line__value">
      {{ toWalletAddress | shortAddress : 5 : 5 }}

      <a [safetyLink]="toWalletAddress | scannerLink : toBlockchain : ADDRESS_TYPE.WALLET"
        ><img src="assets/images/icons/scanner.svg" [alt]="'common.checkOnScanner' | translate"
      /></a>

      <button
        [cdkCopyToClipboard]="toWalletAddress"
        (cdkCopyToClipboardCopied)="onWalletAddressCopied()"
      >
        <img
          *ngIf="!isWalletCopied"
          src="assets/images/swaps/swaps-info/copy-icon.svg"
          alt="copy"
        />
        <img *ngIf="isWalletCopied" src="assets/images/swaps/swaps-info/tick.svg" alt="copied" />
      </button>
    </div>
  </div>
</ng-container>
