@use 'src/scss/core' as *;

.lp-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 18px;

  background: var(--form-background);
  border-radius: 16px;

  @include b($tablet) {
    padding: 16px;
  }
}

.statuses {
  display: flex;

  @include b($tablet) {
    top: 10px;
    right: 10px;

    app-status-badge:not(:last-child) {
      margin-right: 5px;
    }
  }
    
  app-status-badge:not(:last-child) {
    display: block;
    margin-right: 8px;
  }
}

.title {
  @include font(15px, 18px, 500, var(--primary-text));
  position: relative;

  display: flex;
  align-items: center;

  @include b($tablet) {
    font-size: 12px;
    line-height: 14px;
  }

  img {
    width: 26px;
    height: 26px;

    @include b($tablet) {
      width: 18px;
      height: 18px;
    }
  }

  img:first-child {
    margin-right: 24px;

    border: 2px solid transparent;

    @include b($tablet) {
      margin-right: 18px;
    }
  }

  img:nth-child(2) {
    position: absolute;
    left: 16px;

    border: 2px solid var(--form-background);
    border-radius: 100px;

    @include b($tablet) {
      left: 10px;
    }
  }
}
