.tooltip-group {
  position: relative;
  cursor: pointer;

  font-size: 12px;

  &:hover {
    .tooltip-group__container {
      visibility: visible;
      opacity: 1;
    }
  }

  &__container {
    visibility: hidden;
    position: absolute;
    bottom: 20px;
    left: -95px;
    z-index: 20;

    opacity: 0;

    transition: opacity 0.3s ease-in-out;
  }

  &_align-center {
    text-align: center;
  }
}
