:host {
  display: flex;
  align-items: center;
}

.image {
  display: flex;
  align-items: center;

  ::ng-deep svg {
    width: 20px;
    height: 20px;

    @media (min-width: 2048px) {
      width: 25px;
      height: 25px;
    }

    @media (min-width: 4096px) {
      width: 45px;
      height: 45px;
    }
  }
}

.image-container {
  display: flex;
  align-items: center;

  cursor: pointer;
}
