:host {
  display: flex;
  align-items: center;
}

.image {
  display: flex;
  align-items: center;

  ::ng-deep svg {
    width: 20px;
    height: 20px;
  }
}

.image-container {
  display: flex;
  align-items: center;

  cursor: pointer;
}
