@use 'src/scss/core' as *;

.deposits {
  padding: 32px 22px 22px;

  background: #181a19;
  border-radius: 30px;
  
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  &__title {
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

  &__actions {
    display: flex;
    align-items: center;

    &-show-closed {
      display: flex;
      align-items: center;
      margin-right: 27px;

      color: #fff;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      text-align: right;

      tui-toggle {
        margin-left: 12px;
      }
    }

    &-create {
      width: 171px;

      color: #fff;
      font-weight: 500;
      font-size: 18px;
      line-height: 120%;
    }
  }

  &__list {
    app-deposit-card {
      display: block;

      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }
}
