<div class="deposits">
  <div class="deposits__head">
    <div class="deposits__title">Your Deposits</div>
    <div class="deposits__actions">
      <app-rubic-button
        class="deposits__actions-create"
        appearance="secondary"
        (click)="navigateToDepositForm()"
      >
        Create deposit
      </app-rubic-button>
    </div>
  </div>
  <div class="deposits__list">
    <ng-container *ngFor="let deposit of deposits$ | async">
      <app-deposit-card
        [id]="deposit.tokenId"
        [status]="deposit.isStaked"
        [brbcAmount]="deposit.BRBCAmount"
        [usdcAmount]="deposit.USDCAmount"
        [rewardsToCollect]="deposit.rewardsToCollect"
        [collectedRewards]="deposit.collectedRewards"
        (onCollectReward)="collectReward()"
        (onRemoveDeposit)="removeDeposit()"
      ></app-deposit-card>
    </ng-container>
  </div>
</div>
