<app-window-container
  *ngLet="{
    trade: trade$ | async,
    wallet: walletAddress$ | async,
    extraField: extraField$ | async
  } as state"
>
  <ng-container header>Transaction details</ng-container>
  <div *ngIf="state?.trade" class="transaction-details">
    <app-transaction-details-element
      [title]="text.transactionId.label"
      [description]="text.transactionId.description"
    >
      <div class="row">
        {{ state.trade.id }}
        <app-copy-container [text]="state.trade.id"></app-copy-container>
      </div>
    </app-transaction-details-element>
    <app-transaction-details-element
      *ngIf="state.trade.intermidiateId"
      [title]="'Changelly transaction id'"
      [description]="text.transactionId.description"
    >
      <div class="row">
        {{ state.trade.intermidiateId }}
        <app-copy-container [text]="state.trade.intermidiateId"></app-copy-container>
      </div>
    </app-transaction-details-element>

    <app-transaction-details-element
      *ngIf="state.wallet && state.trade?.toToken.blockchain"
      [title]="text.receiver.label"
      [description]="text.receiver.description"
    >
      <div class="receiver-container">
        {{ state.wallet | shortAddress : 5 : 5 }}

        <a
          [safetyLink]="
            state.wallet | scannerLink : state.trade.toToken.blockchain : ADDRESS_TYPE.WALLET
          "
        >
          <img
            class="image"
            src="assets/images/icons/scanner.svg"
            [alt]="'common.checkOnScanner' | translate"
          />
        </a>
      </div>
    </app-transaction-details-element>

    <app-transaction-details-element
      *ngIf="state.extraField"
      [title]="state.extraField.name"
      [description]="state.extraField.text"
    >
      <div class="row">
        {{
          state.extraField.value.length > 25
            ? (state.extraField.value | shortAddress : 10 : 10)
            : state.extraField.value
        }}
        <app-copy-container [text]="state.extraField.value"></app-copy-container>
      </div>
    </app-transaction-details-element>
  </div>
  <tui-notification *ngIf="state.extraField" status="warning" class="tui-space_vertical-4">
    {{ state.extraField.text }}
  </tui-notification>

  <ng-template></ng-template>
</app-window-container>
