<div
  class="token-amount-input-container"
  [ngClass]="{
    'token-amount-input-container_onramper': isOnramper
  }"
>
  <div class="token-amount-input-container__wrapper">
    <div class="token-amount-input-container__setToMarket-wrapper">
      <app-select-asset-button-tokens
        class="token-amount-input-container__token-button"
        [ngClass]="{
          'token-amount-input-container__token-button_attractive': !selectedAsset
        }"
        [formType]="formType"
      ></app-select-asset-button-tokens>
    </div>

    <app-user-balance-container
      [token]="selectedToken"
      hide="balance"
      (maxButtonClickEvent)="onUserBalanceMaxButtonClick()"
    ></app-user-balance-container>

    <div class="token-amount-input-container__wrapper">
      <label class="token-amount-input-container__input-label">
        <input
          *ngIf="(showLimitOrderOnChainError$ | async) === false; else limitOrderOnChainError"
          #tokenAmount
          autocomplete="off"
          class="token-amount-input-container__input"
          name="token-amount"
          [placeholder]="placeholder$ | async"
          appTokenAmount
          [formControl]="amount"
          [decimals]="selectedToken?.decimals || DEFAULT_DECIMALS"
          (amountChange)="onAmountChange($event)"
          inputmode="decimal"
          id="token-amount-input-element"
        />

        <ng-template #limitOrderOnChainError>
          <div class="error-text">Please, switch to On-Chain pair</div>
        </ng-template>
      </label>

      <ng-container *ngIf="formType === 'from'">
        <div class="token-amount-input-container__iframe-info-cards">
          <app-user-balance-container
            [token]="selectedToken"
            hide="maxButton"
          ></app-user-balance-container>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="selectedToken?.amount.gt(0)">
    <ng-container *ngIf="formType === 'from'">
      <app-user-balance-container
        [token]="selectedToken"
        (maxButtonClickEvent)="onUserBalanceMaxButtonClick()"
      ></app-user-balance-container>
    </ng-container>
  </ng-container>
</div>
