@use 'src/scss/core' as *;

@keyframes jump {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.07);
  }
}

.token-amount-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 85px;

  padding-bottom: 20px;

  &__token-button {
    &_attractive {
      animation: 0.4s jump ease 60s infinite alternate;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;

    @include hide-unused-ui {
      display: flex;
      gap: 10px;
      height: 100%;
    }

    app-set-to-market-button {
      display: block;
      margin-top: 10px;

      @include b($mobile-md) {
        position: absolute;
        right: 0;
        bottom: 1rem;
      }
    }
  }

  &__input-label {
    width: 100%;
    height: 35px;

    ::placeholder {
      letter-spacing: 0.6px;
    }
  }

  &__input {
    width: 100%;
    height: 100%;

    padding: 0;

    color: var(--primary-text);
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.1em;
    text-align: right;

    background-color: transparent;

    border: none;

    @include b($mobile-md) {
      font-size: 25px;

      &::placeholder {
        font-size: 20px;
      }
    }
  }

  &__setToMarket-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@include b($mobile-md) {
  .token-amount-input-container {
    position: relative;

    height: auto;
    margin: 0;
    padding: 30px 20px;

    background-color: var(--form-background);
    border: 1px solid var(--transparent-line);
    border-bottom: none;
    border-radius: 16px 16px 0 0;

    &__wrapper {
      gap: 5px;
    }

    &_onramper {
      border: none;
    }

    &__input-label {
      margin-bottom: 0;
    }
  }
}

@include b($mobile-sm) {
  .token-amount-input-container {
    flex-direction: column;
    gap: 10px;

    &__input {
      padding-left: 0;
    }

    &__wrapper {
      @include hide-unused-ui {
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

.error-text {
  font-size: 18px;
  line-height: 35px;
}
