//:host {
//  position: relative;
//
//  ::ng-deep app-window-container {
//    display: block;
//    margin-bottom: 12px;
//  }
//}

.wrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 0 auto;
}


