<ng-container
  *ngLet="{
    account: account$ | async,
    railgunAccount: railgunAccount$ | async,
    balances: balances$ | async,
    pendingBalances: pendingBalances$ | async,
    activePage: activePage$ | async,
    disabledPages: disabledPages$ | async
  } as data"
>
  <div class="wrapper">
    <app-page-navigation
      [activePage]="data.activePage"
      [pages]="pages"
      [disabledPages]="data.disabledPages"
      (onSelect)="onPageSelect($event)"
    ></app-page-navigation>
    <app-railgun-form
      *ngIf="data.activePage.type === 'login'"
      [railgunAddress]="data?.railgunAccount?.railgunAddress || null"
      [railgunId]="data?.railgunAccount?.id"
      (formSubmit)="onSubmit($event)"
    ></app-railgun-form>

    <app-railgun-account-info
      *ngIf="data.activePage.type === 'wallet' && data.railgunAccount?.railgunAddress"
      [railgunAddress]="data.railgunAccount.railgunAddress"
      [accountId]="data.railgunAccount.id"
      (handleLogout)="logout()"
    ></app-railgun-account-info>

    <app-railgun-transfer-page
      *ngIf="data.activePage.type === 'transfer'"
      [railgunId]="data.railgunAccount?.id"
      [balances]="data.balances"
    ></app-railgun-transfer-page>

    <app-railgun-hide-tokens-page
      *ngIf="data.activePage.type === 'hide'"
      [railgunWalletAddress]="data.railgunAccount?.railgunAddress"
      [pendingBalances]="data.pendingBalances"
    ></app-railgun-hide-tokens-page>

    <app-railgun-swap-page
      *ngIf="data.activePage.type === 'swap'"
      [railgunWalletInfo]="data.railgunAccount"
      [balances]="data.balances"
    ></app-railgun-swap-page>

    <app-railgun-reveal-page
      *ngIf="data.activePage.type === 'reveal'"
      [railgunId]="data.railgunAccount?.id"
      [balances]="data.balances"
    ></app-railgun-reveal-page>

    <!--    <ng-container *ngIf="data.railgunAccount">-->
    <!--      <app-window-container *ngIf="data.balances?.length">-->
    <!--        <h4>Actual balances:</h4>-->
    <!--        <div *ngFor="let token of data.balances">-->
    <!--          {{ token.address }}, {{ token.amount }}, {{ token.blockchain }}-->
    <!--        </div>-->
    <!--      </app-window-container>-->
    <!--    </ng-container>-->
  </div>
</ng-container>
