<ng-container
  *ngLet="{
    account: account$ | async,
    railgunAccount: railgunAccount$ | async,
    balances: balances$ | async,
    pendingBalances: pendingBalances$ | async,
    activePage: activePage$ | async,
    disabledPages: disabledPages$ | async,
    utxoScan: utxoScan$ | async,
    showBalanceLoading: showBalanceLoading$ | async,
    railgunEngineLoading: railgunEngineLoading$ | async
  } as data"
>
  <div class="privacy-wrapper">
    <app-page-navigation
      [activePage]="data.activePage"
      [pages]="pages"
      [disabledPages]="data.disabledPages"
      (onSelect)="onPageSelect($event)"
    ></app-page-navigation>

    <div class="privacy-content">
      <app-railgun-wallet-loading
        *ngIf="data.activePage.type !== 'login' && data.showBalanceLoading"
        [@fadeAnimation]
        [utxoScan]="data.utxoScan"
      ></app-railgun-wallet-loading>

      <app-railgun-login-page
        *ngIf="data.activePage.type === 'login'"
        [railgunAddress]="data?.railgunAccount?.railgunAddress || null"
        [railgunId]="data?.railgunAccount?.id"
        (formSubmit)="onSubmit($event)"
        [loading]="data.railgunEngineLoading"
      ></app-railgun-login-page>

      <app-railgun-account-info
        *ngIf="data.activePage.type === 'wallet' && data.railgunAccount?.railgunAddress"
        [railgunAddress]="data.railgunAccount.railgunAddress"
        [accountId]="data.railgunAccount.id"
        [evmAddress]="data.railgunAccount.evmWalletAddress"
        (handleLogout)="logout()"
      ></app-railgun-account-info>

      <app-railgun-transfer-page
        *ngIf="data.activePage.type === 'transfer'"
        [railgunId]="data.railgunAccount?.id"
        [balances]="data.balances"
      ></app-railgun-transfer-page>

      <app-railgun-hide-tokens-page
        *ngIf="data.activePage.type === 'hide'"
        [railgunWalletAddress]="data.railgunAccount?.railgunAddress"
        [pendingBalances]="data.pendingBalances"
      ></app-railgun-hide-tokens-page>

      <app-railgun-swap-page
        *ngIf="data.activePage.type === 'swap'"
        [railgunWalletInfo]="data.railgunAccount"
        [balances]="data.balances"
      ></app-railgun-swap-page>

      <app-railgun-reveal-page
        *ngIf="data.activePage.type === 'reveal'"
        [railgunId]="data.railgunAccount?.id"
        [balances]="data.balances"
      ></app-railgun-reveal-page>
    </div>
  </div>
</ng-container>
