@use 'src/scss/core' as *;

:host {
  display: flex;
  align-items: center;
}

.chip {
  @include font(18px, 20px, 600, rgba(255, 255, 255, 0.8));
  padding: 11px 18px;

  text-align: center;

  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;

  &_selected {
    border: 1px solid var(--primary-color);
  }
}
