@use 'src/scss/core' as *;

@mixin tokenImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

:host {
  position: relative;

  display: block;
  max-width: 1100px;
  padding-top: 44px;
}

.header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  margin: 0 auto 32px;

  @include b($laptop) {
    max-width: 400px;
    margin-bottom: 8px;
  }

  &__arrow-back {
    position: absolute;
    top: 50%;
    left: 24px;

    width: 9px;
    height: 18px;

    transform: translateY(-50%);

    @include b($laptop) {
      left: 5px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    @include font(18px, 120%, 600, var(--primary-text), 0.06em);
    display: flex;
    align-items: center;
    justify-content: center;

    @include b($laptop) {
      font-size: 16px;
    }
  }

  app-refresh-button {
    position: absolute;
    top: 50%;
    right: 24px;

    transform: translateY(-50%);

    @include b($laptop) {
      right: 5px;
    }
  }
}

.table {
  width: 100%;
  height: 100%;

  tbody {
    display: block;
    height: 100%;
  }

  tr {
    display: flex;
    align-items: center;
    width: 100%;
    height: 86px;
    padding: 44px 16px 0;

    border-radius: 10px;

    &:nth-child(2) {
      height: 76px;
      padding-top: 34px;
    }

    &.table__tr_head {
      height: 51px;
      padding: 0 16px;
    }
  }

  ::ng-deep {
    th,
    td {
      display: inline-flex;
      padding: 0;

      font-weight: normal;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        width: 19%;
      };

      &:nth-child(4) {
        width: 31%;
      };

      &:nth-child(5) {
        width: 12%;
      };
    }
  }

  &__tr_head {
    background: var(--form-background);
    border: 1px solid var(--transparent-line);
    border-radius: 16px;
  }

  .table__th {
    @include font(14px, 17px, 400, #{$text-gray-2}, 0.03em);
    padding: 16px 0;

    text-align: left;
  }
}

.no-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
  margin: auto;
  padding: 64px 0;

  &__title {
    @include font(16px, 18px, 500, #8E8D91);
    margin-bottom: 24px;

    text-align: center;

    @include dark {
      color: #a2a1a5;
    }
  }

  &__navigate {
    width: 100%;
    max-width: 218px;
  }
}

.list {
  > div {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.connect-wallet {
  width: 173px;
  margin: 0 auto;
}
