<tui-accordion-item
  [style.display]="showTransactionInfo ? 'block' : 'none'"
  class="transaction-info"
  [ngClass]="{ 'transaction-info__opened': accordionOpened }"
  [borders]="null"
  [showArrow]="false"
  [noPadding]="true"
  [(open)]="accordionOpened"
>
  <div class="transaction-info__header">
    {{ 'common.transactionDetails' | translate }}
    <img
      src="assets/images/icons/arrow-down.svg"
      alt="expand"
      class="transaction-info__header-arrow"
      [class.transaction-info__header-arrow_opened]="accordionOpened"
    />
  </div>
  <div tuiAccordionItemContent>
    <tui-loader [showLoader]="loading" [overlay]="true">
      <div class="swaps-info">
        <app-transaction-details
          [currentOnChainTrade]="currentInstantTradeInfo?.trade"
        ></app-transaction-details>
      </div>
    </tui-loader>
  </div>
</tui-accordion-item>
