@use 'src/scss/core' as *;
@use '../../styles/styles' as *;

.transaction-info {
  &__header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;

    color: var(--primary-color);
    font-size: 16px;
    line-height: 22px;

    border-bottom: 0;
    border-radius: $border-radius-2;

    &-hint {
      width: 20px;
      height: 20px;
      margin-right: 12px;
    }

    &-arrow {
      width: 13px;
      margin-left: 12px;

      transition: 0.2s ease-in-out;

      &_opened {
        transform: rotate(180deg);
      }
    }
  }

  &._no-padding ::ng-deep .header {
    padding: 0;
  }

  ::ng-deep {
    .header {
      background: transparent !important;
      border-bottom: 0;
      border-radius: $border-radius-2;
    }

    .t-content {
      padding: 0;
    }

    > .t-wrapper {
      background: transparent !important;
      border-color: unset;
      border-radius: $border-radius-2;

      @include b($mobile-md) {
        background: var(--form-background);
      }
    }
  }

  &__opened {
    ::ng-deep {
      > .t-wrapper {
        background: var(--form-background) !important;
        border: 1px solid var(--transparent-line);
      }
    }
  }
}

.swaps-info {
  padding: 0 24px 24px;

  color: var(--primary-text);

  @include b($mobile-md) {
    padding: 1rem 20px;
  }

  &__title {
    margin: 0;

    font-weight: bold;
    font-size: 21px;
    line-height: 125%;
  }
}
