@use 'src/scss/core' as *;

.deposit-swap-info {
  margin-top: var(--tui-padding-l);

  background: var(--primary-background);
  border-radius: var(--tui-radius-m);

  &__target-address {
    padding: var(--tui-padding-l);

    border-bottom: 2px solid var(--secondary-background);
  }

  &__title {
    color: var(--tui-text-tertiary);
    font-weight: 400;
    font-size: 15px;
  }

  &__text {
    display: flex;
    gap: var(--tui-padding-s);
    align-items: center;

    color: var(--tui-text-primary);
    font-weight: 700;
    font-size: 18px;
  }

  &__disabled {
    opacity: 0.8;

    user-select: none;
  }

  &__copy-icon {
    width: 18px;
    height: 18px;

    cursor: pointer;

    ::ng-deep svg {
      path {
        stroke: var(--tui-background-accent-1);
      }
    }
  }

  &__status {
    @include flex(row, flex-start, space-between);
    display: flex;
    gap: var(--tui-padding-s);
    padding: var(--tui-padding-l);

    @include b($mobile-md) {
      @include flex(column, center, space-between);
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: var(--tui-padding-xs);
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__circle {
    width: 16px;
    height: 16px;

    border: 1px solid var(--tui-text-secondary);
    border-radius: 50%;

    &_complete {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;

      background-color: var(--tui-background-accent-1);
      border-color: var(--tui-background-accent-1);
      border-radius: 50%;

      img {
        width: 8px;
        height: 9px;
      }
    }

    &_failed {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;

      background-color: #ba0303;
      border-color: #ba0303;
      border-radius: 50%;

      img {
        width: 8px;
        height: 9px;
      }
    }
  }

  &__spinner {
    width: 15px;
    height: 15px;

    background-image: url('/assets/images/icons/spinner.svg');
    background-repeat: no-repeat;
    background-size: cover;

    animation: 1s spin linear infinite;
  }

  &__label {
    color: var(--tui-text-primary);
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    white-space: nowrap;

    &_completed {
      color: var(--tui-background-accent-1);
    }

    &_failed {
      color: #ba0303;
    }
  }

  &__arrow {
    @include b($mobile-md) {
      transform: rotateZ(90deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotateZ(0deg);
    }

    100% {
      transform: rotateZ(360deg);
    }
  }
}
