.mobile-navigation-list {
  &__link {
    display: block;
    padding: 20px 28px;

    color: var(--primary-text);
    font-size: 16px;

    border-bottom: 1px solid var(--tui-base-04);

    &:hover {
      color: var(--primary-color);
      text-decoration: none;
    }

    &--active {
      color: var(--primary-color);
    }
  }
}
