@import '../../../../../scss/mixins';

.main-page {
  &,
  & * {
    box-sizing: border-box;
  }

  max-width: 1180px;
  margin: 85px auto 0;

  @include b(1240) {
    padding: 0 2vw;
  }
}

.trades-page {
  padding-top: 50px;
}