<ng-container *ngLet="airdropForm.controls.address as address">
  <form [formGroup]="airdropForm">
    <tui-input
      [tuiTextfieldCustomContent]="!!address.value ? '' : copyAddress"
      [tuiTextfieldCleaner]="!!address.value"
      [tuiTextfieldLabelOutside]="true"
      formControlName="address"
      [pseudoInvalid]="address.invalid && !!address.value"
    >
      {{ 'airdrop.enterAddress' | translate }}
    </tui-input>
  </form>

  <ng-container *ngLet="claimedTokens$ | async as claimedTokens">
    <div *ngIf="!!address.value && !address?.errors?.incorrectAddressError" class="description">
      <ng-container *ngIf="address.valid; else error">
        <img
          class="description__icon"
          src="assets/images/icons/airdrop/success.svg"
          alt="Success"
        />
        <div class="description__content">
          <p>{{ 'airdrop.goodAddress' | translate }}</p>
          <span
            >{{ claimedTokens | bigNumberFormat | withRound: 'toClosestValue' }}&nbsp;{{
              'airdrop.claimedTokens' | translate
            }}
          </span>
        </div>
      </ng-container>
      <ng-template #error>
        <img class="description__icon" src="assets/images/icons/airdrop/error.svg" alt="Error" />
        <p>{{ 'airdrop.badAddress' | translate }}</p>
      </ng-template>
    </div>
  </ng-container>
</ng-container>

<ng-template #copyAddress>
  <div class="copy-icon" *ngIf="loggedIn$ | async" (click)="pasteAddress()">
    <div
      class="network-container__input-clipboard-icon"
      [inlineSVG]="'assets/images/icons/insert-from-clipboard.svg'"
    ></div>
  </div>
</ng-template>
