<div class="swap-modal">
  <h2 class="swap-modal__title">
    {{ 'modals.stakingSwapModal.title1' | translate }}
    <span class="highlight">RBC</span>
    {{ 'modals.stakingSwapModal.title2' | translate }}
    <span class="highlight">BRBC</span>
  </h2>

  <div class="swap-modal__way">
    <div class="swap-modal__circle swap-modal__circle_filled">1</div>
    <div class="swap-modal__line"></div>
    <div class="swap-modal__circle">2</div>
  </div>

  <p class="swap-modal__desc">
    <b>{{ 'modals.stakingSwapModal.subtitle' | translate }}</b> <br />
    {{ 'modals.stakingSwapModal.text' | translate }}
  </p>

  <div class="swap-modal__buttons">
    <app-rubic-button appearance="secondary" size="l">
      {{ 'modals.stakingSwapModal.button1' | translate }}
    </app-rubic-button>
    <app-rubic-button appearance="outline" size="l">
      {{ 'modals.stakingSwapModal.button2' | translate }}
    </app-rubic-button>
  </div>
</div>
