<div class="element">
  <div class="element__label">
    {{ 'staking.overview.circRBCLocked' | translate }}
  </div>
  <div
    class="element__value"
    [class.element-value_loading]="!value?.isFinite()"
    [class.tui-skeleton]="!value"
  >
    <span
      [tuiHint]="value?.isFinite() ? (value | bigNumberFormat : 9 : true) + ' %' : '--.--'"
      [tuiHintDirection]="'top-left'"
      tuiHintAppearance="onDark"
      >{{ value?.isFinite() ? (value | bigNumberFormat : 2 : true) : '--.--' }} %
    </span>
  </div>
</div>
