<div class="dialog-block">
  <div class="dialog-block__content">

    <button class="dialog-closer" mat-dialog-close>
      <img src="./assets/images/icons/cross-w.svg">
    </button>
    <div class="modal-title">
      Contact
    </div>

    <div class="modal-description" *ngIf="!formSuccess">
      You can send message to owner of SWAP.
      All messages are moderated by SWAPS.NETWORK team before sending.
    </div>

    <div class="modal-description" *ngIf="formSuccess">
      Thank you! We have received your email and will contact you soon.
      If you want to receive an immediate answer, please contact us via telegram at
      <a href="https://t.me/SWAPS_NETWORK" target="_blank">@swaps_network</a>
    </div>

    <div *ngIf="formSuccess">
      <mat-dialog-content></mat-dialog-content>

      <div class="modal-buttons">
        <div class="grid-row">
          <div class="grid-cell grid-cell-1-3">
            <button class="btn btn-yellow btn-normal-weight width-100"
                    mat-dialog-close
                    type="submit">
              <span>Close</span>
            </button>
          </div>
        </div>
      </div>
    </div>


    <form #contactForm="ngForm" (submit)="sendForm()" *ngIf="!formSuccess">
      <mat-dialog-content>
        <!--<div class="modal-buttons">-->

          <div class="form-field">
            <div class="form-field_label">Your Email</div>
            <div class="form-field_input">
              <input placeholder="Your Email"
                     required
                     [email]="true"
                     type="email"
                     name="email"
                     [(ngModel)]="formData.email"
                     class="min-text">
            </div>
          </div>
          <div class="form-field">
            <div class="form-field_label">Your Message</div>
            <div class="form-field_input">
              <textarea placeholder="Your message"
                        required
                        name="message"
                        [(ngModel)]="formData.message"
                        class="min-text"></textarea>
            </div>
          </div>
        <!--</div>-->
      </mat-dialog-content>

      <div class="modal-buttons">
        <div class="grid-row">
          <div class="grid-cell grid-cell-1-3">
            <button class="btn btn-yellow btn-normal-weight width-100"
                    [disabled]="formIsSending || !contactForm.valid"
                    type="submit">

              <span class="lds-ellipsis" *ngIf="formIsSending">
                <span class="lds-ellipsis-container">
                  <span></span><span></span><span></span><span></span>
                </span>
              </span>

              <img class="arrow" src="./assets/images/buttons/arrow_b.svg">
              <span>Send</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
