.modal {
  &-title {
    font-size: 25px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: bold;
  }
  &-description {
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  &-buttons {
    border-top: 1px dashed rgba(255, 255, 255, 0.25);
    padding: 20px 30px 0;
    margin: 0 -24px -5px;
  }
}


.form-field_input {
  textarea, input {
    background-color: #515866!important;
    color: #fff!important;
    border-color: #515866;
  }
}
