<div class="index-start-form__wrapper">
  <!-- Panel -->
  <form class="cross-chain-form">
    <div class="cross-chain-form__main-section">
      <div class="choose-blockchains cross-chain-form__selection-section">
        <!-- From -->
        <div class="choose-blockchains__box">
          <div class="choose-blockchains__title">From</div>

          <div class="choose-blockchains__blockchain form-field">
            <app-blockchain-select
              [selectedBlockchain]="fromBlockchain"
              [blockchains]="blockchainsList"
              (blockchainChanges)="fromBlockchain = $event"
            ></app-blockchain-select>
          </div>

          <a
            class="choose-blockchains__address"
            [href]="fromBlockchain.addressBaseUrl + fromWalletAddress"
            target="_blank"
          >
            {{ fromWalletAddress }}
          </a>

          <div class="choose-blockchains__title">You have</div>
          <div class="choose-blockchains__token form-field">
            <app-tokens-input
              class="choose-token__wrapper"
              [tokensList]="dropDownTokens"
              [selectedToken]="selectedTokenAsInputToken"
              [selectedAmount]="fromNumber"
              (tokenChanges)="onSelectedTokenChanges($event)"
              (numberChanges)="fromNumber = $event"
            >
            </app-tokens-input>

            <div
              class="choose-blockchains__scanner-link-box"
              [ngClass]="{ 'choose-blockchains__scanner-link-box_hidden': !selectedToken }"
            >
              <a
                [href]="
                  !selectedToken
                    ? ''
                    : selectedToken.symbol === 'ETH' &&
                      fromBlockchain.key === BLOCKCHAIN_NAME.ETHEREUM
                    ? fromBlockchain.baseUrl
                    : fromBlockchain.scanner.baseUrl +
                      selectedToken.blockchainToken[fromBlockchain.key].address
                "
                target="_blank"
              >
                Check on {{ fromBlockchain.scanner.label }}
                <img src="assets/images/icons/link.svg" width="16" height="14" alt="link" />
              </a>
            </div>

            <table
              class="choose-blockchains__info"
              *ngIf="
                fromBlockchain.key === BLOCKCHAIN_NAME.BINANCE_SMART_CHAIN ||
                toBlockchain.key === BLOCKCHAIN_NAME.BINANCE_SMART_CHAIN
              "
            >
              <tr
                [ngClass]="{
                  'choose-blockchains__info_wrong':
                    selectedToken &&
                    fromNumber &&
                    fromNumberAsBigNumber.lt(
                      selectedToken.blockchainToken[fromBlockchain.key].minAmount
                    )
                }"
              >
                <td>
                  {{ selectedToken ? 'Minimum amount' : '' }}
                </td>
                <td>
                  {{
                    selectedToken ? selectedToken.blockchainToken[fromBlockchain.key].minAmount : ''
                  }}
                  <img
                    *ngIf="
                      selectedToken &&
                      fromNumber &&
                      fromNumberAsBigNumber.lt(
                        selectedToken.blockchainToken[fromBlockchain.key].minAmount
                      )
                    "
                    src="assets/images/icons/error-disclaimer-sign.svg"
                    alt=""
                  />
                </td>
              </tr>
              <tr
                [ngClass]="{
                  'choose-blockchains__info_wrong':
                    selectedToken &&
                    fromNumber &&
                    fromNumberAsBigNumber.gt(
                      selectedToken.blockchainToken[fromBlockchain.key].maxAmount
                    )
                }"
              >
                <td>
                  {{ selectedToken ? 'Maximum amount' : '' }}
                </td>
                <td>
                  {{
                    selectedToken ? selectedToken.blockchainToken[fromBlockchain.key].maxAmount : ''
                  }}
                  <img
                    *ngIf="
                      selectedToken &&
                      fromNumber &&
                      fromNumberAsBigNumber.gt(
                        selectedToken.blockchainToken[fromBlockchain.key].maxAmount
                      )
                    "
                    src="assets/images/icons/error-disclaimer-sign.svg"
                    alt=""
                  />
                </td>
              </tr>
            </table>
          </div>
        </div>

        <!-- Swap -->
        <button
          class="choose-blockchains__revert-button"
          type="button"
          (click)="revertBlockchains()"
        >
          <img
            src="assets/images/icons/revert.svg"
            class="choose-blockchains__revert-icon"
            alt="Revert"
          />
        </button>

        <!-- To -->
        <div class="choose-blockchains__box">
          <div class="choose-blockchains__title">To</div>

          <div class="choose-blockchains__blockchain form-field">
            <app-blockchain-select
              [selectedBlockchain]="toBlockchain"
              [blockchains]="blockchainsList"
              (blockchainChanges)="toBlockchain = $event"
            ></app-blockchain-select>
          </div>

          <a
            class="choose-blockchains__address"
            [href]="toBlockchain.addressBaseUrl + toWalletAddress"
            target="_blank"
          >
            {{ toWalletAddress }}
          </a>

          <div class="choose-blockchains__title">You get</div>
          <div class="choose-blockchains__get">
            <span>
              {{ this.toNumber | bigNumberFormat }}
            </span>
            <div class="get-token-card" *ngIf="selectedToken">
              <img
                class="get-token-card__icon"
                [src]="selectedToken.image || '/assets/images/icons/coins/empty.svg'"
                alt="Token"
              />
              <span class="get-token-card__name">
                {{ selectedToken.blockchainToken[toBlockchain.key].symbol }}
              </span>
            </div>
          </div>

          <div
            class="choose-blockchains__scanner-link-box"
            [ngClass]="{ 'choose-blockchains__scanner-link-box_hidden': !selectedToken }"
          >
            <a
              [href]="
                !selectedToken
                  ? ''
                  : selectedToken.symbol === 'ETH' && toBlockchain.key === BLOCKCHAIN_NAME.ETHEREUM
                  ? toBlockchain.baseUrl
                  : toBlockchain.scanner.baseUrl +
                    selectedToken.blockchainToken[toBlockchain.key].address
              "
              target="_blank"
            >
              Check on {{ toBlockchain.scanner.label }}
              <img src="assets/images/icons/link.svg" width="16" height="14" alt="link" />
            </a>
          </div>

          <div class="choose-blockchains__address-info">
            You will get {{ toBlockchain.name }} tokens to the selected address
          </div>

          <a
            class="choose-blockchains__blockchain-link"
            [href]="
              getNonEthereumBlockchain() === BLOCKCHAIN_NAME.BINANCE_SMART_CHAIN
                ? 'https://www.binance.org/'
                : 'https://polygon.technology/'
            "
            target="_blank"
          >
            What is
            {{
              getNonEthereumBlockchain() === BLOCKCHAIN_NAME.BINANCE_SMART_CHAIN
                ? 'Binance Smart Chain'
                : 'Polygon'
            }}?
          </a>
        </div>
      </div>

      <div class="cross-chain-form__last-section">
        <div class="cross-chain-form__confirm-section">
          <app-primary-button
            type="button"
            class="cross-chain-form__confirm-wrapper"
            label="Create Swap"
            [animate]="feeCalculationProgress || buttonAnimation"
            [disabled]="
              !selectedToken ||
              !fromNumber ||
              fromNumberAsBigNumber.lt(
                selectedToken.blockchainToken[fromBlockchain.key].minAmount
              ) ||
              fromNumberAsBigNumber.gt(selectedToken.blockchainToken[fromBlockchain.key].maxAmount)
            "
            (onClick)="checkAndConfirm()"
          >
          </app-primary-button>

          <a
            [href]="
              getNonEthereumBlockchain() === BLOCKCHAIN_NAME.BINANCE_SMART_CHAIN
                ? 'https://www.binance.org/'
                : 'https://polygon.technology/'
            "
            target="_blank"
            class="cross-chain-form__confirm-info"
            [ngClass]="{
              'cross-chain-form__confirm-info_hidden':
                selectedToken?.blockchainToken[BLOCKCHAIN_NAME.BINANCE_SMART_CHAIN]?.address ===
                this.BRBC_ADDRESS,
              'cross-chain-form__confirm-info_polygon':
                getNonEthereumBlockchain() === BLOCKCHAIN_NAME.POLYGON
            }"
          >
            <div>With the assistance of</div>
            <img
              [src]="
                'assets/images/icons/collaborations/' +
                (getNonEthereumBlockchain() === BLOCKCHAIN_NAME.BINANCE_SMART_CHAIN
                  ? 'Binance.svg'
                  : 'Polygon.svg')
              "
              [alt]="getNonEthereumBlockchain()"
            />
          </a>
        </div>

        <button
          style="visibility: hidden"
          class="cross-chain-form__advanced-options"
          [ngClass]="{ 'cross-chain-form__advanced-options_opened': isAdvancedSectionShown }"
          (click)="isAdvancedSectionShown = !isAdvancedSectionShown"
        >
          Advanced options <img src="assets/images/icons/arrow/arrow-down-green.svg" alt="" />
        </button>
      </div>
    </div>

    <div
      class="cross-chain-form__advanced-section advanced-section"
      [ngClass]="{ 'cross-chain-form__advanced-section_opened': isAdvancedSectionShown }"
    >
      <app-address-input
        class="advanced-section__input-wrapper"
        inputLabelText="Select custom destination address"
        (addressEmitter)="changeToWalletAddress($event)"
      ></app-address-input>
    </div>
  </form>
</div>

<warning-modal
  *ngIf="isHighGasPriceModalShown"
  warningText="Gas price in the target network (Ethereum) is high now. Swap duration is extended and may take up to 4 hours."
  (onCancel)="isHighGasPriceModalShown = false"
  (onConfirm)="onHighGasPriceConfirm()"
></warning-modal>

<warning-modal
  *ngIf="isPolygonToEthTradeModalShown"
  [warningText]="
    'Bridge trade from Polygon to Ethereum takes 2 transactions. After the 1st transaction you will need to wait for about 30 minutes' +
    ' and then deposit second time &ndash; \'Deposit\' button will appear in the corresponding line of the swaps list under the form.'
  "
  (onCancel)="isPolygonToEthTradeModalShown = false"
  (onConfirm)="onPolygonToEthTradeConfirm()"
></warning-modal>

<app-bridge-in-progress-modal *ngIf="tradeInProgress"></app-bridge-in-progress-modal>

<app-bridge-success
  *ngIf="tradeSuccessId"
  [txId]="tradeSuccessId"
  (onCloseEvent)="tradeSuccessId = undefined"
></app-bridge-success>
