@use 'src/scss/core' as *;

.trustline-container {
  display: flex;
  flex-direction: column;
  gap: var(--tui-padding-m);

  &__actions {
    display: flex;
    gap: var(--tui-padding-m);

    button {
      flex: 1;
    }
  }
}
