<div
  class="trustline-container"
  *ngLet="{
    tokenSymbol: trustlineTokenSymbol$ | async,
    buttonState: buttonState$ | async
  } as state"
>
  <tui-notification status="warning">
    To get the Asset {{ state.tokenSymbol }}, you need to add its support to your Stellar wallet
    (trustline)
  </tui-notification>

  <div class="trustline-container__actions" *ngIf="state.buttonState">
    <button
      tuiButton
      appearance="primary"
      type="button"
      size="m"
      (click)="state.buttonState.action()"
      [disabled]="state.buttonState.disabled"
    >
      {{ state.buttonState.label }}
    </button>
  </div>
</div>
