@use 'src/scss/core' as *;

:host {
  display: block;
}

.fee-banner {
  position: relative;

  max-width: 408px;
  margin-right: 34px;
  padding: 24px 9px 24px 24px;

  background: linear-gradient(to left, #30383e 0%, #0f1216 100%);
  border-radius: 19px;
  box-shadow: 2px 14px 24px rgba(20, 23, 26, 0.35);

  &__close {
    position: absolute;
    top: 21px;
    right: 21px;

    cursor: pointer;
  }

  &__title {
    @include font(18px, 22px, 700, #fff);
    margin-bottom: 8px;
  }

  &__text {
    @include font(16px, 20px, 500, #C7C7CC);
    max-width: 213px;

    &-paragraph {
      &:first-child {
        margin-bottom: 10px;
      }

      &:last-child {
        font-size: 10px;
        font-style: italic;
        line-height: 14px;
      }
    }
  }

  &__zero {
    position: absolute;
    right: 0;
    bottom: 0;

    border-bottom-right-radius: 19px;
  }
}
