<div class="fee-banner">
  <svg
    class="fee-banner__close"
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 20 20"
    fill="none"
    (click)="closeBanner()"
  >
    <path d="M6 6L14 14M6 14L14 6" stroke-width="1.5" />
  </svg>
  <div class="fee-banner__title">{{ 'banner.zeroFees.zeroFee' | translate }}</div>
  <div class="fee-banner__text">
    <div class="fee-banner__text-paragraph">
      {{ 'banner.zeroFees.period' | translate }}
    </div>
    <div class="fee-banner__text-paragraph">
      {{ 'banner.zeroFees.excluded' | translate }}
    </div>
  </div>
  <img src="assets/images/icons/zero-fee.svg" class="fee-banner__zero" />
</div>
