<div class="bridge-results">

  <div class="bridge-results__header">
    <span>Your cross-chain swaps</span>
    <img [ngClass]="{
      'bridge-results__spinner_rotating': updateProcess === 'process' || updateProcess === 'stop',
      'bridge-results__spinner_stop': updateProcess === 'stop'
      }"
         (click)="onUpdate()"
         class="bridge-results__spinner" src="assets/images/icons/refresh.svg" alt="Update"/>
  </div>

  <ng-template [ngIf]="!tableInitLoading">
    <div class="bridge-results__container" *ngIf="transactions.size">
      <!-- Table is for desktop's representation -->
      <table class="bridge-table" *ngIf="isDesktop">
        <thead>
          <tr>
            <th>
              <span>Status</span>
              <img [src]="'assets/images/bridge/' + getArrow('Status')" alt="Sort" (click)="onSortClick('Status')"/>
            </th>
            <th>
              <span>From</span>
              <img [src]="'assets/images/bridge/' + getArrow('From')" alt="Sort" (click)="onSortClick('From')"/>
            </th>
            <th>
              <span>To</span>
              <img [src]="'assets/images/bridge/' + getArrow('To')" alt="Sort" (click)="onSortClick('To')"/>
            </th>
            <th>
              <span>Spent</span>
              <img [src]="'assets/images/bridge/' + getArrow('Spent')" alt="Sort" (click)="onSortClick('Spent')"/>
            </th>
            <th>
              <span>Expected</span>
              <img [src]="'assets/images/bridge/' + getArrow('Expected')" alt="Sort" (click)="onSortClick('Expected')"/>
            </th>
            <th>
              <span>Date</span>
              <img [src]="'assets/images/bridge/' + getArrow('Date')" alt="Sort" (click)="onSortClick('Date')"/>
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let tx of transactions">
            <td>
              <span class="data__status"
               [ngClass]="{
                'data__status_green': tx.code === 2,
                'data__status_yellow': tx.code === 1,
                'data__status_red': tx.code === 0
                }">
                {{tx.status}}
              </span>
            </td>

            <td class="data__network">
              <img
                [src]="'assets/images/icons/coins/' + Blockchains[tx.fromNetwork].img" alt=""/>
              <span>{{Blockchains[tx.fromNetwork].label}}</span>
            </td>

            <td class="data__network">
              <img
                [src]="'assets/images/icons/coins/' + Blockchains[tx.toNetwork].img" alt=""/>
              <span>{{Blockchains[tx.toNetwork].label}}</span>
            </td>

            <td class="data__amount">
              <div>{{tx.actualFromAmount}}</div>
              <img [src]="tx.image_link" alt=""/>
              <span>{{tx[Blockchains[tx.fromNetwork].symbolPropName]}}</span>
            </td>

            <td class="data__amount">
              <div>{{tx.actualToAmount}}</div>
              <img [src]="tx.image_link" alt=""/>
              <span>{{tx[Blockchains[tx.toNetwork].symbolPropName]}}</span>
            </td>

            <td class="data__date">
              <div>
                {{tx.updateTime.split(' ')[0]}}
                <br />
                {{tx.updateTime.split(' ')[1]}}
              </div>
            </td>
          </tr>

        </tbody>
      </table>

      <!-- Accordion is for mobile and tablet's representation -->
      <div class="bridge-list" *ngIf="!isDesktop">
        <app-dropdown-select
          [options]="options"
          [defaultOption]="options.indexOf(capitalize(selectedOption))"
          [isSortable]="true"
          [downDirection]="sort.downDirection"
          [minOptionWidth]="89"
          (optionToSortBy)="onSortClick($event)"
        ></app-dropdown-select>

        <div class="bridge-list-items">
          <div class="bridge-list-items-item" *ngFor="let tx of transactions">
            <div
              class="bridge-list-items-item__header"
              [ngClass]="{ 'active': tx.opened }"
              (click)="tx.opened = !tx.opened"
            >
              <span class="data__status"
                    [ngClass]="{
                'data__status_green': tx.code === 2,
                'data__status_yellow': tx.code === 1,
                'data__status_red': tx.code === 0
                }">
                {{tx.status}}
              </span>

              <div
                class="bridge-list-items-item__header-option"
                [ngClass]="{ 'inactive': tx.opened }"
              >
                <span
                  class="bridge-list-items-item__header-option-name"
                  *ngIf="selectedOption !== 'Status' && selectedOption !== 'Date'"
                >
                  {{selectedOption}}
                </span>

                <div class="data__network" *ngIf="selectedOption === 'From'">
                  <img
                    [src]="'assets/images/icons/coins/' + Blockchains[tx.fromNetwork].img" alt=""/>
                  <span>{{Blockchains[tx.fromNetwork].label}}</span>
                </div>

                <div class="data__network" *ngIf="selectedOption === 'To'">
                  <img
                    [src]="'assets/images/icons/coins/' + Blockchains[tx.toNetwork].img" alt=""/>
                  <span>{{Blockchains[tx.toNetwork].label}}</span>
                </div>

                <div class="data__amount" *ngIf="selectedOption === 'Spent'">
                  <div>{{tx.actualFromAmount}}</div>
                  <img [src]="tx.image_link" alt=""/>
                  <span>{{tx[Blockchains[tx.fromNetwork].symbolPropName]}}</span>
                </div>

                <div class="data__amount" *ngIf="selectedOption === 'Expected'">
                  <div>{{tx.actualToAmount}}</div>
                  <img [src]="tx.image_link" alt=""/>
                  <span>{{tx[Blockchains[tx.toNetwork].symbolPropName]}}</span>
                </div>

                <div class="data__date" *ngIf="selectedOption === 'Date'">
                  <div>
                    <span>{{tx.updateTime.split(' ')[0]}}</span>
                    <br />
                    <span>{{tx.updateTime.split(' ')[1]}}</span>
                  </div>
                </div>
              </div>

              <div class="bridge-list-items-item__header-plus" *ngIf="!tx.opened">
                +
              </div>

              <div class="bridge-list-items-item__header-minus" *ngIf="tx.opened">
                -
              </div>
            </div>

            <div
              class="bridge-list-items-item__content"
              [ngClass]="{ 'inactive': !tx.opened }"
            >
              <div class="bridge-list-items-item__content-item">
                <div class="bridge-list-items-item__content-item-name">
                  From
                </div>
                <div class="data__network">
                  <img
                    [src]="'assets/images/icons/coins/' + Blockchains[tx.fromNetwork].img" alt=""/>
                  <span>{{Blockchains[tx.fromNetwork].label}}</span>
                </div>
              </div>

              <div class="bridge-list-items-item__content-item">
                <div class="bridge-list-items-item__content-item-name">
                  To
                </div>
                <div class="data__network">
                  <img
                    [src]="'assets/images/icons/coins/' + Blockchains[tx.toNetwork].img" alt=""/>
                  <span>{{Blockchains[tx.toNetwork].label}}</span>
                </div>
              </div>

              <div class="bridge-list-items-item__content-item">
                <div class="bridge-list-items-item__content-item-name">
                  Spent
                </div>
                <div class="data__amount">
                  <div>{{tx.actualFromAmount}}</div>
                  <img [src]="tx.image_link" alt=""/>
                  <span>{{tx[Blockchains[tx.fromNetwork].symbolPropName]}}</span>
                </div>
              </div>

              <div class="bridge-list-items-item__content-item">
                <div class="bridge-list-items-item__content-item-name">
                  Expected
                </div>
                <div class="data__amount">
                  <div>{{tx.actualToAmount}}</div>
                  <img [src]="tx.image_link" alt=""/>
                  <span>{{tx[Blockchains[tx.toNetwork].symbolPropName]}}</span>
                </div>
              </div>

              <div class="bridge-list-items-item__content-item">
                <div class="bridge-list-items-item__content-item-name">
                  Date
                </div>
                <div class="data__date">
                  <div>
                    <span>{{tx.updateTime.split(' ')[0]}}</span>
                    <br />
                    <span>{{tx.updateTime.split(' ')[1]}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!transactions.size" class="bridge-results__no-swaps">
      You have no cross-chain swaps yet
    </div>
  </ng-template>

  <app-spinner *ngIf="tableInitLoading" class="bridge-results__init-animation"></app-spinner>
</div>
