.bridge-results {
  &__header {
    margin-bottom: 30px;

    span {
      margin-right: 12px;

      font-weight: bold;
      font-size: 28px;
      line-height: 32px;
      color: #110931;
    }
  }

  &__spinner {
    cursor: pointer;

    animation-iteration-count: 1;

    &_rotating {
      animation-name: rotate;
      animation-delay: 0.1s;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      transition: 1s;
    }

    &_stop {
      animation-iteration-count: 1;
    }
  }

  &__no-swaps {

    text-align: center;
    color: rgba(black, .34);
    font-weight: normal;
    font-size: 24px;
  }
}


.bridge-table {
  width: 100%;

  border-collapse: collapse;
  background-color: white;

  td, th {
    border: 3px solid #f4f4f4;
  }

  thead {

    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #110931;

    th {

      padding: 14px 10px 14px 20px;

      .active-column {
        color: #4AA956;
        font-size: 15px;
        line-height: 15px;
      }

      span {
        line-height: 28px;
        display: inline-block;
      }

      img {
        cursor: pointer;
        float: right;
      }
    }
  }

  tbody {
    color: black;
    font-size: 15px;
    font-weight: normal;
  }

  &__status {
    padding-left: 20px;

    color: rgba(black, 0.5);

    &::before {
      content: "";
      display: inline-block;
      margin-right: 10px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    &_green {
      &::before {
        background: #2BCF78;
        box-shadow: 0 0 6px #65F7B0;
      }
    }

    &_red {
      &::before {
        background: #EE4256;
        box-shadow: 0 0 6px #EE4256;
      }
    }

    &_yellow {
      &::before {
        background: #F4BB2B;
        box-shadow: 0 0 6px #F4BB2B;
      }
    }
  }

  &__network {
    img {
      vertical-align: middle;
      margin: 0 16px 0 12px;
      max-width: 22px;
      max-height: 22px;
    }
  }

  &__amount {
    padding: 20px 0 13px 20px;

    div {
      font-weight: bold;
      margin-bottom: 7px;
    }

    img {
      max-height: 15px;
      max-width: 15px;
      margin-right: 4px;
    }

    span {
      color: rgba(black, 0.5);
    }
  }

  &__date {
    color: rgba(black, 0.5);

    div {
      width: fit-content;
      margin: 0 auto;
    }
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
