<div class="bridge-results">

  <div class="bridge-results__header">
    <span>Your transactions</span>
    <img class="bridge-results__spinner" src="assets/images/icons/refresh.svg" alt="Update"/>
  </div>


  <table class="bridge-table">
    <thead>
      <tr>
        <td>
          <span>Status</span>
          <img src="assets/images/bridge/Arrows.svg" alt="Sort"/>
        </td>
        <td>
          <span>From</span>
          <img src="assets/images/bridge/Arrows.svg" alt="Sort"/>
        </td>
        <td>
          <span>To</span>
          <img src="assets/images/bridge/Arrows.svg" alt="Sort"/>
        </td>
        <td>
          <span>Spent</span>
          <img src="assets/images/bridge/Arrows-up.svg" alt="Sort"/>
        </td>
        <td>
          <span>Expected</span>
          <img src="assets/images/bridge/Arrows.svg" alt="Sort"/>
        </td>
        <td>
          <span>Date</span>
          <img src="assets/images/bridge/Arrows.svg" alt="Sort"/>
        </td>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>
          <span class="bridge-table__status bridge-table__status_green">Completed</span>
        </td>
        <td class="bridge-table__network">
          <img src="assets/images/icons/coins/eth.png" alt=""/>
          <span>Ethereum</span>
        </td>
        <td class="bridge-table__network">
          <img src="assets/images/icons/coins/bnb.svg" alt=""/>
          <span>Binance Smart Chain</span>
        </td>
        <td class="bridge-table__amount">
          <div>1 000 000</div>
          <img src="assets/images/icons/coins/eth.png" alt=""/>
          <span>ETH</span>
        </td>
        <td class="bridge-table__amount">
          <div>1 000 000</div>
          <img src="assets/images/icons/coins/bnb.svg" alt=""/>
          <span>BSC</span>
        </td>
        <td class="bridge-table__date">
          <div>05-05-2020<br/>18:40:11</div>
        </td>
      </tr>

      <tr>
        <td>
          <span class="bridge-table__status bridge-table__status_green">Completed</span>
        </td>
        <td class="bridge-table__network">
          <img src="assets/images/icons/coins/eth.png" alt=""/>
          <span>Ethereum</span>
        </td>
        <td class="bridge-table__network">
          <img src="assets/images/icons/coins/bnb.svg" alt=""/>
          <span>Binance Smart Chain</span>
        </td>
        <td class="bridge-table__amount">
          <div>1 000 000</div>
          <img src="assets/images/icons/coins/eth.png" alt=""/>
          <span>ETH</span>
        </td>
        <td class="bridge-table__amount">
          <div>1 000 000</div>
          <img src="assets/images/icons/coins/bnb.svg" alt=""/>
          <span>BSC</span>
        </td>
        <td class="bridge-table__date">
          <div>05-05-2020<br/>18:40:11</div>
        </td>
      </tr>

      <tr>
        <td>
          <span class="bridge-table__status bridge-table__status_red">Completed</span>
        </td>
        <td class="bridge-table__network">
          <img src="assets/images/icons/coins/eth.png" alt=""/>
          <span>Ethereum</span>
        </td>
        <td class="bridge-table__network">
          <img src="assets/images/icons/coins/bnb.svg" alt=""/>
          <span>Binance Smart Chain</span>
        </td>
        <td class="bridge-table__amount">
          <div>1 000 000</div>
          <img src="assets/images/icons/coins/eth.png" alt=""/>
          <span>ETH</span>
        </td>
        <td class="bridge-table__amount">
          <div>1 000 000</div>
          <img src="assets/images/icons/coins/bnb.svg" alt=""/>
          <span>BSC</span>
        </td>
        <td class="bridge-table__date">
          <div>05-05-2020<br/>18:40:11</div>
        </td>
      </tr>

      <tr>
        <td>
          <span class="bridge-table__status bridge-table__status_yellow">Completed</span>
        </td>
        <td class="bridge-table__network">
          <img src="assets/images/icons/coins/eth.png" alt=""/>
          <span>Ethereum</span>
        </td>
        <td class="bridge-table__network">
          <img src="assets/images/icons/coins/bnb.svg" alt=""/>
          <span>Binance Smart Chain</span>
        </td>
        <td class="bridge-table__amount">
          <div>1 000 000</div>
          <img src="assets/images/icons/coins/eth.png" alt=""/>
          <span>ETH</span>
        </td>
        <td class="bridge-table__amount">
          <div>1 000 000</div>
          <img src="assets/images/icons/coins/bnb.svg" alt=""/>
          <span>BSC</span>
        </td>
        <td class="bridge-table__date">
          <div>05-05-2020<br/>18:40:11</div>
        </td>
      </tr>

    </tbody>
  </table>
</div>
