<div class="provider-panel" [class.provider-panel_loading]="providerPanelData.loading">
  <div
    class="provider-panel__content"
    [ngClass]="{
      'provider-panel__content_best-rate': isBestProvider,
      'provider-panel__content_selected': providerPanelData.isSelected,
      'provider-panel__content_small': providerPanelData.appearance === 'small'
    }"
    (click)="selectProvider()"
  >
    <div class="provider-panel__provider-name">
      {{ 'common.via' | translate }} {{ providerPanelData.label }}
    </div>

    <app-panel-content
      *ngIf="!providerPanelData.hasError"
      [providerPanelData]="providerPanelData"
      [tradePanelData]="tradePanelData"
      [isBestProvider]="isBestProvider"
    ></app-panel-content>

    <app-panel-error-content
      *ngIf="providerPanelData.hasError"
      [providerPanelData]="providerPanelData"
      [errorTranslateKey]="errorTranslateKey"
    ></app-panel-error-content>
  </div>
</div>
