@use 'src/scss/core' as *;

.modal {
  &__content {
    padding: 35px 20px 0;

    text-align: center;
  }

  &__footer {
    margin-top: 20px;
  }

  &__footer-text {
    margin-bottom: 18px;
  }

  &__footer-link {
    display: inline-block;
    margin-bottom: 18px;

    font-size: 17px;

    cursor: pointer;
  }
}
