@use 'src/scss/core' as *;

:host {
  --tui-background-neutral-1: var(--tui-background-base);

  button {
    color: var(--tui-text-primary);

    background: none;

    @include b($mobile-md) {
      background: var(--tui-background-base) !important;
    }
  }
}

.image {
  width: 16px;
  height: 16px;
}
