@import 'src/scss/vars';

.refresh-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 26px;
  height: 22px;
  padding: 0;

  background: white;
  border-radius: 4px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  &_waiting {
    .circle-container {
      .fill {
        animation-name: waiting;
      }
    }
  }

  &_refreshing {
    .circle-container {
      animation: 1s linear infinite refreshing;

      .fill {
        transform: rotate(180deg);

        animation: none;
      }

      &__dot {
        display: block !important;
      }
    }
  }

  span {
    display: block;
  }
}

.circle-container {
  position: relative;

  width: 14px;
  height: 14px;

  &__half {
    position: absolute;

    width: 100%;
    height: 100%;

    background: #e5e5e5;
    border-radius: 50%;

    clip: rect(0px, 14px, 14px, 7px);

    .fill {
      position: absolute;

      width: 100%;
      height: 100%;

      background: $main-green;
      border-radius: 50%;

      animation-timing-function: linear;
      animation-fill-mode: both;

      clip: rect(0px, 7px, 14px, 0px);
    }

    &_right {
      transform: rotate(180deg);
    }
  }

  &__center {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);

    width: 8px;
    height: 8px;

    background: white;
    border-radius: 50%;
  }

  &__dot {
    position: absolute;
    top: 6px;
    left: -4px;

    display: none !important;

    width: 3px;
    height: 3px;

    background: $main-green;
    border-radius: 50%;

    &_left {
      left: -4px;
    }

    &_right {
      left: 15px;
    }
  }
}

@keyframes waiting {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes refreshing {
  to {
    transform: rotate(360deg);
  }
}
