@use '../../../../scss/core' as *;

:host {
  @include hide-unused-ui {
    display: flex;
    align-items: center;

    @include b($mobile-md) {
      position: initial !important;
    }
  }
}

.refresh-button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  cursor: pointer;

  &__icon {
    display: flex;
    align-items: center;
    width: 18px;
    height: 16px;

    ::ng-deep {
      svg {
        width: 100%;
        height: 100%;
      }
    }

    &_refreshing {
      animation: 0.9s linear 0.1s infinite refreshAnimation;
    }
  }
}

.refresh-icon-tooltip {
  font-size: 15px;
}

@keyframes refreshAnimation {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes timerAnimation {
  100% {
    stroke-dashoffset: 0;
  }
}
