<button
  class="refresh-button"
  aria-label="Update price"
  [ngClass]="{
    'refresh-button_refreshing': refreshButtonStatus === REFRESH_BUTTON_STATUS.REFRESHING,
    'refresh-button_waiting': refreshButtonStatus === REFRESH_BUTTON_STATUS.WAITING
  }"
  [matTooltip]="'Price is auto updated.\nClick here to update it manually.'"
  (click)="onClick()"
>
  <span
    class="refresh-button__circle-container circle-container"
    *ngIf="refreshButtonStatus !== REFRESH_BUTTON_STATUS.REFRESHING"
  >
    <span class="circle-container__half circle-container__half_left">
      <span class="fill" [ngStyle]="{ 'animation-duration': refreshTimeout / 2 + 's' }"></span>
    </span>
    <span class="circle-container__half circle-container__half_right">
      <span
        class="fill"
        [ngStyle]="{
          'animation-duration': refreshTimeout / 2 + 's',
          'animation-delay': refreshTimeout / 2 + 's'
        }"
      ></span>
    </span>
    <span class="circle-container__center"></span>
  </span>

  <img
    class="refresh-button__circle-arrows"
    *ngIf="refreshButtonStatus === REFRESH_BUTTON_STATUS.REFRESHING"
    src="/assets/images/icons/circle-arrows-green.svg"
    width="17"
    height="19"
    alt="arrows"
  />
</button>
