@import 'src/scss/vars';

.refresh-tool {
  display: flex;
  grid-gap: 8px;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 22px;
    padding: 0;

    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}

.timeout-button {
  &_waiting {
    .circle-container {
      .fill {
        animation-name: waiting;
      }
    }
  }

  &_refreshing {
    .circle-container {
      .fill {
        transform: rotate(180deg);

        animation: none;
      }
    }
  }

  span {
    display: block;
  }

  &__clock {
    width: 16px;
  }
}

.circle-container {
  position: relative;

  width: 14px;
  height: 14px;

  &__half {
    position: absolute;

    width: 100%;
    height: 100%;

    background: #e5e5e5;
    border-radius: 50%;

    clip: rect(0px, 14px, 14px, 7px);

    .fill {
      position: absolute;

      width: 100%;
      height: 100%;

      background: $main-green;
      border-radius: 50%;

      animation-timing-function: linear;
      animation-fill-mode: both;

      clip: rect(0px, 7px, 14px, 0px);
    }

    &_right {
      transform: rotate(180deg);
    }
  }

  &__center {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);

    width: 8px;
    height: 8px;

    background: white;
    border-radius: 50%;
  }
}

.refresh-button {
  &_refreshing {
    .circle-arrows {
      animation: 1s linear infinite refreshing;
    }
  }

  &__circle-arrows {
    width: 18px;
  }
}

@keyframes waiting {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes refreshing {
  to {
    transform: rotate(360deg);
  }
}
