@use '../../../../scss/core' as *;

:host {
  @include hide-unused-ui {
    display: flex;
    align-items: center;

    @include b($mobile-md) {
      position: initial !important;
    }
  }
}

.refresh-button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  @media (min-width: 2048px) {
    width: 23px;
    height: 23px;
  }

  @media (min-width: 4096px) {
    width: 43px;
    height: 43px;
  }

  cursor: pointer;

  &__icon {
    display: flex;
    align-items: center;
    width: 18px;
    height: 16px;

    @media (min-width: 2048px) {
      width: 23px;
      height: 21px;
    }

    @media (min-width: 4096px) {
      width: 43px;
      height: 41px;
    }

    ::ng-deep {
      svg {
        width: 100%;
        height: 100%;
      }

      svg path {
        fill: var(--tui-text-03);
      }
    }

    &_refreshing {
      animation: 0.9s linear 0.1s infinite refreshAnimation;
    }
  }
}

.refresh-icon-tooltip {
  font-size: 15px;
}

@keyframes refreshAnimation {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes timerAnimation {
  100% {
    stroke-dashoffset: 0;
  }
}
