$primary-grey: #f4f4f4;

.coins-filter-form {
  display: flex;

  &__switch-icon {
    transform: rotate(90deg);
  }

  &__tokens-form {
    > {
      padding-bottom: 0 !important;
    }
  }

  &__virtual-scroll {
    height: 240px;
    overflow-x: hidden;

    .cdk-virtual-scroll-content-wrapper {
      width: 100%;
    }
  }

  &__virtual-scroll-element {
    height: 48px;
  }

  &__tokens-input {
    box-sizing: border-box;
    max-width: 120px;
    height: 38px;
    padding: 10px 7px;

    color: #110931;
    font-size: 15px;
    line-height: 18px;

    background: $primary-grey;
    background-size: 28px auto;
    border: 0;
    border-radius: 5px;
  }
    
  &__switch-button {
    margin: 0 5px;
    border-radius: 5px;
    padding: 0 11px;

    background: $primary-grey;
    border: none;
    cursor: pointer;

    img {
      transform: rotate(90deg);
    }
  }

  &__tokens-dropdown {
    display: flex;
    align-items: center;
    
    img {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: normal;
    }
  }
}

::ng-deep {
  .cdk-virtual-scroll-content-wrapper {
    width: 100%;
  }
}