@use 'src/scss/core' as *;

:host {
  display: block;
  max-width: 802px;
  margin: 0 auto;
  padding-top: 38px;

  @include b($tablet) {
    padding-top: 3px;
  }
}

app-statistics {
  display: block;
  margin-bottom: 22px;

  @include b($tablet) {
    margin-bottom: 16px;
  }
}

app-deposits {
  display: block;

  @include b($tablet) {
    margin-bottom: 16px;
  }
}

.accordion {
  margin-bottom: 12px;
  padding: 12px;

  background: var(--form-background);
  border-radius: 24px;

  ::ng-deep {
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .t-content {
      padding: 0;
    }
  }
}

.rules {
  margin-top: 20px;

  &__link {
    @include font(16px, 19px, 400, var(--tui-primary));
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 30px;
    text-decoration-line: underline;
  }

  &__icon {
    display: flex;

    ::ng-deep svg {
      path[fill='black'] {
        fill: var(--primary-color);
      }

      rect[fill='black'] {
        fill: var(--primary-color);
      }
    }
  }
}

.past-campaings {
  ::ng-deep tui-accordion {
    --tui-base-02: transparent;

    @include b($tablet) {
      .header {
        min-height: 30px;
        padding: 0.55rem 1.25rem;
      }
    }

    .header .title {
      @include font(18px, 22px, 500, var(--primary-text));
    }
  }

  &__card:not(:last-child) {
    display: block;
    margin-bottom: 12px;
  }
}

@include b($tablet) {
  .statistics {
    margin-bottom: 12px;

    border-radius: 22px;
  }

  .staking {
    margin-bottom: 12px;

    &__title {
      margin-bottom: 22px;

      font-size: 18px;
      line-height: 22px;
    }
  }

  .lp {
    &__title {
      margin-bottom: 22px;

      font-size: 18px;
      line-height: 22px;
    }
  }

  .staking,
  .lp {
    padding: 22px;

    border-radius: 22px;
  }
}

.connect-wallet {
  display: block;
  max-width: 396px;
  margin: 0 auto 20px;
}
