<ng-container>
  <button
    *ngIf="(deposits$ | async).length"
    class="new-position-button"
    tuiButton
    type="button"
    size="l"
    appearance="primary"
    (click)="navigateToStakeForm()"
  >
    {{ 'staking.deposits.newPosition' | translate }}
  </button>
  <app-deposits></app-deposits>
</ng-container>

<div class="rules">
  <a
    class="rules__link"
    href="https://cryptorubic.medium.com/dear-rubicans-ffcf7b611b42"
    target="_blank"
  >
    {{ 'staking.common.rules' | translate }}
    <div class="rules__icon" [inlineSVG]="'assets/images/icons/link-arrow.svg'"></div>
  </a>
</div>
