<div class="order-book-form">
  <div class="order-book-form__tokens-forms tokens-forms">
    <div class="tokens-forms__tokens-form tokens-form">
      <span class="tokens-form__header">{{ 'You have' | translate }}</span>

      <app-tokens-input [tokensList]="[]"></app-tokens-input>

      <div class="tokens-form__custom-section custom-section">
        <div class="custom-section__button-container">
          <span
            class="custom-section__button"
            (click)="isCustomTokenSectionOpened.base = !isCustomTokenSectionOpened.base"
          >
            {{ isCustomTokenSectionOpened.base ? 'Cancel' : 'Use custom token' }}
          </span>
        </div>

        <div
          class="custom-section__form custom-section-form"
          *ngIf="isCustomTokenSectionOpened.base"
        >
          <input
            type="text"
            class="custom-section-form__input"
            placeholder="Token Contract Address"
            [ngModel]="baseToken.address"
            #baseCustomToken="ngModel"
            [ngClass]="{
              'custom-section-form__input_invalid': baseCustomToken.value && baseCustomToken.invalid
            }"
          />
          <app-primary-button label="Add" [disabled]="baseCustomToken.invalid"></app-primary-button>
        </div>
      </div>
    </div>

    <button class="tokens-forms__revert-btn" type="button">
      <img src="./assets/images/icons/revert.svg" />
    </button>

    <div class="tokens-forms__tokens-form tokens-form">
      <span class="tokens-form__header">{{ 'You want to get' | translate }}</span>

      <app-tokens-input [tokensList]="[]"></app-tokens-input>

      <div class="tokens-form__custom-section custom-section">
        <span
          class="custom-section__button"
          (click)="isCustomTokenSectionOpened.quote = !isCustomTokenSectionOpened.quote"
        >
          {{ isCustomTokenSectionOpened.quote ? 'Cancel' : 'Use custom token' }}
        </span>

        <div
          class="custom-section__form custom-section-form"
          *ngIf="isCustomTokenSectionOpened.quote"
        >
          <input
            type="text"
            class="custom-section-form__input"
            placeholder="Token Contract Address"
            [ngModel]="quoteToken.address"
            #quoteCustomToken="ngModel"
            [ngClass]="{
              'custom-section-form__input_invalid':
                quoteCustomToken.value && quoteCustomToken.invalid
            }"
          />
          <app-primary-button
            label="Add"
            [disabled]="quoteCustomToken.invalid"
          ></app-primary-button>
        </div>
      </div>
    </div>
  </div>

  <div class="order-book-form__confirm-section confirm-section">
    <app-primary-button label="Create Trade"></app-primary-button>

    <div class="confirm-section__advanced-option">
      Advanced Options <img src="assets/images/icons/arrow/arrow-down-green.svg" />
    </div>
  </div>
</div>
