<div
  class="close"
  inlineSVG="assets/images/icons/crosshair.svg"
  (click)="context.completeWith(false)"
></div>
<div class="title">{{ 'staking.withdrawModal.title' | translate }}</div>
<div class="text">
  {{ 'staking.withdrawModal.text_1' | translate }}
  <span class="text__amount" [class.tui-skeleton]="!amount"
    >{{ amount | bigNumberFormat | withRound : 'fixedValue' : { decimals: 2 } }} RBC</span
  >
  {{ 'staking.withdrawModal.text_2' | translate }}
  <span class="text" *ngIf="totalNftRewards?.isFinite && totalNftRewards?.toNumber() > 0"
    ><br />
    {{ 'staking.withdrawModal.text_3' | translate }}
    <span class="text__amount" [class.tui-skeleton]="!totalNftRewards">
      {{ totalNftRewards | bigNumberFormat | withRound : 'fixedValue' : { decimals: 10 } }}
      ETH</span
    >
    {{ 'staking.withdrawModal.text_4' | translate }}
  </span>
</div>
<ng-container *ngIf="needSwitchNetwork$ | async; else withdraw">
  <app-rubic-button
    appearance="primary"
    class="action-btn"
    (onClick)="switchNetwork()"
    [disabled]="isMobile"
  >
    {{
      isMobile
        ? 'Choose Arbitrum network in your wallet'
        : ('staking.common.switchNetworkToArbitrum' | translate)
    }}
  </app-rubic-button>
</ng-container>

<ng-template #withdraw>
  <app-rubic-button appearance="primary" class="action-btn" (onClick)="context.completeWith(true)">
    {{ 'staking.withdrawModal.withdraw' | translate }}
  </app-rubic-button>
</ng-template>
