@use 'src/scss/core' as *;

:host {
  position: relative;

  display: block;
  padding: 40px 0 10px;
}

.t-close {
  position: absolute;
  top: 0 !important;
  right: 5px !important;

  width: 12px;
  height: 12px;

  cursor: pointer;

  @include b($mobile-md) {
    display: none;
  }

  ::ng-deep svg path {
    stroke: #000;

    @include dark {
      stroke: #fff;
    }
  }
}

.title {
  @include font(24px, 29px, 600, var(--primary-text));
  margin-bottom: 26px;

  text-align: center;

  @include b($mobile-md) {
    display: none;
  }
}

.text {
  @include font(24px, 29px, 600, var(--secondary-text));
  margin: 0 auto 48px;

  text-align: center;

  &__wrapper {
    padding: 0 5px;
  }

  &__amount {
    color: var(--tui-primary);
  }
}

.action-btn {
  display: block;
  max-width: 275px;
  margin: 0 auto;
}

@media (min-width: 2560px) {
  .t-close {
    width: 16px;
    height: 16px;
  }

  .action-btn {
    ::ng-deep {
      button {
        font-size: 20px;
        line-height: 20px;
      }
    }

  }
}

@media (min-width: 3840px) {
  .t-close {
    width: 20px;
    height: 20px;
  }

  .title {
    font-size: 28px;
    line-height: 28px;
  }

  .text {
    font-size: 28px;
    line-height: 28px;
  }

  .action-btn {
    ::ng-deep {
      button {
        height: var(--tui-height-m);

        font-size: 28px;
        line-height: 28px;
      }
    }
  }
}
