<div
  class="close"
  inlineSVG="assets/images/icons/crosshair.svg"
  (click)="context.completeWith(false)"
></div>
<div class="title">WITHDRAWAL</div>
<div class="text">
  Close your position. You will receive
  <span class="text__amount"
    >{{ amount | bigNumberFormat | withRound : 'fixedValue' : { decimals: 2 } }} RBC</span
  >
  back
  <span class="text" *ngIf="totalNftRewards?.isFinite && totalNftRewards?.toNumber() > 0"
    ><br />
    and
    <span class="text__amount">
      {{ totalNftRewards | bigNumberFormat | withRound : 'fixedValue' : { decimals: 10 } }}
      ETH</span
    >
    in rewards.
  </span>
</div>
<ng-container *ngIf="needSwitchNetwork$ | async; else withdraw">
  <app-rubic-button appearance="primary" class="action-btn" (onClick)="switchNetwork()"
    >Switch to BSC network
  </app-rubic-button>
</ng-container>

<ng-template #withdraw>
  <app-rubic-button appearance="primary" class="action-btn" (onClick)="context.completeWith(true)">
    Withdraw
  </app-rubic-button>
</ng-template>
