@use 'src/scss/core' as *;
@use 'src/scss/mixins' as *;

:host {
  tui-dialog {
    &[data-size='l'] {
      height: 100% !important;
    }
  }
}

.assets-selector {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include iframe-horizontal {
    flex-direction: column;
    justify-content: center;
    width: $iframe-horizontal-width;
    height: 100vh;
    margin: 0 auto;
  }

  @include iframe-vertical {
    flex-direction: column;
    justify-content: center;
    width: $iframe-vertical-width;
    height: 100vh;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;

    ::ng-deep .t-wrapper img {
      max-width: 20px;
      max-height: 20px;

      filter: grayscale(1);
    }
  }

  &__header {
    position: relative;

    margin-right: 40px;

    h2 {
      margin-top: 0;

      color: $rubic-base-11;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__content {
    position: relative;
    left: -24px;

    display: flex;
    flex: 1;

    width: calc(100% + 24px);
    min-height: 443px;
    max-height: 443px;

    @include iframe {
      left: 0;
    }

    @include iframe-horizontal {
      flex-direction: column;
      justify-content: center;

      width: 100%;
      height: 180px;
      max-height: 180px;
      padding: 0 30px 0 0;
    }

    @include iframe-vertical {
      flex-direction: column;

      width: $iframe-vertical-width;
      height: $iframe-vertical-height;
      max-height: $iframe-vertical-height;
      padding: 20px;
    }
  }

  &__top {
    display: none;
  }
}

app-search-bar {
  width: 100%;
  margin-bottom: 14px;

  @include b($mobile-md) {
    margin-bottom: 0;
  }

  &.vertical-iframe-token-search {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

tui-loader {
  position: relative;
  left: -6px;

  width: 100%;
}

.token-list-container {
  width: 100%;

  @include iframe-horizontal {
    display: flex;
    align-items: center;
    height: 90px;
    overflow: hidden;

    &__search {
      position: relative;
      top: -2px;

      width: auto;
      margin-right: 15px;
      margin-bottom: 0;

      border: 2px solid #626262;

      border-radius: 15px;
    }

    &__list {
      display: flex;
      width: 100%;
      height: 90px;
      overflow: hidden;
    }
  }

  &__list {
    height: 100%;
  }
}

.token-list {
  &__header {
    display: none;
  }
}

::ng-deep .blockchains-list-container,
.fiats-list-container {
  width: 100%;
}

@include b($mobile-md) {
  .assets-selector {
    padding: 1rem 0 0;

    background-color: var(--form-background);

    &__row {
      order: 2;
      margin-top: 1rem;
      padding: 0 16px;
    }

    &__content {
      left: 0;

      flex-direction: column;
      width: 100%;
      max-height: 100%;
    }

    &__header {
      display: none;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: -7px;
    }
  }

  app-asset-types-aside {
    order: 1;
  }

  .token-list-container,
  .fiats-list-container {
    order: 3;
    height: 100vh;
  }

  .token-list {
    &__header {
      display: block;
      margin: 1rem 0;
      padding: 0 1rem;

      &-label {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

@include b($mobile-md-minus) {
  .assets-selector {
    height: 100%;

    &__content {
      height: calc(100% - 100px);
      max-height: calc(100vh - 117.5px);
    }
  }
}

@include b($mobile-sm-middle) {
  .assets-selector {
    padding-left: 10px;

    &__row {
      padding-right: 10px;
    }

    &__content {
      left: -10px;

      width: calc(100% + 10px);
    }
  }
}

@include b($mobile-sm) {
  .assets-selector {
    &__content {
      @include iframe-vertical {
        padding: 0 15px 0 0;
      }
    }
  }

  //@include iframe-vertical {
  //  .token-list {
  //    &__header {
  //      margin: 0 0 1rem;
  //      padding: 0 1rem 0 0;
  //    }
  //  }
  //}
}
