<section class="assets-selector">
  <header class="assets-selector__header">
    <h2>
      {{ headerText$ | async | translate }}
    </h2>
  </header>

  <ng-container *ngLet="selectorListType$ | async as selectorListType">
    <ng-container *ngIf="!isMobile; then searchBar"> </ng-container>
    <div class="assets-selector__content">
      <ng-container *ngIf="isMobile; then searchBar"> </ng-container>
      <ng-container *ngIf="selectorListType === 'blockchains'">
        <div class="blockchains-list-container">
          <app-blockchains-list></app-blockchains-list>
        </div>
      </ng-container>

      <ng-container *ngIf="selectorListType !== 'blockchains'">
        <app-asset-types-aside [idPrefix]="idPrefix"></app-asset-types-aside>

        <ng-container>
          <app-search-bar
            *ngIf="selectorListType === 'fiats'"
            class="vertical-iframe-token-search"
          ></app-search-bar>
        </ng-container>

        <div class="token-list-container" *ngIf="selectorListType === 'tokens'">
          <div class="token-list__header">
            <div class="token-list__header-label">Tokens</div>
          </div>

          <div class="token-list-container__list">
            <app-tokens-list></app-tokens-list>
          </div>
        </div>
      </ng-container>
    </div>

    <ng-template #searchBar>
      <div class="assets-selector__row">
        <app-search-bar></app-search-bar>

        <app-switch-list-type-button
          *ngIf="selectorListType === 'tokens'"
        ></app-switch-list-type-button>
      </div>
    </ng-template>
  </ng-container>
</section>
