@use 'src/scss/core' as *;

.dropdown-content__wrapper {
  display: flex;
  gap: var(--tui-padding-s);
  padding: var(--tui-padding-xs);
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 209px;
  padding: var(--tui-padding-xs) var(--tui-padding-xs);

  .auto-height {
    height: auto !important;
  }

  > * {
    width: 100%;
    height: 100%;

    cursor: pointer;

    ::ng-deep * {
      height: 100%;
    }
  }

  &:hover {
    background: var(--tui-secondary);
    border-radius: var(--tui-radius-m);
  }

  &__element {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 5px;

    color: white;
    font-size: 13px;

    &:active {
      padding: 5px;
    }

    &:hover {
      text-decoration: none;

      background: pink;
      border-radius: var(--tui-radius-s);
    }

    ::ng-deep svg {
      width: 20px;
      height: 20px;
    }
  }

  &__favorite {
    &_active {
      ::ng-deep path {
        stroke: var(--tui-primary);
      }
    }
  }

  &__favorite-container {
    height: 16px;

    ::ng-deep {
      .t-loader {
        left: -65%;

        min-width: unset;
      }
    }
  }

  &__security-label-powered-by {
    color: #9a9ab0;
    font-weight: 400;
  }

  &__security-container-label {
    display: flex !important;
    flex-direction: column;
    justify-content: center;

    line-height: 1.2;
  }
}
