<div *ngIf="displayCounter$ | async">
  <div @fadeAnimation *ngIf="displayText$ | async" class="calculated-trades">
    <span *ngIf="isCalculating$ | async; else calculationFinished">
      Finding Optimal Route<span class="calculated-trades__dashes"></span>
      {{ fakeProvider$ | async }}
    </span>

    <ng-template #calculationFinished>
      <ng-container *ngIf="isBestRouteFound; else routeNotFound">
        We have selected the best Route available for you
        <img
          class="calculated-trades__success-icon"
          src="assets/images/icons/checkmark/checkmark-thin-white.svg"
          alt="Success calculating"
        />
      </ng-container>

      <ng-template #routeNotFound>Optimal routing not found</ng-template>
    </ng-template>
  </div>
</div>
