<section class="tokens-selector">
  <header class="tokens-selector__header" *noFrame>
    <h2>
      {{ headerText$ | async | translate }}
    </h2>
  </header>

  <div class="tokens-selector__row" *noFrame>
    <app-tokens-search-bar></app-tokens-search-bar>

    <app-switch-list-type-button></app-switch-list-type-button>
  </div>

  <div class="tokens-selector__content" *ngLet="selectorListType$ | async as selectorListType">
    <ng-container *ngIf="selectorListType === 'blockchains'">
      <app-blockchains-list *ngIf="selectorListType === 'blockchains'"></app-blockchains-list>
    </ng-container>

    <ng-container *ngIf="selectorListType === 'tokens'">
      <app-blockchains-aside [idPrefix]="idPrefix"></app-blockchains-aside>

      <ng-container *onlyFrame="'vertical'">
        <app-tokens-search-bar
          *ngIf="iframeTokenSearch"
          class="vertical-iframe-token-search"
        ></app-tokens-search-bar>
      </ng-container>

      <div class="token-list-container">
        <ng-container *onlyFrame="'horizontal'">
          <app-tokens-search-bar
            *ngIf="iframeTokenSearch"
            class="token-list-container__search"
            [expandableField]="true"
          ></app-tokens-search-bar>
        </ng-container>

        <div class="token-list-container__list">
          <app-tokens-list></app-tokens-list>
        </div>
      </div>
    </ng-container>
  </div>
</section>
