@import '../../../../scss/mixins';
@import '../../../../scss/elements/vars';

.tokens-form {
  position: relative;

  height: 52px;

  &__input {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 11px 139px 11px 14px;

    font-size: 18px;

    background: $grey-background;
    border: 1px solid white;

    &_invalid {
      border-color: $error-red;

      &:focus {
        box-shadow: 0 0 2px $error-red;
      }
    }
  }
}
