<form class="tokens-form">
  <label>
    <input
      class="tokens-form__input"
      [ngStyle]="{ 'padding-right': (inputPaddingRight || 0) + 'px' }"
      type="text"
      name="amountField"
      autocomplete="off"
      placeholder="{{ (amountPlaceholder | translate) || '' }}"
      [disabled]="amountInputDisabled"
      required
      [tabindex]="amountInputDisabled ? '-1' : ''"
      appNumberPrecision
      [inputElement]="numberInput"
      [decimalLength]="selectedToken?.decimals ? selectedToken.decimals : DEFAULT_DECIMAL_LENGTH"
      [ngModel]="selectedAmount | bigNumberFormat"
      (ngModelChange)="onNumberChanges($event)"
      #numberModel="ngModel"
      [ngClass]="{ 'tokens-form__input_invalid': numberModel.value && numberModel.invalid }"
      #numberInput
    />
  </label>

  <button
    class="tokens-form__max-button"
    *ngIf="
      !amountInputDisabled &&
      selectedToken?.usersBalance !== undefined &&
      selectedToken?.usersBalance !== null
    "
    (click)="onNumberChanges(selectedToken.usersBalance)"
    [ngStyle]="{ right: (maxButtonPositionRight || 0) + 'px' }"
  >
    Max
  </button>

  <app-input-dropdown
    [componentClass]="tokenLabelComponentClass"
    [componentsData]="tokensDropdownData"
    [selectedComponentData]="selectedTokenDropdownData"
    [inputDisabled]="tokensInputDisabled"
    [VISIBLE_COMPONENTS_NUMBER]="VISIBLE_TOKENS_NUMBER"
    [filterBy]="tokensFilterOrder"
    [sortBy]="tokensSortOrder"
    chooseComponentText="Choose Token"
    [chooseButtonDisabled]="listDisabled"
    [fullWidth]="fullWidth"
    (componentChanges)="onTokenChanges($event)"
    (tokenLabelContainerWidth)="resetInputElementsPositions($event)"
    #appInputDropdown
  ></app-input-dropdown>
</form>
