@import '../../../../scss/mixins';
@import '../../../../scss/vars';

.tokens-form {
  position: relative;

  height: 52px;

  &__input {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 11px 139px 11px 14px;

    font-size: 18px;
    font-family: $ubuntu-font;

    background: $grey-background;
    border: 1px solid white;

    &_invalid {
      border-color: $error-red;

      &:focus {
        box-shadow: 0 0 2px $error-red;
      }
    }
  }
}

@include b($desktop) {
  .tokens-form {
    &__input {
      font-size: 16px;
    }
  }
}

@include b($mobile-md) {
  .tokens-form {
    &__input {
      font-size: 14px;
    }
  }
}

@include b($mobile-sm) {
  .tokens-form {
    &__input {
      padding-right: 11px;
      padding-left: 11px;

      font-size: 12px;
    }
  }
}
