@import '../../../../scss/mixins';

.form-field_input {
  height: 52px;

  .all-input {
    width: calc(100% + 2px) !important;
    margin-left: -1px;
    padding-right: 139px;
  }
}

@include b(550) {
  .form-field_input {
    .all-input {
      padding-left: 10px;
    }
  }
}
