<form class="tokens-form">
  <input
    class="tokens-form__input"
    type="text"
    name="amountField"
    autocomplete="off"
    placeholder="{{ inputDisabled ? '' : (amountPlaceholder | translate) }}"
    [disabled]="inputDisabled"
    required
    [tabindex]="inputDisabled ? '-1' : ''"
    appNumberPrecision
    [inputElement]="numberInput"
    [decimalLength]="selectedToken?.decimals ? selectedToken.decimals : DEFAULT_DECIMAL_LENGTH"
    [ngModel]="selectedAmount | bigNumberFormat"
    (ngModelChange)="onNumberChanges($event)"
    #numberModel="ngModel"
    [ngClass]="{ 'tokens-form__input_invalid': numberModel.value && numberModel.invalid }"
    #numberInput
  />

  <app-input-dropdown
    [componentClass]="tokenLabelComponentClass"
    [componentsData]="tokensDropdownData"
    [selectedComponentData]="selectedTokenDropdownData"
    [VISIBLE_COMPONENTS_NUMBER]="VISIBLE_TOKENS_NUMBER"
    [filterBy]="tokensFilterOrder"
    [sortBy]="tokensSortOrder"
    chooseComponentText="Choose Token"
    [disabled]="listDisabled"
    (componentChanges)="onTokenChanges($event)"
  ></app-input-dropdown>
</form>
