<aside class="asset-types-aside">
  <div class="asset-types-aside__blockchain-header">
    <div class="asset-types-aside__blockchain-header-label">Blockchains</div>
    <button class="asset-types-aside__blockchain-header-expand" (click)="toggleBlockchainList()">
      View all
    </button>
  </div>
  <tui-scrollbar class="asset-types-aside__scroll">
    <ul class="asset-types-aside__list" *ngLet="selectedAssetType$ | async as selectedAssetType">
      <ng-container *noFrame="'horizontal'">
        <li
          *ngIf="showFiats"
          class="asset-types-aside__fiats"
          [ngClass]="{ disabled: fiatsDisabled }"
          tuiHintAppearance="error"
          [tuiHint]="fiatsDisabled ? 'Cannot trade with selected blockchain' : null"
        >
          <app-icon-button
            appearance="secondary"
            icon="assets/images/icons/fiat-selector.svg"
            [inlineSvg]="true"
            [disabled]="selectedAssetType === 'fiat' || fiatsDisabled"
            [border]="selectedAssetType === 'fiat'"
            [borderRadiusPercent]="50"
            label="Fiat"
            (iconButtonClick)="openFiatsList()"
          >
          </app-icon-button>
        </li>
      </ng-container>

      <ng-container *ngLet="shownBlockchainsAmount$ | async as shownBlockchainsAmount">
        <ng-container
          *ngLet="
            shownBlockchainsAmount | functionCall : getBlockchainsList : this as blockchainsList
          "
        >
          <ng-container *ngFor="let blockchainItem of blockchainsList">
            <ng-container
              *ngLet="blockchainItem | functionCall : isBlockchainDisabled : this as disabled"
            >
              <li
                [id]="idPrefix + 'Network_' + blockchainItem.name"
                [ngClass]="{ disabled: disabled }"
                tuiHintAppearance="error"
                [tuiHint]="blockchainItem | functionCall : getBlockchainHintText : this"
              >
                <app-icon-button
                  appearance="secondary"
                  [icon]="blockchainItem.icon"
                  [disabled]="selectedAssetType === blockchainItem.name || disabled"
                  [border]="selectedAssetType === blockchainItem.name"
                  [borderRadiusPercent]="50"
                  [label]="blockchainItem.label"
                  (iconButtonClick)="onBlockchainSelect(blockchainItem.name)"
                >
                </app-icon-button>
              </li>
            </ng-container>
          </ng-container>
        </ng-container>

        <li class="open-selector" *noFrame>
          <app-rubic-button
            *ngIf="blockchainsAmount - shownBlockchainsAmount > 0"
            appearance="secondary"
            (onClick)="openBlockchainsList()"
          >
            +{{ blockchainsAmount - shownBlockchainsAmount }}
          </app-rubic-button>
        </li>
      </ng-container>
    </ul>
  </tui-scrollbar>
</aside>
