<div class="modal" [id]="idPrefix + 'gtm-transaction-modal'">
  <div class="modal__content">
    <main class="modal__body">
      <img
        *ngIf="!isSwapAndEarnSwap"
        class="modal__success-image"
        [src]="
          'assets/images/bridge/' +
          (ccrProviderType !== CROSS_CHAIN_PROVIDER.SYMBIOSIS
            ? 'success-image.svg'
            : 'warning-image.svg')
        "
        alt="Success"
      />
      <img
        *ngIf="isSwapAndEarnSwap"
        class="modal__success-image"
        src="assets/images/swap-and-earn/it-mouse.svg"
        alt="Mouse"
      />
      <ng-container *ngIf="!isSwapAndEarnSwap">
        <h3 class="modal__title">
          {{
            (type === 'on-chain'
              ? 'notifications.successfullySentTransaction'
              : 'notifications.successfulCCRSwapTitle'
            ) | translate
          }}
        </h3>
      </ng-container>
      <ng-container *ngIf="isSwapAndEarnSwap">
        <h3 class="modal__title-points">Yahoo!</h3>
        <span class="modal__point-subtitle"
          >You will be credited with {{ bonusPoints$ | async }} points when the transaction is
          successful</span
        >
      </ng-container>
    </main>
    <footer class="modal__footer">
      <ng-container *ngIf="idPrefix !== 'crypto_tap_'">
        <ng-container *ngIf="ccrProviderType !== CROSS_CHAIN_PROVIDER.SYMBIOSIS">
          <ng-container>
            <div class="modal__point-link" *ngIf="isSwapAndEarnSwap">
              <span>Points can be seen </span>
              <a href="/airdrop" target="_blank" rel="noreferrer" *ngIf="hideUnusedUI">here</a>
              <span *ngIf="!hideUnusedUI" class="highlight_green" (click)="navigateToSwapAndEarn()"
                >here</span
              >
            </div>
            <ng-container class="modal__footer-text" *ngIf="type === 'cross-chain-routing'">
              <div>
                {{
                  'modals.successTxModal.seeDetailsCCR'
                    | translate
                      : {
                          explorerLink: txHash | scannerLink : blockchain : ADDRESS_TYPE.TRANSACTION
                        }
                }}
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="type === 'on-chain' && blockchain === BLOCKCHAIN_NAME.TRON">
            <div class="modal__footer-text && modal__footer-text_warning">
              Transaction can take up to 5 minutes.
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="ccrProviderType === CROSS_CHAIN_PROVIDER.SYMBIOSIS">
          <div class="modal__footer-text">
            You've completed a swap through Symbiosis. Please use the
            <strong>Revert</strong> function found in the
            <a class="text-nowrap" href="/my-trades" target="_blank">My Trades</a> table if your
            transaction is stuck.<br />
            See transaction
            <a
              class="modal__footer-link"
              [href]="txHash | scannerLink : blockchain : ADDRESS_TYPE.TRANSACTION"
              target="_blank"
              >details</a
            >.
          </div>
        </ng-container>
      </ng-container>
      <h3 class="modal__title">
        {{
          (type === 'on-chain' ? 'modals.successTxModal.title' : 'modals.successTxModal.ccrTitle')
            | translate
        }}
      </h3>
      <app-rubic-button fullWidth appearance="primary" (click)="onConfirm()">
        {{ 'common.OK' | translate }}
      </app-rubic-button>
    </footer>
  </div>
</div>
