<div class="tokens-cell">
  <div class="tokens-cell__token-from">
    <img
      class="tokens-cell__token-icon"
      [src]="token.from.image || '/assets/images/icons/coins/empty.svg'"
      [alt]="token.from.symbol"
      width="25"
      height="25"
    />
    {{ token.from.symbol }}
  </div>
  <div class="tokens-cell__separator"></div>
  <div class="tokens-cell__token-to">
    <img
      class="tokens-cell__token-icon"
      [src]="token.to.image || '/assets/images/icons/coins/empty.svg'"
      [alt]="token.to.symbol"
      width="25"
      height="25"
    />
    {{ token.to.symbol }}
  </div>
</div>
