.tokens-cell {
  display: flex;

  &__token-from,
  &__token-to {
    display: inline-flex;
    align-items: center;
    width: 50%;

    font-size: 15px;
  }

  &__token-from {
    padding-right: 15px;
  }

  &__token-to {
    padding-left: 15px;
  }

  &__separator {
    position: absolute;
    top: 0;
    left: calc(50% - 2px);

    display: block;
    box-sizing: border-box;
    width: 4px;
    height: 100%;

    background-color: #f4f4f4;
  }

  &__token-icon {
    width: auto;
    height: 22px;
    margin-right: 15px;
  }
}
