<div class="tokens-cell">
  <div class="tokens-cell__token-from">
    <img
      *ngIf="token.base.image"
      class="tokens-cell__token-icon"
      [src]="token.base.image || '/assets/images/icons/coins/empty.svg'"
      [alt]="token.base.symbol"
    />
    {{ token.base.symbol }}
  </div>
  <div class="tokens-cell__separator"></div>
  <div class="tokens-cell__token-to">
    <img
      *ngIf="token.quote.image"
      class="tokens-cell__token-icon"
      [src]="token.quote.image || '/assets/images/icons/coins/empty.svg'"
      [alt]="token.quote.symbol"
    />
    {{ token.quote.symbol }}
  </div>
</div>
