.active-swaps_container {
  //padding: 0 2%;
  margin-top: 80px;
}

.public-swaps {
  min-width: 1015px;
  white-space: nowrap;
  &_table-toggler {
    float: right;
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
    margin: 20px 2px 10px;
    position: relative;
    z-index: 5;
    li {
      padding: 0;
      display: inline-block;
      margin: 0 0 0 -1;
      span {
        cursor: pointer;
        display: block;
        padding: 12px 29px 9px;
        font-size: 15px;
        line-height: 15px;
        border: 1px solid #2873fb;
        background: white;
        color: black;
        margin-bottom: 5px;
      }
      &.active span {
        background-color: #2873fb;
        color: #fff;
        border-color: #2873fb;
      }
      & + li {
        span {
          border-left-width: 0;
          padding: 12px 34px 9px;
        }
      }
    }
  }
  &_table-container {
    overflow: auto;
    clear: both;
  }
  &_body {
    overflow: auto;
  }
  &_empty {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    a {
      color: #fcd600 !important;
    }
  }
  &_row {
    margin: 0;
    position: relative;
    &.as-link {
      cursor: pointer;
    }
  }
  &_cell {
    padding: 0;
    &_content {
      line-height: 70px;
      margin: 2px 2px 1px 1px;
      padding: 0 14px;
      background-color: white;
      color: #000;
      position: relative;
      &.is-profit,
      &.no-profit {
        background-repeat: no-repeat;
        background-position: calc(100% - 15px) center;
      }
      &.is-profit {
        background-image: url('/assets/images/icons/positive-rate.svg');
      }
      &.no-profit {
        background-image: url('/assets/images/icons/negative-rate.svg');
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  // &_row:hover &_cell {
  //   background-color: rgba(255, 255, 255, 0.8);
  // }
  &_head {
    &-row {
      position: relative;
      z-index: 3;
      margin: 0;
    }
    &-cell {
      color: #110931;
      padding: 0;
      &__sortable {
        color: #4AA956;
        .sort-btn {
          background-image: url(/assets/images/icons/table/sort-2.svg);
        }

        &.asc {
          .sort-btn {
            background-image: url(/assets/images/icons/table/sort-3.svg);
          }
        }
      }
    }
    &_content {
      line-height: 38px;
      margin: 2px 2px 1px 1px;
      padding: 10px;
      background-color: white;
      text-align: left;
    }
  }
}

@media screen and (max-width: 420px) {
  .public-swaps {
    &_table-toggler {
      float: none;
      width: 100%;
      li {
        width: 50%;
        text-align: center;
      }
    }
  }
}

.swap-info {
  font-size: 15px;
  line-height: 1.2em;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  &__token-filled {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.27);
    border-bottom: 1px solid rgba(255, 255, 255, 0.27);
    font-size: 12px;
    line-height: 12px;
    padding: 3px 5px;
    span {
      display: block;
      border-bottom: 1px solid transparent;
      position: absolute;
      bottom: -1px;
      left: 0;
      right: auto;
    }
    &.partiality-filled {
      color: #fcd600;
      span {
        border-color: #fcd600;
      }
    }
  }
  &__token {
    &-name {
      &_icon {
        width: 22px;
        margin-right: 12px;
        vertical-align: middle;
        margin-top: -3px;
      }
      &_symbol {
        vertical-align: middle;
      }
    }

    &-volume {
      line-height: 1.2em;
      &_value {
        font-weight: bold;
      }
      &_rate {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        margin-top: 14px;
        display: block;
      }
      &__with-icon {
        position: relative;
        &:after {
          content: '';
          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
          left: -41px;
          background: url(/assets/images/icons/ch_03.svg) center center/24px
            no-repeat;
          top: 50%;
          margin-top: -25px;
        }
      }
    }
  }
}

.sort-btn {
  float: right;
  width: 28px;
  height: 28px;
  background: center center no-repeat rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0;
  border: 0 none;
  line-height: 28px;
  cursor: pointer;
  background-image: url(/assets/images/icons/table/sort-1.svg);
  margin-top: 5px;
}

.coin-filters {
  position: relative;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  &_btn {
    width: 28px;
    height: 38px;
    background: center center no-repeat rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 0;
    border: 0 none;
    line-height: 38px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -19px 0 0 -14px;
    cursor: pointer;
    span {
      display: inline-block;
      vertical-align: middle;
      transform: rotate(90deg);
      width: 18px;
      height: 18px;
      background: url(/assets/images/icons/table/sort-1.svg) center center
        no-repeat;
    }
  }
}
.coin-filter {
  position: relative;
  &__left {
    float: left;
    width: calc(50% - 19px);
  }
  &__right {
    float: right;
    width: calc(50% - 19px);
  }
}
.titles-coins {
  font-size: 15px;
  line-height: 18px;
  color: #110931;
  opacity: 0.25;
  display: block;
  float: left;
  width: 50%;
  box-sizing: border-box;
  + .titles-coins {
    padding-left: 15px;
  }
}

.delete-order-btn {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
  background: none;
  border: 0 none;
  outline: none;
  cursor: pointer;
  display: none;
  padding: 0;
  .public-swaps_row:hover & {
    display: block;
  }
}

.public-progress-loading {
  height: 8px;
  margin: 60px 0;
  clear: both;
  span {
    width: 100% !important;
    display: block;
    height: 100%;
    background-color: #2873fb;
    transition: linear 0.2s;
  }
}

.refresh-btn {
  background: none;
  padding: 0;
  margin: 0;
  border: 0 none;
  cursor: pointer;
  outline: none;
  img {
    display: block;
  }
  &.progress {
    animation-name: refreshProgressElement;
    -o-animation-name: refreshProgressElement;
    -ms-animation-name: refreshProgressElement;
    -webkit-animation-name: refreshProgressElement;
    -moz-animation-name: refreshProgressElement;
    animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
  }
}

@keyframes refreshProgressElement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes refreshProgressElement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes refreshProgressElement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes refreshProgressElement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes refreshProgressElement {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1240px) {
  .public-swaps {
    .btn {
      width: 90vw !important;
      position: absolute;
      left: 0;
      margin-left: 5vw;
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .active-swaps_container {
    .btn-yellow {
      margin-bottom: 30px;
      width: 100%;
      float: none !important;
    }
  }
}
