<app-window-container
  *ngLet="{
    tradeInfo: tradeInfo$ | async,
    tradeState: tradeState$ | async,
    transaction: transactionState$ | async,
    status: status$ | async,
    cnTrade: cnTrade$ | async
  } as state"
>
  <ng-container header>
    <span class="back-button" (click)="backToForm()">
      <img class="back-button__image" src="/assets/images/icons/arrow-back.svg" alt="" />
      Change Now Swap
    </span>
  </ng-container>
  <ng-container>
    <div class="preview">
      <div class="form__container" *ngLet="isMobile$ | async as isMobile">
        <app-input-output-container
          [round]="!isMobile ? 'top' : 'none'"
          [marginTop]="isMobile"
          *ngLet="fromAsset$ | async as fromAsset"
        >
          <app-asset-selector left selectorType="from" [asset]="fromAsset"></app-asset-selector>
          <div right class="input-container">
            <app-amount-transput
              formType="from"
              [selectedToken]="fromAsset"
              inputMode="output"
              [amountValue]="fromAmount$ | async"
            ></app-amount-transput>
          </div>
        </app-input-output-container>
        <app-form-switcher></app-form-switcher>
        <app-input-output-container round="bottom">
          <app-asset-selector
            left
            selectorType="to"
            [asset]="toAsset$ | async"
          ></app-asset-selector>
          <div right class="input-container">
            <app-amount-transput
              formType="to"
              [selectedToken]="toAsset$ | async"
              inputMode="output"
              [amountValue]="toAmount$ | async"
            ></app-amount-transput>
            <app-tokens-rate></app-tokens-rate>
          </div>
        </app-input-output-container>
      </div>
    </div>

    <div class="target-address">
      <div class="target-address__title">Deposit address to transfer funds</div>
      <div class="target-address__text">
        {{ state.cnTrade.depositAddress }}
        <button
          [cdkCopyToClipboard]="state.cnTrade.depositAddress"
          class="copy-icon copy-icon_green"
          inlineSVG="assets/images/icons/copy.svg"
          (click)="copyToClipboard(state.cnTrade.depositAddress)"
          [tuiHint]="template"
          [tuiHintManual]="hintShown"
        ></button>
      </div>
    </div>

    <div class="status-wrapper">
      <div class="row row-status">
        <div class="row-item status-item">
          <div class="status-item__spinner" *ngIf="state.status === 'waiting'"></div>
          <div class="status-item__circle_complete" *ngIf="state.status !== 'waiting'">
            <img
              class="scheme__state.status-icon"
              src="assets/images/icons/checkmark/checkmark-bold-black.svg"
              alt=""
            />
          </div>
          <div
            class="row-item__value status-item__value"
            [ngClass]="{
              'status-item__value_completed': state.status
            }"
          >
            Awaiting deposit
          </div>
        </div>
        <img src="assets/images/icons/arrow/arrow-right-white.svg" alt="Next step" />
        <div class="row-item status-item">
          <div class="status-item__circle" *ngIf="state.status === 'waiting'"></div>
          <div
            class="status-item__line status-item__line_confirming"
            [ngClass]="{
              'status-item__line_completed':
                state.status === 'exchanging' ||
                state.status === 'sending' ||
                state.status === 'finished',
              'status-item__line_load': state.status === 'confirming'
            }"
          ></div>
          <div class="status-item__spinner" *ngIf="state.status === 'confirming'"></div>
          <div
            class="status-item__circle_complete"
            *ngIf="
              state.status === 'exchanging' ||
              state.status === 'sending' ||
              state.status === 'finished'
            "
          >
            <img
              class="scheme__state.status-icon"
              src="assets/images/icons/checkmark/checkmark-bold-black.svg"
              alt=""
            />
          </div>
          <div
            class="row-item__value status-item__value"
            [ngClass]="{
              'status-item__value_completed':
                state.status === 'confirming' ||
                state.status === 'exchanging' ||
                state.status === 'sending' ||
                state.status === 'finished'
            }"
          >
            Confirming
          </div>
        </div>
        <img src="assets/images/icons/arrow/arrow-right-white.svg" alt="Next step" />
        <div class="row-item status-item">
          <div
            class="status-item__circle"
            *ngIf="state.status === 'waiting' || state.status === 'confirming'"
          ></div>
          <div
            class="status-item__line status-item__line_exchanging"
            [ngClass]="{
              'status-item__line_completed':
                state.status === 'sending' || state.status === 'finished',
              'status-item__line_load': state.status === 'exchanging'
            }"
          ></div>
          <div class="status-item__spinner" *ngIf="state.status === 'exchanging'"></div>
          <div
            class="status-item__circle_complete"
            *ngIf="state.status === 'sending' || state.status === 'finished'"
          >
            <img
              class="scheme__state.status-icon"
              src="assets/images/icons/checkmark/checkmark-bold-black.svg"
              alt=""
            />
          </div>
          <div
            class="row-item__value status-item__value"
            [ngClass]="{
              'status-item__value_completed':
                state.status === 'exchanging' ||
                state.status === 'sending' ||
                state.status === 'finished'
            }"
          >
            Exchanging
          </div>
        </div>
        <img src="assets/images/icons/arrow/arrow-right-white.svg" alt="Next step" />
        <div class="row-item status-item">
          <div
            class="status-item__circle"
            *ngIf="
              state.status === 'waiting' ||
              state.status === 'confirming' ||
              state.status === 'exchanging'
            "
          ></div>
          <div class="status-item__spinner" *ngIf="state.status === 'sending'"></div>
          <div class="status-item__circle_complete" *ngIf="state.status === 'finished'">
            <img
              class="scheme__state.status-icon"
              src="assets/images/icons/checkmark/checkmark-bold-black.svg"
              alt=""
            />
          </div>
          <div
            class="row-item__value status-item__value"
            [ngClass]="{
              'status-item__value_completed':
                state.status === 'sending' || state.status === 'finished'
            }"
          >
            Sending to you
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-window-container>

<ng-template #contactSupportHint>
  <div class="contact-support-hint">
    If your transaction seems to be taking longer than normal (more than 10 minutes), please contact
    our Support Team at <span class="primary-text">support@rubic.exchange</span>.
  </div>
</ng-template>

<ng-template #template>Address copied on clipboard!</ng-template>
