@use 'src/scss/mixins';
@use 'src/scss/vars' as *;
@use '~@taiga-ui/core/styles/taiga-ui-local' as *;
@use '../../common-styles';

:host {
  --tui-secondary-hover: var(--rubic-base-01);
  --tui-secondary-active: var(--rubic-base-01);
  --tui-link: #{$rubic-primary};
  --tui-link-hover: #{$rubic-primary};
  --tui-link-active: var(--rubic-secondary);

  --text-color: rgba(0, 0, 0, 0.7);
  --divider-color: #fff;
  --content-background: #ecf3ec;

  @include mixins.dark {
    --text-color: #d4d3d3;
    --divider-color: rgba(255, 255, 255, 0.1);
    --content-background: #282a28;
  }
}

.sort-container {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  tui-hosted-dropdown {
    margin-right: 15px;

    .title {
      display: flex;
      flex-wrap: nowrap;
      grid-gap: 5px;

      .arrow-right {
        ::ng-deep {
          svg path {
            fill: #{$rubic-primary};
          }
        }
      }
    }

    ::ng-deep {
      > .wrapper > button {
        background: var(--main-background);
      }
    }
  }

  .icon {
    @include transition(transform);

    &_rotated {
      transform: rotate(180deg);
    }
  }

  &__sort-arrows {
    display: flex;

    .sort-arrow {
      width: 15px;
      height: 16px;

      ::ng-deep {
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

tui-dropdown-box {
  ::ng-deep {
    button {
      color: #808080;
    }
  }
}

tui-data-list {
  .title {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 5px;
  }
}


.accordion {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  ::ng-deep {
    tui-accordion-item {
      &._hovered,
      &._focused {
        .header[automation-id='tui-accordion__item-header'] {
          background: var(--main-background);
        }
      }
    }
  }

  &__item {
    color: var(--text-color);

    ::ng-deep {
      .wrapper[automation-id='tui-accordion__item-wrapper'] {
        &::after {
          border: none;
        }
      }

      .header[automation-id='tui-accordion__item-header'] {
        min-height: 88px;

        background: var(--main-background);
        border: none;

        .title[automation-id='tui-accordion__item-title'] {
          overflow: visible;
        }
      }

      tui-expand {
        .wrapper {
          background: rgba(255, 255, 255, 0.2);

          .content {
            padding: 0;
          }
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;

    padding: 0 20px;
  }
}

.token {
  display: flex;

  > span {
    margin-right: 14px;
  }

  &__img {
    display: flex;

    width: 18px;
    min-width: 18px;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;

      border-radius: 3px;
    }

  }


  &__info {
    display: flex;

    div {
      margin-right: 8px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;

  color: var(--text-color);

  font-weight: normal;
  font-size: 18px;
  line-height: 120%;

  &__received {
    @include mixins.b(700) {
      display: none;
    }
  }

  &__token {
    @include mixins.b(600) {
      display: none;
    }
  }
}

.accordion-content {
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;

  background-color: var(--content-background);

  &__row {
    display: flex;
    height: 109px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--divider-color);
    }
  }

  &__title {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 208px;
    padding-right: 10px;
    padding-left: 25px;

    border-right: 1px solid var(--divider-color);

    @include mixins.b(450) {
      padding-left: 10px;
    }
  }

  &__value {
    display: flex;
    align-items: center;

    min-width: 200px;
    padding-left: 25px;

    @include mixins.b(450) {
      padding-left: 10px;
    }
  }
}

tui-pagination {
  ::ng-deep {
    .button {
      .wrapper[data-appearance='flat'] {
        color: #808080;
        font-weight: 500;
      }
    }
  }
}
