<div class="profit">
  <div class="profit__amount">
    <div class="profit__amount-percent">25.63%</div>
    <div class="profit__amount-time">Yesterday's APY</div>
  </div>

  <div class="profit__calc">
    <img
      class="profit__calc-img"
      src="assets/images/icons/staking/calc.svg"
      width="22"
      height="22"
      alt="calc"
    />
    <div class="profit__calc-caption">Calculate</div>
  </div>
</div>

<div class="stats">
  <div class="stats__reload">
    <img src="assets/images/icons/reload.svg" alt="reload" />
  </div>

  <div class="stats__balance">
    <div class="stats__balance-section">
      <h3 class="stats__balance-title">Balance</h3>
      <p class="stats__balance-value">84,392 xBRBC</p>
    </div>

    <div class="stats__balance-section">
      <h3 class="stats__balance-title">Can receive</h3>
      <p class="stats__balance-value">13,000 BRBC</p>
    </div>
  </div>

  <div class="stats__total">
    <div class="stats__total-section">
      <h3 class="stats__total-title">Users total staked</h3>
      <p class="stats__total-value">
        75,000 BRBC to <br />
        100,000 BRBC
      </p>

      <progress class="stats__progress" max="100" value="70"></progress>
    </div>

    <div class="stats__total-section">
      <h3 class="stats__total-title">Total staked</h3>
      <p class="stats__total-value">
        2,225,530 BRBC of <br />
        7,000,000 BRBC
      </p>

      <progress class="stats__progress" max="100" value="30"></progress>
    </div>
  </div>
</div>
