@import 'src/scss/vars';
@import 'src/scss/mixins';

:host {
  width: 100%;
  max-width: 610px;
}

.swaps-form {
  min-height: 200px;
  margin-bottom: 35px;
  padding: 30px 40px;

  background-color: rgba(white, 0.5);
  border-radius: 19px;
  backdrop-filter: blur(50px);

  ~ *:not(:last-child) {
    display: block;
    margin-bottom: 35px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    margin: 0 5px 0 0;

    font-weight: 100;
    font-size: 24px;
  }

  &__content {
    margin-bottom: 15px;
  }

  &__settings {
    margin-left: auto;

    cursor: pointer;
  }

  &__top-part {
    display: flex;

    > *:first-child {
      flex-grow: 1;

      border-right: 2px solid $rubic-base-01;
    }
  }

  &__delimiter {
    position: relative;

    margin-bottom: 15px;

    > * {
      position: absolute;
      top: 7.5px;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }

  &__button {
    margin-bottom: 15px;
  }

  &__terms-and-conditions {
    font-weight: 300;
    font-size: 14px;
    text-align: center;

    a {
      display: block;

      color: $rubic-primary;
      font-weight: 400;
    }
  }
}

.swaps-volume {
  display: block;
  margin-top: 35px;
}

.swaps-footer {
  display: block;
  margin-top: 65px;
}

.button-reloading {
  img {
    animation: spin 0.9s linear 2s;
  }
}

app-amount-estimated {
  display: block;
  margin-bottom: 15px;
}

@include b($mobile-md) {
  .swaps-form {
    padding: 0 0 20px;

    &__header {
      display: none;
    }

    &__top-part {
      display: block;

      > *:first-child {
        display: block;

        border-right: 0;
        border-bottom: 2px solid $rubic-base-01;
      }
    }

    &__delimiter {
      margin-bottom: 6px;

      > * {
        top: 0;
      }
    }

    &__button-container {
      padding: 0 20px;
    }
  }
}
