<div class="swaps-form">
  <header class="swaps-form__header">
    <h1 class="swaps-form__title">Crypto Tap</h1>
  </header>

  <main class="swaps-form__content">
    <app-swaps-header
      [fromBlockchain]="fromBlockchain"
      [toBlockchain]="toBlockchain"
      [swapType]="swapType"
    ></app-swaps-header>

    <app-crypto-tap-top-form
      [loading]="tradeStatus === TRADE_STATUS.LOADING"
      [tokens]="availableTokens['from']"
      [tokensLoading]="tokensLoading"
      [blockchainsListFrom]="blockchainsListFrom"
    ></app-crypto-tap-top-form>

    <div class="swaps-form__bottom">
      <app-rubic-tokens
        idPrefix="crypto_tap_"
        class="form-panel__tokens crypto"
        [loading]="tokensLoading"
        formType="to"
        [tokens]="availableTokens['to']"
        [formService]="cryptoTapFormService"
        [allowedBlockchains]="blockchainsListTo"
      ></app-rubic-tokens>
      <app-amount-estimated
        [loading]="tradeStatus === TRADE_STATUS.LOADING"
        [formService]="cryptoTapFormService"
      >
        <app-crypto-tap-discount
          *ngIf="
            tradeStatus &&
            tradeStatus !== TRADE_STATUS.DISABLED &&
            tradeStatus !== TRADE_STATUS.LOADING
          "
        ></app-crypto-tap-discount>
      </app-amount-estimated>
    </div>

    <div class="swaps-form__button-container">
      <app-swap-button
        id="crypto_tap_button_swap"
        [needApprove]="needApprove"
        [status]="tradeStatus"
        [formService]="cryptoTapFormService"
        [fromAmount]="fromAmount"
        (approveClick)="approveTrade()"
        (swapClick)="createTrade()"
      ></app-swap-button>
    </div>
  </main>
</div>

<app-rubic-volume></app-rubic-volume>
