@import 'src/scss/vars';
@import 'src/scss/mixins';

:host {
  display: block;
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
}

.swaps-form {
  min-height: 200px;
  margin-bottom: 35px;
  padding: 30px 40px;

  background-color: var(--main-form-background);
  border-radius: 14px;
  backdrop-filter: blur(50px);

  ~ *:not(:last-child) {
    display: block;
    margin-bottom: 35px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;
    padding: 20px;

    background-color: var(--main-background);
    border-top: 1px solid var(--rubic-secondary);
    border-radius: 0 0 14px 14px;

    @include b($mobile-sm) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__title {
    margin: 0 5px 0 0;

    font-weight: 100;
    font-size: 24px;
    letter-spacing: 1.5px;
  }

  &__content {
    margin-bottom: 15px;
  }
}

@include b($mobile-md) {
  .swaps-form {
    padding: 0 0 20px;

    &__header {
      display: none;
    }

    &__top-part {
      display: block;

      > *:first-child {
        display: block;

        border-right: 0;
        border-bottom: 2px solid var(--rubic-base-01);
      }
    }

    &__button-container {
      padding: 0 20px;
    }
  }
}
