@use 'src/scss/core' as *;

.fiat-card {
  display: flex;
  align-items: center;

  height: 42px;

  color: var(--form-bright-text-color);

  &__name-container {
    max-width: 150px;
    margin-right: auto;

    @include b($mobile-md) {
      max-width: 125px;
    }

    @include b($mobile-sm) {
      max-width: 93px;
    }


    span,
    small {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }

    span {
      font-size: 16px;
      line-height: 20px;
    }

    small {
      display: block;

      font-size: 13px;
      line-height: 18px;
    }

    &-address-hint {
      display: block;

      span {
        font-size: 13px !important;
      }
    }

    &-copy-icon {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      margin-left: 10px;

      ::ng-deep svg {
        width: 13px;
        height: 17px;

        path {
          fill: var(--rubic-base-02);
        }
      }
    }

    &-copied-container {
      display: flex;
      gap: 5px;
      align-items: center;
      margin-top: -2px;
    }

    &-copied-icon {
      display: flex;
      margin-bottom: 1px;
      margin-left: 10px;

      ::ng-deep svg {
        width: 13px;
        height: 17px;
        margin-bottom: 0 !important;

        path {
          fill: var(--rubic-base-02);
        }
      }
    }

    &-copied-text {
      margin-bottom: 0 !important;

      @include b($mobile-sm) {
        display: none !important;
      }
    }

    &-symbol {
      display: flex;
      align-items: center;
      width: fit-content;
    }
  }

  &__favorite-container {
    width: 24px;
    height: 24px;
    margin-left: 20px;
  }

  ::ng-deep &__favorite {
    display: flex;
    align-items: center;


    svg {
      width: 24px;
      height: 24px;

      path {
        transition: 0.2s ease-in-out;

        stroke: var(--form-dim-text-color);
      }
    }

    &_active svg path {
      fill: $rubic-warning;
      stroke: none;
    }

    &:hover:not(&_active)  svg path {
      stroke: var(--main-green);
    }
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin-right: 20px;

    img {
      width: 100%;
      max-width: 38px;
      max-height: 38px;

      border-radius: 25%;
    }
  }
}
