@use 'src/scss/core' as *;

.fiat-card {
  display: flex;
  align-items: center;

  height: 42px;

  color: var(--form-bright-text-color);

  @include iframe {
    height: unset;
  }

  &__name-container {
    max-width: 150px;
    margin-right: auto;
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin-right: 20px;

    @include iframe-vertical {
      width: 24px;
      height: 24px;
    }

    img {
      width: 100%;
      max-width: 38px;
      max-height: 38px;

      border-radius: 25%;

      @include iframe-vertical {
        max-width: 24px;
        max-height: 24px;
      }
    }
  }
}

.name-container {
  &__symbol {
    display: flex;
    align-items: center;
    width: fit-content;

    line-height: 24px;

    @include iframe {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__name {
    font-size: 13px;
    line-height: 18px;

    @include iframe {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
