@use 'src/scss/core' as *;

.fiat-card {
  display: flex;
  align-items: center;

  height: 42px;

  color: var(--form-bright-text-color);

  &__name-container {
    max-width: 150px;
    margin-right: auto;
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    margin-right: 20px;

    img {
      width: 100%;
      max-width: 38px;
      max-height: 38px;

      border-radius: 25%;
    }
  }
}

.name-container {
  &__symbol {
    display: flex;
    align-items: center;
    width: fit-content;

    line-height: 24px;
  }

  &__name {
    font-size: 13px;
    line-height: 18px;
  }
}
