@use 'src/scss/core' as *;

.landing {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
  padding: 33px 50px;

  border: 1px solid #262927;
  border-radius: 20px;

  @include b($tablet) {
    flex-direction: column;
    margin-bottom: 39px;
    padding: 20px;
  }

  &__step {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 52px;

      @include b($tablet) {
        margin-right: 0;
        margin-bottom: 32px;
      }
    }

    &-icon {
      width: 95px;
      height: 95px;
      margin-right: 15px;

      background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, #000 100%);

      @include b($tablet) {
        width: 56px;
        height: 56px;
        margin-right: 18px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-text {
      @include font(18px, 23px, 600, var(--rubic-base-02));

      @include b($tablet) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

.whitelist-info {
  display: flex;
  max-width: 701px;
  margin: 0 auto 22px;
  padding: 15px;

  background: rgba(98, 126, 234, 0.15);
  border-radius: 14px;

  &__icon {
    margin-right: 14px;
  }

  &__text {
    @include font(18px, 21px, 500, #627EEA);

    &-paragraph:first-child {
      margin-bottom: 20px;
    }
  }

  &__timer {
    color: rgb(235, 187, 78);
  }
}

app-rubic-button {
  display: block;
  width: 696px;
  margin: 0 auto;

  @include b(1024) {
    width: 100%;
  }
}
