@use 'src/scss/core' as *;

:host {
  @include b($tablet) {
    position: relative;

    display: block;
    margin-top: 32px;
  }
}

hr {
  position: absolute;
  top: -32px;
  left: -20px;

  width: calc(100% + 40px);

  background: #262927;
}

.landing {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
  padding: 26px 50px;

  border: 1px solid #262927;
  border-radius: 20px;

  @include b($tablet) {
    flex-direction: column;
    margin-bottom: 39px;
    padding: 20px;
  }

  &__step {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 37px;

      @include b($tablet) {
        margin-right: 0;
        margin-bottom: 32px;
      }
    }

    &-icon {
      margin-right: 18px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-text {
      @include font(16px, 21px, 600, var(--rubic-base-02));

      @include b($tablet) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

.whitelist-info {
  display: flex;
  max-width: 558px;
  margin: 0 auto 16px;
  padding: 15px;

  background: rgba(98, 126, 234, 0.15);
  border-radius: 12px;

  @include b($tablet) {
    padding: 12px;
  }

  &__icon {
    margin-right: 11px;

    @include b($tablet) {
      margin-right: 9px;
    }
  }

  &__text {
    @include font(14px, 17px, 500, #627EEA);

    @include b($tablet) {
      font-size: 14px;
      line-height: 16px;
    }

    &-paragraph:first-child {
      margin-bottom: 20px;
    }
  }

  &__timer {
    color: rgb(235, 187, 78);
  }
}

app-rubic-button {
  display: block;
  width: 558px;
  margin: 0 auto;

  @include b(1024) {
    width: 100%;
  }
}
