<div class="landing">
  <div class="landing__step">
    <div class="landing__step-icon">
      <img src="assets/images/icons/lp-providing/lp-step-1.png" />
    </div>
    <div class="landing__step-text">Buy RBC to get profit and participate in our staking</div>
  </div>
  <div class="landing__step">
    <div class="landing__step-icon">
      <img src="assets/images/icons/lp-providing/lp-step-1.png" />
    </div>
    <div class="landing__step-text">Stake RBC/BRBC/wRBC to get a rewards in BRBC</div>
  </div>
</div>
<ng-container *ngIf="needLogin$ | async; else createDeposit">
  <app-rubic-button class="lp-steps__create" appearance="secondary" (onClick)="login()">
    Connect wallet
  </app-rubic-button>
</ng-container>

<ng-template #createDeposit>
  <app-rubic-button
    class="lp-steps__create"
    appearance="secondary"
    (click)="navigateToDepositForm(false)"
  >
    Create deposit
  </app-rubic-button>
</ng-template>
