<ng-container
  *ngLet="{
    isWhitelistUser: isWhitelistUser$ | async,
    isWhitelistInProgress: isWhitelistInProgress$ | async
  } as whitelist"
>
  <hr *ngIf="isMobile$ | async" />
  <ng-container *ngLet="isDarkTheme$ | async as isDarkTheme">
    <div class="landing">
      <div class="landing__step">
        <div class="landing__step-icon">
          <img
            [src]="
              isDarkTheme
                ? 'assets/images/icons/lp-providing/lp-pair.svg'
                : 'assets/images/icons/lp-providing/lp-pair-light.svg'
            "
          />
        </div>
        <div class="landing__step-text">{{ 'lp.acquireBoth' | translate }}</div>
      </div>
      <div class="landing__step">
        <div class="landing__step-icon">
          <img
            [src]="
              isDarkTheme
                ? 'assets/images/icons/lp-providing/lp-balance.svg'
                : 'assets/images/icons/lp-providing/lp-balance-light.svg'
            "
          />
        </div>
        <div class="landing__step-text">{{ 'lp.provideLiquidity' | translate }}</div>
      </div>
    </div>
    <div class="whitelist-info" *ngIf="whitelist.isWhitelistInProgress">
      <div class="whitelist-info__icon">
        <img src="assets/images/icons/info-blue.svg" alt="Info" />
      </div>
      <div class="whitelist-info__text">
        <div class="whitelist-info__text-paragraph">
          {{ 'lp.whitelistInfo' | translate }}
        </div>
        <div class="whitelist-info__text-paragraph">
          {{ 'lp.ifDidNotParticipate' | translate }}
          <span class="whitelist-info__timer">{{ whitelistEndTime | date: 'medium':'UTC' }}</span>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="needLogin$ | async; else createDeposit">
    <app-rubic-button class="lp-steps__create" appearance="secondary" (onClick)="login()">
      {{ 'lp.connectWalletToView' | translate }}
    </app-rubic-button>
  </ng-container>

  <ng-template #createDeposit>
    <ng-container *ngIf="whitelist.isWhitelistInProgress && !whitelist.isWhitelistUser">
      <app-rubic-button class="lp-steps__create" appearance="secondary" [disabled]="true">
        {{ 'lp.notWhitelistUser' | translate }}
      </app-rubic-button>
    </ng-container>
    <ng-container *ngIf="whitelist.isWhitelistInProgress && whitelist.isWhitelistUser">
      <app-rubic-button
        class="lp-steps__create"
        appearance="secondary"
        (onClick)="navigateToDepositForm(depositType.WHITELIST)"
      >
        {{ 'lp.initiateDepositWithWhitelist' | translate }}
      </app-rubic-button>
    </ng-container>
    <ng-container *ngIf="!whitelist.isWhitelistInProgress">
      <app-rubic-button
        class="lp-steps__create"
        appearance="secondary"
        (onClick)="navigateToDepositForm(depositType.REGULAR)"
        [disabled]="isLpEnded || isPoolFull"
      >
        <ng-container *ngIf="isLpEnded"> {{ 'lp.lpRoundEnded' | translate }} </ng-container>
        <ng-container *ngIf="isPoolFull">{{ 'lp.poolIsFull' | translate }}</ng-container>
        <ng-container *ngIf="!isLpEnded && !isPoolFull">{{
          'lp.initiateDeposit' | translate
        }}</ng-container>
      </app-rubic-button>
    </ng-container>
  </ng-template>
</ng-container>
