<div class='provider-panel'>
  <div
    class='provider-panel__wrapper'
    [ngClass]='{
    "provider-panel__wrapper_best-rate": providerData.isBestRate,
     "provider-panel__wrapper_loading": loading }'
  >
    <div class='provider-panel__provider-name'>{{ 'Via ' + providerData.name }}</div>
    <div *ngIf='providerData.isBestRate' class='provider-panel__best-rate'>
      <img src='assets/images/icons/Best-rate.svg' alt='Best rate provider'>
    </div>
    <div class='provider-panel__body'>
      <div class='provider-panel__left'>
        <div
          class='provider-panel__amount'
          [ngClass]='{ "tui-skeleton": loading, "tui-skeleton-text": loading }'
        >
          {{ providerData.amount }}
        </div>
      </div>
      <div class='provider-panel__right'>
        <div
          *ngIf='!collapsed'
          class='provider-panel__token-usd-price'
          [ngClass]='{ "tui-skeleton": loading, "tui-skeleton-text": loading }'
        >
          {{ providerData.gasFeeInUsd}}
          <span class='provider-panel__currency'>USD</span>
        </div>
        <div
          class='provider-panel__token-gas-fee'
          [ngClass]='{ "tui-skeleton": loading, "tui-skeleton-text": loading }'
        >
          {{ 'instantTrades.gasFee' | translate }} {{ providerData.gasFeeInEth}} ≈ {{ providerData.gasFeeInUsd}}$
          <tui-tooltip
            [content]="'instantTrades.gasFeeMessage' | translate"
            [showDelay]='200'
            direction="left"
          ></tui-tooltip>
        </div>
      </div>
      <div
        *ngIf='!loading'
        (click)='collapsePanel()'
        class='provider-panel__collapse-toggle'
        [ngClass]='{ "provider-panel__collapse-toggle_collapsed": collapsed }'
      >
        <tui-svg class="icon" src="tuiIconChevronUpLarge"></tui-svg>
      </div>
    </div>
  </div>
</div>
