<app-statistics></app-statistics>

<ng-container *ngIf="(needLogin$ | async) === false; else connectWallet">
  <app-deposits></app-deposits>
</ng-container>

<div class="rules">
  <a class="rules__link" href="#" target="_blank">{{ 'staking.stake.rules' | translate }}</a>
  <div class="rules__icon" [inlineSVG]="'assets/images/icons/link-arrow.svg'"></div>
</div>

<div class="past-campaings">
  <tui-accordion class="container">
    <tui-accordion-item [borders]="null" [showArrow]="false" (click)="toggleAccordion()">
      {{ 'staking.stake.pastStaking' | translate }}
      <ng-template tuiAccordionItemContent>
        <app-lp-card
          class="past-campaings__card"
          [round]="1"
          [statuses]="[RoundStatus.CLOSED]"
        ></app-lp-card>
        <app-staking-card
          class="past-campaings__card"
          [round]="1"
          [statuses]="[RoundStatus.CLOSED]"
        >
        </app-staking-card>
        <app-staking-card
          class="past-campaings__card"
          [round]="2"
          [statuses]="[RoundStatus.CLOSED]"
        >
        </app-staking-card>
      </ng-template>
      <div
        class="lp__arrow"
        inlineSVG="assets/images/icons/arrow/long-arrow-up.svg"
        [style.transform]="accordionState ? 'rotate(360deg)' : 'rotate(180deg)'"
      ></div>
    </tui-accordion-item>
  </tui-accordion>
</div>

<ng-template #connectWallet>
  <app-rubic-button class="connect-wallet" appearance="secondary" (onClick)="login()"
    >Connect wallet
  </app-rubic-button>
</ng-template>
