@use 'src/scss/core' as *;

:host {
  --tui-font-text-s: normal 16px/20px var(--tui-font-text);
}

.placeholder {
  color: var(--secondary-text);

  font-size: 16px;
}

tui-input {
  ::ng-deep {
    input {
      @include b($mobile-sm-middle) {
        font-size: 16px !important;
      }
    }

    .placeholder {
      color: var(--secondary-text);

      font-size: 16px;

      @include b($mobile-sm-middle) {
        font-size: 14px;
      }
    }

    .t-wrapper {
      z-index: auto;
    }
  }
}

.expandable-input {
  width: 50px;

  transition: 0.2s width ease-in-out;

  tui-input ::ng-deep {
    --tui-height-l: 54px;

    .t-wrapper[data-appearance='textfield'] {
      background: #282828;
    }

    .t-wrapper[data-appearance='textfield'][data-appearance='textfield']::after {
      border: 0;
    }
  }

  &_expanded {
    width: 300px;
  }
}

