@use 'src/scss/core' as *;

.mobile-table {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__head {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 5px;

    border-bottom: 1px solid var(--transparent-line);

    >.mobile-table__cell {
      @include font(12px, 15px, 500, var(--secondary-text));
      justify-content: initial;
      margin: 0;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;

    &-wrapper {
      padding: 10px 14px;

      background: var(--form-background);
      border-radius: 10px;
    }

    &:first-child {
      margin-bottom: 10px;

      .mobile-table__cell {
        width: 50%;
        margin: 0;

        color: var(--primary-color);
      }
    }

    &_total {
      align-items: center;
      padding: 20px 14px 10px;

      background: var(--form-background);
      border-radius: 0 0 10px 10px;
    }
  }

  &__cell {
    @include font(12px, 14px, 400, var(--primary-text));
    display: flex;
    align-items: center;
    width: calc(100% / 5);

    &:last-child {
      display: flex;
      flex: 1;
      gap: 8px;
      align-items: center;
      justify-content: end;
      width: 100%;
      margin-top: 10px;

      ::ng-deep app-rubic-button {
        button {
          height: 27px;

          font-size: 14px;
          line-height: 14px;

          .t-loader[data-tui-element-size='m'] {
            font-size: unset;
          }

          .wrapper {
            padding: 0 10px;
          }
        }
      }
    }

    img {
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }

    &-apr {
      max-width: 70%;
      overflow: hidden;

      text-overflow: ellipsis;
    }
  }
}
