<div class="mobile-deposits">
  <div class="mobile-deposits__wrapper">
    <tui-carousel [draggable]="true" [itemsCount]="1" [(index)]="index">
      <ng-container *ngFor="let deposit of deposits; let i = index; trackBy: trackBy">
        <div class="mobile-deposits__element" *tuiItem>
          <div class="mobile-deposits__info">
            <div class="mobile-deposits__info-item">
              <span class="mobile-deposits__info-item-title">NFT ID</span>
              <span class="mobile-deposits__info-item-value">{{ deposit.id }}</span>
            </div>
            <div class="mobile-deposits__info-item">
              <span class="mobile-deposits__info-item-title">RBC</span>
              <span class="mobile-deposits__info-item-value">{{
                deposit.amount | bigNumberFormat | withRound : 'fixedValue' : { decimals: 0 }
              }}</span>
            </div>
            <div class="mobile-deposits__info-item">
              <span class="mobile-deposits__info-item-title">{{
                'staking.deposits.rewards' | translate
              }}</span>
              <span
                class="mobile-deposits__info-item-value"
                [tuiHint]="
                  deposit.totalNftRewards.eq(0) || deposit.totalNftRewards.gt(0.0001)
                    ? (deposit.totalNftRewards
                      | bigNumberFormat
                      | withRound : 'fixedValue' : { decimals: 4 })
                    : '< 0.0001'
                "
                [tuiHintManual]="false"
                [tuiHintDirection]="'top-left'"
                [tuiHintShowDelay]="50"
                tuiHintAppearance="onDark"
              >
                {{
                  !deposit.totalNftRewards.isZero()
                    ? deposit.totalNftRewards.lt(0.01)
                      ? '< 0.01'
                      : (deposit.totalNftRewards
                        | bigNumberFormat
                        | withRound : 'fixedValue' : { decimals: 2 })
                    : '0.00'
                }}
              </span>
            </div>
            <div class="mobile-deposits__info-item">
              <span class="mobile-deposits__info-item-title">APR</span>
              <span
                class="mobile-deposits__info-item-value"
                [tuiHint]="
                  deposit.tokenApr && deposit.tokenApr.gte(0)
                    ? (deposit.tokenApr | bigNumberFormat : 2) + ' %'
                    : '-'
                "
                [tuiHintDirection]="'top-right'"
                tuiHintAppearance="onDark"
              >
                {{
                  deposit.tokenApr && deposit.tokenApr.gte(0)
                    ? (deposit.tokenApr | bigNumberFormat : 2) + '%'
                    : '-'
                }}
              </span>
            </div>
            <div class="mobile-deposits__info-item">
              <span class="mobile-deposits__info-item-title">{{
                'staking.deposits.endDate' | translate
              }}</span>
              <span class="mobile-deposits__info-item-value">{{
                deposit.endTimestamp | date : 'dd.MM.yyyy'
              }}</span>
            </div>
          </div>
          <div class="mobile-deposits__buttons">
            <tui-loader [showLoader]="claimingId === deposit.id" [overlay]="true">
              <button
                class="claim"
                tuiButton
                size="m"
                type="button"
                [appearance]="deposit.totalNftRewards.gt(0) ? 'primary' : 'secondary'"
                (click)="onClaim.emit(deposit)"
                [disabled]="deposit.totalNftRewards.isZero()"
              >
                {{ 'staking.deposits.claim' | translate }}
              </button>
            </tui-loader>
            <tui-loader [showLoader]="claimingId === deposit.id" [overlay]="true">
              <button
                class="withdraw"
                tuiButton
                size="m"
                type="button"
                [appearance]="deposit.canWithdraw ? 'primary' : 'secondary'"
                (click)="onWithdraw.emit(deposit)"
                [tuiHint]="'Withdraw'"
                [tuiHintDirection]="'top-right'"
                tuiHintAppearance="onDark"
              >
                <img
                  [ngClass]="{ 'leave-btn_disabled': !deposit.canWithdraw }"
                  [src]="'assets/images/icons/leave-black.svg'"
                  alt=""
                />
              </button>
            </tui-loader>
          </div>
        </div>
      </ng-container>
    </tui-carousel>
    <tui-pagination
      size="s"
      class="pagination"
      [length]="deposits.length"
      [(index)]="index"
    ></tui-pagination>
  </div>
  <div class="mobile-deposits__total">
    <div class="mobile-deposits__cell">
      {{ 'staking.deposits.totalRBC' | translate }}
      {{
        total.balance
          ? (total.balance | bigNumberFormat | withRound : 'fixedValue' : { decimals: 0 })
          : '0'
      }}
    </div>
    <div
      class="mobile-deposits__cell"
      [tuiHint]="total.rewards | bigNumberFormat | withRound : 'fixedValue' : { decimals: 6 }"
      [tuiHintDirection]="'top-right'"
      tuiHintAppearance="onDark"
    >
      {{ 'staking.deposits.totalRewards' | translate }}
      {{
        !total.rewards.isZero()
          ? total.rewards.lt(0.01)
            ? '< 0.01'
            : (total.rewards | bigNumberFormat | withRound : 'fixedValue' : { decimals: 2 })
          : '0.00'
      }}
    </div>
  </div>
</div>
