<div class="mobile-table">
  <div class="mobile-table__row mobile-table__row_total">
    <div class="mobile-table__cell">
      {{ 'staking.deposits.totalRBC' | translate }}
      {{
        total.balance
          ? (total.balance | bigNumberFormat | withRound : 'fixedValue' : { decimals: 0 })
          : '0'
      }}
    </div>
    <div
      class="mobile-table__cell"
      [tuiHint]="total.rewards | bigNumberFormat | withRound : 'fixedValue' : { decimals: 6 }"
      [tuiHintDirection]="'top-right'"
      tuiHintAppearance="onDark"
    >
      {{ 'staking.deposits.totalRewards' | translate }}
      {{
        !total.rewards.isZero()
          ? total.rewards.lt(0.01)
            ? '< 0.01'
            : (total.rewards | bigNumberFormat | withRound : 'fixedValue' : { decimals: 2 })
          : '0.00'
      }}
    </div>
  </div>

  <div
    class="mobile-table__row-wrapper"
    *ngFor="let deposit of deposits; let i = index; trackBy: trackBy"
  >
    <div class="mobile-table__head">
      <div class="mobile-table__cell">NFT ID</div>
      <div class="mobile-table__cell">RBC</div>
      <div class="mobile-table__cell">{{ 'staking.deposits.rewards' | translate }}</div>
      <div class="mobile-table__cell">APR</div>
      <div class="mobile-table__cell">{{ 'staking.deposits.endDate' | translate }}</div>
    </div>
    <div class="mobile-table__row">
      <div class="mobile-table__cell">
        <img src="assets/images/rbc.png" alt="" />
        {{ deposit.id }}
      </div>
      <div class="mobile-table__cell">
        {{ deposit.amount | bigNumberFormat | withRound : 'fixedValue' : { decimals: 0 } }}
      </div>
      <div
        class="mobile-table__cell"
        [tuiHint]="
          deposit.totalNftRewards.eq(0) || deposit.totalNftRewards.gt(0.0001)
            ? (deposit.totalNftRewards
              | bigNumberFormat
              | withRound : 'fixedValue' : { decimals: 4 })
            : '< 0.0001'
        "
        [tuiHint]="
          deposit.totalNftRewards.eq(0) || deposit.totalNftRewards.gt(0.0001)
            ? (deposit.totalNftRewards
              | bigNumberFormat
              | withRound : 'fixedValue' : { decimals: 4 })
            : '< 0.0001'
        "
        [tuiHintManual]="false"
        [tuiHintDirection]="'top-left'"
        [tuiHintShowDelay]="50"
        tuiHintAppearance="onDark"
      >
        {{
          !deposit.totalNftRewards.isZero()
            ? deposit.totalNftRewards.lt(0.01)
              ? '< 0.01'
              : (deposit.totalNftRewards
                | bigNumberFormat
                | withRound : 'fixedValue' : { decimals: 2 })
            : '0.00'
        }}
      </div>
      <div
        class="mobile-table__cell"
        [tuiHint]="
          deposit.tokenApr && deposit.tokenApr.gte(0)
            ? (deposit.tokenApr | bigNumberFormat : 2) + ' %'
            : '-'
        "
        [tuiHintDirection]="'top-right'"
        tuiHintAppearance="onDark"
      >
        <span class="mobile-table__cell-apr">{{
          deposit.tokenApr && deposit.tokenApr.gte(0)
            ? (deposit.tokenApr | bigNumberFormat : 2)
            : '-'
        }}</span
        >%
      </div>
      <div class="mobile-table__cell">
        {{ deposit.endTimestamp | date : 'dd.MM.yyyy' }}
      </div>
      <div class="mobile-table__cell">
        <app-rubic-button
          [appearance]="deposit.totalNftRewards.gt(0) ? 'primary' : 'secondary'"
          (onClick)="onClaim.emit(deposit)"
          [disabled]="deposit.totalNftRewards.isZero()"
          [loading]="claimingId === deposit.id"
        >
          {{ 'staking.deposits.claimRewards' | translate }}</app-rubic-button
        >
        <app-rubic-button
          [appearance]="deposit.canWithdraw ? 'primary' : 'secondary'"
          (onClick)="onWithdraw.emit(deposit)"
          [loading]="withdrawingId === deposit.id"
        >
          {{ 'staking.deposits.withdraw' | translate }}
        </app-rubic-button>
      </div>
    </div>
  </div>
</div>
