@use 'src/scss/core' as *;

::ng-deep {
  button.withdraw .t-wrapper {
    padding: 0 !important;
  }

  tui-carousel {
    margin-bottom: var(--tui-padding-m);
  }
}

.mobile-deposits {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__wrapper {
    margin-top: 2px;
    padding: var(--tui-padding-m) 0;

    background: var(--io-background);
    border-radius: 0 0 var(--tui-radius-m) var(--tui-radius-m);
  }

  &__element {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 232px;
    margin: 0 auto;

    background: var(--app-background);
    border-radius: var(--tui-radius-m);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-xs);
    padding: var(--tui-padding-m) var(--tui-padding-l);

    border-bottom: 2px solid var(--io-background);

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-title {
        color: var(--tui-text-03);
      }
    }
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--tui-padding-l) var(--tui-padding-m);

    background: var(--io-background);
    border-radius: var(--tui-radius-m);
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--tui-padding-s);

    button.claim {
      width: 168px;
      height: 40px;
    }

    button.withdraw {
      width: 40px;
      height: 40px;
    }
  }
}
