<app-modal (onCloseEvent)="onCancel.emit()">
  <div class="high-gas-price-modal">
    <p class="high-gas-price-modal__description">
      {{ 'modals.gasPriceModal.text' | translate }}
    </p>

    <div class="high-gas-price-modal__buttons buttons">
      <button class="buttons__button buttons__button_cancel" (click)="onCancel.emit()">
        <img src="assets/images/icons/arrow/arrow-right-white.svg" alt="" />
        {{ 'common.cancel' | translate }}
      </button>

      <button class="buttons__button buttons__button_confirm" (click)="onConfirm.emit()">
        <img src="assets/images/icons/arrow/arrow-right-white.svg" alt="" />
        {{ 'common.confirm' | translate }}
      </button>
    </div>
  </div>
</app-modal>
