@import 'src/scss/vars';

.high-gas-price-modal {
  max-width: 311px;
  margin: 0 auto;
  padding-top: 40px;

  &__description {
    margin: 0;

    font-size: 16px;
    line-height: 23px;
  }

  &__buttons {
    margin-top: 30px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    padding: 0 20px;

    font-size: 18px;
    font-family: inherit;

    cursor: pointer;

    img {
      margin-right: 7px;
    }

    &_cancel {
      color: white;

      background: grey;
    }

    &_confirm {
      color: white;

      background: $main-green;
    }
  }
}
