.widget-container {
  position: relative;
  top: -169px;
  left: -24px;

  height: 660px;

  background: var(--main-form-background);
  border-radius: 19px;

  iframe {
    border-radius: 19px;
  }
}
