<div class="provider-panel">
  <div
    (click)="!providerData.hasError && activateProvider()"
    class="provider-panel__content"
    [ngClass]="{
      'provider-panel__content_best-rate': providerData.isBestRate,
      'provider-panel__content_loading': providerData.loading,
      'provider-panel__content_selected': providerData.isActive,
      'provider-panel__content_small': providerData.appearance === 'small'
    }"
  >
    <div class="provider-panel__provider-name">
      {{ 'common.via' | translate }} {{ providerData.name }}
    </div>

    <!-- Provider content -->
    <app-panel-content
      *ngIf="!providerData.hasError"
      [providerData]="providerData"
      [tradeData]="tradeData"
    ></app-panel-content>
    <!-- Error content -->
    <app-panel-error-content
      *ngIf="providerData.hasError"
      [providerData]="providerData"
      [errorTranslateKey]="errorTranslateKey"
    ></app-panel-error-content>
  </div>
</div>
