<tui-select [formControl]="tokenFormControl" [valueContent]="selectedValueTpl" class="select-token">
  <tui-data-list-wrapper
    *tuiDataList
    [items]="availableTokens"
    [itemContent]="optionTpl"
  ></tui-data-list-wrapper>
</tui-select>

<ng-template #selectedValueTpl let-item>
  <div class="selected-option">
    <img class="selected-option__icon" [src]="item.image" [alt]="item.symbol" />
    <span class="selected-option__symbol">{{ item.symbol }}</span>
  </div>
</ng-template>

<ng-template #optionTpl let-item>
  <div class="option">
    <img class="option__icon" [src]="item.image" [alt]="item.symbol" />
    <div class="option__desc">
      <div class="option__symbol">{{ item.symbol }}</div>
      <div class="option__name">{{ item.name }}</div>
    </div>
  </div>
</ng-template>
