<app-bridge-swap-info *ngIf="swapType === SWAP_PROVIDER_TYPE.BRIDGE"></app-bridge-swap-info>

<app-ccr-swap-info *ngIf="swapType === SWAP_PROVIDER_TYPE.CROSS_CHAIN_ROUTING"></app-ccr-swap-info>

<hr class="delimiter" />

<ng-container>
  <div class="info-line">
    <div class="info-line__title title">
      <span class="title__text">You will get Polygon tokens to this address</span>
    </div>
    <div class="info-line__value">
      0x879...970E3
      <a
        safetyLink
        [link]="
          '0x8796e04d35bA0251Fa71d9bC89937bED766970E3'
            | scannerLink: toBlockchain:ADDRESS_TYPE.WALLET
        "
        ><img src="assets/images/icons/scanner.svg" alt="{{ 'common.checkOnScanner' | translate }}"
      /></a>
      <button
        [cdkCopyToClipboard]="'0x8796e04d35bA0251Fa71d9bC89937bED766970E3'"
        (cdkCopyToClipboardCopied)="onWalletAddressCopied()"
      >
        <img
          *ngIf="!isWalletCopied"
          src="assets/images/swaps/swaps-info/copy-icon.svg"
          alt="copy"
        />
        <img *ngIf="isWalletCopied" src="assets/images/swaps/swaps-info/tick.svg" alt="copy" />
      </button>
    </div>
  </div>
</ng-container>
