@use 'src/scss/core' as *;

:host {
  --tui-height-s: 32px;
  display: flex;
  min-width: 150px;
  height: 32px;

  ::ng-deep {
    app-rubic-button {
      @include b($mobile-md-minus) {
        width: auto;
      }

      tui-loader {
        height: 100%;
      }
    }

    button {
      width: 100% !important;
      height: 100% !important;
      margin: 0 !important;

      .t-wrapper {
        @include b($mobile-md-minus) {
          min-width: 120px;

          .t-content {
            font-size: 12px;
          }
        }
      }
    }
  }
}
