@import "src/scss/elements/vars";

.accumulated-volume {

  &__title {
    margin-bottom: 16px;

    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    color: #110931;
  }

  &__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__content-item {
    flex: 1 0 250px;
  }
}

.volume-block {
  padding: 24px 21px 10px;

  background-color: white;

  &__number {
    margin-bottom: 14px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $main-green;
  }

  &__divider {
    margin-bottom: 7px;
    width: 43px;
    height: 0;

    border: 1px solid $main-green;
  }

  &__note {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $dark-secondary;
    opacity: 0.5;
  }
}
