<section class="accumulated-volume">
  <h3 class="accumulated-volume__title">
    {{ 'tradesPage.accumulatedTransactionsVolume' | translate }}
  </h3>

  <div class="accumulated-volume__content-wrapper">
    <div class="accumulated-volume__content-item volume-block">
      <div class="volume-block__number">{{ volume.instantTradesVolume }}</div>
      <div class="volume-block__divider"></div>
      <small class="volume-block__note">{{ 'instantTrades.title' | translate}}</small>
    </div>
    <div class="accumulated-volume__content-item volume-block">
      <div class="volume-block__number">{{ volume.bridgeVolume }}</div>
      <div class="volume-block__divider"></div>
      <small class="volume-block__note">{{ 'bridge.title' | translate }}</small>
    </div>
  </div>

</section>
