:host {
  --tui-background-neutral-1: var(--tui-background-base);
  --tui-background-neutral-1-hover: var(--tui-background-neutral-1);
  --tui-background-neutral-1-pressed: #2c2d36;
}

:host ::ng-deep .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
  }
}
