:host {
  --tui-secondary: var(--tui-base-01);
  --tui-secondary-hover: var(--tui-secondary);
  --tui-secondary-active: #2c2d36;
}

:host ::ng-deep .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
  }
}
