<app-iframe-settings-button *onlyFrame></app-iframe-settings-button>

<app-form-navigation *ngIf="!hideUnusedUI" class="swap-form-navigation"></app-form-navigation>

<ng-container *ngLet="isFormFilled$ | async as isFormFilled">
  <ng-container *ngLet="onramperWidgetOpened$ | async as onramperWidgetOpened">
    <div class="close-widget-button" *ngIf="onramperWidgetOpened">
      <app-back-button (onClick)="closeWidget()"></app-back-button>
    </div>

    <div
      class="swap-form"
      [ngStyle]="{ 'background-color': backgroundColor }"
      [ngClass]="{
        'swap-form_extended': onramperWidgetOpened,
        'swap-form_limit-order': isLimitOrder,
        'swap-form_onramper': isOnramper
      }"
    >
      <header
        *noFrame
        class="swap-form__header"
        [ngClass]="{
          'swap-form__header_onramper': isOnramper
        }"
      >
        <app-form-header class="swap-form__blockchains" *noFrame></app-form-header>

        <div class="swap-form__settings-wrapper">
          <app-refresh-button
            class="swap-form__refresh"
            *ngIf="
              (isInstantTrade || isCrossChainRouting || isOnramper) && isFormFilled && allowRefresh
            "
            mode="swaps"
            [isRotating$]="isRefreshRotating$"
            (onRefresh)="onRefresh()"
          >
          </app-refresh-button>

          <app-iframe-logout-button
            *ngIf="hideUnusedUI && getCurrentUser$ | async"
          ></app-iframe-logout-button>
        </div>
      </header>

      <main class="swap-form__content">
        <div class="swap-form__block">
          <app-iframe-asset-type-indicator
            [assetType]="getFromBlockchain()"
            *onlyFrame="'horizontal'"
          >
          </app-iframe-asset-type-indicator>

          <app-token-amount-input
            *noFrame="'vertical'"
            (amountUpdated)="onFromAmountUpdate()"
          ></app-token-amount-input>

          <app-vertical-iframe-token-amount-input
            *onlyFrame="'vertical'"
          ></app-vertical-iframe-token-amount-input>
        </div>

        <div class="swap-form__delimiter" [ngClass]="{ 'swap-form__delimiter_full': isOnramper }">
          <ng-container *ngIf="!isOnramper">
            <app-form-switcher
              *ngIf="!isIframeDstChainNotEvm"
              (switcherClick)="revert()"
            ></app-form-switcher>
          </ng-container>
        </div>

        <div class="swap-form__block">
          <app-iframe-asset-type-indicator *onlyFrame="'horizontal'" [assetType]="toBlockchain">
          </app-iframe-asset-type-indicator>

          <app-instant-trade-bottom-form
            *ngIf="isInstantTrade"
            (allowRefreshChange)="allowRefresh = $event"
            (instantTradeInfoChange)="currentInstantTradeInfo = $event"
            (tradeStatusChange)="tradeStatus = $event"
          >
          </app-instant-trade-bottom-form>

          <app-cross-chain-bottom-form
            *ngIf="isCrossChainRouting"
            (tradeStatusChange)="tradeStatus = $event"
          >
          </app-cross-chain-bottom-form>

          <app-onramper-bottom-form *ngIf="isOnramper"></app-onramper-bottom-form>
        </div>
      </main>

      <app-onramper-widget *ngIf="onramperWidgetOpened$ | async"></app-onramper-widget>
    </div>

    <app-limit-order-bottom-form
      *ngIf="isLimitOrder"
      [fromAmountUpdated$]="fromAmountUpdated$"
    ></app-limit-order-bottom-form>
  </ng-container>

  <ng-container *noFrame>
    <ng-container
      *ngIf="isMobile$ | async; then swapInfoMobile; else swapInfoDesktop"
    ></ng-container>

    <ng-template #swapInfoDesktop>
      <div class="swap-info-container">
        <app-swap-info-container
          *ngIf="isFormFilled && !isOnramper && !isLimitOrder"
          [swapType]="swapType"
          [currentInstantTradeInfo]="currentInstantTradeInfo"
          [tradeStatus]="tradeStatus"
        ></app-swap-info-container>
      </div>
    </ng-template>

    <ng-template #swapInfoMobile>
      <button
        class="swap-info-container-mobile"
        *ngIf="isFormFilled && !isOnramper && !isLimitOrder && tradeStatus !== TradeStatus.LOADING"
        (click)="openSwapInfo()"
      >
        <div>Transaction details</div>
        <div [inlineSVG]="'assets/images/icons/chevron.svg'"></div>
      </button>
    </ng-template>
  </ng-container>
</ng-container>
