@use 'src/scss/core' as *;

:host {
  position: relative;

  display: block;
  max-width: 565px;
  margin: 0 auto;

  @include hide-unused-ui {
    display: inline;

    app-swap-info-container {
      margin-top: 20px !important;
    }
  }
}

.swap-form {
  position: relative;

  min-height: 200px;
  margin-bottom: 20px;
  padding: 24px;

  background: var(--form-background);
  border: 1px solid var(--transparent-line);
  border-radius: 19px;

  @include hide-unused-ui {
    margin: 0;
  }

  &_extended {
    height: 660px;
  }

  &_limit-order {
    min-height: auto;
    margin-bottom: 0;
    padding: 24px 24px 0;

    border-bottom: 0;
    border-radius: 19px 19px 0 0;

    @include b($mobile-md) {
      padding-bottom: 0 !important;
    }
  }

  ~ *:not(:last-child) {
    display: block;
    margin-bottom: 35px;
  }

  &__header {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;

    min-height: 40px;
  }

  &__title {
    margin: 0 10px 0 0;

    color: var(--primary-text);
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1.5px;
  }

  &__settings-wrapper {
    display: flex;

    @include hide-unused-ui {
      margin: 0;
    }
  }

  &__settings {
    display: flex;

    margin-left: 10px;

    cursor: pointer;
  }

  &__delimiter {
    position: relative;

    background-color: var(--primary-background);

    > * {
      position: absolute;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;

      display: block;
      width: calc(50% - 17px);
      height: 1px;

      background-color: var(--transparent-line);

      opacity: 0.5;

      content: '';
    }

    &::after {
      right: 0;
    }

    &_full {
      &::before {
        width: 100%;
      }

      &::after {
        display: none;
      }
    }
  }

  &_limit-order &__delimiter {
    z-index: 99999;
  }

  &__content {
    margin-top: 30px;
  }

  app-onramper-widget {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 9999;

    display: block;
  }
}

app-swap-info-container,
app-analytics-link {
  display: block;

  margin-bottom: 20px !important;

  @include hide-unused-ui {
    margin-bottom: 0 !important;
  }
}

.t-close-widget-button {
  display: none;

  width: 42px;
  margin-bottom: 13px;

  ::ng-deep app-rubic-button {
    .t-wrapper {
      background: var(--form-background);
    }
  }
}

@include b($mobile-md) {
  .swap-form-navigation {
    display: none;
  }

  .t-close-widget-button {
    display: block;
  }

  .swap-form {
    position: relative;

    margin-bottom: 0;

    padding: 0 0 20px;

    background: unset;
    border: unset;

    &_onramper {
      background: var(--form-background);
      border: 1px solid var(--transparent-line);
    }

    &__content {
      margin-top: 0;
    }

    &__header {
      margin-bottom: 8px;
      padding: 10px 20px;

      background-color: var(--form-background);
      border: 1px solid var(--transparent-line);
      border-radius: 16px;

      &_onramper {
        border: none;
      }
    }

    &__title {
      display: none;
    }

    &__delimiter {
      position: relative;
      z-index: 2;

      &::before,
      &::after {
        width: calc(50% - 44px);
      }

      &::before {
        left: 20px;
      }

      &::after {
        right: 20px;
      }

      &_full {
        &::before {
          width: calc(100% - 40px);
        }
      }
    }
  }
}

app-form-navigation {
  display: none;

  @include b($laptop-xl) {
    display: block;
    margin-bottom: 8px;
  }
}

.swap-info-container {
  &-mobile {
    display: none;
  }
}

@include b($mobile-md) {
  .swap-info-container {
    display: none !important;

    &-mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1rem;

      color: #aaa;
      font-weight: 400;
      font-size: 14px;

      background-color: var(--form-background);
      border: 1px solid var(--transparent-line);
      border-radius: 16px;

      ::ng-deep {
        svg {
          path {
            fill: #00e28e;
          }
        }
      }
    }
  }
}
