<app-iframe-settings-button *onlyFrame></app-iframe-settings-button>

<ng-container *ngLet="isFormFilled$ | async as isFormFilled">
  <ng-container *ngLet="onramperWidgetOpened$ | async as onramperWidgetOpened">
    <div class="close-widget-button" *ngIf="onramperWidgetOpened">
      <app-back-button (onClick)="closeWidget()"></app-back-button>
    </div>

    <div
      class="swap-form"
      [ngStyle]="{ 'background-color': backgroundColor }"
      [ngClass]="{ 'swap-form_extended': onramperWidgetOpened }"
    >
      <header *noFrame class="swap-form__header">
        <app-form-header class="swap-form__blockchains" *noFrame></app-form-header>

        <div class="swap-form__settings-wrapper">
          <app-refresh-button
            class="swap-form__refresh"
            *ngIf="
              (isInstantTrade || isCrossChainRouting || isOnramper) && isFormFilled && allowRefresh
            "
          >
          </app-refresh-button>

          <app-settings-container
            class="swap-form__settings"
            *ngIf="!isOnramper"
          ></app-settings-container>

          <app-iframe-logout-button
            *ngIf="hideUnusedUI && getCurrentUser$ | async"
          ></app-iframe-logout-button>
        </div>
      </header>

      <main class="swap-form__content">
        <div class="swap-form__block">
          <app-iframe-asset-type-indicator
            [assetType]="getFromBlockchain()"
            *onlyFrame="'horizontal'"
          >
          </app-iframe-asset-type-indicator>

          <app-token-amount-input *noFrame="'vertical'"></app-token-amount-input>

          <app-vertical-iframe-token-amount-input
            *onlyFrame="'vertical'"
          ></app-vertical-iframe-token-amount-input>
        </div>

        <div class="swap-form__delimiter" [ngClass]="{ 'swap-form__delimiter_full': isOnramper }">
          <app-form-switcher *ngIf="!isOnramper" (switcherClick)="revert()"></app-form-switcher>
        </div>

        <div class="swap-form__block">
          <app-iframe-asset-type-indicator *onlyFrame="'horizontal'" [assetType]="toBlockchain">
          </app-iframe-asset-type-indicator>

          <app-instant-trade-bottom-form
            *ngIf="isInstantTrade"
            (allowRefreshChange)="allowRefresh = $event"
            (instantTradeInfoChange)="currentInstantTradeInfo = $event"
            (tradeStatusChange)="tradeStatus = $event"
          >
          </app-instant-trade-bottom-form>

          <app-cross-chain-bottom-form
            *ngIf="isCrossChainRouting"
            (tradeStatusChange)="tradeStatus = $event"
          >
          </app-cross-chain-bottom-form>

          <app-onramper-bottom-form *ngIf="isOnramper"></app-onramper-bottom-form>
        </div>
      </main>

      <app-onramper-widget *ngIf="onramperWidgetOpened$ | async"></app-onramper-widget>
    </div>
  </ng-container>

  <ng-container *noFrame>
    <app-swap-info-container
      *ngIf="isFormFilled && !isOnramper"
      [swapType]="swapType"
      [currentInstantTradeInfo]="currentInstantTradeInfo"
      [tradeStatus]="tradeStatus"
    ></app-swap-info-container>
  </ng-container>
</ng-container>
