<ng-container *ngLet="isFormFilled$ | async as isFormFilled">
  <div class="swaps-form" [ngStyle]="{ 'background-color': backgroundColor }">
    <header *noFrame class="swaps-form__header">
      <app-form-header class="swaps-form__blockchains" *noFrame></app-form-header>

      <div class="swaps-form__settings-wrapper">
        <app-refresh-button
          class="swaps-form__refresh"
          *ngIf="(isInstantTrade || isCrossChainRouting) && isFormFilled && allowRefresh"
        >
        </app-refresh-button>

        <app-settings-container class="swaps-form__settings"></app-settings-container>

        <app-iframe-logout-button
          *ngIf="hideUnusedUI && getCurrentUser$ | async"
        ></app-iframe-logout-button>
      </div>
    </header>

    <main class="swaps-form__content">
      <div class="swaps-form__block">
        <app-iframe-blockchain-indicator
          [blockchain]="getFromBlockchain()"
          *onlyFrame="'horizontal'"
        >
        </app-iframe-blockchain-indicator>

        <app-token-amount-input *noFrame="'vertical'"></app-token-amount-input>

        <app-vertical-iframe-token-amount-input
          *onlyFrame="'vertical'"
        ></app-vertical-iframe-token-amount-input>
      </div>

      <div class="swaps-form__delimiter">
        <app-form-switcher (switcherClick)="revert()"></app-form-switcher>
      </div>

      <div class="swaps-form__block">
        <app-iframe-blockchain-indicator *onlyFrame="'horizontal'" [blockchain]="toBlockchain">
        </app-iframe-blockchain-indicator>

        <app-instant-trade-bottom-form
          *ngIf="isInstantTrade"
          (allowRefreshChange)="allowRefresh = $event"
          (instantTradeInfoChange)="currentInstantTradeInfo = $event"
          (tradeStatusChange)="tradeStatus = $event"
        >
        </app-instant-trade-bottom-form>

        <app-cross-chain-bottom-form
          *ngIf="isCrossChainRouting"
          (tradeStatusChange)="tradeStatus = $event"
        >
        </app-cross-chain-bottom-form>

        <app-onramper-bottom-form *ngIf="isOnramper"></app-onramper-bottom-form>
      </div>
    </main>
  </div>

  <ng-container *noFrame>
    <app-swap-info-container
      *ngIf="isFormFilled && !isOnramper"
      [swapType]="swapType"
      [currentInstantTradeInfo]="currentInstantTradeInfo"
      [tradeStatus]="tradeStatus"
    ></app-swap-info-container>
  </ng-container>
</ng-container>
