@use 'src/scss/core'as *;

:host {display: block;
  padding-top: 41px;
}

.wrapper {
  display: block;
  max-width: 1003px;
  margin: 0 auto;
  padding: 32px 22px 42px;

  background: var(--rubic-base-22);
  border-radius: 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 34px;

  &__back {
    cursor: pointer;
  }

  &__round {
    @include font(20px, 24px, 600, white);
  }
}

.statistics {
  display: block;
  margin-bottom: 36px;
}
