<div class="wrapper">
  <div class="title">
    <div class="title__back" (click)="navigateBack()">
      <img src="assets/images/icons/arrow/long-arrow-left.svg" alt="Back" />
    </div>
    <div class="title__round">LP Round 1</div>
    <app-status-badge [text]="'Active'" type="active"></app-status-badge>
  </div>
  <app-lp-statistics class="statistics"></app-lp-statistics>
  <tui-loader
    *ngIf="showDeposits$ | async; else deposits"
    [showLoader]="depositsLoading$ | async"
    [overlay]="true"
  >
    <app-lp-landing></app-lp-landing>
  </tui-loader>
  <ng-template #deposits>
    <app-deposits></app-deposits>
  </ng-template>
</div>
