@use '../../../../../scss/core' as *;

:host {
  display: flex;
  justify-content: center;

  @include b(900) {
    ::ng-deep {
      tui-scrollbar .t-content {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }

  ::ng-deep {
    tui-scrollbar {
      height: 355px;

      .t-content {
        display: flex;
        flex-direction: column;
        gap: var(--tui-padding-xs);
      }
    }
  }

  app-window-container {
    tui-loader {
      margin-left: 10px;
    }
  }

  app-no-result {
    text-align: center;
  }

  .retrodrop {
    display: flex;
    flex-direction: column;
    gap: var(--tui-padding-l);
    width: 100%;
    max-width: 540px;
    height: 425px;
  }
}
