<ng-container *ngIf="isEthPolygon">
  <div class="info-line">
    <div class="info-line__title title">
      <span class="title__text"
        >When receiving tokens on the Ethereum network, you will need to pay for gas</span
      >
    </div>
  </div>

  <hr class="delimiter" />

  <div class="info-line">
    <div class="info-line__title title">
      <span class="title__text"
        >It takes from 45 minutes and up to 3 hours to transfer your funds to Ethereum. You'll be
        able to check process and claim your tokens in <a routerLink="my-trades">My Trades</a></span
      >
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isEthPolygon">
  <div class="info-line">
    <div class="info-line__title title">
      <span class="title__text">Provider fee</span>
      <img
        src="assets/images/swaps/swaps-info/question-icon.svg"
        alt="question"
        [tuiHint]="'Provider\'s commission charged in RBC token'"
      />
    </div>
    <div class="info-line__value">0.908 RBC</div>
  </div>

  <div class="info-line">
    <div class="info-line__title title">
      <span class="title__text">Average transaction line</span>
      <img
        src="assets/images/swaps/swaps-info/question-icon.svg"
        alt="question"
        [tuiHint]="
          'This time is average, it can takes more or less time to complete the transaction'
        "
      />
    </div>
    <div class="info-line__value">1h 32m</div>
  </div>

  <div class="info-line">
    <div class="info-line__title title">
      <span class="title__text">Minimum amount for transfer</span>
    </div>
    <div class="info-line__value">100 RBC</div>
  </div>

  <div class="info-line">
    <div class="info-line__title title">
      <span class="title__text">Maximum amount for transfer</span>
    </div>
    <div class="info-line__value">50000 RBC</div>
  </div>
</ng-container>
