@use 'src/scss/core' as *;

.option {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px 15px;

  &__title {
    margin: 0 0 6px;

    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
  }

  &__function {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__component {
    flex-grow: 1;
  }

  &__desc {
    color: var(--secondary-text);
    font-size: 14px;
    line-height: 17px;
  }

  &__arrow-right {
    margin-bottom: 3px;

    filter: var(--filter-inversion);
  }
  
  &_pointer {
    cursor: pointer;
  }
}

@include b($tablet) {
  .option {
    padding: 15px;

    &__function {
      margin-bottom: 12px;
    }

    &__arrow-right {
      position: absolute;
      top: 50%;
      right: 15px;

      transform: translateY(-50%);
    }
  }
}
