<div class="option" *ngIf="!isMobile">
  <div class="option__function">
    <div *polymorpheusOutlet="component" class="option__component"></div>
    <img
      *ngIf="withAction"
      class="option__arrow-right"
      src="assets/images/icons/arrow/arrow-right.svg"
      width="6"
      height="11"
      alt="Go to tutorials"
    />
  </div>
  <div class="option__info">
    <h3 class="option__title">{{ title | translate }}</h3>
    <div class="option__desc">{{ desc | translate }}</div>
  </div>
</div>

<div class="option" *ngIf="isMobile">
  <div class="option__function" *ngLet="isDark$ | async as isDark">
    <div class="option__wrapper">
      <div
        *ngIf="!withAction"
        class="image"
        [inlineSVG]="isDark ? '/assets/images/icons/night.svg' : '/assets/images/icons/day.svg'"
      ></div>
      <div *ngIf="withAction" class="option__component">
        <ng-container *polymorpheusOutlet="component"></ng-container>
      </div>
      <div class="option__info">
        <h3 class="option__title">{{ title | translate }}</h3>
        <div class="option__desc">{{ desc | translate }}</div>
      </div>
    </div>
    <div *ngIf="!withAction" class="option__component">
      <ng-container *polymorpheusOutlet="component"></ng-container>
    </div>
    <img
      *ngIf="withAction"
      class="option__arrow-right"
      src="assets/images/icons/arrow/arrow-right.svg"
      width="6"
      height="11"
      alt="Go to tutorials"
    />
  </div>
</div>
