@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '../transaction/transaction.component';

.base-block-content {
  background-attachment: fixed;
}
.form-container {
  padding-left: 62px;

}
.form-field_description {
  line-height: 28px;
  span {
    vertical-align: middle;
  }
}
.preview-rate {
  padding-top: 7px!important;
}
.cmc-rate {
  white-space: nowrap;
}
.cmc-rate-icon {
  width: 24px;
  vertical-align: top;
  margin-right: 10px;
}
.revert-btn {
  display: inline-block;
  border: 0 none;
  padding: 0;
  width: 28px;
  text-align: center;
  line-height: 28px;
  margin-left: 10px;
  vertical-align: middle;
  background-color: rgba(216, 216, 216, 0.26);
  cursor: pointer;
  margin-top: -4px;
  img {
    margin-top: -2px;
    width: 14px;
    vertical-align: middle;
  }
}

.form-block {
  position: relative;
  counter-increment: blockNumber;
  padding: 20px 1.5vw 0;
  background-color: rgba(0, 0, 0, 0.2);
  &_advanced {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1vw;
    &-link {
      text-transform: uppercase;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 20px;
      color: #fff;
      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        transform: rotate(45deg);
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #fff;
        margin-left: 10px;
        width: 6px;
        height: 6px;
        margin-top: -5px;
      }
      &.opened {
        &:after {
          transform: rotate(-135deg);
          margin-top: -1px;
        }
      }
    }
  }
  &:after {
    display: block;
    position: absolute;
    box-sizing: border-box;
    right: 100%;
    top: 0;
    width: 62px;
    height: 62px;
    line-height: 64px;
    text-align: center;
    border-left: 5px solid;
    // border-color: #FCD600;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 30px;
    color: #FFFFFF;
    font-weight: bold;
    content: counter(blockNumber);
  }

  &_title {
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 20px 1.5vw;
    margin-left: -1.5vw;
    margin-right: -1.5vw;
    margin-top: -20px;
    line-height: 24px;
    transition: all linear 0.1s;
    position: relative;
  }
  &_fieldset {
    padding: 20px 0;
  }

  + .form-block {
    margin-top: 25px;
  }
  &.hidden &_fieldset {
    display: none;
  }
  &__active &_title {
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.26);
    }
  }
  &__active {
    &:after {
      border-color: #FCD600;
    }
  }
  &.checked {
    &:after {
      content: '';
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 14px;
      left: -34px;
      width: 10px;
      height: 20px;
      border-width: 0 4px 4px 0;
      border-style: solid;
      border-color: #FCD600;
      transform: rotate(45deg);
    }
  }
}

.custom-token-link {
  font-size: 18px;
  line-height: 50px;
  float: right;
  border: 0 none;
  background: none;
  padding: 0 8px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1240px) {
  .form-block {
    padding-left: 2vw;
    padding-right: 2vw;
    &_title {
      margin-left: -2vw;
      margin-right: -2vw;
      padding-left: 2vw;
      padding-right: 2vw;
    }
  }
}


.token-block {
  background-color: rgba(0, 0, 0, 0.1);
  .form-field_description {
    margin-top: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  }
}
.token-info {
  padding: 20px 0;
  line-height: 52px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  &_icon {
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    border-radius: 50%;
    float: left;
    margin-right: 18px;
    background: #fff no-repeat center center;
    background-size: 80%;
    img {
      vertical-align: middle;
      max-height: 80%;
    }
  }
  &_texts {
    padding: 4px 0;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    &__name {
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: -0.43px;
      font-weight: bold;
      line-height: 19px;
    }
    &__address {
      margin-top: 4px;
      font-size: 18px;
      color: #FFFFFF;
      line-height: 22px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis
    }
  }
  &_balance {
    clear: both;
    padding: 0 0 20px;
    &:after {
      clear: both;
      display: block;
      content: '';
    }
    span {
      display: block;
      float: left;
      text-align: center;
      white-space: nowrap;
    }
    &_title {
      padding: 15px 10px;
      min-width: 125px;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.85);
      line-height: 18px;
      background-color: rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
    }
    &_count {
      padding: 7px 10px;
      line-height: 34px;
      font-size: 28px;
      color: #FFFFFF;
      background-color: rgba(69, 79, 95, 0.5);
    }
  }
}

.contract-info-block {
  padding: 30px 0 15px;
}
.info-content-block {
  padding-left: 2vw;
  padding-right: 2vw;

}
.deployment-progress-container {
  padding: 12px 0 32px;
  text-align: center;
}
.progress-bubble {
  background-color: rgba(0, 0, 0, 0.1);
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  .lds-ring {
    position: absolute;
    top: 50%;
    margin-left: -21px;
    left: 50%;
    margin-top: -21px;
  }
}
.progress-text {
  margin-top: 15px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
.progress-info_text {
  margin-top: 18px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.55);
}


.steps-mobile {
  margin-bottom: 20px;
  display: none;
  .grid-cell {
    counter-increment: mobileItemNumber;
  }
  &_item {
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    margin: 5px auto 0;
    color: #fff;
    position: relative;
    border-color: rgba(255, 255, 255, 0.2);
    &:before {
      content: counter(mobileItemNumber);
      display: inline;
      font-size: 28px;
      font-weight: bold;
      position: relative;
      top: 2px;
    }
    &.opened {
      border-left: 5px solid;
      border-color: #FCD600;
    }
    &.active {
      border-left: 5px solid;
      border-color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
      &.opened {
        border-color: #FCD600;
      }
    }
    &.checked:before {
      display: none;
    }
    &.checked:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 20px;
      margin-top: -18px;
      margin-left: -6px;
      border-width: 0 4px 4px 0;
      border-style: solid;
      border-color: #FCD600;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

@media screen and (max-width: 480px) {
  .token-info {
    &_balance {
      span {
        text-align: left;
        float: none;
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .steps-mobile {
    display: block;
  }
  .form-block {
    margin-top: 0!important;
    &_fieldset {
      padding-top: 0;
    }
    &.hidden {
      display: none;
    }
    &:after, &:before {
      display: none;
    }
  }
  .form-container {
    padding-left: 0;
  }
}


.contract-pay-state {
  border-top: 1px dashed rgba(255, 255, 255, 0.25);
  font-size: 18px;
  color: #8E939B;
  line-height: 22px;
  padding: 15px 10px;
}



.rates-info {
  width: 100%;
  margin-top: 30px;
  font-size: 17px;
  td {
    padding: 5px 0;
  }
  &_name {
    color: rgba(255, 255, 255, 0.5);
  }

  &_value {
    font-weight: bold;
  }

  &_quote-coin {
    color: rgba(255, 255, 255, 0.5);
  }
}

