@use 'src/scss/vars' as *;

.data-list {
  padding: 6px;

  &__option {
    height: 45px;
    min-height: initial !important;
    margin: 0;

    color: var(--primary-text);

    font-size: 15px;

    border: none;
    border-radius: 156px;

    transition: all 0.35s ease;

    &:hover {
      background: var(--selection-color);
    }

    &:active {
      color: white;

      background: var(--primary-color);

      ::ng-deep {
        .template-blockchains__icon {
          filter: brightness(10);
        }
      }
    }

    ::ng-deep {
      > * {
        display: flex;
        width: 100%;
      }

      a:not(.new-btn):not(.btn):not(.minimal-btn):not(.rubic-btn) {
        color: var(--primary-text);
        text-decoration: none;

        transition: 0.35s color ease;
      }
    }
  }
}
