<div class="cards">
  <h5 class="cards__title">How to join the Swap to Earn program:</h5>

  <div class="cards__wrapper">
    <div class="cards__container">
      <div *ngFor="let card of cards" class="cards__element">
        <h6 class="cards__element-title">{{ card.title }}</h6>
        <img
          [ngStyle]="{ bottom: card.bottomDistance, right: card.rightDistance }"
          class="cards__element-image"
          [src]="card.image"
          [alt]="card.title"
        />
      </div>
    </div>
    <a
      href="https://medium.com/@cryptorubic/introducing-swap-to-earn-the-innovative-way-to-earn-crypto-tokens-8aaaa6a73341"
      target="_blank"
      rel="noreferrer"
      class="cards__fullTerms"
    >
      <span class="cards__fullTerms-text">Full Terms</span>
    </a>
  </div>
</div>
