@use 'src/scss/core' as *;

.rubic-header {
  @include flex(row, center, space-between);
  position: relative;

  padding: 30px;

  &__logo {
    display: block;
    margin-right: 40px;

    img {
      display: block;
    }
  }

  &__left {
    @include flex(row, center, start);
    gap: 12px;
  }

  &__right {
    @include flex(row, center, start);
    gap: 12px;
  }
}

.private-mode-button {
  &__content {
    @include flex(row, center, center);
    gap: 8px;

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}

.active-router-link {
  ::ng-deep .t-wrapper {
    color: black;

    background: var(--tui-primary);
  }

  .icon {
    ::ng-deep svg path {
      fill: black;
    }
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 100%;
}

@include b($tablet) {
  .rubic-header {
    padding: var(--tui-radius-m) var(--tui-radius-l);
  }

  app-rubic-menu-toggler,
  app-language-selector,
  app-history-button {
    display: none;
  }

  button {
    &.theme-switcher,
    &.swap-button,
    &.staking-button {
      display: none;
    }
  }
}

.large-iframe-header {
  justify-content: space-between;
}
