@import 'src/styles';


.button-link {
  display: inline-block;
  padding: 14px 20px;

  font-size: $rubic-font-size-01;
  text-decoration: none;

  border: 1px solid transparent;
  border-radius: 175px;

  cursor: pointer;

  transition: 0.3s all ease-in-out;

  &:hover,
  &_active {
    text-decoration: none;

    background-color: var(--rubic-base-01);
  }

  &:hover {
    box-shadow: var(--rubic-shadow-button-hover-dim);
  }

  &:active,
  &_active:active {
    color: var(--rubic-base-01) !important;

    background-color: $rubic-primary;
    box-shadow: var(--rubic-shadow-button-active);

    :host-context(html.dark) & {
      color: var(--rubic-base-02) !important;
    }
  }

  &:focus {
    border-color: $rubic-primary;
  }

  &_disabled {
    color: $rubic-text-disable !important;

    pointer-events: none;
  }

  &_error {
    color: var(--rubic-base-01);

    background-color: #dc3545;

    &:hover {
      background-color: #bb2d3b;
    }

    &:active {
      background-color: #bb2d3b;
    }

    &:focus {
      border-color: #bb2d3b;
    }
  }
}

.rubic-header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 24px;

  @include iframe {
    padding: 0;

    app-iframe-logout-button {
      margin-left: 10px;
    }
  }

  &__disabled-link {
    color: #909090;
    font-size: 16px;
  }

  &__nav,
  &__profile {
    display: flex;
    align-items: center;
  }

  &__profile {
    grid-gap: 10px;

    @include iframe {
      grid-gap: 0;

      &-user {
        margin-left: 10px;
      }
    }
  }

  &__nav {
    grid-gap: 30px;
  }

  &__logo {
    display: block;
    margin-right: 54px;

    @include iframe-vertical {
      margin-right: auto;
    }

    img {
      display: block;
    }
  }

  &__menu {
    display: inline-flex;
    margin-right: auto;
  }

  &__nav {
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
  }

  &__profile-trades {
    position: relative;
  }
}

.notification-counter {
  position: absolute;
  top: -5px;
  right: 0;

  &[data-tui-host-status='default'] {
    color: white;

    background-color: var(--main-green);
  }

  &[data-tui-host-padding='m'][data-tui-host-size='s'] {
    padding: 1px 0.375rem 0;
  }
}

@include b(1650) {
  .rubic-header__nav {
    width: 610px;
  }
}

@include b($desktop) {
  .rubic-header {
    padding: 21px 20px 19px;

    &__profile-trades,
    &__profile-user,
    &__login,
    &__nav {
      display: none;
    }

    &__profile-user {
      @include iframe {
        display: block;
      }
    }

    &__logo {
      margin-right: auto;
    }

    &__menu {
      order: 1;
      margin-right: 0;
      margin-left: 15px;
    }
  }
}

@include b($mobile-md) {
  .rubic-header {
    &__logo {
      img {
        width: 95px;
      }
    }
  }
}

@include b($mobile-sm) {
  .rubic-header {
    &__menu {
      margin-left: 10px;
    }
  }
}

.rubic-header {
  @include iframe-vertical {
    &__logo {
      img {
        width: 80px;
      }
    }
  }
}


.harmony-banner {
  width: 100%;
  min-height: 30px;

  color: white;
  font-size: 16px;
  line-height: 30px;
  text-align: center;

  background-color: #0f809c;

  @include b($mobile-md) {
    font-size: 13px;
  }
}
