<!-- HARMONY BANNER -->
<div class="harmony-banner" *noFrame>
  <a href="https://cryptorubic.medium.com/harmony-trading-competition-5ec7ff70da30" target="_blank">
    Trade Harmony Tokens and earn up to 10% from trading volume
  </a>
</div>
<!-- HARMONY BANNER -->

<header class="rubic-header">
  <a *noFrame class="rubic-header__logo" routerLink="/">
    <img src="assets/images/icons/rubic-logo.svg" alt="Rubic logotype" width="122" height="39" />
  </a>

  <a *onlyFrame="'any'" class="rubic-header__logo" rel="noopener noreferrer" target="_blank" [href]="noFrameLink">
    <img src="assets/images/icons/rubic-logo.svg" alt="Rubic logotype" width="90" height="30" />
  </a>

  <app-rubic-menu *noFrame class="rubic-header__menu"></app-rubic-menu>

  <nav *noFrame class="rubic-header__nav">
    <a class="button-link" routerLink="/" [class.button-link_active]="isLinkActive('/')"> Swaps</a>
    <a class="button-link" routerLink="/crypto-tap" routerLinkActive="button-link_active">
      Crypto Tap
    </a>
    <span class="rubic-header__disabled-link" [tuiHint]="orderBookTooltip">Order Book</span>
  </nav>

  <div class="rubic-header__profile">
    <a
      *noFrame
      class="rubic-header__profile-trades button-link"
      routerLink="my-trades"
      routerLinkActive="button-link_active"
    >
      {{ 'navigation.myTrades' | translate }}

      <tui-badge
        class="notification-counter"
        *ngIf="countNotifications$ | async"
        size="s"
        [value]="countNotifications$ | async"
      ></tui-badge>
    </a>

    <app-iframe-settings-button *onlyFrame="'any'"></app-iframe-settings-button>

    <ng-container *ngIf="!($currentUser | async)?.address; else loggedIn">
      <app-login-button class="rubic-header__login" *noFrame></app-login-button>
    </ng-container>
    <ng-template #loggedIn>
      <app-user-profile class="rubic-header__profile-user"></app-user-profile>
      <app-iframe-logout-button *onlyFrame="'any'"></app-iframe-logout-button>
    </ng-template>

    <app-rubic-language-select *noFrame></app-rubic-language-select>
    <app-rubic-toggler-theme></app-rubic-toggler-theme>
  </div>
</header>

<ng-template #orderBookTooltip>
  <span>{{ 'navigation.notAvailable' | translate }}</span>
</ng-template>
