<app-referral-banner href="https://claim.rubic.exchange/" *noFrame></app-referral-banner>
<header class="rubic-header">
  <a *noFrame class="rubic-header__logo" routerLink="/">
    <img
      [src]="
        (isDarkTheme$ | async)
          ? 'assets/images/rubic-logo.svg'
          : 'assets/images/rubic-logo-dark.svg'
      "
      alt="Rubic logotype"
      width="122"
      height="39"
    />
  </a>
  <a
    *onlyFrame
    class="rubic-header__logo"
    rel="noopener noreferrer"
    target="_blank"
    [href]="noFrameLink"
  >
    <img src="assets/images/rubic-logo.svg" alt="Rubic logotype" width="90" height="30" />
  </a>

  <app-rubic-menu
    *noFrame
    class="rubic-header__menu"
    [swapActive]="rootPath && (swapType$ | async) === SWAP_PROVIDER_TYPE.INSTANT_TRADE"
    [crossChainActive]="rootPath && (swapType$ | async) === SWAP_PROVIDER_TYPE.CROSS_CHAIN_ROUTING"
    (swapClick)="navigateToSwaps()"
  ></app-rubic-menu>

  <nav *noFrame class="rubic-header__nav">
    <a
      class="button-link"
      (click)="navigateToSwaps()"
      [class.button-link_active]="
        rootPath && (swapType$ | async) === SWAP_PROVIDER_TYPE.CROSS_CHAIN_ROUTING
      "
      >Swaps</a
    >
  </nav>

  <app-buy-token
    *noFrame
    class="rubic-header__buy-token"
    [tokensType]="advertisementType"
  ></app-buy-token>

  <div class="rubic-header__profile">
    <ng-container *ngIf="!(currentUser$ | async)?.address; else loggedIn">
      <app-login-button class="rubic-header__login" *noFrame></app-login-button>
    </ng-container>
    <ng-template #loggedIn>
      <app-user-profile class="rubic-header__profile-user"></app-user-profile>
      <app-iframe-logout-button *onlyFrame></app-iframe-logout-button>
    </ng-template>

    <app-settings *noFrame></app-settings>
  </div>
</header>
