@import 'src/scss/vars';
@import 'src/scss/mixins';

.rubic-header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 24px;

  &__disabled-link {
    color: #909090;
    font-size: 16px;
  }

  &__nav,
  &__profile {
    display: flex;
    align-items: center;
  }

  &__profile {
    grid-gap: 10px;
  }

  &__nav {
    grid-gap: 30px;
  }

  &__logo {
    display: block;
    margin-right: 54px;

    transition: 0.3s ease-in-out opacity;

    img {
      display: block;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 1;
    }
  }

  &__menu {
    display: inline-flex;
    margin-right: auto;
  }

  &__nav {
    position: absolute;
    left: 50%;

    transform: translateX(-50%);
  }
}

a:not(.new-btn):not(.btn):not(.minimal-btn):not(.rubic-btn).header__link {
  padding: 7px 9px;

  color: white !important;
  font-weight: bold;
  font-size: 14px;


  background-color: $rubic-primary;
  border-radius: 10px;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

a:not(.new-btn):not(.btn):not(.minimal-btn):not(.rubic-btn):hover,
a:not(.new-btn):not(.btn):not(.minimal-btn):not(.rubic-btn):focus {
  text-decoration: none;
}

@include b($desktop) {
  .rubic-header {
    padding: 21px 20px 19px;

    &__profile-trades,
    &__profile-user,
    &__login,
    &__nav {
      display: none;
    }

    &__logo {
      margin-right: auto;
    }

    &__menu {
      order: 1;
      margin-right: 0;
      margin-left: 15px;
    }
  }
}

@include b($mobile-md) {
  .rubic-header {
    &__logo {
      img {
        width: 95px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

@include b($mobile-sm) {
  .rubic-header {
    &__menu {
      margin-left: 10px;
    }
  }
}
