<form class="cross-chain-form">
  <div class="cross-chain-form__swap-section swap-section">
    <!-- From -->
    <div class="swap-section__box swap-box">
      <div class="swap-box__title">From</div>

      <div class="swap-box__blockchain-section form-field">
        <app-blockchain-select
          [blockchains]="blockchainsList"
          [selectedBlockchain]="fromBlockchain"
          [disabled]="true"
        ></app-blockchain-select>
      </div>

      <app-wallet-address-form
        class="swap-box__wallet-address-section"
        [walletAddress]="walletAddress"
        [walletAddressLink]="fromBlockchain.addressBaseUrl + walletAddress"
        [isWithEditing]="false"
      ></app-wallet-address-form>

      <div class="swap-box__title">You have</div>

      <div class="swap-box__token-section form-field">
        <app-tokens-input
          [amountInputDisabled]="true"
          amountPlaceholder=""
          [tokensList]="fromTokensList"
          [selectedToken]="cryptoTapTrade.fromToken"
          [tokensInputDisabled]="true"
          [selectedAmount]="cryptoTapTrade.fromToken?.fromAmount"
          (tokenChanges)="onFromTokenChanges($event)"
        ></app-tokens-input>
      </div>

      <div
        class="swap-box__scanner-link-container"
        [ngClass]="{ 'swap-box__scanner-link-container_hidden': !cryptoTapTrade.fromToken }"
      >
        <app-scanner-link
          [address]="cryptoTapTrade.fromToken?.address"
          [blockchainName]="fromBlockchain.key"
          [addressType]="ADDRESS_TYPE.TOKEN"
          [scannerLabel]="fromBlockchain.scannerLabel"
        >
        </app-scanner-link>
      </div>

      <div class="swap-box__fee-info fee-info" *ngIf="cryptoTapTrade.fromToken?.fee">
        <button
          class="fee-info__switch-button"
          type="button"
          *ngIf="cryptoTapTrade.fromToken.symbol === 'ETH' && getFeesDifferencePercent()?.gt(0)"
          (click)="switchToRbc()"
        >
          Use RBС for Low Fees
        </button>

        <span
          class="fee-info__discount-info"
          *ngIf="cryptoTapTrade.fromToken.symbol === 'RBC' && getFeesDifferencePercent()?.gt(0)"
        >
          <img alt="Success tick" src="assets/images/icons/cross-chain-swaps/tick.svg" />{{
            getFeesDifferencePercent().toFixed(0)
          }}% discount with RBC
        </span>

        <span class="fee-info__fee-amount"
          >Provider fee:
          {{ cryptoTapTrade.fromToken.fee + ' ' + cryptoTapTrade.fromToken.symbol }} &asymp;
          {{
            getFeePrice(cryptoTapTrade.fromToken.fee, cryptoTapTrade.fromToken.price)
              .dp(2)
              .toFixed()
          }}&#36;
        </span>
      </div>
    </div>

    <!-- To -->
    <div class="swap-section__box swap-box">
      <div class="swap-box__title">To</div>

      <div class="swap-box__blockchain-section form-field">
        <app-blockchain-select
          [blockchains]="toBlockchainsList"
          [selectedBlockchain]="toBlockchain"
          (blockchainChanges)="onToBlockchainChanges($event)"
        ></app-blockchain-select>
      </div>

      <app-wallet-address-form
        class="swap-box__wallet-address-section"
        [walletAddress]="walletAddress"
        [walletAddressLink]="toBlockchain.addressBaseUrl + walletAddress"
        [isWithEditing]="false"
      ></app-wallet-address-form>

      <div class="swap-box__title">You get</div>

      <div class="swap-box__token-section token-chosen">
        <span class="token-chosen__amount">{{
          cryptoTapTrade.fromToken?.toAmount | bigNumberFormat
        }}</span>

        <div class="token-chosen__card token-card">
          <img class="token-card__icon" [src]="cryptoTapTrade.toToken?.image" alt="To token" />
          <span class="token-card__name">{{ cryptoTapTrade.toToken?.symbol }}</span>
        </div>
      </div>

      <div class="swap-box__scanner-link-container">
        <app-scanner-link
          [address]="cryptoTapTrade.toToken?.address"
          [blockchainName]="toBlockchain.key"
          [addressType]="ADDRESS_TYPE.TOKEN"
          [scannerLabel]="toBlockchain.scannerLabel"
        >
        </app-scanner-link>
      </div>

      <a class="swap-box__blockchain-link" href="https://www.binance.org/" target="_blank">
        What is Binance Smart Chain?
      </a>
    </div>
  </div>

  <div class="cross-chain-form__confirm-section confirm-section">
    <app-primary-button
      class="cross-chain-form__confirm-button"
      type="button"
      label="Get Crypto"
      [disabled]="!cryptoTapTrade.fromToken"
      [animate]="
        cryptoTapTrade.status === CRYPTO_TAP_TRADE_STATUS.CALCULATION ||
        cryptoTapTrade.status === CRYPTO_TAP_TRADE_STATUS.TX_IN_PROGRESS
      "
      (onClick)="createTrade()"
    >
    </app-primary-button>
  </div>
</form>

<app-trade-in-progress-modal
  *ngIf="cryptoTapTrade.status === CRYPTO_TAP_TRADE_STATUS.TX_IN_PROGRESS"
></app-trade-in-progress-modal>

<app-trade-success-modal
  *ngIf="cryptoTapTrade.status === CRYPTO_TAP_TRADE_STATUS.COMPLETED"
  [txId]="tradeSuccessId"
  (onCloseEvent)="tradeSuccessId = null"
></app-trade-success-modal>
