<div class="app-index">
  <div class="app-content-block">
    <div class="app-index__intro">
      <div class="app-index__intro_text">
        {{'Make trades on your terms, share and generate revenue' | translate}}
      </div>
    </div>
    <div class="app-index__start-form">
      <div class="title-section">{{'Create your Trade' | translate}}</div>
      <app-start-form></app-start-form>
    </div>

    <div class="app-index__contracts">
      <app-public-contracts></app-public-contracts>
    </div>
  </div>
</div>

<app-footer></app-footer>

<div class="scroll-top-btn" id="scroll-btn"></div>

