@import '../../scss//mixins';

.app-index {
  height: 100%;
  padding-top: 140px;
  // background: url('/assets/images/backgrounds/index-page-top.png')
  //   calc(100% - 80px) 110px no-repeat;
  &__intro {
    &_title {
      font-size: 36px;
      line-height: 52px;
      color: #000;
      margin: 0;
    }
    &_text {
      max-width: 717px;
      font-size: 22px;
      line-height: 40px;
      color: rgba(0, 0, 0, 0.4);
      margin-top: 0px;
    }
  }
  &__start-form {
    margin-top: 60px;
  }
}

.section-listing {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 40px 0px;
  text-align: center;
  background-image: url(/assets/images/index/listing-left.svg),
    url(/assets/images/index/listing-right.svg);
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: contain;
  color: #000000;
  font-weight: normal;
  background-color: #fff;
  margin-bottom: 30px;

  @include b(550) {
    background-image: none;
    padding: 30px 10px;
    grid-gap: 10px;
    margin-top: 30px;
  }

  &-title {
    font-weight: bold;
    font-size: 33px;

    @include b(550) {
      font-size: 24px;
    }
  }
  &-text {
    font-size: 22px;
    opacity: 0.4;

    @include b(550) {
      font-size: 15px;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
  }
}

.how-it-work {
  padding: 72px 0 32px;
  &-img {
    text-align: left;
    &.mobile {
      display: none;
    }
    img {
      width: 100%;
      vertical-align: top;
    }
  }
}

.used-service {
  padding: 70px 0 0;
  &__info {
    padding: 40px 0 10px;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    &_item {
      float: left;
      padding-left: 110px;
      box-sizing: border-box;
      margin-right: 40px;
      &__image {
        float: left;
        margin-left: -110px;
        width: 110px;
        img {
          vertical-align: top;
        }
      }
      &__text {
        position: relative;
        display: inline-block;
      }
      .count,
      .desc {
        display: block;
      }
      .count {
        font-weight: bold;
        line-height: 61px;
        font-size: 50px;
        color: #fcd600;
      }
      .desc {
        margin-top: 6px;
        line-height: 18px;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
      }
      .range {
        font-size: 22px;
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        right: -18px;
        top: -18px;
      }
    }
  }
}

.app-index__partners {
  margin: 30px -45px 50px;
  &_item {
    height: 100px;
    text-align: center;
    line-height: 100px;
    a {
      display: block;
      height: 100%;
      // transition: all 0.2s;
      // &.invert {
      //   &:hover {
      //     filter: invert(0) grayscale(0);
      //   }
      //   &,
      //   &:focus {
      //     filter: invert(100%) grayscale(100%);
      //   }
      // }
      // &:not(.invert) {
      //   filter: grayscale(100%);
      //   &:hover,
      //   &:focus {
      //     filter: grayscale(0);
      //   }
      // }
    }
    img {
      max-width: 85%;
      max-height: 95%;
      vertical-align: middle;
    }
  }
}

.why-we-list {
  list-style-type: none;
  color: #fff;
  font-size: 18px;
  line-height: 19px;
  padding: 0 25px 0 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 375px);
  grid-gap: 15px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  li {
    position: relative;
    width: 100%;
    padding: 20px 25px 25px 25px;
    box-sizing: border-box;
    background: #fff;
    &.no-padding {
      padding-bottom: 0;
    }
  }
  &_title {
    font-size: 20px;
    color: black;
    font-weight: bold;
    line-height: 27px;
    overflow: visible;
    &_ico {
      position: absolute;
      right: 0;
      bottom: 0;
      img {
        vertical-align: middle;
      }
    }
    &_text {
      line-height: 20px;
      display: inline-block;
      width: 100%;
      vertical-align: middle;
    }
  }
  &_description {
    margin-top: 5px;
    font-size: 15px;
    line-height: 25px;
    color: #3b4452;
    max-width: 238px;
  }
}

@media screen and (max-width: 480px) {
  .why-we-list {
    padding-right: 0;
    li {
      padding-right: 0;
    }
    &_title {
      margin-right: 0;
    }
  }
}

.app-index__our-clients {
  margin-top: 70px;
}

.blocks-list {
  padding: 0;
  list-style-type: none;
  margin: 0 -3px 0 -2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  li {
    padding: 0 3px 0 2px;
    box-sizing: border-box;
    flex: 1;
  }
  &_content {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 35px 15px;
    height: 100%;
    box-sizing: border-box;
    &__img {
      margin-bottom: 20px;
    }
    &__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #fcd600;
    }
    &__text {
      margin-top: 20px;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
    }
  }
}

@media screen and (max-width: 1000px) {
  .blocks-list {
    li {
      width: 50%;
      flex: initial;
      margin-bottom: 10px;
    }
  }
  .why-we-list {
    li {
      width: 50%;
    }
  }
}
@media screen and (max-width: 580px) {
  .blocks-list {
    li {
      width: 100%;
    }
  }
  .why-we-list {
    li {
      width: 100%;
    }
  }
}

@media screen and (max-width: 540px) {
  .app-index {
    padding-top: 20vw;
  }
  .how-it-work {
    //padding: 20vw 0;
    &-title {
    }
    &-img {
      text-align: center;
      &:not(.mobile) {
        display: none;
      }
      &.mobile {
        display: block;
      }
    }
  }
  .used-service {
    &__info {
      padding: 30px 0 0;
      max-width: initial;
      &_item {
        float: none;
        width: auto;
      }
      &_item + &_item {
        margin-top: 20px;
      }
    }
  }
}

.scroll-top-btn {
  position: fixed;
  bottom: 122px;
  right: 14px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  z-index: 2;
  &:not(&--visible) {
    display: none;
  }
  &:after {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7);
    transform: rotate(-45deg);
    content: '';
    position: relative;
    top: 5px;
  }
}

.daps-swap-footer {
  display: block;
  background: #3e217b;
  background: -moz-linear-gradient(left, #3e217b 0%, #663970 100%);
  background: -webkit-linear-gradient(left, #3e217b 0%, #663970 100%);
  background: linear-gradient(to right, #3e217b 0%, #663970 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e217b', endColorstr='#663970',GradientType=1 );
  line-height: 1.5em;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75em 50px 0.75em 1em;
  z-index: 3;
  &,
  &:hover,
  &:active,
  &:visited {
    color: #fff !important;
    text-decoration: none !important;
  }

  &_content {
    position: relative;
  }

  &_logo {
    position: absolute;
    left: 4vw;
    width: 7.7em;
    top: 0;
  }
  &_text {
    display: block;
    //margin-right: 195px;
    img {
      vertical-align: top;
      margin-right: 0.45em;
      width: 1.5em;
    }
  }
}
.one-inch {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  align-items: center;
  &_text {
    color: #A8A8A8;
    margin-right: 10px;
    font-size: 12px;
  }
  &_logo {
    img {
      width: 65px;
      filter: grayscale(1);
      opacity: 0.5;
      transition: all linear 0.1s;
      &:hover {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 641px) {
  .one-inch {
    display: none;
  }
}
