.app-index {
  height: 100%;
  padding-top: 130px;
  background: url('/assets/images/backgrounds/index-page-top.png') right top no-repeat;
  &__intro {
    &_title {
      font-size: 44px;
      line-height: 52px;
      color: #FFFFFF;
      margin: 0;
    }
    &_text {
      max-width: 717px;
      font-size: 30px;
      line-height: 40px;
      color: rgba(255, 255, 255, 0.5);
      margin-top: 25px;
    }
  }
  &__start-form {
    margin-top: 30px;
  }
}

.how-it-work {
  padding: 72px 0 32px;
  &-img {
    text-align: left;
    &.mobile {
      display: none;
    }
    img {
      width: 100%;
      vertical-align: top;
    }
  }
}

.used-service {
  padding: 70px 0 0;
  &__info {
    padding: 40px 0 10px;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    &_item {
      float: left;
      padding-left: 110px;
      box-sizing: border-box;
      margin-right: 40px;
      &__image {
        float: left;
        margin-left: -110px;
        width: 110px;
        img {
          vertical-align: top;
        }
      }
      &__text {
        position: relative;
        display: inline-block;
      }
      .count, .desc {
        display: block;
      }
      .count {
        font-weight: bold;
        line-height: 61px;
        font-size: 50px;
        color: #FCD600;
      }
      .desc {
        margin-top: 6px;
        line-height: 18px;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
      }
      .range {
        font-size: 22px;
        color: rgba(255, 255, 255, 0.5);
        position: absolute;
        right: -18px;
        top: -18px;
      }
    }
  }
}

.app-index__partners {
  margin: 30px auto 50px;
  &_item {
    height: 100px;
    text-align: center;
    line-height: 100px;
    a {
      display: block;
      height: 100%;
      filter: grayscale(100%);
      transition: all .2s;
      &:hover, &:focus {
        filter: grayscale(0);
      }
    }
    img {
      max-width: 85%;
      vertical-align: middle;
    }
  }
}

.app-index__why-we {
  margin-top: 70px;
}

.why-we-list {
  list-style-type: none;
  color: #fff;
  font-size: 18px;
  line-height: 19px;
  padding: 0 25px 0 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  li {
    position: relative;
    width: 33.333%;
    padding: 30px 23px 30px 0;
    box-sizing: border-box;
  }
  &_title {
    font-size: 17px;
    color: #FCD600;
    font-weight: bold;
    line-height: 40px;
    margin-left: 55px;
    margin-right: 25%;
    overflow: visible;
    &_ico {
      background-color: rgba(0, 0, 0, 0.15);
      float: left;
      margin-left: -55px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      img {
        vertical-align: middle;
      }
    }
    &_text {
      line-height: 20px;
      display: inline-block;
      width: 100%;
      vertical-align: middle;
    }
  }
  &_description {
    margin-top: 13px;
    font-size: 17px;
    line-height: 25px;
    color: #FFFFFF;
  }
}

.app-index__our-clients {
  margin-top: 70px;
}

.blocks-list {
  padding: 0;
  list-style-type: none;
  margin: 0 -3px 0 -2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  li {
    padding: 0 3px 0 2px;
    box-sizing: border-box;
    flex: 1;
  }
  &_content {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 35px 15px;
    height: 100%;
    box-sizing: border-box;
    &__img {
      margin-bottom: 20px;
    }
    &__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #FCD600;
    }
    &__text {
      margin-top: 20px;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
    }
  }
}



@media screen and (max-width: 1000px) {
  .blocks-list {
    li {
      width: 50%;
      flex: initial;
      margin-bottom: 10px;
    }
  }
  .why-we-list {
    li {
      width: 50%;
    }
  }
}
@media screen and (max-width: 580px) {
  .blocks-list {
    li {
      width: 100%;
    }
  }
  .why-we-list {
    li {
      width: 100%;
    }
  }
}


@media screen and (max-width: 540px) {
  .app-index {
    padding-top: 20vw;
  }
  .how-it-work {
    //padding: 20vw 0;
    &-title {
    }
    &-img {
      text-align: center;
      &:not(.mobile) {
        display: none;
      }
      &.mobile {
        display: block;
      }
    }
  }
  .used-service {
    &__info {
      padding: 30px 0 0;
      max-width: initial;
      &_item {
        float: none;
        width: auto;
      }
      &_item + &_item {
        margin-top: 20px;
      }
    }
  }
}


.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  &:not(&--visible) {
    display: none;
  }
  &:after {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.7);
    transform: rotate(-45deg);
    content: '';
    position: relative;
    top: 5px;
  }
}
