<div class="modal" *ngLet="failedStatesCount$ | async as failedStatesCount">
  <div class="modal__content">
    <main class="modal__body">
      <img class="modal__spinner" src="/assets/images/swaps/swaps-info/green-spinner.svg" />
      <div class="modal__hints">
        <div class="modal__hint" *ngIf="failedStatesCount < 2; else furtherRetries">
          <p>Provider Unavailable</p>
          <p>We’re switching to the next one with the best rate!</p>
        </div>
        <ng-template #furtherRetries>
          <div class="modal__hint">
            <span
              >{{ failedStatesCount - 1 }}/{{ backupsCount }} providers checked. Searching for the
              next best route.</span
            >
          </div>
        </ng-template>
      </div>
    </main>
  </div>
</div>
