<div *ngIf="token?.amount.gt(0)" class="user-balance-container">
  <span class="user-balance-container__balance" *ngIf="hide !== 'balance'"
    >{{ 'common.have' | translate }}
    {{ token?.amount | bigNumberFormat | withRound: 'toClosestValue':token.decimals }}
  </span>

  <button
    *ngIf="hide !== 'maxButton'"
    class="user-balance-container__max-button"
    [class.user-balance-container__max-button_disabled]="!displayMaxButton"
    (click)="maxButtonClick()"
    tuiHint="After fees"
  >
    MAX
  </button>
</div>
