<div class="token-amount-input-container">
  <div class="token-amount-input-container__wrapper">
    <app-select-asset-button-tokens
      class="token-amount-input-container__token-button"
      [ngClass]="{
        'token-amount-input-container__token-button_attractive': !selectedAsset
      }"
      formType="from"
    ></app-select-asset-button-tokens>

    <app-user-balance-container
      *noFrame
      [token]="selectedToken"
      (maxButtonClickEvent)="onUserBalanceMaxButtonClick()"
    ></app-user-balance-container>

    <app-user-balance-container
      *onlyFrame="'horizontal'"
      [token]="selectedToken"
      hide="balance"
      (maxButtonClickEvent)="onUserBalanceMaxButtonClick()"
    ></app-user-balance-container>
  </div>

  <div class="token-amount-input-container__wrapper">
    <label class="token-amount-input-container__input-label">
      <input
        #tokenAmount
        autocomplete="off"
        class="token-amount-input-container__input"
        name="token-amount"
        [placeholder]="placeholder$ | async"
        appTokenAmount
        [formControl]="amount"
        [decimals]="selectedToken?.decimals || DEFAULT_DECIMALS"
        (amountChange)="onAmountChange($event)"
        inputmode="decimal"
        id="token-amount-input-element"
      />
    </label>

    <div class="token-amount-input-container__iframe-info-cards" *onlyFrame="'horizontal'">
      <app-user-balance-container
        [token]="selectedToken"
        hide="maxButton"
      ></app-user-balance-container>
    </div>
  </div>
</div>
