<div class="rubic-footer">
  <nav class="rubic-footer__nav">
    <a class="rubic-footer__link" href="#">
      <img src="assets/img/icons/socials/fb.svg" width="22" height="20" alt="">
    </a>
    <a class="rubic-footer__link" href="#">
      <img src="assets/img/icons/socials/twitter.svg" width="22" height="20" alt="">
    </a>
    <a class="rubic-footer__link" href="#">
      <img src="assets/img/icons/socials/reddit.svg" width="22" height="20" alt="">
    </a>
    <a class="rubic-footer__link" href="#">
      <img src="assets/img/icons/socials/telegram.svg" width="22" height="20" alt="">
    </a>
    <a class="rubic-footer__link" href="#">
      <img src="assets/img/icons/socials/fb.svg" width="22" height="20" alt="">
    </a>
    <a class="rubic-footer__link" href="#">
      <img src="assets/img/icons/socials/twitter.svg" width="22" height="20" alt="">
    </a>
    <a class="rubic-footer__link" href="#">
      <img src="assets/img/icons/socials/reddit.svg" width="22" height="20" alt="">
    </a>
    <a class="rubic-footer__link" href="#">
      <img src="assets/img/icons/socials/telegram.svg" width="22" height="20" alt="">
    </a>
  </nav>
  <div class="rubic-footer__copyright">
    © Copyright Rubic 2021,
    <a href="#" class="rubic-footer__policy">Privacy policy</a>
  </div>
</div>
