@use 'src/scss/core' as *;

.filter-list-element {
  gap: 14px;
  width: 90px;
  padding: 0 !important;

  font-size: 12px;

  background-color: var(--tui-background-base) !important;

  &__icon {
    padding-right: 6px;

    filter: invert(0);

    transition: filter var(--tui-duration, 300ms) ease-in-out;
  }
}

.filter-list-element__clicked-element {
  color: black !important;

  background-color: var(--tui-background-accent-1) !important;

  &:hover {
    background-color: var(--tui-background-accent-1) !important;
  }

  .filter-list-element__icon {
    filter: invert(1);
  }
}
