@use 'src/scss/core' as *;

.filter-list-element {
  ::ng-deep {
    .t-wrapper {
      width: 90px;
      padding: 0 !important;

      font-weight: 400;

      background: var(--tui-base-01);
    }
  }

  ::ng-deep {
    .t-content {
      gap: 8px;

      font-size: 12px;
    }
  }

  &__icon {
    filter: invert(1);
  }

  &__clicked-element {
    ::ng-deep {
      .t-wrapper {
        color: black;

        background: var(--tui-primary-hover);

        &:hover {
          background: var(--tui-primary-hover);
        }
      }
    }

    .filter-list-element__icon {
      filter: invert(1);
    }
  }
}
