@use 'src/scss/core' as *;

.filter-list-element {
  ::ng-deep {
    .t-wrapper {
      width: 90px;
      padding: 0 !important;

      font-weight: 400;

      background: var(--tui-base-01);
    }
  }

  ::ng-deep {
    .t-content {
      gap: 8px;

      font-size: 12px;
    }
  }

  &__clicked-element {
    ::ng-deep {
      .t-wrapper {
        color: black;

        background: var(--tui-primary-hover);

        &:hover {
          background: var(--tui-primary-hover);
        }
      }
    }
  }

  &__first-element {
    ::ng-deep {
      .t-wrapper {
        width: 40px;
      }
    }
  }
}
