<ng-container *ngIf="mode === 'order-row'; else mobile">
  <!-- Src crypto-asset -->
  <td>
    <div class="asset">
      <div class="asset__image-container">
        <img
          class="asset__image-container__token-icon"
          [src]="order.fromToken?.image || defaultTokenImage"
          [alt]="order.fromToken?.symbol"
          (error)="onTokenImageError($event)"
        />
        <img
          class="asset__image-container__blockchain-icon"
          [src]="getBlockchainImg(order.fromToken?.blockchain)"
          [alt]="order.fromToken?.blockchain"
          [tuiHint]="getBlockchainLabel(order.fromToken?.blockchain)"
          [tuiHintShowDelay]="0"
        />
      </div>

      <div class="asset__data">
        <div class="asset__data__symbol">
          {{ order.fromToken?.symbol ? order.fromToken.symbol : 'Unknown' }}
        </div>
        <div class="asset__data__amount">
          {{ (order.fromAmount | bigNumberFormat | withRound : 'toClosestValue') || 'N/A' }}
        </div>
      </div>
    </div>
  </td>

  <!-- Dst crypto-asset -->
  <td>
    <div class="asset">
      <div class="asset__image-container">
        <img
          class="asset__image-container__token-icon"
          [src]="order.toToken?.image || defaultTokenImage"
          [alt]="order.toToken?.symbol"
          (error)="onTokenImageError($event)"
        />
        <img
          class="asset__image-container__blockchain-icon"
          [src]="getBlockchainImg(order.toToken?.blockchain)"
          [alt]="order.toToken?.blockchain"
          [tuiHint]="getBlockchainLabel(order.toToken?.blockchain)"
          [tuiHintShowDelay]="0"
        />
      </div>

      <div class="asset__data">
        <div class="asset__data__symbol">
          {{ order.toToken?.symbol ? order.toToken.symbol : 'Unknown' }}
        </div>
        <div class="asset__data__amount">
          {{ (order.toAmount | bigNumberFormat | withRound : 'toClosestValue') || 'N/A' }}
        </div>
      </div>
    </div>
  </td>

  <!-- Creation / Expiration -->
  <td>
    <div class="date">
      <div class="date__creation">
        <ng-container *ngIf="order.creation">
          <span class="date_highlighted">{{ order.creation | date : 'dd MMM yyyy' }}</span>
          &nbsp;
          <span>{{ order.creation | date : 'HH:mm' }}</span>
        </ng-container>
        <ng-container *ngIf="!order.creation">-</ng-container>
      </div>

      <div class="date__expiration">
        <ng-container *ngIf="order.expiration">
          <span class="date_highlighted">{{ order.expiration | date : 'dd MMM yyyy' }}</span>
          &nbsp;
          <span>{{ order.expiration | date : 'HH:mm' }}</span>
        </ng-container>
        <ng-container *ngIf="!order.expiration">-</ng-container>
      </div>
    </div>
  </td>

  <!-- Filled -->
  <td>
    <div class="status">
      <div class="status__header">
        <div class="status__header__filled">Filled: {{ order.filledPercent }}%</div>
        <div class="status__header__warning" *ngIf="rateLevelData">
          <img
            [src]="rateLevelData.imgSrc"
            alt="warning"
            [tuiHint]="warningText"
            [tuiHintAppearance]="'error'"
            [tuiHintShowDelay]="0"
            [tuiHintHideDelay]="0"
          />
          {{ warningTitle }}
        </div>
      </div>

      <div class="status__progress">
        <div
          [class]="'status__progress__value ' + (rateLevelData ? rateLevelData.class : '')"
          [style.width]="order.filledPercent + '%'"
        ></div>
        <div class="status__progress__background"></div>
      </div>
    </div>
  </td>

  <!-- Status -->
  <td>
    <div class="cancellation">
      <span *ngIf="!showCancel; else cancel">{{ statusText }}</span>
    </div>
  </td>
</ng-container>

<ng-template #mobile>
  <div class="order">
    <div class="order__row">
      <div class="row-item">
        <div class="row-item__label">You sell</div>

        <div class="row-item__value asset">
          <div class="asset__image-container">
            <img
              class="asset__image-container__token-icon"
              [src]="order.fromToken?.image || defaultTokenImage"
              [alt]="order.fromToken?.symbol"
              (error)="onTokenImageError($event)"
            />
            <img
              class="asset__image-container__blockchain-icon"
              [src]="getBlockchainImg(order.fromToken?.blockchain)"
              [alt]="order.fromToken?.blockchain"
              [tuiHint]="getBlockchainLabel(order.fromToken?.blockchain)"
              [tuiHintShowDelay]="0"
            />
          </div>

          <div class="asset__data">
            <div class="asset__data__symbol">
              {{ order.fromToken?.symbol ? order.fromToken.symbol : 'Unknown' }}
            </div>
            <div class="asset__data__amount">
              {{ (order.fromAmount | bigNumberFormat | withRound : 'toClosestValue') || 'N/A' }}
            </div>
          </div>
        </div>
      </div>

      <div class="row-item">
        <div class="row-item__label">You buy</div>

        <div class="row-item__value asset">
          <div class="asset__image-container">
            <img
              class="asset__image-container__token-icon"
              [src]="order.toToken?.image || defaultTokenImage"
              [alt]="order.toToken?.symbol"
              (error)="onTokenImageError($event)"
            />
            <img
              class="asset__image-container__blockchain-icon"
              [src]="getBlockchainImg(order.toToken?.blockchain)"
              [alt]="order.toToken?.blockchain"
              [tuiHint]="getBlockchainLabel(order.toToken?.blockchain)"
              [tuiHintShowDelay]="0"
            />
          </div>

          <div class="asset__data">
            <div class="asset__data__symbol">
              {{ order.toToken?.symbol ? order.toToken.symbol : 'Unknown' }}
            </div>
            <div class="asset__data__amount">
              {{ (order.toAmount | bigNumberFormat | withRound : 'toClosestValue') || 'N/A' }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="order__row">
      <div class="row-item row-item_full">
        <div class="row-item__label">Creation / Expiration</div>

        <div class="row-item__value date">
          <div class="date__creation">
            <ng-container *ngIf="order.creation">
              <span class="date_highlighted">{{ order.creation | date : 'dd MMM yyyy' }}</span>
              &nbsp;
              <span>{{ order.creation | date : 'HH:mm' }}</span>
            </ng-container>
            <ng-container *ngIf="!order.creation">-</ng-container>
          </div>

          <div class="date__expiration">
            <ng-container *ngIf="order.expiration">
              <span class="date_highlighted">{{ order.expiration | date : 'dd MMM yyyy' }}</span>
              &nbsp;
              <span>{{ order.expiration | date : 'HH:mm' }}</span>
            </ng-container>
            <ng-container *ngIf="!order.expiration">-</ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="order__row">
      <div class="row-item row-item_full">
        <div class="row-item__label">Status</div>

        <div class="row-item__value status">
          <div class="status__header">
            <div class="status__header__filled">Filled: {{ order.filledPercent }}%</div>
            <div class="status__header__warning" *ngIf="rateLevelData">
              <img
                [src]="rateLevelData.imgSrc"
                alt="warning"
                [tuiHint]="warningText"
                [tuiHintAppearance]="'error'"
                [tuiHintShowDelay]="0"
                [tuiHintHideDelay]="0"
              />
              {{ warningTitle }}
            </div>
          </div>

          <div class="status__progress">
            <div
              [class]="'status__progress__value ' + (rateLevelData ? rateLevelData.class : '')"
              [style.width]="order.filledPercent + '%'"
            ></div>
            <div class="status__progress__background"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="order__row">
      <div class="row-item row-item_full">
        <div class="cancellation">
          <span *ngIf="!showCancel; else cancel">{{ statusText }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #cancel>
  <tui-loader [showLoader]="cancelOrderButtonLoading" [overlay]="true">
    <button class="cancel-button" (click)="cancelOrder()">Cancel</button>
  </tui-loader>
</ng-template>
