<ng-container *ngIf="mode === 'order-row'; else mobile">
  <!-- Src crypto-asset -->
  <td class="from">
    <div class="asset">
      <div class="asset__image-container image-container">
        <img
          class="image-container__token-icon"
          [src]="order.fromToken?.image || defaultTokenImage"
          [alt]="order.fromToken?.symbol"
          (error)="onTokenImageError($event)"
        />
        <img
          class="image-container__blockchain-icon"
          [src]="getBlockchainImg(order.fromToken?.blockchain)"
          [alt]="order.fromToken?.blockchain"
        />
      </div>

      <div class="asset__data">
        <div class="asset__symbol">
          {{ order.fromToken?.symbol ? order.fromToken.symbol : 'Unknown' }}
        </div>
        <div class="asset__amount">{{ (order.fromAmount | bigNumberFormat) || 'N/A' }}</div>
      </div>
    </div>
  </td>

  <!-- Dst crypto-asset -->
  <td class="to">
    <div class="asset">
      <div class="asset__image-container image-container">
        <img
          class="image-container__token-icon"
          [src]="order.toToken?.image || defaultTokenImage"
          [alt]="order.toToken?.symbol"
          (error)="onTokenImageError($event)"
        />
        <img
          class="image-container__blockchain-icon"
          [src]="getBlockchainImg(order.toToken?.blockchain)"
          [alt]="order.toToken?.blockchain"
        />
      </div>

      <div class="asset__data">
        <div class="asset__symbol">
          {{ order.toToken?.symbol ? order.toToken.symbol : 'Unknown' }}
        </div>
        <div class="asset__amount">{{ (order.toAmount | bigNumberFormat) || 'N/A' }}</div>
      </div>
    </div>
  </td>

  <!-- Expiration -->
  <td class="date">
    <div class="date__creation">
      <ng-container *ngIf="order.creation">
        <span class="date_highlighted">{{ order.creation | date : 'dd MMM yyyy' }}</span>
        &nbsp;
        <span>{{ order.creation | date : 'HH:mm' }}</span>
      </ng-container>
      <ng-container *ngIf="!order.creation">-</ng-container>
    </div>
    <div class="date__expiration">
      <ng-container *ngIf="order.expiration">
        <span class="date_highlighted">{{ order.expiration | date : 'dd MMM yyyy' }}</span>
        &nbsp;
        <span>{{ order.expiration | date : 'HH:mm' }}</span>
      </ng-container>
      <ng-container *ngIf="!order.expiration">-</ng-container>
    </div>
  </td>

  <!-- Cancellation -->
  <td class="cancellation">
    <span *ngIf="!showCancel; else cancel">Invalid</span>
  </td>
</ng-container>

<ng-template #mobile>
  <div class="order">
    <div class="order__row">
      <div class="order__row-label">From</div>
      <div class="order__row-value">
        <img
          class="order__asset-image"
          [src]="order.fromToken?.image || defaultTokenImage"
          [alt]="order.fromToken?.symbol"
          (error)="onTokenImageError($event)"
        />
        <div class="order__asset-symbol">
          {{
            order.fromToken?.symbol
              ? order.fromToken.symbol + ' (' + blockchainLabel(order.fromToken.blockchain) + ')'
              : 'Unknown'
          }}
        </div>
        <div class="order__asset-amount">{{ (order.fromAmount | bigNumberFormat) || 'N/A' }}</div>
      </div>
    </div>

    <div class="order__row">
      <div class="order__row-label">To</div>
      <div class="order__row-value">
        <img
          class="order__asset-image"
          [src]="order.toToken?.image || defaultTokenImage"
          [alt]="order.toToken?.symbol"
          (error)="onTokenImageError($event)"
        />
        <div class="order__asset-symbol">
          {{
            order.toToken?.symbol
              ? order.toToken.symbol + ' (' + blockchainLabel(order.toToken.blockchain) + ')'
              : 'Unknown'
          }}
        </div>
        <div class="order__asset-amount">{{ (order.toAmount | bigNumberFormat) || 'N/A' }}</div>
      </div>
    </div>

    <div class="order__row">
      <div class="order__row-label">Expiration</div>
      <div class="order__row-value">
        {{
          order.expiration
            ? (order.expiration | date : 'MMM dd, yyyy') +
              ' at ' +
              (order.expiration | date : 'HH:mm')
            : '-'
        }}
      </div>
    </div>
    <div class="order__row">
      <div class="order__row-label">Cancellation</div>
      <div class="order__row-value" *ngIf="!showCancel; else cancel">Invalid</div>
    </div>

    <hr class="order__divider" />
  </div>
</ng-template>

<ng-template #cancel>
  <tui-loader [showLoader]="cancelOrderButtonLoading">
    <button class="cancel-button" (click)="cancelOrder()">
      Cancel the order <img src="assets/images/icons/cross-red.svg" alt="cancel" />
    </button>
  </tui-loader>
</ng-template>
