.providers-list {
  padding: 1rem;

  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;

    text-align: left;

    background-color: var(--form-background);
    border: 1px solid var(--transparent-line);
    border-radius: 14px;

    &.selected-provider {
      border-color: var(--primary-color);
    }

    &__logo {
      width: 32px;
      height: 32px;
      margin-right: 0.5rem;

      background-color: white;
      border-radius: 50%;

      img {
        width: 32px;
        height: 32px;
      }
    }

    &__name {
      font-weight: 600;
      font-size: 14px;
      line-height: 23px;
    }

    &__rate {
      color: #aaa;
    }

    &__info {
      margin-left: auto;

      text-align: right;
    }

    &__best {
      display: inline-flex;
      margin-left: auto;
      padding: 4px 12px;

      color: #00e28e;

      background: #00e28e26;
      border-radius: 30px;

      &--loading {
        display: none;
      }
    }

    &__gas {
      &-wrapper {
        display: flex;
        align-items: center;
        margin-top: 4px;

        color: #aaa;
      }

      &-icon {
        ::ng-deep {
          svg {
            display: block;
            width: 16px;
            height: 16px;

            path {
              fill: #aaa;
            }
          }
        }
      }

      &-title {
        margin: 0 5px;
      }

      &-value {
        color: var(--primary-color);
      }
    }
  }
}
