<ul class="providers-list">
  <ng-container *ngFor="let provider of providersData; index as i">
    <li>
      <button
        class="providers-list-item"
        (click)="selectProvider(provider)"
        [class.selected-provider]="provider.isSelected"
      >
        <div class="providers-list-item__logo">
          <img [src]="provider.image" [alt]="provider.name" />
        </div>

        <div>
          <div class="providers-list-item__name">{{ provider.label }}</div>
          <div class="providers-list-item__rate">
            <span>{{ provider?.amount | bigNumberFormat | withRound : 'toClosestValue' }}</span>
            <span>{{ provider.trade.to.symbol }}</span>
          </div>
        </div>

        <div class="providers-list-item__info">
          <div class="providers-list-item__best" *ngIf="i === 0">Best</div>
          <ng-container *ngIf="provider.showGas && provider.gasFeeInEth">
            <div class="providers-list-item__gas-wrapper">
              <div
                [inlineSVG]="'assets/images/icons/gas.svg'"
                class="providers-list-item__gas-icon"
              ></div>
              <div class="providers-list-item__gas-title">Gas:</div>
              <div class="providers-list-item__gas-value">
                {{ provider.gasFeeInEth | bigNumberFormat : 5 }} ETH
              </div>
            </div>
          </ng-container>
        </div>
      </button>
    </li>
  </ng-container>
</ul>
