<tui-hosted-dropdown
  tuiDropdownAlign="left"
  [content]="dropdown"
  (openChange)="changeSettingsVisibility.emit($event)"
  [open]="settingsOpened"
>
  <div class="header-settings__icon-wrapper">
    <app-rubic-button-circle class="menu-button unfocused" [size]="'l'" appearance="flat">
      <div class="settings-icon" inlineSVG="assets/images/icons/settings.svg"></div>
    </app-rubic-button-circle>
  </div>
</tui-hosted-dropdown>

<ng-template #dropdown>
  <ng-content></ng-content>
</ng-template>
