<ng-container>
  <app-rubic-button *ngIf="needLogin | async" [fullWidth]="true" (onClick)="onLogin()">
    {{ 'navigation.login' | translate }}
  </app-rubic-button>

  <ng-template [ngIf]="!(needLogin | async)">
    <ng-container *ngIf="needApprove && !loading && !hasError">
      <div class="buttons">
        <app-rubic-button
          [fullWidth]="true"
          (onClick)="approveClick.emit()"
          [loading]="status === TRADE_STATUS.APPROVE_IN_PROGRESS || status === TRADE_STATUS.LOADING"
          [disabled]="status !== TRADE_STATUS.READY_TO_APPROVE"
          appearance="secondary"
        >
          Approve
        </app-rubic-button>
        <app-rubic-button
          [fullWidth]="true"
          (onClick)="swapClick.emit()"
          [loading]="status === TRADE_STATUS.SWAP_IN_PROGRESS || status === TRADE_STATUS.LOADING"
          [disabled]="status !== TRADE_STATUS.READY_TO_SWAP"
          appearance="secondary"
          >Swap</app-rubic-button
        >
        <div class="buttons__timeline-container timeline">
          <span class="timeline__connector"></span>
          <div
            class="timeline__point"
            [attr.disabled]="
              status === TRADE_STATUS.READY_TO_SWAP ||
              status === TRADE_STATUS.SWAP_IN_PROGRESS ||
              status === TRADE_STATUS.DISABLED
            "
          >
            1
          </div>
          <div
            class="timeline__point"
            [attr.disabled]="
              status === TRADE_STATUS.READY_TO_APPROVE ||
              status === TRADE_STATUS.APPROVE_IN_PROGRESS ||
              status === TRADE_STATUS.DISABLED
            "
          >
            2
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="(!needApprove && !hasError) || loading">
      <app-rubic-button
        [fullWidth]="true"
        (onClick)="swapClick.emit()"
        [loading]="
          status === TRADE_STATUS.SWAP_IN_PROGRESS || status === TRADE_STATUS.LOADING || loading
        "
        [disabled]="status === TRADE_STATUS.DISABLED"
        appearance="secondary"
        >Swap</app-rubic-button
      >
    </ng-container>

    <ng-container *ngIf="hasError && errorType['Wrong user network']  && !loading && allowChangeNetwork">
      <app-rubic-button
        [fullWidth]="true"
        appearance="secondary"
        (click)="changeNetwork()"
        [loading]="status === TRADE_STATUS.LOADING"
      >
        {{ networkErrorText }}
      </app-rubic-button>
    </ng-container>

    <ng-container *ngIf="
      hasError && !errorType['Wrong user network'] && !loading ||
      hasError && errorType['Wrong user network'] && !loading && !allowChangeNetwork
    ">
      <app-rubic-button
        class="error-button"
        [fullWidth]="true"
        [disabled]="true"
        appearance="secondary"
      >
        {{ errorText }}
      </app-rubic-button>
    </ng-container>
  </ng-template>
</ng-container>
