<ng-container>
  <app-rubic-button
    [id]="idPrefix + 'connect-wallet'"
    *ngIf="needLogin"
    [ngClass]="{ 'grey-background': !tokensFilled }"
    [loading]="needLoginLoading"
    [fullWidth]="true"
    (onClick)="onLogin()"
    [appearance]="tokensFilled ? 'secondary' : 'primary'"
  >
    {{ 'navigation.login' | translate }}
  </app-rubic-button>

  <ng-container *ngIf="!needLogin && status === TRADE_STATUS.OLD_TRADE_DATA">
    <app-rubic-button
      [attr.rate-is-updated]="true"
      [fullWidth]="true"
      (click)="updateRatesClick.emit()"
      appearance="secondary"
    >
      {{ 'tradePage.rateIsUpdated' | translate }}
    </app-rubic-button>
  </ng-container>

  <ng-template [ngIf]="!needLogin && status !== TRADE_STATUS.OLD_TRADE_DATA">
    <!-- with approve button -->
    <ng-container *ngIf="needApprove && !dataLoading && !hasError">
      <ng-container *noFrame>
        <div class="buttons">
          <app-rubic-button
            [id]="idPrefix + 'approve'"
            [fullWidth]="true"
            (onClick)="approveClick.emit()"
            [loading]="
              status === TRADE_STATUS.APPROVE_IN_PROGRESS || status === TRADE_STATUS.LOADING
            "
            [disabled]="status !== TRADE_STATUS.READY_TO_APPROVE"
            appearance="secondary"
          >
            Approve
          </app-rubic-button>
          <app-rubic-button
            [class]="idPrefix + 'button-swap'"
            [ngClass]="{
              'button-swap_warning-low':
                priceImpact >= PRICE_IMPACT.LOW && priceImpact < PRICE_IMPACT.HIGH,
              'button-swap_warning-high': priceImpact >= PRICE_IMPACT.HIGH
            }"
            [fullWidth]="true"
            (onClick)="swapClick.emit()"
            [loading]="status === TRADE_STATUS.SWAP_IN_PROGRESS || status === TRADE_STATUS.LOADING"
            [disabled]="status !== TRADE_STATUS.READY_TO_SWAP"
            appearance="secondary"
          >
            {{ priceImpact < PRICE_IMPACT.LOW ? swapButtonText : 'Swap Anyway' }}
            <div
              *ngIf="priceImpact >= PRICE_IMPACT.LOW"
              class="button-swap__hint"
              [inlineSVG]="'/assets/images/icons/hint-question.svg'"
              [tuiHint]="priceImpactTemplate"
              [tuiHintDirection]="'right'"
            ></div>
          </app-rubic-button>
          <div class="buttons__timeline-container timeline">
            <span class="timeline__connector"></span>
            <div
              class="timeline__point"
              [attr.disabled]="
                status === TRADE_STATUS.READY_TO_SWAP ||
                status === TRADE_STATUS.SWAP_IN_PROGRESS ||
                status === TRADE_STATUS.DISABLED
              "
            >
              1
            </div>
            <div
              class="timeline__point"
              [attr.disabled]="
                status === TRADE_STATUS.READY_TO_APPROVE ||
                status === TRADE_STATUS.APPROVE_IN_PROGRESS ||
                status === TRADE_STATUS.DISABLED
              "
            >
              2
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *onlyFrame>
        <app-rubic-button
          [fullWidth]="true"
          (onClick)="approveClick.emit()"
          [loading]="
            status === TRADE_STATUS.APPROVE_IN_PROGRESS ||
            status === TRADE_STATUS.LOADING ||
            dataLoading
          "
          [disabled]="status !== TRADE_STATUS.READY_TO_APPROVE"
          appearance="secondary"
        >
          {{ 'Approve' }}
        </app-rubic-button>
      </ng-container>
    </ng-container>
    <!-- with approve button -->

    <ng-container *ngIf="(!needApprove && !hasError) || dataLoading">
      <app-rubic-button
        [class]="idPrefix + 'button-swap'"
        [ngClass]="{
          'button-swap_warning-low':
            priceImpact >= PRICE_IMPACT.LOW && priceImpact < PRICE_IMPACT.HIGH,
          'button-swap_warning-high': priceImpact >= PRICE_IMPACT.HIGH
        }"
        [fullWidth]="true"
        (onClick)="swapClick.emit()"
        [loading]="
          status === TRADE_STATUS.SWAP_IN_PROGRESS || status === TRADE_STATUS.LOADING || dataLoading
        "
        [disabled]="status === TRADE_STATUS.DISABLED"
        appearance="secondary"
        >{{ priceImpact < PRICE_IMPACT.LOW ? swapButtonText : 'Swap Anyway' }}
        <div
          *ngIf="priceImpact >= PRICE_IMPACT.LOW"
          class="button-swap__hint"
          [inlineSVG]="'/assets/images/icons/hint-question.svg'"
          [tuiHint]="priceImpactTemplate"
          [tuiHintDirection]="'right'"
        ></div
      ></app-rubic-button>
    </ng-container>

    <ng-container
      *ngIf="
        hasError && errorType[ERROR_TYPE.WRONG_BLOCKCHAIN] && !dataLoading && allowChangeNetwork
      "
    >
      <app-rubic-button
        [attr.error]="true"
        [fullWidth]="true"
        appearance="secondary"
        (click)="changeNetwork()"
        [loading]="status === TRADE_STATUS.LOADING"
      >
        {{ networkErrorText }}
      </app-rubic-button>
    </ng-container>

    <ng-container
      *ngIf="
        (hasError && !errorType[ERROR_TYPE.WRONG_BLOCKCHAIN] && !dataLoading) ||
        (hasError && errorType[ERROR_TYPE.WRONG_BLOCKCHAIN] && !dataLoading && !allowChangeNetwork)
      "
    >
      <app-rubic-button
        class="error-button"
        [attr.error]="true"
        [fullWidth]="true"
        [disabled]="true"
        appearance="secondary"
      >
        {{ errorText | async }}
      </app-rubic-button>
    </ng-container>
  </ng-template>
</ng-container>

<ng-template #priceImpactTemplate>
  <div class="price-impact">
    Price impact is
    <span
      [ngClass]="{
        'price-impact_low': priceImpact < PRICE_IMPACT.HIGH,
        'price-impact_high': priceImpact >= PRICE_IMPACT.HIGH
      }"
      >-{{ priceImpact | number: '.0-2' }}%</span
    >
  </div>
</ng-template>
