$point-radius: 26px;

.buttons {
  display: grid;
  grid-column-gap: 20px;
  grid-template: 1fr 1fr / 1fr 1fr;

  &__timeline-container {
    grid-column: 1 / 3;
  }
}

.timeline {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% + #{$point-radius} + 10px);
  margin: 0 auto;

  &__connector {
    position: absolute;
    left: $point-radius;

    width: calc(100% - #{$point-radius * 2});
    height: 2px;

    background-color: white;
  }

  &__point {
    z-index: 2;

    width: $point-radius;
    height: $point-radius;

    line-height: $point-radius;
    text-align: center;

    background-color: white;
    border-radius: 50%;

    &[disabled=true] {
      color: rgba(144, 144, 144, 0.6);

      background-color: rgba(225, 225, 225, 0.6);
    }
  }
}
