@use 'src/scss/core' as *;

:host {
  .qr-container {
    @include flex(column, start, start);
    gap: 8px;
    width: 100%;
    height: 100%;

    &__label {
      color: var(--tui-text-secondary);
    }

    &__main {
      @include flex(column, center, center);
      gap: clamp(8px, 2vw, 12px);
      width: 100%;
      height: 100%;
      padding: 12px;
      background: #3b3d4f;
      border-radius: 20px;

      .qr-code {
        width: 142px;
        height: 142px;
        border-radius: 20px;
      }

      .toggler {
        @include flex(row, center, center);
        gap: 8px;
        width: 100%;
        color: var(--tui-text-secondary);
        font-weight: 400;
        font-size: 12px;
      }

      button {
        width: 100%;
        background: var(--tui-background-base) !important;
      }
    }
  }
}
