@let showWalletBtn = showWalletBtn$ | async;
@let actionBtnState = actionBtnState$ | async;

<div class="qr-container">
  <b class="qr-container__label">Scan QR to pay</b>

  <div class="qr-container__main">
    <div class="qr-code">
      <canvas [id]="QR_CODE_ID" width="142" height="142"></canvas>
    </div>

    @if (showWalletBtn) {
      <button
        tuiButton
        class="step-content__btn"
        appearance="secondary"
        type="button"
        size="m"
        [disabled]="!actionBtnState.active"
        (click)="btnClicked.emit()"
      >
        {{ actionBtnState.text }}
      </button>
    }
  </div>
</div>
