<app-window-container
  *ngLet="{
    transferAsset: transferAsset$ | async,
    transferAmount: transferAmount$ | async,
    loading: loading$ | async,
  } as state"
>
  <app-input-output-container
    [round]="creationConfig.withReceiver ? 'top' : 'all'"
    [marginTop]="true"
  >
    <app-asset-selector
      left
      selectorType="from"
      (handleAssetSelection)="openSelector()"
      [asset]="state.transferAsset"
      [isDisabled]="state.loading"
    ></app-asset-selector>
    <div right class="input-container">
      <app-amount-transput
        *ngIf="creationConfig.withSrcAmount"
        formType="from"
        [selectedToken]="state.transferAsset"
        inputMode="input"
        (amountUpdated)="updateInputValue($event)"
        [amountValue]="state.transferAmount"
      ></app-amount-transput>
      <app-user-balance-container
        *ngIf="creationConfig.withMaxBtn"
        [fromToken$]="transferAsset$"
        (maxButtonClickEvent)="handleMaxButton()"
      ></app-user-balance-container>
    </div>
  </app-input-output-container>

  <app-target-network-address
    *ngIf="creationConfig.withReceiver"
    [addressCtrl]="receiverCtrl"
    [placeholderText]="creationConfig?.receiverPlaceholder"
  ></app-target-network-address>
  <ng-content></ng-content>

  <app-private-action-button
    *ngIf="creationConfig.withActionButton"
    [loading]="state.loading"
    (onClick)="transfer()"
  ></app-private-action-button>
</app-window-container>
