@use 'src/scss/core' as *;

app-form-switcher {
  display: flex;
  justify-content: center;
  height: 2px;
}

:host app-input-output-container ::ng-deep .io-right {
  justify-content: flex-end;
}

.required-step {
  margin-top: var(--tui-padding-l);
}

.target-address {
  margin-top: var(--tui-padding-l);
  padding: var(--tui-padding-l);

  background: var(--primary-background);
  border-bottom: 2px solid var(--secondary-background);
  border-radius: var(--tui-radius-m) var(--tui-radius-m) 0 0;

  &__title {
    color: var(--tui-text-03);
    font-weight: 400;
    font-size: 15px;
  }

  &__text {
    display: flex;
    gap: var(--tui-padding-s);
    align-items: center;

    color: var(--tui-text-01);
    font-weight: 700;
    font-size: 18px;
  }

  &__disabled {
    opacity: 0.8;

    user-select: none;
  }
}

.status-wrapper {
  padding: var(--tui-padding-l);

  background: var(--primary-background);
  border-radius: 0 0 var(--tui-radius-m) var(--tui-radius-m);

  transition: all 100ms;

  &__inactive {
    margin-top: var(--tui-padding-l);

    border-radius: var(--tui-radius-m);
  }
}


.row {
  display: flex;
  gap: var(--tui-padding-s);
  align-items: center;
  justify-content: space-between;

  &:first-of-type {
    margin-top: 0;
  }

  &__recent-trades {
    margin-top: var(--tui-padding-s);
  }
}

.row-item {
  &__header {
    margin-bottom: 2px;

    color: var(--primary-color);
  }

  &__value {
    display: flex;
    grid-gap: var(--tui-padding-s);
    align-items: center;
    height: fit-content;

    min-height: 16px;

    color: var(--primary-text);
    font-weight: 600;
    font-size: 16px;

    img {
      max-height: 16px;
    }
  }
}

.status-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__circle {
    position: relative;

    width: 16px;
    height: 16px;

    border: 1px solid var(--tui-text-02);
    border-radius: 50%;

    &_complete {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;

      background-color: var(--tui-primary);
      border-color: var(--tui-primary);
      border-radius: 50%;

      &::before {
        display: none;
      }
    }

    &_failed {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;

      background-color: #ba0303;
      border-color: #ba0303;
      border-radius: 50%;

      img {
        width: 12px;
        height: 10px;
      }

      &::before {
        display: none;
      }
    }
  }

  &__spinner {
    width: 16px;
    height: 16px;

    color: #fff;

    border-radius: 50%;
    transform: rotateZ(45deg);
    perspective: 1000px;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: inherit;
      height: inherit;

      border-radius: 50%;
      transform: rotateX(70deg);

      animation: 1s spin linear infinite;

      content: '';
    }

    &::after {
      color: var(--tui-primary);

      transform: rotateY(70deg) rotateZ(180deg);
    }
  }

  &__value {
    margin-top: var(--tui-padding-xs);

    color: var(--tui-text-01);
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    white-space: nowrap;

    &_completed {
      color: var(--tui-primary);
    }

    &_failed {
      color: #ba0303;
    }
  }
}

.row-status {
  @include b($mobile-md) {
    flex-direction: column;

    .arrow-step {
      rotate: 90deg;
    }
  }
}

.copy-icon {
  width: 18px;
  height: 18px;

  cursor: pointer;

  &_green {
    ::ng-deep svg {
      path {
        stroke: var(--tui-primary);
      }
    }
  }
}



@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.failed-notification {
  ::ng-deep {
    .t-content {
      max-width: 450px;
    }
  }
}
