@use 'src/scss/core' as *;

app-form-switcher {
  display: flex;
  justify-content: center;
  height: 2px;
}

:host app-input-output-container ::ng-deep .io-right {
  justify-content: flex-end;
}

.refund-address {
  margin-top: var(--tui-padding-l);
}

.target-address {
  margin-top: var(--tui-padding-l);
  padding: var(--tui-padding-l);

  background: var(--primary-background);
  border-bottom: 2px solid var(--secondary-background);
  border-radius: var(--tui-radius-m) var(--tui-radius-m) 0 0;

  &__title {
    color: var(--tui-text-03);
    font-weight: 400;
    font-size: 15px;
  }

  &__text {
    display: flex;
    gap: var(--tui-padding-s);
    align-items: center;

    color: var(--tui-text-01);
    font-weight: 700;
    font-size: 18px;
  }

  &__disabled {
    opacity: 0.8;

    user-select: none;
  }
}

.copy-icon {
  width: 18px;
  height: 18px;

  cursor: pointer;

  &_green {
    ::ng-deep svg {
      path {
        stroke: var(--tui-primary);
      }
    }
  }
}

.failed-notification {
  ::ng-deep {
    .t-content {
      max-width: 450px;
    }
  }
}
