@use 'src/scss/vars' as *;

.badge {
  display: flex;
  gap: var(--tui-padding-s);
  align-items: center;
  height: 24px;
  padding: 0 10px;

  border-radius: var(--tui-radius-m);

  &_error {
    background: rgb(244 87 37 / 12%);

    .badge__dot {
      background: #f45725;
    }
  }

  &_warning {
    background: rgb(255 199 0 / 12%);

    .badge__dot {
      background: #ffc700;
    }
  }

  &_success {
    background: rgb(74 201 155 / 12%);

    .badge__dot {
      background: #4ac99b;
    }
  }

  &_info {
    background: rgb(112 182 246 / 12%);

    .badge__dot {
      background: #70b6f6;
    }
  }

  &__dot {
    width: 6px;
    height: 6px;

    border-radius: 50%;
  }
}
