@use 'src/scss/vars' as *;

.badge {
  display: inline-flex;
  gap: var(--tui-padding-s);
  align-items: center;
  min-width: 90px;
  height: 24px;
  padding: 0 var(--tui-padding-m);

  border-radius: var(--tui-radius-m);

  &__label {
    white-space: nowrap;
  }

  &_error {
    background: var(--tui-status-negative-pale);

    .badge__dot {
      background: var(--tui-status-negative);
    }
  }

  &_warning {
    background: var(--tui-status-warning-pale);

    .badge__dot {
      background: var(--tui-status-warning);
    }
  }

  &_success {
    background: var(--tui-status-positive-pale);

    .badge__dot {
      background: var(--tui-status-positive);
    }
  }

  &_info {
    background: var(--tui-status-info-pale);

    .badge__dot {
      background: var(--tui-status-info);
    }
  }

  &__dot {
    width: 6px;
    height: 6px;

    border-radius: 50%;
  }
}
