@use 'src/scss/core' as *;

:host {
  display: block;
  max-width: 802px;
  margin: 0 auto;
  padding-top: 38px;

  @include b($tablet) {
    padding-top: 3px;
  }
}

.statistics {
  display: block;
  margin-bottom: 12px;
}

.staking {
  margin-bottom: 12px;
  padding: 26px;

  background: var(--rubic-base-22);
  border-radius: 24px;


  &__title {
    @include font(20px, 24px, 600, var(--rubic-base-02));
    margin-bottom: 26px;  
  }

  &__card:not(:last-child) {
    display: block;
    margin-bottom: 12px;
  }
}

.lp {
  padding: 26px;

  background: var(--rubic-base-22);
  border-radius: 24px;
  
  &__title {
    @include font(24px, 29px, 600, var(--rubic-base-02));
    margin-bottom: 31px;  
  }

  &__card:not(:last-child) {
    display: block;
    margin-bottom: 26px;
  }
}

@include b($tablet) {
  .statistics {
    margin-bottom: 12px;

    border-radius: 22px;
  }

  .staking {
    margin-bottom: 12px;
    
    &__title {
      margin-bottom: 22px;

      font-size: 18px;
      line-height: 22px;
    }
  }
  
  .lp {
    &__title {
      margin-bottom: 22px;

      font-size: 18px;
      line-height: 22px;
    }
  }

  .staking,
  .lp {
    padding: 22px;

    border-radius: 22px;
  }
}
