<div class="info-line">
  <div class="info-line__title title">
    <span class="title__text">Estimated gas fee</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="question"
      [tuiHint]="'Estimated gas fee in source network'"
    />
  </div>
  <div class="info-line__value">0.15 ETH ≈ $5.46</div>
</div>

<div class="info-line">
  <div class="info-line__title title">
    <span class="title__text">Crypto fee</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="question"
      [tuiHint]="'Gas fee in target network taken in native token of source network'"
    />
  </div>
  <div class="info-line__value">0.15 ETH ≈ $5.46</div>
</div>

<div class="info-line">
  <div class="info-line__title title">
    <span class="title__text">Platform fee</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="question"
      [tuiHint]="'Platforms\'s commission charges in RBC token'"
    />
  </div>
  <div class="info-line__value">0.3% ≈ 3 RBC</div>
</div>

<hr class="delimiter" />

<div class="info-line">
  <div class="info-line__title title">
    <span class="title__text">Price impact in source network</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="question"
      [tuiHint]="
        'Correlation between an incoming order and the change in the price of the asset involved caused by the trade. Cross-chain consists of two transactions and each has its\' own price impact.'
      "
    />
  </div>
  <div class="info-line__value"><0.01%</div>
</div>

<div class="info-line">
  <div class="info-line__title title">
    <span class="title__text">Price impact in target network</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="question"
      [tuiHint]="
        'Correlation between an incoming order and the change in the price of the asset involved caused by the trade. Cross-chain consists of two transactions and each has its\' own price impact.'
      "
    />
  </div>
  <div class="info-line__value">-4.5%</div>
</div>

<div class="info-line">
  <div class="info-line__title title">
    <span class="title__text"> {{ 'crossChainPage.swapInfo.minimumReceived' | translate }}</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="question"
      [tuiHint]="'crossChainPage.swapInfo.minimumReceivedHint' | translate"
    />
  </div>
  <div class="info-line__value">25.653 RBC</div>
</div>

<div class="info-line">
  <div class="info-line__title title">
    <span class="title__text"> {{ 'crossChainPage.swapInfo.maximumSent' | translate }}</span>
    <img
      src="assets/images/swaps/swaps-info/question-icon.svg"
      alt="question"
      [tuiHint]="'crossChainPage.swapInfo.maximumSentHint' | translate"
    />
  </div>
  <div class="info-line__value">12.24 MONS</div>
</div>
