@use 'src/scss/mixins';

.header {
  display: flex;
  align-items: center;

  &__refresh {
    display: block;
    margin-left: 10px;
  }
}

.table {
  width: 100%;

  font-weight: 300;

  border-radius: 14px;

  thead {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  th,
  td {
    color: var(--rubic-base-12);
    font-weight: inherit;
    font-family: inherit;

    border-color: var(--main-background);
    border-style: solid;
    border-width: 0;
    border-right-width: 1px;

    &:last-child {
      border-right-width: 0;
    }
  }

  th {
    height: 56px;
    padding: 18px 12px;

    font-size: 18px;
    line-height: 21px;

    background-color: var(--main-background);

    &:first-child {
      border-top-left-radius: 14px;
    }

    &:last-child {
      border-top-right-radius: 14px;
    }

    ::ng-deep {
      .sort {
        color: inherit;
        font-weight: inherit;

        &_sorted {
          font-weight: 500;
        }
      }

      .arrow {
        display: none;
      }
    }

    .title {
      display: flex;
      flex-wrap: nowrap;
      grid-gap: 5px;
      align-items: center;

      margin-right: 10px;
    }
  }

  td {
    height: 82px;

    font-size: 16px;
    line-height: 19px;

    background: var(--main-form-background);
    border-bottom-width: 1px;
  }

  &__date {
    display: flex;
    flex-direction: column;

    span:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__token-container {
    display: flex;

    > span {
      margin-right: 14px;
    }
  }

  &__token-img {
    display: flex;

    width: 18px;
    min-width: 18px;
    height: 18px;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;

      border-radius: 3px;
    }

  }

  &__token {
    display: flex;

    div {
      margin-right: 8px;
    }
  }
}

app-rubic-button {
  display: block;
  width: 316px;
  margin: 0 auto;

  @include mixins.b(450) {
    width: 250px;
  }
}
