@use 'src/scss/core' as *;

:host {
  .label {
    @include flex(row, center, center);
    gap: 8px;

    color: var(--tui-background-accent-1);
    font-size: 14px;

    img {
      animation: rotate 0.3s linear infinite;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
