<div class="modal">
  <div class="modal__content">
    <main class="modal__body">
      <img
        class="modal__warning-image"
        src="../../../../../assets/images/bridge/warning-image.svg"
        alt="Success"
      />
    </main>

    <div class="modal__footer">
      <p>{{ 'airdrop.notification.modalDescription' | translate }}</p>
      <div class="modal__footer-actions">
        <app-rubic-button appearance="primary" (onClick)="handleConfirm()">
          {{ 'common.complete' | translate }}
        </app-rubic-button>
        <app-rubic-button appearance="secondary" (onClick)="handleCancel()">
          {{ 'common.cancel' | translate }}
        </app-rubic-button>
      </div>
    </div>
  </div>
</div>
