@use 'src/scss/core' as *;

.asset {
  display: flex;
  align-items: center;

  &__image-container {
    @include assetImage();
    position: relative;

    margin-right: 8px;

    &__token-icon {
      width: 100%;
      height: 100%;
    }

    &__blockchain-icon {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__data {
    position: relative;

    height: 100%;

    &__symbol {
      @include font(14px, 120%, 500, #{$text-gray-2});
    }

    &__amount {
      @include font(13px, 120%, 500, var(--primary-text));

      position: absolute;
      bottom: 0;

      max-width: 100px;
      overflow: hidden;

      text-overflow: ellipsis;
    }
  }
}

.date {
  @include font(14px, 120%, 500, #{$text-gray-2});

  &_highlighted {
    color: var(--primary-text);
  }
}

.status {
  @include font(14px, 120%, 400, var(--primary-text));

  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 24px;

    &__filled {
      display: flex;
      align-items: center;
    }

    &__warning {
      display: flex;
      grid-gap: 11px;
      align-items: center;
    }
  }

  &__progress {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 3px;

    border-radius: 97px;

    &__value {
      position: relative;
      z-index: 1;

      height: 100%;

      background-color: var(--primary-color);
      border-radius: 97px;

      &.warning {
        background-color: var(--warning-color);
      }

      &.error {
        background-color: var(--error-color);
      }
    }

    &__background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: #333535;
      border-radius: 97px;
    }
  }
}

tui-loader {
  width: 100%;
}

.cancel-button {
  @include font(14px, 120%, 600, var(--primary-text));

  display: flex;
  grid-gap: 12px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;

  border: 1px solid var(--transparent-line);
  border-radius: 85px;
}

.cancellation {
  @include font(14px, 120%, 600, var(--primary-text));

  display: flex;
  align-items: center;
  justify-content: center;
}
