@use 'src/scss/core' as *;

@mixin assetImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

.order {
  max-width: 400px;
  margin: 0 auto;
  padding: 16px 15px;

  background: var(--form-background);
  border: 1px solid var(--transparent-line);
  border-radius: 16px;

  &__row {
    display: flex;
    grid-gap: 30%;
    align-items: center;

    &-label {
      @include font(12px, 17px, 400, #7A797D);

      @include dark {
        color: #8e8d91;
      }
    }

    &-value {
      display: flex;
      align-items: center;

      color: #8e8d91;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__asset-image {
    @include assetImage();
    width: 26px;
    height: 26px;
    margin-right: 8px;
  }

  &__asset-symbol {
    @include font(14px, 17px, 500, #37373D);
    margin-right: 8px;

    @include dark {
      color: #e8e8ea;
    }
  }

  &__asset-amount {
    @include font(12px, 17px, 400, #8E8D91);
  }
}

.row-item {
  &__label {
    @include font(12px, 120%, 400, #{$text-gray-2});
    margin-bottom: 8px;
  }

  &__value {
    height: 34px;
  }
}

.asset {
  height: 100%;
}

.image-container {
  width: 32px;
  height: 32px;

  &__blockchain-icon {
    width: 15px;
    height: 15px;
  }
}
