@use 'src/scss/core' as *;

@mixin assetImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

.order {
  max-width: 400px;
  margin: 0 auto;
  padding: 16px 15px;

  background: var(--form-background);
  border: 1px solid var(--transparent-line);
  border-radius: 16px;

  &__row {
    display: flex;
    grid-gap: 15%;
    align-items: center;
    width: 100%;
    margin-top: 16px;

    @include b(360) {
      grid-gap: 5%;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.row-item {
  &_full {
    width: 100%;
  }

  &__label {
    @include font(12px, 120%, 400, #{$text-gray-2});
    margin-bottom: 8px;
  }

  &__value {
    min-width: 130px;
  }

  .asset {
    height: 34px;

    &__image-container {
      width: 32px;
      height: 32px;

      &__blockchain-icon {
        width: 15px;
        height: 15px;
      }
    }
  }

  .date {
    display: flex;
    grid-gap: 15%;
    align-items: center;

    @include b(360) {
      grid-gap: 5%;
    }

    &__value {
      min-width: 130px;
    }
  }

  .status {
    height: 40px;

    &__header,
    &__progress {
      width: 100%;
    }
  }

  .cancellation {
    tui-loader {
      width: 100%;
    }

    .cancel-button {
      justify-content: center;
      width: 100%;
    }
  }
}
