@use 'src/scss/core' as *;

td {
  height: 42px;

  > * {
    width: 100%;
  }

  .asset {
    &__image-container {
      width: 40px;
      height: 40px;

      &__blockchain-icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  .date {
    position: relative;

    display: block !important;

    &__expiration {
      position: absolute;
      bottom: 0;
    }
  }

  .status {
    &__header,
    &__progress {
      width: 80%;
    }
  }

  .cancel-button {
    padding: 0 19px 0 15px;
  }
}
