@use 'src/scss/core' as *;

@mixin assetImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

td {
  height: 42px;
}

.date {

  @include font(14px, 120%, 500, #{$text-gray-2});
  position: relative;

  display: block !important;

  &_highlighted {
    color: var(--primary-text);
  }

  &__expiration {
    position: absolute;
    bottom: 0;
  }
}

.from,
.to {
  .asset {
    display: flex;
		
    &__image-container {
      margin-right: 12px;
    }

    &__data {
      position: relative;
    }

    &__symbol {
      @include font(14px, 120%, 500, #{$text-gray-2});
    }
	
    &__amount {

      @include font(13px, 120%, 500, var(--primary-text));
      position: absolute;
      bottom: 0;
    }
  }
}

.image-container {
  @include assetImage();
  position: relative;

  width: 40px;
  height: 40px;

  &__token-icon {
    width: 100%;
    height: 100%;
  }

  &__blockchain-icon {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 20px;
    height: 20px;
  }
}

.cancel-button {

  @include font(14px, 120%, 600, var(--primary-text));
  display: flex;
  grid-gap: 12px;
  align-items: center;
  height: 42px;
  padding: 0 19px 0 15px;

  border: 1px solid var(--transparent-line);
  border-radius: 85px;
}

.status {

  @include font(14px, 120%, 400, var(--primary-text));
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 24px;

    &__filled {
      display: flex;
      align-items: center;
    }

    &__warning {
      display: flex;
      grid-gap: 11px;
      align-items: center;
    }
  }

  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 80%;
    height: 3px;

    border-radius: 97px;

    &__value {
      position: relative;
      z-index: 1;

      height: 100%;

      background-color: var(--primary-color);
      border-radius: 97px;

      &.yellow {
        background-color: #f2994a;
      }

      &.red {
        background-color: #e9590c;
      }
    }

    &__background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: #333535;
      border-radius: 97px;
    }
  }
}
