<div class="request-withdraw-modal">
  <div class="request-withdraw-modal__title">{{ 'lp.requestWithdraw' | translate }}</div>
  <div class="request-withdraw-modal__content">
    {{
      'lp.requestWithdrawModalText'
        | translate
          : {
              brbcAmount: (brbcAmount | bigNumberFormat | withRound: 'fixedValue':{ decimals: 2 }),
              usdcAmount: (usdcAmount | bigNumberFormat | withRound: 'fixedValue':{ decimals: 2 })
            }
    }}
  </div>
  <div class="request-withdraw-modal__actions">
    <app-rubic-button appearance="secondary" (click)="context.completeWith(true)"
      >Ok</app-rubic-button
    >
    <app-rubic-button appearance="outline" (click)="context.completeWith(false)"
      >Cancel</app-rubic-button
    >
  </div>
</div>
