<div class="deposit__wrapper">
  <tr class="deposit">
    <td class="deposit__ceil">
      <img class="deposit__logo" src="assets/images/rbc-util-icon.png" alt="BRBC" />
      <span class="deposit__id">{{ nftId }}</span>
    </td>
    <td class="deposit__ceil">
      <span class="deposit__brbc">{{ brbc }}</span>
    </td>
    <td class="deposit__ceil">
      <span class="deposit__rewards">{{ rewards }}</span>
    </td>
    <td class="deposit__ceil">
      <span
        class="deposit__apy"
        [tuiHint]="apy + '%'"
        [tuiManualHint]="apy"
        [tuiManualHintShow]="false"
        [tuiHintDirection]="'top-left'"
        [tuiHintShowDelay]="50"
        >{{ apy }}%</span
      >
    </td>
    <td class="deposit__ceil">
      <span class="deposit__end-date">{{ endDate }}</span>
    </td>
  </tr>
  <div class="deposit__btns">
    <button class="deposit__claim-rewards-btn deposit__btn">
      {{ 'staking.deposits.claimRewards' | translate }}
    </button>
    <button class="deposit__manage-btn deposit__btn">
      {{ 'staking.deposits.manage' | translate }}
    </button>
    <button class="deposit__out-btn deposit__btn">
      <img src="assets/images/icons/header/logout.svg" alt="Out" />
    </button>
  </div>
</div>
