@use 'src/scss/core' as *;

.window-container {
  padding: var(--tui-padding-m);

  background: var(--io-background);

  border-radius: var(--tui-radius-m);
  opacity: 1 !important;

  ::ng-deep & > footer > *:first-child {
    display: flex;
    margin-top: var(--tui-padding-m);
  }
}

header {
  padding: 8px var(--tui-padding-l) var(--tui-padding-m) var(--tui-padding-l);

  &:has(> *:empty) {
    display: none;
  }

  h5 {
    display: flex;
    align-items: center;
    height: 21px;
    margin: 0;

    font-size: 15px;

    &:empty {
      display: none;
    }
  }
}
@include b($mobile-md) {
  header {
    padding: var(--tui-padding-l) var(--tui-padding-m) var(--tui-padding-l);
  }

  .window-container {
    padding-top: 0;
  }
}
