.container {
  padding: 10px;

  background: var(--secondary-background);
  border-radius: 17px;
}

//::ng-deep header > *:last-child {
//  display: flex;
//  margin-bottom: 10px;
//}

::ng-deep footer > *:first-child {
  display: flex;
  margin-top: 10px;
}
