.container {
  padding: 10px;

  background: #3c3d44;
  border-radius: 17px;
}

::ng-deep header > *:last-child {
  display: flex;
  margin-bottom: 10px;
}

::ng-deep footer > *:first-child {
  display: flex;
  margin-top: 10px;
}
