.window-container {
  padding: 10px;

  background: var(--secondary-background);
  border-radius: var(--tui-radius-m);
}

::ng-deep footer > *:first-child {
  display: flex;
  margin-top: 10px;
}

header {
  padding: 5px 20px 15px;

  h5 {
    margin: 0;

    font-size: 15px;
  }
}
