<div class="instant-trade-bottom-form">
  <main class="instant-trade-bottom-form__body">
    <div class="instant-trade-bottom-form__body-top">
      <div class="instant-trade-bottom-form__body-top-wrapper">
        <div class="instant-trade-bottom-form__left-part">
          <app-select-asset-button-tokens formType="to"></app-select-asset-button-tokens>
        </div>

        <div
          class="instant-trade-bottom-form__amount"
          [ngClass]="{
            'instant-trade-bottom-form__amount__output_error': errorText
          }"
          *ngLet="allowTrade && isWrappingTrade as wrapProvider"
        >
          <ng-container *ngIf="errorText && fromAmount">
            {{ 'errors.tradingIsNotAvailable' | translate }}

            <div
              tuiHintAppearance="error"
              class="instant-trade-bottom-form__hint_error"
              [inlineSVG]="'/assets/images/icons/hint.svg'"
              [tuiHint]="errorText | translate"
            ></div>
          </ng-container>

          <div
            *ngIf="tradeStatus !== TRADE_STATUS.LOADING; else iframeSkeleton"
            class="instant-trade-bottom-form__token-amount"
          >
            <!--
            [ngClass]="{
              'instant-trade-bottom-form__token-amount_loading': tradeStatus === 2,
              'instant-trade-bottom-form__token-amount_placeholder': !(
                selectedProvider || wrapProvider
              )
            }"
          -->
            <ng-container *ngIf="(selectedProvider && toAmount) || (wrapProvider && fromAmount)">
              {{
                wrapProvider
                  ? (fromAmount | bigNumberFormat)
                  : (toAmount
                    | bigNumberFormat
                    | withRound : 'toClosestValue' : { decimals: toToken?.decimals })
              }}
              <app-tokens-rate></app-tokens-rate>
            </ng-container>
          </div>

          <ng-template #iframeSkeleton>
            <div class="instant-trade-bottom-form__amount_skeleton-container">
              <div class="tui-skeleton instant-trade-bottom-form__amount_skeleton"></div>
            </div>
          </ng-template>

          <ng-container *ngIf="selectedProvider || wrapProvider">
            <div class="instant-trade-bottom-form__iframe-info">
              <app-tokens-rate></app-tokens-rate>

              <div *ngIf="!wrapProvider && getGas(selectedProvider).gt(0)">
                Est. fee ${{ getGas(selectedProvider)?.toFixed(2) }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <app-providers-panels-container
      *ngIf="allowTrade && !isWrappingTrade"
      class="instant-trade-bottom-form__providers"
      [providersData]="providersData"
      (onSelectProvider)="onSelectProvider($event)"
    >
    </app-providers-panels-container>
    <app-target-network-address
      *ngIf="displayTargetAddressInput$ | async"
    ></app-target-network-address>
  </main>
</div>

<div class="instant-trade-bottom-form__swap">
  <app-swap-button-container
    [needApprove]="needApprove"
    [withApproveButton]="withApproveButton"
    [status]="tradeStatus"
    [buttonText]="!isWrappingTrade ? 'Swap' : isFromNative ? 'Wrap' : 'Unwrap'"
    (onSwapClick)="createTrade()"
    (onApproveClick)="approveTrade()"
    (onUpdateRateClick)="onSetHiddenData()"
  ></app-swap-button-container>
</div>
