@use 'src/scss/core' as *;

$green: rgb(74, 169, 86);

.instant-trade-bottom-form {
  padding: 30px 0 20px;

  &__hint_error {
    display: flex;
    align-items: center;

    width: 15px;
    margin-left: 10px;

    cursor: help;

    ::ng-deep {
      svg path {
        fill: $rubic-warning;
      }
    }
  }

  &__left-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__provider-badge {
    padding: 2px 6px;

    color: var(--primary-text);
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
  }

  &__providers {
    display: block;
    margin-top: 50px;

    @include b($mobile-md) {
      width: 100%;
      margin-top: 8px;

      background-color: var(--form-background);
      border: 1px solid var(--transparent-line);
      border-radius: 16px;
    }
  }

  &__body-top {
    @include b($mobile-md) {
      padding: 36px 20px 20px;

      background-color: var(--form-background);
      border: 1px solid var(--transparent-line);
      border-top: none;
      border-radius: 0 0 16px 16px;
    }

    @include b($mobile-sm) {
      // flex-direction: column;
      align-items: flex-start;
    }

    &-wrapper {
      position: relative;

      display: flex;
      grid-gap: 10px;
      justify-content: space-between;

      min-height: 60px;
      padding: 0;

      overflow: hidden;

      background: transparent;
      border: none;
    }
  }

  &__amount {
    text-align: right;

    &_skeleton {
      width: 200px;
      height: 40px;
    }

    &__output_error {
      display: flex;
      flex-direction: row;
      align-items: center;

      height: 35px;

      font-weight: 300;
      font-size: 16px;
      letter-spacing: 2px;
    }
  }

  &__token-amount {
    max-width: 300px;

    overflow: auto;

    color: var(--primary-text);
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.1em;

    scrollbar-width: none;

    transition: opacity ease-in-out 0.3s;

    &_loading {
      opacity: 0.25;
    }

    &_placeholder {
      color: rgb(117, 117, 117);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  app-tokens-rate {
    display: block;
    margin-top: 6px;
    margin-left: 20px;
  }

  &__swap {
    @include b($mobile-md) {
      app-swap-button-container {
        margin-top: 0 !important;
      }
    }

    app-swap-button-container {
      display: block;

      margin-top: 16px;
    }
  }

  app-target-network-address {
    display: block;
    margin-top: 10px;
  }
}

@include b($mobile-md) {
  .instant-trade-bottom-form {
    padding-top: 0;

    &__swap {
      transition-duration: 0.2s;

      &.loading-mobile {
        margin-top: 1rem;
      }
    }

    &__body-top {
      position: relative;
    }

    app-tokens-rate {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &__token-amount {
      height: 57px;
      margin-bottom: 0;
    }
  }
}

@include b($mobile-sm) {
  .instant-trade-bottom-form {
    &__token-amount {
      // text-align: left;
    }

    app-tokens-rate {
      margin-left: 0;
    }
  }
}
