@use 'src/scss/core' as *;

:host {
  @include iframe-horizontal {
    display: flex;
  }
}

$green: rgb(74, 169, 86);

.instant-trade-bottom-form {
  padding: 30px 0 20px;

  @include iframe-horizontal {
    position: relative;

    width: $iframe-horizontal-input-width;
    height: 50px;
    padding: 0 7px 0 16px;

    background: var(--main-background);

    border-radius: 10px;
  }

  @include iframe-horizontal-light {
    background-color: var(--rubic-base-14);
  }

  @include iframe-vertical {
    width: 100%;
    padding: 0 !important;

    background-color: transparent;
  }

  &__left-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @include iframe-horizontal {
      order: 2;
      margin-left: auto;
    }

    @include iframe-vertical {
      width: 100%;
      margin-bottom: 6px;
    }
  }

  &__provider-badge {
    padding: 2px 6px;

    color: var(--form-bright-text-color);
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
  }

  &__providers {
    display: block;
    margin-top: 50px;
  }

  &__body {
    @include iframe-vertical {
      position: relative;
    }

    @include iframe-horizontal {
      height: 100%;
    }
  }

  &__body-top {
    display: flex;
    justify-content: space-between;

    min-height: 60px;
    overflow: hidden;

    @include iframe-horizontal {
      align-items: center;
      width: 100%;

      height: 100%;

      min-height: unset;
    }

    @include b($mobile-sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include iframe-vertical {
      flex-direction: column;
      margin-bottom: 52px;
      overflow: visible;
    }
  }

  &__amount {
    text-align: right;

    @include iframe-horizontal {
      order: 1;
    }

    @include iframe-vertical {
      position: relative;

      display: flex;
      width: 100%;
      margin-bottom: 19px;

      app-iframe-blockchain-indicator {
        margin-right: 15px;
      }
    }

    &_skeleton-container {
      @include iframe-vertical {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        padding-left: 16px;

        background-color: var(--main-background);
        border-radius: 10px;
      }

      @include iframe-vertical-light {
        background-color: var(--rubic-base-14);
      }
    }

    &_skeleton {
      width: 200px;
      height: 40px;
    }
  }

  &__token-amount {
    max-width: 300px;

    overflow: auto;

    color: var(--form-bright-text-color);
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.1em;

    scrollbar-width: none;

    transition: opacity ease-in-out 0.3s;

    @include iframe-horizontal {
      margin-bottom: 0;

      font-size: 20px;
    }

    @include iframe-vertical {
      flex: 1;
      width: 100%;
      max-width: unset;
      height: 50px;
      margin-bottom: 0;
      padding-left: 16px;

      font-size: 20px;
      line-height: 50px;
      text-align: left;

      background-color: var(--main-background);

      border-radius: 10px;
    }

    @include iframe-vertical-light {
      background-color: var(--rubic-base-14);
    }

    &_loading {
      opacity: 0.25;
    }

    &_placeholder {
      color: rgb(117, 117, 117);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  app-tokens-rate {
    display: block;
    margin-top: 6px;
    margin-left: 20px;
  }

  &__iframe-info {
    position: absolute;
    bottom: -33px;
    left: 0;

    display: flex;
    align-items: center;

    > :first-child {
      margin-right: 5px;
    }

    > div {
      @include iframe-card;
    }
  }

  &__swap {
    @include iframe-vertical {
      padding: 0 !important;

      app-swap-button-container {
        width: 100%;

        margin-top: 16px !important;
      }
    }

    app-swap-button-container {
      display: block;

      margin-top: 16px;

      @include iframe-horizontal {
        margin-top: 0;
        margin-left: 12px;
      }
    }
  }

  app-target-network-address {
    display: block;
    margin-top: 10px;

    @include iframe-vertical {
      margin-top: 0;
    }
  }
}

@include b($mobile-md) {
  .instant-trade-bottom-form {
    padding: 20px;

    &__swap {
      padding: 0 20px;
    }

    &__token-amount {
      margin-bottom: 0;
    }
  }
}

@include b($mobile-sm) {
  .instant-trade-bottom-form {
    &__token-amount {
      text-align: left;
    }

    app-tokens-rate {
      margin-left: 0;
    }
  }
}
