<div
  class="swap-container"
  *ngLet="{
    swapInfo: swapInfo$ | async,
    showAllProviders: showAllProviders$ | async
  } as state"
>
  <div class="providers-switcher-wrapper">
    <div class="providers-switcher-container">
      Show all {{ selectedTab$ | async | lowercase }} providers
      <input
        tuiSwitch
        type="checkbox"
        size="s"
        [ngModel]="state.showAllProviders"
        (ngModelChange)="switchShowAllProviders($event)"
      />
    </div>
  </div>

  <div class="selectors-wrapper">
    <div
      class="selectors-container"
      [class.without-output]="!hasOutputContainer"
      [class.disabled]="state.showAllProviders"
      [tuiHint]="
        state.showAllProviders ? 'Disable “Show All Providers” to select chains and tokens.' : ''
      "
      tuiHintAppearance="error"
      tuiHintDirection="top-start"
    >
      <app-asset-selector
        [class.empty]="!state.swapInfo.fromAsset"
        selectorType="from"
        [asset]="state.swapInfo.fromAsset"
        [isDisabled]="state.showAllProviders"
        (handleAssetSelection)="openInputSelector()"
      >
        <ng-template #emptySelector let-isDisabled="isDisabled">
          <ng-container
            *ngTemplateOutlet="assestSelectorEmpty; context: { isDisabled: isDisabled }"
          ></ng-container>
        </ng-template>
      </app-asset-selector>

      <app-form-switcher
        *ngIf="hasOutputContainer"
        [isDisabled]="state.showAllProviders"
        (switcherClick)="revert()"
      ></app-form-switcher>

      <app-asset-selector
        *ngIf="hasOutputContainer"
        [class.empty]="!state.swapInfo.toAsset"
        selectorType="to"
        [asset]="state.swapInfo.toAsset"
        [isDisabled]="!state.swapInfo.fromAsset || state.showAllProviders"
        (handleAssetSelection)="openOutputSelector()"
      >
        <ng-template #emptySelector let-isDisabled="isDisabled">
          <ng-container
            *ngTemplateOutlet="assestSelectorEmpty; context: { isDisabled: isDisabled }"
          ></ng-container>
        </ng-template>
      </app-asset-selector>
    </div>
  </div>

  <div class="instruction-wrapper">
    <div class="instruction-container">
      {{
        !state.swapInfo.fromAsset || (hasOutputContainer && !state.swapInfo.toAsset)
          ? hasOutputContainer
            ? 'Enter a pair for your swap'
            : 'Enter a token for your transfer'
          : 'Set a provider for the next step'
      }}
    </div>
  </div>
</div>

<ng-template #assestSelectorEmpty let-isDisabled="isDisabled">
  <div class="empty-asset-selector">{{ isDisabled ? '' : 'Select a chain and a token' }}</div>
</ng-template>
