<app-window-container
  *ngLet="{
    swapInfo: swapInfo$ | async,
    loading: loading$ | async,
    displayReceiver: displayReceiver$ | async
  } as state"
>
  <div class="selectros-container">
    <app-asset-selector
      selectorType="from"
      [asset]="state.swapInfo.fromAsset"
      [isDisabled]="state.loading"
      (handleAssetSelection)="openInputSelector()"
    >
      <ng-template #emptySelector let-isDisabled="isDisabled">
        <ng-container
          *ngTemplateOutlet="assestSelectorEmpty; context: { isDisabled: isDisabled }"
        ></ng-container>
      </ng-template>
    </app-asset-selector>

    <app-form-switcher *ngIf="hasOutputContainer" (switcherClick)="revert()"></app-form-switcher>

    <app-asset-selector
      selectorType="to"
      [asset]="state.swapInfo.toAsset"
      [isDisabled]="!state.swapInfo.fromAsset || state.loading"
      (handleAssetSelection)="openOutputSelector()"
    >
      <ng-template #emptySelector let-isDisabled="isDisabled">
        <ng-container
          *ngTemplateOutlet="assestSelectorEmpty; context: { isDisabled: isDisabled }"
        ></ng-container>
      </ng-template>
    </app-asset-selector>
  </div>

  <div class="instruction-container">
    {{
      !state.swapInfo.fromAsset || !state.swapInfo.toAsset
        ? 'Enter a pair for your swap'
        : 'Set a provider for the next step'
    }}
  </div>
</app-window-container>

<ng-template #assestSelectorEmpty let-isDisabled="isDisabled">
  <div class="empty-asset-selector">{{ isDisabled ? '' : 'Select a chain and a token' }}</div>
</ng-template>
