@use 'src/scss/core' as *;

.selectros-container {
  position: relative;

  display: flex;
  gap: 2px;

  app-asset-selector {
    flex: 1;

    background: var(--io-background);

    &:first-child {
      padding: 12px 10px;

      border-radius: var(--tui-radius-m) 0 0 var(--tui-radius-m);
    }

    &:last-child {
      display: flex;
      justify-content: end;
      padding: 12px 20px 12px 0;

      border-radius: 0 var(--tui-radius-m) var(--tui-radius-m) 0;
    }
  }

  app-form-switcher {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: rotate(90deg);

    ::ng-deep {
      .switcher {
        transform: translate(-50%, 50%);
      }
    }
  }
}

.empty-asset-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;

  color: $text-gray-2;
  font-weight: 500;
  font-size: 15px;
}

.instruction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 12px;
  padding: 11px 0;

  font-weight: 500;
  font-size: 15px;

  border: 1px solid var(--io-background);
  border-radius: 17px;
}
