<app-window-container
  *ngLet="{
    swapInfo: swapInfo$ | async,
    loading: loading$ | async,
  } as state"
>
  <div class="selectros-container">
    <app-asset-selector
      left
      selectorType="from"
      [asset]="state.swapInfo.fromAsset"
      [isDisabled]="state.loading"
      (handleAssetSelection)="openInputSelector()"
    >
      <ng-template #emptySelector>
        <ng-container *ngTemplateOutlet="assestSelectorEmpty"></ng-container>
      </ng-template>
    </app-asset-selector>

    <app-form-switcher (switcherClick)="revert()"></app-form-switcher>

    <app-asset-selector
      left
      selectorType="to"
      [asset]="state.swapInfo.toAsset"
      (handleAssetSelection)="openOutputSelector()"
    >
      <ng-template #emptySelector>
        <ng-container *ngTemplateOutlet="assestSelectorEmpty"></ng-container>
      </ng-template>
    </app-asset-selector>
  </div>
</app-window-container>

<ng-template #assestSelectorEmpty>
  <div class="empty-asset-selector">Enter Chain and Token</div>
</ng-template>
