@use 'src/scss/core' as *;

:host {
  @include b(599) {
    width: 100%;
  }
}

.berachella-wallet-button {

  --tui-secondary: var(--tui-base-01);
  --tui-secondary-hover: var(--tui-secondary);
  --tui-secondary-active: #2c2d36;
  @include b(599) {
    width: 100%;
  }

  &__avatar {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}


