@import 'src/styles';

:host-context(html.dark) {
  .price-impact {
    &_yellow {
      color: #d8ba22fa;
    }

    &_red {
      color: #f54e4f;
    }
  }
}

.button-swap {
  &_warning-yellow {
    ::ng-deep {
      [tuiButton] {
        &._pressed {
          background-color: #d6bd27;
        }
      }

      tui-wrapper[data-appearance='secondary'] {
        background-color: #d6bd27;

        &[data-state='pressed'] {
          background-color: transparent !important;
        }
      }
    }
  }

  &_warning-red {
    ::ng-deep {
      [tuiButton] {
        &._pressed {
          background-color: #f5474a;
        }
      }

      tui-wrapper[data-appearance='secondary'] {
        background-color: #f5474a;

        &[data-state='pressed'] {
          background-color: transparent !important;
        }
      }
    }
  }

  &__hint {
    position: relative;
    top: -3px;

    height: 15px;
    margin-left: 6px;

    ::ng-deep {
      svg {
        path:not(:last-child),
        circle {
          fill: white;
          stroke: white;
        }

        path:last-child {
          stroke: white;
        }
      }
    }
  }
}

.price-impact {
  &_yellow {
    color: rgba(203, 174, 20);
  }

  &_red {
    color: #ff4c4d;
  }
}

::ng-deep {
  button {
    @include iframe-horizontal {
      font-size: 15px !important;
    }
  }
}
