<app-rubic-button
  [class]="idPrefix + 'button-swap'"
  [ngClass]="{
    'button-swap_warning-yellow':
      priceImpact >= PRICE_IMPACT_RANGE.MEDIUM && priceImpact < PRICE_IMPACT_RANGE.HIGH,
    'button-swap_warning-red': priceImpact >= PRICE_IMPACT_RANGE.HIGH
  }"
  [loading]="status === TRADE_STATUS.SWAP_IN_PROGRESS || status === TRADE_STATUS.LOADING || loading"
  [disabled]="disabled"
  (onClick)="onSwapClick()"
  appearance="secondary"
>
  {{
    priceImpact < PRICE_IMPACT_RANGE.MEDIUM
      ? buttonText
      : priceImpact < PRICE_IMPACT_RANGE.HIGH_DISABLED
      ? 'Swap Anyway'
      : 'Price impact too high'
  }}
</app-rubic-button>
