<app-rubic-button
  [class]="idPrefix + 'button-swap'"
  [ngClass]="{
    'button-swap_warning-yellow':
      (priceImpact >= PRICE_IMPACT_RANGE.MEDIUM && priceImpact < PRICE_IMPACT_RANGE.HIGH) ||
      priceImpact === null,
    'button-swap_warning-red': priceImpact >= PRICE_IMPACT_RANGE.HIGH
  }"
  appearance="secondary"
  [loading]="showLoader"
  [disabled]="disabled"
  (onClick)="onSwapClick()"
>
  {{
    !priceImpact || priceImpact < PRICE_IMPACT_RANGE.MEDIUM
      ? buttonText
      : priceImpact < PRICE_IMPACT_RANGE.HIGH_DISABLED
      ? 'Swap Anyway'
      : 'Price impact too high'
  }}
</app-rubic-button>
