.faq-accordion {
  --tui-text-secondary: var(--tui-background-accent-1);
  --tui-background-accent-opposite-pressed: var(--tui-background-accent-1-hover);

  ::ng-deep tui-accordion-item > .t-wrapper {
    &::after {
      border: none;
    }

    .t-title {
      font-size: 15px;
      white-space: inherit;
    }

    .t-content {
      font-size: 14px;
      font-style: italic;
    }
  }
}
