@use 'src/scss/core' as *;

@mixin assetImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

.asset {
  display: flex;

  &__symbol {
    @include font(14px, 17px, 500, #37373D, 0.03em);

    @include dark {
      color: #fff;
    }
  }

  &__asset-type {
    @include font(13px, 16px, 500, #8E8D91, 0.03em);
  }
}

.tx {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 10px;

  padding: 12px 16px;

  background-color: var(--io-background);
  border-bottom: 1px solid var(--tui-base-04);
  border-radius: var(--tui-padding-m);

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-label {
      @include font(12px, 17px, 400, #7a797d);

      @include dark {
        color: #8e8d91;
      }
    }

    &-value {
      display: flex;
      align-items: center;

      color: #8e8d91;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__asset-image {
    @include assetImage();
    width: 32px;
    height: 32px;
  }

  &__asset-symbol {
    @include font(14px, 17px, 500, #37373d);
    margin-right: 8px;

    @include dark {
      color: #e8e8ea;
    }
  }

  &__asset-type {
    @include font(12px, 17px, 400, #8e8d91);
  }

  &__status-from,
  &__status-to,
  &__to-continue {
    display: flex;

    text-decoration: none;

    &::after {
      margin-top: 2px;
      margin-left: 13px;

      content: url('/assets/images/icons/link-arrow.svg');
    }
  }

  &__to-continue {
    color: var(--main-green);
  }

  a.hide-arrow {
    cursor: default;

    pointer-events: none;

    &::after {
      visibility: hidden;
    }
  }
}

.status-from-copy-icon-mobile {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);
}

.mobile-recent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
}

.mobile-recent-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mobile-recent-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
