@use 'src/scss/core' as *;

@mixin assetImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

.tx {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 10px;

  padding: 12px 16px;

  background: var(--form-background);
  border: 1px solid var(--transparent-line);
  border-radius: 12px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-label {
      @include font(12px, 17px, 400, #7a797d);

      @include dark {
        color: #8e8d91;
      }
    }

    &-value {
      display: flex;
      align-items: center;

      color: #8e8d91;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__asset-image {
    @include assetImage();
    width: 32px;
    height: 32px;

    &:last-of-type {
      margin-left: -8px;
    }
  }

  &__asset-symbol {
    @include font(14px, 17px, 500, #37373d);
    margin-right: 8px;

    @include dark {
      color: #e8e8ea;
    }
  }

  &__asset-type {
    @include font(12px, 17px, 400, #8e8d91);
  }

  &__status-from,
  &__status-to,
  &__to-continue {
    display: flex;

    text-decoration: none;

    &::after {
      margin-left: 13px;

      content: url('/assets/images/icons/link-arrow.svg');
    }
  }

  &__to-continue {
    color: var(--main-green);
  }

  a.hide-arrow {
    cursor: default;

    pointer-events: none;

    &::after {
      visibility: hidden;
    }
  }
}
