<app-dropdown-selector
  [dropdownButtonTemplate]="dropdownButtonTemplate"
  [dropdownOptionsTemplates]="dropdownOptionsTemplates"
  iconRight="tuiIconChevronDown"
  (optionChange)="onLangChange($event)"
></app-dropdown-selector>

<ng-template #dropdownButtonTemplate>
  <button class="select" tabindex="0">
    <div class="select__current">
      {{ currentLanguage }}
    </div>
    <img src="assets/img/icons/arrow-down.svg" alt="Select language">
  </button>
</ng-template>

<ng-template #dropdownOptionTemplate *ngFor="let language of filteredLanguageList">
  <span class="dropdown-option">
    {{ language.title }}
  </span>
</ng-template>
