<tui-accordion class="step">
  <tui-accordion-item
    [class.tui-accordion-item__disabled]="locked"
    [disabled]="locked"
    [showArrow]="!locked"
    [size]="'s'"
  >
    <span class="step__counter">1</span>
    <span class="step__title">EXCHANGE DETAILS</span>
    @if (locked) {
      <app-step-locked-label></app-step-locked-label>
    }
    <ng-template tuiAccordionItemContent>
      <div class="step__content">I'm EXCHANGE DETAILS content</div>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
