<div class="deposit-form">
  <img
    src="assets/images/icons/back.svg"
    alt="Back"
    (click)="navigateBack()"
    class="deposit-form__back"
  />
  <div class="deposit-form__header">
    <img src="assets/images/icons/lp-providing/rbc.svg" alt="RBC" />
    <img src="assets/images/icons/lp-providing/usdc.svg" alt="USDC" />
    RBC / USDC
  </div>
  <div class="asset">
    <div class="asset__symbol-amount">
      <div class="asset__symbol">
        <img src="assets/images/icons/lp-providing/usdc.svg" alt="USDC" />
        USDC
      </div>
      <input
        type="text"
        class="asset__amount"
        name="usdc-amount"
        autocomplete="off"
        placeholder="0.0"
        appTokenAmount
        [decimals]="18"
        [formControl]="usdcAmountCtrl"
      />
    </div>
    <div class="asset__balance-usd-price">
      <div class="asset__balance" *ngIf="usdcBalance$ | async as usdcBalance">
        You have {{ usdcBalance | bigNumberFormat: 2:true }}
        <span class="asset__balance-max" (click)="setMaxTokenAmount(usdcBalance, 'usdc')">MAX</span>
      </div>
      <div class="asset__usd-price" *ngIf="usdcAmountUsdPrice$ | async as usdPrice">
        {{ usdPrice }}$
      </div>
    </div>
  </div>
  <div class="asset">
    <div class="asset__symbol-amount">
      <div class="asset__symbol">
        <img src="assets/images/icons/lp-providing/rbc.svg" alt="RBC" />
        RBC
      </div>
      <input
        type="text"
        class="asset__amount"
        name="rbc-amount"
        autocomplete="off"
        placeholder="0.0"
        appTokenAmount
        [decimals]="18"
        [formControl]="brbcAmountCtrl"
      />
    </div>
    <div class="asset__balance-usd-price">
      <div class="asset__balance" *ngIf="brbcBalance$ | async as brbcBalance">
        You have {{ brbcBalance | bigNumberFormat: 2:true }}
        <span class="asset__balance-max" (click)="setMaxTokenAmount(brbcBalance, 'brbc')">MAX</span>
      </div>
      <div class="asset__usd-price" *ngIf="rbcAmountUsdPrice$ | async as usdPrice">
        {{ usdPrice }}$
      </div>
    </div>
  </div>
  <div class="hint">
    <div class="hint__icon">
      <img src="assets/images/icons/info-warning.svg" alt="Info" />
    </div>
    <div class="hint__text">
      If you take the deposit ahead of time, a penalty of 10% will be assigned
    </div>
  </div>
  <div class="lp-time">
    <div class="lp-time__header">
      <div class="lp-time__header-text">
        {{ 'lpProviding.liquidityTime' | translate }}
        <span class="lp-time__header-days">{{ liquidityPeriodCtrl.value }} Days</span>
      </div>
      <div class="lp-time__header-hotkeys">
        <ng-container *ngFor="let key of liquidityPeriodHotkeys">
          <tui-tag
            status="custom"
            class="tag"
            [class.tag_selected]="liquidityPeriodInMonth[key] === liquidityPeriodCtrl.value"
            [value]="key"
            (click)="setLiquidityTimeHotkey(key)"
          ></tui-tag>
        </ng-container>
      </div>
    </div>
    <tui-slider
      class="lp-time__slider"
      [formControl]="liquidityPeriodCtrl"
      [max]="180"
      [steps]="180"
    ></tui-slider>
  </div>
  <app-stake-button
    [usdcAmount$]="usdcAmount$"
    [brbcAmount$]="brbcAmount$"
    [liquidityPeriod$]="liquidityPeriod$"
    [loading]="buttonLoading$ | async"
    (onApprove)="approveTokens($event)"
    (onStake)="stake()"
    (onSwitchNetwork)="switchNetwork()"
  ></app-stake-button>
</div>
