@use 'src/scss/core' as *;

.highlight {
  &_green {

    color: var(--primary-color);

    cursor: pointer;
  }
}

.modal {
  &__content {
    padding: 44px 20px;

    text-align: center;
  }

  &__title {
    margin: 30px auto 40px;

    font-size: 25px;
    line-height: 30px;

    &-points {
      margin: 30px auto 19px;

      color: var(--primary-color);
    }
  }

  &__point-subtitle {
    display: block;
    max-width: 262px;
    margin: 0 auto 17px;

    font-size: 16px;
    line-height: 120%;

    letter-spacing: 0.03em;
  }

  &__footer-text {
    line-height: 1.3;

    &_warning {
      color: #d6bd27;
    }
  }

  &__footer-link {
    display: inline-block;

    font-size: 17px;
    line-height: 1.3;

    cursor: pointer;
  }

  app-rubic-button {
    display: block;

    margin-top: 25px;
  }
}
