<ng-container>
  <ng-container *ngLet="isAuth$ | async as isAuth">
    <button
      tuiButton
      appearance="secondary"
      type="button"
      (click)="navigateToSwapAndEarn()"
      size="m"
    >
      <img class="image" src="assets/images/rbc-white.png" alt="" />
      <ng-container *ngIf="isAuth; else text">
        <span>{{ points$ | async }}</span>
      </ng-container>
    </button>
    <ng-template #text>
      <span>Swap to Earn</span>
    </ng-template>
  </ng-container>
</ng-container>
