@use 'src/scss/core' as *;

:host {
  margin-right: 20px;

  background-color: rgb(0, 226, 142);
  border-radius: 25px;

  ::ng-deep app-rubic-button {
    tui-wrapper {
      padding: 0 1.4rem !important;

      .content {
        font-size: 16px !important;
      }
    }

    tui-wrapper[data-appearance='secondary'] {
      background-color: rgb(0, 226, 142) !important;
    }
  }
}

.image {
  height: 34px;
  margin-right: 10px;
}
