:host {
  margin-top: 8px;
}

.provider-panel-mobile {
  padding: 12px 20px;

  text-align: left;

  background-color: var(--form-background);
  border: 1px solid var(--transparent-line);
  border-radius: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__founded-provider {
    display: flex;
    gap: 0.5rem;
    align-self: center;
  }

  &__logo {
    width: 32px;
    height: 32px;

    background-color: transparent;
    border-radius: 50%;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &__provider-name {
    display: flex;
    align-self: center;

    font-weight: 600;
    font-size: 14px;
  }

  &__rate {
    color: #aaa;
  }

  &__best {
    margin-left: 1rem;
    padding: 4px 12px;

    color: var(--mobile-ccr-best-route-label-text);

    background: var(--mobile-ccr-best-route-label-background);
    border-radius: 30px;

    &--loading {
      display: none;
    }
  }

  &__expand {
    &--loading {
      display: none;
    }

    ::ng-deep {
      svg {
        display: block;

        path {
          fill: var(--mobile-ccr-best-route-label-text);
        }
      }
    }
  }
}

.provider {
  &-skeleton-wrapper {
    display: flex;
    align-items: center;
  }

  &-logo-skeleton {
    width: 32px;
    height: 32px;
    margin-right: 8px;

    border-radius: 50%;
  }

  &-label-skeleton {
    width: 80px;
    height: 16px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.providers-animation {
  position: relative;
  z-index: 0;

  overflow: hidden;

  border-radius: 16px;

  &::before {
    position: absolute;
    top: -30%;
    left: -10%;
    z-index: -2;

    width: 200%;
    height: 100px;

    background-color: var(--form-background);
    background-image: conic-gradient(transparent, rgba(0, 226, 142, 1), transparent 30%);
    background-repeat: no-repeat;
    background-position: 0 0;

    animation: rotate 3s linear infinite;

    content: '';
  }

  &::after {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1;

    width: calc(100% - 3px);
    height: calc(100% - 4px);

    background: var(--form-background);
    border-radius: 16px;

    content: '';
  }
}
