<div class="retrodrop">
  <app-round-row-container
    round="1"
    claimData="24.08.2023 - 24.02.2024"
    [isAlreadyClaimed]="isAlreadyClaimed$ | async"
    [isClosed]="false"
  ></app-round-row-container>
  <app-round-row-container
    round="2"
    claimData="24.09.2023 - 24.03.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
    [isSoon]="true"
  ></app-round-row-container>
  <app-round-row-container
    round="3"
    claimData="24.10.2023 - 24.04.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
    [isSoon]="true"
  ></app-round-row-container>
  <app-round-row-container
    round="4"
    claimData="24.11.2023 - 24.05.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
    [isSoon]="true"
  ></app-round-row-container>
  <app-round-row-container
    round="5"
    claimData="24.12.2023 - 24.06.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
    [isSoon]="true"
  ></app-round-row-container>
  <app-round-row-container
    round="6"
    claimData="24.01.2024 - 24.07.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
    [isSoon]="true"
  ></app-round-row-container>
  <app-round-row-container
    round="7"
    claimData="24.02.2024 - 24.08.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
    [isSoon]="true"
  ></app-round-row-container>
  <app-round-row-container
    round="8"
    claimData="24.03.2024 - 24.09.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
    [isSoon]="true"
  ></app-round-row-container>
  <app-round-row-container
    round="9"
    claimData="24.04.2024 - 24.10.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
    [isSoon]="true"
  ></app-round-row-container>
  <app-round-row-container
    round="10"
    claimData="24.05.2024 - 24.11.2024"
    [isSoon]="true"
  ></app-round-row-container>
  <app-round-row-container
    round="11"
    claimData="24.06.2024 - 24.12.2024"
    [isSoon]="true"
  ></app-round-row-container>
  <app-round-row-container
    round="12"
    claimData="24.07.2024 - 24.01.2025"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
    [isSoon]="true"
  ></app-round-row-container>
</div>
