<div class="retrodrop">
  <app-round-row-container
    roundNumber="1"
    claimData="24.08.2023 - 24.02.2024"
    [isAlreadyClaimed]="isAlreadyClaimed$ | async"
    [isClosed]="false"
  ></app-round-row-container>
  <app-round-row-container
    roundNumber="2"
    claimData="24.09.2023 - 24.03.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
  ></app-round-row-container>
  <app-round-row-container
    roundNumber="3"
    claimData="24.10.2023 - 24.04.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
  ></app-round-row-container>
  <app-round-row-container
    roundNumber="4"
    claimData="24.11.2023 - 24.05.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
  ></app-round-row-container>
  <app-round-row-container
    roundNumber="5"
    claimData="24.12.2023 - 24.06.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
  ></app-round-row-container>
  <app-round-row-container
    roundNumber="6"
    claimData="24.01.2024 - 24.07.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
  ></app-round-row-container>
  <app-round-row-container
    roundNumber="7"
    claimData="24.02.2024 - 24.08.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
  ></app-round-row-container>
  <app-round-row-container
    roundNumber="8"
    claimData="24.03.2024 - 24.09.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
  ></app-round-row-container>
  <app-round-row-container
    roundNumber="9"
    claimData="24.04.2024 - 24.10.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
  ></app-round-row-container>
  <app-round-row-container
    roundNumber="10"
    claimData="24.05.2024 - 24.11.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
  ></app-round-row-container>
  <app-round-row-container
    roundNumber="11"
    claimData="24.06.2024 - 24.12.2024"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
  ></app-round-row-container>
  <app-round-row-container
    roundNumber="12"
    claimData="24.07.2024 - 24.01.2025"
    [isAlreadyClaimed]="true"
    [isClosed]="true"
  ></app-round-row-container>
</div>
