@use 'src/scss/core' as *;

.switcher {
  z-index: 999;

  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 32px;
  height: 32px;
  padding: 0;

  background-color: white;
  border: 2px solid var(--secondary-background);
  border-radius: 50%;

  transform: translateY(-50%);

  cursor: pointer;

  transition: 0.2s ease-in-out;

  &__img-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease-in-out;
  }

  &:hover {
    background-color: var(--secondary-background);

    .switcher__img-container {
      rotate: 180deg;
    }
  }

  img {
    &:first-child {
      transform: rotate(180deg);
    }
  }
}

.disabled {
  cursor: default;
  opacity: 0.7;
}
