<ng-container
  *ngLet="{ data: data$ | async, direction: direction$ | async, sorter: sorter$ | async } as state"
>
  <table
    *ngIf="device === 'desktop'; else mobileView"
    tuiTable
    class="table"
    [columns]="columns"
    [direction]="state.direction || 1"
    [tuiSortBy]="state.sorter"
    (directionChange)="changeDirection($event)"
    (tuiSortByChange)="changeSorting($event)"
  >
    <thead>
      <tr tuiThGroup>
        <th *tuiHead="'from'" [sorter]="null" tuiTh>{{ 'recentTrades.from' | translate }}</th>
        <th *tuiHead="'to'" [sorter]="null" tuiTh>{{ 'recentTrades.to' | translate }}</th>
        <th *tuiHead="'blockchain'" [sorter]="null" tuiTh>Blockchain</th>
        <th *tuiHead="'date'" tuiTh>{{ 'recentTrades.date' | translate }}</th>
        <th *tuiHead="'status'" [sorter]="null" tuiTh>Status</th>
        <th *tuiHead="'provider'" [sorter]="null" tuiTh>Provider</th>
      </tr>
    </thead>
    <tbody *tuiLet="state.data | tuiTableSort as sortedData" tuiTbody [data]="sortedData">
      <tr *ngFor="let innerItem of sortedData" tuiTr>
        <ng-container *ngLet="getItem(innerItem) as item">
          <td *tuiCell="'from'" tuiTd>
            <div class="token-container">
              <div class="token-container__inner">
                <img
                  class="token-container__main-image"
                  [src]="item.fromToken.image"
                  [alt]="item.fromToken.symbol"
                  (error)="onImageError($event)"
                />

                {{ item.fromToken.amount | bigNumberFormat | shortenAmount : 6 : 4 : true }}
                {{ item.fromToken.symbol }}
              </div>
            </div>
          </td>
          <td *tuiCell="'to'" tuiTd>
            <div class="token-container">
              <div class="token-container__inner">
                <img
                  class="token-container__main-image"
                  [src]="item.toToken.image"
                  [alt]="item.toToken.symbol"
                  (error)="onImageError($event)"
                />
                {{ item.toToken.amount | bigNumberFormat | shortenAmount : 6 : 4 : true }}
                {{ item.toToken.symbol }}
              </div>
            </div>
          </td>
          <td *tuiCell="'blockchain'" tuiTd>
            <div class="token-container">
              <div class="token-container__inner" *ngIf="item?.blockchain?.image">
                <img
                  class="token-container__main-image"
                  [src]="item.blockchain.image"
                  [alt]="item.blockchain.label"
                />
                {{ item.blockchain.label }}
              </div>
            </div>
          </td>
          <td *tuiCell="'date'" tuiTd>
            {{ item?.date | date : 'MMM dd, yyyy' }}
            {{ ' at ' + (item?.date | date : 'h:mm') }}
          </td>
          <td *tuiCell="'status'" tuiTd>
            <a
              *ngIf="item.tx?.status"
              class="token-container__inner"
              [safetyLink]="item.tx?.explorerLink"
            >
              <app-rubic-badge [status]="item.tx.status.appearance" [label]="item.tx.status.label">
              </app-rubic-badge>
              <img
                *ngIf="item.tx.explorerLink"
                [safetyLink]="item.tx?.explorerLink"
                class="status-from-link-arrow"
                src="assets/images/icons/arrow/link-arrow.svg"
                alt="link-arrow"
              />
            </a>
          </td>
          <td *tuiCell="'provider'" tuiTd>
            <div class="provider-container">
              <!--              <img-->
              <!--                class="provider-container__image"-->
              <!--                [src]="item.provider.image"-->
              <!--                [alt]="item.provider.name"-->
              <!--              />-->
              <!--              {{ item.provider.name }}-->
              {{ item?.provider?.name || 'Unknown' }}
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>

  <ng-template #mobileView>
    <div class="mobile-view">
      <div class="mobile-view__card" *ngFor="let item of state.data">
        <div class="mobile-view__card-header">
          <div class="mobile-view__from-field">
            <div class="token-container__inner">
              <img
                class="token-container__main-image"
                [src]="item.fromToken.image"
                [alt]="item.fromToken.symbol"
                (error)="onImageError($event)"
              />

              {{ item.fromToken.amount | bigNumberFormat | shortenAmount : 6 : 4 : true }}
              {{ item.fromToken.symbol }}
            </div>
          </div>
          <div class="mobile-view__to-field">
            <div class="token-container__inner">
              <img
                class="token-container__main-image"
                [src]="item.toToken.image"
                [alt]="item.toToken.symbol"
                (error)="onImageError($event)"
              />

              {{ item.toToken.amount | bigNumberFormat | shortenAmount : 6 : 4 : true }}
              {{ item.toToken.symbol }}
            </div>
          </div>
        </div>

        <div class="mobile-view__row">
          <div class="mobile-view__row-key">Blockchain</div>
          <div class="mobile-view__row-value">
            <div class="token-container__inner" *ngIf="item?.blockchain?.image">
              <img
                class="token-container__main-image"
                [src]="item.blockchain.image"
                [alt]="item.blockchain.label"
              />
              {{ item.blockchain.label }}
            </div>
          </div>
        </div>

        <div class="mobile-view__row">
          <div class="mobile-view__row-key">{{ 'recentTrades.date' | translate }}</div>
          <div class="mobile-view__row-value">
            {{ item?.date | date : 'MMM dd, yyyy' }} {{ ' at ' + (item?.date | date : 'h:mm') }}
          </div>
        </div>

        <div class="mobile-view__row">
          <div class="mobile-view__row-key">{{ 'recentTrades.statusFrom' | translate }}</div>
          <div class="mobile-view__row-value">
            <a
              *ngIf="item.tx?.status"
              class="token-container__inner"
              [safetyLink]="item.tx?.explorerLink"
            >
              <app-rubic-badge [status]="item.tx.status.appearance" [label]="item.tx.status.label">
              </app-rubic-badge>
              <img
                *ngIf="item.tx.explorerLink"
                [safetyLink]="item.tx?.explorerLink"
                class="status-from-link-arrow"
                src="assets/images/icons/arrow/link-arrow.svg"
                alt="link-arrow"
              />
            </a>
          </div>
        </div>

        <div class="mobile-view__row">
          <div class="mobile-view__row-key">Provider</div>
          <div class="mobile-view__row-value">
            <div class="provider-container">
              <!--              <img-->
              <!--                class="provider-container__image"-->
              <!--                [src]="item.provider.image"-->
              <!--                [alt]="item.provider.name"-->
              <!--              />-->
              <!--              {{ item.provider.name }}-->
              {{ item?.provider?.name || 'Unknown' }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-container *ngLet="totalPages$ | async as totalPages">
  <tui-pagination
    *ngIf="totalPages > 0"
    [index]="(page$ | async) || 0"
    [length]="totalPages"
    (indexChange)="changePage($event)"
  ></tui-pagination>
</ng-container>
