@use '../../../../scss/core' as *;

.modal {
  &__content {
    padding: 35px 20px 0;

    text-align: center;

    @include b($tablet) {
      padding: 10px;
    }
  }

  &__footer {
    margin-top: 20px;

    &-text {
      margin-bottom: 18px;

      @include b($tablet) {
        font-size: 16px;
        line-height: 24px;
      }

      img {
        margin-left: 8px;
      }

    }

    &-actions {
      display: flex;
      gap: 16px;
      padding-top: 16px;

      app-rubic-button {
        width: 100%;
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 80px;

    img {
      width: 120px;
    }
  }

  &__footer {
    &-text {
      @include font(20px, 32px, 500, var(--primary-text));

      img {
        margin-left: 4px;
      }
    }
  }

  h3 {
    font-size: 18px;
    text-align: left;
  }

  ::ng-deep app-rubic-button button {
    float: left;
    width: 150px;
  }
}
