@use '../../../../scss/core' as *;

.modal {
  &__content {
    padding: 35px 20px 0;

    text-align: center;

    @include b($tablet) {
      padding: 10px;
    }
  }

  &__footer {
    margin-top: 20px;

    &-text {
      margin-bottom: 18px;

      @include b($tablet) {
        font-size: 16px;
        line-height: 24px;
      }

      img {
        margin-left: 8px;
      }

    }

    &-actions {
      display: flex;
      gap: 16px;
      padding-top: 16px;

      app-rubic-button {
        width: 100%;
      }
    }
  }

  /* stylelint-disable */
  @include iframe-horizontal {
    display: flex;
    align-items: center;

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0;
    }

    &__body {
      margin-right: 80px;
      height: 100%;
      display: flex;
      align-items: center;

      img {
        width: 120px;
      }
    }

    &__footer {

      &-text {
        @include font(20px, 32px, 500, var(--primary-text));

        img {
          margin-left: 4px;
        }
      }
    }

    h3 {
      text-align: left;
      font-size: 18px;
    }

    ::ng-deep app-rubic-button button {
      width: 150px;
      float: left;
    }
  }
}
