<div class="deposit-form">
  <img
    src="assets/images/icons/arrow/long-arrow-left.svg"
    alt="Back"
    (click)="navigateBack()"
    class="deposit-form__back"
  />
  <div class="deposit-form__header">
    <img src="assets/images/icons/lp-providing/rbc.svg" alt="RBC" />
    <img src="assets/images/icons/lp-providing/usdc.svg" alt="USDC" />
    Deposit
  </div>
  <div class="asset">
    <div class="asset__symbol-amount">
      <div class="asset__symbol">
        <img src="assets/images/icons/lp-providing/rbc.svg" alt="RBC" />
        BRBC
      </div>
      <input
        type="text"
        class="asset__amount"
        name="rbc-amount"
        autocomplete="off"
        placeholder="0.0"
        appTokenAmount
        [decimals]="18"
        [formControl]="brbcAmountCtrl"
      />
    </div>
    <div class="asset__balance-usd-price">
      <div class="asset__balance" *ngLet="brbcBalance$ | async as brbcBalance">
        You have {{ brbcBalance ? (brbcBalance | bigNumberFormat: 2:true) : 0 }}
        <span class="asset__balance-max" (click)="setMaxTokenAmount(brbcBalance, poolToken.BRBC)">
          MAX
        </span>
      </div>
      <div class="asset__usd-price" *ngIf="rbcAmountUsdPrice$ | async as usdPrice">
        {{ usdPrice }}$
      </div>
    </div>
  </div>
  <div class="asset-and-hint" [class.asset-and-hint_opened]="usdcDepositOpened$ | async">
    <div class="asset">
      <div class="asset__symbol-amount">
        <div class="asset__symbol">
          <img src="assets/images/icons/lp-providing/usdc.svg" alt="USDC" />
          USDC
        </div>
        <input
          type="text"
          class="asset__amount"
          name="usdc-amount"
          autocomplete="off"
          placeholder="0.0"
          appTokenAmount
          [decimals]="18"
          [formControl]="usdcAmountCtrl"
        />
      </div>
      <div class="asset__balance-usd-price">
        <div class="asset__balance"></div>
        <div class="asset__usd-price">300$</div>
      </div>
    </div>
    <div class="hint">
      <div class="hint__icon">
        <img src="assets/images/icons/info-warning.svg" alt="Info" />
      </div>
      <div class="hint__text">
        If you take the deposit ahead of time, a penalty of 10% will be assigned
      </div>
    </div>
  </div>
  <app-deposit-button
    class="deposit"
    [usdcAmount$]="usdcAmount$"
    [brbcAmount$]="brbcAmount$"
    [loading]="buttonLoading$ | async"
    (onLogin)="login()"
    (onApprove)="approveTokens($event)"
    (onCreateDeposit)="createDeposit()"
    (onSwitchNetwork)="switchNetwork()"
  ></app-deposit-button>
</div>
