<div class="deposit-form" *ngLet="isDarkTheme$ | async as isDarkTheme">
  <img
    [src]="
      isDarkTheme
        ? 'assets/images/icons/arrow/long-arrow-left.svg'
        : 'assets/images/icons/arrow/long-arrow-left-black.svg'
    "
    alt="Back"
    (click)="navigateBack()"
    class="deposit-form__back"
  />
  <div class="deposit-form__header">
    <img src="assets/images/icons/lp-providing/usdc.svg" alt="USDC" />
    <img src="assets/images/icons/lp-providing/rbc.svg" alt="RBC" />
    Deposit
  </div>
  <hr class="deposit-form__header-divider" />
  <div class="asset">
    <div class="asset__symbol-amount">
      <div class="asset__symbol">
        <img src="assets/images/icons/staking/brbc-bsc.svg" alt="RBC" />
        BRBC
      </div>
      <input
        type="text"
        class="asset__amount"
        name="rbc-amount"
        autocomplete="off"
        placeholder="0.0"
        appTokenAmount
        inputmode="decimal"
        [decimals]="18"
        [formControl]="brbcAmountCtrl"
      />
    </div>
    <div class="asset__balance-usd-price">
      <div class="asset__balance" *ngLet="brbcBalance$ | async as brbcBalance">
        {{ 'common.have' | translate }}
        {{
          brbcBalance
            ? (brbcBalance | bigNumberFormat | withRound: 'fixedValue':{ decimals: 2 })
            : 0
        }}
        <span class="asset__balance-max" (click)="setMaxTokenAmount(brbcBalance)"> MAX </span>
      </div>
      <div class="asset__usd-price" *ngIf="rbcAmountUsdPrice$ | async as usdPrice">
        <span class="asset__usd-price-value">{{
          !usdPrice.isFinite() || !usdPrice ? 0 : (usdPrice | bigNumberFormat: 2)
        }}</span>
        $
      </div>
    </div>
  </div>
  <div class="asset-and-hint" [class.asset-and-hint_opened]="usdcDepositOpened$ | async">
    <div class="asset">
      <div class="asset__symbol-amount">
        <div class="asset__symbol">
          <img src="assets/images/icons/lp-providing/usdc.svg" alt="USDC" />
          USDC
        </div>
        <input
          type="text"
          class="asset__amount"
          name="usdc-amount"
          autocomplete="off"
          placeholder="0.0"
          inputmode="decimal"
          appTokenAmount
          [disabled]="true"
          [decimals]="18"
          [formControl]="usdcAmountCtrl"
        />
      </div>
      <div class="asset__balance-usd-price">
        <div class="asset__balance" *ngLet="usdcBalance$ | async as usdcBalance">
          You have
          {{
            usdcBalance
              ? (usdcBalance | bigNumberFormat | withRound: 'fixedValue':{ decimals: 2 })
              : 0
          }}
        </div>
      </div>
    </div>
    <div class="hint">
      <div class="hint__icon">
        <img src="assets/images/icons/info-warning.svg" alt="Info" />
      </div>
      <div class="hint__text">
        {{ 'lp.earlyWithdrawHint' | translate }}
      </div>
    </div>
  </div>
  <app-deposit-button
    class="deposit"
    [usdcAmount$]="usdcAmount$"
    [brbcAmount$]="brbcAmount$"
    [loadingDepositBtn]="loadingDepositBtn$ | async"
    [loadingUsdcApproveBtn]="loadingUsdcApproveBtn$ | async"
    [loadingBrbcApproveBtn]="loadingBrbcApproveBtn$ | async"
    (onLogin)="login()"
    (onApprove)="approveTokens($event)"
    (onCreateDeposit)="createDeposit()"
    (onSwitchNetwork)="switchNetwork()"
  ></app-deposit-button>
</div>
