@use '../../../../../scss/core' as *;

:host {
  display: block;
  padding-bottom: 32px;
}

.modal {
  &__content {
    padding: 35px 20px 0;

    text-align: center;

    @include b($tablet) {
      padding: 0;
    }
  }

  &__body-text {
    @media (min-width: 2560px) {
      font-size: 24px;
    }

    @media (min-width: 3840px) {
      font-size: 38px;
      line-height: 45px;
    }
  }

  &__footer {
    margin-top: 20px;

    &-text {
      @include font(24px, 32px, 500, var(--rubic-base-02));
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 18px;

      @include b($tablet) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-actions {
      display: flex;
      gap: 16px;
      padding-top: 16px;

      app-rubic-button {
        width: 100%;

        @media (min-width: 2560px) {
          ::ng-deep button {
            font-size: 24px;
          }
        }

        @media (min-width: 3840px) {
          ::ng-deep button {
            font-size: 38px;
          }
        }
      }
    }
  }
}
