<tui-loader [showLoader]="depositsLoading$ | async" [overlay]="true">
  <div class="deposits">
    <div class="deposits__head">
      <div class="deposits__title">Your Deposits</div>
      <div class="deposits__actions">
        <app-rubic-button
          class="deposits__actions-create"
          appearance="secondary"
          (click)="navigateToDepositForm(false)"
          size="s"
          [disabled]="isPoolFull || isLpEnded"
        >
          <ng-container *ngIf="isPoolFull"> Pool Is Full </ng-container>
          <ng-container *ngIf="isLpEnded"> LP Round Ended </ng-container>
          <ng-container *ngIf="!isPoolFull && !isLpEnded"> + Create New deposit </ng-container>
        </app-rubic-button>
        <app-rubic-button appearance="outline" (onClick)="showTransferModal()"
          >Transfer LP Token</app-rubic-button
        >
      </div>
    </div>
    <div class="deposits__list">
      <ng-container *ngFor="let deposit of deposits$ | async">
        <app-deposit-card
          [deposit]="deposit"
          [loading]="(processingTokenId$ | async) === deposit.tokenId"
          (onCollectRewards)="collectReward(deposit.tokenId)"
          (onRequestWithdraw)="requestWithdraw(deposit.tokenId, deposit.USDCAmount)"
          (onWithdraw)="withdraw(deposit.tokenId)"
        ></app-deposit-card>
      </ng-container>
    </div>
  </div>
</tui-loader>
