@use 'src/scss/core' as *;

.deposits {
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  &__title {
    @include font(20px, 24px, 500, var(--rubic-base-02));
  }

  &__actions {
    display: flex;
    align-items: center;

    &-create {

      @include font(16px, 19px, 500, #fff);
      width: 131px;

      border-radius: 100px;

      &:not(:first-child) {
        margin-left: 20px;
      }

      ::ng-deep button {
        height: 31px;
      }
    }
  }

  &__list {
    app-deposit-card {
      display: block;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}
