@import 'src/scss/vars';
@import 'src/scss/mixins';

$font-family: 'Ubuntu', Arial, sans-serif;

:host {
  display: block;
  width: 100%;
}

.team-page {
  position: relative;

  font-weight: normal;
  font-family: $font-family !important;

  background-color: white;
  border-radius: 10px;

  &__container {
    padding: 80px 80px 0;
  }

  &__title {
    grid-column: 1 / -1;
    width: 100%;
    margin: 0 0 55px;

    color: $rubic-primary;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
  }

  &__content-wrapper {
    position: relative;

    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(0, 320px));
    justify-content: center;
    width: 100%;
  }

  &__card {
    z-index: 1;

    max-width: 320px;
    margin-bottom: 60px;
  }

  &__triangles {
    position: absolute;
    top: 720px;
    left: -80px;
  }

  &__triangles-rotated {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@include b($laptop) {
  .team-page {
    &__container {
      padding: 30px 25px 0;
    }
  }
}

@include b($mobile-md) {
  .team-page {
    &__title {
      margin-bottom: 25px;
    }

    &__card {
      margin-bottom: 20px;
    }
    
    &__triangles {
      display: none;
    }
  }
}

@include b($mobile-sm) {
  .team-page {
    &__container {
      padding: 30px 15px 0;
    }
  }
}
