<div class="team-page">
  <div class="team-page__container">

    <main class="team-page__content-wrapper">
      <div class="team-page__title">{{ 'teamPage.title' | translate }}</div>
      <div class="team-page__card" *ngFor="let card of cards">
        <app-team-card [content]="card"> </app-team-card>
      </div>
      <img
        class="team-page__triangles"
        src="assets/images/icons/Triangles.svg"
        alt="Decorative triangles"
      />
    </main>
  </div>

  <img
    class="team-page__triangles-rotated"
    src="assets/images/icons/TrianglesRotated.svg"
    alt="Decorative triangles"
  />

  <div class="scroll-top-btn" id="scroll-btn"></div>
</div>
