@import '../../../../../../scss/elements/vars';

.main-page {

  max-width: 1180px;
  margin: 85px auto 0;

  &,
  * {
    box-sizing: border-box;
  }

  &__intro {
    padding-top: 40px;
    margin-bottom: 60px;

    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    color: rgba(#000, 0.4);

    .app-index__intro_bold {
      font-weight: 700;
    }

    .app-index__intro_green {
      color: #4aa956;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #110931;
  }
}

.toggle {
  float: right;

  &:hover {
    .toggle__arrow-button {
      transform: scale(1.2);
    }
  }

  &__text {
    margin-right: 10px;

    color: $main-green;
    font-size: 14px;
    line-height: 16px;
  }

  &__arrow-button {
    height: 17px;
    width: 17px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2px;

    background-color: #fff;
    border-radius: 50%;

    transition: transform 0.2s linear;
  }
}

.disclaimer-text {
  font-size: 14px;
  line-height: 40px;
  color: #000;
  margin-top: 0;
  margin-bottom: 20px;
}

app-volume-block {
  display: block;
  margin-bottom: 35px;
}

@media (max-width: 1240px) {
  .main-page {
    padding: 0 2vw;
  }
}
