<div class="main-page">
  <div class="main-page__intro">
    {{ 'Make trades on your terms, share and generate revenue' | translate }}
  </div>

  <div class="main-page__title">
    <span>{{ 'Create your Trade' | translate }}</span>
    <a routerLink="/bridge" class="toggle">
      <span class="toggle__text">Cross-chain swaps beta</span>
      <div class="toggle__arrow-button">
        <img src='../../../../../../assets/images/icons/arrow/arrow-right-green.svg' alt="Arrow" />
      </div>
    </a>
  </div>

  <ng-container [ngSwitch]="selectedMode">
    <app-instant-trades *ngSwitchCase="TRADE_MODE.INSTANT_TRADE"></app-instant-trades>
    <app-order-books *ngSwitchCase="TRADE_MODE.ORDER_BOOK"></app-order-books>
  </ng-container>

  <div
    class="disclaimer-text"
    [innerHTML]="
      'By trading on our platform you agree with the following terms and conditions' | translate
    "
  ></div>

  <app-collaborations></app-collaborations>
</div>

<app-footer></app-footer>
