@import 'src/scss/vars';
@import 'src/scss/mixins';

$green: rgb(74, 169, 86);

.instant-trade-bottom-form {
  margin-bottom: 15px;
  padding: 15px 20px 30px;

  background-color: white;
  border-radius: 0 0 14px 14px;

  &__provider-item:first-child {
    grid-column: span 2;
  }

  &__provider-item:not(:first-child) {
    grid-column: span 1;
  }

  &__provider-item:not(:nth-child(2n+1)):last-child {
    grid-column: span 2;

    ::ng-deep .provider-panel__body {
      flex-direction: row;
    }
  }

  &__header {
    margin-bottom: 20px;
  }

  &__left-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__provider-badge {
    padding: 2px 6px;

    color: gray;
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;

    background: #f3f9f3;
    border-radius: 3px;
  }

  &__providers {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }

  &__body-top {
    display: flex;
    justify-content: space-between;
  }

  &__token-amount {
    max-width: 300px;
    margin-bottom: 13px;

    overflow: auto;

    color: #283125;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.1em;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__usd-amount {
    color: rgba(144, 144, 144, 0.6);
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-align: right;
  }

  &__title {
    margin: 0;

    font-weight: 300;
    font-size: 16px;
  }

  &__analytics {
    span {
      margin-left: 10px;

      color: $green;
      font-weight: 500;
      font-size: 16px;
    }
  }
}

@include b($mobile-md) {
  .instant-trade-bottom-form {
    &__swap {
      padding: 0 20px;
    }
  }
}
