<div class="instant-trade-bottom-form" *ngLet="((isIframe$ | async) !== true) as standardMode">
  <main class="instant-trade-bottom-form__body">
    <div class="instant-trade-bottom-form__body-top">
      <div class="instant-trade-bottom-form__left-part">
        <app-rubic-tokens
          [loading]="loading"
          formType="to"
          [tokens]="tokens"
          [formService]="formService"
        ></app-rubic-tokens>
        <ng-container *noFrame>
          <div *ngIf="selectedProvider" class="instant-trade-bottom-form__provider-badge">
            {{ 'common.tradeVia' | translate }} {{ selectedProvider.tradeProviderInfo.label }}
          </div>
        </ng-container>
      </div>
      <div *ngIf="selectedProvider" class="instant-trade-bottom-form__amount">
        <div class="instant-trade-bottom-form__token-amount" *ngIf="standardMode || tradeStatus !== TRADE_STATUS.LOADING; else iframeSkeleton">
          {{
            selectedProvider.trade.to.amount
              | bigNumberFormat
              | withRound: 'toClosestValue':selectedProvider.trade.to.token.decimals || 1
          }}
        </div>
        <ng-template #iframeSkeleton>
          <div class="tui-skeleton instant-trade-bottom-form__amount_skeleton"></div>
        </ng-template>
        <div class="instant-trade-bottom-form__usd-amount" *noFrame>${{ getUsdPrice() }}</div>
        <div class="instant-trade-bottom-form__iframe-info" *onlyFrame="'horizontal'">
          <div class="instant-trade-bottom-form__usd-amount">{{ getUsdPrice() }}</div>
          <div *ngIf="selectedProvider?.trade.gasFeeInUsd?.gt(0)">
            Est. fee ${{ selectedProvider?.trade.gasFeeInUsd.toFixed(2) }}
          </div>
        </div>
      </div>

      <div *ngIf="allowTrade && ethAndWethTrade" class="instant-trade-bottom-form__amount">
        <div class="instant-trade-bottom-form__token-amount">
          {{ fromAmount | bigNumberFormat | withRound: 'toClosestValue':fromToken.decimals || 1 }}
        </div>
        <div class="instant-trade-bottom-form__usd-amount">{{ getUsdPrice(fromAmount) }}</div>
      </div>
    </div>
    <ng-container *noFrame>
      <div *ngIf="allowTrade && !ethAndWethTrade" class="instant-trade-bottom-form__providers">
        <div
          class="instant-trade-bottom-form__provider-item"
          *ngFor="let provider of orderedProviders; let i = index"
        >
          <app-provider-panel
            [providerControllerData]="provider"
            (selectProvider)="selectProvider(provider)"
            [providerIndex]="i"
          ></app-provider-panel>
        </div>
      </div>
    </ng-container>
  </main>
  <footer class="instant-trade-bottom-form__footer"></footer>
</div>
<div class="instant-trade-bottom-form__swap">
  <app-analytics-link *noFrame [formService]="swapFormService"></app-analytics-link>
  <app-swap-button
    id="button_swap"
    [needApprove]="needApprove"
    [status]="tradeStatus"
    [formService]="swapFormService"
    [fromAmount]="fromAmount"
    [swapButtonText]="!ethAndWethTrade ? 'Swap' : isEth.from ? 'Wrap' : 'Unwrap'"
    (swapClick)="createTrade()"
    (approveClick)="approveTrade()"
  ></app-swap-button>
</div>
