<div class="instant-trade-bottom-form" *ngLet="((isIframe$ | async) !== true) as standardMode">
  <main class="instant-trade-bottom-form__body">
    <div class="instant-trade-bottom-form__body-top">
      <div class="instant-trade-bottom-form__left-part">
        <app-rubic-tokens
          [loading]="loading"
          formType="to"
          [tokens]="tokens"
          [formService]="formService"
        ></app-rubic-tokens>
        <ng-container *noFrame>
          <div *ngIf="selectedProvider" class="instant-trade-bottom-form__provider-badge">
            {{ 'common.tradeVia' | translate }} {{ selectedProvider.tradeProviderInfo.label }}
          </div>
        </ng-container>
      </div>

      <div class="instant-trade-bottom-form__amount" *ngLet="allowTrade && ethAndWethTrade as wrapProvider">
        <ng-container *onlyFrame="'vertical'">
          <app-iframe-blockchain-indicator *ngIf="toToken?.blockchain as blockchain" [blockchain]="blockchain"></app-iframe-blockchain-indicator>
        </ng-container>
        <div class="instant-trade-bottom-form__token-amount" *ngIf="standardMode || tradeStatus !== TRADE_STATUS.LOADING; else iframeSkeleton">
          {{
          wrapProvider?
            (fromAmount | bigNumberFormat) :
            (selectedProvider?.trade.to.amount
              | bigNumberFormat
              | withRound: 'toClosestValue':selectedProvider?.trade.to.token.decimals || 1)
          }}
        </div>
        <ng-template #iframeSkeleton>
          <div class="instant-trade-bottom-form__amount_skeleton-container">
            <div class="tui-skeleton instant-trade-bottom-form__amount_skeleton"></div>
          </div>
        </ng-template>
        <ng-container *ngIf="selectedProvider">
          <div class="instant-trade-bottom-form__usd-amount" *noFrame>{{ wrapProvider ? getUsdPrice(fromAmount) : getUsdPrice() }}</div>
          <div class="instant-trade-bottom-form__iframe-info" *onlyFrame>
            <div class="instant-trade-bottom-form__usd-amount">{{ wrapProvider ? getUsdPrice(fromAmount) : getUsdPrice() }}</div>
            <div *ngIf=" !wrapProvider && selectedProvider?.trade.gasFeeInUsd?.gt(0)">
              Est. fee ${{ selectedProvider?.trade.gasFeeInUsd.toFixed(2) }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <ng-container *noFrame>
      <div *ngIf="allowTrade && !ethAndWethTrade" class="instant-trade-bottom-form__providers">
        <div
          class="instant-trade-bottom-form__provider-item"
          *ngFor="let provider of orderedProviders; let i = index"
        >
          <app-provider-panel
            [providerControllerData]="provider"
            (selectProvider)="selectProvider(provider)"
            [providerIndex]="i"
          ></app-provider-panel>
        </div>
      </div>
    </ng-container>
  </main>
  <footer class="instant-trade-bottom-form__footer"></footer>
</div>
<div class="instant-trade-bottom-form__swap">
  <app-analytics-link *noFrame [formService]="swapFormService"></app-analytics-link>
  <app-swap-button
    [needApprove]="needApprove"
    [status]="tradeStatus"
    [formService]="swapFormService"
    [fromAmount]="fromAmount"
    [swapButtonText]="!ethAndWethTrade ? 'Swap' : isEth.from ? 'Wrap' : 'Unwrap'"
    (swapClick)="createTrade()"
    (approveClick)="approveTrade()"
  ></app-swap-button>
</div>
