@import 'src/scss/vars';
@import 'src/scss/mixins';

$green: rgb(74, 169, 86);

.instant-trade-bottom-form {
  padding: 15px 20px 30px;

  background-color: var(--main-background);
  border-radius: 0 0 14px 14px;

  &__provider-item:first-child {
    width: 100%;
  }

  &__provider-item:not(:first-child) {
    width: calc(50% - 10px);

    @include b($mobile-md) {
      width: 100%;
    }

    &::ng-deep .provider-panel__amount {
      width: 100%;
    }
  }

  &__provider-item:not(:nth-child(2n+1)):last-child {
    width: 100%;

    ::ng-deep .provider-panel__body {
      flex-direction: row;
    }
  }

  &__left-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__provider-badge {
    padding: 2px 6px;

    color: var(--form-bright-text-color);
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;

    background: var(--rubic-base-10);
    border-radius: 3px;
  }

  &__providers {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    margin-top: 30px;
  }

  &__body-top {
    display: flex;
    justify-content: space-between;

    min-height: 60px;

    @include b($mobile-sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__amount {
    text-align: right;
  }

  &__token-amount {
    max-width: 300px;
    margin-bottom: 13px;

    overflow: auto;

    color: var(--form-bright-text-color);
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.1em;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__usd-amount {
    color: var(--form-dim-text-color);
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-align: right;
  }

  &__swap {
    app-swap-button {
      display: block;

      margin-top: 16px;
    }
  }
}

@include b($mobile-md) {
  .instant-trade-bottom-form {
    &__swap {
      padding: 0 20px;
    }

    &__token-amount {
      margin-bottom: 0;
    }
    
    &__usd-amount {
      text-align: left;
    }
  }
}
