<ng-container>
  <tui-textfield
    *ngIf="!expandableField; else expandableInputTpl"
    tuiTextfieldSize="m"
  >
    <tui-icon icon="@tui.search"></tui-icon>
    <input tuiTextfield [ngModel]="localQuery" (ngModelChange)="onQueryChanges($event)" [placeholder]="searchBarPlaceholder | translate" />
  </tui-textfield>

  <ng-template #expandableInputTpl>
    <div class="expandable-input" [class.expandable-input_expanded]="isExpanded" (click)="expand()">
      <tui-textfield tuiTextfieldSize="l" [tuiTextfieldCleaner]="true">
        <tui-icon icon="@tui.search"></tui-icon>
        <input tuiTextfield [ngModel]="localQuery" (ngModelChange)="onQueryChanges($event)" [placeholder]="'modals.tokensListModal.searchPlaceholder' | translate" />
      </tui-textfield>
    </div>
  </ng-template>
</ng-container>
