<div class="retrodrop">
  <app-window-container>
    <tui-scrollbar>
      <ng-container *ngFor="let round of rounds$ | async">
        <app-claim-round-row-container
          [round]="round.roundNumber"
          [claimDate]="round.claimDate"
          [claimData]="round.claimData"
          [isAlreadyClaimed]="round.isAlreadyClaimed"
          [claimAmount]="round.claimAmount"
          [isClosed]="round.isClosed"
          [isParticipantOfPrevRounds]="round.isParticipantOfPrevRounds"
          [isParticipantOfCurrentRound]="round.isParticipantOfCurrentRound"
          [claimName]="'retrodrop'"
          (handleClaim)="handleClaim($event)"
        ></app-claim-round-row-container>
      </ng-container>
    </tui-scrollbar>
  </app-window-container>
</div>
