<div class="retrodrop">
  <app-window-container>
    <ng-container header>Retrodrop</ng-container>
    <tui-loader [showLoader]="loading$ | async" [overlay]="true">
      <tui-scrollbar>
        <ng-container *ngFor="let round of rounds$ | async">
          <app-claim-round-row-container
            [inputRound]="round"
            [claimName]="'retrodrop'"
            (handleClaim)="handleClaim($event)"
          ></app-claim-round-row-container>
        </ng-container>
      </tui-scrollbar>
    </tui-loader>
  </app-window-container>
</div>
