@use '../../../../../scss/core' as *;

:host {
  display: flex;
  justify-content: center;

  @include b(900) {
    ::ng-deep {
      tui-scrollbar .t-content {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }

  ::ng-deep {
    tui-scrollbar {
      height: 355px;

      .t-content {
        display: flex;
        flex-direction: column;
        gap: var(--tui-padding-xs);
      }
    }
  }

  app-window-container {
    tui-loader {
      margin-left: 10px;
    }
  }
}

.retrodrop {
  display: flex;
  flex-direction: column;
  gap: var(--tui-padding-l);
  width: 100%;
  max-width: 540px;
  height: 425px;

  &__login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__not-member {
    font-size: 16px;
    text-align: center;
  }
}

@include b($mobile-md) {
  .retrodrop {
    ::ng-deep {
      .window-container {
        padding: var(--tui-padding-m) !important;

        background: var(--secondary-background) !important;
        border-radius: var(--tui-radius-m) !important;

        header {
          padding: 0 var(--tui-padding-l) var(--tui-padding-l) var(--tui-padding-l) !important;

          background: none !important;
          border-radius: 0 !important;

          h5 {
            justify-content: center;
          }
        }
      }
    }
  }
}
