@use '../../../../../scss/core' as *;

:host {
  display: flex;
  justify-content: center;

  @include b(900) {
    ::ng-deep {
      tui-scrollbar .t-content {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }

  ::ng-deep {
    tui-scrollbar {
      height: 425px;

      .t-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }

  .window-container {
    padding-right: 0 !important;
  }
}

.retrodrop {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 540px;
  height: 425px;
}
