@use 'src/scss/core' as *;

.user-balance-container {
  margin-top: 10px;

  @include hide-unused-ui {
    margin-top: 0;
    margin-right: 10px;

    white-space: nowrap;
  }

  @include iframe {
    margin-top: 0;
  }

  &__balance {

    @include iframe-card;
    margin-right: 10px;

    color: var(--secondary-text);
    font-size: 14px;
    line-height: 17px;
  }

  &__max-button {
    padding: 0;

    color: var(--primary-color);
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    background-color: transparent;

    @include b($mobile-sm) {
      font-size: 18px;
    }

    &_disabled {
      color: var(--secondary-text);

      cursor: default;
    }
  }
}
