@use 'src/scss/core' as *;

.deposits {
  position: relative;

  display: block;
  max-width: 540px;
  margin: 0 auto;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: var(--tui-padding-m);
  }

  &__body {
    padding: var(--tui-padding-m);

    background: var(--io-background);
    border-radius: var(--tui-radius-m);
  }

  &__title {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 0 var(--tui-padding-l);

    &-text {
      @include font(15px, 21px, 500, var(--primary-text));
      white-space: nowrap;
    }
  }

  &__refresh-btn-icon {
    @include b(480) {
      width: 15px;
      height: 15px;
    }
  }
}

.no-deposits {
  @include font(16px, 16px, 400, var(--tui-text-03), 0.54px);

  width: 100%;

  margin-top: 2px;
  padding: var(--tui-padding-m);

  text-align: center;

  background: var(--io-background);
  border-radius: 0 0 var(--tui-radius-m) var(--tui-radius-m);
}

.connect-wallet {
  display: block;
  max-width: 396px;
  margin: 0 auto;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include b($mobile-md) {
  ::ng-deep {
    app-rotating-icon svg path {
      fill: var(--tui-text-01);
    }

    app-window-container {
      .window-container {
        padding: 0 !important;

        background: none !important;
        border-radius: 0 !important;
      }
    }
  }

  .deposits {
    &__wrapper {
      position: relative;

      padding: 26px 0;

      background: transparent;
      border-radius: 0;
    }

    &__title {
      gap: 8px;
      justify-content: space-between;
      width: 100%;
      padding: 0;

      &-text {
        @include font(18px, 25px, 500, var(--tui-text-01), 0.54px);
      }
    }

    &__head {
      margin-bottom: 0;
      padding: var(--tui-padding-m);

      background: var(--io-background);
      border-radius: var(--tui-radius-m) var(--tui-radius-m) 0 0;

      &-btn {
        display: none;
      }
    }

    &__body {
      padding: 0;

      background: none;
      border-radius: 0;
    }
  }
}
