<ng-container
  *ngLet="{
    isDarkTheme: isDarkTheme$ | async,
    deposits: deposits$ | async,
    depositsLoading: depositsLoading$ | async
  } as depositsInfo"
>
  <ng-container
    *ngIf="
      depositsInfo.deposits && depositsInfo.deposits?.length && !depositsInfo.depositsLoading;
      else actions
    "
  >
    <app-window-container class="deposits fade-in">
      <tui-loader
        class="inline-flex"
        [showLoader]="depositsInfo.depositsLoading"
        [inheritColor]="true"
        [overlay]="true"
      >
        <div class="deposits__head">
          <div class="deposits__title">
            <span class="deposits__title-text">{{ 'staking.deposits.title' | translate }}</span>
            <app-rotating-icon
              [rotating]="depositsInfo.depositsLoading"
              (iconClick)="refreshDeposits()"
            ></app-rotating-icon>
          </div>
          <button
            class="deposits__head-btn"
            tuiButton
            type="button"
            size="s"
            appearance="primary"
            (click)="navigateToStakeForm()"
          >
            {{ 'staking.deposits.newPosition' | translate }}
          </button>
        </div>
        <div class="deposits__body" *ngIf="depositsInfo.deposits.length">
          <app-desktop-deposits
            *ngIf="!isMobile; else mobileTable"
            [deposits]="depositsInfo.deposits"
            [total]="total$ | async"
            [claimingId]="claimingId$ | async"
            [withdrawingId]="withdrawingId$ | async"
            [isDarkTheme]="depositsInfo.isDarkTheme"
            (onClaim)="startClaim($event)"
            (onWithdraw)="startWithdraw($event)"
          ></app-desktop-deposits>
        </div>
      </tui-loader>
    </app-window-container>
  </ng-container>

  <ng-template #mobileTable>
    <app-mobile-deposits
      [deposits]="depositsInfo.deposits"
      [total]="total$ | async"
      [claimingId]="claimingId$ | async"
      [withdrawingId]="withdrawingId$ | async"
      [isDarkTheme]="depositsInfo.isDarkTheme"
      (onClaim)="startClaim($event)"
      (onWithdraw)="startWithdraw($event)"
    ></app-mobile-deposits>
  </ng-template>
</ng-container>

<ng-template #actions>
  <div class="actions fade-in">
    <app-rubic-button (onClick)="navigateToCcrForm()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
      >
        <rect x="1.5" y="1" width="18" height="18" rx="9" stroke="white" stroke-width="2" />
        <path
          d="M12 5.5V14.5H10.2784V7.08643H10.2227L8 8.43115V6.93701L10.3619 5.5H12Z"
          fill="white"
        />
      </svg>
      Bridge
    </app-rubic-button>
    <app-rubic-button (onClick)="navigateToStakeForm()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="21"
        height="20"
        viewBox="0 0 21 20"
        fill="none"
      >
        <rect x="1.5" y="1" width="18" height="18" rx="9" stroke="white" stroke-width="2" />
        <path
          d="M7.55085 14V12.8382L10.5636 9.81647C10.8517 9.51879 11.0918 9.25433 11.2839 9.02312C11.476 8.79191 11.6201 8.56792 11.7161 8.35116C11.8121 8.13439 11.8602 7.90318 11.8602 7.65751C11.8602 7.37717 11.798 7.13728 11.6737 6.93786C11.5494 6.73555 11.3785 6.57948 11.161 6.46965C10.9435 6.35983 10.6963 6.30491 10.4195 6.30491C10.1342 6.30491 9.88418 6.36561 9.66949 6.48699C9.4548 6.60549 9.28814 6.77457 9.16949 6.99422C9.05367 7.21387 8.99576 7.47543 8.99576 7.7789H7.5C7.5 7.21532 7.62571 6.72543 7.87712 6.30925C8.12853 5.89306 8.47458 5.57081 8.91525 5.34249C9.35876 5.11416 9.86723 5 10.4407 5C11.0226 5 11.5339 5.11127 11.9746 5.33382C12.4153 5.55636 12.7571 5.86127 13 6.24856C13.2458 6.63584 13.3686 7.07803 13.3686 7.57514C13.3686 7.90751 13.3065 8.2341 13.1822 8.55491C13.0579 8.87572 12.839 9.23121 12.5254 9.62139C12.2147 10.0116 11.7782 10.4841 11.2161 11.039L9.72034 12.5954V12.6561H13.5V14H7.55085Z"
          fill="white"
        />
      </svg>
      Stake
    </app-rubic-button>
  </div>
</ng-template>
