<ng-container
  *ngLet="{
    isDarkTheme: isDarkTheme$ | async,
    deposits: deposits$ | async,
    depositsLoading: depositsLoading$ | async
  } as depositsInfo"
>
  <ng-container
    *ngIf="depositsInfo.deposits && depositsInfo.deposits?.length && !depositsInfo.depositsLoading"
  >
    <app-window-container class="deposits fade-in">
      <tui-loader
        class="inline-flex"
        [showLoader]="depositsInfo.depositsLoading"
        [inheritColor]="true"
        [overlay]="true"
      >
        <div class="deposits__head">
          <div class="deposits__title">
            <span class="deposits__title-text">{{ 'staking.deposits.title' | translate }}</span>
            <app-rotating-icon
              [rotating]="depositsInfo.depositsLoading"
              (iconClick)="refreshDeposits()"
            ></app-rotating-icon>
          </div>
          <button
            class="deposits__head-btn"
            tuiButton
            type="button"
            size="s"
            appearance="primary"
            (click)="navigateToStakeForm()"
          >
            {{ 'staking.deposits.newPosition' | translate }}
          </button>
        </div>
        <div class="deposits__body" *ngIf="depositsInfo.deposits.length">
          <app-desktop-deposits
            *ngIf="!isMobile; else mobileTable"
            [deposits]="depositsInfo.deposits"
            [total]="total$ | async"
            [claimingId]="claimingId$ | async"
            [withdrawingId]="withdrawingId$ | async"
            [isDarkTheme]="depositsInfo.isDarkTheme"
            (onClaim)="startClaim($event)"
            (onWithdraw)="startWithdraw($event)"
          ></app-desktop-deposits>
        </div>
      </tui-loader>
    </app-window-container>
  </ng-container>

  <ng-template #mobileTable>
    <app-mobile-deposits
      [deposits]="depositsInfo.deposits"
      [total]="total$ | async"
      [claimingId]="claimingId$ | async"
      [withdrawingId]="withdrawingId$ | async"
      [isDarkTheme]="depositsInfo.isDarkTheme"
      (onClaim)="startClaim($event)"
      (onWithdraw)="startWithdraw($event)"
    ></app-mobile-deposits>
  </ng-template>
</ng-container>
