@use 'src/scss/core' as *;

.deposits {
  &__wrapper {
    position: relative;

    margin-top: 30px;

    padding: 26px 12px;

    background: var(--rubic-base-22);
    border-radius: $border-radius-2;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 26px;
  }

  &__title {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 0 14px;

    @include b(480) {
      padding: 0 14px 0 0;
    }

    &-text {
      @include font(18px, 22px, 500, white);
      white-space: nowrap;

      @include b(480) {
        @include font(16px, 19px, 500, white);
      }
    }
  }

  &__refresh-btn-icon {
    @include b(480) {
      width: 15px;
      height: 15px;
    }
  }

  &__new-deposit-btn {
    @include font(16px, 19px, 500, white);
    padding: 6px 14px;

    letter-spacing: 1px;

    white-space: nowrap;

    background: var(--main-green);
    border-radius: $border-radius-3;

    @include b(480) {
      @include font(14px, 15px, 500, white);
    }
  }

  &__body {
    table {
      display: grid;

      thead tr td {
        @include font(16px, 19px, 500, rgba(255, 255, 255, 0.6));
        width: max-content;

        white-space: nowrap;

        @include b(480) {
          @include font(12px, 15px, 500, rgba(255, 255, 255, 0.6));
          width: 100%;
        }
      }

      thead tr {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 95px));

        @include b($tablet) {
          grid-template-columns: repeat(5, 1fr);
        }

        @include b(480) {
          width: min-content;
        }
      }

      tbody {
        display: grid;
        gap: 12px;
      }

      tfoot {
        margin-top: 26px;

        tr td {
          padding: 0 15px;
        }
      }
    }

    td {
      padding: 15px;
    }
  }

  &__footer-text {
    @include font(16px, 19px, 500, var(--main-green));

    @include b(480) {
      @include font(12px, 15px, 500, var(--main-green));
    }
  }
}
