<ng-container
  *ngLet="{
    isDarkTheme: isDarkTheme$ | async,
    deposits: deposits$ | async,
    depositsLoading: depositsLoading$ | async,
    user: currentUser$ | async
  } as depositsInfo"
>
  <app-window-container class="deposits fade-in">
    <div class="deposits__head">
      <div class="deposits__title">
        <span class="deposits__title-text">{{ 'staking.overview.endTitle' | translate }}</span>
        <app-rotating-icon
          *ngIf="depositsInfo.user"
          [rotating]="depositsInfo.depositsLoading"
          (iconClick)="refreshDeposits()"
        ></app-rotating-icon>
      </div>
    </div>

    <div class="deposits__body">
      <tui-loader
        class="inline-flex"
        [showLoader]="depositsInfo.depositsLoading"
        [inheritColor]="true"
        [overlay]="true"
      >
        <ng-container *ngIf="depositsInfo.deposits.length; else noDepositsOrNotLogged">
          <app-desktop-deposits
            *ngIf="!isMobile; else mobileDeposits"
            [deposits]="depositsInfo.deposits"
            [total]="total$ | async"
            [claimingId]="claimingId$ | async"
            [withdrawingId]="withdrawingId$ | async"
            [isDarkTheme]="depositsInfo.isDarkTheme"
            (onClaim)="startClaim($event)"
            (onWithdraw)="startWithdraw($event)"
          ></app-desktop-deposits>
        </ng-container>
      </tui-loader>
      <ng-template #mobileDeposits>
        <app-mobile-deposits
          [deposits]="depositsInfo.deposits"
          [total]="total$ | async"
          [claimingId]="claimingId$ | async"
          [withdrawingId]="withdrawingId$ | async"
          [isDarkTheme]="depositsInfo.isDarkTheme"
          (onClaim)="startClaim($event)"
          (onWithdraw)="startWithdraw($event)"
        ></app-mobile-deposits>
      </ng-template>
    </div>
    <ng-container *ngIf="!depositsInfo.user">
      <app-login-button></app-login-button>
    </ng-container>
  </app-window-container>

  <ng-template #noDepositsOrNotLogged>
    <div class="no-deposits">
      <span class="no-deposits__text">
        {{
          depositsInfo.user ? 'You have no deposits.' : 'Connect wallet to see your deposits.'
        }}</span
      >
    </div>
  </ng-template>
</ng-container>
