@use 'src/scss/core' as *;

.bottom-form {
  display: flex;
  flex-direction: column;

  &__container {
    z-index: 9999;

    min-height: 113px;
    margin: 0 0 16px;
    padding: 30px 24px 24px;

    background: var(--form-background);
    border: 1px solid var(--transparent-line);
    border-top: 0;
    border-radius: 0 0 19px 19px;

    @include b($mobile-md) {
      height: auto;
      margin-bottom: 8px;
      padding: 30px 20px;
    }

    @include b($mobile-sm) {
      flex-direction: column;
    }
  }

  &__estimate-container {
    position: relative;

    min-height: 65px;

    @include b($mobile-md) {
      ::ng-deep app-token-amount-input {
        > .token-amount-input-container {
          border: none;
        }
      }
    }

    @include b($mobile-sm) {
      flex-direction: column;
    }

    app-tokens-rate {
      position: absolute;
      right: 0;
      bottom: 22px;

      @include b($mobile-sm) {
        position: unset;
      }
    }
  }

  &__settings {
    display: flex;
    grid-gap: 16px;

    @include b($mobile-md) {
      flex-direction: column-reverse;
      grid-gap: 8px;

      margin-bottom: 16px;
    }
  }

  &__footer {
    margin-top: 16px;

    @include b($mobile-md) {
      margin-top: 0;
    }
  }

  ::ng-deep {
    .token-amount-input-container {
      padding: 0;
    }
  }
}

app-target-network-address {
  display: block;
  margin-top: 10px;
}

app-swap-button-container {
  &::ng-deep {
    .t-wrapper {
      border: 1px solid var(--transparent-line) !important;
    }
  }
}

app-order-rate {
  display: block;
  flex-shrink: 0;
  width: 343px;

  @include b($mobile-md) {
    width: 100%;
  }
}

app-expires-in {
  width: 100%;
}
