<ng-container *ngLet="tradeStatus$ | async as tradeStatus">
  <section class="bottom-form">
    <div class="bottom-form__container">
      <div class="bottom-form__estimate-container">
        <app-token-amount-input formType="to"></app-token-amount-input>
      </div>
      <!--        <app-target-network-address-->
      <!--          *ngIf="displayTargetAddressInput$ | async"-->
      <!--        ></app-target-network-address>-->
    </div>

    <app-order-rate></app-order-rate>

    <div class="bottom-form__footer">
      <div class="bottom-form__button">
        <app-swap-button-container
          [needApprove]="needApprove(tradeStatus)"
          [withApproveButton]="displayApproveButton$ | async"
          [status]="tradeStatus"
          [error]="null"
          buttonText="Place limit order"
          (onApproveClick)="onApprove()"
          (onSwapClick)="onCreateOrder()"
        ></app-swap-button-container>
      </div>
    </div>
  </section>
</ng-container>
