<app-window-container
  *ngLet="{
    revealAsset: revealAsset$ | async,
    revealAmount: revealAmount$ | async,
    loading: loading$ | async
  } as state"
>
  <app-input-output-container [round]="'all'" [marginTop]="false">
    <app-asset-selector
      left
      selectorType="from"
      (handleAssetSelection)="openSelector()"
      [asset]="state.revealAsset"
      [isDisabled]="state.loading"
    ></app-asset-selector>
    <div right class="input-container">
      <app-amount-transput
        formType="from"
        [selectedToken]="state.revealAsset"
        inputMode="input"
        (amountUpdated)="updateInputValue($event)"
        [amountValue]="state.revealAmount"
      ></app-amount-transput>
      <app-user-balance-container
        (maxButtonClickEvent)="handleMaxButton()"
      ></app-user-balance-container>
    </div>
  </app-input-output-container>
  <button
    [showLoader]="state.loading"
    tuiButton
    appearance="primary"
    type="button"
    size="m"
    (click)="reveal()"
  >
    Reveal tokens
  </button>
</app-window-container>
