@use 'src/scss/core' as *;

:host {
  position: fixed;
  top: 100%;
  bottom: -100%;

  width: 100%;
  height: 100%;

  background-color: var(--io-background);
  border-radius: 12px 12px 0 0;

  transition-duration: 0.3s;

  &.fit-content {
    top: unset;
    bottom: 0;

    height: fit-content;
    padding-bottom: 50px;
  }

  &.scrollable-content {
    .mobile-native {
      &-content {
        &__inner {
          max-height: inherit;
          padding-bottom: 40%;
          overflow: auto;
        }
      }
    }
  }

  &.hidden {
    &:is(.fit-content) {
      bottom: -100%;
    }

    &:not(.fit-content) {
      top: 100% !important;
    }
  }

  &.opened {
    top: 5% !important;
  }

  &.collapsed {
    top: 40% !important;
  }
}

.mobile-native {
  &__header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    padding: 0 20px;
  }

  &__back {
    position: absolute;
    left: 15px;
  }

  &__title {
    padding: 0;

    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
  }

  &-content {
    position: relative;
    z-index: 999999;

    max-height: 95vh;
  }

  &-backdrop {
    position: fixed;
    inset: 0 0 0 0;
  }

  &-chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 8px;

    &--rotated {
      transform: rotate(180deg);
    }

    &-rectangle {
      width: 55px;
      height: 3px;

      background: #a5a6a6;
      border-radius: 20px;
    }
  }
}

@keyframes show {
  from {
    top: 100%;
  }

  to {
    top: 5%;
  }
}
