@use 'src/scss/core' as *;

.banner {
  display: flex;
  justify-content: center;

  text-decoration: none;

  background: linear-gradient(274.9deg, #33db9c 30.29%, #8b5195 80.27%), linear-gradient(90deg, #4aa956 0%, #00a2fe 100%);

  @include hide-unused-ui {
    display: none;
  }

  &:hover {
    color: white;

    img {
      transform: translateX(5px) scale(1.1);
    }
  }

  &__container {
    position: relative;
    z-index: 1;

    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 7px 10px;

    @include b($mobile-sm-plus) {
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
      justify-content: flex-start;

      padding: 10px 20px;
    }
  }

  &__text {
    @include font(19px, 1, 300, white);
    margin: 0 25px 0 0;

    @include b($mobile-sm-plus) {
      @include font(16px, 1, 300, white);
    }
  }

  &__link {
    display: flex;

    gap: 12px;
    align-items: center;

    color: white;

    white-space: nowrap;
    text-decoration: none;

    &-text {
      @include font(19px, 1, 400, var(--primary-text-invert));

      @include b($mobile-sm-plus) {
        @include font(16px, 1, 300, white);
      }
    }

    img {
      transition: 100ms ease-in;
    }
  }
}
