<a *ngLet="isDark$ | async as isDark" [safetyLink]="href" class="banner">
  <img
    *ngIf="isDark"
    class="banner__cube_left"
    src="assets/referralBanner/banner-icon-left.svg"
    alt="Cube"
  />
  <img
    *ngIf="!isDark"
    class="banner__cube_left"
    src="assets/referralBanner/banner-icon-left_light.svg"
    alt="Cube"
  />
  <img
    *ngIf="isDark"
    class="banner__cube_mobile"
    src="assets/referralBanner/banner-icon-mobile.svg"
    alt="Cube"
  />
  <img
    *ngIf="!isDark"
    class="banner__cube_mobile"
    src="assets/referralBanner/banner-icon-mobile_light.svg"
    alt="Cube"
  />
  <div class="banner__container">
    <p class="banner__text">
      {{ 'referralBanner.takePartInOur' | translate }}
      <span class="banner__highlight">
        {{ 'referralBanner.referralProgram' | translate }}
      </span>
    </p>
    <a [safetyLink]="href" class="banner__link">
      <span class="banner__link_text">
        {{ 'referralBanner.link' | translate }}
      </span>
      <img src="assets/referralBanner/arrow-banner.svg" width="30" height="15" alt="Subscribe" />
    </a>
  </div>
  <img
    *ngIf="isDark"
    class="banner__cube_right"
    src="assets/referralBanner/banner-icon-right.svg"
    alt="Cube"
  />
  <img
    *ngIf="!isDark"
    class="banner__cube_right"
    src="assets/referralBanner/banner-icon-right_light.svg"
    alt="Cube"
  />
</a>
