@use 'src/scss/core' as *;

.banner {
  display: flex;
  justify-content: center;

  background: linear-gradient(90deg, rgb(79, 182, 163) 0%, rgb(52, 199, 215) 50%, rgb(115, 102, 196) 100%);

  @include dark {
    background: linear-gradient(90deg, rgba(40, 92, 83, 1) 0%, rgba(0, 202, 226, 1) 50%, rgba(51, 48, 81, 1) 100%);
  }

  @include hide-unused-ui {
    display: none;
  }

  &__container {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 7px 10px;

    @include b($mobile-sm-plus) {
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
      justify-content: flex-start;

      padding: 10px 20px;
    }
  }

  &__text {
    @include font(19px, 1, 300, white);
    margin: 0 25px 0 0;

    @include b($mobile-sm-plus) {
      @include font(16px, 1, 300, white);
    }
  }

  &__link {
    display: flex;

    gap: 12px;
    align-items: center;

    white-space: nowrap;

    &_text {
      @include font(19px, 1, 400, var(--primary-text-invert));

      @include b($mobile-sm-plus) {
        @include font(16px, 1, 300, white);
      }
    }

    img {
      transition: 100ms ease-in;
    }

    &:hover {
      text-decoration: none;

      img {
        transform: translateX(3px);
      }
    }
  }
}
