<a [safetyLink]="href" class="banner">
  <img
    class="banner__background-img_left"
    src="assets/referralBanner/banner-left_desktop.png"
    alt=""
  />
  <div class="banner__container">
    <span class="banner__text"
      >Swap to TON <br class="banner__text_br" />
      and get 200 RBC!</span
    >
    <a [safetyLink]="href" class="banner__link">
      <span class="banner__link-text">Learn more</span>
      <img src="assets/referralBanner/arrow-banner.svg" width="20" height="11" alt="Learn more" />
    </a>
  </div>
  <img
    class="banner__background-img_right"
    src="assets/referralBanner/banner-right_desktop.png"
    alt=""
  />
  <img class="banner__background-img_mobile" src="assets/referralBanner/banner_mobile.png" alt="" />
</a>
