@use 'src/scss/core' as *;

.banner {
  display: flex;
  justify-content: center;

  background: linear-gradient(90deg, var(--primary-color) 0%, #00a2fe 100%);

  @include b($mobile-sm-plus) {
    justify-content: flex-start;
  }

  @include hide-unused-ui {
    display: none;
  }

  &__container {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 7px 10px;

    @include b($mobile-sm-plus) {
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
      justify-content: flex-start;

      padding: 10px 20px;
    }
  }

  &__text {
    @include font(19px, 1, 300, white);
    margin: 0 25px 0 0;

    @include b($mobile-sm-plus) {
      @include font(16px, 1, 300, white);
    }
  }

  &__link {
    display: flex;

    gap: 12px;
    align-items: center;

    white-space: nowrap;

    &_text {
      @include font(19px, 1, 300, #96EAFF);

      @include b($mobile-sm-plus) {
        @include font(16px, 1, 300, white);
      }
    }

    img {
      transition: 100ms ease-in;
    }

    &:hover {
      text-decoration: none;

      img {
        transform: translateX(3px);
      }
    }
  }
}
