@use 'src/scss/core' as *;

.banner {

  overflow: hidden;

  color: var(--rubic-base-02);
  text-decoration: none;

  background: var(--referral-banner-bg);

  @include b($desktop) {
    &__text {
      font-size: 30px;
    }
  }

  @include b(1070) {
    &__text {
      font-size: 25px;
      line-height: 30px;
    }

    &__cube_right {
      display: none;
    }

    &__cube_left {
      display: none;
    }

    &__cube_mobile {
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      height: 100%;

      opacity: 0.5;
    }
  }

  @include b($tablet) {
    &__container {
      position: relative;

      display: flex;
      align-items: center;
      height: 100%;
    }

    &__text {
      font-size: 20px;
    }
  }

  @include b(700) {
    &__text {
      line-height: 1;
    }
  }

  @include b(510) {
    &__text {
      font-size: 15px;
    }
  }

  @include b(480) {
    &__link {
      padding: 0 15px;

      font-size: 15px;
    }

    &__text {
      margin-right: 35px;

      font-size: $rubic-font-size-main;
    }
  }

  @include b(400) {
    &__text {
      margin-right: 0;
    }
  }

  &__container {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__text {
    margin: 0 30px 0 0;

    padding: 15px 0;

    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-align: left;

    text-transform: uppercase;
  }

  &__highlight {
    color: var(--main-green);
  }

  &__link {
    display: flex;
    align-items: center;

    padding: 0 34px;

    color: white;
    font-size: $rubic-font-size-02;

    white-space: nowrap;

    background: var(--main-green);
    border-radius: 6px;

    img {
      margin-left: 8px;

      transition: 100ms ease-in;
    }

    &:hover {
      text-decoration: none;

      img {
        transform: translateX(3px);
      }
    }
  }

  &__link_text {
    margin: 11px 0;

    line-height: 1;
  }

  &__cube_left {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;

    opacity: 0.5;
  }

  &__cube_right {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;

    opacity: 0.5;
  }

  &__cube_mobile {
    display: none;
  }
}
