/* Global scss */
@import 'scss/fonts';

/* Global scss */
@import 'scss/vars';
@import 'scss/grid';
@import 'scss/typography';
@import 'scss/mixins';

/* Elements */
@import 'scss/elements/dialog';
@import 'scss/elements/preloader';
@import 'scss/elements/contracts';
@import 'scss/elements/buttons';
@import 'scss/elements/icons';
@import 'scss/elements/dropdown-labels';
@import 'scss/elements/form';

/* Global */
@import 'scss/livechat';
@import 'scss/new-ui';

/* TaigaUI custom styles */
@import 'scss/taiga-slyles';

* {
  box-sizing: border-box;

  appearance: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

html {
  height: auto !important;
  min-height: 100%;

  body {
    min-width: 320px;
    height: auto;
    margin: 0;
    padding: 0;

    background: linear-gradient(180deg, rgba(239, 243, 241, 1) 0%, rgba(120, 193, 135, 1) 100%);

    main,
    input,
    button,
    select,
    textarea {
      font-family: $sf-pro-font !important;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

input[type=number] {
  /* stylelint-disable */
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

main.main-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px 60px;
  display: flex;
  justify-content: center;
}

.noscroll {
  position: fixed;
  right: 0;
  left: 0;

  overflow: hidden;
}

.app-content-block {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;

  @include b(1240) {
    padding-right: 2vw;
    padding-left: 2vw;
  }
}

a:not(.new-btn):not(.btn):not(.minimal-btn):not(.rubic-btn) {
  color: #4aa956;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #4aa956;
    text-decoration: underline;
  }
}

.walletconnect-modal__base {
  a:not(.new-btn):not(.btn):not(.minimal-btn):not(.rubic-btn) {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}

.mat-tooltip {
  white-space: pre-line;
  text-align: center;
}

.bar {
  bottom: 10px !important;

  &_vertical {
    top: 10px !important;
  }
}

tui-dropdown-box {
  min-width: 265px;
  max-height: 440px !important;

  border: none !important;
  border-radius: 18px !important;
}

@include b($mobile-md) {
  tui-dropdown-box {
    min-width: 155px;
  }
}
