/* Global scss */
@import 'scss/fonts';

/* Global scss */
@import 'scss/vars';
@import 'scss/typography';
@import 'scss/mixins';

/* Elements */
@import 'scss/elements/icons';
@import 'scss/elements/dropdown-labels';

/* Global */
@import 'scss/carrot-quest';
@import 'scss/new-ui';
@import 'scss/dark-theme';

/* TaigaUI custom styles */
@import 'scss/taiga-slyles';

/* External libs styles */
@import 'scss/libs';

* {
  box-sizing: border-box;

  appearance: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

html {
  height: auto !important;
  overflow-x: hidden;

  body {
    position: relative;

    min-width: 320px;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background: linear-gradient(180deg, rgba(239, 243, 241, 1) 0%, rgba(120, 193, 135, 1) 100%);

    main,
    input,
    button,
    select,
    textarea {
      font-family: $sf-pro-font !important;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

input[type=number] {
  /* stylelint-disable-next-line */
  -moz-appearance: textfield;
}

button {
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;

}

mainiframeSettingsFormcontent {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 1440px;
  padding: 0 20px 60px;
}

.noscroll {
  position: fixed;
  right: 0;
  left: 0;

  overflow: hidden;
}

.app-content-block {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;

  @include b(1240) {
    padding-right: 2vw;
    padding-left: 2vw;
  }
}

a {
  color: var(--main-green);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--main-green);
    text-decoration: underline;
  }
}

.walletconnect-modal__base {
  a,
  a:focus,
  a:hover {
    color: inherit;
  }
}

tui-dropdown-box {
  min-width: 185px;
  max-height: 560px !important;

  border: none !important;
  border-radius: 18px !important;

  tui-data-list-wrapper {
    backdrop-filter: blur(24px);

    tui-data-list {
      button[role='option'] {
        margin: 4px 0;
        padding: 0 8px;

        border: 0;

        tui-select-option {
          display: block;

          font-weight: 600;
          font-size: 18px;
          line-height: 21px;

          border-radius: 100px;

          transition: background-color 0.1s ease;

          &:hover {
            background-color: rgba(74, 169, 86, 0.15);
          }

          tui-svg {
            display: none;
          }
        }
      }
    }
  }
}

.wave {
  position: absolute;
  top: 54px;
  right: 54px;
  z-index: -100;

  display: block;
  width: 2px;
  height: 2px;

  border-radius: 100%;
  box-shadow: 0 0 0 0 #212121;

  transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  @include b(1240) {
    top: 45px;
    right: 109px;
  }

  &::after {
    position: absolute;

    width: 2px;
    height: 2px;

    background-color: #ebf1ec;

    transition-delay: 0.3s;
    transition-property: background-color;

    content: '';
  }

  &_active {
    box-shadow: 0 0 0 calc(1.42 * max(100vw, 100vh)) rgb(14, 17, 14);

    &::after {
      background-color: rgb(14, 17, 14);

      transition-delay: unset;
    }
  }

  &_no-transition {
    transition: none;
  }
}

body.default-iframe-background {
  background: linear-gradient(45deg, #4aa956 20%, white);
}

#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483001; /* cover carrot chat */

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $backgrond-black;
  opacity: 1;

  transition: opacity 0.4s ease-in-out, z-index 0.4s step-end;

  &.disabled {
    z-index: -10000;

    opacity: 0;
  }

  &:not(.disabled) ~ * {
    &.wave,
    &.gradient {
      @include ios {
        position: static;
      }
    }
  }

  img {
    animation: 1.4s infinite 1s loader-icon-fadein;
  }
}

@keyframes loader-icon-fadein {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@include b($mobile-md) {
  tui-dropdown-box {
    min-width: 155px;
  }
}

[id^='tui-hint_price-impact'] {
  color: var(--tui-text-01) !important;

  background: rgb(238, 238, 238) !important;
}

html.dark {
  [id^='tui-hint_price-impact'] {
    background: rgb(56, 56, 56) !important;
  }
}
