/* Global scss */
@import 'scss/fonts';

/* Global scss */
@import 'scss/vars';
@import 'scss/typography';
@import 'scss/mixins';

/* Elements */
@import 'scss/elements/icons';
@import 'scss/elements/dropdown-labels';

/* Global */
@import 'scss/carrot-quest';
@import 'scss/new-ui';
@import 'scss/dark-theme';

/* TaigaUI custom styles */
@import 'scss/taiga-slyles';

* {
  box-sizing: border-box;

  appearance: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

html {
  height: auto !important;
  overflow-x: hidden;

  body {
    position: relative;

    min-width: 320px;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background: linear-gradient(180deg, rgba(239, 243, 241, 1) 0%, rgba(120, 193, 135, 1) 100%);

    main,
    input,
    button,
    select,
    textarea {
      font-family: $sf-pro-font !important;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

input[type=number] {
  /* stylelint-disable */
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
}

mainiframeSettingsFormcontent {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px 60px;
  display: flex;
  justify-content: center;
}

.noscroll {
  position: fixed;
  right: 0;
  left: 0;

  overflow: hidden;
}

.app-content-block {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;

  @include b(1240) {
    padding-right: 2vw;
    padding-left: 2vw;
  }
}

a {
  color: var(--main-green);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--main-green);
    text-decoration: underline;
  }
}

.walletconnect-modal__base {
  a,
  a:focus,
  a:hover {
    color: inherit;
  }
}

tui-dropdown-box {
  min-width: auto;
  max-height: 440px !important;

  border: none !important;
  border-radius: 18px !important;
}

.wave {
  position: absolute;
  top: 54px;
  right: 54px;
  @include b(1240) {
    top: 45px;
    right: 109px;
  }
  z-index: -100;

  display: block;
  width: 2px;
  height: 2px;

  border-radius: 100%;
  box-shadow: 0 0 0 0 #212121;

  transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 2px;
    background-color: #ebf1ec;

    transition-property: background-color;
    transition-delay: 0.3s;
  }

  &_active {
    box-shadow: 0 0 0 calc(1.42 * max(100vw, 100vh)) rgb(14, 17, 14);

    &::after {
      background-color: rgb(14, 17, 14);

      transition-delay: unset;
    }
  }

  &_no-transition {
    transition: none;
  }
}

body.default-iframe-background {
  background: linear-gradient(45deg, #4aa956 20%, white);
}

@include b($mobile-md) {
  tui-dropdown-box {
    min-width: 155px;
  }
}
