@import 'scss/grid';
@import "scss/elements/dialog";
@import "scss/elements/form-elements";
@import "scss/elements/preloader";
@import "scss/elements/contracts";

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'TT Norms';
  src: url('./assets/fonts/ttnorms-bold-webfont.woff2') format('woff2'),
  url('./assets/fonts/ttnorms-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TT Norms';
  src: url('./assets/fonts/ttnorms-regular-webfont.woff2') format('woff2'),
  url('./assets/fonts/ttnorms-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('./assets/fonts/ttnorms-light-webfont.woff2') format('woff2'),
  url('./assets/fonts/ttnorms-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('./assets/fonts/ttnorms-black-webfont.woff2') format('woff2'),
  url('./assets/fonts/ttnorms-black-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro Regular'), local('Sofia-Pro-Bold'),
  url('./assets/fonts/SofiaProRegular.woff2') format('woff2'),
  url('./assets/fonts/SofiaProRegular.woff') format('woff'),
  url('./assets/fonts/SofiaProRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro Bold'), local('Sofia-Pro-Bold'),
  url('./assets/fonts/SofiaProBold.woff2') format('woff2'),
  url('./assets/fonts/SofiaProBold.woff') format('woff'),
  url('./assets/fonts/SofiaProBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'),
  url('./assets/fonts/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Bold'),
  url('./assets/fonts/Poppins-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Sofia Pro', Arial, sans-serif;
  min-width: 320px;
  background: url('/assets/images/backgrounds/bg-gradient.png');
  background-size: cover;
}

html {
  background-color: #495569;
}


.app-content-block {
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
  box-sizing: border-box;
  padding-left: 5vw;
  padding-right: 5vw;
}

a:not(.new-btn):not(.btn):not(.minimal-btn) {
  color: #61B9DF;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
    color: #6ad7ff;
  }
}

.text-left {
  text-align: left!important;
}



#livechat-compact-container {
  //display: none!important;
}
#livechat-top-button {
  @extend .app-content-block;
  position: relative;
  //padding-top: 100px;
}
.watch-instruction-btn {
  position: fixed;
  left: 50%;
  top: 287px;
  bottom: auto;
  right: auto;
  margin-left: 207px;
  .btn {
    width: 285px;
    height: 64px;
    text-align: left;
    padding-left: 15px;
    justify-content: flex-start;
    box-sizing: border-box;
    &-icon {
      margin-right: 10px;
    }
  }
}
#livechat-compact-container {
  position: fixed!important;
  left: 50%!important;
  top: 200px!important;
  bottom: auto!important;
  right: auto!important;
  margin-left: 207px!important;
  height: 62px!important;
  border-left: 5px solid #FCD600!important;
  line-height: 62px;
  padding: 0!important;
  background: url(/assets/images/icons/support.svg) 15px 17px no-repeat rgba(255, 255, 255, 0.1)!important;

  transform: translateY(0%)!important;
  opacity: 1!important;
  visibility: visible!important;
  z-index: 5!important;
  display: none!important;
  width: 285px;
  &:hover {
    background-color:  rgba(255, 255, 255, 0.2) !important;
  }
  &:before {
    content: 'Support';
    color: #fff;
    font-weight: bold;
    line-height: 62px;
    float: left;
    display: block;
    vertical-align: middle;
    font-size: 18px;
    margin-left: 50px;
  }
}

.with-support #livechat-compact-container {
  display: block!important;
}


@media screen and (max-width: 1180px) {
  #livechat-compact-container {
    margin-left: 16.66666666% !important;
  }
  .watch-instruction-btn {
    margin-left: 16.66666666%;
  }
}


@media screen and (max-width: 1020px) {
  #livechat-compact-container {
    margin-left: 25% !important;
    width: 23vw !important;
  }
  .watch-instruction-btn {
    margin-left: 25%;
    .btn {
      width: 23vw;
    }
  }
}







.base-block-content {
  padding-top: 200px;
  // background: transparent url('/assets/images/backgrounds/bg-gradient.png') no-repeat center top;
  // background-size: 100%;
  min-height: 100vh;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.action-link {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px dashed;
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}


.invisible {
  visibility: hidden;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.width-100 {
  width: 100% !important;
}

.text-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.normal-text {
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  &.opacity-color {
    color: rgba(255, 255, 255, 0.7);
  }
}


.title-section {
  font-size: 28px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 1em;
}

.description-section {
  font-size: 25px;
  margin: 20px 0 35px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5em;
}

.with-after-text {
  position: relative;
  &:after {
    background-color: #fff;
    content: attr(data-after-text);
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 1px;
    bottom: 1px;
    line-height: 50px;
    right: 1px;
    padding: 0 12px;
    font-weight: bold;
  }

}

@media screen and (max-width: 540px) {
  .description-section {
    font-size: 15px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 55px;
  padding: 0 15px;
  border: none;
  border-left: 5px solid;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  transition: all linear 0.1s;
  box-sizing: border-box;
  cursor: pointer;
  &:not(&-normal-weight) {
    font-weight: bold;
  }
  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
  .arrow {
    margin-right: 10px;
  }
  &_small {
    width: 250px;
  }
  &_subscribe {
    width: 200px;
    height: 50px;
  }
  &-min-padding {
    padding-left: 0;
    padding-right: 0;
  }
  &-min {
    font-size: 16px;
  }
  &-for-field {
    height: 40px;
    margin: 5px 0;
  }
  &-transparent {
    background-color: transparent;
    border: 1px solid #B9BDC2;
    border-left-width: 5px;
    &:not([disabled]):hover {
      border-color: #dbe0e6;
    }
    .just-title {
      display: block;
      margin: -1px 0;
    }
  }
  &-white-opacity {
    border-color: #fcd600;
    background-color: rgba(255, 255, 255, 0.1);
    &.white-border {
      border-color: rgba(255, 255, 255, 0.67);
    }
    &:hover {
      background-color:  rgba(255, 255, 255, 0.2);
    }
  }
  &-yellow {
    background: #FCD600;
    border-left-color: rgba(255, 255, 255, 0.67);
    color: #000;
    &:not([disabled]):hover {
      background-color: #ffff00;
    }
    &:not([disabled]):active {
      background-color: #c7a800;
    }
  }
  &-payment {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 2px;
    border-width: 0;
    font-weight: normal;
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 7px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
    &_ico {
      vertical-align: middle;
      height: 26px;
      margin-right: 8px;
    }
    &_txt {
      vertical-align: middle;
    }
  }
  &-ico {
    height: 28px;
    margin-right: 5px;
    vertical-align: middle;
    margin-left: 5px;
  }
}

.wallet-btn {
  height: 50px;
}

.checkbox-block {
  position: relative;
  overflow: hidden;
  display: block;
  input {
    opacity: 0;
    position: absolute;
    right: 100%;
    bottom: 100%;
    margin: auto 5px 5px auto;
    outline: 0;
    width: 1px;
    height: 1px;
    &:checked {
     ~ .btn-payment {
       background-color: #fff;
       color: #000;
     }
    }
  }
}

.form-field {
  margin-bottom: 20px;
  &_label {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 5px;
    text-transform: uppercase;
    display: block;
    &.transparent {
      color: rgba(255, 255, 255, 0.25);
    }
    &.bold {
      font-size: 16px;
      font-weight: bold;
    }
  }
  &_input {
    position: relative;
    &-checkbox {
      display: inline-block;
      position: relative;
      background-color: #fff;
      padding: 4px;
      line-height: 28px;
      overflow: hidden;
      &:after {
        clear: both;
        display: block;
        content: '';
      }
      input {
        position: absolute;
        right: 100%;
        bottom: 100%;
        opacity: 0;
        outline: none;
        width: 1px;
        height: 1px;
      }
      .checkbox-rect {
        width: 28px;
        height: 28px;
        position: absolute;
        left: 4px;
        top: 4px;
        display: block;
        transition: 0.1s linear;
        background: url(./assets/images/icons/no.svg) center center no-repeat #d8d8d8;
      }
      .checkbox-text {
        float: left;
        padding: 6px 6px 4px;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 18px;
        color: #110931;
        transition: 0.1s linear;
        &_on {
          opacity: 0;
        }
      }

      input:checked ~ .checkbox-rect {
        left: 100%;
        margin-left: -32px;
        background: url(./assets/images/icons/yes.svg) center center no-repeat #FCD600;
      }
      input:checked ~ .checkbox-text {
        &_on {
          opacity: 1;
        }
        &_off {
          opacity: 0;
        }
      }
    }
    input:not([type="checkbox"]):not([type="radio"]), textarea, .textarea {
      box-sizing: border-box;
      background-color: #fff;
      border: 1px solid #fff;
      color: #110931;
      line-height: 30px;
      font-family: inherit;
      font-size: 24px!important;
      padding: 10px 10px 8px;

      &:not(.min-text)::-webkit-input-placeholder {
        font-size: 20px;
      }
      &:not(.min-text):-ms-input-placeholder {
        font-size: 20px;
      }
      &:not(.min-text)::-ms-input-placeholder {
        font-size: 20px;
      }
      &:not(.min-text)::placeholder {
        font-size: 20px;
      }


      &.min-text {
        font-size: 18px!important;
        color: #110931;

        &::-webkit-input-placeholder {
          font-size: 16px;
        }
        &:-ms-input-placeholder {
          font-size: 16px;
        }
        &::-ms-input-placeholder {
          font-size: 16px;
        }
        &::placeholder {
          font-size: 16px;
        }
      }
      &.dark-field {
        background-color: rgba(106, 114, 126, 0.45);
        border-color: transparent;
        color: #fff;
      }
      &.minimal-input {
        line-height: 22px;
      }
    }
    textarea {
      resize: none;
      height: 233px;
    }

    .textarea {
      word-break: break-all;
    }

    input:not(&__ac_input):not([type="checkbox"]):not([type="radio"]), textarea, .textarea {
      width: 100%;
      &[disabled] {
        opacity: 0.5;
      }
    }
    &__btn {
      position: absolute;
      top: 50%;
      background: #F7F7F7;
      border: 2px solid #E5E5E5;
      border-radius: 0 4px 4px 0;
      font-size: 16px;
      color: #43476C;
      letter-spacing: -0.43px;
      line-height: 18px;
      padding: 10px 11px;
      right: 8px;
      margin-top: -21px;
      font-family: inherit;
      cursor: pointer;
    }
    &__ac_input {
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      opacity: 0;
      transition: all linear 0.2s;
      font-size: 16px;
      padding: 0;
    }
    &__ac_closer {
      transition: all linear 0.2s;
      opacity: 0;
      position: absolute;
      width: 0;
      height: 30px;
      top: 50%;
      margin-top: 0;
      z-index: 2;
      right: 25px;
      cursor: pointer;
      img {
        width: 100%;
        display: block;
      }
    }
    &__btn.active ~ &__ac_closer {
      opacity: 1;
      width: 30px;
      margin-top: -15px;
      right: 10px;
    }
    &__btn.active + &__ac_input {
      width: 100%;
      opacity: 1;
      top: 0;
    }
  }
  &_description {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    &:not(.no-top-margin) {
      margin-top: 22px;
    }
    &__inline {
      line-height: 50px;
      color: rgba(255, 255, 255, 0.5);
      span {
        line-height: 25px;
        vertical-align: middle;
      }
    }
  }
  &_small-desc {
    margin-top: 10px;
    line-height: 18px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.85);
    &.for-checkbox {
      margin-top: 0;
      line-height: 40px;
      span {
        line-height: 20px;
        display: inline-block;
        max-width: 100%;
      }
    }
  }
  &_checkbox-val {
    display: block;
    border: 1px solid #E2E2E2;
    text-transform: uppercase;

    &_stat, &_label {
      display: inline-block;
      vertical-align: middle;
    }

    &_stat {
      padding: 1px 1px 1px 10px;
      font-size: 13px;
      color: #110931;
      line-height: 25px;
      background: #E2E2E2;
      padding-top: 3px;
      min-width: 65px;
      white-space: nowrap;
      box-sizing: border-box;
      text-align: center;

      img {
        vertical-align: middle;
        margin-left: 5px;
        margin-top: -3px;
      }
    }
    &_label {
      font-size: 14px;
      color: #E2E2E2;
      line-height: 18px;
      padding: 3px 10px 0;
    }
  }

  &_value {
    font-size: 18px;
    color: #FFFFFF;
    word-break: break-all;
  }
  &_copy {
    float: right;
    text-align: center;
    width: 40px;
    line-height: 43px;
  }
  &_copy + &_input_data {
    margin-right: 40px;
  }
  &_info-field {
    color: #8E939B;
    &:after {
      clear: both;
      content: '';
      display: block;
    }
    span {
      &.float-left + .float-left {
        margin-left: 20px;
      }
    }
  }
}

.copy-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 5px;
  &.copied {
    &:after {
      position: absolute;
      bottom: 100%;
      width: 100px;
      text-align: center;
      right: 0;
      margin-left: -55px;
      margin-bottom: 8px;
      border-radius: 2px;
      content: 'Copied';
      font-size: 14px;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.4);
      color: #fff;
    }
    &:before {
      position: absolute;
      right: 0;
      bottom: 100%;
      border-width: 7px 7px 0 7px;
      border-color: rgba(0, 0, 0, 0.4) transparent;
      border-style: solid;
      content: '';
      width: 0;
      height: 0;
      margin-right: 4px;
      margin-bottom: 1px;
    }
  }
}

.new-btn {
  display: inline-block;
  padding: 0 40px;
  border: 0 none;
  cursor: pointer;
  outline: 0 none;

  &, &:hover, &:focus {
    text-decoration: none;
  }
  span {
    display: block;
    white-space: nowrap;
  }
  &-yellow {
    background: #F3D663;
    color: #3B4452;
    &:disabled {
      opacity: 0.8;
    }
    &:not(:disabled) {
      box-shadow: 0 15px 19px rgba(0, 0, 0, 0.09);
      &:hover, &:focus {
        background: #ffe268;
        color: #2a313b;
      }
    }
  }
}
.minimal-btn {
  border: 1px solid #979797;
  color: #EEEEEE;
  background: none;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 7px;
  cursor: pointer;
  white-space: nowrap;
  &, &:hover, &:focus, &:active {
    text-decoration: none;
  }
  img, span {
    vertical-align: middle;
  }
  img {
    margin-right: 7px;
  }
  span {
    margin-top: 3px;
    position: relative;
    top: 2px;
  }
}


.or-delimiter {
  height: 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.25);
  overflow: visible;
  text-align: center;
  margin: 25px 0;
  span {
    background-color: #6A727E;
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 3px 13px;
    height: 24px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin-top: -12px;
  }
}


.mat-datepicker-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -22px;
  color: rgba(57, 69, 83, 0.86) !important;
  &.mat-datepicker-toggle-active {
    color: #394553!important;
  }
}
.mat-button-focus-overlay {
  background: none!important;
}
.mat-calendar-body-selected {
  background-color: #394553!important;
}



.timepicker__header {
  background-color: #222!important;
}
.clock-face__number > span.active {
  background-color: #222!important;
}
.clock-face__clock-hand {
  background-color: #222!important;
}
.clock-face__clock-hand_minute:before {
  border-color: #222!important;
}
.timepicker-button {
  color: #222!important;
}


.active-swaps-table {
  .ng-scrollbar-layout {
    max-height: 400px!important;
  }
}

.index-start-form {
  .form-field_input input {
    padding-top: 12px!important;
    padding-bottom: 10px!important;
    line-height: 34px!important;
  }
}

@media screen and (max-width: 1020px) {
  .support-hide-1024.with-support #livechat-compact-container, .watch-instruction-btn.hide-1024{
    display: none!important;
  }
}


@media screen and (max-width: 800px) {
  .base-block-content {
    padding-top: 17vw;
  }
  .with-support #livechat-compact-container, .watch-instruction-btn {
    display: none!important;
  }
}
