/* Global scss */
@import 'scss/fonts';

/* Global scss */
@import 'scss/vars';
@import 'scss/grid';
@import 'scss/typography';
@import 'scss/mixins';

/* Elements */
@import 'scss/elements/dialog';
@import 'scss/elements/preloader';
@import 'scss/elements/contracts';
@import 'scss/elements/buttons';
@import 'scss/elements/icons';
@import 'scss/elements/dropdown-labels';
@import 'scss/elements/form';

/* Global */
@import 'scss/livechat';
@import 'scss/global-material-styles';
@import 'scss/iframe-style';

* {
  appearance: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: 'Ubuntu', 'Josefin Sans', Arial, sans-serif;

  background-image: url('./assets/images/bg.jpg');
  background-size: cover;
}

html {
  background-color: #f4f4f4;
}

main.main-content {
  max-width: 1440px;
  margin: 84px auto 0;
}

.noscroll {
  position: fixed;
  right: 0;
  left: 0;

  overflow: hidden;
}

.app-content-block {
  box-sizing: border-box;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;

  @include b(1240) {
    padding-right: 2vw;
    padding-left: 2vw;
  }
}

a:not(.new-btn):not(.btn):not(.minimal-btn):not(.rubic-btn) {
  color: #4aa956;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #4aa956;
    text-decoration: underline;
  }
}

.walletconnect-modal__base {
  a:not(.new-btn):not(.btn):not(.minimal-btn):not(.rubic-btn) {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}

.mat-tooltip {
  white-space: pre-line;
  text-align: center;
}

tui-dropdown-box {
  border: none !important;
  border-radius: 18px !important;
}
