<ng-container
  *ngLet="{
    error: error$ | async,
    isMobile: isMobile$ | async
  } as button"
>
  <ng-container
    *ngLet="button.error.type | functionCall : allowChangeNetwork : this as allowChange"
  >
    <ng-container *ngIf="allowChange && button.isMobile; else errorInfo">
      <app-rubic-button
        [attr.error]="true"
        appearance="primary"
        [loading]="loading"
        [disabled]="loading"
        (onClick)="changeNetwork()"
      >
        {{
          loading
            ? ''
            : ('common.switchTo' | translate : { networkName: (fromBlockchainLabel$ | async) })
        }}
      </app-rubic-button>
    </ng-container>

    <ng-template #errorInfo>
      <ng-container *ngIf="!allowChange || !button.isMobile">
        <app-rubic-button
          class="error-button"
          [attr.error]="true"
          [attr.error-min-max]="button.error.type | functionCall : isMinMaxError"
          appearance="secondary"
          [disabled]="true"
        >
          {{ button.error.text }}
        </app-rubic-button>
      </ng-container>
    </ng-template>
  </ng-container>
</ng-container>
