@use 'src/scss/core' as *;

.error-button {
  ::ng-deep {
    .content {
      color: rgb(216, 120, 121);
    }
  }
}

app-rubic-button[error=true] {
  @include iframe {
    ::ng-deep button span {
      font-size: 14px;
    }
  }
}

app-rubic-button[error-min-max=true] {
  @include iframe {
    ::ng-deep button span {
      font-size: 12px;
    }
  }
}
