// *****  buttons styles *****

.rubic {
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 185px;
    min-height: 50px;

    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;

    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.4s ease;

    span {
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.5;

      span {
        cursor: default;
      }
    }

    &:hover {
      transition: 0.4s ease;
    }

    &:active {
      transform: scale(0.95);
    }

    &:focus,
    &:active {
      outline: none;
    }

    &-green {
      color: var(--main-green);

      background: none;
      border: 2px solid var(--main-green);

      &:not(.rubic-btn-border) {
        color: white;

        background-color: var(--main-green);
      }

      &:hover {
        background-color: var(--green-btn-border-hover-bg);
        opacity: 0.9;

        &:not(.rubic-btn-border) {
          background-color: var(--main-green);
        }
      }

      &:active {
        box-shadow: 0px 0px 15px -4px var(--main-green);
      }
    }
  }
}
