// *****  buttons styles *****
button {
  border: none;
}

.rubic {
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 185px;
    min-height: 50px;

    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;

    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.4s ease;

    span {
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.5;

      span {
        cursor: default;
      }
    }

    &:hover {
      transition: 0.4s ease;
    }

    &:active {
      transform: scale(0.95);
    }

    &:focus,
    &:active {
      outline: none;
    }

    &-green {
      color: var(--main-green);

      background: none;
      border: 2px solid var(--main-green);

      &:not(.rubic-btn-border) {
        color: white;

        background-color: var(--main-green);
      }

      &:hover {
        background-color: var(--green-btn-border-hover-bg);
        opacity: 0.9;

        &:not(.rubic-btn-border) {
          background-color: var(--main-green);
        }
      }

      &:active {
        box-shadow: 0px 0px 15px -4px var(--main-green);
      }
    }
  }
}

.btn {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 96%;
  height: 50px;
  padding: 0 15px;

  color: white;
  font-size: 18px;
  font-family: inherit;
  text-decoration: none;

  border: none;
  border-left: 5px solid;
  outline: none;
  cursor: pointer;

  transition: all linear 0.1s;

  &__auto-width {
    width: auto;
  }

  &-auto {
    display: inline-block;
    width: auto;
  }

  &:not(&-normal-weight) {
    font-weight: bold;
  }

  &:disabled {
    cursor: default;
    opacity: 0.6;
  }

  .spiner {
    width: 20px;
  }

  .arrow {
    margin-right: 10px;
  }

  &_small {
    width: 250px;
  }

  &_subscribe {
    width: 200px;
    height: 50px;
  }

  &-min-padding {
    padding-right: 0;
    padding-left: 0;
  }

  &-min {
    height: 42px;

    font-size: 16px;

    svg {
      width: 21px;
      height: 21px;
      margin-right: 10px;
      margin-left: -6px;

      vertical-align: middle;
    }
  }

  &-for-field {
    height: 40px;
    margin: 5px 0;
  }

  &-transparent {
    color: black;

    border: 1px solid #b9bdc2;
    border-left-width: 5px;

    &:not(.with-bg) {
      background-color: transparent;
    }

    &.with-bg {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &:not([disabled]):hover {
      border-color: #dbe0e6;
    }

    .just-title {
      display: block;
      margin: -1px 0;
    }
  }

  &-link {
    padding: 0;

    font-weight: normal;

    background-color: transparent;
    border: 0 none;

    &:hover,
    &:focus {
      color: #fcd600;
      text-decoration: underline;
    }
  }

  &-white-opacity {
    color: black;

    background-color: rgb(255, 255, 255);
    border-color: #2873fb;

    &.white-border {
      border-color: rgba(255, 255, 255, 0.67);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }

  &-yellow {
    color: black;

    background: #fcd600;
    border-left-color: rgba(255, 255, 255, 0.67);

    &:not([disabled]):hover {
      background-color: #ff0;
    }

    &:not([disabled]):active {
      background-color: #c7a800;
    }
  }

  &-blue {
    color: white;

    background: #2873fb;
    border-left-color: rgba(255, 255, 255, 0.67);

    &:not([disabled]):hover {
      background-color: #2872fbcc;
    }

    &:not([disabled]):active {
      background-color: #2873fb;
    }
  }

  &-green {
    color: white;

    background: #4aa956;
    border-left-color: rgba(255, 255, 255, 0.67);

    &:not([disabled]):hover {
      background-color: #4aa956;
    }

    &:not([disabled]):active {
      background-color: #4aa956;
    }
  }

  &-payment {
    margin-bottom: 7px;
    padding: 0 15px;

    color: white;
    font-weight: normal;
    font-size: 16px;

    background-color: rgba(0, 0, 0, 0.2);
    border-width: 0;
    border-radius: 2px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }

    &_ico {
      height: 26px;
      margin-right: 8px;

      vertical-align: middle;
    }

    &_txt {
      vertical-align: middle;
    }
  }

  &-ico {
    height: 28px;
    margin-right: 5px;
    margin-left: 5px;

    vertical-align: middle;
  }
}


