.contract-state {
  float: right;

  color: #4aa956;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;

  &::before {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;

    vertical-align: middle;

    border-radius: 50%;

    content: '';
  }

  &__0 {
    &::before {
      background-color: white;
    }
  }

  &__1 {
    &::before {
      background: #2bcf78;
      box-shadow: 0px 0px 9px #65f7b0;
    }
  }

  &__2 {
    &::before {
      background-color: #660002;
    }
  }

  &__3,
  &__6 {
    &::before {
      background-color: #ffd139;
      box-shadow: 0 0 9px rgba(255, 209, 57, 0.68);
    }
  }

  &__4 {
    &::before {
      background-color: #0c660b;
    }
  }

  &__5 {
    color: #660002;

    &::before {
      background-color: #660002;
    }
  }
}
