@import '../mixins';

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

.cdk-global-overlay-wrapper {
  position: absolute;
  z-index: 1000;

  display: flex;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  opacity: 0;

  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.35);
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}

.cdk-overlay-pane {
  position: absolute;
  z-index: 1000;

  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;

  pointer-events: auto;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;

  border-radius: 10px !important;
  box-shadow: 0 1em 5em rgba(0, 0, 0, 0.6);
}

.alert-window-title {
  font-size: 22px;
  text-align: center;
}

.alert-window-buttons {
  padding: 10px 0;

  .btn {
    margin: 0 2%;
  }
}

.dialog-block {
  color: black;

  background-color: white;

  .transaction-title {
    font-size: 18px;
  }

  .transaction-title,
  .transaction-description {
    max-width: 390px;
    margin: 0 auto 20px;

    text-align: center;

    &__row {
      display: block;
      margin-bottom: 10px;
    }
  }
}

.dialog-closer {
  float: right;
  margin-top: -8px;
  margin-right: -8px;
  padding: 0;

  background: none;
  border: 0 none;
  cursor: pointer;

  img {
    width: 30px;

    vertical-align: middle;
  }
}
@media screen and (max-width: 800px) {
  .mat-dialog-content {
    padding: 0 4% !important;
  }

  .dialog-block {
    overflow: auto !important;

    &__content {
      padding: 4%;
    }
  }
}

.dialog-block-listing {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 310px;

  background: white;
  background-image: url('/assets/images/props/modal-listing-left-top.svg'),
    url('//assets/images/props/modal-listing-right-top.svg'),
    url('/assets/images/props/modal-listing-right-bottom.svg');
  background-repeat: no-repeat;
  background-position: left top, right top, right bottom;
  background-size: 160px, 90px, 200px;
  border: 4px solid #4aa956;

  @include b(500) {
    min-height: 200px;

    background-size: 100px, 60px, 150px;
  }

  .dialog-block {
    &__content {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr;

      color: black;
      text-align: center;

      @include b(500) {
        grid-gap: 10px;
      }

      &-close {
        position: absolute;
        top: 20px;
        right: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;

        color: white;
        font-size: 13px;
        line-height: 1;

        background-color: #00000085;
        border: none;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        opacity: 0.5;

        transition: 0.4s ease;

        &:hover {
          opacity: 1;

          transition: 0.4s ease;
        }
      }

      &-title {
        font-weight: bold;
        font-size: 35px;

        @include b(500) {
          font-size: 24px;
        }
      }

      &-text {
        font-size: 23px;

        opacity: 0.5;

        @include b(500) {
          font-size: 13px;
        }
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 185px;
        margin: 10px auto 0;

        @include b(500) {
          min-height: 40px;
        }
      }
    }
  }
}

.dialog-ts-container {
  .dialog-block {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      hr {
        width: 100%;

        border-color: rgba(0, 0, 0, 0.1);
      }

      .alert-window {
        &-title {
          display: block;
          margin: 0 0 20px;

          color: #4aa956;
          font-weight: bold;
          font-size: 28px;
          line-height: 44px;
          text-align: left;

          @include b(550) {
            margin: 0 0 10px;

            color: #4aa956;
            font-size: 20px;
            line-height: 40px;
          }
        }

        &-text {
          margin-bottom: 20px;

          color: black;
          font-weight: normal;
          font-size: 16px;
          line-height: 27px;

          @include b(550) {
            margin-bottom: 10px;

            font-size: 14px;
            line-height: 19px;
          }

          p {
            margin: 0;
            padding: 0;
          }
        }

        &-inputs {
          position: relative;

          margin-top: 20px;

          &-text {
            display: block;
            margin-left: 40px;

            color: #4aa956;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;

            @include b(550) {
              font-size: 12px;
              line-height: 14px;
            }
          }

          &:hover {
            cursor: pointer;

            input {
              ~ .checkmark {
                background-color: #44a04f70;
              }
            }
          }

          input {
            position: absolute;

            width: 0;
            height: 0;

            cursor: pointer;
            opacity: 0;

            &:checked {
              ~ .checkmark {
                background-color: transparent;

                &::after {
                  display: block;
                }
              }
            }
          }

          .checkmark {
            position: absolute;
            top: 2px;
            left: 0;

            width: 30px;
            height: 30px;

            background-color: transparent;
            border: 1px solid #4aa956;

            &::after {
              position: absolute;
              top: 5px;
              left: 12px;

              display: none;
              width: 5px;
              height: 12px;

              border: solid #4aa956;
              border-width: 0 3px 3px 0;
              transform: rotate(45deg);
              transform: rotate(45deg);
              transform: rotate(45deg);

              content: '';
            }
          }
        }

        &-links {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 30px;

          @include b(550) {
            margin-bottom: 0;
          }
        }

        &-link {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          min-width: 115px;
          margin-right: 15px;
          margin-bottom: 10px;
          padding: 5px 15px 5px 5px;

          color: black;
          font-weight: normal;
          font-size: 16px;
          line-height: 27px;
          text-decoration: none !important;

          background: #fafafa;
          border-radius: 44px;
          cursor: pointer;

          &:hover {
            text-decoration: none !important;
          }

          img {
            min-width: 40px;
            max-width: 40px;
            min-height: 40px;
            max-height: 40px;
            margin-right: 5px;
          }
        }

        &-address {
          display: grid;
          grid-gap: 20px;
          grid-template-columns: 1fr 100px;
          justify-content: space-between;
          margin-bottom: 20px;
          padding: 20px;

          background: #fafafa;

          @include b(500) {
            grid-template-columns: 1fr;
          }

          &-one {
            word-break: break-all;
          }

          &-two {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-items: center;
            justify-content: center;

            @include b(500) {
              align-items: flex-start;
            }
          }

          &-title {
            display: block;
            margin-bottom: 10px;

            color: black;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
          }

          &-text {
            margin: 0;
            padding: 0;

            color: #4aa956;
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;
            word-wrap: break-word;

            @include b(550) {
              font-size: 15px;
              line-height: 18px;
            }
          }
        }
      }

      .btn {
        &-confirm {
          max-width: 200px;
          height: 60px;
          margin: 20px 0px 0px;

          font-size: 23px;

          @include b(550) {
            max-width: 100%;
            height: 50px;
            margin: 10px 0px 0px;

            font-size: 17px;
          }
        }
      }
    }
  }
}
