@import '../mixins';

.form-field {
  margin-bottom: 20px;

  &_btn {
    margin-bottom: 15px;
  }

  &_label {
    display: block;
    margin-bottom: 8px;

    color: #242424;
    font-size: 13px;
    text-transform: uppercase;

    opacity: 0.85;

    &--rate {
      position: absolute;
      right: 0;
      bottom: 100%;

      opacity: 1;
      @include b(450) {
        font-size: 10px;
      }

      .form-notice {
        position: absolute;
        bottom: 100%;
        left: -90px;

        display: none;
        padding-bottom: 16px;

        &_content {
          position: relative;

          width: 190px;
          padding: 9px 5px;

          color: black;
          font-size: 14px;
          line-height: 1.25em;
          text-align: center;
          text-transform: initial;

          background: white;
          box-shadow: 0 12px 12px rgba(0, 0, 0, 0.25);

          &::after {
            position: absolute;
            top: 100%;
            left: 50%;

            display: block;
            width: 12px;
            height: 12px;
            margin-top: -7px;
            margin-left: -6px;

            background-color: white;
            transform: rotate(45deg);

            content: '';
          }
        }
      }

      &-short {
        color: #4aa956;
        font-weight: 700;
        text-transform: uppercase;

        &-txt,
        &-icon {
          display: inline-block;

          vertical-align: middle;
        }

        &-icon {
          position: relative;

          margin-left: 5px;

          &:hover {
            .form-notice {
              display: block;
            }
          }
        }
      }
    }

    &.transparent {
      color: rgba(255, 255, 255, 0.25);
    }

    &.bold {
      font-weight: bold;
      font-size: 16px;
    }
  }

  input[type='number'] {
    appearance: textfield;
  
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;

      appearance: none;
    }
  }

  &_input {
    position: relative;

    &-checkbox {
      position: relative;

      display: inline-block;
      padding: 8px 4px;
      overflow: hidden;

      line-height: 28px;

      background-color: white;

      &::after {
        display: block;
        clear: both;

        content: '';
      }

      + span {
        margin-left: 20px;

        color: black;
        font-size: 14px;
        line-height: 14px;

        opacity: 0.5;
      }

      input {
        position: absolute;
        right: 100%;
        bottom: 100%;

        width: 1px;
        height: 1px;

        outline: none;
        opacity: 0;
      }

      .checkbox-rect {
        position: absolute;
        top: 8px;
        left: 4px;

        display: block;
        width: 28px;
        height: 28px;

        background: url('/assets/images/icons/checkbox-cross.svg') center center no-repeat #d8d8d8;

        transition: 0.1s linear;
      }

      .checkbox-text {
        float: left;
        padding: 6px 6px 4px;

        color: #110931;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;

        transition: 0.1s linear;

        &_on {
          opacity: 0;
        }
      }

      input:checked ~ .checkbox-rect {
        left: 100%;

        margin-left: -32px;

        background: url('/assets/images/icons/checkbox-tick.svg') center center no-repeat #fcd600;
      }

      input:checked ~ .checkbox-text {
        &_on {
          opacity: 1;
        }

        &_off {
          opacity: 0;
        }
      }
    }

    input:not([type='checkbox']):not([type='radio']),
    textarea,
    .textarea {
      box-sizing: border-box;
      margin-top: -1px;
      padding: 11px 10px 11px 22px;

      color: #110931;
      font-size: 18px !important;
      font-family: inherit;
      line-height: 30px;

      background: #f4f4f4;
      border: 1px solid white;

      &:not(.min-text),
      &.max-placeholder {
        &::-webkit-input-placeholder {
          font-size: 20px;
        }
      }

      &:not(.min-text),
      &.max-placeholder {
        &:-ms-input-placeholder {
          font-size: 20px;
        }
      }

      &:not(.min-text),
      &.max-placeholder {
        &::-ms-input-placeholder {
          font-size: 20px;
        }
      }

      &:not(.min-text),
      &.max-placeholder {
        &::placeholder {
          font-size: 20px;
        }
      }

      &.min-text {
        color: #110931;
        font-size: 18px !important;

        &:not(.max-placeholder) {
          &::-webkit-input-placeholder {
            font-size: 16px;
          }

          &:-ms-input-placeholder {
            font-size: 16px;
          }

          &::-ms-input-placeholder {
            font-size: 16px;
          }

          &::placeholder {
            font-size: 16px;
          }
        }
      }

      &.dark-field {
        color: white;

        background-color: rgba(106, 114, 126, 0.45);
        border-color: transparent;
      }

      &.minimal-input {
        line-height: 22px;
      }
    }

    textarea {
      height: 233px;

      resize: none;
    }

    .textarea {
      word-break: break-all;
    }

    &__btn {
      position: absolute;
      top: 50%;
      right: 8px;
      z-index: 2;

      margin-top: -21px;
      padding: 10px 11px;

      color: #43476c;
      font-size: 16px;
      font-family: inherit;
      line-height: 18px;
      letter-spacing: -0.43px;

      background: white;
      border: 2px solid #e5e5e5;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
    }

    &__ac_input {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      width: 0;

      font-size: 16px;

      opacity: 0;

      transition: all linear 0.2s;
    }

    &__ac_closer {
      position: absolute;
      top: 50%;
      right: 25px;
      z-index: 4;

      width: 0;
      height: 30px;
      margin-top: 0;

      cursor: pointer;
      opacity: 0;

      transition: all linear 0.2s;

      img {
        display: block;
        width: 100%;
      }
    }

    &__btn.active ~ &__ac_closer {
      right: 10px;

      width: 30px;
      margin-top: -15px;

      background: #f4f4f4;
      opacity: 1;
    }

    &__btn.active + &__ac_input {
      top: 0;
      z-index: 3;

      width: 50%;
      padding: 11px 43px 11px 22px !important;

      border-left: 1px solid #d8d8d8 !important;
      opacity: 1;
    }
  }

  &_description {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 14px;

    &-show {
      margin-bottom: 15px;

      > span {
        cursor: pointer;
      }

      .ng-star-inserted {
        display: flex;
        margin-top: 15px;
      }

      .form-field_input {
        width: 100%;
      }

      .form-field_input + .form-field_input {
        width: fit-content;

        .btn {
          margin: 0;
        }
      }
    }

    &:not(.normal-font) {
      text-transform: uppercase;
    }

    &.normal-font {
      font-size: 15px;

      &,
      a {
        &:not(.transparent) {
          color: rgba(0, 0, 0, 0.5) !important;
        }
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }

      &--visible {
        opacity: 1 !important;
      }
    }

    &:not(.no-top-margin) {
      margin-top: 15px;
    }

    &__inline {
      color: rgba(255, 255, 255, 0.5);
      line-height: 50px;

      span {
        line-height: 25px;
        vertical-align: middle;
      }
    }
  }

  &_small-desc {
    margin-top: 10px;

    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    line-height: 18px;

    &.for-checkbox {
      margin-top: 0;

      line-height: 40px;

      span {
        display: inline-block;
        max-width: 100%;

        line-height: 20px;
      }
    }
  }

  &_checkbox-val {
    display: block;

    text-transform: uppercase;

    border: 1px solid #e2e2e2;

    &_stat,
    &_label {
      display: inline-block;

      vertical-align: middle;
    }

    &_stat {
      box-sizing: border-box;
      min-width: 65px;
      padding: 1px 1px 1px 10px;
      padding-top: 3px;

      color: #110931;
      font-size: 13px;
      line-height: 25px;
      white-space: nowrap;
      text-align: center;

      background: #e2e2e2;

      img {
        margin-top: -3px;
        margin-left: 5px;

        vertical-align: middle;
      }
    }

    &_label {
      padding: 3px 10px 0;

      color: #e2e2e2;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &_value {
    color: white;
    font-size: 18px;
    word-break: break-all;
  }

  &_copy {
    float: right;
    width: 40px;

    line-height: 43px;
    text-align: center;
  }

  &_copy + &_input_data {
    margin-right: 40px;
  }

  &_info-field {
    color: #8e939b;

    &::after {
      display: block;
      clear: both;

      content: '';
    }

    span {
      &.float-left + .float-left {
        margin-left: 20px;
      }
    }
  }
}
