

.field-error {
  display: none;
  color: rgba(255, 41, 68, 0.8);
  font-size: 12px;
  padding: 0.5em 0;
  text-transform: uppercase;
}

.field-success {
  color: rgba(6, 176, 31, 0.96);
  font-size: 12px;
  padding: 0.5em 0;
  display: block;
  text-transform: uppercase;
  &.grey-text-color {
    color: #878787;
  }
}

.textarea {
  &__black {
    width: 100%;
    font-family: inherit;
    padding: 15px;
    box-sizing: border-box;
    border: 0 none;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: inherit;
    max-width: 100%;
    height: 181px;
    color: #fff;
  }
}

.form-field {
  input, textarea {
    outline: none;
    form.ng-submitted &:not(.without-error-lightning).ng-invalid,
    &.ng-invalid:not(.without-error-lightning):focus,
    &:not(.without-error-lightning).ng-touched.ng-invalid,
    &:not(.without-error-lightning)[invalid="true"] {
      &:not(:disabled), &:not([disabled]), &:not([readonly]) {
        border-color: #ff2944;
      }
      &:focus {
        box-shadow: 0 0 0.2em rgba(249, 28, 28, 0.4);
      }
      ~ {
        .field-label {
          //color: #ffa2a8;
        }
      }
      ~ .field-advanced-description {
        display: none;
      }

      &.ng-invalid-required {
        ~ .form-field_error-required {
          display: block;
          ~ .field-error {
            display: none !important;
          }
        }
      }
      &.ng-invalid-email {
        ~ {
          .form-field_error-email {
            display: block;
            ~ .field-error {
              display: none !important;
            }
          }
        }
      }
      &.ng-invalid-pattern {
        ~ {
          .form-field_error-pattern {
            display: block;
            ~ .field-error {
              display: none !important;
            }
          }
        }
      }
      &.ng-invalid-minlength {
        ~ {
          .form-field_error-minlength {
            display: block;
            ~ .field-error {
              display: none !important;
            }
          }
        }
      }

      &.ng-invalid-server {
        ~ {
          .form-field_error-server {
            display: block;
            ~ .field-error {
              display: none !important;
            }
          }
        }
      }
      &.ng-invalid-soft-cap {
        ~ {
          .form-field_error-soft-cap {
            display: block;
            ~ .field-error {
              display: none !important;
            }
          }
        }
      }
      &.ng-invalid-check-sum {
        ~ {
          .form-field_error-check-sum {
            display: block;
            ~ .field-error {
              display: none !important;
            }
          }
        }
      }

      &.ng-invalid-contract-address {
        ~ {
          .form-field_error-contract-address {
            display: block;
            ~ .field-error {
              display: none !important;
            }
          }
        }
      }
    }
  }
}

.radio-buttons-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    padding: 13px 0;
    margin: 0;
  }
}
.radio-button-decorated {
  position: relative;
  overflow: hidden;
  padding-left: 40px;
  &_input {
    position: absolute;
    right: 105%;
    bottom: 105%;
    margin: 0;
    opacity: 0;
  }
  &_mask {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: -7px;
    cursor: pointer;
  }

  &_input[readonly] + &_mask {
    cursor: default;
  }

  &_input[readonly]:not(:checked) ~ * {
    opacity: 0.5;
  }
  &_input:checked + &_mask {
    background-color: #fff;
    cursor: default;
    &:after {
      content: '';
      display: inline-block;
      border-width: 0 2px 2px 0;
      border-color: #000;
      border-style: solid;
      transform: rotate(45deg);
      width: 4px;
      height: 9px;
    }
  }
  &_label {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
  }
}





