@use 'src/scss/core' as *;

.input-container {
  display: flex;
  flex-direction: column;
  gap: var(--tui-padding-s);
  align-items: flex-end;
  width: 100%;
}

@include b($mobile-md) {
  .input-container {
    gap: var(--tui-padding-xs);
    align-items: flex-start;
  }
}
