$cell-gap: 4px;
$cell-padding: 10px;

.table {
  &.mat-table {
    width: calc(100% + #{$cell-gap} * 2);
    margin: 0 -$cell-gap;

    background: inherit;
    border-spacing: $cell-gap;
  }

  th,
  td {
    position: relative;

    padding: $cell-padding;

    color: #000;

    background-color: #fff;
    border: none;

    div {
      display: flex;
      justify-content: center;
    }
  }

  th {
    font-weight: 700;
    font-size: 16px;
  }

  td {
    font-size: 15px;

    > a {
      color: inherit;
      text-decoration: none;

      cursor: pointer;

      &:hover,
      &:focus {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  img {
    height: 25px;
  }

  &__centered {
    justify-content: center;
  }
}

::ng-deep .table {
  &__centered-child > * {
    display: flex;
    justify-content: center;
  }
}
