// ***** vars *****
:root {
  --main-font: 'Josefin Sans', Arial, sans-serif;

  --container-max-width: 1440px;
  --main-green: #4aa956;

  --green-btn-border-hover-bg: #e5f5e7;
}

// ***** typigraphy *****
$main-font: 'Josefin Sans', Arial, sans-serif;
$ubuntu-font: 'sofia pro', 'Josefin Sans', Arial, sans-serif;


// ***** colors *****
$main-green: #4aa956;


