// ***** vars *****
:root {
  --main-font: 'Josefin Sans';

  --container-max-width: 1440px;
  --main-green: #4aa956;

  --green-btn-border-hover-bg: #e5f5e7;
}

// ***** typigraphy *****
$main-font: 'Josefin Sans';

// ***** colors *****
$main-green: #4aa956;
