@use 'src/scss/core' as *;

:host {
  display: block;

  @include b($tablet) {
    padding: 0;
  }

  ::ng-deep {
    app-window-container {
      header {
        padding-right: 0;
        padding-left: 0;
      }
    }

    //app-stake-button button {
    //  width: 100%;
    //}
  }
}

::placeholder {
  color: var(--tui-text-03);
}

.form-container {
  display: block;
  max-width: 490px;
  margin: 9px auto 20px;

  background: var(--form-background);
  border-radius: 24px;

  @include b($tablet) {
    max-width: 100%;
    margin: 9px auto 16px;
    padding: 20px;

    border-radius: 16px;
  }
}

.title {
  position: relative;

  margin-bottom: 36px;


  @include b($tablet) {
    margin-bottom: 25px;
  }

  &__back {
    @include clearbtn();
    display: flex;
    margin-top: 1px;
    margin-right: var(--tui-padding-l);

    cursor: pointer;

    ::ng-deep span svg {
      height: 12px;
    }
  }

  &__text {
    @include font(18px, 22px, 500, var(--primary-text));
    text-align: center;
  }
}

.stake-form {
  display: flex;
  flex-direction: column;
  padding: var(--tui-padding-m);

  background: var(--io-background);
  border-radius: var(--tui-radius-m);
}

.token {
  margin-bottom: var(--tui-padding-m);

  @include b($tablet) {
    margin-bottom: 32px;
  }

  &__header,
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
    gap: var(--tui-padding-m);
    margin-bottom: var(--tui-padding-m);
  }

  &__footer {
    @include font(15px, 15px, 500, var(--tui-text-03), 0.45px);
  }

  &__logo {
    @include font(21px, 21px, 500, var(--primary-text));
    display: flex;
    align-items: center;

    &-icon {
      width: 21px;
      height: 21px;
      margin-right: var(--tui-padding-xs);
    }
  }

  &__amount-input {
    @include font(15px, 21px, 400, var(--primary-text), 0.45px);
    width: 100%;
    margin-top: 1px;

    text-align: right;

    background-color: transparent;

    border: none;
  }

  &__balance {
    display: flex;
    align-items: center;
  }

  &__max {
    @include font(9px, 9px, 400, var(--tui-text-01), 0.45px);

    margin-top: -2px;
    margin-left: var(--tui-padding-l);
    padding: var(--tui-padding-xs) var(--tui-radius-s);

    background: linear-gradient(90deg, #209e62 0%, #0fa4ad 91.5%);

    border-radius: var(--tui-radius-xs);

    cursor: pointer;
  }

  &__price {
    max-width: 100px;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.divider {
  height: 2px;
  margin-bottom: var(--tui-padding-m);

  background: var(--secondary-background);
}

.duration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    @include font(15px, 15px, 500, var(--tui-text-03), 0.45px);
    white-space: nowrap;
  }

  &__common {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--tui-padding-m);
    width: 100%;
    margin-top: var(--tui-padding-m);

    &-chip {
      @include clearbtn();
      @include font(15px, 16px, 500, var(--tui-text-01), 0.15px);
      width: 100%;
      padding: 8px 12px;

      background: var(--secondary-background);
      border-radius: var(--tui-radius-m);
      cursor: pointer;

      transition: transform 0.1s ease-in-out;

      &:last-child {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
      }

      &:hover {
        color: var(--primary-color);

        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        transform: translateY(-3px) scale(1.03);

        transition: transform 0.1s ease-in-out;
      }

      &:active {
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
        transform: translateY(0) scale(1);
      }

      &-label,
      &-rate {
        display: block;

        font-size: 14px;
        white-space: nowrap;
      }

      &-rate {
        &-end {
          @include font(16px, 19px, 500, var(--primary-color));

          @include b($tablet) {
            @include font(14px, 14px, 500, var(--primary-color));
          }

          &-hint {
            @include font(16px, 19px, 400, #f3ba2f);
            letter-spacing: 0.03em;
            text-align: center;

            @include b($tablet) {
              @include font(14px, 14px, 400, #f3ba2f);
            }
          }
        }
      }

      &-label {
        margin-bottom: 5px;
      }

      &_selected {
        color: var(--tui-primary-text);

        background-color: var(--tui-primary);

        .duration__common-chip-earn-end {
          color: var(--staking-form-selected-duration);
        }

        .duration__common-chip-earn-end-hint {
          color: var(--staking-form-selected-duration);
        }

        &:hover,
        &:active {
          box-shadow: none;
          transform: none;

          transition: none;
        }
      }

      &[disabled] {
        color: rgba(144, 144, 144, 0.7);

        background-color: transparent;
        border: 1px solid var(--secondary-background);

        .duration__common-chip-earn-end,
        .duration__common-chip-earn-end-hint {
          color: rgba(144, 144, 144, 0.7);
        }

        &:hover {
          box-shadow: none;
          transform: translateY(0) scale(1);
          cursor: default;
        }
      }
    }
  }
}

.hint {
  @include font(15px, 21px, 400, #f3ba2f, 0.15px);
  display: flex;
  margin-top: var(--tui-padding-m);
  margin-bottom: 20px;
  padding: var(--tui-padding-m);

  word-break: break-word;

  background: rgba(243, 186, 47, 0.15);
  border-radius: var(--tui-radius-m);

  &__icon {
    margin-right: var(--tui-padding-m);
  }

  &__text-locked-until {
    color: var(--tui-text-01);
  }
}

.button-container {
  button {
    width: 100%;
  }
}

.rules {
  &__link {
    @include font(15px, 21px, 400, var(--tui-primary), 0.45px);
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 30px;
  }

  &__icon {
    display: flex;

    ::ng-deep svg {
      path[fill='black'] {
        fill: var(--primary-color);
      }

      rect[fill='black'] {
        fill: var(--primary-color);
      }
    }
  }
}
