<div class="form-container">
  <div class="title">
    <button class="title__back" (click)="back()">
      <div inlineSVG="assets/images/icons/arrow/long-arrow-left.svg"></div>
    </button>
    <div class="title__text">{{ 'staking.stakeForm.title' | translate }}</div>
  </div>

  <div class="token">
    <div class="token__data-and-amount">
      <div class="token__data">
        <img src="/assets/favicon/logo.svg" class="token__data-icon" alt="" />
        RBC
      </div>
      <input
        autocomplete="off"
        class="token__amount"
        name="token-amount"
        placeholder="Enter an Amount"
        appTokenAmount
        [formControl]="rbcAmountCtrl"
        [decimals]="18"
        inputmode="decimal"
        (amountChange)="handleErrors($event)"
      />
    </div>

    <div class="token__balance-and-price">
      <div class="token__balance" *ngLet="rbcTokenBalance$ | async as rbcTokenBalance">
        {{ 'staking.stakeForm.youHave' | translate }}
        {{
          rbcTokenBalance
            ? (rbcTokenBalance | bigNumberFormat | withRound : 'fixedValue' : { decimals: 2 })
            : '--.--'
        }}
        <span class="token__max" (click)="setMaxAmount(rbcTokenBalance)">{{
          'staking.stakeForm.max' | translate
        }}</span>
      </div>
      <div class="token__price">
        $ {{ selectedAmount | functionCall : calculateUsdPrice : this }}
      </div>
    </div>
  </div>

  <hr class="divider" />

  <div class="duration">
    <div class="duration__title">{{ 'staking.stakeForm.duration.title' | translate }}</div>
    <div class="duration__common">
      <ng-container *ngFor="let duration of DURATIONS; let i = index">
        <button
          class="duration__common-chip"
          [class.duration__common-chip_selected]="handleSelectedDuration(duration.value)"
          [disabled]="duration.value > MAX_LOCK_TIME || stakingIsClosed"
          (click)="setDuration(duration.value)"
        >
          <span *ngIf="i !== DURATIONS.length - 1" class="duration__common-chip-label"
            >{{ duration.label }} {{ 'staking.common.months' | translate }}</span
          >
          <span *ngIf="i !== DURATIONS.length - 1" class="duration__common-chip-earn"
            >{{ 'staking.stakeForm.duration.rewards' | translate }} x{{ duration.rewardRate }}</span
          >
          <span
            *ngIf="i === DURATIONS.length - 1"
            class="duration__common-chip-earn duration__common-chip-earn-end"
            >{{ 'staking.stakeForm.duration.rewards' | translate }} x{{ duration.rewardRate }}
            {{ 'staking.stakeForm.duration.for' | translate }} {{ duration.label }}
            {{ 'staking.common.months' | translate }}</span
          >
          <span *ngIf="i === DURATIONS.length - 1" class="duration__common-chip-earn-end-hint"
            >{{ 'staking.stakeForm.duration.durationEndData' | translate }} 07/14</span
          >
        </button>
      </ng-container>
    </div>
  </div>

  <div class="hint" *ngIf="!stakingIsClosed">
    <div class="hint__icon">
      <img src="assets/images/icons/info-warning.svg" alt="" />
    </div>
    <div class="hint__text">
      {{ selectedAmount || '0.00' }}
      {{ 'staking.stakeForm.hint.lockedRBCExpiresIn' | translate }}
      {{ durationCtrl.value > 12 ? 12 : durationCtrl.value }}
      {{ 'staking.common.months' | translate }}. <br />
      {{ 'staking.stakeForm.hint.lockedUntil' | translate }} {{ unlockDate | date : 'mediumDate' }}
    </div>
  </div>

  <div class="button-container">
    <ng-container
      *ngLet="{
        needSwitchNetwork: needSwitchNetwork$ | async,
        needLogin: needLogin$ | async
      } as data"
    >
      <app-rubic-button appearance="primary" (onClick)="login()" *ngIf="data.needLogin">
        {{ 'staking.common.connectWallet' | translate }}
      </app-rubic-button>

      <app-rubic-button
        appearance="primary"
        (onClick)="switchNetwork()"
        *ngIf="!data.needLogin && data.needSwitchNetwork"
        [disabled]="isMobile"
      >
        {{
          isMobile
            ? 'Choose Arbitrum network in your wallet'
            : ('staking.common.switchNetworkToArbitrum' | translate)
        }}
      </app-rubic-button>

      <app-stake-button
        *ngIf="!data.needSwitchNetwork && !data.needLogin"
        [minStakeAmount]="MIN_STAKE_AMOUNT"
        [maxLockTime]="MAX_LOCK_TIME"
        [amountError]="amountError"
        [lockTimeExceededError]="lockTimeExceededError"
        [stakeLoading]="stakeLoading$ | async"
        [approveLoading]="approveLoading$ | async"
        (onApprove)="approve()"
        (onStake)="stake()"
      ></app-stake-button>
    </ng-container>
  </div>
</div>

<div class="rules">
  <a
    class="rules__link"
    href="https://cryptorubic.medium.com/dear-rubicans-ffcf7b611b42"
    target="_blank"
  >
    {{ 'staking.common.rules' | translate }}
    <div class="rules__icon" [inlineSVG]="'assets/images/icons/link-arrow.svg'"></div>
  </a>
</div>
