@use 'src/scss/core' as *;

:host {
  display: block;

  @include b($tablet) {
    padding: 0;
  }
}

.form-container {
  display: block;
  max-width: 490px;
  margin: 9px auto 20px;
  padding: 26px;

  background: var(--form-background);
  border-radius: 24px;

  @include b($tablet) {
    max-width: 100%;
    margin: 9px auto 16px;
    padding: 20px;

    border-radius: 16px;
  }
}

.title {
  position: relative;

  margin-bottom: 36px;


  @include b($tablet) {
    margin-bottom: 25px;
  }

  &__back {
    @include clearbtn();
    position: absolute;
    left: 0;

    cursor: pointer;

    @include b($tablet) {
      top: 3px;

      margin-bottom: 32px;

      ::ng-deep div svg {
        width: 13px;
        height: 12px;
      }
    }

    ::ng-deep div svg path {
      fill: #000;

      @include dark {
        fill: #fff;
      }
    }
  }

  &__text {
    @include font(18px, 22px, 500, var(--primary-text));
    text-align: center;
  }
}

.token {
  margin-bottom: 20px;

  @include b($tablet) {
    margin-bottom: 32px;
  }

  &__data-and-amount,
  &__balance-and-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  &__data-and-amount {
    margin-bottom: 12px;
  }

  &__balance-and-price {
    @include font(15px, 18px, 500, var(--secondary-text));

    @include b($tablet) {
      line-height: 14px;
    }
  }

  &__price {
    max-width: 100px;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__data {
    @include font(20px, 24px, 500, var(--primary-text));
    display: flex;
    align-items: center;
    width: fit-content;
    margin-right: 12px;
    padding: 8px 12px 8px 0;

    background: var(--form-background);
    border-radius: 100px;

    @include b($tablet) {
      padding: 7px 12px 7px 0;

      font-size: 16px;
      line-height: 16px;
    }
    
    &-icon {
      width: 26px;
      height: 26px;
      margin-right: 12px;

      @include b($tablet) {
        width: 22px;
        height: 22px;
        margin-right: 8px;
      }
    }
  }

  &__amount {
    @include font(26px, 31px, 400, var(--primary-text));
    flex-grow: 1;
    width: 100%;
    height: 31px;

    text-align: right;
    
    background-color: transparent;
    
    border: none;
    
    @include b($tablet) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__max {
    margin-left: 12px;

    color: var(--primary-color);

    cursor: pointer;

    @include b($tablet) {
      margin-left: 10px;
    }
  }
}

.divider {
  height: 1px;
  margin-bottom: 20px;

  background: var(--transparent-line);

  @include b($tablet) {
    margin-bottom: 40px;
  }
}

.duration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    @include font(18px, 22px, 500, var(--primary-text));
    white-space: nowrap;
  }

  &__common {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    width: 100%;
    margin: 20px 0;

    &-chip {
      @include clearbtn();
      @include font(16px, 19px, 500, var(--secondary-text));
      width: 100%;
      padding: 8px 12px;

      border: 1px solid var(--primary-color);
      border-radius: 10px;
      cursor: pointer;

      transition: all 0.1s ease-in-out;

      @include b($tablet) {
        width: 100%;
        padding: 8px;

        font-size: 12px;
        line-height: 14px;
      }

      &:last-child {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
      }

      &:hover {
        color: var(--primary-color);

        border: 1px solid var(--primary-color);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        transform: translateY(-5px) scale(1.05);

        transition: all 0.1s ease-in-out;
      }

      &:active {
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
        transform: translateY(0) scale(1);

        transition: all 0.1s ease-in-out;
      }

      &-label,
      &-earn {
        display: block;

        font-size: 14px;
        white-space: nowrap;
      }

      &-earn {
        &-end {
          @include font(16px, 19px, 500, var(--primary-color));

          @include b($tablet) {
            @include font(14px, 14px, 500, var(--primary-color));
          }

          &-hint {
            @include font(16px, 19px, 400, #f3ba2f);
            letter-spacing: 0.03em;
            text-align: center;

            @include b($tablet) {
              @include font(14px, 14px, 400, #f3ba2f);
            }
          }
        }
      }

      &-label {
        margin-bottom: 5px;
      }

      &_selected {
        @include font(16px, 19px, 500, var(--staking-form-selected-duration));

        background-color: var(--primary-color);

        @include b($tablet) {

          @include font(14px, 14px, 500, var(--staking-form-selected-duration));
          width: 100%;
          padding: 8px;
        }

        .duration__common-chip-earn-end {
          color: var(--staking-form-selected-duration);
        }

        .duration__common-chip-earn-end-hint {
          color: var(--staking-form-selected-duration);
        }

        &:hover,
        &:active {
          box-shadow: none;
          transform: none;

          transition: none;
        }

        &:hover {
          color: var(--staking-form-selected-duration);
        }
      }

      &[disabled] {
        color: rgba(144, 144, 144, 0.7);

        background-color: transparent;
        border: 1px solid var(--transparent-line);

        .duration__common-chip-earn-end,
        .duration__common-chip-earn-end-hint {
          color: rgba(144, 144, 144, 0.7);
        }

        &:hover {
          box-shadow: none;
          transform: translateY(0) scale(1);
          cursor: default;
        }
      }
    }
  }
}

.hint {
  @include font(14px, 16px, 500, #f3ba2f);
  display: flex;
  margin-bottom: 20px;
  padding: 12px;

  word-break: break-word;

  background: rgba(243, 186, 47, 0.15);
  border-radius: 12px;

  @include b($tablet) {
    margin-bottom: 16px;

    line-height: 14px;

    border-radius: 14px;

    &__icon {
      margin-right: 9px;
    }
  }

  &__icon {
    margin-right: 12px;
  }
}

.rules {
  &__link {
    @include font(16px, 19px, 400, var(--primary-color));
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto 30px;
    margin-bottom: 30px;
    text-decoration-line: underline;
  }

  &__icon {
    display: flex;

    ::ng-deep svg {
      path[fill='black'] {
        fill: var(--primary-color);
      }

      rect[fill='black'] {
        fill: var(--primary-color);
      }
    }
  }
}
