<app-window-container class="form-container">
  <ng-container header>
    <div class="title__wrapper" (click)="back()">
      <button class="title__back">
        <span inlineSVG="assets/images/icons/arrow-back.svg"></span>
      </button>
      <span class="title__text">New position</span>
    </div>
  </ng-container>

  <div class="stake-form">
    <div class="token">
      <div class="token__header">
        <div class="token__logo">
          <img class="token__logo-icon" src="/assets/favicon/logo.svg" alt="" />
          RBC
        </div>
        <input
          class="token__amount-input"
          autocomplete="off"
          name="token-amount"
          placeholder="Enter an Amount"
          appTokenAmount
          [formControl]="rbcAmountCtrl"
          [decimals]="18"
          maxlength="15"
          inputmode="decimal"
          (amountChange)="handleErrors($event)"
        />
      </div>

      <div class="token__footer">
        <div class="token__balance" *ngLet="rbcTokenBalance$ | async as rbcTokenBalance">
          {{ 'staking.stakeForm.youHave' | translate }}
          {{
            rbcTokenBalance
              ? (rbcTokenBalance | bigNumberFormat | withRound : 'fixedValue' : { decimals: 2 })
              : '--.--'
          }}
          <span class="token__max" (click)="setMaxAmount(rbcTokenBalance)">{{
            'staking.stakeForm.max' | translate
          }}</span>
        </div>
        <div class="token__price">
          $ {{ selectedAmount | functionCall : calculateUsdPrice : this }}
        </div>
      </div>
    </div>

    <hr class="divider" />

    <div class="duration">
      <div class="duration__title">{{ 'staking.stakeForm.duration.title' | translate }}</div>
      <div class="duration__common">
        <ng-container *ngFor="let duration of DURATIONS; let i = index">
          <button
            class="duration__common-chip"
            [class.duration__common-chip_selected]="handleSelectedDuration(duration.value)"
            [disabled]="duration.value > MAX_LOCK_TIME || stakingIsClosed"
            (click)="setDuration(duration.value)"
          >
            <span class="duration__common-chip-label">
              {{ duration.label }} {{ 'staking.common.months' | translate }}
            </span>
            <span class="duration__common-chip-rate">
              {{ 'staking.stakeForm.duration.rewards' | translate }} x{{ duration.rewardRate }}
            </span>
          </button>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="hint" *ngIf="!stakingIsClosed">
    <div class="hint__icon">
      <img src="assets/images/icons/info-warning.svg" alt="" />
    </div>
    <div class="hint__text">
      <span>
        {{ selectedAmount || '0.00' }}
        {{ 'staking.stakeForm.hint.lockedRBCExpiresIn' | translate }} {{ durationCtrl.value }}
        {{ 'staking.common.months' | translate }}. <br />
      </span>
      <span class="hint__text-locked-until">
        {{ 'staking.stakeForm.hint.lockedUntil' | translate }}
        {{ unlockDate | date : 'mediumDate' }}
      </span>
    </div>
  </div>

  <div class="button-container">
    <ng-container
      *ngLet="{
        needSwitchNetwork: needSwitchNetwork$ | async,
        needLogin: needLogin$ | async
      } as data"
    >
      <button
        tuiButton
        size="l"
        type="button"
        appearance="primary"
        (click)="login()"
        *ngIf="data.needLogin"
      >
        {{ 'staking.common.connectWallet' | translate }}
      </button>

      <button
        tuiButton
        size="l"
        type="button"
        appearance="primary"
        (click)="switchNetwork()"
        *ngIf="!data.needLogin && data.needSwitchNetwork"
        [disabled]="isMobile"
      >
        {{
          isMobile
            ? 'Choose Arbitrum network in your wallet'
            : ('staking.common.switchNetworkToArbitrum' | translate)
        }}
      </button>

      <app-stake-button
        *ngIf="!data.needSwitchNetwork && !data.needLogin"
        [minStakeAmount]="MIN_STAKE_AMOUNT"
        [maxLockTime]="MAX_LOCK_TIME"
        [amountError]="amountError"
        [lockTimeExceededError]="lockTimeExceededError"
        [stakeLoading]="stakeLoading$ | async"
        [approveLoading]="approveLoading$ | async"
        (onApprove)="approve()"
        (onStake)="stake()"
      ></app-stake-button>
    </ng-container>
  </div>
</app-window-container>

<div class="rules">
  <a
    class="rules__link"
    href="https://cryptorubic.medium.com/dear-rubicans-ffcf7b611b42"
    target="_blank"
  >
    {{ 'staking.common.rules' | translate }}
    <div class="rules__icon" [inlineSVG]="'assets/images/icons/link-arrow.svg'"></div>
  </a>
</div>
