@use 'src/scss/mixins' as *;

@include font-face('Space-Grotesk', '/assets/fonts/space-grotesk/SpaceGrotesk-Light', 300);
@include font-face('Space-Grotesk', '/assets/fonts/space-grotesk/SpaceGrotesk-Regular', 400);
@include font-face('Space-Grotesk', '/assets/fonts/space-grotesk/SpaceGrotesk-Medium', 500);
@include font-face('Space-Grotesk', '/assets/fonts/space-grotesk/SpaceGrotesk-SemiBold', 600);
