.mat-datepicker-toggle {
  position: absolute;
  top: 50%;
  right: 10px;

  margin-top: -22px;

  color: rgba(57, 69, 83, 0.86) !important;

  &.mat-datepicker-toggle-active {
    color: #394553 !important;
  }
}

.mat-button-focus-overlay {
  background: none !important;
}

.mat-calendar-body-selected {
  background-color: #394553 !important;
}

.timepicker__header {
  background-color: #222 !important;
}

.clock-face__number > span.active {
  background-color: #222 !important;
}

.clock-face__clock-hand {
  background-color: #222 !important;
}

.clock-face__clock-hand_minute::before {
  border-color: #222 !important;
}

.timepicker-button {
  color: #222 !important;
} 

.mat-tooltip {
  padding: 10px 15px !important;
  font-size: 12px;
  color: black!important;
  background-color: #fff;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}
