.grid-row {
  margin: 0 -1vw;
  &:after, &:before {
    display: table;
    width: 100%;
    content: '';
  }
}
.show-full {
  display: block!important
}
.grid-cell {
  float: left;
  box-sizing: border-box;
  padding: 0 1vw;
  &.without-padding {
    padding-left: 0;
    padding-right: 0;
  }
  &.float-right {
    float: right!important;
  }
  &.grid-cell-1 {
    width: 100%;
  }
  &.grid-cell-1-2 {
    width: 50%;
  }
  &.grid-cell-1-3 {
    width: 33.33%;
  }
  &.grid-cell-2-3 {
    width: 66.66%;
  }
  &.grid-cell-1-4 {
    width: 25%;
  }
  &.grid-cell-3-4 {
    width: 75%;
  }
  &.grid-cell-1-5 {
    width: 20%;
  }
  &.grid-cell-2-5 {
    width: 40%;
  }
  &.grid-cell-3-5 {
    width: 60%;
  }
  &.grid-cell-4-5 {
    width: 80%;
  }
  &.grid-cell-1-6 {
    width: 16.666666%;
  }
  &.grid-cell-1-7 {
    width: 14.285714%;
  }
  &.grid-cell-2-7 {
    width: 28.57142857%;
  }
  &.grid-cell-4-7 {
    width: 57.142857%;
  }
  &.grid-cell-3-7 {
    width: 42.857143%;
  }
  &.grid-cell-1-8 {
    width: 12.5%;
  }
  &.grid-cell-3-8 {
    width: 37.5%;
  }
  &.grid-cell-5-8 {
    width: 62.5%;
  }
  &.grid-cell-7-8 {
    width: 87.5%;
  }

  &.grid-cell-1-9 {
    width: 11.1111%;
  }
  &.grid-cell-4-9 {
    width: 44.4444%;
  }
  &.grid-cell-5-9 {
    width: 55.5555%;
  }

  &.grid-cell-1-13 {
    width: 7.69%;
  }
  &.grid-cell-3-13 {
    width: 23%;
  }
}


@media screen and (min-width: 1421px) {
  .grid-row {
    margin: 0 -10px;
  }
  .grid-cell {
    padding: 0 10px;
  }
}

@media screen and (min-width: 1421px) {
  .grid-show-m {
    display: none;
  }
}
@media screen and (max-width: 1420px) {
  .grid-cell {
    &.grid-cell-m-1 {
      width: 100%;
    }
    &.grid-cell-m-1-2 {
      width: 50%;
    }
    &.grid-cell-m-1-3 {
      width: 33.333%;
    }
    &.grid-cell-m-2-3 {
      width: 66.666%;
    }
    &.grid-cell-m-1-4 {
      width: 25%;
    }
    &.grid-cell-m-3-4 {
      width: 75%;
    }
  }
  &.grid-cell-m-padding-top {
    padding-top: 2em;
  }
  .grid-show-m {
    display: block!important;
  }
}
@media screen and (min-width: 1021px) {
  .show-sm {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  .grid-cell {
    &.grid-cell-sm-1 {
      width: 100%;
    }
    &.grid-cell-sm-1-2 {
      width: 50%;
    }
    &.grid-cell-sm-1-3 {
      width: 33.333%;
    }
    &.grid-cell-sm-2-3 {
      width: 66.666%;
    }
    &.grid-cell-sm-1-4 {
      width: 25%;
    }
    &.grid-cell-sm-1-5 {
      width: 20%;
    }
    &.grid-cell-sm-3-4 {
      width: 75%;
    }
    &.grid-cell-sm-7-8 {
      width: 87.5%;
    }
    &.grid-cell-sm-1-6 {
      width: 16.666666%;
    }
  }
  &.grid-cell-sm-padding-top {
    padding-top: 2em;
  }
  .hide-sm {
    display: none!important;
  }
  .show-sm {
    display: block!important;
  }
}
@media screen and (max-width: 860px) {

  .grid-cell {
    &.grid-cell-sma-1 {
      width: 100%;
    }
    &.grid-cell-sma-1-2 {
      width: 50%;
    }
    &.grid-cell-sma-1-3 {
      width: 33.333%;
    }
    &.grid-cell-sma-2-3 {
      width: 66.666%;
    }
    &.grid-cell-sma-1-4 {
      width: 25%;
    }
    &.grid-cell-sma-1-5 {
      width: 20%;
    }
    &.grid-cell-sma-3-4 {
      width: 75%;
    }
    &.grid-cell-sma-7-8 {
      width: 87.5%;
    }
    &.grid-cell-sma-1-6 {
      width: 16.666666%;
    }
  }
}

@media screen and (min-width: 801px) {
  &.show-s {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .grid-cell {
    &.grid-cell-s-1 {
      width: 100%;
    }
    &.grid-cell-s-1-2 {
      width: 50%;
    }
    &.grid-cell-s-1-3 {
      width: 33.333%;
    }
    &.grid-cell-s-2-3 {
      width: 66.666%;
    }
    &.grid-cell-s-1-4 {
      width: 25%;
    }
    &.grid-cell-s-3-4 {
      width: 75%;
    }
    &.grid-cell-s-1-6 {
      width: 16.666666%;
    }
  }
  &.grid-cell-s-padding-top {
    padding-top: 2em;
  }
  &.show-s {
    display: block!important;
  }
  &.hide-s {
    display: none!important;
  }
}


@media screen and (min-width: 681px) {
  .show-ps {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .grid-cell {
    &.grid-cell-ps-1 {
      width: 100%;
    }
    &.grid-cell-ps-1-2 {
      width: 50%;
    }
    &.grid-cell-ps-1-3 {
      width: 33.333%;
    }
    &.grid-cell-ps-2-3 {
      width: 66.666%;
    }
    &.grid-cell-ps-1-4 {
      width: 25%;
    }
    &.grid-cell-ps-1-5 {
      width: 20%;
    }
    &.grid-cell-ps-2-5 {
      width: 40%;
    }
    &.grid-cell-ps-3-5 {
      width: 60%;
    }
    &.grid-cell-ps-4-5 {
      width: 80%;
    }
    &.grid-cell-ps-1-6 {
      width: 16.6666666666666%;
    }
    &.grid-cell-ps-3-4 {
      width: 75%;
    }
  }
  .grid-cell-ps-padding-top {
    padding-top: 2em;
  }
  .hide-ps {
    display: none!important;
  }
  .text-left-ps {
    text-align: left!important;
  }
  .show-ps {
    display: block!important;
  }
  .ps-float-left {
    float: left!important;
  }
  .ps-width-100 {
    width: 100%;
  }
}


@media screen and (min-width: 581px) {
  .show-ls {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .grid-cell {
    &.grid-cell-ls-1 {
      width: 100%;
    }
    &.grid-cell-ls-1-2 {
      width: 50%;
    }
    &.grid-cell-ls-1-3 {
      width: 33.333%;
    }
    &.grid-cell-ls-2-3 {
      width: 66.666%;
    }
    &.grid-cell-ls-1-4 {
      width: 25%;
    }
    &.grid-cell-ls-1-5 {
      width: 20%;
    }
    &.grid-cell-ls-2-5 {
      width: 40%;
    }
    &.grid-cell-ls-3-5 {
      width: 60%;
    }
    &.grid-cell-ls-4-5 {
      width: 80%;
    }
    &.grid-cell-ls-1-6 {
      width: 16.6666666666666%;
    }
    &.grid-cell-ls-3-4 {
      width: 75%;
    }
  }
  .grid-cell-ls-padding-top {
    padding-top: 2em;
  }
  .hide-ls {
    display: none!important;
  }
  .show-ls {
    display: initial!important;
  }
  .ls-width-100 {
    width: 100% !important;
  }
}
@media screen and (min-width: 481px) {
  .show-vs {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .grid-cell {
    &.grid-cell-vs-1 {
      width: 100%;
    }
    &.grid-cell-vs-1-2 {
      width: 50%;
    }
    &.grid-cell-vs-1-3 {
      width: 33.333%;
    }
    &.grid-cell-vs-2-3 {
      width: 66.666%;
    }
    &.grid-cell-vs-1-4 {
      width: 25%;
    }
    &.grid-cell-vs-3-4 {
      width: 75%;
    }
  }
  &.grid-cell-vs-padding-top {
    padding-top: 2em;
  }
  &.hide-vs {
    display: none!important;
  }
  .show-vs {
    display: block!important;
  }
  .vs-width-100 {
    width: 100% !important;
  }
}

