@import 'mixins';

.iframe {
  height: 100%;

  background: transparent;

  .chain-dropdown {
    background: #f4f4f4 !important;
  }

  &.dark {
    background: rgba(black, 0.65);

    .chain-dropdown__icon {
      background: #423d3d;
    }

    .chain-dropdown {
      background: #616161 !important;

      &::after {
        border-color: white;
      }
    }

    .iframe-profile__address {
      color: white;
    }

    .gas-fee {
      color: white;
    }

    .instant-trade-form {
      background: #423d3d;
    }

    .input-dropdown__choose-button {
      color: white;

      background: #423d3d;
    }

    .dropdown-label_selected::after {
      border-color: white;
    }
    
    .tokens-form__input {
      padding: 0 139px 0 14px;

      color: white;

      font-size: 22px;

      font-family: 'Ubuntu Mono', monospace;

      background: #616161;
      border: none;

      &::placeholder {
        color: #c5c5c5;
        font-size: 22px;
      }
    }

    &::before {
      opacity: 1;
    }
  }

  &::before {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;

    background: url('/assets/images/background.png');
    opacity: 0.25;

    content: '';
  }

  app-footer,
  app-collaborations,
  app-volume-block,
  app-disclaimer-text,
  app-header-navigation,
  app-custom-token-form,
  app-header-language-dropdown,
  app-header,
  .trades-form__tabs,
  .main-page__intro,
  .trades-form__tabs-modes,
  .main-page__title,
  .instant-trade-form__to-section .selection-block:not(.selection-block_best),
  .instant-trade-button:not(.instant-trade-button_best),
  .user-profile__sublist .user-profile__sublist-item:first-child,
  .user-profile__menu,
  .selection-block__scanner,
  .selection-block__header,
  .instant-trade-button__best-rate,
  .checkbox-optimization,
  .gas-fee img,
  .selection-block__custom-token-section,
  #livechat-compact-container,
  .checkbox-optimisation,
  .display-none,
  #chat-widget-container {
    display: none !important;
  }

  .instant-trade-button {
    top: 0 !important;
  }

  .gas-fee {
    position: absolute;
    bottom: -30px;
  }

  .primary-button {
    font-size: 18px !important;
    font-family: 'Ubuntu Mono', monospace;
  }

  app-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .tokens-form__input {
    font-size: 22px;

    &::placeholder {
      font-size: 22px;
    }
  }

  app-header {
    position: relative;

    display: block;
    max-width: 1180px;
    margin: 0 auto;
  }

  app-iframe-tokens-swap-input .selection-block {
    position: relative;
  }

  .instant-trade-form__from-section {
    margin-top: 0 !important;
  }

  .arrow-button_big {
    top: 0 !important;
  }

  .tab_blockchain {
    min-width: 160px !important;
  }

  .arrow-button {
    background-color: transparent !important;
  }

  .header {
    position: absolute !important;
    top: 20px !important;
    right: -590px !important;
    left: auto !important;

    box-sizing: border-box;

    width: 400px;
    height: 52px !important;
    padding: 0 !important;

    background-color: transparent !important;

    @include b(1241) {
      right: calc(-590px + 2vw) !important;

      .header__container {
        padding: 0 !important;
      }
    }
  }

  .user-profile__account {
    display: flex;
    flex-direction: row-reverse;
  }

  .login-button,
  .user-profile__account,
  .language-dropdown,
  .user-profile__menu {
    background-color: white;
  }

  .main-page {
    margin-top: 0 !important;
    padding: 20px 0 !important;
  }

  .instant-trade-form {
    position: relative;

    align-items: center !important;
    padding: 40px 25px !important;

    border-radius: 10px;
  }

  .trades-form__body {
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(black, 0.16);
  }

  app-header-logotype {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 52px;
    margin: 0 auto !important;
  }

  .header__container {
    background-color: transparent !important;
  }

  app-login-button {
    min-width: 182px;
  }

  app-header-language-dropdown {
    display: flex;
    align-items: center;
    height: 52px;
    padding-left: 30px;

    background-color: white;
  }

  app-user-profile,
  app-login-button {
    display: flex !important;
    align-items: center;
    height: 52px;
    padding-right: 30px;

    background-color: white;
  }

  .user-profile__text {
    padding-left: 15px !important;
  }

  .user-profile__sublist .user-profile__sublist-item:last-child {
    margin-top: 7px;
  }

  .logotype {
    margin-left: auto;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 20px;

    background: white;

    img {
      height: 30px;
    }
  }

  .user-profile__blockchain-icon {
    position: relative !important;
    right: -1px;
    left: auto !important;
  }

  .user-profile__menu,
  .language-dropdown,
  .user-profile__blockchain-icon {
    border: none !important;
  }

  .user-profile__menu-icon {
    transform: rotate(90deg);
  }
}

html {
  height: 100%;
}
