@use 'src/scss/vars' as *;

html.light {
  --app-background: #fff; // done
  --dropdpwn-background: rgba(60, 61, 68, 0.85);

  --io-background: #fff;

  --tui-background-accent-1: #00e28d;
  --tui-background-accent-1-hover: #02b774;
  --tui-background-accent-1-pressed: #02b774;
  --tui-text-primary-on-accent-1: #14141d;

  --tui-background-neutral-1: #f4f4f4; // done
  --tui-background-neutral-1-hover: #eae9e9ff;
  --tui-background-neutral-1-pressed: #eae9e9ff;

  --tui-text-action: black; // done
  --tui-text-action-hover: black; // done

  --tui-background-base: #fff; // done
  --tui-background-neutral-1-hover: #fff; // done
  --tui-border-normal: #4d4d59;

  --tui-text-primary: black;
  --tui-text-secondary: #9b9ba9;
  --tui-text-tertiary: #9b9ba9;

  --tui-padding-xs: 0.25rem;
  --tui-padding-s: 0.5rem;
}
