@use 'src/scss/vars' as *;

html.private {
  --app-background: #0c0f0c; // done
  --dropdpwn-background: rgba(60, 61, 68, 0.85);

  --io-background: #141414;

  --tui-primary: #05cc81;
  --tui-primary-hover: #02b774;
  --tui-primary-active: #02b774;
  --tui-primary-text: #14141d;

  --tui-secondary: #272727; // done
  --primary-background: #141414;
  --tui-base-01: #141414;
}
