#chat-widget-container {
  z-index: 1 !important;

  visibility: initial !important;
  opacity: initial !important;
  filter: hue-rotate(31deg) brightness(1.2);
}

.iframe {
  #chat-widget-container {
    display: none;
  }
}
