// ****** mixins ******

@mixin font-face($font-family, $file-path, $weight, $style: normal) {
  @font-face {
    font-weight: $weight;
    font-family: $font-family;
    font-style: $style;
    font-display: block;

    src: url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.woff') format('woff'),
      url('#{$file-path}.eot'), url('#{$file-path}.ttf') format('truetype');
  }
}

@mixin flex($dir, $align, $justify-content) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify-content;
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;

    content: ' ';
  }
}

@mixin dark {
  :host-context(html.dark) & {
    @content;
  }
}

@mixin hide-unused-ui {
  :host-context(body.hide-unused-ui) & {
    @content;
  }
}

@mixin berachella {
  html.berachella & {
    @content;
  }
}

@mixin ios {
  @content;
}

@mixin bh($point) {
  @media (max-height: $point + 'px') {
    @content;
  }
}

@mixin b($point) {
  @if $point==desktop {
    @media (max-width: 1366px) and (min-width: 1024px) {
      @content;
    }
  } @else if $point==tablet {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if $point==mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point==mobile3x {
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min-resolution: 3dppx),
      only screen and (min-resolution: 350dpi) {
      @content;
    }
  } @else {
    @media (max-width: $point + 'px') {
      @content;
    }
  }
}

@mixin bb($pointMax, $pointMin) {
  @media (max-width: $pointMax + 'px') and (min-width: $pointMin + 'px') {
    @content;
  }
}

@mixin before-img($display, $width, $height, $position) {
  @at-root #{&}:before {
    display: $display;

    width: $width;
    height: $height;

    content: '';

    @if $position==a {
      position: absolute;
    }

    @if $position==r {
      position: relative;
    }
    @content;
  }
}

@mixin after-img($display, $width, $height, $position) {
  @at-root #{&}:after {
    display: $display;

    width: $width;
    height: $height;

    content: '';

    @if $position==a {
      position: absolute;
    }

    @if $position==r {
      position: relative;
    }
    @content;
  }
}

@mixin font($fontSize, $lineHeight, $fontWeight, $color, $letterSpacing: normal) {
  color: $color;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin clearbtn() {
  padding: 0;

  font-size: inherit;
  line-height: inherit;

  background: none;
  border: 0;

  appearance: none;
}

@mixin assetImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

@mixin rubicText($type, $size) {
  @if $type==accent {
    font-weight: 700;
    color: var(--tui-text-01);
  }

  @if $type==default {
    font-weight: 400;
    color: var(--tui-text-01);
  }

  @if $type==hidden {
    font-weight: 400;
    color: var(--tui-text-03);
  }

  @if $type==s {
    font-size: var(--tui-font-text-s);
  }

  @if $type==m {
    font-size: var(--tui-font-text-m);
  }

  @if $type==l {
    font-size: var(--tui-font-text-l);
  }
}
