@import 'src/scss/vars';
@import 'src/scss/mixins';

tui-dialog {
  overflow: hidden;

  &::after {
    box-shadow: unset !important;
  }

  &[data-size='s'] {
    .content {
      .heading {
        margin-right: 40px;

        font-size: 21px;
      }
    }
  }

  .wrapper {
    z-index: 1;
  }

  .close {
    position: absolute !important;
    top: 18px !important;
    right: 18px !important;

    color: #bfbfbf !important;

    background: transparent !important;
    transform: scale(1.2);

    &:hover {
      transform: scale(1.4);
    }
  }
}

tui-notification {
  .close {
    top: 10px !important;
  }
}

.tooltip .text {
  font-size: $rubic-font-size-01;
}

@include b($mobile-md-minus) {
  tui-dialog {
    height: 100vh;

    .content {
      height: 100%;
    }
  }

  tui-hint-box {
    max-width: 160px !important;
  }

  .tooltip .text {
    font-size: $rubic-font-size-main;
  }
}
