@import 'src/scss/vars';
@import 'src/scss/mixins';

tui-dialog {
  overflow: hidden;

  &::after {
    box-shadow: unset !important;
  }
}

@include b($mobile-md-minus) {
  tui-dialog {
    height: 100vh;
    margin: 0;

    .content {
      height: 100%;
    }
  }
}
