@use 'src/scss/core' as *;

.t-empty {
  display: none !important;
}

[tuiWrapper] {
  &:not([data-appearance='outline']) {
    &::after {
      border: none !important;
    }
  }
}

[tuiWrapper][data-appearance='textfield'] {
  box-shadow: none;
}
