@import 'src/scss/vars';
@import 'src/scss/mixins';

tui-dialog {
  overflow: hidden;

  &::after {
    box-shadow: unset !important;
  }

  &[data-size='m'] {
    width: 36em !important;
    margin-bottom: auto !important;

    > .content {
      padding: 1.5em !important;
    }
  }

  &[data-size='s'] {
    .content {
      .heading {
        margin-right: 40px;

        font-size: 21px;
      }
    }
  }

  .wrapper {
    z-index: 1;
  }

  .close {
    position: absolute !important;
    top: 18px !important;
    right: 18px !important;

    color: #bfbfbf !important;

    background: transparent !important;
    transform: scale(1.2);

    &:hover {
      transform: scale(1.4);
    }
  }
}

::ng-deep tui-dialog {
  @include iframe-vertical {
    .close {
      top: 5px !important;
      right: 5px !important;
    }
  }
}

tui-dialog-host {
  > div {
    backdrop-filter: blur(12px);
  }
}

tui-notification {
  .close {
    top: 10px !important;
  }
}

.tooltip .text {
  font-size: $rubic-font-size-01;
}

tui-notification-alert {
  position: relative;
  top: var(--scroll-size);

  transition: 0.2s ease-in-out;
}

@include b($mobile-md-minus) {
  tui-dialog {
    height: 100vh;

    .content {
      height: 100%;
    }
  }

  tui-hint-box {
    max-width: 160px !important;
  }

  .tooltip .text {
    font-size: $rubic-font-size-main;
  }
}

::ng-deep tui-dialog .content {
  @include iframe {
    padding: 0 !important;
  }
}

::ng-deep tui-notifications-host {
  @include iframe {
    margin-top: 0 !important;

    > div.wrapper {
      padding-top: 15px;
    }
  }
}

::ng-deep tui-input-number input {
  border: none !important;
}

tui-value-decoration {
  position: absolute;
  top: 17px;
  right: 11px;
}


