@use 'src/scss/core' as *;

// Don't show empty blocks
.t-empty {
  display: none !important;
}

// Remove border for all buttons except of ones with outline appearance
[tuiWrapper] {
  &:not([data-appearance='outline']) {
    &::after {
      border: none !important;
    }
  }
}

// Remove shadow for inputs
[tuiWrapper][data-appearance='textfield'] {
  box-shadow: none;
}

// Common padding for all dialogs
.t-dialog tui-dialog > .t-content {
  padding: var(--tui-padding-l);
}

// Overlay options for dialogs
.t-overlay_visible {
  --tui-backdrop: blur(25px);
  background: transparent !important;
}

// Close icons for dialogs
tui-dialog-host .t-close {
  background: var(--tui-background-neutral-1) !important;
  opacity: 0.75;

  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  svg {
    filter: invert(1);
  }
}

._mobile {
  font: var(--tui-font-text-s) !important;
}

tui-notification {
  * {
    font-size: 14px !important;
  }
}

[tuiSwitch] {
  background: #1b1a2e !important;

  &:before {
    display: none !important;
  }

  &:after {
    box-shadow: -2.625rem 0 0 .5rem rgb(255, 255, 255, 0.85) !important;
    background: #1b1a2e !important;
    transition-property: box-shadow, background !important;
    outline: none !important;
  }

  &[tuiAppearance][data-appearance=primary] {
    background: var(--t-bg) !important;

    &:after {
      box-shadow: -2.625rem 0 0 .5rem white !important;
      background: var(--t-bg) !important;
    }
  }
}