// ***** vars *****
:root {
  --main-font: 'Josefin Sans', Arial, sans-serif;

  --container-max-width: 1440px;
  --main-green: #4aa956;

  --green-btn-border-hover-bg: #e5f5e7;

  --tui-text-font: 'Ubuntu', Arial, sans-serif !important;
}

// ***** typography *****
$main-font: 'Josefin Sans', Arial, sans-serif;
$ubuntu-font: 'Ubuntu', Arial, sans-serif;
$sf-pro-font: SF-Pro, sans-serif;
$roboto-font: Roboto, sans-serif;

// ***** colors *****
$main-green: #4aa956;
$dark: #242424;
$dark-secondary: #110931;
$grey-text: rgba(0, 0, 0, 0.5);
$grey-background: #f4f4f4;
$error-red: #ff2944;
$active-green: #2bcf78;
$expired-yellow: #f4bb2b;
$cancelled-red: #ee4256;
$done-grey: #7c7c7c;

$text-gray: #a8a8a8;

// ***** breakpoints *****
$desktop: 1240;
$laptop: 960;
$tablet: 768;
$mobile-md: 636;
$mobile-sm-plus: 560;
$mobile-sm: 401;

// ***** shadows *****
$shadow-block: inset 0 0 5px 1px rgba(0, 0, 0, 0.1);
$main-shadow: 0 3px 6px rgba(black, 0.16);

// new colors
$rubic-base-01: #fff;
$rubic-base-02: #000;
$rubic-base-03: #e9f7e4;
$rubic-base-04: #4b604f;
$rubic-base-05: #639d6a;
$rubic-base-06: #5c7d60;
$rubic-base-07: #e0e2e0;

$rubic-primary: #4aa956;
$rubic-secondary: #f4f5f4;
$rubic-disable: #e1e1e1;

// text colors
$rubic-text-color-main: #283125;
$rubic-text-disable: #909090;

// font-sizes
$rubic-font-size-01: 16px;
$rubic-font-size-02: 18px;

// shadows
$rubic-shadow-button-hover: 0 3px 1px -2px rgb(0, 0, 0, 0.2), 0 2px 2px 0 rgb(0, 0, 0, 0.14), 0 1px 5px 0 rgb(0, 0, 0, 0.12);
$rubic-shadow-button-active: 0 5px 5px -3px rgb(0, 0, 0, 0.2), 0 8px 10px 1px rgb(0, 0, 0, 0.14), 0 3px 14px 2px rgb(0, 0, 0, 0.12);
