// ***** vars *****
:root {
  --main-font: 'SF-Pro', Roboto, Arial, sans-serif;

  --container-max-width: 1440px;
  --main-green: #4aa956;

  --green-btn-border-hover-bg: #e5f5e7;

  --primary-color: rgb(74, 169, 86);

  --tui-text-font: 'Ubuntu', Arial, sans-serif !important;

  --main-form-background: rgba(255, 255, 255, 0.5);
  --main-background: rgba(255, 255, 255, 1);

  --rubic-base-03: rgba(250, 250, 250, 0.9);
  --rubic-secondary: rgb(244, 245, 244);

  --form-header-color-1: rgb(235, 243, 236);
  --form-header-color-2: rgb(245, 249, 246);

  --form-bright-text-color: rgb(0, 0, 0);
  --form-bright-reversed-text-color: rgb(255, 255, 255);
  --form-dim-text-color: rgb(143, 143, 143, 60%);
  --form-rubic-text-color: rgb(74, 169, 86);

  --rubic-base-01: rgb(255, 255, 255);
  --rubic-base-02: rgb(0, 0, 0);

  --rubic-base-10: rgb(250, 250, 250);
  --rubic-base-11: rgb(243, 249, 243);
  --rubic-base-12: rgb(128, 128, 128);
  --rubic-base-13: rgba(255, 255, 255, 0.3);
  --rubic-base-14: #f4f4f4;
  --rubic-base-15: #868686;

  --tui-text-02: #3b3a3a;

  --selection-color: rgb(243 249 243);

  --rubic-shadow-button-hover: -5px -5px 15px rgba(255, 255, 255, 0.5), 5px 5px 15px rgba(59, 130, 67, 0.5);
  --rubic-shadow-button-hover-dim: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(59, 130, 67, 0.2);
  --rubic-shadow-button-active: -5px -5px 30px rgba(172, 219, 178, 0.5), 5px 5px 30px rgba(59, 130, 67, 0.5);
  --rubic-shadow-button-disabled: -15px -15px 80px #fff, 10px 10px 30px rgba(58, 95, 69, 0.1), inset 4px 4px 20px rgba(255, 255, 255, 0.5);
}

// ***** typography *****
$sf-pro-font: SF-Pro, sans-serif;
$roboto-font: Roboto, sans-serif;

// ***** colors *****
$rubic-base-03: #464646;
$rubic-base-04: #4b604f;
$rubic-base-05: #639d6a;
$rubic-base-06: #5c7d60;
$rubic-base-07: #e0e2e0;
$rubic-base-08: #fcfcfd;
$rubic-base-09: #9db8a1;

$rubic-primary: #4aa956;
$rubic-disable: #e1e1e1;
$rubic-warning: #dfcb5f;

$grey-background: #f4f4f4;


// ***** breakpoints *****
$desktop: 1240;
$laptop: 960;
$tablet: 768;
$mobile-md: 651;
$mobile-md-minus: 599;
$mobile-sm-plus: 560;
$mobile-sm: 420;

// ***** shadows *****
$shadow-block: inset 0 0 5px 1px rgba(0, 0, 0, 0.1);
$main-shadow: 0 3px 6px rgba(black, 0.16);

// ***** text colors *****
$rubic-text-color-main: #283125;
$rubic-text-disable: #909090;
$rubic-text-error: #d9573f;

$text-gray: #a8a8a8;

// ***** font-sizes *****
$rubic-font-size-main: 14px;
$rubic-font-size-01: 16px;
$rubic-font-size-02: 18px;


// ***** iframe sizes *****
$iframe-horizontal-width: 1180px;
$iframe-horizontal-height: 180px;
$iframe-horizontal-input-width: 363px;
$iframe-vertical-width: 350px;
$iframe-vertical-height: 500px;
