@import 'src/scss/vars';

html {
  --tui-primary: #{$rubic-primary} !important;
  --tui-primary-hover: #{$rubic-primary} !important;
  --tui-font-text: #{$sf-pro-font} !important;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.select {
  display: inline-flex;
  align-items: center;
  padding: 15px 17px;

  color: $rubic-primary;
  font-size: $rubic-font-size-01;
  text-transform: uppercase;

  background-color: transparent;

  border: 1px solid $rubic-base-01;
  border-radius: 156px;
  cursor: pointer;

  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: $rubic-base-01;
  }

  &:focus {
    background-color: $rubic-base-01;
    border-color: $rubic-primary;
  }

  &__current {
    margin-right: 14px;
  }

  img {
    width: auto;
    max-width: 11px;
    height: auto;

    transition: 0.3s transform ease-in-out;
  }

  &_wallets {
    background-color: $rubic-base-01;
  }

  &:hover {
    box-shadow: $rubic-shadow-button-hover;
  }

  &:active {
    box-shadow: $rubic-shadow-button-active;
  }
}

.button-link {
  display: inline-block;
  padding: 14px 20px;

  font-size: $rubic-font-size-01;
  text-decoration: none;

  border: 1px solid transparent;
  border-radius: 175px;

  transition: 0.3s all ease-in-out;

  &:hover,
  &_active {
    background-color: $rubic-base-01;
  }

  &:hover {
    box-shadow: $rubic-shadow-button-hover;
  }

  &:active,
  &_active:active {
    color: $rubic-base-01 !important;

    background-color: $rubic-primary;
    box-shadow: $rubic-shadow-button-active;
  }

  &:focus {
    border-color: $rubic-primary;
  }

  &_disabled {
    color: $rubic-text-disable !important;

    pointer-events: none;
  }

  &_error {
    color: $rubic-base-01;

    background-color: #dc3545;

    &:hover {
      background-color: #bb2d3b;
    }

    &:active {
      background-color: #bb2d3b;
    }

    &:focus {
      border-color: #bb2d3b;
    }
  }
}
