@import 'src/scss/vars';
@import 'src/scss/mixins';

html {
  --tui-primary: #{$rubic-primary} !important;
  --tui-primary-hover: #{$rubic-primary} !important;
  --tui-font-text: #{$sf-pro-font} !important;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

tui-hint-box {
  backdrop-filter: blur(5px);
}

tui-loader._loading {
  overflow: visible !important;
}

.select {
  display: inline-flex;
  align-items: center;
  padding: 15px 17px;

  color: $rubic-primary;
  font-size: $rubic-font-size-01;
  text-transform: uppercase;

  background-color: transparent;

  border: 1px solid var(--rubic-base-01);
  border-radius: 156px;
  cursor: pointer;

  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: var(--rubic-base-01);
    box-shadow: var(--rubic-shadow-button-hover-dim);
  }

  &:focus {
    background-color: var(--rubic-base-01);
    border-color: $rubic-primary;
  }

  &:active {
    box-shadow: var(--rubic-shadow-button-active);
  }

  &__current {
    margin-right: 14px;
  }

  img {
    width: auto;
    max-width: 11px;
    height: auto;

    transition: 0.3s transform ease-in-out;
  }

  &_wallets {
    background-color: var(--rubic-base-01);
  }
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px 15px;

  &_pointer {
    cursor: pointer;
  }

  &__title {
    margin: 0 0 6px;

    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
  }

  &__function {
    &_arrow {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__desc {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 17px;
  }

  &__arrow-right {
    filter: var(--rubic-filter-invert);
  }
}

@include b($tablet) {
  .option {
    padding: 15px;

    &__function {
      margin-bottom: 12px;
    }

    &__arrow-right {
      position: absolute;
      top: 50%;
      right: 15px;

      transform: translateY(-50%);
    }
  }
}
