@import 'src/scss/vars';

html {
  --tui-primary: #{$rubic-primary} !important;
  --tui-primary-hover: #{$rubic-primary} !important;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.select {
  display: inline-flex;
  align-items: center;
  padding: 15px 17px;

  color: $rubic-primary;
  font-size: $rubic-font-size-01;
  text-transform: uppercase;

  background-color: transparent;

  border: 1px solid $rubic-base-01;
  border-radius: 156px;
  cursor: pointer;

  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: $rubic-base-01;
  }

  &:focus {
    background-color: $rubic-base-01;
    border-color: $rubic-primary;
  }

  &__current {
    margin-right: 14px;
  }

  img {
    width: auto;
    max-width: 11px;
    height: auto;

    transition: 0.3s transform ease-in-out;
  }

  &_wallets {
    background-color: $rubic-base-01;
  }

  &:hover {
    box-shadow: $rubic-shadow-button-hover;
  }

  &:active {
    box-shadow: $rubic-shadow-button-active;
  }
}
