@import 'src/styles';

.blockchain-aside {
  position: relative;
  left: -24px;

  width: 85px;
  height: calc(100% + 33px);
  padding-top: 14px;

  background: rgba(170, 170, 170, 0.13);
  border-radius: 0 10px 0 15px;
  box-shadow: inset -2px 2px 3px 2px rgba(0, 0, 0, 0.1);

  @include iframe-horizontal {
    left: unset;

    width: 100%;
    height: unset;
    padding-top: unset;

    background: unset;
    border-radius: unset;
    box-shadow: unset;
  }

  &__scroll {
    max-height: 100%;
  }

  &__blockchains-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include iframe-horizontal {
      flex-direction: row;
    }

    li:not(:last-child) {
      margin-bottom: 14px;

      @include iframe-horizontal {
        margin-right: 15px;
        margin-bottom: unset;
      }
    }
  }
}
