@import 'src/styles';

.blockchain-aside {
  position: relative;
  left: -24px;

  width: 85px;
  height: calc(100% + 33px);
  padding: 14px 0;

  background: rgba(170, 170, 170, 0.13);
  border-radius: 0 10px 0 15px;
  box-shadow: inset -2px 2px 3px 2px rgba(0, 0, 0, 0.1);

  @include iframe {
    left: unset;

    width: 100%;
    height: unset;
    padding-top: unset;

    background: unset;
    border-radius: unset;
    box-shadow: unset;
  }

  &__scroll {
    max-height: 100%;
  }

  &__blockchains-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include iframe {
      flex-direction: row;
    }

    @include iframe-vertical {
      margin-bottom: 20px;

      ::ng-deep app-icon-button {
        button {
          height: 36px;
        }

        img {
          max-height: 20px;
        }
      }
    }

    li:not(:last-child) {
      margin-bottom: 14px;

      @include iframe {
        margin-right: 15px;
        margin-bottom: unset;
      }
    }
  }
}
