.blockchain-aside {
  position: relative;
  left: -24px;

  width: 85px;
  height: calc(100% + 33px);
  padding-top: 14px;

  background: rgba(170, 170, 170, 0.13);
  border-radius: 0 10px 0 15px;
  box-shadow: inset -2px 2px 3px 2px rgba(0, 0, 0, 0.1);

  &__scroll {
    max-height: 100%;
  }

  &__blockchains-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    li:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}
