@use 'src/scss/core' as *;

.blockchain-aside {
  width: 180px;
  height: 100%;
  padding: 14px 10px;

  background: rgba(170, 170, 170, 0.13);
  border-radius: 0 10px 0 15px;
  box-shadow: inset -2px 2px 3px 2px rgba(0, 0, 0, 0.1);

  @include iframe {
    left: unset;

    width: 100%;
    height: unset;
    padding: 0 0 14px;

    background: unset;
    border-radius: unset;
    box-shadow: unset;
  }

  @include iframe-vertical {
    padding-bottom: 0;
  }

  &__scroll {
    max-height: 100%;
  }

  &__blockchains-list {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 14px;

    @include iframe {
      flex-direction: row;
    }

    @include iframe-vertical {
      flex-wrap: nowrap;

      margin-bottom: 20px;

      ::ng-deep app-icon-button {
        img {
          max-height: 20px;
        }
      }
    }

    li {
      margin: 0 5px 14px;
      margin-bottom: 0;

      @include iframe {
        margin: 0 15px 0 0;
      }
    }
  }

  ::ng-deep app-icon-button {
    button {
      width: 70px !important;
    }

    .content {
      padding-bottom: 3px;
    }

    .bordered .content {
      padding-bottom: 1px;
    }
  }
}

@media (max-width: 600px) {
  .blockchain-aside {
    width: 85px;
    padding: 14px 0;

    &__blockchains-list {
      display: flex;
      flex-direction: column;
      align-items: center;

      li:not(:last-child) {

        @include iframe {
          margin-right: 15px;
          margin-bottom: unset;
        }
      }
    }
  }
}

@include b($mobile-md-minus) {
  .blockchain-aside {
    border-radius: unset;
  }
}
