@import '../auth.component';

.restore-link {
  font-size: 17px;
  line-height: 1.2em;
  cursor: pointer;
  display: block;
  padding: 0 0 1.2em;
  white-space: nowrap;
  text-align: right;
  color: #fff;
  &.advanced-field-open {
    span {
      border-bottom: 1px dotted;
    }
  }
}
