<div class="tokens-rate" *ngIf="tokensRate$ | async as tokensRate">
  <div class="tokens-rate__amounts" *ngIf="rateDirection === 'from'">
    1 {{ tokensRate.from.symbol }} =
    <span *onlyFrame>
      {{ tokensRate.to.amount | bigNumberFormat | withRound: 'fixedValue':{ decimals: 2 } }}
    </span>
    <span *noFrame>
      {{ tokensRate.to.amount | bigNumberFormat | withRound: 'toClosestValue' }}
    </span>
    {{ tokensRate.to.symbol }}
  </div>

  <div class="tokens-rate__amounts" *ngIf="rateDirection === 'to'">
    {{ tokensRate.from.amount | bigNumberFormat | withRound: 'toClosestValue' }}
    {{ tokensRate.from.symbol }} = 1
    {{ tokensRate.to.symbol }}
  </div>

  <img
    class="tokens-rate__direction-button"
    src="../../../../../../assets/images/swaps/icons/rate-direction-button.svg"
    alt="Change rate directions"
    (click)="onChangeDirection()"
  />
</div>
