@use 'src/scss/core' as *;

.tokens-rate {
  display: flex;
  grid-gap: 8px;
  justify-content: end;

  &__amounts {
    overflow: hidden;

    color: var(--secondary-text);
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.08em;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__direction-button {
    display: flex;
    align-items: center;
    width: 15px;

    cursor: pointer;

    ::ng-deep svg path {
      fill: var(--secondary-text);
    }
  }
}

@include b($mobile-sm) {
  .tokens-rate {
    justify-content: start;
  }
}
