@use '../../../../../../scss/core' as *;

.tokens-rate {
  display: flex;
  grid-gap: 8px;
  justify-content: end;

  &__amounts {
    color: var(--form-dim-text-color);
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.08em;
  }

  &__direction-button {
    width: 15px;

    cursor: pointer;
  }
}

@include b($mobile-sm) {
  .tokens-rate {
    justify-content: start;
  }
}
