<div class="tokens-rate" *ngIf="tokensRate$ | async as tokensRate">
  <div class="tokens-rate__amounts" *ngIf="rateDirection === 'from'">
    1 {{ tokensRate.from.symbol }} =
    {{ tokensRate.to.amount | bigNumberFormat | withRound : 'toClosestValue' }}
    {{ tokensRate.to.symbol }}
  </div>

  <div class="tokens-rate__amounts" *ngIf="rateDirection === 'to'">
    {{ tokensRate.from.amount | bigNumberFormat | withRound : 'toClosestValue' }}
    {{ tokensRate.from.symbol }} = 1
    {{ tokensRate.to.symbol }}
  </div>

  <div
    class="tokens-rate__direction-button"
    inlineSVG="assets/images/swaps/icons/rate-direction-button.svg"
    (click)="onChangeDirection()"
  ></div>
</div>
