<div class="tokens-rate">
  <ng-container *ngIf="tokensRate$ | async as tokensRate">
    <div class="tokens-rate__amounts" *ngIf="rateDirection === 'from'">
      1 {{ tokensRate.from.symbol }} =
      <ng-container
        *ngLet="tokensRate.to.amount | bigNumberFormat | withRound : 'toClosestValue' as amount"
      >
        <ng-container
          *ngIf="(isIframe && amount.length <= 10) || (!isIframe && amount.length <= 15)"
          >{{ amount }}</ng-container
        >
        <span
          *ngIf="(isIframe && amount.length > 10) || amount.length > 15"
          [tuiHint]="amount"
          tuiHintAppearance="onDark"
          tuiHintDirection="bottom-right"
          [tuiHintShowDelay]="0"
          [tuiHintHideDelay]="0"
          >{{ amount.slice(0, isIframe ? 7 : 10) }}...</span
        >
      </ng-container>
      {{ tokensRate.to.symbol }}
    </div>

    <div class="tokens-rate__amounts" *ngIf="rateDirection === 'to'">
      <ng-container
        *ngLet="tokensRate.from.amount | bigNumberFormat | withRound : 'toClosestValue' as amount"
      >
        <ng-container
          *ngIf="(isIframe && amount.length <= 10) || (!isIframe && amount.length <= 15)"
          >{{ amount }}</ng-container
        >
        <span
          *ngIf="(isIframe && amount.length > 10) || amount.length > 15"
          [tuiHint]="amount"
          tuiHintAppearance="onDark"
          tuiHintDirection="bottom-right"
          [tuiHintShowDelay]="0"
          [tuiHintHideDelay]="0"
          >{{ amount.slice(0, isIframe ? 7 : 10) }}...</span
        >
      </ng-container>
      {{ tokensRate.from.symbol }} = 1
      {{ tokensRate.to.symbol }}
    </div>

    <div
      class="tokens-rate__direction-button"
      inlineSVG="assets/images/swaps/icons/rate-direction-button.svg"
      (click)="onChangeDirection()"
    ></div>
  </ng-container>
</div>
