@import 'src/scss/mixins';
@import 'src/scss/vars';

.form-section {
  display: flex;
  flex-direction: column;

  color: $dark;

  &__row {
    padding: 20px 30px 22px;

    border-top: 2px solid $grey-background;
  }
}

.form-section-row {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 32px;

  &_second {
    grid-column-gap: 66px;
  }

  &__prompt {
    width: 100%;

    font-size: 16px;

    text-align: center;
  }


  &__broker-data {
    display: flex;
    flex-wrap: wrap;
    grid-row-gap: 32px;
  }
}

.form-section-block {
  display: flex;
  align-items: center;

  min-height: 68px;

  &_full {
    flex-basis: 100%;
  }

  &_button {
    margin-left: auto;
  }

  &__description-container {
    position: relative;
    top: 10px;
    left: 3px;
  }

  &__advanced-options-button {
    position: relative;
    top: 10px;
    right: 10px;

    margin-left: auto;

    color: $main-green;

    font-weight: bold;
    font-size: 16px;

    cursor: pointer;

    img {
      position: relative;
      top: -1px;
      left: 3px;

      width: 12px;

      transition: transform 0.3s ease;
    }

    &_opened {
      img {
        transform: rotateX(180deg);
      }
    }
  }
}

.input-container {
  position: relative;

  display: flex;
  flex-direction: column;

  text-align: center;

  &_broker-address {
    width: 100%;
    max-width: 494px;
  }

  &_broker-percent {
    width: 256px;
  }

  &__label {
    margin-bottom: 7px;

    font-size: 13px;
    text-transform: uppercase;

    &_broker-address {
      position: relative;
      left: 4px;

      text-align: left;
    }
  }

  &__input {
    border-radius: 10px;
    height: 21px;
    margin: 0 auto;
    padding: 12px 14px;

    color: $dark;
    font-size: 17px;

    text-align: center;

    background: $grey-background;
    border: none;

    &_date {
      width: 86px;

      cursor: pointer;
    }

    &_time {
      width: 43px;

      cursor: pointer;
    }

    &_checkbox {
      width: 65px;
      height: 31px;
      padding: 7px 14px;

      cursor: pointer;
    }

    &_min-contribute {
      width: 259px;

      font-size: 18px;

      text-align: left;
    }

    &_broker-address {
      width: 100%;

      text-align: left;
    }

    &_broker-percent {
      width: 45px;
    }

    &_validated {
      border: 1px solid white;
    }

    &_invalid {
      border-color: $error-red;

      &:focus {
        box-shadow: 0 0 2px $error-red;
      }
    }
  }

  &__checkbox {
    &_hidden {
      display: none;
    }
  }

  &__percent-sign {
    position: absolute;
    top: 33%;
    right: 28.5%;
  }

  &__calculation {
    margin-top: 6px;

    color: $grey-text;

    white-space: nowrap;
  }
}

.input-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-transform: uppercase;

  &_not-checked {
    flex-direction: row-reverse;
  }

  &__image {
    border-radius: 5px;
    width: 26px;
    height: 28px;

    background-image: url('/assets/images/icons/checkbox-tick.svg');
    background-repeat: no-repeat;

    transition: background-image 0.2s linear;

    &_not-checked {
      background-image: url('/assets/images/icons/checkbox-cross.svg');
    }
  }
}

.description-container {
  display: flex;
  align-items: center;

  color: $grey-text;

  &__dash {
    margin: 0 5px;
  }
}

@include b($tablet) {
  .form-section-row_second {
    grid-gap: 32px 3%;
  }

  .form-section-block {
    &_deal {
      width: 251px;
    }

    &_button {
      min-height: auto;
    }

    &__advanced-options-button {
      top: auto;
    }
  }

  .input-container__input {
    &_min-contribute {
      box-sizing: border-box;
      width: 100%;
      height: 47px;
    }
  }
}

@include b($mobile-md) {
  .form-section-row {
    grid-gap: 32px 3%;
  }

  .form-section-block {
    &:not(.form-section-block_deal) {
      flex-grow: 1;
      width: 44%;
    }

    &_deal {
      width: 100%;
    }
  }

  .input-container__input {
    &_time,
    &_date {
      box-sizing: border-box;
      width: 100%;
      height: 45px;
    }
  }
}

@include b($mobile-sm) {
  .form-section {
    &__row {
      padding: 20px 10px 22px;
    }
  }
}
