<section class="form-section">
  <!--first-->
  <div class="form-section__row form-section-row">
    <div class="form-section__block form-section-block">
      <div class="form-section-block__input-container input-container">
        <label class="input-container__label" for="date-input-id">Closing date</label>

        <input
          class="input-container__input input-container__input_date"
          id="date-input-id"
          matInput
          [matDatepicker]="$any(datePicker)"
          [min]="minClosingDate"
          (dateChange)="onDateChange()"
          readonly
          [(ngModel)]="closingDate"
          (click)="datePicker.open()"
        />

        <mat-datepicker #datePicker></mat-datepicker>
      </div>
    </div>

    <div class="form-section__block form-section-block">
      <div class="form-section-block__input-container input-container">
        <label class="input-container__label" for="time-input-id">Closing time (utc)</label>

        <input
          class="input-container__input input-container__input_time"
          id="time-input-id"
          [ngxTimepicker]="timePicker"
          [format]="24"
          [min]="minClosingTime"
          readonly
          [(ngModel)]="closingTime"
          (ngModelChange)="onTimeChange()"
        />

        <ngx-material-timepicker #timePicker></ngx-material-timepicker>
      </div>
    </div>

    <div class="form-section__block form-section-block form-section-block_deal">
      <div class="form-section-block__input-container input-container">
        <label class="input-container__label" for="is-public-checkbox-id">Public deal</label>
        <input
          type="checkbox"
          class="input-container__checkbox input-container__checkbox_hidden"
          id="is-public-checkbox-id"
          [ngModel]="tradeForm.isPublic"
          (ngModelChange)="onIsPublicChange($event)"
        />

        <label
          class="input-container__input input-container__input_checkbox input-checkbox"
          [ngClass]="{ 'input-checkbox_not-checked': !tradeForm.isPublic }"
          for="is-public-checkbox-id"
        >
          <span>{{ tradeForm.isPublic ? 'Yes' : 'No' }}</span>

          <span
            class="input-checkbox__image"
            [ngClass]="{ 'input-checkbox__image_not-checked': !tradeForm.isPublic }"
          ></span>
        </label>
      </div>

      <div class="form-section-block__description-container description-container">
        <span class="description-container__dash">&ndash;</span>
        <span>Trade will be listed on the main page</span>
      </div>
    </div>

    <div class="form-section__block form-section-block form-section-block_button">
      <div
        class="form-section-block__advanced-options-button"
        [ngClass]="{
          'form-section-block__advanced-options-button_opened': areAdvancedOptionsOpened
        }"
        (click)="areAdvancedOptionsOpened = !areAdvancedOptionsOpened"
      >
        Advanced Options <img src="/assets/images/icons/arrow/arrow-down-green.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="form-section__advanced-options" *ngIf="areAdvancedOptionsOpened">
    <!--second-->
    <div class="form-section__row form-section-row" *ngIf="!tradeForm.areAmountsAndTokensSet">
      <div class="form-section-row__prompt">
        Please specify tokens and required amounts to see the advanced options
      </div>
    </div>

    <!--second-->
    <div
      class="form-section__row form-section-row form-section-row_second"
      *ngIf="tradeForm.areAmountsAndTokensSet"
    >
      <div class="form-section__block form-section-block">
        <div class="form-section-block__input-container input-container">
          <label class="input-container__label" for="min-base-contribute-input-id">
            Minimum contribution in {{ tradeForm.token.base.symbol }}
          </label>

          <input
            class="input-container__input input-container__input_min-contribute input-container__input_validated"
            id="min-base-contribute-input-id"
            placeholder="Enter amount"
            appNumberPrecision
            [inputElement]="baseMinContributeInput"
            [decimalLength]="tradeForm.token.base.decimals"
            [maxValue]="tradeForm.token.base.amount"
            [ngModel]="tradeForm.token.base.minContribution | bigNumberFormat"
            (ngModelChange)="onMinContributeChange('base', $event)"
            #baseMinContribute="ngModel"
            [ngClass]="{
              'input-container__input_invalid': baseMinContribute.invalid
            }"
            #baseMinContributeInput
          />
        </div>
      </div>

      <div class="form-section__block form-section-block">
        <div class="form-section-block__input-container input-container">
          <label class="input-container__label" for="min-quote-contribute-input-id">
            Minimum contribution in {{ tradeForm.token.quote.symbol }}
          </label>

          <input
            class="input-container__input input-container__input_min-contribute input-container__input_validated"
            id="min-quote-contribute-input-id"
            placeholder="Enter amount"
            appNumberPrecision
            [inputElement]="quoteMinContributeInput"
            [decimalLength]="tradeForm.token.quote.decimals"
            [maxValue]="tradeForm.token.quote.amount"
            [ngModel]="tradeForm.token.quote.minContribution | bigNumberFormat"
            (ngModelChange)="onMinContributeChange('quote', $event)"
            #quoteMinContribute="ngModel"
            [ngClass]="{
              'input-container__input_invalid': quoteMinContribute.invalid
            }"
            #quoteMinContributeInput
          />
        </div>
      </div>
    </div>

    <!--third-->
    <div
      class="form-section__row form-section-row form-section-row_third"
      *ngIf="tradeForm.areAmountsAndTokensSet"
    >
      <div class="form-section__block form-section-block form-section-block_full">
        <div class="form-section-block__input-container input-container">
          <label class="input-container__label" for="is-with-broker-fee-checkbox-id">
            Broker Fee
          </label>

          <input
            type="checkbox"
            class="input-container__checkbox input-container__checkbox_hidden"
            id="is-with-broker-fee-checkbox-id"
            [ngModel]="tradeForm.isWithBrokerFee"
            (ngModelChange)="onIsWithBrokerFeeChange($event)"
          />

          <label
            class="input-container__input input-container__input_checkbox input-checkbox"
            [ngClass]="{ 'input-checkbox_not-checked': !tradeForm.isWithBrokerFee }"
            for="is-with-broker-fee-checkbox-id"
          >
            <span>{{ tradeForm.isWithBrokerFee ? 'Yes' : 'No' }}</span>

            <span
              class="input-checkbox__image"
              [ngClass]="{ 'input-checkbox__image_not-checked': !tradeForm.isWithBrokerFee }"
            ></span>
          </label>
        </div>

        <div class="form-section-block__description-container description-container">
          <span class="description-container__dash">&ndash;</span>
          <span>You can specify % for Broker</span>
        </div>
      </div>

      <div class="form-section-row__broker-data" *ngIf="tradeForm.isWithBrokerFee">
        <div class="form-section__block form-section-block form-section-block_full">
          <div
            class="form-section-block__input-container input-container input-container_broker-address"
          >
            <label
              class="input-container__label input-container__label_broker-address"
              for="broker-fee-address-input-id"
            >
              Broker Address
            </label>

            <input
              class="input-container__input input-container__input_broker-address input-container__input_validated"
              id="broker-fee-address-input-id"
              placeholder="0xD0593B233Be4411A236F22b42087345E1137170b"
              pattern="0x[0-9a-fA-F]{40}"
              [ngModel]="tradeForm.brokerAddress"
              (ngModelChange)="onBrokerAddressChange($event)"
              #brokerAddress="ngModel"
              [ngClass]="{
                'input-container__input_invalid': !brokerAddress.value || brokerAddress.invalid
              }"
            />
          </div>
        </div>

        <div class="form-section__block form-section-block">
          <div
            class="form-section-block__input-container input-container input-container_broker-percent"
          >
            <label class="input-container__label" for="broker-percent-base-input-id">
              Specify % for {{ tradeForm.token.base.symbol }}
            </label>

            <input
              class="input-container__input input-container__input_broker-percent input-container__input_validated"
              id="broker-percent-base-input-id"
              appNumberPrecision
              [inputElement]="baseBrokerInput"
              integerLength="2"
              decimalLength="2"
              maxValue="50"
              [ngModel]="tradeForm.token.base.brokerPercent"
              (ngModelChange)="onBrokerPercentChange('base', $event)"
              #baseBrokerPercent="ngModel"
              [ngClass]="{
                'input-container__input_invalid': baseBrokerPercent.invalid
              }"
              #baseBrokerInput
            />

            <span class="input-container__percent-sign">%</span>

            <span class="input-container__calculation">
              You will get: <br />
              {{ getBrokerPercent('base') }} {{ tradeForm.token.base.name }}
            </span>
          </div>
        </div>

        <div class="form-section__block form-section-block">
          <div
            class="form-section-block__input-container input-container input-container_broker-percent"
          >
            <label class="input-container__label" for="broker-percent-quote-input-id">
              Specify % for {{ tradeForm.token.quote.symbol }}
            </label>

            <input
              class="input-container__input input-container__input_broker-percent input-container__input_validated"
              id="broker-percent-quote-input-id"
              appNumberPrecision
              [inputElement]="quoteBrokerInput"
              integerLength="2"
              decimalLength="2"
              maxValue="50"
              [ngModel]="tradeForm.token.quote.brokerPercent"
              (ngModelChange)="onBrokerPercentChange('quote', $event)"
              #quoteBrokerPercent="ngModel"
              [ngClass]="{
                'input-container__input_invalid': quoteBrokerPercent.invalid
              }"
              #quoteBrokerInput
            />

            <span class="input-container__percent-sign">%</span>

            <span class="input-container__calculation">
              You will get: <br />
              {{ getBrokerPercent('quote') }} {{ tradeForm.token.quote.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
