<div
  *ngLet="{
    status: status$ | async,
    needTrustline: needTrustline$ | async,
    isPrivate: isPrivate$ | async
  } as state"
  class="status-wrapper"
>
  <div class="row row-status">
    <div class="row-item status-item">
      @if (state.needTrustline) {
        <div class="status-item__circle"></div>
      } @else if (state.status === 'waiting') {
        <div class="status-item__spinner"></div>
      } @else if (state.status !== 'waiting' && state.status !== 'expired') {
        <div class="status-item__circle_complete">
          <img
            class="scheme__state.status-icon"
            src="assets/images/icons/checkmark/checkmark-bold-black.svg"
            alt=""
          />
        </div>
      } @else if (state.status === 'expired') {
        <ng-container *ngTemplateOutlet="failedStatus"></ng-container>
      }

      <div
        class="row-item__value status-item__value"
        [ngClass]="{
          'status-item__value_completed': state.status !== 'expired',
          'status-item__value_failed': state.status === 'expired'
        }"
      >
        {{ state.status === 'expired' ? 'Expired' : 'Awaiting deposit' }}
      </div>
    </div>

    <img class="arrow-step" src="assets/images/icons/arrow/arrow-right-white.svg" alt="Next step" />

    <div class="row-item status-item">
      @if (state.status === 'waiting' || state.status === 'expired') {
        <div class="status-item__circle"></div>
      } @else if (state.status === 'confirming') {
        <div class="status-item__spinner"></div>
      } @else {
        <div class="status-item__circle_complete">
          <img
            class="scheme__state.status-icon"
            src="assets/images/icons/checkmark/checkmark-bold-black.svg"
            alt=""
          />
        </div>
      }

      <div
        class="row-item__value status-item__value"
        [ngClass]="{
          'status-item__value_completed':
            state.status === 'confirming' ||
            state.status === 'exchanging' ||
            state.status === 'hiding' ||
            state.status === 'sending' ||
            state.status === 'finished' ||
            state.status === 'failed'
        }"
      >
        Confirming
      </div>
    </div>

    <img class="arrow-step" src="assets/images/icons/arrow/arrow-right-white.svg" alt="Next step" />

    <div class="row-item status-item">
      @if (
        state.status === 'waiting' ||
        state.status === 'confirming' ||
        state.status === 'failed' ||
        state.status === 'expired'
      ) {
        <div class="status-item__circle"></div>
      } @else if (state.status === 'exchanging' || state.status === 'hiding') {
        <div class="status-item__spinner"></div>
      } @else {
        <div class="status-item__circle_complete">
          <img
            class="scheme__state.status-icon"
            src="assets/images/icons/checkmark/checkmark-bold-black.svg"
            alt=""
          />
        </div>
      }

      <div
        class="row-item__value status-item__value"
        [ngClass]="{
          'status-item__value_completed':
            state.status === 'exchanging' ||
            state.status === 'hiding' ||
            state.status === 'sending' ||
            state.status === 'finished'
        }"
      >
        {{ state.isPrivate ? 'Hiding' : 'Swapping' }}
      </div>
    </div>

    <img class="arrow-step" src="assets/images/icons/arrow/arrow-right-white.svg" alt="Next step" />

    <div class="row-item status-item">
      @if (
        state.status === 'waiting' ||
        state.status === 'confirming' ||
        state.status === 'exchanging' ||
        state.status === 'expired' ||
        state.status === 'hiding'
      ) {
        <div class="status-item__circle"></div>
      } @else if (state.status === 'sending') {
        <div class="status-item__spinner"></div>
      } @else if (state.status === 'finished') {
        <div class="status-item__circle_complete">
          <img
            class="scheme__state.status-icon"
            src="assets/images/icons/checkmark/checkmark-bold-black.svg"
            alt=""
          />
        </div>
      } @else if (state.status === 'failed') {
        <ng-container *ngTemplateOutlet="failedStatus"></ng-container>
      }

      <div
        class="row-item__value status-item__value"
        [ngClass]="{
          'status-item__value_completed': state.status === 'sending' || state.status === 'finished'
        }"
      >
        Sending to you
      </div>
    </div>
  </div>
</div>

<ng-template #failedStatus>
  <div class="status-item__circle_failed">
    <img
      class="scheme__state.status-icon"
      src="assets/images/icons/checkmark/failed-checkmark.svg"
      alt=""
    />
  </div>
</ng-template>
