@import 'src/styles';

.delimiter {
  margin: 15px 0;

  background: var(--hr-color);
}

.info-line {
  display: flex;
  justify-content: space-between;

  min-height: 21px;

  font-weight: 500;
  font-size: 16px;

  img {
    width: 19px;
    height: 19px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__value {
    display: flex;
    grid-gap: 8px;
    align-items: center;

    a {
      height: 19px;
    }

    button {
      display: flex;
      justify-content: center;

      width: 19px;
      height: 19px;
    }

    &_green {
      color: #4aa956;
    }

    &_yellow {
      color: #f3ba2f;
    }

    &_red {
      color: #e83e3f;
    }
  }
}

.title {
  display: flex;
  grid-gap: 13px;
  align-items: center;
}

app-price-impact-info-line {
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
