.transaction {
  &-title {
    font-size: 25px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: bold;
  }
  &-description {
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  &-buttons {
    border-top: 1px dashed rgba(255, 255, 255, 0.25);
    padding: 20px 24px 12px;
    margin: 0 -24px;
  }
  &-fields_opener {
    margin-top: 25px;
    span {
      cursor: pointer;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      &:after {
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #fff;
        content: '';
        display: inline-block;
        vertical-align: middle;
        transform: rotate(45deg);
        margin-left: 8px;
        width: 6px;
        height: 6px;
        margin-top: -4px;
      }
    }
    &.opened {
      span {
        &:after {
          transform: rotate(-135deg);
          margin-top: 2px;
        }
      }
    }
  }
}

.form-field_copy {
  line-height: 45px;
}
.or-delimiter {
  margin-left: -24px;
  margin-right: -24px;
}
.transaction-instruction {
  counter-increment: trxNumber;
}
.transaction-item-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding: 6px 0 12px 50px;
  position: relative;
  &:before {
    content: counter(trxNumber);
    display: block;
    float: left;
    background-color: #FCD600;
    color: #000;
    margin: -10px 0 10px -50px;
    font-weight: bold;
    font-size: 22px;
    width: 36px;
    box-sizing: border-box;
    height: 36px;
    text-align: center;
    line-height: 40px;
  }
  &.checked {
    &:before {
      content: '';
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 16px;
      border-width: 0 3px 3px 0;
      border-style: solid;
      border-color: #000;
      left: 20px;
      margin-left: -7px;
      top: 2px;
      transform: rotate(45deg);
    }
  }
}

@media screen and (max-width: 800px) {
  .or-delimiter, .transaction-buttons {
    margin-left: -4%;
    margin-right: -4%;
  }

  .transaction-buttons {
    padding-left: 4%;
    padding-right: 4%;
  }

  .mat-dialog-content {
    margin: 0 -4% !important;
    padding: 0 4% !important;
  }
}

@media screen and (max-width: 580px) {
  .btn-min.wallet-btn {
    font-size: 13px;
    padding: 2.5vw 5% 2.5vw 3%;
    .btn-ico {
      height: 6vw;
    }
  }
}
