<div class="dialog-block">
  <div class="dialog-block__content">

    <button class="dialog-closer" mat-dialog-close>
      <img src="./assets/images/icons/cross-w.svg">
    </button>
    <div class="transaction-title">
      {{trxData.title}}
    </div>
    <div class="transaction-description">
      {{trxData.description}}
    </div>
    <mat-dialog-content>
      <div *ngFor="let transaction of trxData.transactions; let index = index" class="transaction-instruction">
        <div class="transaction-buttons">
          <div *ngIf="transaction.title" class="transaction-item-title">
            {{ transaction.title }}
          </div>
          <div class="form-field_input">
            <div class="grid-row">
              <div class="grid-cell grid-cell-vs-1-2">
                <a [href]="
                    'https://vintage.myetherwallet.com/' +
                    (!transaction.data ?
                      '?sendMode=ether&to=' + transaction.to + '&value=' + transaction.ethValue + '#send-transaction' :
                      '?data=' + transaction.data + '&value=0&to=' + transaction.to + '#send-transaction'
                    )"
                   target="_blank"
                   type="button" class="btn btn-transparent btn-min btn-normal-weight wallet-btn vs-width-100">
                  <img src="./assets/images/icons/web3clients/myetherwallet.svg" class="btn-ico">
                  MyEtherWallet
                </a>
              </div>
              <div class="grid-cell grid-cell-vs-1-2">
                <button type="button"
                        [disabled]="!providedAddresses.metamask?.length"
                        (click)="transaction.action({
                        type: 'metamask',
                        address: providedAddresses.metamask[0]
                      })"
                        class="btn btn-transparent btn-min btn-normal-weight wallet-btn vs-width-100">
                  <img src="./assets/images/icons/web3clients/metamask.svg" class="btn-ico">
                  Metamask
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="or-delimiter">
          <span>OR</span>
        </div>
        <div class="transaction-fields">
          <div class="form-field" *ngIf="transaction.from">
            <div class="form-field_label">
              Send transaction (0 ETH) from your management address
            </div>
            <div class="form-field_input">
              <div class="form-field_copy">
                <button type="button"
                        class="copy-btn"
                        [ngClass]="{copied: copiedData['owner_address' + index]}"
                        ngxClipboard [cbContent]="transaction.from"
                        (cbOnSuccess)="onCopied('owner_address' + index)">
                  <img src="./assets/images/icons/copy.svg"/>
                </button>
              </div>
              <div class="form-field_input_data">
                <input type="text" class="min-text dark-field minimal-input"
                       readonly
                       [value]="transaction.from"/>
              </div>
            </div>
          </div>
          <div class="form-field">
            <div class="form-field_label">
              <span *ngIf="!transaction.from && !transaction.ethValue">Send transaction (0 ETH)</span>
              <span *ngIf="!transaction.from && transaction.ethValue">Send {{transaction.ethValue}} ETH</span>
              To contract address
            </div>
            <div class="form-field_input">
              <div class="form-field_copy">
                <button type="button"
                        class="copy-btn"
                        [ngClass]="{copied: copiedData['contract_address' + index]}"
                        ngxClipboard [cbContent]="transaction.to"
                        (cbOnSuccess)="onCopied('contract_address' + index)">
                  <img src="./assets/images/icons/copy.svg"/>
                </button>
              </div>
              <div class="form-field_input_data">
                <input type="text" class="min-text dark-field minimal-input"
                       readonly
                       [value]="transaction.to"/>
              </div>
            </div>
          </div>
          <div class="form-field" *ngIf="transaction.data">
            <div class="form-field_label">
              With data field
            </div>
            <div class="form-field_input">
              <div class="form-field_copy">
                <button type="button"
                        class="copy-btn"
                        [ngClass]="{copied: copiedData['data' + index]}"
                        ngxClipboard [cbContent]="transaction.data"
                        (cbOnSuccess)="onCopied('data' + index)">
                  <img src="./assets/images/icons/copy.svg"/>
                </button>
              </div>
              <div class="form-field_input_data">
                <input type="text" class="min-text dark-field minimal-input"
                       readonly
                       [value]="transaction.data"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>

    <div class="transaction-buttons">
      <div class="grid-row">
        <div class="grid-cell grid-cell-1-3 grid-cell-vs-1-2">
          <button class="btn btn-yellow btn-min width-100" mat-dialog-close>
            <img class="arrow" src="./assets/images/buttons/arrow_b.svg">
            Done
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
