@use 'src/scss/mixins';
@use 'src/scss/vars';

.statistics {
  --shadow: 0px 1px 14px rgba(15, 15, 15, 0.12), 0px 5px 8px rgba(15, 15, 15, 0.14), 0px 3px 5px rgba(15, 15, 15, 0.2);
  --shadow-light: 0px 1px 14px rgba(197, 197, 197, 0.12), 0px 5px 8px rgba(197, 197, 197, 0.14), 0px 3px 5px rgba(197, 197, 197, 0.2);
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: 40px 81.5px;

  background: var(--rubic-base-19);
  border-radius: 22px;
  box-shadow: var(--shadow-light);

  @include mixins.dark {
    box-shadow: var(--shadow);
  }

  @include mixins.b(vars.$tablet) {
    padding: 32px 30px;
  }

  @include mixins.b(vars.$tablet) {
    display: grid;
    grid-row-gap: 28px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  &__spinner {
    overflow: visible;
  }

  &__value {
    margin-bottom: 2px;

    font-weight: 800;
    font-size: 24px;
    line-height: 29px;

    @include mixins.b(vars.$tablet) {
      font-size: 20px;
    }
  }

  &__caption {
    color: vars.$rubic-primary;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    @include mixins.b(vars.$tablet) {
      font-size: 14px;
    }
  }

  &__reload {
    position: absolute;
    top: 16px;
    right: 16px;

    cursor: pointer;
  }
}
