@import 'src/scss/vars';
@import 'src/scss/mixins';

.about-page {
  font-weight: normal;

  background-color: white;
  border-radius: 10px;

  @include b(1100) {
    background-image: none;
  }

  .first-block {
    padding-top: 25px;

    .container {
      display: grid;
      grid-gap: 50px;
      grid-template-columns: minmax(300px, 450px) minmax(300px, 1fr);
      align-items: center;
      justify-content: center;
      max-width: 1100px;

      @include b(850) {
        grid-gap: 25px;
        grid-template-columns: 1fr;
      }

      img {
        width: 100%;
        max-width: 415px;
      }

      h3 {
        padding-right: 100px;

        @include b(1100) {
          padding-right: 0;
        }
      }
    }
  }

  .benefit {
    margin-top: 100px;

    .container {
      max-width: 1100px;
    }

    &-blocks {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));

      @include b(700) {
        grid-template-columns: 1fr;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        min-height: 155px;
        padding: 40px 60px 25px 25px;

        background-color: #fafafa;

        @include b(850) {
          padding: 20px;
        }

        @include b(700) {
          min-height: 0;
        }
      }
    }
  }

  .features {
    margin-top: 100px;

    .container {
      max-width: 1100px;
    }

    &-blocks {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
      margin-top: 20px;

      @include b(700) {
        grid-template-columns: 1fr;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: 50px;
        padding: 25px 35px;

        background-color: #fafafa;

        @include b(850) {
          padding: 20px;
        }

        @include b(700) {
          min-height: 0;
        }
      }
    }
  }

  .rubic-contract {
    margin-top: 100px;

    .container {
      max-width: 1100px;
    }

    &-image {
      width: 100%;
      margin-top: 20px;

      @include b(500) {
        min-height: 400px;
        padding-bottom: 0;
      }
    }
  }

  .rubic-roadmap {
    position: relative;

    margin-top: 100px;
    padding-bottom: 300px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-image:
        url('/assets/images/about/roadmap-art1.svg'),
        url('/assets/images/about/roadmap-art3.svg'),
        url('/assets/images/about/roadmap-art2.svg'),
        url('/assets/images/about/roadmap-art4.svg'),
        url('/assets/images/about/roadmap-art5.svg'),
        url('/assets/images/about/roadmap-art-footer.svg');
      background-repeat: no-repeat;
      background-position:
        0 140px,
        right 20px top 600px,
        0px 935px,
        right 20px top 1350px,
        right 0 top 2150px,
        left 0 bottom 0;

      content: '';
    }

    .container {
      max-width: 1100px;
    }

    &-block {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 50px;

      @include b(1100) {
        flex-direction: column;
      }

      &::after {

        position: absolute;
        top: 0;
        left: 50%;

        width: 2px;
        height: 100%;

        background-color: #4aa956;

        content: '';
      }

      &-item {
        position: relative;

        box-sizing: border-box;

        width: 50%;
        margin-bottom: 105px;

        margin-left: auto;
        padding-left: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        &.left {
          margin-left: 0;
          padding-right: 30px;
          padding-left: 0;

          text-align: right;

          .span-roadmap-quarter {
            right: -110px;
            left: auto;
          }

          &::after {
            left: calc(100% + 26px);
          }

          &::before {
            right: -13px;
            left: auto;
          }

          .ul-roadmap-text {
            li {
              display: flex;
              align-items: center;
              justify-content: flex-end;

              &::before {
                display: none;
              }

              &::after {
                display: inline-block;
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                margin-left: 10px;

                color: #4aa956;
                font-weight: bold;
                text-align: center;

                content: '\2022';
              }

              &.done {
                &::after {
                  vertical-align: sub;

                  background-image: url('/assets/images/icons/done.svg');

                  content: '';
                }
              }
            }
          }
        }

        &::before {
          position: absolute;

          top: 0;
          bottom: -75px;
          left: -13px;

          width: 24px;
          height: 24px;

          background-color: #4aa956;

          content: '';
        }
      }
    }
  }
}

@include  b($desktop) {
  .rubic-roadmap {
    &::before {
      opacity: 0.1;
    }
  }
}

@include b($mobile-md) {
  .about-page {
    .rubic-roadmap {
      padding-bottom: 100px;

      &-block {
        &::after {
          left: 11px;
        }
      }

      &-block-item {
        width: 100%;
        padding-left: 40px;

        &::before {
          left: 0;
        }

        .span-roadmap-quarter,
        .span-roadmap-month {
          position: static;

          display: inline-block;
          margin-bottom: 20px;
        }

        .span-roadmap-quarter {
          margin-right: 10px;
        }

        &.left {
          margin-left: auto;
          padding-left: 40px;

          text-align: left;

          &::before {
            right: auto;
            left: 0;
          }

          .ul-roadmap-text {
            li {
              justify-content: flex-start;

              &::before {
                display: block;
              }

              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@include b($mobile-md) {
  .h3-block-title-s1 {
    font-size: 18px;
    line-height: 1.5;
  }

  .about-page {
    .benefit {
      margin-top: 0;
    }

    .rubic-roadmap,
    .rubic-contract,
    .features {
      margin-top: 20px;
    }
  }

  .span-title-benefits {
    font-size: 21px;
  }
}
