<div class="transaction-details" *ngLet="tradeData$ | async as tradeData">
  <app-transaction-details-element
    [title]="text.protocolFee.label"
    [description]="text.protocolFee.description"
  >
    <app-rubic-fee-value [fee]="tradeData?.feeInfo?.rubicProxy"></app-rubic-fee-value>
  </app-transaction-details-element>

  <app-transaction-details-element
    [title]="text.networkFee.label"
    [description]="text.networkFee.description"
  >
    <app-provider-fee-value [fee]="tradeData?.feeInfo?.provider"></app-provider-fee-value>
  </app-transaction-details-element>

  <app-transaction-details-element
    [title]="text.priceImpact.label"
    [description]="text.priceImpact.description"
  >
    <app-price-impact-value [priceImpact]="tradeData?.priceImpact"></app-price-impact-value>
  </app-transaction-details-element>

  <app-transaction-details-element
    [title]="text.slippage.label"
    [description]="text.slippage.description"
  >
    {{ tradeData?.slippage }}%
  </app-transaction-details-element>

  <app-transaction-details-element
    [title]="text.minReceived.label"
    [description]="text.minReceived.description"
  >
    {{ tradeData?.minReceived }}
  </app-transaction-details-element>

  <app-transaction-details-element [title]="text.rate.label" [description]="text.rate.description">
    <app-rate-value [trade]="trade$ | async"></app-rate-value>
  </app-transaction-details-element>

  <app-transaction-details-element
    [title]="text.route.label"
    [description]="text.route.description"
  >
    <div class="transaction-details__routing">
      <ng-container *ngFor="let symbol of tradeData?.route; index as index">
        {{ symbol }}
        <img
          *ngIf="index !== tradeData?.route?.length - 1"
          class="route-value__icon-next"
          src="assets/images/swaps/swaps-info/route-next-icon.svg"
          [alt]="symbol"
        />
      </ng-container>
    </div>
  </app-transaction-details-element>

  <app-transaction-details-element
    [title]="text.receiver.label"
    [description]="text.receiver.description"
  >
    <app-receiver-value
      [toWalletAddress]="tradeData?.receiverAddress || ''"
      [toBlockchain]="toBlockchain$ | async"
    ></app-receiver-value>
  </app-transaction-details-element>
</div>
