@import 'src/scss/vars';
@import '../styles';

.table {
  width: 100%;
  margin-top: 26px;

  font-weight: 300;

  border-radius: $border-radius-1;

  &_hidden {
    display: none;
  }

  thead {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  th,
  td {
    color: var(--rubic-base-12);
    font-weight: inherit;
    font-family: inherit;

    border-color: var(--main-background);
    border-style: solid;
    border-width: 0;
    border-right-width: 1px;

    &:last-child {
      border-right-width: 0;
    }
  }

  th {
    height: 56px;
    padding: 18px 27px;

    font-size: 18px;
    line-height: 21px;

    background-color: var(--main-background);

    &:first-child {
      border-top-left-radius: 14px;
    }

    &:last-child {
      border-top-right-radius: 14px;
    }

    ::ng-deep {
      .sort {
        color: inherit;
        font-weight: inherit;

        &_sorted {
          font-weight: 500;
        }
      }

      .arrow {
        display: none;
      }
    }

    .title {
      display: flex;
      flex-wrap: nowrap;
      grid-gap: 5px;
      align-items: center;

      margin-right: 10px;
    }
  }

  td {
    font-size: 16px;
    line-height: 19px;

    background: var(--main-form-background);
    border-bottom-width: 1px;

    .transaction-link {
      display: flex;
      grid-gap: 12px;
      align-items: center;

      padding: 13px 15px;

      color: inherit;

      &:hover,
      &:focus {
        text-decoration: none !important;
      }
    }

    .none {
      display: inline-block;
      width: 100%;

      text-align: center;
    }

    &.blockchains,
    &.token,
    &.date {
      .transaction-link {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &.status {
      .transaction-link {
        padding: 0;
      }

      ::ng-deep {
        .wrapper {
          display: flex;
          flex-direction: column;
          grid-gap: 12px;
          align-items: flex-start;

          padding: 13px 15px;
        }
      }
    }

    .status {
      &__text {
        display: flex;
        grid-gap: 12px;
        align-items: center;

        text-transform: capitalize;
      }
    }

    &.blockchains {
      .transaction-link {
        grid-gap: 6px;
        align-items: center;
      }
    }

    .blockchains {
      &__blockchain {
        display: flex;
        flex-wrap: nowrap;
        grid-gap: 12px;
        align-items: center;

        white-space: nowrap;
      }

      img {
        align-self: center;
      }
    }

    .token-info {
      display: flex;
      grid-gap: 8px;
      align-items: center;
    }
  }

  tfoot {
    td {
      padding: 13px 27px;

      &:first-child {
        border-bottom-left-radius: 14px;
      }

      &:last-child {
        border-bottom-right-radius: 14px;
      }
    }
  }
}

tui-table-pagination {
  ::ng-deep {
    color: var(--form-dim-text-color);

    span {
      font-weight: 400;
      font-size: 14px;
      font-family: $sf-pro-font;
      word-spacing: 0.1em;
    }

    button {
      color: var(--main-green);
    }
  }
}
