<table
  tuiTable
  class="table"
  [ngClass]="{ table_hidden: loading === false && !(tableData$ | async).length }"
  [columns]="['Status', 'FromTo', 'Provider', 'Sent', 'Expected', 'Date']"
  [sorter]="sorter$ | async"
  [direction]="direction$ | async"
  (sorterChange)="sorter$.next($event)"
  (directionChange)="direction$.next($event)"
>
  <thead>
    <tr tuiThGroup>
      <th tuiTh [resizable]="true" *ngFor="let column of columns" [sorter]="sorters[column.value]">
        <span class="title" *ngIf="column.value !== 'FromTo'">{{
          column.translateKey | translate
        }}</span>

        <span class="title" *ngIf="column.value === 'FromTo'"
          >{{ 'tradesTable.columns.from' | translate
          }}<img src="assets/images/icons/my-trades/arrow-right.svg" alt />{{
            'tradesTable.columns.to' | translate
          }}
        </span>

        <div
          class="sort-arrow"
          [class.sort-arrow_green]="
            sorter$.getValue() === sorters[column.value] && direction$.getValue() === -1
          "
          inlineSVG="assets/images/icons/my-trades/arrow-up.svg"
        ></div>
        <div
          class="sort-arrow"
          [class.sort-arrow_green]="
            sorter$.getValue() === sorters[column.value] && direction$.getValue() === 1
          "
          inlineSVG="assets/images/icons/my-trades/arrow-down.svg"
        ></div>
      </th>
    </tr>
  </thead>

  <tbody tuiTbody *tuiLet="visibleData$ | async as data" [data]="data">
    <ng-container *ngFor="let item of data">
      <tr tuiTr *tuiLet="getTableTrade(item) as trade">
        <ng-container *ngIf="trade">
          <td *tuiCell="'Status'" tuiTd class="status">
            <a class="transaction-link" safetyLink [link]="getTransactionLink(trade)">
              <div class="status__text">
                <div
                  class="status-circle"
                  [ngClass]="{
                    'status-circle_green': trade.status === TRANSACTION_STATUS.COMPLETED,
                    'status-circle_yellow':
                      trade.status === TRANSACTION_STATUS.WAITING_FOR_DEPOSIT ||
                      trade.status === TRANSACTION_STATUS.WAITING_FOR_RECEIVING ||
                      trade.status === TRANSACTION_STATUS.DEPOSIT_IN_PROGRESS ||
                      trade.status === TRANSACTION_STATUS.WITHDRAW_IN_PROGRESS ||
                      trade.status === TRANSACTION_STATUS.PENDING,
                    'status-circle_red':
                      trade.status === TRANSACTION_STATUS.CANCELLED ||
                      trade.status === TRANSACTION_STATUS.REJECTED
                  }"
                >
                  <div class="status-circle__inner"></div>
                </div>
                <span class="status__text">{{ translationStatusKeys[trade.status] | translate }}</span>
              </div>
            </a>

            <app-rubic-button
              *ngIf="trade.status === TRANSACTION_STATUS.WAITING_FOR_RECEIVING"
              size="s"
              [loading]="item.inProgress"
              (onClick)="onReceivePolygonBridgeTrade.emit(trade)"
              >{{ 'tradesTable.receive' | translate }}</app-rubic-button
            >
          </td>

          <td *tuiCell="'FromTo'" tuiTd class="blockchains">
            <a class="transaction-link" safetyLink [link]="getTransactionLink(trade)">
              <div class="blockchains__blockchain">
                <div class="img-container">
                  <img [src]="BLOCKCHAINS[trade.fromToken.blockchain].img" alt="from blockchain" />
                </div>
                {{ BLOCKCHAINS[trade.fromToken.blockchain].name }}
              </div>

              <img
                src="assets/images/icons/my-trades/arrow-down.svg"
                *ngIf="trade.fromToken.blockchain !== trade.toToken.blockchain"
                alt
              />

              <div
                class="blockchains__blockchain"
                *ngIf="trade.fromToken.blockchain !== trade.toToken.blockchain"
              >
                <div class="img-container">
                  <img [src]="BLOCKCHAINS[trade.toToken.blockchain].img" alt="to blockchain" />
                </div>
                {{ BLOCKCHAINS[trade.toToken.blockchain].name }}
              </div>
            </a>
          </td>

          <td *tuiCell="'Provider'" tuiTd>
            <a class="transaction-link" safetyLink [link]="getTransactionLink(trade)">
              <div class="img-container">
                <img [src]="TRADES_PROVIDERS[trade.provider].image" alt="provider" />
              </div>
              {{ TRADES_PROVIDERS[trade.provider].name }}
            </a>
          </td>

          <td *tuiCell="'Sent'" tuiTd class="token">
            <a class="transaction-link" safetyLink [link]="getTransactionLink(trade)">
              <span>{{
                trade.fromToken.amount | bigNumberFormat | withRound: 'toClosestValue'
              }}</span>
              <div class="token-info">
                <div class="img-container">
                  <img [src]="trade.fromToken.image" alt="from token" />
                </div>
                {{ trade.fromToken.symbol }}
              </div>
            </a>
          </td>

          <td *tuiCell="'Expected'" tuiTd class="token">
            <a class="transaction-link" safetyLink [link]="getTransactionLink(trade)">
              <span>{{
                trade.toToken.amount | bigNumberFormat | withRound: 'toClosestValue'
              }}</span>
              <div class="token-info">
                <div class="img-container">
                  <img [src]="trade.toToken.image" alt="to token" />
                </div>
                {{ trade.toToken.symbol }}
              </div>
            </a>
          </td>

          <td *tuiCell="'Date'" tuiTd class="date">
            <a class="transaction-link" safetyLink [link]="getTransactionLink(trade)">
              <span>{{ trade.date | date: 'dd.MM.yyyy' }}</span>
              <span>{{ trade.date | date: 'HH:mm' }}</span>
            </a>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>

  <tfoot>
    <tr>
      <td [colSpan]="columns.length">
        <tui-table-pagination
          [total]="total$ | async"
          (pageChange)="page$.next($event)"
          (sizeChange)="size$.next($event)"
        ></tui-table-pagination>
      </td>
    </tr>
  </tfoot>
</table>
