<ng-container *ngIf="isReady$ | async">
  <ng-container *ngLet="selectedTrade$ | async as selectedTrade">
    <ng-container *ngLet="taggedTrades$ | async as taggedTrades">
      <div class="trade-panel">
        <div class="trade-panel__row">
          <div class="trade-panel__header">
            <app-trades-counter></app-trades-counter>

            <div class="trade-panel__text" *ngIf="taggedTrades.length > 1">
              <button class="trade-panel__expand-button" (click)="toggleExpanded()">
                Other routes
                <img
                  src="assets/images/icons/arrow-down.svg"
                  alt="expand"
                  class="trade-panel__expand-arrow"
                  [class.trade-panel__expand-arrow_opened]="expanded"
                />
              </button>
            </div>
          </div>

          <div
            class="trade-panel__trades-content"
            [ngClass]="{
              'trade-panel__trades-content_expanded': expanded
            }"
          >
            <tui-scrollbar>
              <app-trades-list
                [taggedTrades]="showTradesList ? taggedTrades : []"
                (selectionHandler)="handleSelection()"
              ></app-trades-list>
            </tui-scrollbar>
          </div>
        </div>
      </div>

      <ng-container *ngIf="isMobile$ | async; then routeMobile; else routeDesktop"></ng-container>

      <ng-template #routeDesktop>
        <ng-container *ngIf="selectedTrade?.route as route">
          <app-cross-chain-route [route]="route"></app-cross-chain-route>
        </ng-container>
      </ng-template>

      <ng-template #routeMobile>
        <button [disabled]="!selectedTrade" (click)="openProvidersList(taggedTrades)">
          <app-cross-chain-best-route-mobile
            [trade]="selectedTrade"
          ></app-cross-chain-best-route-mobile>
        </button>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>
