@use 'src/scss/core' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trade-panel {
  position: relative;

  height: 100%;

  @include b($mobile-md) {
    display: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 45px;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 45px;

    font-size: 16px;
  }

  &__expand-button {
    margin-left: auto;

    color: var(--primary-color);
    font-size: 16px;
  }

  &__expand-arrow {
    width: 13px;
    margin-left: 6px;

    transition: 0.2s ease-in-out;

    &_opened {
      transform: rotate(180deg);
    }
  }

  &__trades-content {
    position: absolute;
    left: -24px;
    z-index: 999;

    box-sizing: content-box;

    width: 100%;
    height: 0;
    padding: 0 24px;

    background: var(--form-background);

    border-bottom-right-radius: 19px;
    border-bottom-left-radius: 19px;

    @include b($mobile-md) {
      left: 0;

      padding: 0;
    }

    &_expanded {
      height: 176px;

      @include b($mobile-md) {
        height: 186px;
      }
    }

    tui-scrollbar {
      max-height: 100%;
    }
  }
}

app-cross-chain-route {
  margin-top: 25px;
  margin-bottom: 10px;

  @include b($mobile-md) {
    margin-top: 8px;
    margin-bottom: 0;
  }
}
