@use 'src/scss/core' as *;

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button {
  width: 100%;
  margin-bottom: 30px;
}

:host ::ng-deep .window-container {
  padding: 0 !important;

  @include b($mobile-md) {
    padding: var(--tui-padding-m) !important;
  }
}
