@use 'src/scss/core' as *;

.chain-types-list {
  @include flex(column, center, flex-start);
  gap: 4px;
  padding: 8px;

  font-weight: 500;
  font-size: 15px;

  background-color: var(--tui-base-01);
  border-radius: var(--tui-radius-m);

  .chain-type__wrapper {
    @include flex(row, center, space-between);
    width: 169px;
    padding: 12px 15px;

    border-radius: 8px;
    cursor: pointer;

    transition: all 0.1s;

    &:hover {
      background-color: var(--tui-secondary-hover);
    }

    .chain-type__item {
      @include flex(row, center, flex-start);
      gap: 8px;
    }
  }

  .chain-type__wrapper-active {
    background-color: var(--tui-secondary-active);
  }
}
