<div class="chain-types-list">
  <ng-container *ngFor="let chainTypeFilter of chainTypeFilters">
    <ng-container
      *ngTemplateOutlet="
        chainTypeItem;
        context: {
          chainTypeFilter: chainTypeFilter,
          selected: selectedFilter.label === chainTypeFilter.label
        }
      "
    ></ng-container>
  </ng-container>
</div>

<ng-template #chainTypeItem let-chainTypeFilter="chainTypeFilter" let-selected="selected">
  <div
    class="chain-type__wrapper"
    [class.chain-type__wrapper-active]="selected"
    (click)="selectFilter(chainTypeFilter)"
  >
    <div class="chain-type__item">
      <img [src]="chainTypeFilter.img" />
      <b>{{ chainTypeFilter.label }}</b>
    </div>

    <img
      *ngIf="activeWallets | functionCall : chainTypeFilter.connectedFunc"
      class="chain-type__connected"
      width="14"
      height="14"
      src="assets/images/wallets/icons/wallet-connected.svg"
    />
  </div>
</ng-template>
