@use 'src/scss/core' as *;

.refresh-button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
  }

  &__icon {
    &_refreshing.autoRefresh {
      animation: 0.9s linear 0.1s infinite refreshAnimation;
    }
  }

  &__outline-icon {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
  }

  &__timer {
    display: block;

    transform-origin: 50% 50%;

    fill: transparent;
    stroke: $rubic-primary;
    stroke-linecap: round;
    stroke-dasharray: 174;
    stroke-dashoffset: 174;
    stroke-width: 2px;

    &:not(&_refresh-button__timer_hidden-refresh):not(&:hover) {
      animation: linear infinite timerAnimation;
    }

    &_stoped {
      stroke-dashoffset: 0;
    }
  }
}

.refresh-icon-tooltip {
  font-size: 15px;
}

@keyframes refreshAnimation {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes timerAnimation {
  100% {
    stroke-dashoffset: 0;
  }
}
