<div class="refresh-button">
  <img
    class="refresh-icon"
    [ngClass]="{ 'autoRefresh': autoUpdate }"
    [src]="imageUrl"
    width="18"
    height="18"
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()"
    alt="Toggle auto refresh"
    [tuiHint]="hint"
    (click)="toggleClick()"
    #refreshIcon
  />
  <svg
    *ngIf="autoUpdate && status === REFRESH_BUTTON_STATUS.STOPPED"
    class="refresh-button__outline-icon"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      class="refresh-button__timer"
      [ngStyle]="{ 'animation-duration': refreshTimeout * 2 + 's' }"
      cx="15"
      cy="15"
      r="14"
      transform="rotate(-90)"
    />
  </svg>
</div>
