@use 'src/scss/core' as *;

:host {
  display: block;
  max-width: 565px;
  margin: 0 auto;
}

.onramper-form {
  min-height: 200px;
  padding: 24px;

  background-color: var(--main-form-background);
  border-radius: 19px;
  backdrop-filter: blur(50px);

  &__container {
    margin-top: 15px;
  }

  &__delimiter {
    position: relative;

    &::before {
      position: absolute;
      top: 0;

      display: block;
      width: 100%;
      height: 1px;

      background-color: var(--rubic-delimiter);

      opacity: 0.5;

      content: '';
    }
  }
}

.bottom-form {
  display: flex;
  flex-direction: column;

  &__output {
    z-index: 9999;

    display: flex;
    justify-content: space-between;

    min-height: 65px;
    margin: 30px 0 15px;
  }

  &__buttons {
    margin-top: 16px;
  }
}

