:host {
  width: 100%;
}

.custom-token {
  padding-top: 22px;

  &__button {
    display: block;
    margin-top: 15px;
  }


  &_disabled {
    ::ng-deep > div {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}
