<div class="custom-token">
  <div
    class="custom-token__element"
    [ngClass]="{ 'custom-token__element_disabled': !token.available }"
  >
    <app-tokens-list-element
      [token]="token"
      [tuiManualHint]="disabledTokenHint"
      [tuiManualHintShow]="hintsShown"
      tuiHintMode="error"
      tuiHintDirection="bottom-right"
      (mouseenter)="hintsShown = !token.available && true"
      (mouseleave)="hintsShown = false"
    >
    </app-tokens-list-element>
  </div>
  <app-rubic-button
    *ngIf="token.available"
    class="custom-token__button"
    appearance="secondary"
    fullWidth
    (onClick)="handleImportClick()"
    [disabled]="!token.available"
  >
    Import {{ token.symbol }}
  </app-rubic-button>
</div>

<ng-template #disabledTokenHint>
  <div>
    {{ 'modals.tokensListModal.unsupportedPairsHint' | translate }}
  </div>
</ng-template>
