<mat-form-field>
  <mat-label></mat-label>
  <img
    matPrefix
    [src]="'./assets/images/icons/coins/' + selectedBlockchain.img"
    width="19"
    height="23"
    [alt]="selectedBlockchain.label">
  <input type="text"
    aria-label="Number"
    matInput
    [formControl]="blockchainControl"
    [ngModel]="selectedBlockchain"
    [matAutocomplete]="auto" />
  <mat-autocomplete
    autoActiveFirstOption
    [disableRipple]="true"
    [displayWith]="getOptionText"
    #auto="matAutocomplete"
    (optionSelected)='onBlockchainChanges($event.option.value)'>
    <mat-option 
      *ngFor="let blockchain of blockchains"
      [value]="blockchain">
      <img [src]="'./assets/images/icons/coins/' + blockchain.img" width="19" height="23" alt="">
      {{ blockchain.shortLabel }} ({{ blockchain.name }})
    </mat-option>
  </mat-autocomplete>
</mat-form-field>