@import 'src/styles';

$token-card-height: 55px;

:host {
  width: 100%;
}

.tokens-list {
  padding-right: 15px;

  &__item {
    padding: 5px 10px;

    border-radius: 15px;

    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 15px;

      @include iframe-vertical {
        margin-bottom: 6px;
      }
    }

    &:hover {
      background-color: rgba($rubic-primary, 0.15);
    }

    &_disabled {
      cursor: not-allowed;
      opacity: 0.4;

      &:hover {
        background-color: unset;
      }
    }
  }
}

.tokens-list-horizontal-iframe {
  display: flex;

  &__item {
    min-width: 191px;
    max-width: 191px;
    height: $token-card-height;
    padding: 5px 10px;

    border: 2px solid #626262;

    border-radius: 15px;

    cursor: pointer;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      background-color: var(--main-background);
    }

    /* stylelint-disable */
    @include light-iframe {
      border: 1px solid #e9e9e9;

      &:hover {
        background-color: var(--rubic-base-14);
      }
    }

    &_disabled {
      cursor: not-allowed;
      opacity: 0.4;

      &:hover {
        background-color: unset;
      }
    }

    &_active,
    &:active {
      background-color: var(--main-background);
      border-color: $rubic-primary !important;
    }

    &_active {
      cursor: not-allowed;
    }
  }

  &__item-link {
    border-color: $rubic-primary;

    a {
      display: block;
      width: 100%;
      height: 100%;

      line-height: 1.4;
      text-align: center;
    }

    &:hover {
      background-color: unset;
    }
  }
}

.nothing-to-show-message {
  position: relative;
  margin-top: 20px;

  display: block;

  font-size: 16px;
  text-align: center;

  opacity: 0.6;

  &__link {
    cursor: pointer;
    color: var(--primary-color);
  }
}

.tokens-container {
  position: relative;

  margin-right: 0;
  margin-top: 15px;

  @include iframe {
    position: static;
    left: unset;
    padding-top: 0;

    width: 100%;
  }

  @include iframe-vertical {
    height: 375px;
  }
}

.tokens-scrollbar {
  height: 428px;

  @include iframe-horizontal {
    height: $token-card-height + 20px;
  }
}

::ng-deep div.content {
  height: 100% !important;
}

@include b($mobile-md) {
  .tokens-scrollbar {
    width: 100%;
    height: 100vh;
  }
}

.vertical-frame-link {
  border: 2px solid $rubic-primary;

  a {
    display: block;
    width: 100%;
    height: 100%;

    line-height: 30px;
    text-align: center;
  }

  &:hover {
    background-color: unset;
  }
}
