<ng-container>
  <tui-scrollbar *ngIf="tokens.length; else emptyListMessage" class="tokens-scrollbar tokens-container">
    <ul class="tokens-list">
      <cdk-virtual-scroll-viewport
        tuiScrollable
        itemSize="50"
        class="tokens-scrollbar tui-zero-scrollbar"
      >
        <li
          *cdkVirtualFor="let token of tokens; let i = index"
          class="tokens-list__item"
          [ngClass]="{'tokens-list__item_disabled': !token.available}"
          [tuiManualHint]="disabledTokenHint"
          [tuiManualHintShow]="hintsShown[i]"
          tuiHintMode="error"
          tuiHintDirection="bottom-right"
          (click)="onTokenSelect(token)"
          (mouseenter)="hintsShown[i] = !token.available && true"
          (mouseleave)="hintsShown[i] = false"
        >
        <app-tokens-list-element [token]="token"></app-tokens-list-element>
      </li>

      </cdk-virtual-scroll-viewport>
    </ul>
  </tui-scrollbar>
  <ng-template #emptyListMessage>
    <span class="nothing-to-show-message">Nothing to show</span>
  </ng-template>
  <ng-template #disabledTokenHint>
    <div>
      Clear other form parameters to select this token
    </div>
  </ng-template>
</ng-container>
