<ng-container>
  <tui-scrollbar class="tokens-scrollbar tokens-container">
    <!--standard mode -->
    <tui-loader [showLoader]="loading" [overlay]="true">
      <div class="nothing-to-show-message" *ngIf="!tokens?.length">
        <ng-container *ngIf="hasSearchQuery || listType === 'default'; else noFavoriteTokens">
          {{ 'modals.tokensListModal.noSearchData' | translate }}
        </ng-container>

        <ng-template #noFavoriteTokens>
          <ng-container *ngIf="user$ | async; else noAuth">
            {{ 'modals.tokensListModal.noFavoriteData' | translate }}
            <button class="nothing-to-show-message__link" (click)="listTypeChange.emit('default')">
              {{ 'modals.tokensListModal.backToTokens' | translate }}
            </button>
          </ng-container>
        </ng-template>

        <ng-template #noAuth>
          {{ 'modals.tokensListModal.unauthorized' | translate }}
          <button class="nothing-to-show-message__link" (click)="openAuthModal()">
            {{ 'navigation.login' | translate }}
          </button>
        </ng-template>
      </div>

      <ul class="tokens-list" *noFrame [@listAnimation]="listAnimationState">
        <cdk-virtual-scroll-viewport
          tuiScrollable
          itemSize="63"
          class="tokens-scrollbar tui-zero-scrollbar"
          [style.overflow]="loading ? 'hidden' : 'auto'"
        >
          <li
            *cdkVirtualFor="
              let token of tokens;
              let i = index;
              templateCacheSize: 0;
              trackBy: trackByFn
            "
            class="tokens-list__item"
            [ngClass]="{ 'tokens-list__item_disabled': !token.available }"
            [tuiManualHint]="disabledTokenHint"
            [tuiManualHintShow]="hintsShown[i]"
            tuiHintMode="error"
            tuiHintDirection="bottom-right"
            (click)="onTokenSelect(token)"
            (mouseenter)="hintsShown[i] = !token.available"
            (mouseleave)="hintsShown[i] = false"
          >
            <app-tokens-list-element [token]="token"></app-tokens-list-element>
          </li>
        </cdk-virtual-scroll-viewport>
      </ul>
    </tui-loader>
    <!--standard mode -->

    <!--horizontal iframe -->
    <ul class="tokens-list-horizontal-iframe" *onlyFrame="'horizontal'">
      <li
        *ngFor="let token of tokens; let i = index"
        class="tokens-list-horizontal-iframe__item"
        [ngClass]="{
          'tokens-list-horizontal-iframe__item_disabled': !token.available,
          'tokens-list-horizontal-iframe__item_active':
            token.address === currentlySelectedToken?.address
        }"
        [tuiManualHint]="disabledTokenHint"
        [tuiManualHintShow]="hintsShown[i]"
        tuiHintMode="error"
        tuiHintDirection="bottom-right"
        (click)="onTokenSelect(token)"
        (mouseenter)="hintsShown[i] = !token.available"
        (mouseleave)="hintsShown[i] = false"
      >
        <app-tokens-list-element [token]="token"></app-tokens-list-element>
      </li>
      <li class="tokens-list-horizontal-iframe__item tokens-list-horizontal-iframe__item-link">
        <a rel="noopener noreferrer" target="_blank" [href]="noFrameLink">More on rubic.exchange</a>
      </li>
    </ul>
    <!--horizontal iframe -->

    <!--vertical iframe -->
    <ul class="tokens-list" *onlyFrame="'vertical'">
      <li
        *ngFor="let token of tokens; let i = index"
        class="tokens-list__item"
        [ngClass]="{ 'tokens-list__item_disabled': !token.available }"
        [tuiManualHint]="disabledTokenHint"
        [tuiManualHintShow]="hintsShown[i]"
        tuiHintMode="error"
        tuiHintDirection="bottom-right"
        (click)="onTokenSelect(token)"
        (mouseenter)="hintsShown[i] = !token.available"
        (mouseleave)="hintsShown[i] = false"
      >
        <app-tokens-list-element [token]="token"></app-tokens-list-element>
      </li>
      <li class="tokens-list__item vertical-frame-link">
        <a rel="noopener noreferrer" target="_blank" [href]="noFrameLink">More on rubic.exchange</a>
      </li>
    </ul>
    <!--vertical iframe -->
  </tui-scrollbar>
</ng-container>

<ng-template #disabledTokenHint>
  <div>
    {{ 'modals.tokensListModal.clearParamsHint' | translate }}
  </div>
</ng-template>
