@use 'src/scss/core' as *;

.tui-table {
  thead {
    .tui-table__th {
      @include font(11px, 10px, 500, var(--tui-text-03), 0.45px);
      height: auto;
      padding: 0 var(--tui-padding-l);
    }
  }

  tbody {
    .tui-table__td {
      @include font(11px, 10px, 500, var(--primary-text), 0.45px);
      height: auto;
      padding: 0 var(--tui-padding-l);
    }
  }

  .tui-table__tr:first-child {
    border-bottom: none;
  }

  .tui-table__tr:last-child {
    border-bottom: none;

    .tui-table__td {
      height: auto;
      padding: 0 1rem;

      color: var(--primary-color);
    }
  }

  .tui-table__tr.data-row {
    background: var(--secondary-background-deposits);
    border-bottom: none;

    .tui-table__td:first-child {
      border-top-left-radius: 14px;
      border-bottom-left-radius: 14px;
    }

    .tui-table__td:last-child {
      border-top-right-radius: 14px;
      border-bottom-right-radius: 14px;
    }
  }

  .tui-table__td {
    &-id {
      display: flex;
      align-items: center;

      img {
        width: 13px;
        height: 15px;
        margin-right: 5px;
      }
    }

    &-actions {
      display: flex;
      gap: 5px;
      justify-content: flex-end;
    }
  }
}

.leave-btn_disabled {
  opacity: 0.4;
}
