@use 'src/scss/core' as *;

.tui-table {
  .tui-table__tr:first-child {
    border-bottom: none;
  }

  .tui-table__tr:last-child {
    border-bottom: none;

    .tui-table__td {
      height: auto;
      padding: 0 1rem;

      color: var(--primary-color);
    }
  }

  .tui-table__tr.data-row {
    background: var(--secondary-background);
    border-bottom: none;

    .tui-table__td:first-child {
      border-top-left-radius: 14px;
      border-bottom-left-radius: 14px;
    }

    .tui-table__td:last-child {
      border-top-right-radius: 14px;
      border-bottom-right-radius: 14px;
    }
  }

  .tui-table__td {
    &-id {
      display: flex;
      align-items: center;

      img {
        width: 26px;
        height: 26px;
        margin-right: 8px;
      }
    }

    &-actions {
      display: flex;
      justify-content: flex-end;

      app-rubic-button:first-child {
        margin-right: 8px;
      }

      ::ng-deep app-rubic-button {
        button {
          height: 27px;
        }

        tui-wrapper[data-appearance='secondary'] {
          background: var(--tui-secondary);
        }

        .t-loader[data-tui-element-size='m'] {
          font-size: unset;
        }

        .wrapper {
          padding: 0 10px;
        }
      }
    }
  }
}

::ng-deep app-rubic-button .leave-btn_disabled {
  opacity: 0.4;
}
