@use 'src/scss/core' as *;

.tui-table {
  thead {
    height: var(--tui-height-s);

    .tui-table__tr {
      &:hover {
        background: initial;
      }
    }

    .tui-table__th {
      @include font(11px, 10px, 500, var(--tui-text-03), 0.45px);

      height: auto;
      padding: 0;

      text-align: center;
    }
  }

  tbody,
  tfoot {
    .tui-table__tr.data-row:hover {
      background: var(--secondary-background);

      .tui-table__td-actions {
        opacity: 1;
      }
    }

    .tui-table__tr {
      height: var(--tui-height-s);

      &:hover {
        background: initial;
      }
    }

    .tui-table__td {
      @include font(11px, 10px, 500, var(--primary-text), 0.45px);

      height: auto;
      padding: 0;

      text-align: center;

      vertical-align: middle;

      &:first-child {
        padding-left: var(--tui-padding-m);

        border-radius: var(--tui-radius-m) 0 0 var(--tui-radius-m);
      }

      &:last-child {
        padding-right: var(--tui-padding-m);

        border-radius: 0 var(--tui-radius-m) var(--tui-radius-m) 0;
      }
    }
  }

  .tui-table__tr {
    border-bottom: none;
  }

  .tui-table__td {
    &-id {
      display: flex;
      align-items: center;

      img {
        width: 13px;
        height: 15px;
        margin-right: 5px;
      }
    }

    &-actions {
      display: flex;
      gap: var(--tui-padding-xs);
      justify-content: flex-end;

      opacity: 0;

      button {
        font-size: 11px;
        white-space: nowrap;
      }
    }
  }
}

.leave-btn_disabled {
  opacity: 0.4;
}
