<table class="tui-table">
  <thead>
    <tr class="tui-table__tr">
      <th class="tui-table__th">NFT ID</th>
      <th class="tui-table__th">RBC</th>
      <th class="tui-table__th">{{ 'staking.deposits.rewards' | translate }}</th>
      <th class="tui-table__th">APR</th>
      <th class="tui-table__th">{{ 'staking.deposits.endDate' | translate }}</th>
      <th class="tui-table__th">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let deposit of deposits; let id = index; trackBy: trackBy">
      <tr class="tui-table__tr data-row">
        <td class="tui-table__td">
          <div class="tui-table__td-id">
            <img src="assets/images/rbc.png" alt="" />
            {{ deposit.id }}
          </div>
        </td>
        <td class="tui-table__td">
          <span
            [tuiHint]="
              deposit.amount | bigNumberFormat | withRound : 'fixedValue' : { decimals: 6 }
            "
            [tuiHintDirection]="'top-right'"
            tuiHintAppearance="onDark"
          >
            {{
              deposit.amount | bigNumberFormat | withRound : 'toClosestValue' : { decimals: 0 }
            }}</span
          >
        </td>
        <td class="tui-table__td">
          <span
            [tuiHint]="
              (deposit.totalNftRewards
                | bigNumberFormat
                | withRound : 'fixedValue' : { decimals: 10 }) + ' ETH'
            "
            [tuiHint]="
              (deposit.totalNftRewards
                | bigNumberFormat
                | withRound : 'fixedValue' : { decimals: 10 }) + ' ETH'
            "
            [tuiHintManual]="false"
            [tuiHintDirection]="'top-left'"
            [tuiHintShowDelay]="50"
            tuiHintAppearance="onDark"
          >
            {{ id | functionCall : getTotalNftRewards : this }}
          </span>
        </td>
        <td class="tui-table__td">
          {{
            deposit.tokenApr && deposit.tokenApr.gte(0)
              ? (deposit.tokenApr | bigNumberFormat : 2) + '%'
              : '-'
          }}
        </td>
        <td class="tui-table__td">{{ deposit.endTimestamp | date : 'dd.MM.yyyy' }}</td>
        <td class="tui-table__td">
          <div class="tui-table__td-actions">
            <app-rubic-button
              [appearance]="deposit.totalNftRewards.gt(0) ? 'primary' : 'secondary'"
              (onClick)="onClaim.emit(deposit)"
              [disabled]="deposit.totalNftRewards.isZero()"
              [loading]="claimingId === deposit.id"
              >{{ 'staking.deposits.claimRewards' | translate }}</app-rubic-button
            >
            <app-rubic-button
              [appearance]="deposit.canWithdraw ? 'primary' : 'secondary'"
              (onClick)="onWithdraw.emit(deposit)"
              [loading]="withdrawingId === deposit.id"
              [tuiHint]="'Withdraw'"
              [tuiHintDirection]="'top-right'"
              tuiHintAppearance="onDark"
              [tuiHintHideDelay]="1000000000"
            >
              <img
                [ngClass]="{ 'leave-btn_disabled': !deposit.canWithdraw }"
                [src]="'assets/images/icons/leave-black.svg'"
                alt=""
              />
            </app-rubic-button>
          </div>
        </td>
      </tr>
      <tr style="height: 12px"></tr>
    </ng-container>
    <tr class="tui-table__tr">
      <td class="tui-table__td">{{ 'staking.deposits.total' | translate }}</td>
      <td class="tui-table__td">
        {{
          total.balance
            ? (total.balance | bigNumberFormat | withRound : 'fixedValue' : { decimals: 0 })
            : '0'
        }}
      </td>
      <td
        class="tui-table__td"
        [tuiHint]="
          (total.rewards | bigNumberFormat | withRound : 'fixedValue' : { decimals: 10 }) + ' ETH'
        "
        [tuiHintDirection]="'top-right'"
        tuiHintAppearance="onDark"
      >
        {{
          !total.rewards.isZero()
            ? total.rewards.lt(0.01)
              ? '< 0.01'
              : (total.rewards | bigNumberFormat | withRound : 'fixedValue' : { decimals: 2 })
            : '0.00'
        }}
      </td>
    </tr>
  </tbody>
</table>
