<div class="blockchain-input">
  <div class="blockchain-input__selected">
    <img [src]="'./assets/images/icons/coins/' + selectedBlockchain.img" alt="Blockchain" />
    <span>{{ isSmallWidth ? selectedBlockchain.shortedName : selectedBlockchain.name }}</span>
  </div>

  <app-input-dropdown
    [componentClass]="blockchainLabelComponentClass"
    [componentsData]="blockchainsDropdownData"
    [selectedComponentData]="selectedBlockchainDropdownData"
    [filterBy]="blockchainsSortOrder"
    chooseComponentText="Choose Blockchain"
    (componentChanges)="onBlockchainChanges($event)"
  ></app-input-dropdown>
</div>
