.blockchain-input {
  position: relative;

  display: flex;
  align-items: center;

  height: 52px;
  padding-left: 10px;

  font-size: 18px;

  background-color: #f4f4f4;

  &__selected {
    img {

      height: 23px;
      margin-top: -4px;
      margin-right: 12px;

      vertical-align: middle;
    }
  }
}
