<div class="index-start-form__wrapper">
  <ul class="block-tabs">
    <li class="block-tabs_item"
        (click)="setNetwork(1)" [ngClass]="{active: requestData.network === 1}">
      <img class="block-tabs_item_icon" src="./assets/images/icons/coins/eth.png"/>
      <span class="block-tabs_item_text">Ethereum</span>
    </li>
    <li class="block-tabs_item"
        (click)="setNetwork(22)" [ngClass]="{active: requestData.network === 22}">
      <img class="block-tabs_item_icon" src="./assets/images/icons/coins/bnb.svg"/>
      <span class="block-tabs_item_text">Binance Smart Chain</span>
    </li>
    <li class="block-tabs_item"
        (click)="setNetwork(24)" [ngClass]="{active: requestData.network === 24}">
      <img class="block-tabs_item_icon" src="./assets/images/icons/coins/matic.svg"/>
      <span class="block-tabs_item_text">Matic</span>
    </li>
  </ul>
  <form
    #startForm="ngForm"
    class="index-start-form"
    (submit)="createContract()"
  >
    <div class="grid-row">
      <div class="grid-cell grid-cell-3-8 grid-cell-sma-1-2 grid-cell-ps-1">
        <div class="form-field index-start-form__all-input">
          <label class="form-field_label">{{'You have' | translate}}</label>
          <div class="form-field_input">
            <input
              type="hidden"
              required
              [ngModel]="requestData.tokens_info.base.token.address"
              name="base_address"
            />
            <input
              type="hidden"
              required
              [ngModel]="requestData.tokens_info.base.amount"
              name="base_limit"
            />
            <app-tokens-all-input
              (TokenChange)="changedToken('base')"
              [blockchain]="blockchainsOfNetworks[requestData.network]"
              [setToken]="BaseTokenCustom"
              [tokenModel]="requestData.tokens_info.base"
            ></app-tokens-all-input>
          </div>
          <div
            class="form-field_description normal-font text-right form-field_description-show"
          >
            <span (click)="openedCustomTokens.base = !openedCustomTokens.base">
              {{(openedCustomTokens.base ? 'Cancel' : 'Use custom token') | translate}}
            </span>
            <div
              *ngIf="openedCustomTokens.base"
              class="index-start-form__choose-token"
            >
              <div class="form-field_input">
                <input
                  type="text"
                  [placeholder]="'Token Contract Address' | translate"
                  appEthTokenValidator
                  class="min-text"
                  required
                  pattern="0x[0-9a-fA-F]{40}"
                  #baseCustomToken="ngModel"
                  autocomplete="on"
                  [ngModelOptions]="{ standalone: true }"
                  (TokenResolve)="setCustomToken('base', $event)"
                  [network]="requestData.network"
                  [(ngModel)]="customTokens.base.address"
                />
              </div>
              <div class="form-field_input index-start-form__choose-token__btn">
                <button
                  class="btn btn-green btn-min btn-for-field width-100"
                  type="button"
                  [disabled]="!baseCustomToken.valid"
                  (click)="addCustomToken('base')"
                  style="height: 100%"
                >
                  <img
                    class="arrow"
                    src="./assets/images/buttons/arrow_w.svg"
                  />
                  <span>{{'Add' | translate}}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-cell grid-cell-3-8 grid-cell-sma-1-2 grid-cell-ps-1">
        <div class="form-field">
          <label class="form-field_label">{{'You want to get' | translate}}</label>
          <div class="form-field_input">
            <input
              type="hidden"
              required
              [ngModel]="requestData.tokens_info.quote.token.address"
              name="quote_address"
            />
            <input
              type="hidden"
              required
              [ngModel]="requestData.tokens_info.quote.amount"
              name="quote_limit"
            />

            <app-tokens-all-input
              (TokenChange)="changedToken('quote')"
              [blockchain]="blockchainsOfNetworks[requestData.network]"
              [setToken]="QuoteTokenCustom"
              [tokenModel]="requestData.tokens_info.quote"
            ></app-tokens-all-input>
          </div>
          <div
            class="form-field_description normal-font text-right form-field_description-show"
          >
            <span
              (click)="openedCustomTokens.quote = !openedCustomTokens.quote"
              >{{
              (openedCustomTokens.quote ? 'Cancel' : 'Use custom token') | translate
              }}</span
            >
            <div
              *ngIf="openedCustomTokens.quote"
              class="index-start-form__choose-token"
            >
              <div class="form-field_input">
                <input
                  [placeholder]="'Token Contract Address' | translate"
                  type="text"
                  appEthTokenValidator
                  class="min-text"
                  [ngModelOptions]="{ standalone: true }"
                  #quoteCustomToken="ngModel"
                  [network]="requestData.network"
                  (TokenResolve)="setCustomToken('quote', $event)"
                  [(ngModel)]="customTokens.quote.address"
                />
              </div>
              <div class="form-field_input">
                <button
                  class="btn btn-green btn-min btn-for-field width-100"
                  type="button"
                  [disabled]="!quoteCustomToken.valid"
                  (click)="addCustomToken('quote')"
                  style="height: 100%"
                >
                  <img
                    class="arrow"
                    src="./assets/images/buttons/arrow_w.svg"
                  />
                  <span>{{'Add' | translate}}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="grid-cell grid-cell-1-4 grid-cell-sma-1-2 grid-cell-ps-1"
        style="float: right"
      >
        <div class="form-field form-field_btn form-field_btn--rate">
          <label class="form-field_label form-field_label--rate">
            <div class="form-notice" *ngIf="cmcRate && cmcRate.isMessage">
              <div class="form-notice_text">
                {{'Your rate is' | translate}}
                <b
                  ><span class="green-text">{{ cmcRate.change }}%</span>
                  <span class="green-text">
                    {{ cmcRate.isLower ? 'lower' : 'higher' }}</span
                  >
                </b>
                {{'than' | translate}}
                <a href="https://coinmarketcap.com/" target="_blank"
                  >{{'coinmarketcap' | translate}}</a
                >
                {{'rate.' | translate}}
              </div>
            </div>
          </label>
          <button
            class="btn btn-green width-100"
            [disabled]="
              !requestData.tokens_info.base.amount ||
              !requestData.tokens_info.quote.amount ||
              !requestData.tokens_info.base.token.address ||
              !requestData.tokens_info.quote.token.address ||
              isCreatingContract ||
              (requestData.broker_fee && !requestData.broker_fee_address) ||
              (requestData.broker_fee &&
                !(
                  requestData.broker_fee_quote <= 50 &&
                  requestData.broker_fee_quote >= 0
                )) ||
              (requestData.broker_fee &&
                !(
                  requestData.broker_fee_base <= 50 &&
                  requestData.broker_fee_base >= 0
                )) ||
              (requestData.tokens_info.base.token.address.toLowerCase() === requestData.tokens_info.quote.token.address.toLowerCase())
            "
          >
            <img
              class="arrow"
              src="./assets/images/buttons/arrow_w.svg"
              *ngIf="!isCreatingContract"
            />
            <img
              class="arrow spiner"
              src="./assets/images/new-index/oval.svg"
              *ngIf="isCreatingContract"
            />
            <span>
              {{ (isCreatingContract ? 'Creating Trade' : 'Create Trade') | translate }}
            </span>
          </button>
        </div>
        <div class="form-field_description normal-font normal-font--visible text-right">
          <span
            class="underline-link underline-link_btn"
            (click)="toogleAdvSettings()">
            {{(isAdvSettingsOpen ? 'Close Settings' : 'Advanced Settings') | translate}}
          </span>
        </div>
      </div>
    </div>
  </form>
  <form
    class="index-start-form__settings"
    [ngClass]="{ hidden: !isAdvSettingsOpen }"
    #advSettings="ngForm"
  >
    <div class="index-start-form__settings-block">
      <div class="index-start-form__settings-block-wrapper">
        <div class="index-start-form__settings-item">
          <div class="index-start-form__settings-item-head">{{'closing date' | translate}}</div>
          <div class="index-start-form__settings-item-content">
            <input
              matInput
              [matDatepicker]="datepicker"
              required
              readonly
              [(ngModel)]="datePickerDate"
              (dateChange)="dateChange()"
              [min]="minDate"
              name="active_to"
              (click)="datepicker.open()"
              placeholder="Choose a date"
              class="min-text index-start-form__settings-item-date"
            />

            <mat-datepicker #datepicker></mat-datepicker>
          </div>
        </div>
        <div class="index-start-form__settings-item">
          <div class="index-start-form__settings-item-head">{{'closing time' | translate}}</div>
          <div class="index-start-form__settings-item-content">
            <input
              [ngxTimepicker]="picker"
              [format]="24"
              [min]="minTime"
              required
              readonly
              (ngModelChange)="timeChange()"
              [(ngModel)]="datePickerTime"
              name="time"
              class="min-text index-start-form__settings-item-time"
              placeholder="Choose a time"
            />
            <ngx-material-timepicker #picker></ngx-material-timepicker>
          </div>
        </div>
        <div class="index-start-form__settings-item">
          <div class="index-start-form__settings-item-head">{{'Public deal' | translate}}</div>
          <div
            class="index-start-form__settings-item-content"
            (click)="changePD()"
          >
            <label class="form-field_input-checkbox" style="min-width: 70px">
              <input
                type="checkbox"
                name="public"
                [(ngModel)]="requestData.public"
                [value]="requestData.public"
              />
              <span class="checkbox-text checkbox-text_on">{{'Yes' | translate}}</span>
              <span class="checkbox-text checkbox-text_off">{{'No' | translate}}</span>
              <span class="checkbox-rect"></span>
            </label>
            <span>{{'Trade will be listed on the main page' | translate}}</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="index-start-form__settings-block"
      *ngIf="
        requestData.tokens_info.base.token.token_name &&
        requestData.tokens_info.quote.token.token_name
      "
    >
      <div class="index-start-form__settings-item">
        <div class="index-start-form__settings-item-head">{{'Permanent trade' | translate}}</div>
        <div
          class="index-start-form__settings-item-content"
          style="position: relative"
        >
          <div
            class="input-content-disabled"
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
            "
          ></div>
          <label class="form-field_input-checkbox" style="min-width: 70px">
            <input
              type="checkbox"
              name="permanent"
              [(ngModel)]="requestData.permanent"
              disabled="true"
            />
            <span class="checkbox-text checkbox-text_on">{{'Yes' | translate}}</span>
            <span class="checkbox-text checkbox-text_off">{{'No' | translate}}</span>
            <span class="checkbox-rect"></span>
          </label>
          <span>
            {{'Lock liquidity until the trade completion' | translate}}
          </span>
        </div>
      </div>
      <div class="index-start-form__settings-item-wrapper">
        <div class="form-field">
          <label class="index-start-form__settings-item-head"
            >{{'Minimum contribution in' | translate}}
            {{ requestData.tokens_info.base.token.token_name }} ({{
              requestData.tokens_info.base.token.token_short_name
            }})</label
          >
          <div class="form-field_input">
            <input
              type="text"
              placeholder="0"
              name="min_base_wei"
              [(ngModel)]="requestData.min_base_wei"
              [appBigNumber]="{
                decimals: 8,
                min: 0,
                max: requestData.tokens_info.base.amount
              }"
            />
          </div>
        </div>
        <div class="form-field">
          <label class="index-start-form__settings-item-head"
            >{{'Minimum contribution in' | translate}}
            {{ requestData.tokens_info.quote.token.token_name }} ({{
              requestData.tokens_info.quote.token.token_short_name
            }})</label
          >
          <div class="form-field_input">
            <input
              type="text"
              placeholder="0"
              name="min_quote_wei"
              [(ngModel)]="requestData.min_quote_wei"
              [appBigNumber]="{
                decimals: 8,
                min: 0,
                max: requestData.tokens_info.quote.amount
              }"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="index-start-form__settings-block"
      *ngIf="
        requestData.tokens_info.base.token.token_name &&
        requestData.tokens_info.quote.token.token_name
      "
    >
      <div
        class="index-start-form__settings-item-checkbox"
        *ngIf="
          requestData.tokens_info.base.amount &&
          requestData.tokens_info.quote.amount
        "
      >
        <div class="index-start-form__settings-item-checkbox-head">
          <div class="index-start-form__settings-item">
            <div class="index-start-form__settings-item-head">
              {{'Brokerage fee' | translate}}
            </div>
            <div class="index-start-form__settings-item-content">
              <label class="form-field_input-checkbox" style="min-width: 70px">
                <input
                  type="checkbox"
                  name="broker_fee"
                  [(ngModel)]="requestData.broker_fee"
                />
                <span class="checkbox-text checkbox-text_on">{{'Yes' | translate}}</span>
                <span class="checkbox-text checkbox-text_off">{{'No' | translate}}</span>
                <span class="checkbox-rect"></span>
              </label>
              <span>{{'You can specify % for Broker' | translate}}</span>
            </div>
          </div>
        </div>
        <div
          class="index-start-form__settings-item-checkbox-input"
          *ngIf="requestData.broker_fee"
        >
          <div class="form-field">
            <label class="index-start-form__settings-item-head uppercase"
              >{{'Enter Broker Address' | translate}}</label
            >
            <div class="form-field_input">
              <input
                maxlength="42"
                type="text"
                placeholder="0xD0593B233Be4411A236F22b42087345E1137170b"
                name="broker_fee_address"
                [(ngModel)]="requestData.broker_fee_address"
                [pattern]="'0x[0-9a-fA-F]{40}'"
              />
            </div>
          </div>
        </div>
        <div
          class="index-start-form__settings-item-checkbox-percent"
          *ngIf="requestData.broker_fee"
        >
          <div class="form-field">
            <label class="index-start-form__settings-item-head"
              >{{'Specify % for' | translate}}
              {{ requestData.tokens_info.base.token.token_name }} ({{
                requestData.tokens_info.base.token.token_short_name
              }})</label
            >
            <div class="form-field_input">
              <input
                placeholder="0.1"
                [(ngModel)]="requestData.broker_fee_base"
                name="broker_fee_base"
                min="0"
                max="50"
                appMinValue
                [minValue]="0"
                value="0.1"
                [step]="0.01"
                [maxValue]="50"
                type="number"
              />
              <span>%</span>
            </div>
            <span
              *ngIf="
                requestData.broker_fee_base >= 0 &&
                requestData.broker_fee_base <= 50
              "
            >
              {{ baseBrokerFee | number: '1.0-8' }}
              {{ requestData.tokens_info.base.token.token_short_name }}</span
            >
          </div>
          <div class="form-field">
            <label class="index-start-form__settings-item-head"
              >{{'Specify % for' | translate}}
              {{ requestData.tokens_info.quote.token.token_name }} ({{
                requestData.tokens_info.quote.token.token_short_name
              }})</label
            >
            <div class="form-field_input">
              <input
                placeholder="0.1"
                [(ngModel)]="requestData.broker_fee_quote"
                name="broker_fee_quote"
                min="0"
                max="50"
                value="0.1"
                appMinValue
                [minValue]="0"
                [step]="0.01"
                [maxValue]="50"
                type="number"
              />
              <span>%</span>
            </div>
            <span
              *ngIf="
                requestData.broker_fee_quote >= 0 &&
                requestData.broker_fee_quote <= 50
              "
            >
              {{ quoteBrokerFee | number: '1.0-8' }}
              {{ requestData.tokens_info.quote.token.token_short_name }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #metaMaskError>
  <div class="dialog-block">
    <div class="dialog-block__content">
      <button
        class="dialog-closer"
        (click)="closeMetaMaskError()"
        type="button"
      >
        <img src="./assets/images/icons/cross-blue.svg" />
      </button>

      <div class="transaction-title">{{'Error' | translate}}</div>

      <div class="transaction-description">
        {{'Please choose main net network in Metamask.' | translate}}
      </div>

      <div class="alert-window-buttons text-center">
        <button
          class="btn btn-green btn-auto btn-min"
          (click)="closeMetaMaskError()"
          type="button"
        >
          <span>&nbsp;&nbsp;&nbsp;{{'Close' | translate}}&nbsp;&nbsp;&nbsp;</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
