@import '../../../scss/_mixins';

.index-start-form {
  position: relative;
  padding: 30px 20px 0;
  background: linear-gradient(0deg, #ffffff, #ffffff);

  .btn-blue {
    height: 52px;
  }

  &_disabled {
    cursor: not-allowed;
    position: relative;

    * {
      pointer-events: none;
    }

    & > *:not(.start-form-warning) {
      opacity: 0.4;
    }
  }

  &__all-input input {
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: -1px;
  }
  &__choose-token {
    input {
      padding-top: 11px;
      padding-bottom: 11px;
      margin-top: -1px;
    }
    .form-field_input + .form-field_input {
      margin-left: 5px;
    }
  }
  &__settings {
    padding: 20px 0;
    background: linear-gradient(0deg, #ffffff, #ffffff);
    border-top: 2px solid #f4f4f4;
    &.hidden {
      display: none;
    }
    &-title {
      font-size: 14px;
      line-height: 16px;
      color: #2873fb;
      font-family: inherit;
      margin-bottom: 20px;
      font-weight: 700;
    }
    &-block {
      padding: 0 20px 25px;
      & + & {
        padding-top: 25px;
        border-top: 2px solid #f4f4f4;
      }
      &:last-child {
        padding-bottom: 0;
      }
      &-wrapper {
        display: flex;

        @include b(600) {
          flex-wrap: wrap;
        }
      }
      .form-field_input {
        input {
          padding: 6px 10px 6px 12px;
          font-size: 16px !important;
          &::placeholder {
            font-size: 16px !important;
          }
        }
      }
    }
    &-item {
      & + & {
        margin-left: 30px;
      }

      &:nth-last-child(1) {
        @include b(600) {
          margin-left: 0px !important;
          margin-top: 20px;
          width: 100%;
        }
      }

      &-checkbox {
        .form-field_input {
          width: 620px;
        }
        &-head {
          display: flex;
          align-items: center;
        }
        &-text {
          margin: 19px 0 0;
        }
        &-input {
          margin: 30px 0;
        }
        &-percent {
          display: flex;
          .form-field + .form-field {
            margin-left: 145px;
          }
          .form-field > span {
            font-size: 16px;
            line-height: 27px;
            font-family: inherit;
            opacity: 0.5;
            margin-top: 10px;
            display: block;
            width: 100px;
          }
          .form-field_input {
            display: flex;
            align-items: center;
            width: 115px;
            span {
              font-size: 16px;
              line-height: 27px;
              font-family: inherit;
              opacity: 0.5;
              margin-left: 5px;
            }
          }
        }
      }
      &-head {
        font-size: 12px;
        line-height: 14px;
        color: #000000;
        text-transform: uppercase;
        opacity: 0.5;
        margin-bottom: 5px;
        display: block;
        width: max-content;

        @include b(400) {
          font-size: 10px;
        }
      }
      &-wrapper {
        display: flex;
        margin-top: 25px;

        @include b(500) {
          flex-wrap: wrap;
        }

        .form-field {
          width: 300px;
          margin-bottom: 0;
        }
        .form-field + .form-field {
          margin-left: 20px;

          @include b(500) {
            width: 100%;
            margin-top: 20px;
            margin-left: 0;
          }
        }
      }
      &-content {
        position: relative;
        display: flex;
        width: fit-content;
        align-items: center;
        .mat-datepicker-toggle {
          right: 0;
        }
        input {
          border: none;
          background: none;
          font-size: 16px;
          font-family: inherit;
          line-height: 18px;
          color: #110931;
        }
        input,
        label {
          background: #f4f4f4 !important;
        }
        .form-field_input-checkbox {
          background: none;
        }
        .form-field_input-checkbox input:checked ~ .checkbox-rect {
          background-color: #4aa956;
        }
      }
      &-date {
        padding: 13px 10px;
        width: 81px !important;
      }
      &-time {
        width: 81px !important;
        padding: 13px 20px;
        box-sizing: border-box;
      }
    }
  }
}
.personal-swap-info {
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
  color: #ffff;
  margin-top: 30px;
  font-size: 17px;
  line-height: 22px;
  position: relative;
  a {
    color: inherit !important;
    text-decoration: underline;
    &:hover {
      color: #fcd600 !important;
    }
  }
  &_ico {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background-color: #fcd600;
    border-radius: 50%;
    color: #000;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    top: -2px;
  }
  &_tooltip {
    position: absolute;
    background-color: #383d45;
    padding: 20px;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    right: -5px;
    width: 260px;
    bottom: 100%;
    white-space: normal;
    text-align: left;
    font-weight: normal;
    margin-bottom: 15px;
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: linear opacity 0.1s;
    &:after {
      background-color: #383d45;
      width: 16px;
      height: 16px;
      content: '';
      display: block;
      position: relative;
      margin-bottom: -16px;
      top: 30px;
      float: right;
      margin-right: -11px;
      transform: rotate(45deg);
    }
  }
  &_ico:hover + &_tooltip {
    opacity: 1;
    height: initial;
    visibility: visible;
  }
}
.underline-link {
  text-decoration: underline !important;
  &:hover {
    text-decoration: none !important;
    color: #fcd600 !important;
  }
  &--show {
    cursor: pointer;
    text-decoration: none !important;
    &:hover {
      color: inherit !important;
    }
  }
  &_btn {
    cursor: pointer;
    color: #4aa956 !important;
    text-decoration: none !important;
    font-weight: 700;
    opacity: 1 !important;
    &:hover {
      color: #4aa956 !important;
    }
  }
}
.etherscan-link {
  margin-right: calc(25% + 10px);
  margin-top: 4px;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: right;
  padding-top: 4px;
  a {
    display: flex;
    align-items: center;
  }
  img {
    margin-top: -4px;
  }
}
.start-form-row {
  @media screen and (min-width: 681px) {
    .grid-cell:first-child {
      .form-field {
        margin-right: 9px;
      }
    }
    .grid-cell:nth-child(2) {
      .form-field {
        position: relative;
        margin-left: 9px;
      }
    }
  }
  @media screen and (max-width: 680px) {
    .grid-cell:first-child {
      .form-field {
        margin-bottom: 4px;
      }
    }
    .grid-cell:nth-child(2) {
      .form-field {
        position: relative;
        margin-top: 4px;
      }
    }
  }
}

.revert-btn {
  position: absolute;
  border: 0 none;
  background: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  @media screen and (min-width: 681px) {
    top: 38px;
    left: -1vw;
    margin-left: -17px;
  }
  @media screen and (min-width: 1421px) {
    left: -10px;
  }
  @media screen and (max-width: 860px) {
    top: 26px;
  }
  @media screen and (max-width: 680px) {
    top: auto;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    margin-bottom: 8px;
  }
  &_icon {
    display: block;
  }
}

.start-form-warning {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  color: red;
  font-size: 26px;
  font-weight: bold;
}



@media screen and (max-width: 980px) {
}


.one-inch {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
  white-space: nowrap;
  align-items: center;
  &_text {
    color: #A8A8A8;
    margin-right: 10px;
    font-size: 12px;
  }
  &_logo {
    img {
      width: 65px;
      filter: grayscale(1);
      opacity: 0.5;
      transition: all linear 0.1s;
      &:hover {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .one-inch {
    display: none;
  }
}

.instant-trade-warning {
  box-sizing: border-box;
  width: 480px;
  height: 44px;
  padding: 10px 13px;
  float: right;
  position: relative;
  top: -15px;

  display: flex;
  align-items: center;

  background-color: #FFDB43;
  border-radius: 2px;

  &__description {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: 2px;
    margin-right: 12px;

    color: #110931;
  }

  &__icon {
    margin-right: 10px;
  }
}

.uniswap {
  position: relative;
  top: -15px;
  margin: 0 -10px;
  padding-bottom: 25px;

  &_extended {
    margin-bottom: 30px;
  }

  &__warning {
    box-sizing: border-box;
    height: 24px;
    width: calc(100% - 20px);
    position: absolute;
    left: 20px;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 14px;
    color: white;
    background-color: #ff9f9f;
    border-radius: 3px;
  }
}

.uniswap-tokens-input {
  width: 37.5%;
  position: relative;
  margin-left: 37%;
  padding: 0 10px;
  box-sizing: border-box;
  display: inline-block;
}

.uniswap-button {
  box-sizing: border-box;
  display: inline-block;
  width: 25% !important;
  padding: 0 10px;
  position: relative;
  left: 5px;
}
