<form #startForm="ngForm" class="index-start-form" (submit)="createContract()">
  <div
    class="index-start-form__settings"
    [ngClass]="{ hidden: !isAdvSettingsOpen }"
  >
    <div class="index-start-form__settings-item">
      <div class="index-start-form__settings-item-head">closing date</div>
      <div class="index-start-form__settings-item-content">
        <input
          matInput
          [matDatepicker]="datepicker"
          required
          readonly
          [(ngModel)]="datePickerDate"
          (dateChange)="dateChange()"
          [min]="minDate"
          name="active_to"
          (click)="datepicker.open()"
          placeholder="Choose a date"
          class="min-text index-start-form__settings-item-date"
        />
        <mat-datepicker #datepicker></mat-datepicker>
        <span class="mat-datepicker-toggle" (click)="datepicker.open()">
          <button mat-button mat-icon-button type="button">
            <img src="./assets/images/icons/calendar.svg" />
          </button>
        </span>
      </div>
    </div>
    <div class="index-start-form__settings-item">
      <div class="index-start-form__settings-item-head">closing time</div>
      <div class="index-start-form__settings-item-content">
        <input
          [ngxTimepicker]="picker"
          [format]="24"
          [min]="minTime"
          required
          readonly
          (ngModelChange)="timeChange()"
          [(ngModel)]="datePickerTime"
          name="time"
          class="min-text index-start-form__settings-item-time"
          placeholder="Choose a time"
        />
        <ngx-material-timepicker #picker></ngx-material-timepicker>
      </div>
    </div>
    <div class="index-start-form__settings-item">
      <div class="index-start-form__settings-item-head">Public deal</div>
      <div class="index-start-form__settings-item-content">
        <label class="form-field_input-checkbox">
          <input
            type="checkbox"
            name="public"
            [(ngModel)]="requestData.public"
          />
          <span class="checkbox-text checkbox-text_on">Yes</span>
          <span class="checkbox-text checkbox-text_off">No</span>
          <span class="checkbox-rect"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-cell grid-cell-3-8 grid-cell-sma-1-2 grid-cell-ps-1">
      <div class="form-field index-start-form__all-input">
        <label class="form-field_label">You have</label>
        <div class="form-field_input">
          <input
            type="hidden"
            required
            [ngModel]="requestData.tokens_info.base.token.address"
            name="base_address"
          />
          <input
            type="hidden"
            required
            [ngModel]="requestData.tokens_info.base.amount"
            name="base_limit"
          />
          <app-tokens-all-input
            (TokenChange)="changedToken('base')"
            [blockchain]="'ethereum'"
            [setToken]="BaseTokenCustom"
            [tokenModel]="requestData.tokens_info.base"
          ></app-tokens-all-input>
        </div>
        <div
          class="form-field_description normal-font text-right form-field_description-show"
        >
          <span (click)="openedCustomTokens.base = !openedCustomTokens.base">{{
            openedCustomTokens.base ? 'Cancel' : 'Use custom token'
          }}</span>
          <div
            *ngIf="openedCustomTokens.base"
            class="index-start-form__choose-token"
          >
            <div class="form-field_input">
              <input
                type="text"
                placeholder="Token Contract Address"
                appEthTokenValidator
                class="min-text"
                required
                pattern="0x[0-9a-fA-F]{40}"
                #baseCustomToken="ngModel"
                [ngModelOptions]="{ standalone: true }"
                (TokenResolve)="setCustomToken('base', $event)"
                [(ngModel)]="customTokens.base.address"
              />
            </div>
            <div class="form-field_input index-start-form__choose-token__btn">
              <button
                class="btn btn-blue btn-min btn-for-field width-100"
                type="button"
                [disabled]="!baseCustomToken.valid"
                (click)="addCustomToken('base')"
              >
                <img class="arrow" src="./assets/images/buttons/arrow_w.svg" />
                <span>Add</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-cell grid-cell-3-8 grid-cell-sma-1-2 grid-cell-ps-1">
      <div class="form-field">
        <label class="form-field_label">You want to get</label>
        <div class="form-field_input">
          <input
            type="hidden"
            required
            [ngModel]="requestData.tokens_info.quote.token.address"
            name="quote_address"
          />
          <input
            type="hidden"
            required
            [ngModel]="requestData.tokens_info.quote.amount"
            name="quote_limit"
          />

          <app-tokens-all-input
            (TokenChange)="changedToken('quote')"
            [blockchain]="'ethereum'"
            [setToken]="QuoteTokenCustom"
            [tokenModel]="requestData.tokens_info.quote"
          ></app-tokens-all-input>
        </div>
        <div
          class="form-field_description normal-font text-right form-field_description-show"
        >
          <span
            (click)="openedCustomTokens.quote = !openedCustomTokens.quote"
            >{{
              openedCustomTokens.quote ? 'Cancel' : 'Use custom token'
            }}</span
          >
          <div
            *ngIf="openedCustomTokens.quote"
            class="index-start-form__choose-token"
          >
            <div class="form-field_input">
              <input
                placeholder="Token Contract Address"
                type="text"
                appEthTokenValidator
                class="min-text"
                [ngModelOptions]="{ standalone: true }"
                #quoteCustomToken="ngModel"
                (TokenResolve)="setCustomToken('quote', $event)"
                [(ngModel)]="customTokens.quote.address"
              />
            </div>
            <div class="form-field_input">
              <button
                class="btn btn-blue btn-min btn-for-field width-100"
                type="button"
                [disabled]="!quoteCustomToken.valid"
                (click)="addCustomToken('quote')"
              >
                <img class="arrow" src="./assets/images/buttons/arrow_w.svg" />
                <span>Add</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-cell grid-cell-1-4 grid-cell-sma-1-2 grid-cell-ps-1">
      <div class="form-field form-field_btn form-field_btn--rate">
        <label class="form-field_label form-field_label--rate">
          <div class="form-notice" *ngIf="cmcRate && cmcRate.isMessage">
            <div class="form-notice_text">
              Your rate is
              <b
                ><span class="blue-text">{{ cmcRate.change }}%</span>
                <span class="blue-text">
                  {{ cmcRate.isLower ? 'lower' : 'higher' }}</span
                >
              </b>
              than
              <a href="https://coinmarketcap.com/" target="_blank"
                >coinmarketcap</a
              >
              rate.
            </div>
          </div>
        </label>
        <button
          class="btn btn-blue width-100"
          [disabled]="
            !requestData.tokens_info.base.amount ||
            !requestData.tokens_info.quote.amount ||
            !this.requestData.tokens_info.base.token.address ||
            !this.requestData.tokens_info.quote.token.address ||
            isCreatingContract
          "
        >
          <img
            class="arrow"
            src="./assets/images/buttons/arrow_w.svg"
            *ngIf="!isCreatingContract"
          />
          <img
            class="arrow spiner"
            src="./assets/images/new-index/oval.svg"
            *ngIf="isCreatingContract"
          />
          <span>
            {{ isCreatingContract ? 'Creating Trade' : 'Create Trade' }}
          </span>
        </button>
      </div>
      <div
        class="form-field_description normal-font normal-font--visible text-right"
      >
        <span
          class="underline-link underline-link_btn"
          (click)="toogleAdvSettings()"
          >{{
            isAdvSettingsOpen ? 'Close Settings' : 'Advanced Settings'
          }}</span
        >
      </div>
    </div>
  </div>

  <!--<div class="form-field">-->
  <!--<a class="btn btn-white-opacity width-100 white-border"-->
  <!--*ngIf="-->
  <!--(!tokensData.base.token.address || tokensData.base.token.isEthereum) &&-->
  <!--(!tokensData.quote.token.address || tokensData.quote.token.isEthereum)"-->
  <!--routerLink="create">-->
  <!--<img class="arrow" src="./assets/images/buttons/arrow_w.svg">-->
  <!--<span>-->
  <!--Create Private SWAP-->
  <!--</span>-->
  <!--</a>-->
  <!--</div>-->
</form>

<!-- <div class="personal-swap-info">
  <a routerLink="/trades/create">I need an individual SWAP</a>
  <img class="personal-swap-info_ico" src="./assets/images/icons/help.svg">
  <div class="personal-swap-info_tooltip">
    A single smart contract created for the trade which guarantees anonymity and security
  </div>
</div> -->
