.index-start-form {
  padding: 15vh 2%;
  box-sizing: border-box;
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  &_left {
    margin-bottom: 70px;
    .title {
      font-size: 44px;
      color: #FFFFFF;
      line-height: 53px;
      margin: 0;
    }
    .description {
      margin-top: 30px;
      font-size: 36px;
      color: rgba(255, 255, 255, 0.5);
    }
    .btn-block {
      margin-top: 40px;
    }
  }

}


@media screen and (max-width: 980px) {
  .index-start-form {
    //padding: 5vh 0.5em;
    &_right {
      margin-left: 25%;
    }
  }
}

@media screen and (max-width: 800px) {
  .index-start-form {
    &_right {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 580px) {

  .index-start-form {
    &_left {
      .title {
        font-size: 34px;
        line-height: initial;
      }
      .description {
        margin-top: 25px;
        line-height: initial;
      }
    }
  }
}
