<button
  class="history-button"
  tuiIconButton
  appearance="secondary"
  type="button"
  size="m"
  [routerLink]="'/history'"
  [state]="{ type: 'cross-chain' }"
>
  <div
    *ngLet="{
      unreadTrades: unreadTrades$ | async,
      activeWallets: activeWallets$ | async
    } as state"
    class="history-button__container"
  >
    <img src="/assets/images/icons/navigation/history.svg" alt="Trades history" />
    <app-notification-badge
      class="history-button__badge"
      *ngIf="state.unreadTrades && state.activeWallets.length > 0"
      size="xs"
      color="red"
      [value]="unreadTrades$ | async"
    ></app-notification-badge>
  </div>
</button>
