<button
  class="history-button"
  tuiIconButton
  appearance="secondary"
  type="button"
  size="m"
  bordered
  [routerLink]="'/history'"
  [state]="{ type: 'cross-chain' }"
>
  <div class="history-button__container">
    <span [inlineSVG]="'assets/images/icons/navigation/history.svg'" alt="Trades history"></span>
    <!-- <img src="/assets/images/icons/navigation/history.svg" alt="Trades history" /> -->
    <app-notification-badge
      class="history-button__badge"
      *ngIf="(unreadTrades$ | async) && (currentUser$ | async)"
      size="xs"
      color="red"
      [value]="unreadTrades$ | async"
    ></app-notification-badge>
  </div>
</button>
