:host {
  position: relative;
}

.history-button {
  &__container {
    display: flex;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__badge {
    position: absolute;
    top: -8px;
    right: -5px;
  }
}

@media (min-width: 2560px) {
  :host ::ng-deep button {
    width: 50px !important;
  }

  .history-button {
    &__container {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
