:host {
  position: relative;
}

.history-button {
  &__container {
    display: flex;
    align-items: center;

    span {
      width: 24px;
      height: 24px;

      ::ng-deep svg {
        width: 24px;
        height: 24px;
      }
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__badge {
    position: absolute;
    top: -8px;
    right: -5px;
  }
}
