<section class="vertical-iframe-input">
  <app-select-asset-button-tokens
    class="vertical-iframe-input__row"
    formType="from"
  ></app-select-asset-button-tokens>

  <div class="vertical-iframe-input__row blockchain-and-amount-input">
    <app-iframe-asset-type-indicator
      *ngIf="selectedAssetType"
      [assetType]="selectedAssetType"
    ></app-iframe-asset-type-indicator>

    <label class="blockchain-and-amount-input__label">
      <input
        autocomplete="off"
        class="blockchain-and-amount-input__input"
        name="token-amount"
        [placeholder]="placeholder$ | async"
        appTokenAmount
        [formControl]="amount"
        [decimals]="selectedToken?.decimals || DEFAULT_DECIMALS"
        (amountChange)="onAmountChange($event)"
        inputmode="decimal"
      />

      <app-user-balance-container
        [token]="selectedToken"
        hide="balance"
        (maxButtonClickEvent)="onUserBalanceMaxButtonClick()"
      ></app-user-balance-container>
    </label>
  </div>

  <div class="vertical-iframe-input__row cards-container">
    <app-user-balance-container
      [token]="selectedToken"
      hide="maxButton"
    ></app-user-balance-container>
  </div>
</section>
