@use '../../../../../../../../scss/core' as *;

:host {
  width: 100%;
}

.vertical-iframe-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 132px;

  &__row {
    display: flex;
    align-items: center;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  > ::ng-deep app-select-asset-button-tokens button .t-wrapper {
    box-shadow: none !important;
  }
}

.blockchain-and-amount-input {
  display: flex;

  app-iframe-asset-type-indicator {
    flex: 0;
    margin-right: 15px;
  }

  &__label {
    display: flex;

    flex: 1;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 16px;

    background-color: var(--primary-background);

    border-radius: 10px;

    @include light-iframe {
      background-color: var(--iframe-primary-background);
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 0 10px 0 0;

    color: var(--primary-text);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: left;

    background-color: transparent;

    border: none;

    @include iframe {
      &__input {
        padding: 0 16px 0 0;
      }
    }
  }
}

.cards-container {
  width: auto;

  > :not(:last-child) {
    margin-right: 10px;
  }
}
