<div class="modal">
  <div class="modal__content">
    <main class="modal__body">
      <img
        class="modal__warning-image"
        src="../../../../../assets/images/bridge/success-image.svg"
        alt="Success"
      />
    </main>

    <div class="modal__footer">
      <p>
        {{ 'airdrop.modals.success' | translate }}&nbsp;
        <br />
        <a [safetyLink]="hash | scannerLink : blockchain : addressType">{{
          'airdrop.modals.explorerLink' | translate
        }}</a>
      </p>
      <div class="modal__footer-actions">
        <button tuiButton type="button" size="m" appearance="primary" (click)="handleConfirm()">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
