@use '../../../../../scss/core' as *;

:host {
  display: block;
  padding-bottom: 32px;
}

.modal {
  &__content {
    padding: 35px 20px 0;

    text-align: center;

    @include b($tablet) {
      padding: 0;
    }
  }

  &__footer {
    margin-top: 20px;

    &-text {
      @include font(24px, 32px, 500, var(--rubic-base-02));
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 18px;

      @include b($tablet) {
        font-size: 16px;
        line-height: 24px;
      }

      img {
        margin-left: 8px;
      }

    }

    &-actions {
      display: flex;
      gap: 16px;
      padding-top: 16px;

      app-rubic-button {
        width: 100%;
      }
    }
  }

  /* stylelint-disable */
  @include iframe-horizontal {
    height: 100vh;
    display: flex;
    align-items: center;

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: $iframe-horizontal-height;
      padding-top: 0;
    }

    &__body {
      margin-right: 80px;
      height: 100%;
      display: flex;
      align-items: center;

      img {
        transform: scale(1.5);
      }
    }

    h3 {
      text-align: left;
      font-size: 18px;
      margin: 0 0 20px;
    }

    ::ng-deep app-rubic-button button {
      width: 150px;
      float: left;
    }
  }
}
