@use 'src/scss/core' as *;

.lp-steps {
  width: 100%;
  padding: 18px 22px 42px;

  background: #181a19;
  border-radius: 30px;

  &__title {
    margin-bottom: 30px;

    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

  &__steps {
    display: flex;
    margin-bottom: 38px;
  }

  .step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 305px;
    padding: 24px;

    background: linear-gradient(0deg, #202622, #202622);
    border-radius: 20px;

    &:not(:last-child) {
      margin-right: 22px;
    }

    .highlight {
      color: #4aa956;
    }

    &__icon {
      display: flex;
      justify-content: center;
      margin-bottom: 26px;

      img {
        width: 98px;
        height: 98px;

        border-radius: 26px;
      }
    }

    &__text {
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
    }
  }

  > app-rubic-button {
    display: block;
    max-width: 480px;
    margin: 0 auto;
  }
}
