@import 'src/scss/vars';
@import 'src/scss/mixins';

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 14px;

  &__line {
    width: 100%;
    height: 2px;

    background-color: #4b604fff;
    border-radius: 5px;

    transition: 0.3s ease-in-out;
    transition-property: opacity, transform;

    :host-context(html.dark) & {
      background-color: $rubic-primary;
    }
  }

  &_opened {
    .burger-menu__line {
      &:first-child {
        transform: translateY(6px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}

.data-list {
  padding: 0;

  &__option {
    justify-content: flex-start;
    height: 45px;
    min-height: initial !important;
    margin: 0;

    color: var(--form-bright-text-color);

    border: none;
    border-radius: 156px;

    transition: all 0.35s ease;

    &:hover {
      color: var(--main-green);

      background-color: var(--selection-color);
    }

    &:active {
      color: white;

      background-color: $rubic-primary;

      ::ng-deep {
        a:not(.new-btn):not(.btn):not(.minimal-btn):not(.rubic-btn) {
          color: var(--rubic-base-01);
          text-decoration: none;
        }
      }
    }

    &_disabled {
      color: rgba(#909090, 0.6);

      &:hover,
      &:active,
      &:focus {
        color: rgba(#909090, 0.6);

        background: transparent;

        border-color: transparent;

        cursor: default;
      }
    }

    &_logout {
      color: $rubic-text-error;
    }

    ::ng-deep {
      a:not(.new-btn):not(.btn):not(.minimal-btn):not(.rubic-btn) {
        color: var(--rubic-base-02);
        text-decoration: none;

        transition: 0.35s color ease;
      }
    }
  }

  &__option-image {
    width: 20px;
    height: 20px;
    margin-right: 15px;

    ::ng-deep svg {
      width: auto;
      height: 100%;

      path {
        fill: var(--rubic-base-02);
      }
    }
  }

  &__link {
    text-decoration: none !important;

    &_active {
      .data-list__option {
        color: $rubic-primary;

        &:active {
          color: var(--rubic-base-01);
        }
      }
    }
  }

  &__address {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    cursor: default;

    &:hover {
      background: transparent;
    }

    img {
      margin-right: 18px;
    }
  }

  tui-opt-group {
    margin: 0;
    padding: 6px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

tui-opt-group:not(:empty) ~ tui-opt-group {
  &::after {
    top: 0;

    background: rgba(225, 225, 225, 0.6);
  }

  &::before {
    display: none;
  }
}

.rubic-menu {
  &__chain-icon {
    width: auto;
    max-width: 18px;
    height: auto;
    margin-right: 5px;

    vertical-align: middle;
  }

  &__mobile {
    display: none;
  }

  &__login {
    margin: 0 auto;
  }
}

::ng-deep {
  .rubic-menu__bottom {
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
    align-items: center;
    padding: 10px 6px;

    border-top: 1px solid rgba(225, 225, 225, 0.6);

    [tuiButton] {
      height: 45px;

      font-size: 14px !important;
    }
  }
}

@include b($desktop) {
  .rubic-menu {
    &__mobile {
      display: block;
    }
  }
}
