@use 'src/scss/core' as *;

:host {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 999;

  display: block;

  @include iframe-horizontal {
    right: 20px;
  }
}

app-icon-button ::ng-deep button {
  width: 40px !important;
  height: 40px !important;

  @include light-iframe {
    svg path {
      fill: var(--primary-color);
    }
  }

  .t-wrapper {
    background: var(--primary-background);
  }

  svg {
    width: 19.8px;
    height: 19.8px;
  }
}
