<div class="modal">
  <div class="modal__content">
    <main class="modal__body">
      <img class="modal__success-image" src="assets/images/bridge/warning-image.svg" alt="Error" />
      <h3 class="modal__title">Rate changed</h3>
    </main>
    <footer class="modal__footer">
      <div class="modal__footer-text">
        <div>Current trade already unavailable. Need to recalculate it.</div>
      </div>

      <div class="modal__footer-actions">
        <button tuiButton appearance="outline" type="button" size="m" (click)="backToForm()">
          Back to form
        </button>
      </div>
    </footer>
  </div>
</div>
