@import '../../../../../../../scss/mixins';

$text-size: 14px;
$letter-spacing: 2px;
$mobile-size: 1024;
$primary-color: #4aa956;

.login-button {
  display: flex;
  align-items: center;
  height: 35px;
  margin-left: 10px;
  padding: 0 16px;

  color: $primary-color;

  background: transparent;
  border: 1px solid $primary-color;
  border-radius: 10px;
  cursor: pointer;

  @include b($mobile-size) {
    margin-right: 15px;
    margin-left: auto;
  }

  &__text {
    padding: 9px;
    padding-left: 0;

    font-weight: 700;
    font-size: $text-size;
    line-height: $text-size;
    letter-spacing: $letter-spacing;
  }
}
