@import '../../../../../../../scss/mixins';

$text-size: 14px;
$letter-spacing: 2px;
$mobile-size: 1024px;

.login-button {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 16px;

  @include b($mobile-size) {
    margin-left: auto;
    margin-right: 15px;
  }

  &__text {
    padding: 9px;
    font-size: $text-size;
    line-height: $text-size;
    padding-left: 0;
    font-weight: 700;
    letter-spacing: $letter-spacing;
  }
}