@import '../../../../scss/mixins';
@import '../../../../scss/elements/vars';

.countdown {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, minmax(45px, 120px));
  margin-top: 25px;

  &-item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20%;

    color: #4aa956;
    font-weight: bold;
    font-size: 44px;
    line-height: 51px;
    text-align: center;

    background-color: white;
    border-radius: 5px;

    @include b(700) {
      font-size: 25px;
    }

    @include b(450) {
      font-size: 20px;
    }

    &::after {
      position: absolute;
      bottom: -30px;

      color: white;
      font-weight: normal;
      font-size: 15px;
      line-height: 17px;
      text-align: center;

      content: attr(data-title);
    }
  }
}
