<div
  class="close"
  inlineSVG="assets/images/icons/crosshair.svg"
  (click)="context.completeWith(false)"
></div>
<div class="title">
  <ng-container *ngIf="beforeWithdraw; else claimTitle"> WITHDRAWAL </ng-container>
</div>
<div class="text">
  <div class="text__warn" *ngIf="beforeWithdraw">
    Please claim your rewards before proceeding to the withdrawal
  </div>
  {{
    rewards.lt(0.0001)
      ? '< 0.0001'
      : (rewards | bigNumberFormat | withRound : 'fixedValue' : { decimals: 4 })
  }}
  ETH
</div>
<ng-container *ngIf="needSwitchNetwork$ | async; else claim">
  <app-rubic-button appearance="primary" class="action-btn" (onClick)="switchNetwork()"
    >Switch to BSC network</app-rubic-button
  >
</ng-container>

<ng-template #claim>
  <app-rubic-button appearance="primary" class="action-btn" (onClick)="context.completeWith(true)">
    Claim
  </app-rubic-button>
</ng-template>

<ng-template #claimTitle>CLAIM REWARDS</ng-template>
