<div
  class="close"
  inlineSVG="assets/images/icons/crosshair.svg"
  (click)="context.completeWith(false)"
></div>
<div class="title">
  {{ 'staking.claimRewardsModal.title' | translate }}
</div>
<div class="text">
  {{
    rewards.gt(0.0001)
      ? (rewards | bigNumberFormat | withRound : 'fixedValue' : { decimals: 4 })
      : (rewards | bigNumberFormat | withRound : 'fixedValue' : { decimals: 10 })
  }}
  ETH
</div>
<ng-container *ngIf="needSwitchNetwork$ | async; else claim">
  <app-rubic-button appearance="primary" class="action-btn" (onClick)="switchNetwork()"
    >Switch to BSC network</app-rubic-button
  >
</ng-container>

<ng-template #claim>
  <app-rubic-button appearance="primary" class="action-btn" (onClick)="context.completeWith(true)">
    {{ 'staking.claimRewardsModal.claim' | translate }}
  </app-rubic-button>
</ng-template>
