@use 'src/scss/core' as *;

:host {
  position: relative;

  display: block;
  padding: 40px 0 10px;
}

.close {
  position: absolute;
  top: 0 !important;
  right: 5px !important;

  width: 12px;
  height: 12px;

  cursor: pointer;

  ::ng-deep svg path {
    stroke: #000;

    @include dark {
      stroke: #fff;
    }
  }
}

.title {
  @include font(24px, 29px, 600, var(--primary-text));
  margin-bottom: 26px;

  text-align: center;
}

.text {
  @include font(24px, 29px, 600,var(--secondary-text));
  margin: 0 auto 48px;

  color: var(--primary-color);

  text-align: center;

  &__warn {
    margin-bottom: 16px;
  }
}

.action-btn {
  display: block;
  max-width: 275px;
  margin: 0 auto;
}
