@use 'src/scss/core' as *;

.new-position {
  &__info {
    margin-bottom: var(--tui-padding-m);
    padding: var(--tui-padding-xl);

    background: var(--io-background);
    border-radius: var(--tui-radius-m);
  }
}

.title {
  @include font(15px, 15px, 400, var(--tui-text-01), 0.45px);
  margin-bottom: var(--tui-padding-m);

  text-align: center;

  @include b($mobile-md) {
    display: none;
  }
}

.text {
  @include font(15px, 18px, 400, var(--tui-text-03), 0.45px);
  margin: 0 auto;

  text-align: center;
}

.agree {
  display: block;
  width: 100%;
}

@media (min-width: 2560px) {
  .title {
    font-size: 20px;
    line-height: 20px;
  }

  .text {
    font-size: 20px;
    line-height: 20px;
  }

  .agree {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 3840px) {
  .title {
    font-size: 28px;
    line-height: 28px;
  }

  .text {
    font-size: 28px;
    line-height: 28px;
  }

  .agree {
    height: var(--tui-height-l);

    font-size: 28px;
    line-height: 28px;
  }
}
