@use 'src/scss/core' as *;

.new-position {
  &__info {
    margin-bottom: var(--tui-padding-m);
    padding: 21px 44px 16px;

    background: var(--io-background);
    border-radius: var(--tui-radius-m);
  }
}

.title {
  @include font(15px, 15px, 400, var(--tui-text-01), 0.45px);
  margin-bottom: var(--tui-padding-m);

  text-align: center;

  @include b($mobile-md) {
    display: none;
  }
}

.text {
  @include font(15px, 18px, 400, var(--tui-text-03), 0.45px);
  margin: 0 auto;

  text-align: center;
}

.agree {
  display: block;
  width: 100%;
}
