@use 'src/scss/core' as *;

:host {
  position: relative;

  display: block;
  padding: 40px 0 10px;
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 12px;
  height: 12px;

  cursor: pointer;

  @include b($mobile-md) {
    display: none;
  }

  ::ng-deep svg path {
    stroke: #000;
    
    @include dark {
      stroke: #fff;
    }
  }
}

.title {
  @include font(24px, 29px, 600, var(--primary-text));
  margin-bottom: 26px;

  text-align: center;
}

.text {
  @include font(20px, 29px, 600, var(--secondary-text));
  margin: 0 auto 48px;

  text-align: center;
}

.agree {
  display: block;
  max-width: 275px;
  margin: 0 auto;
}
