<div
  class="close"
  inlineSVG="assets/images/icons/crosshair.svg"
  (click)="context.completeWith(false)"
></div>
<div class="title">{{ 'staking.newPositionModal.title' | translate }}</div>
<div class="text">
  {{ amount | bigNumberFormat | withRound : 'fixedValue' : { decimals: 2 } }}
  {{ 'staking.stakeForm.hint.lockedRBCExpiresIn' | translate }} {{ duration }}
  {{ 'staking.common.months' | translate }}. <br />{{
    'staking.stakeForm.hint.lockedUntil' | translate
  }}
  {{ unlockDate | date : 'mediumDate' }}
</div>
<app-rubic-button appearance="primary" class="agree" (onClick)="context.completeWith(true)">{{
  'staking.newPositionModal.buttonText' | translate
}}</app-rubic-button>
