<div class="input-dropdown">
  <button
    class="input-dropdown__choose-button"
    type="button"
    [ngClass]="{
      'input-dropdown__choose-button_active': isOpenList && !chooseButtonDisabled,
      'input-dropdown__choose-button_with-text': !selectedComponentData,
      'input-dropdown__choose-button_disabled': chooseButtonDisabled
    }"
    (click)="toggleListOpen(true)"
    [disabled]="chooseButtonDisabled"
    #chooseButton
  >
    <span *ngIf="!selectedComponentData">
      {{ chooseComponentText | translate }}
    </span>

    <ndc-dynamic
      *ngIf="selectedComponentData"
      [ndcDynamicComponent]="componentClass"
      [ndcDynamicInputs]="selectedComponentData.inputs"
    ></ndc-dynamic>
  </button>

  <label class="input-dropdown__search-input-label">
    <input
      #searchInput
      class="input-dropdown__search-input"
      type="text"
      [placeholder]="inputDisabled ? 'Choose' : 'Search'"
      autocomplete="off"
      name="token"
      required
      [disabled]="inputDisabled"
      [style.width]="isOpenList ? (fullWidth || isMobile ? '100%' : '50%') : 0"
      [tabindex]="!isOpenList ? '-1' : ''"
      [ngModel]="inputDisabled ? '' : inputQuery"
      (ngModelChange)="searchComponent($event)"
      (blur)="toggleListOpen(false)"
    />
  </label>

  <span class="input-dropdown__close-button" (click)="clearSearch()">
    <img src="./assets/images/icons/cross.svg" alt="Close" />
  </span>

  <div
    *ngIf="isOpenList"
    class="input-dropdown__dropdown-components dropdown-components"
    [style.width]="fullWidth || isMobile ? '100%' : '50%'"
  >
    <ul
      *ngIf="visibleComponentsData.size && isOpenList"
      (mousedown)="$event.stopPropagation(); $event.preventDefault()"
      class="dropdown-components__list components-list"
    >
      <li
        class="components-list__item"
        *ngFor="let componentData of visibleComponentsData"
        [ngClass]="{
          'components-list__item_active':
            componentData.id === (selectedComponentData && selectedComponentData.id)
        }"
        (click)="selectComponent(componentData)"
      >
        <ndc-dynamic
          [ndcDynamicComponent]="componentClass"
          [ndcDynamicInputs]="componentData.inputs"
        ></ndc-dynamic>
      </li>
    </ul>
  </div>
</div>
