@import 'src/scss/mixins';
@import 'src/scss/vars';

.input-dropdown {
  &__choose-button {
    position: absolute;
    top: 50%;
    right: 8px;
    z-index: 2;

    margin-top: -21px;

    padding: 0;

    color: #43476c;
    font-size: 16px;

    font-family: inherit;
    line-height: 18px;
    letter-spacing: -0.43px;

    background: white;
    border: 2px solid #e5e5e5;
    border-radius: 0 4px 4px 0;

    cursor: pointer;

    &_with-text {
      padding: 10px 11px;
    }
  }

  &__search-input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    box-sizing: border-box;
    padding: 11px 10px 11px 22px;

    color: #110931;
    font-size: 18px;

    font-family: inherit;
    line-height: 30px;

    background: #f4f4f4;
    border: 1px solid white;
    opacity: 0;

    transition: all linear 0.2s;
  }

  &__choose-button_active + &__search-input-label &__search-input {
    z-index: 4;

    border-left: 1px solid #d8d8d8 !important;

    opacity: 1;
  }

  &__close-button {
    position: absolute;
    top: 50%;
    right: 25px;
    z-index: 4;

    width: 0;
    height: 30px;

    cursor: pointer;

    opacity: 0;

    transition: all linear 0.2s;

    img {
      width: 100%;
    }
  }

  &__choose-button_active ~ &__close-button {
    right: 10px;

    width: 30px;
    margin-top: -15px;

    background: #f4f4f4;
    opacity: 1;
  }

  &__dropdown-components {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 3;
  }

  .dropdown-components {
    &__list {
      max-height: 200px;
    }

    .components-list {
      margin: 0;

      padding: 0;
      overflow: auto;

      list-style-type: none;

      background-color: white;
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;

      &__item {

        color: black;

        border: 1px solid white;

        cursor: pointer;

        &:hover {
          background-color: #fffbcd;
        }

        &_active {
          background-color: #fffbcd;
          border-color: #dddab2;

          cursor: default;
        }
      }
    }
  }
}

@include b($desktop) {
  .input-dropdown__choose-button {
    &_with-text {
      font-size: 14px;
    }
  }
}

@include b($mobile-sm) {
  .input-dropdown__choose-button {
    &_with-text {
      font-size: 12px;
    }
  }
}
