<div class="my-trades">
  <div class="my-trades__header header">
    <div class="header__title">My trades</div>
    <app-rubic-button-circle
      (click)="refreshTable()"
      size="l"
      appearance="flat"
      hint="Reload"
      hintDirection="top-left"
    >
      <img
        class="header__refresh-circle"
        [ngClass]="{
          'header__refresh-circle_refreshing':
            loadingStatus === 'refreshing' || loadingStatus === 'stopped',
          'header__refresh-circle_stopped': loadingStatus === 'stopped'
        }"
        src="assets/images/icons/reload.svg"
        width="18"
        height="18"
        alt="Reload"
      />
    </app-rubic-button-circle>
  </div>

  <tui-loader [overlay]="true" [showLoader]="loading">
    <div class="my-trades__table-container table-container" *tuiLet="tableData$ | async as data">
      <div
        class="table-container__connect-wallet-container"
        *ngIf="loading === false && !walletAddress"
      >
        <app-rubic-button (onClick)="showConnectWalletModal()" [fullWidth]="true">
          Connect wallet
        </app-rubic-button>
      </div>

      <div
        class="table-container__no-trades-text"
        *ngIf="loading === false && walletAddress && !data.length"
      >
        You have no trades yet
      </div>

      <app-table
        [loading]="loading"
        [tableData$]="tableData$"
        (onReceivePolygonBridgeTrade)="receivePolygonBridgeTrade($event)"
      ></app-table>
    </div>
  </tui-loader>
</div>
