@import 'src/scss/vars';
@import 'src/scss/mixins';

.banner {
  position: relative;

  padding: 12px 20px 10px;

  color: $rubic-primary;
  font-weight: 500;
  font-size: $rubic-font-size-01;

  background-color: $rubic-base-08;
  border-radius: 0px 0px 20px 20px;

  &__content {
    padding: 0 250px;

    text-align: center;

    @include b($desktop) {
      padding-left: 0;

      text-align: left;
    }
  }

  &__image {
    margin-right: 8px;

    vertical-align: bottom;
  }

  &__link {
    position: absolute;
    top: 50%;
    right: 20px;

    color: $rubic-base-09 !important;

    transform: translateY(-50%);
  }
}

@include b($mobile-md) {
  .banner {
    &__content {
      margin-bottom: 5px;
      padding-right: 0;
    }

    &__link {
      position: static;
    }
  }
}
