<!-- TODO: (Taiga UI migration) tuiButton "whiteblock-active" appearance is no longer available. Use 'appearance="outline-grayscale" tuiAppearanceMode="checked"' -->
<tui-loader [showLoader]="loading" [overlay]="true">
  <!-- TODO: (Taiga UI migration) [shape] input has been removed. Please use border-radius css property for rounding borders https://taiga-ui.dev/components/button -->
  <button
    [tuiAppearanceState]="pseudoHovered ? 'hover' : null"
    tuiButton
    [shape]="'rounded'"
    type="button"
    [size]="size"
    [appearance]="appearance"
    [class.full-width]="_fullWidth"
    [disabled]="_disabled"
    [attr.bordered]="_border"
    (click)="buttonClick($event)"
    (tuiHoveredChange)="onHoveredChange.emit($event)"
  >
    <ng-content></ng-content>
  </button>
</tui-loader>
