@import 'src/styles';

$algb-1: #b41870;
$algb-2: #5d32ed;
$algb-3: #00cab2;
$algb-hover: #1a2c1b;
$algb-gradient: linear-gradient(131.68deg, rgba($algb-1, 0.6) -3.31%, rgba($algb-2, 0.6) 46.26%, rgba($algb-3, 0.6) 104.04%);

:host {
  --tui-height-l: 50px;
  --tui-height-s: 35px;
  --tui-primary: var(--rubic-base-01);
  --tui-primary-hover: var(--rubic-base-01);
  --tui-focus: transparent;
  --tui-primary-text: #{$rubic-text-color-main};

  // TODO: remove after replace algebra banner
  &.rubic-header__buy-rbc_algb {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      background: $algb-gradient;
      border-radius: 6.25rem;

      content: '';
    }

    ::ng-deep [data-tui-host-size='l'] {
      .wrapper {
        position: relative;

        color: white;

        background: transparent;
      }
    }

    [tuiButton] {
      &._hovered {
        border-color: transparent;

        &[data-tui-host-size='l'] {
          ::ng-deep .wrapper {
            background: $algb-hover;
          }
        }
      }

      &._focused:not(._pressed) {
        border-color: transparent !important;
      }

      &._pressed {
        background: $algb-hover;
        border-color: transparent;

        &[data-tui-host-size='l'] {
          ::ng-deep .wrapper {
            &[data-state='pressed'] {
              background: linear-gradient(131.68deg, rgba(180, 24, 112, 0.3) -3.31%, rgba(93, 50, 237, 0.24) 46.26%, rgba(0, 202, 178, 0.3) 104.04%);;
            }
          }
        }
      }
    }
  }

  [tuiButton] {
    --tui-link: var(--primary-color);
    font-weight: 500;
    font-size: $rubic-font-size-01;

    border: 1px solid transparent;

    transition: 0.3s;

    &.full-width {
      width: 100%;
    }

    &._hovered {
      --tui-secondary-hover: var(--rubic-base-01);
      --tui-primary-text: var(--primary-color);
      --tui-link-hover: var(--primary-color);

      background-color: var(--rubic-base-01);
      box-shadow: var(--rubic-shadow-button-hover-dim);
    }

    &._pressed {
      --tui-secondary-active: var(--primary-color);
      --tui-primary-active: var(--primary-color);
      --tui-primary-text: var(--rubic-base-01);
      --tui-text-01: var(--rubic-base-01);
      --tui-link: var(--rubic-base-01);

      background-color: var(--primary-color);
      box-shadow: var(--rubic-shadow-button-active);

      ::ng-deep img:not(.tokens__clear-icon) {
        filter: brightness(10);
      }
    }

    &._focused:not(&._pressed) {
      border-color: var(--primary-color);
    }

    &._focused::after {
      border: 0;
    }

    &._with-dropdown:focus {
      background-color: inherit;
    }

    &._disabled {
      border: 0;

      ::ng-deep tui-wrapper {
        color: rgba($rubic-text-disable, 0.7);

        background-color: var(--main-background);
        opacity: 1 !important;

        @include light-iframe {
          background-color: var(--rubic-base-14);
        }
      }
    }

    &[data-tui-host-size='l'] {
      ::ng-deep .wrapper {
        padding: 0 29px;
      }
    }

    &[data-tui-host-size='s'] {
      ::ng-deep .wrapper {
        padding: 0 15px;
      }
    }

    ::ng-deep img {
      transition: 0.3s;
    }

    &.full-width {
      width: 100%;
    }

    &[data-appearance='outline'] {
      font-weight: 500;

      border: 1px solid var(--primary-color);
    }

    &[data-appearance='secondary'] {
      border: 0;
    }
  }

  [tuiButton][bordered=true] {
    box-shadow: var(--rubic-shadow-button-hover);
  }


  ::ng-deep {
    tui-wrapper[data-appearance='secondary'] {
      color: white;

      background-color: var(--primary-color);

      &[data-state='hovered'] {
        box-shadow: var(--rubic-shadow-button-hover-dim);
      }

      &[data-state='pressed'] {
        color: var(--primary-color);

        background-color: var(--rubic-base-01) !important;
        box-shadow: var(--rubic-shadow-button-hover-dim);

        :host-context(html.dark) & {
          color: var(--rubic-base-02);
        }
      }

      &[data-state='disabled'] {
        color: rgba(white, 0.4);

        background-color: rgba(var(--primary-color) / 0.4);
        border: 0;
      }
    }

    tui-wrapper[data-appearance='outline']::after {
      display: none;
    }
  }
}

::ng-deep .loader {
  stroke: var(--primary-color) !important;
}

:host(.tokens__btn) {
  [tuiButton] {
    &[data-tui-host-size='s'] {
      ::ng-deep .tokens__clear {
        margin-right: -5px;
      }
    }
  }
}
