@import 'src/styles';

:host {
  --tui-height-l: 50px;
  --tui-height-s: 35px;
  --tui-primary: var(--rubic-base-01);
  --tui-primary-hover: var(--rubic-base-01);
  --tui-focus: transparent;
  --tui-primary-text: #{$rubic-text-color-main};

  &.button_buy-token {
    [tuiButton][data-appearance='outline'] {
      border: 1px solid $button-buy-token;

      &._pressed,
      &._hovered,
      &._focused:not(&._pressed) {
        background: rgba($button-buy-token, 0.3);

        border: 1px solid $button-buy-token;
      }

      &._pressed {
        ::ng-deep tui-wrapper[data-appearance='outline'] {
          color: white;
        }
      }
    }
  }

  [tuiButton] {
    --tui-link: var(--primary-color);
    font-weight: 500;
    font-size: $rubic-font-size-01;

    border: 1px solid transparent;

    transition: 0.3s;

    &.full-width {
      width: 100%;
    }

    &._hovered {
      --tui-secondary-hover: var(--rubic-base-01);
      --tui-primary-text: var(--primary-color);
      --tui-link-hover: var(--primary-color);

      background-color: var(--rubic-base-01);
      box-shadow: var(--rubic-shadow-button-hover-dim);
    }

    &._pressed {
      --tui-secondary-active: var(--primary-color);
      --tui-primary-active: var(--primary-color);
      --tui-primary-text: var(--rubic-base-01);
      --tui-text-01: var(--rubic-base-01);
      --tui-link: var(--rubic-base-01);

      background-color: var(--primary-color);
      box-shadow: var(--rubic-shadow-button-active);

      ::ng-deep img:not(.tokens__clear-icon) {
        filter: brightness(10);
      }
    }

    &._focused:not(&._pressed) {
      border-color: var(--primary-color);
    }

    &._focused::after {
      border: 0;
    }

    &._with-dropdown:focus {
      background-color: inherit;
    }

    &._disabled {
      border: 0;

      ::ng-deep tui-wrapper {
        color: rgba($rubic-text-disable, 0.7);

        background-color: var(--main-background);
        opacity: 1 !important;

        @include light-iframe {
          background-color: var(--rubic-base-14);
        }
      }
    }

    &[data-tui-host-size='l'] {
      ::ng-deep .wrapper {
        padding: 0 29px;
      }
    }

    &[data-tui-host-size='s'] {
      ::ng-deep .wrapper {
        padding: 0 15px;
      }
    }

    ::ng-deep img {
      transition: 0.3s;
    }

    &.full-width {
      width: 100%;
    }

    &[data-appearance='outline'] {
      font-weight: 500;

      border: 1px solid var(--primary-color);
    }

    &[data-appearance='secondary'] {
      border: 0;
    }
  }

  [tuiButton][bordered=true] {
    box-shadow: var(--rubic-shadow-button-hover);
  }


  ::ng-deep {
    tui-wrapper[data-appearance='secondary'] {
      color: white;

      background-color: var(--primary-color);

      &[data-state='hovered'] {
        box-shadow: var(--rubic-shadow-button-hover-dim);
      }

      &[data-state='pressed'] {
        color: var(--primary-color);

        background-color: var(--rubic-base-01) !important;
        box-shadow: var(--rubic-shadow-button-hover-dim);

        :host-context(html.dark) & {
          color: var(--rubic-base-02);
        }
      }

      &[data-state='disabled'] {
        color: rgba(white, 0.4);

        background-color: rgba(var(--primary-color) / 0.4);
        border: 0;
      }
    }

    tui-wrapper[data-appearance='outline']::after {
      display: none;
    }
  }
}

::ng-deep .loader {
  stroke: var(--primary-color) !important;
}

:host(.tokens__btn) {
  [tuiButton] {
    &[data-tui-host-size='s'] {
      ::ng-deep .tokens__clear {
        margin-right: -5px;
      }
    }
  }
}


