name: Update production server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy on production server
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Read .nvmrc
        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
        id: nvm

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'

      - name: Set up npm
        run: npm install

      - name: Set up sshpass and npm
        run: |
          sudo apt-get install sshpass
          npm install

      - name: Run build prod
        run: npm run build

      - name: Deploy on prod server
        run: sshpass -p ${{ secrets.PROD_SERVER_PASS }} rsync -e "ssh -o StrictHostKeyChecking=no" -rltzh -O --delete dist/rubic/ ${{ secrets.PROD_SERVER_USER }}@${{ secrets.PROD_SERVER_HOST }}:/var/www/rubic_exchange/frontend
