name: Check code quality before merge to develop

on:
  pull_request:
    branches:
      - develop

jobs:
  lint:
    name:  Check code base before merge to develop
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Read .nvmrc
        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
        id: nvm

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '${{ steps.nvm.outputs.NVMRC }}'

      - name: Set up npm
        run: npm install

      - name: Run lint
        run: npm run lint

      - name: Run lint css
        run: npm run lint-css

      - name: Run compile
        run: npm run compile

      - name: Run build
        run: npm run build
