<tui-scrollbar class="scrollbar">
  <ul *ngLet="faucets?.length ? faucets : fakeFaucets as faucetsData">
    <a *ngFor="let faucet of faucetsData" [href]="faucet.url" target="_blank">
      <li class="faucet">
        <ng-container *ngIf="loading; else image">
          <div
            class="faucet__token-image faucet__token-image_loading"
            [class.tui-skeleton]="loading"
          ></div>
        </ng-container>
        <ng-template #image>
          <img
            [class.tui-skeleton]="loading"
            [src]="faucet.token.icon_url"
            [alt]="faucet.token.symbol"
            class="faucet__token-image"
          />
        </ng-template>

        <div class="faucet__token-symbol">
          <span [class.tui-skeleton]="loading">{{ faucet.token.symbol }}</span>
        </div>
        <div class="faucet__token-name">
          <span [class.tui-skeleton]="loading">{{ faucet.name }}</span>
          <img
            class="faucet__token-name-link"
            src="assets/images/icons/arrow/link-arrow.svg"
            alt=""
          />
        </div>
      </li>
    </a>
  </ul>
</tui-scrollbar>
