.faucet {
  display: flex;
  align-items: center;
  padding: 10px 20px;

  color: var(--primary-text);

  border-radius: 20px;

  &__token-image {
    width: 30px;
    height: 30px;
    margin-right: 15px;

    &_loading {
      overflow: hidden;

      border-radius: 100%;
    }
  }

  &__token-symbol {
    display: flex;
    width: 100px;

    font-weight: 500;
    font-size: 12px;
  }

  &__token-name-link {
    margin-left: 3px;
  }
  
  &:hover {
    background: var(--tui-secondary);
  }
}

a:hover {
  text-decoration: none;
}
