<aside class="blockchain-aside">
  <tui-scrollbar class="blockchain-aside__scroll">
    <ul
      class="blockchain-aside__blockchains-list"
      [ngClass]="{ 'blockchain-aside__blockchains-list_clearfix': showClearFix }"
    >
      <li *ngFor="let blockchainName of blockchains" [id]="idPrefix + 'Network_' + blockchainName">
        <app-icon-button
          [icon]="blockchainIcon[blockchainName]"
          [disabled]="blockchain === blockchainName"
          [border]="blockchain === blockchainName"
          [borderRadiusPercent]="50"
          [label]="blockchainLabel[blockchainName]"
          (iconButtonClick)="onBlockchainSelect(blockchainName)"
        >
        </app-icon-button>
      </li>
    </ul>
  </tui-scrollbar>
</aside>
