@let depositFormState = depositFormState$ | async;
@let tradeId = tradeId$ | async;
@let formTitle = formTitle$ | async;
@let durationMs = durationMs$ | async;

<app-window-container class="deposit-form">
  <ng-container header>
    <div class="deposit-form__header">
      <app-back-button
        class="deposit-form__back-btn"
        [isMobile]="false"
        (onClick)="backToForm()"
      ></app-back-button>

      <span class="deposit-form__title">{{ formTitle }}</span>

      @if (tradeId && depositFormState !== 'COMPLETED') {
        <app-field-with-copy-btn
          [visibleText]="tradeId | shortAddress: 6 : 6"
          [textToCopy]="tradeId"
          [bgColor]="'var(--tui-background-base)'"
          [borderColor]="'var(--tui-background-base)'"
        ></app-field-with-copy-btn>
      }
    </div>
  </ng-container>

  <div class="deposit-form__main">
    @if (depositFormState === 'WAITING_FOR_SENDING_DEPOSIT') {
      <div class="deposit-form__timer">
        <app-timer
          [expiresAfterMs]="1_800_000"
          text="remaining"
          (timerCompleted)="handleTradeExpired()"
          (timerTicked)="handleTimeTick($event)"
        ></app-timer>
      </div>
    }

    <div class="deposit-form__body">
      @if (depositFormState === 'COMPLETED') {
        <app-deposit-form-body-success [durationMs]="durationMs"></app-deposit-form-body-success>
      } @else {
        <app-deposit-form-body-active></app-deposit-form-body-active>
      }
    </div>
  </div>
</app-window-container>
