@use 'src/scss/core' as *;

.banner {
  text-decoration: none;

  &:hover {
    .banner__text {
      text-decoration: underline;
    }
  }

  &__container {
    @include flex(row, center, center);
    gap: 24px;
    width: 100vw;
    height: 57px;
    max-height: 57px;
    overflow: hidden;

    background-image: url('/assets/banner/bg-testnet-promo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include hide-unused-ui {
      display: none;
    }

    @include b($mobile-md) {
      background-image: url('/assets/banner/bg-testnet-promo-mobile.jpg');
    }

    @include b(460) {
      gap: 10px;
      height: 49px;
    }
  }

  .banner__text {
    @include font(18px, 140%, 800, #ffffff);
    letter-spacing: 1px;

    @include b($mobile-md) {
      text-align: left;
    }

    @include b(460) {
      font-size: 12px;
    }
  }

  .banner__button {
    display: block;
    padding: 5px 10px;

    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    background: var(--tui-primary);
    border-radius: 8px;

    @include b(460) {
      font-size: 12px;
    }
  }
}
