@import 'src/styles';

.switcher {
  display: flex;
  box-sizing: content-box;
  width: 35px;
  height: 42px;
  padding: 0;

  background-color: var(--rubic-secondary);
  border-radius: 67px;

  cursor: pointer;

  @include iframe {
    height: 30px;

    background-color: unset;
  }

  img {
    margin: auto;
  }

  &__iframe-arrow {
    @include iframe-vertical {
      transform: rotate(90deg);
    }
  }
}
