@import 'src/scss/vars';

.switcher {
  display: flex;
  width: 35px;
  height: 42px;
  
  background-color: $rubic-secondary;
  border: 5px solid #fcfcfc;
  border-radius: 67px;

  cursor: pointer;
  box-sizing: content-box;

  img {
    margin: auto;
  }
}
