@import 'src/scss/vars';

.switcher {
  display: flex;
  width: 35px;
  height: 42px;
  
  background-color: $rubic-secondary;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 67px;

  cursor: pointer;

  img {
    margin: auto;
  }
}
