<ng-container
  *ngLet="{
    activePage: activePage$ | async,
    disabledPages: disabledPages$ | async,
  } as data"
>
  <div class="privacy-wrapper">
    <app-page-navigation
      [disabledPages]="data.disabledPages"
      [activePage]="data.activePage"
      [pages]="pages"
      (onSelect)="onPageSelect($event)"
    ></app-page-navigation>

    <div class="privacy-content">
      <app-zama-login-page *ngIf="data.activePage.type === 'login'"></app-zama-login-page>
      <app-zama-hide-tokens-page
        *ngIf="data.activePage.type === 'hide'"
      ></app-zama-hide-tokens-page>
      <app-zama-reveal-tokens-page
        *ngIf="data.activePage.type === 'reveal'"
      ></app-zama-reveal-tokens-page>
      <app-zama-transfer-tokens-page
        *ngIf="data.activePage.type === 'transfer'"
      ></app-zama-transfer-tokens-page>
    </div>
  </div>
</ng-container>
