.message-box-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(black, 0.32);

  .transaction-description {
    text-align: left;

    span {
      white-space: pre-wrap;
    }
  }
}
